*, :after, :before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

article, aside, footer, header, main, nav {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ul {
    margin-bottom: 1rem
}

ul {
    margin-top: 0
}

strong {
    font-weight: bolder
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #0056b3;
    text-decoration: underline
}

img {
    border-style: none
}

img, svg {
    vertical-align: middle
}

svg {
    overflow: hidden
}

select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

select {
    text-transform: none
}

select {
    word-wrap: normal
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

h1, h2, h3, h4 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 1.75rem
}

h4 {
    font-size: 1.5rem
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.custom-control-input.is-valid:focus:not(:checked) ~ .custom-control-label:before, .was-validated .custom-control-input:valid:focus:not(:checked) ~ .custom-control-label:before {
    border-color: #28a745
}

.custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label:before, .was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label:before {
    border-color: #dc3545
}

body {
    font-family: Noto Sans, sans-serif
}

body:before {
    content: "mobile";
    display: none
}

@media (min-width: 1040px) {
    body:before {
        content: "tablet"
    }
}

@media (min-width: 1200px) {
    body:before {
        content: "desktop"
    }
}

@media (max-width: 1040px) {
    body {
        padding-top: 4em
    }
}

.fed-cta__button {
    border: none;
    border-radius: .2em;
    color: #fff;
    font-weight: 600;
    padding: .8em 1.5em;
    text-align: center;
    text-decoration: none
}

.fed-cta__button:hover {
    text-decoration: none
}

.fed-cta__button {
    background-color: #2158cb
}

.fed-cta__button:hover {
    background-color: #1143ac;
    color: #fff
}

.fed-cta__button:disabled {
    background-color: #477ef1;
    cursor: not-allowed
}

.author-bio__image {
    border: 2px solid #fafafa;
    border-radius: 50% 50% 50% 50%;
    height: 30px;
    width: 30px
}

.main {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 1em
}

@media (max-width: 1040px) {
    .main {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.header {
    background-color: hsla(0, 0%, 100%, .96);
    border-bottom: 1px solid #e0e0e0;
    z-index: 9999
}

@media (max-width: 1040px) {
    .header--sticky {
        position: fixed;
        top: 0;
        width: 100%
    }
}

.header__cont {
    margin: 0 auto;
    width: 1032px
}

@media (max-width: 1040px) {
    .header__cont {
        padding: .5em;
        width: 100%
    }
}

.header__top {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: .5em
}

@media (max-width: 1040px) {
    .header__top {
        padding-top: 0
    }
}

.header__site-brand {
    padding: 1em 0
}

@media (max-width: 1040px) {
    .header__site-brand {
        padding: 0
    }
}

@media (max-width: 1040px) {
    .header__site-brand--desktop {
        display: none
    }
}

.header__site-brand-svg {
    height: 24px;
    width: 240px
}

@media (max-width: 1040px) {
    .header__site-brand-svg {
        width: 35px
    }
}

.header__nav {
    padding-top: 1.5em;
    position: relative
}

@media (max-width: 1040px) {
    .header__nav--desktop {
        display: none
    }
}

.header__nav-menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.header__nav-menu-link {
    color: #000;
    display: block;
    font-size: 1rem;
    padding: 1em 0
}

.header__nav-menu-link:hover {
    color: #000;
    text-decoration: none
}

.footer, .footer__follow-item, .footer__footer-flex, .footer__hon, .footer__icon, .footer__link-mobile-container, .footer__links-column {
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap
}

.footer__hon, .footer__link {
    color: #000;
    font-size: .88rem
}

.footer-cont {
    background-color: #fafafa;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 1.2em;
    padding-top: 1.5em
}

.footer {
    max-width: 1040px;
    font-size: .88rem;
    margin: 0 auto
}

@media (max-width: 1040px) {
    .footer--mobile {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column
    }
}

.footer__border {
    max-width: 1040px;
    margin: 0 auto;
    border-bottom: 2px solid #000;
    padding-bottom: 1em
}

@media (max-width: 1040px) {
    .footer__footer-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column
    }
}

.footer__about {
    padding-top: 1.5em;
    font-size: .9rem;
    width: 22em;
    margin-right: 4em
}

@media (max-width: 1040px) {
    .footer__about--desktop {
        display: none
    }
}

.footer__about--mobile {
    display: none
}

@media (max-width: 1040px) {
    .footer__about--mobile {
        display: -webkit-box;
        display: flex;
        width: 100%
    }
}

@media (max-width: 1040px) {
    .footer__link-mobile-container {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row
    }
}

.footer__link-container {
    margin-right: 4.17em
}

@media (max-width: 1040px) {
    .footer__link-container {
        margin-top: 2em;
        margin-right: 0
    }
}

.footer__link-title {
    font-size: 1.15rem;
    font-weight: 600
}

.footer__links-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.footer__link {
    width: 8em
}

@media (max-width: 1040px) {
    .footer__link {
        width: 10em
    }
}

.footer__link--col1, .footer__link--col3 {
    margin-bottom: 1.5em
}

@media (max-width: 1040px) {
    .footer__link--col1, .footer__link--col3 {
        margin-bottom: 1em
    }
}

.footer__link--col3 {
    margin-left: -.5em
}

@media (max-width: 1040px) {
    .footer__link--col3 {
        margin-left: 0
    }
}

.footer__follow-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding-bottom: 1em
}

.footer__icon {
    background-color: #000;
    color: #fff;
    width: 1.5em;
    height: 1.5em;
    font-size: .7rem;
    padding-bottom: 1.2em;
    padding-top: .4em;
    border-radius: .25em;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: 1em
}

.footer__icon:hover {
    background-color: #2864e2
}

.footer__copyright-text {
    margin-top: 1em;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    text-indent: 1em;
    color: #757575;
    font-size: .9rem
}

.footer__hon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 2em
}

.footer__hon-image {
    width: 34px;
    height: 50px
}

.social-bar {
    display: -webkit-box;
    display: flex;
    left: 0;
    position: fixed;
    top: 320px
}

.social-bar--vert-support {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

@media (max-width: 1040px) {
    .social-bar--horz-support {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row
    }
}

.social-bar--horz-support.social-bar--horz-body {
    display: none
}

@media (min-width: 1040px) {
    .social-bar--horz-support.social-bar--horz-body {
        display: -webkit-box;
        display: flex
    }
}

.social-bar--horz-support.social-bar--horz-bottom, .social-bar--horz-support.social-bar--horz-top {
    display: -webkit-box;
    display: flex
}

@media (min-width: 1040px) {
    .social-bar--horz-support.social-bar--horz-bottom, .social-bar--horz-support.social-bar--horz-top {
        visibility: hidden
    }
}

@media (max-width: 1040px) {
    .social-bar--mobile-support {
        margin: 1em 0;
        position: inherit
    }
}

.social-bar__item {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: inline-flex;
    height: 50px;
    -webkit-box-pack: center;
    justify-content: center;
    width: 50px
}

.social-bar__item:hover {
    text-decoration: none
}

.social-bar__item:after {
    content: "" !important
}

.social-bar__item--fb {
    background-color: #375495
}

.social-bar__item--tw {
    background-color: #00a5e8
}

.social-bar__item--pn {
    background-color: #d2533c
}

.social-bar__item--email {
    background-color: #16d43e
}

.social-bar__icon {
    color: #fff;
    font-size: 1.2rem
}

.hot-topics {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.hot-topics__title {
    border-bottom: 3px solid #2158cb;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: .3em
}

.hot-topics__item {
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: .8em 0
}

.hot-topics__item:last-child {
    border-bottom: none
}

@media (max-width: 1040px) {
    .hot-topics__item {
        -webkit-box-pack: justify;
        justify-content: space-between
    }
}

.hot-topics__item--left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-right: 1em
}

.hot-topics__item--left, .hot-topics__item--right {
    display: -webkit-box;
    display: flex
}

.hot-topics__eyebrow {
    color: #757575;
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: .5em;
    text-transform: uppercase
}

.hot-topics__eyebrow:hover {
    text-decoration: none
}

.hot-topics__header {
    font-size: 1.2rem
}

.hot-topics__link {
    color: #000;
    font-weight: 600
}

.hot-topics__link, .hot-topics__link:hover {
    text-decoration: none
}

.locales {
    background: none;
    border: none;
    color: #2158cb;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 600
}

.locales:focus {
    outline: none
}

.locales__locale {
    color: #000
}

.article__google-ad--mobile {
    display: none
}

@media (max-width: 1040px) {
    .article__google-ad--mobile {
        display: block;
        margin: 0 auto 2em
    }
}

.article__google-ad--300x250 {
    max-width: 300px;
    min-height: 250px
}

.fed-cta {
    background-color: #b2c9d9;
    margin: 1em 0;
    width: 100%
}

.fed-cta, .fed-cta__content {
    display: -webkit-box;
    display: flex
}

.fed-cta__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 1em
}

@media (min-width: 768px) {
    .fed-cta__content {
        padding-left: 2em
    }
}

.fed-cta__image {
    width: auto
}

@media (max-width: 768px) {
    .fed-cta__image {
        height: 140px
    }
}

.fed-cta__title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1em
}

@media (max-width: 768px) {
    .fed-cta__title {
        font-size: 1rem
    }
}

.fed-cta__button {
    background-color: #cb5d21;
    border-radius: 0;
    width: 90%
}

@media (max-width: 768px) {
    .fed-cta__button {
        font-size: .8rem;
        width: 100%
    }
}

.fed-cta__button:hover {
    background-color: #cb5d21
}

.article__tooltip-content {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: .5em;
    box-shadow: 0 8px 10px 2px #e0e0e0;
    display: none;
    font-size: .9rem;
    left: 50%;
    margin: 2em 0 0;
    padding: .9em;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    width: 16em;
    z-index: 2000
}

.article__tooltip {
    color: #000 !important;
    -webkit-text-decoration: underline #2158cb;
    text-decoration: underline #2158cb;
    z-index: 0
}

.article__tooltip:hover {
    color: #2158cb !important;
    -webkit-text-decoration: underline #2158cb !important;
    text-decoration: underline #2158cb !important
}

.article__tooltip-span {
    background-color: transparent;
    height: 100%;
    position: relative;
    width: 100%
}

.author-bio {
    border-bottom: 1px solid #e0e0e0;
    display: -webkit-box;
    display: flex;
    margin: 2em 0;
    padding-bottom: .8em
}

.author-bio__image {
    height: 90px;
    margin-right: 1.5em;
    width: 90px
}

.author-bio__name {
    font-size: 1.2rem;
    font-weight: 600
}

.author-bio__desc {
    font-size: 1.2rem
}

.author-bio__read-more:hover {
    text-decoration: none
}

@media (max-width: 1040px) {
    .article__top {
        flex-wrap: wrap
    }
}

.article {
    padding-top: 0
}

@media (max-width: 1040px) {
    .article {
        display: block
    }
}

@media (min-width: 1040px) {
    .article {
        padding-top: 3em
    }
}

.article__content a {
    color: #2158cb
}

.article__content a:hover {
    text-decoration: none
}

.article__content h2 {
    font-weight: 600
}

.article__header {
    font-size: 2.2rem;
    font-weight: 600
}

.article__image {
    margin-bottom: 1em;
    width: 100%
}

.article__external-link:after {
    content: "\F08E";
    font: normal normal normal 14px/1 FontAwesome;
    padding-left: .2em
}

.article__image-caption {
    margin: 0 auto;
    max-width: 330px
}

@media (min-width: 900px) {
    .article__image-caption {
        float: right;
        margin: 1em 0 0 1em
    }
}

.article__image-caption a {
    font-size: .9rem
}

.article__image-caption img {
    min-width: 330px;
    max-width: 100%;
    width: 100%
}

@media (min-width: 768px) {
    .article__image-caption img {
        width: auto
    }
}

.article__date-updated {
    font-style: italic;
    margin: 2em 0
}

.article__aside {
    max-width: 330px;
    margin-left: 1.5em;
    padding-top: 4em
}

@media (max-width: 1040px) {
    .article__aside {
        margin-left: 0;
        padding-top: 0;
        width: 100%;
        max-width: 100%;
    }
}

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");

.medium-zoom-image {
    cursor: pointer;
    cursor: zoom-in;
    transition: transform .3s cubic-bezier(.2, 0, .2, 1) !important
}

#onetrust-pc-sdk [type="checkbox"]:not(:checked) {
    pointer-events: initial
}

#onetrust-pc-sdk ul li input[type=checkbox]:not(:checked) ~ .accordion-text {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    transition: .25s ease-out
}

#onetrust-pc-sdk .category-switch-handler:not(:checked) {
    position: initial;
    pointer-events: initial
}

.comment-block {
    padding: 10px;
    width: 100%;
    margin-top: 30px;
}

.comment-block span {
    color: #000000;
}

.comment-header {
    border-bottom: 2px solid #e7e9ee;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.comment-heading {
    font-size: 1.5rem;
    color: #000;
}

.comment-heading:after {
    content: "";
    display: block;
    height: 2px;
    width: 120px;
    background-color: #2a2e2e;
    position: absolute;
    bottom: -2px;
}

.comment {
    display: flex;
    margin: 20px 0;
}

.comment-answer {
    margin-left: 60px;
}

.avatar {
    margin-right: 12px;
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 3px;
    background-color: lightgrey;
}

.avatar img {
    display: block;
    width: 100%;
    height: 100%;
}

.comment-date {
    color: grey;
    font-family: Arial;
    font-size: .8rem;
    text-decoration: none;
}

.comment-circle {
    display: inline-block;
    background-color: lightgrey;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 5px;
    position: relative;
    top: 2px;
}

.comment-name {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.comment-text p {
    margin: 0;
}

.comment .comment-content .comm-img {
    display: block;
    width: 40%;
    margin: 10px 0;
}

.article__content a.order {
    display: block;
    text-align: center;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 305px;
    text-transform: uppercase;
    text-decoration: none;
}

.main-content {
    max-width: 677px;
}

.svg-inline--fa {
    width: 20px;
    height: 20px;
}

.svg-inline--fa path {
    fill: #ffffff
}

table {
    margin: 16px 0;
    width: 100%;
    table-layout: fixed;
}

table,
td {
    border: 1px solid #979797;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

td p {
    text-align: center;
}

.table-img {
    display: block;
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
}

.text-small {
    font-size: 13px;
}

.product-post {
    max-width: 500px;
    width: 100%;
    display: block;
    margin: 16px auto;
}

table ul {
    list-style: none;
    padding: 0;
}


.order-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.order-form h2 {
    text-align: center;
    display: block;
    max-width: 390px;
    width: 100%;
    font-size: 20px;
}

.order-form p {
    margin: 0;
    max-width: 390px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
}

select, input, .order-formBtn {
    max-width: 390px;
    width: 100%;
    display: block;
    margin: 0px 0 20px;
    border: 1px solid #808080;
    border-radius: 40px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 15px;
}

.order-formBtn {
    background: linear-gradient(to right, #43c947, #1ddad1);
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    text-align: center;
}

.counter-minutes,
.counter-seconds {
    color: #000;
    text-decoration: none;
}

@media screen and (max-width: 480px){
    td {
        padding: 5px;
        font-size: 14px;
    }

    td:first-child {
        display: none;
    }

    .order-form h2 {
        font-size: 20px;
    }
}