
<section class="section section_why">
    <div class="container">
        <div class="why">
            <div class="section__subtitle why__subtitle" data-aos="fade-up">5 причин попробовать</div>
            <div class="section__title why__title" data-aos="fade-up">intenskin</div>
            <div class="why__body">
                <div class="why__item">
                    <div class="why__count">– 1.</div>
                    <div class="why__item-title">Удобство использования</div>
                    <div class="why__item-description">Наносите крем утром и вечером массажными движениями до полного впитывания.</div>
                </div>
                <div class="why__item">
                    <div class="why__count">– 2.</div>
                    <div class="why__item-title">Универсальность</div>
                    <div class="why__item-description">Крем борется со всеми признаками старения кожи.</div>
                </div>
                <div class="why__item">
                    <div class="why__count">– 3.</div>
                    <div class="why__item-title">Длительный эффект</div>
                    <div class="why__item-description">Крем останавливает процессы старения и обладает накопительным эффектом.</div>
                </div>
                <div class="why__item">
                    <div class="why__count">– 4.</div>
                    <div class="why__item-title">Экономичность</div>
                    <div class="why__item-description">На одно применение хватает маленькой порции крема.</div>
                </div>
                <div class="why__item">
                    <div class="why__count">– 5.</div>
                    <div class="why__item-title">Быстрое действие</div>
                    <div class="why__item-description">Первые изменения можно увидеть уже через 1 неделю. Для достижения максимального результата рекомендуется минимальный курс от 30 дней (в зависимости от индивидуальных особенностей кожи).</div>
                </div>
            </div>
        </div>
    </div>
</section>
