* {
	margin: 0;
	padding: 0;
	line-height: 1.2em;
}

html {
	width: 100%;
}

a {
	text-decoration: none!important;
	color: #77e;
}

input:active,a:active {
	outline: none;
}

:focus {
	outline: none;
}

a img {
	border: 0;
}

body {
	width: 100%;
	font-family: Arial,sans-serif;
	background: #fff repeat;
}

#wraper {
	max-width: 1260px;
	margin: 0 auto;
	padding: 5px 18px 0;
	background: #fff repeat;
}

#contentWraper {
	display: inline-block;
	width: 100%;
	min-height: 1800px;
}

footer {
	height: 90px;
	background: #649cbf repeat;
	text-align: center;
	min-width: 1208px;
}

footer div {
	display: inline-block;
	text-align: left;
	color: #fff;
	margin-top: 20px;
}

footer #disclamer {
	font-size: 10pt;
	width: 590px;
}

footer #disclamer img {
	float: left;
	margin: 3px 15px;
	vertical-align: middle;
}

footer #mail {
	width: 230px;
	font-size: 10pt;
	margin-left: 90px;
}

footer #ageRestriction {
	font-size: 25pt;
	padding: 10px 5px;
	vertical-align: top;
	margin-left: 60px;
	font-family: Arial,sans-serif;
}

#text {
	vertical-align: top;
	display: inline-block;
	margin-right: 0;
	text-align: center;
}

#news span.date {
	display: inline-block;
	font-size: 11pt;
	color: gray;
}

#news.article #image img {
	width: 600px;
	height: auto;
	max-width: 480px;
}

#news.article #image {
	text-align: center;
}

#news span::first-letter {
	text-transform: uppercase;
}

#news #autor {
	display: inline-block;
	text-transform: none;
	font-size: 16px;
	line-height: 20px;
	font-style: italic;
	margin-top: 20px;
}

#news p {
	font-size: 16px;
	line-height: 20px;
	margin: 20px 0;
}

#cnt p:nth-child(1) {
	color: #000;
	font-size: 16px;
	line-height: 22px!important;
}

#cnt strong {
	line-height: 20px!important;
}

#news p a {
	color: #69c;
	line-height: 20px!important;
}

#news p a:visited {
	color: #36c;
}

#news p a:active {
	color: #6cf;
}

#news ul {
	padding-left: 40px;
	margin: 10px 0;
}

blockquote.CitationItalic {
	font-family: pt serif;
	font-weight: 700;
	text-align: center;
	font-size: 25px!important;
	line-height: 30px!important;
}

.c2-2 {
	color: red;
}

.text-comment {
	margin: 15px 0;
}

#news p {
	text-align: justify;
}

img {
	max-width: 100%;
}

.comment {
	text-align: left;
}

.comment p {
	text-align: justify;
}

#news span.date {
	display: block;
	text-align: left!important;
}

#news p {
	text-align: justify;
}

.comment {
	text-align: justify;
	padding-left: 50px;
}

.comment p {
	text-align: justify;
}

.comment div {
	border: 1px solid #60a5d4;
	margin: 30px 0!important;
	padding: 5px;
	border-radius: 5px;
}

.one {
	width: 95%;
	margin-left: 50px;
}

.main-link {
	display: block;
	margin: 20px auto;
	max-width: 300px;
	padding: 20px 5px;
	font-size: 16px;
	text-decoration: none;
	background-color: #de0606;
	text-align: center;
	color: #fff!important;
	border-radius: 4px;
}

.main-link:hover {
	opacity: .8;
}

.main-link-bottom {
	max-width: 400px;
}

@media screen and (max-width:1270px) {
	.one {
		padding-left: 50px;
		width: 105%;
		margin: 0;
	}

	#wraper {
		min-width: 240px;
		max-width: 964px;
	}

	footer {
		min-width: 240px;
	}

	#cnt p {
		text-align: justify;
	}

	footer #disclamer {
		width: 500px;
	}

	.one {
		width: 93%;
	}
}

@media screen and (max-width:1000px) {
	.one {
		padding-left: 0;
		width: 100%;
	}

	#news span.date {
		margin-top: 25px;
	}

	#news p {
		line-height: 17px;
		margin: 10px 0;
	}

	.comment {
		padding: 0;
		width: 100%;
	}

	#text {
		padding-bottom: 20px;
	}

	body {
		background: #fff repeat!important;
	}

	footer {
		display: none;
	}

	#text,#contentWraper {
		width: 100%;
	}

	#align {
		width: 90%;
		padding: 0 5%;
	}

	#news span,#news div,#news p {
		width: 100%;
	}

	#news.article #image {
		width: 100%;
	}

	div {
		padding: 0;
	}

	#wraper {
		overflow: hidden;
		padding: 0 5px;
		width: 92%;
		margin: 0 auto;
	}

	#news.article #image img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	#text {
		margin: 0;
	}

	#align {
		width: 100%;
		padding: 0;
	}

	#news span.date {
		text-align: center!important;
	}
}

@media screen and (max-width:640px) {
	#news.article #image img {
		width: 100%;
	}
}

@media screen and (max-width:479px) {
	#news span,#news div,#news p {
		font-size: 17px!important;
		line-height: 19px!important;
	}
}

@media screen and (max-width:320px) {
	body {
		background: #fff repeat!important;
	}

	#wraper {
		padding: 0;
	}

	#align {
		width: 98%;
		padding: 0 1%;
	}

	.comment div {
		width: 93%;
		margin: 10px 1%!important;
	}
}

input, select {
	display: block;
	margin: 0 auto;
	padding-left: 10px;
	width: 100%;
	height: 40px;
	border: 2px solid grey;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

form {
	display: block;
	margin: 0 auto;
	text-align: center;
}

button {
	border: none;
	cursor: pointer;
}

@media all and (max-width:480px) {
	input {
		width: 100%;
	}
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0;
	border: 1px solid transparent;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-collapse {
	padding-right: 15px;
	padding-left: 15px;
	overflow-x: visible;
	-webkit-overflow-scrolling: touch;
	border-top: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px rgba(255,255,255,.1);
}

@media(min-width:768px) {
	.navbar {
		border-radius: 4px;
	}

	.navbar-header {
		float: left;
	}

	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.navbar-collapse.collapse {
		display: block!important;
		height: auto!important;
		padding-bottom: 0;
		overflow: visible!important;
	}

	.navbar-fixed-top .navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
}

@media(max-width:480px) and (orientation:landscape) {
	.navbar-fixed-top .navbar-collapse {
		max-height: 200px;
	}
}

.container>.navbar-collapse,.container>.navbar-header {
	margin-right: -15px;
	margin-left: -15px;
}

.navbar-fixed-top {
	position: static;
	right: 0;
	left: 0;
	z-index: 1030;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	top: 0;
	border-width: 0 0 1px;
}

@media(min-width:768px) {
	.container>.navbar-collapse,.container>.navbar-header {
		margin-right: 0;
		margin-left: 0;
	}

	.navbar-fixed-top {
		border-radius: 0;
	}
}

.navbar-nav {
	margin: 7.5px -15px;
}

@media(min-width:768px) {
	.navbar-nav {
		float: left;
		margin: 0;
	}

	.navbar-nav>a {
		float: left;
		text-decoration: none;
		color: inherit;
	}

	.navbar-nav.navbar-right:last-child {
		margin-top: 15px;
	}

	.navbar-right {
		float: right!important;
	}
}

.navbar-default {
	background-color: #405827;
	background-image: url(../images/head-bg.png);
	border-color: #e7e7e7;
	background-position: 0 -81px;
}

.navbar-default .navbar-collapse {
	border-color: #e7e7e7;
}

.navbar-default .navbar-nav>a>li>span {
	color: #2f7771;
	background-color: #fff;
	text-transform: uppercase;
	background-color: #fff;
	padding: 14px 15px;
	font-size: 13px;
	height: 35px;
	margin-top: 10px;
	margin-left: 5px;
	font-weight: 600;
	-webkit-transition: color .1s linear;
	transition: color .1s linear;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.title-section {
	margin-top: 0;
	min-height: 45px;
	padding: 3px 0;
	background-color: #0f2827!important;
}

.title-section h4 {
	color: #fff;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

@media screen and (max-width:1200px) {
	.navbar-nav.navbar-right:last-child {
		display: none!important;
	}
}

.navbar-header {
	padding-left: 10px;
}

.navbar-collapse {
	border: none;
}

.advetorial {
	padding: 20px 0;
	text-align: center;
	padding-bottom: 0;
}

@media screen and (max-width:773px) {
	.footer2 {
		line-height: 2.25;
	}
}

@media all {
	* {
		box-sizing: border-box;
	}

	div,form,img,span {
		margin: 0;
		padding: 0;
		border: 0;
		font-family: inherit;
		font-style: inherit;
		font-weight: inherit;
		line-height: inherit;
		font-size-adjust: inherit;
		font-stretch: inherit;
		font-feature-settings: inherit;
		font-language-override: inherit;
		font-kerning: inherit;
		font-synthesis: inherit;
		font-variant: inherit;
		font-size: 100%;
		vertical-align: baseline;
	}

	img {
		max-width: 100%;
	}

	::-moz-selection {
		background: #000 repeat;
		color: #fff;
		text-shadow: none;
	}

	img {
		vertical-align: middle;
	}

	* {
		max-height: 1e6px;
	}

	.ord_button {
		cursor: pointer;
		background-color: #003767;
		color: #fff!important;
		display: inline-block;
		padding: 10px 30px;
		font-size: 19px!important;
		box-shadow: 2px 3px 8px #999;
		text-decoration: none!important;
		border-radius: 8px;
		border: 3px solid #fff;
		line-height: 27px;
		text-transform: uppercase;
		transition: all .3s ease-in 0;
	}

	.ord_button:hover {
		background-color: #772133;
		box-shadow: 2px 3px 3px #999;
		text-decoration: none!important;
	}
}

@media screen and (max-width:560px) {
	.ord_button {
		font-size: 20px!important;
	}
}

@media screen and (max-width:479px) {
	.ord_button {
		font-size: 20px!important;
	}
}

.form-wrap {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.form {
	max-width: 350px;
	width: 100%;
	padding: 10px;
	border: 1px solid grey;
}

.form__input {
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
}

.price {
	display: flex;
	align-items: center;
	justify-content: center;
}

.price__item {
	text-align: center;
	padding: 0 10px;
}

.price {
	margin-bottom: 15px;
}

.price__name {
	margin-bottom: 5px;
}

.form__btn {
	width: 100%;
}

.form__prod {
	max-width: 170px; /*300*/
}

@media screen and (min-width:640px) {
	.form__prod {
		margin-right: 70px; /*20*/
		margin-bottom: 0!important;
	}

	.form-wrap {
		flex-direction: row;
	}
}

.price__name--new {
	color: red;
}

.price__item--new {
	color: red;
}

.x_price_current,.x_price_previous {
	font-size: 32px!important;
	line-height: 1.2;
	position: relative;
}

@media(max-width:326px) {
	.comment p {
		font-size: 14px;
	}
}

@media(max-width:592px) {
	.ord_button {
		font-size: 14px!important;
	}
}

@media(max-width:479px) {
	blockquote.CitationItalic {
		line-height: 19px!important;
	}
}

/*Out*/
.link-block {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center
}

.link {
	position: fixed;
	width: 90%;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	bottom: 20px;
	color: #fff;
	background-color: red;
	padding: 20px 0;
	border-radius: 10px;
	font-weight: 900;
	box-shadow: 0 0 8px 1px #6e6e6e;
	z-index: 2
}
	
.link:hover {
	box-shadow: none;
	transition: 1s
}

img[src*="stabx.net/track_js"] {
	position: absolute;
	bottom: 300px
}

@media screen and (min-width:596px) {
    .textarea {
        width: 700px
    }
}
                    
@media screen and (max-width:595px) {
    .textarea {
        width: 100%
    }
}