/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
	section.blogger{
		min-height: 746px;
	 	background: #000 url(../images/blogger-bg.png) no-repeat center;
		-webkit-background-size: contain;
		background-size: contain;
	}
	.header{
		width: auto;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1250px) {
	.header{
		
		padding-top: 105px;
	}
	.header-txt{
		font-size: 35px;
		line-height: 45px;
	}

	.old-price{
		margin-bottom: 15px;
	}
	.header-img{
		margin-left: -36px;
	}
	.consist-item{
		max-width: 310px;
		height: 220px;
	}
	section.consist{
		padding-bottom: 70px;
	}
	section.blogger{
		min-height: 716px;
	}
	
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.choise-item-good,
	.choise-item-bad{
		margin-left:40px;
	}
	section.blogger{
		min-height: 746px;
	 	background: #000 url(../images/blogger-bg.png) no-repeat center;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.navigation {
    	margin-left: 50px;
	}
	.timer-header{
		margin-right: 0px;
	}
	.steps-item:last-child{
		width: 245px;
	}


}
@media only screen and (max-width : 1040px) {
	.navigation{
		margin-left: 0;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.header{
		padding-top: 135px;
	}
	.howuse-item{
		margin: 55px 0;
	}
	.howuse-txt,
	.attention_txt{
		text-align: center;
	}
	.attention_img{
		float: none;
		display: block;
		margin: 0 auto 25px;
	}
	.steps-item{
		text-align: center;
		width: auto;
	}
	.steps-item1{
		background:url(../images/operator.png) no-repeat center top;
	}
	.steps-item2{
		background:url(../images/delivery-truck.png) no-repeat center top;
	}
	.steps-item3{
		background:url(../images/anonim.png) no-repeat center top;
	}
	.steps-item4{
		background:url(../images/lock.png) no-repeat center top;
	}
	.steps-title{
		line-height: 35px;
		margin-bottom: 75px;
	}
	.libido-block-txt:before{
		left: 38px;

	}
	.libido-block-txt{
		padding: 35px 0 0 90px;
	}
	.choise-item-good,
	.choise-item-bad{
		margin-left:0;
		text-align: center;
	}
	.choise-item-txt{
		text-align: left;
	}
	.choise-item-txt-item{
		margin: 0 auto;
		max-width: 320px;
		padding-left: 45px;
	}
	.choise-item-good{
		margin-bottom: 50px;
	}
	.choise-item-txt-item::before{
		left:0;
	}
	.choise-title{
		margin-bottom: 5px;
	}
	section.consist{
		background-image: none;

	}
	.consist-title{
		margin-bottom: 50px;
	}
	.consist-item{
		margin: 25px auto;
	}
	.response .slick-dots li.slick-active{
		background:#F1911D !important;
	}
	.navigation{
		margin-left: 0px;
	}
	.form{
		margin-top: 0;
		float:right;
	}
	.header-txt {
	    position: relative;
	    top: -46px;
	}
	.header-img1{
		display: none;
	}
	.header-img2{
		display: block;
	}
	.header-img-wrap{
		position: relative;
		top: 35px;
	}
	.consist-item{
		max-width: 410px;
		height: 180px;
	}
	.btn-fix-wrap{
		position: fixed;
		height: 62px;
		width: 100%;
		background: #0D0D0D;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9999;
	}
	.btn-block{
			display: block !important;
			position: fixed;
			bottom:11px;
			left:0;
			right:0;
			margin: 0 auto;
			z-index: 999999;
		}
	.libido-sm{
		padding: 40px 0 0 !important;
	}
	.footer-img-wrap {
    	margin-top: 30px;
	}
	.block_1{
		float: right;
    	margin-right: 11px;
		margin-bottom: 15px;
	}
	.consist-item-txt{
		padding-right: 0;
	}
	 	.header-txt{
		font-size: 23px;
		line-height: 37px;
		}
	.old-price{
		font-size: 23px;
		margin-bottom: 5px;
	}
	.new-price{
		font-size: 47px;
	}
	.price-block {
		margin-top: 20px;
	} 
	.old-price::after, .old-price::before{
		width: 52px;
		bottom:47%;
	}
	.timer-header{
		display: none;
	}
	.btn-fix-wrap{
		-webkit-transform:translateY(100%);
		transform: translateY(100%);
	}
	.steps-item:last-child{
		width: auto;
	}


}
/* Small Devices, Tablets */
@media only screen and (max-width : 912px) {
	.header-img-wrap {
	    margin-left: -45px;
	}
}
@media only screen and (max-width : 796px) {
	.header-txt{
		font-size: 20px;
	}
	.logo-block{
		padding: 12px 22px;
	}
}
@media only screen and (max-width : 832px) {
	.header-txt{
		margin-left:-65px;
	}
}
@media only screen and (max-width : 640px) {
	.header-img-wrap {
   		 margin-left: 0% !important;
	}
	.header-txt{
		font-size: 20px !important;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px ) {
	.howuse-txt{
		padding: 0;
	}
	.libido-block {
    	margin-bottom: 50px;
	}
	.libido-block-txt{
		margin: 0 auto;
		width: 150px;
		padding: 35px 0 0 40px;
	}
	.libido-block-txt::before {
    	left: -12px;
	}
	.libido-section-title{
		line-height: 35px;
	}
	.choise-item-txt-item::before{
		left: 0;
	}
	section.blogger{
		background: #000 url(../images/blogger-bg-xs.png) no-repeat -500px 20px;
	}
	.menu{
		display: none;
		position: absolute;
		background:#0D0D0D;
		top:60px;
		left:0;
		right:0;
		text-align: center;
		z-index: 9999999;
	}

	.logo-block{
		float:right;
	}
	.fa-bars{
		display: block;
		margin-top: 13px;
	}
	.navigation{
		margin-left:20px;
	}
	.menu_item{
		display: block;
		padding: 15px 0;
	}
	.header-txt{
		font-size: 23px;
		line-height: 37px;
	}
	.old-price{
		font-size: 23px;
		margin-bottom: 5px;
	}
	.new-price{
		font-size: 47px;
	}
	.price-block {
	    margin-top: 20px;
	}
	.header-img-wrap {
   		 margin-left: 20%;
	}
	.form{
		margin: 70px auto;
		float: none !important;
	}
	.footer-form{
		margin-top: 0;
	}
	.header{
		padding:100px 0 0 0;
	}
	.block_1{
		float:none;
		margin: 80px auto 20px;
	}
	footer.header{
		padding-top: 0 !important;
	}
	.sm-center{
		margin: 0 auto !important;
	}

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 495px) {
	.header-img-wrap{
		margin-left:-4% !important;
	}
}
@media only screen and (max-width : 480px) {
	.libido-section-title{
		padding: 40px 0 30px;
		line-height: 35px;
	}
	.choise-item-title{
		font-size: 18px;
	}
	.choise-item-txt-item{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 8px;
	}
	.consist-item{
		width: auto;
		min-height: 180px;
		text-align: center;
		padding: 20px 0 0 0;
	}
	section.blogger{
		background: #000 url(../images/blogger-bg-xs.png) no-repeat -750px 20px;
	}
	.blogger-btn {
	    margin: 0 auto 50px;
	}
	.header{
		padding:60px 0 0 0;
		min-height: 275px;
	}
	.form-lg,
	.header-txt-main,
	.header-img2,
	.header-txt-main{
		display: none;
	}
	.header-img3{
		display: block;
		margin-left: -3%;
		margin-top: -50px;
	}
	.header-txt-sm{
		display: block;
		font-size: 18px;
		line-height: 26px;
		text-transform: uppercase;
		color:#f7941d;
		font-weight: bold;
		padding-top:20px;
		margin-left:15%;
	}
	.logo-block{
		padding: 12px 7px;
	}
	.form-section-xs{
		display: block;
		padding-bottom:0px;
	}
	.choise-item-txt-item::before{
		top:8px;
	}
	footer{
		padding: 15px 0 30px !important;
	}
	.block-lg{
		display: none;
	}
	.block-sm{
		margin:40px auto 0;
	}
	.footer-txt-sm{
		padding-top: 50px;
	}
	.footer-img-wrap {
    	margin-top: 7px !important;
	}
	.header-img-wrap {
    	margin-left: -9% !important;
	}
	.header-txt-sm {
    	margin-left: 12%;
	}
	.header{
		background: url(../images/Gif_02.gif) no-repeat center;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.btn-fix-wrap{
		-webkit-transform:translateY(100%);
		transform: translateY(100%);
	}
	section.consist{
		padding-top: 40px;
	}
	section.attention{
		padding:50px 0;
	}
	.steps-title{
		margin-bottom: 35px;
	}
	section.steps{
		padding-bottom:0px;
	}
	section.consist{
		padding-bottom: 40px;
	}
	.consist-item{
		margin:15px auto;
	}
	.libido-sm {
    	padding: 35px 0 0 !important;
	}
	.title-response{
		padding-top:20px;
	}
	.howuse-item{
		margin:35px 0;
	}
	.choise-title{
		margin-bottom: 5px;
		padding-top: 50px;
	}
	.choise-item:first-child{
		margin-top: 30px;
	}
	.blogger-title{
		padding: 55px 0 30px;
	}
	.footer-txt-sm {
    	padding-top: 65px;
	}






}
/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {
	.steps-item{
		padding: 65px 0 0;
	}
	.p0{
		padding:0 !important;
	}
	.comment-item{
		width: 280px;
		border-left:1px solid #000;
		border-right:1px solid #000;
	}
	.header-img3{
		margin-left: -11%;
	}
	.header-txt {
   		 margin-left: -84px;
	}
	.price-block{
		position: relative;
		top: -30px;
	}
	.old-price{
		font-size: 20px;
	}
	.new-price{
		font-size: 30px;
	}
	.old-price::after, .old-price::before{
		width: 47px;
		bottom: 50%;
	}
	.consist-title{
		margin-bottom: 0;
	}


}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

		
		
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	 	.menu{
	display:block!important;
	
		} 
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}