.contact-form
    width: 304px
    display: block
    height: 523px
    background: #ffffff
    padding: 25px
.contact-form.horizontal-form
    width: 600px
    height: 280px

.contact-form-title
    text-align: center
    font-size: 16px
    padding-bottom: 20px
    color: #6d6d6d

.contact-form.horizontal-form .contact-form-title
    font-size: 21px

.contact-form-timer
    background: #7ab42a
    text-align: center
    color: #ffffff
    padding: 5px 15px
    border-radius: 14px
.contact-form-prices
    display: flex
    justify-content: space-between
    align-items: center
    padding: 15px 0 30px 0
.main-p span, .old-p span
    color: #6d6d6d
    font-size: 16px
.price_main span
    font-size: 38px
    font-weight: 700
    color: #d80000
.price_old
    margin-top: 10px
    position: relative
    &:after
        content: ''
        width: 100px
        height: 2px
        display: block
        background: #d80000
        position: absolute
        transform: rotate(10deg)
        top: 20px


.price_old span
    font-size: 32px


.order_form
    display: block
    & label
        display: block
        width: 100%
    & input
        display: block
        width: 100%
        height: 42px
        border: 1px solid #000
        padding-left: 45px
        border-radius: 5px
    & select
        display: block
        width: 100%
        height: 42px
        border: 1px solid #000
        padding-left: 45px
        background: url("../img/icon3.png")no-repeat 10px center
        border-radius: 5px
.send-button
    background: #d80000
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    width: 100%
    color: #ffffff
    margin: 20px auto 0
    font-weight: 700
    font-size: 32px
    height: 74px
    border: 0
    border-radius: 10px
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.27)
    transition: all ease-in .3s
    &:hover
        box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.47)
        transition: all ease-in .3s
.input-name
    background: url("../img/icon1.png")no-repeat 10px center
.input-form
    background: url("../img/icon2.png")no-repeat 10px center



