@font-face {
    font-family: 'Muller Regular';
    src: url('../fonts/MullerRegular.eot');
    src: url('../fonts/MullerRegular.eot') format('embedded-opentype'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff'),
    url('../fonts/MullerRegular.ttf') format('truetype'),
    url('../fonts/MullerRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller Bold';
    src: url('../fonts/MullerBold.eot');
    src: url('../fonts/MullerBold.eot') format('embedded-opentype'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff'),
    url('../fonts/MullerBold.ttf') format('truetype'),
    url('../fonts/MullerBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller ExtraBold';
    src: url('../fonts/MullerExtraBold.eot');
    src: url('../fonts/MullerExtraBold.eot') format('embedded-opentype'),
    url('../fonts/MullerExtraBold.woff2') format('woff2'),
    url('../fonts/MullerExtraBold.woff') format('woff'),
    url('../fonts/MullerExtraBold.ttf') format('truetype'),
    url('../fonts/MullerExtraBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vetren';
    src: url('../fonts/Vetren.eot');
    src: url('../fonts/Vetren.eot') format('embedded-opentype'),
    url('../fonts/Vetren.woff2') format('woff2'),
    url('../fonts/Vetren.woff') format('woff'),
    url('../fonts/Vetren.ttf') format('truetype'),
    url('../fonts/Vetren.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/Roboto-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller Medium';
    src: url('../fonts/MullerMedium.eot');
    src: url('../fonts/MullerMedium.eot') format('embedded-opentype'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff'),
    url('../fonts/MullerMedium.ttf') format('truetype'),
    url('../fonts/MullerMedium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

img {
    max-width: 100%;
}

* {
    outline: none !important;
}

a, button {
    cursor: pointer;
}

body {
    font-family: 'Muller Regular';
    padding-bottom: 0;
    font-size: 16px;
}

.row {
    margin: 0 -15px;
}

.row > * {
    padding: 0 15px;
}

header {
    padding: 35px 0;
}

.container {
    padding: 0 15px;
}

h1 {
    font-family: 'Muller Bold';
    font-size: 70px;
    color: #3f3222;
}

.top-section {
    background: url("../images/bg.jpg") no-repeat top center;
}

.top-l {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 570px;
}

.video {
    position: relative;
    top: -45px;
}

a.play {
    position: absolute;
    top: calc(50% - 57px);
    left: calc(50% - 57px);
}

.top-l p {
    color: #000;
    font-size: 30px;
    line-height: 130%;
}

.top-l p span {
    font-family: 'Muller Bold';
}

.discount-top-section {
    padding: 140px 0;
    overflow: hidden;
}

.discount-top-l h3 {
    font-size: 30px;
}

.discount-top-l h3 > span {
    font-family: 'Muller Bold';
    font-size: 65px;
    display: block;
    text-transform: uppercase;
    margin-top: 12px;
}

.discount-top-l {
    width: calc(100% + 4px);
}

.discount-top-l p {
    font-size: 21px;
}

.timer-block {
    width: 82px;
    height: 95px;
    font-family: 'Muller Medium';
    border-radius: 4px;
    background: #d4704d;
    color: #fff;
    text-align: center;
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    position: relative;
}

.timer-block span:nth-child(3) {
    font-size: 20px;
    display: block;
    width: 100%;
}

.timer-wrapper {
    display: flex;
}

span.position {
    height: 30px;
}

.timer-block:not(:last-child) {
    margin-right: 21px;
}

.timer-block:not(:last-child):after {
    position: absolute;
    right: -13px;
    top: 34px;
    width: 7px;
    height: 23px;
    background: url(../images/points.png);
    content: "";
    display: block;
}

.discount-top-l .timer-wrapper {
    justify-content: flex-end;
}

.discount-top-c p {
    font-family: 'Muller Medium';
    text-align: center;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
}

.input-tm {
    font-family: 'Muller Medium';
    font-size: 16px;
    text-align: center;
    text-align-last: center;
    padding: 15px;
    border: 1px solid #d4704d;
    border-radius: 4px;
    color: #000;
}

.discount-top-c .brown-button, .discount-top-c .input-tm {
    width: 220px;
    max-width: 100%;
    margin: 0 auto 25px auto;
    display: table;
}

.brown-button {
    font-family: 'Muller Medium';
    border-radius: 4px;
    font-size: 18px;
    transition: 0.6s;
    padding: 15px;
    color: #fff;
    background: #d4704d;
    border: 0;
}

.brown-button:hover {
    background: #b55d3e;
    transition: 0.6s;
}

.price-block > span {
    font-family: 'Muller Bold';
    font-size: 20px;
    color: #d4704d;
    margin-right: 20px;
    line-height: normal;
    margin-bottom: 4px;
}

.price-block {
    display: flex;
    align-items: flex-end;
}

.price {
    color: #d4704d;
    font-family: 'Muller Bold';
    font-size: 40px;
    line-height: normal;
}

.price > span > span {
    color: #767777;
    font-size: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto 5px auto;
    width: fit-content;
}

.price > span img {
    margin-left: 12px;
}

.price > span > span {
    position: relative;
}

.price > span > span:after {
    position: absolute;
    top: 9px;
    transform: rotate(
            -15deg
    );
    width: 126%;
    background: #131313;
    height: 1px;
    content: "";
    display: block;
    left: -9px;
}

.price > img {
    position: relative;
    top: -5px;
}

.discount-top-r > img {
    max-width: none;
    position: relative;
    left: -85px;
}

.discount-top-r {
    padding-top: 23px;: hidden;
}

.h2-tm {
    text-align: center;
    font-family: 'Muller Medium';
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 75px;

}

.effect-block {
    border-radius: 5px;
    height: 152px;
    padding: 10px 130px 10px 19px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 9%);
    margin-bottom: 60px;
}

.effect-block p {
    font-family: 'Muller Medium';
    font-size: 18px;
    margin-bottom: 0;
}

.effect-block p span {
    font-family: 'Muller ExtraBold';
}

.effect-block-1 {
    background: url("../images/advantage-1.png") no-repeat top right, #fff;
}

.effect-block-2 {
    background: url("../images/advantage-2.png") no-repeat top right, #fff;
}

.effect-block-3 {
    background: url("../images/advantage-3.png") no-repeat top right, #fff;
}

.effect-block-4 {
    background: url("../images/advantage-4.png") no-repeat top right, #fff;
}

.effect-block-5 {
    background: url("../images/advantage-5.png") no-repeat top right, #fff;
}

.effect-block-6 {
    background: url("../images/advantage-6.png") no-repeat top right, #fff;
}

.effect-section {
    overflow: hidden;
    padding-bottom: 90px;
}

.effect-section .row {
    margin: 0 -30px;
}

.effect-section .row > * {
    padding: 0 30px;
}

.how-works-l {
    width: calc(50% - 215px);
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.how-works-l img {
    max-width: none;
}

.how-works-r {
    width: calc(50% + 215px);
    padding: 65px 25px 0 75px;
    background: #d4704d;
}

.how-works-r-int {
    max-width: 815px;
}

.how-works-r .h2-tm {
    color: #fff;
    text-align: left;
    margin-bottom: 35px;
}

.how-works-r p {
    font-size: 20px;
    color: #fff;
}

.how-works-r p span {
    font-family: 'Muller ExtraBold';

}

.how-works-section {
    display: flex;
    margin-bottom: 140px;
}

.reviews-slider-wrapper {
    padding: 0 44px;
}

.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span {
    display: none;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
    background: url("../images/arrow-slider.png") !important;
    width: 36px;
    height: 36px;
    margin: 0;
    position: absolute;
    top: calc(50% - 18px)
}

.owl-carousel .owl-nav button.owl-prev {
    left: -45px;
}

.owl-carousel .owl-nav button.owl-next {
    right: -45px;
    transform: rotate(180deg);
}

.review-photo-block img {
    border-radius: 4px;
}

.owl-theme .owl-nav {
    margin: 0;
}

.photo-section {
    padding-bottom: 170px;
}

.order-section {
    height: 224px;
    background: url("../images/bg-2.jpg") no-repeat top center;
    margin-bottom: 150px;
}

.order-wrapper {
    max-width: 730px;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;
}

.order-l p {
    font-family: 'Muller Medium';
    padding-right: 107px;
    font-size: 25px;
    color: #fff;
    margin: 0;
}

.order-l p span:nth-child(1) {
    font-family: 'Muller Bold';
    font-size: 35px;
}

.order-l p span:nth-child(2) {
    font-family: 'Muller Bold';
    font-size: 25px;
}

.order-r {
    flex-shrink: 0;
}

.brown-2-button {
    font-family: 'Muller Medium';
    padding: 15px 22px;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    background: #3f3222;
    border: 0;
    transition: 0.6s;
}

.brown-2-button:hover {
    transition: 0.6s;
    background: #755c3d;
}

.order-section .container {
    height: 100%;
}

.facts-section .h2-tm {
    margin-bottom: 65px;
}

.fact-block img {
    border-radius: 5px 5px 0 0;
}

.fact-block-bottom {
    padding: 30px 20px;
    background: #d4704d;
    border-radius: 0 0 5px 5px;
    color: #fff;
    flex-grow: 1;
}

.fact-block h3 {
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'Muller ExtraBold';
}

.fact-block p {
    font-size: 16px;
}

.facts-section .row {
    margin: 0 -8px;
}

.facts-section .row > * {
    padding: 0 8px;
}

.fact-block {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.facts-section {
    padding-bottom: 135px;
}

.way-section .h2-tm {
    margin-bottom: 20px;
}

.p-tm {
    font-size: 20px;
    max-width: 750px;
    margin: 0 auto 75px auto;
    text-align: center;
}

.p-tm span {
    color: #3f3222;
    font-family: 'Muller ExtraBold';

}

.way-block h3 {
    font-family: 'Muller Bold';
    color: #3f3222;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.way-block p {
    text-align: center;
}

.way-wrapper {
    margin-bottom: 35px;
}

.discount-bottom-section .discount-top-r > img {
    position: static;
}

.discount-bottom-section .discount-top-c {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 55px;
}

.discount-bottom-section .timer-block:not(:last-child) {
    margin-right: 55px;
}

.discount-bottom-section .timer-block:not(:last-child):after {
    right: -30px;
}

.discount-bottom-section .discount-top-c .brown-button {
    margin-top: 40px;
}

.p-tm2 {
    font-size: 20px;
}

.p-tm2 span {
    font-family: 'Muller ExtraBold';
    text-transform: uppercase;
}

.way-section {
    padding-bottom: 40px;
}

.discount-bottom-section {
    padding-bottom: 90px;
}

.thanks-section .h2-tm {
    margin-bottom: 85px;
}

.thanks-block-l {
    width: 123px;
    margin-right: 50px;
    flex-shrink: 0;
}

.thanks-block {
    display: flex;
    margin-bottom: 40px;
}

.thanks-block h3 {
    font-size: 16px;
    text-align: center;
}

.thanks-block p {
    font-size: 20px;
}

.thanks-block-r {
    padding-top: 20px;
}

.thanks-block-l img {
    margin-bottom: 15px;
}

.girl {
    margin-top: 65px;
}

.thanks-section {
    padding-bottom: 100px;
}

.results-section .h2-tm {
    margin-bottom: 25px;
}

p.result-p {
    text-align: center;
    font-family: 'Muller Medium';
    margin-bottom: 150px;
    font-size: 20px;
}

p.result-p span {
    font-family: 'Muller ExtraBold';
    color: #3f3222;
}

.chart-wrapper {
    position: relative;
    margin: 0 auto 120px auto;
    width: fit-content;
}

.result-span {
    font-family: 'Muller Medium';
    position: absolute;
    font-size: 16px;
}

.result-span span {
    width: 11px;
    height: 11px;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.result-span-1 {
    max-width: 267px;
    text-align: right;
    left: -315px;
    top: 70px;
}



.result-span-2 {
    max-width: 220px;
    top: -60px;
    left: -98px;
}

.result-span-3 {
    max-width: 170px;
    right: -150px;
    top: -30px;
}

.result-span-4 {
    max-width: 230px;
    top: 90px;
    right: -273px;
}

.result-span-5 {
    max-width: 140px;
    bottom: -65px;
    left: 150px;
    width: 140px;
}

.result-span-1 span {
    background: #c345c0;
    right: -27px;
    top: 19px;
}

.result-span-2 span {
    background: #0087f8;
    right: -25px;
    top: 20px;
}

.result-span-3 span {
    background: #ff403a;
    left: -27px;
    top: 19px;
}

.result-span-4 span {
    background: #ffb500;
    top: 17px;
    left: -25px;
}

.result-span-5 span {
    background: #009f53;
    left: -25px;
    top: 18px;
}


.chart p {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.results-top {
    padding-bottom: 70px;
}

.results-bottom {
    max-width: 1045px;
    margin: auto;
    border-top: 3px solid #303030;
    border-bottom: 3px solid #303030;
    padding: 40px 0 30px 0;
}

.results-bottom p {
    font-family: 'Vetren';
    font-size: 40px;
    text-align: center;
    line-height: normal;
}

.results-bottom p span {
    text-transform: uppercase;
    font-weight: bold;
}

.results-section {
    padding-bottom: 130px;
    background: url("../images/bg-3.png") no-repeat top center;
}

.h2-tm span {
    font-family: 'Muller ExtraBold';
    color: #3f3222;
}


.bottom-wrapper .row {
    margin: 0 -30px;
}
.bottom-wrapper .row>* {
    padding: 0 30px;
}

.bottom-block {
    box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    height: 100%;
}

.bottom-block-top img {
    display: block;
    margin-left: auto;
}


.bottom-block-bottom {
    padding: 30px 40px 25px 40px;
}

.bottom-block h3 {
    margin-bottom: 8px;
    font-family: 'Muller Bold';
    font-size: 18px;
    line-height: 140%;
    height: 50px;
    display: flex;
    align-items: center;
}

.bottom-block p {
    font-size: 15px;
}

.bottom-wrapper {
    padding-bottom: 150px;
}

.bottom-section {
    padding-bottom: 40px;
    overflow: hidden;
}


footer {
    background: #d4704d;
    color: #fff;
}

.footer-l {
    background: #dab298;
    max-width: 425px;
    margin: -80px auto;
    height: calc(100% + 160px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-l img {
    max-width: none;
    margin-top: 50px;
    margin-right: 100px;
}

.footer-r {
    padding: 45px 0 70px 0;
    max-width: 549px;
}

.footer-r h3 {
    font-size: 40px;
    margin-bottom: 5px;
}

.footer-r p {
    font-size: 18px;
    margin-bottom: 30px;
}

.input-tm-2 {
    padding: 15px 35px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    background: #ab5f41;
    border:0;
    width: 100%;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px
}


.input-tm-2::placeholder {
    color: #fff;
}
.input-tm-2::-webkit-input-placeholder {color:#fff;}
.input-tm-2::-moz-placeholder {color:#fff;}
.input-tm-2t:-moz-placeholder {color:#fff;}
.input-tm-2:-ms-input-placeholder {color:#fff;}


.footer-r .row {
    margin: 0 -8px;
}

.footer-r .row>* {
    padding: 0 8px;
}

.checkbox-tm {
    position: relative;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: 15px 0 20px 0;
}

.checkbox-tm input {
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
}

.checkbox-tm span {
    background: url("../images/checkbox.png");
    width: 13px;
    height: 13px;
    margin-right: 14px;
    display: block;
    flex-shrink: 0;
}

.checkbox-tm input:checked~ span {
    background: url("../images/checkbox-active.png");
}


.footer-r .brown-2-button {
    padding: 15px 38px;
}

.form-tm-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 50px;
}

.form-tm-bottom .price, .form-tm-bottom  .price-block > span, .form-tm-bottom  .price-block .n-price {
    color: #fff;
}

.form-tm-bottom .price .o-price {
    color: #E8D2CC;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1199px) {
    .price {
        font-size: 38px;
    }

    .effect-section .row {
         margin: 0 -15px;
     }

    .effect-section .row>* {
         padding: 0 15px;
     }
    .fact-block-bottom {
        padding: 20px 15px;
    }
    .discount-top-r > img {
        max-width: 100%;
        left: 0;
    }
    .footer-l img {
        max-width: 100%;
        margin-right: 0;
    }







}


@media screen and (max-width: 991px) {
    h1 {
        font-size: 48px;
    }

    .top-l p {
        font-size: 20px;
    }

    .discount-top-section .price-block {
        display: block;
    }
    .price-block > span {
        margin-bottom: 20px;
        display: block;
    }

    .discount-top-l h3 > span {
        font-size: 37px;
    }
    .how-works-section {
        display: block;
    }
    .how-works-l {
        width: auto;
        justify-content: flex-start;
    }



    .how-works-l img {
        width: 100%;
    }
    .how-works-r {
        width: auto;
        padding: 30px 25px;
        background: #d4704d;
    }
    .order-l p {
        padding-right: 60px;
    }

    .fact-block {
        margin-bottom: 30px;
        height: calc(100% - 30px);
    }
    .fact-block img {
        border-radius: 8px 8px 0 0;
    }
    .discount-bottom-section .timer-block:not(:last-child) {
        margin-right: 28px;
    }
    .discount-bottom-section .timer-block:not(:last-child):after {
        right: -18px;
    }
    .result-span-1 {
        max-width: 200px;
        left: -236px;
    }

    .result-span-4 {
        max-width: 197px;
        right: -235px;
    }
    .bottom-block-bottom {
        padding: 30px 14px 25px 15px;
    }
    .bottom-wrapper .row {
        margin: 0 -15px;
    }
    .bottom-wrapper .row>* {
        padding: 0 15px;
    }
    .bottom-block h3 {
        height: auto;
    }
    .form-tm-bottom {
        display: block;
    }
    .footer-r .brown-2-button {
        margin-bottom: 30px;
    }

    .footer-l {
        margin: -40px auto;
        height: calc(100% + 80px);
    }




}



@media screen and (max-width: 767px) {
    a.logo {
        display: table;
        margin: 22px auto 80px auto;
    }

    .video {
        top: -40px;
        width: 260px;
        margin: auto;
    }

    .top-section .row {
        flex-flow: column-reverse;
    }
    h1 {
        font-size: 40px;
        text-align: center;
    }
    .top-r {
        margin-bottom: -5px;
    }

    .top-l p {
        text-align: center;
    }
    .top-l {
        height: auto;
        max-width: 100%;
        padding-bottom: 60px;
    }

    .top-section {
        background-size: cover;
    }

    .discount-top-section {
        padding: 55px 0 30px 0;
    }

    .discount-top-l h3 {
        font-size: 20px;
        text-align: center;
    }
    .discount-top-l h3 > span {
        font-size: 44px;

    }
    .discount-top-l p {
        font-size: 20px;
        text-align: center;
    }

    .discount-top-l .timer-wrapper {
        justify-content: center;
        margin: 25px 0;
    }
    .discount-top-section .price-block {
        display: flex;
        width: fit-content;
        margin: auto;
    }

    .price-block > span {
        margin-bottom: 6px;
    }
    .discount-top-r {
        padding-top: 0;
    }
    .discount-top-r > img {
        margin: auto;
        display: block;
    }

    .h2-tm {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .effect-block {
        margin-bottom: 20px;
    }
    .effect-section {
        padding-bottom: 45px;
    }
    .how-works-r {
        padding: 35px 20px 20px 20px;
    }
    .how-works-r p {
        font-size: 16px;
    }

    .how-works-r .h2-tm {
        margin-bottom: 25px;
    }
    .how-works-section {
        margin-bottom: 65px;
    }
    .photo-section .h2-tm {
        font-size: 16px;
    }
    .reviews-slider {
        display: block;
    }
    .reviews-slider .item {
        display: none;

    }
    .reviews-slider .item:nth-child(-n+3) {
        display: block;
    }
    .review-photo-block {
        width: 325px;
        margin: auto;
        margin-bottom: 20px;
    }
    .photo-section {
        padding-bottom: 60px;
    }

    .order-wrapper {
        max-width: 100%;
        margin: auto;
        display: block;
        height: auto;
        align-items: center;
        text-align: center;
    }
    .order-section {
        padding: 40px 0 45px 0;
        background-size: cover;
        height: auto;
        margin-bottom: 75px;
    }
    .container {
        max-width: 100%;
    }
    .order-l {
        margin-bottom: 25px;
    }
    .order-l p {
        padding-right: 0;
    }
    .facts-section .h2-tm {
        margin-bottom: 25px;
    }

    .fact-block {
        height: auto;
        max-width: 290px;
        margin: 0 auto 20px auto;
    }

    .facts-section {
        padding-bottom: 40px;
    }
    .p-tm {
        margin: 0 auto 30px auto;
    }

    .way-block h3 {
        margin-bottom: 0;
    }
    .way-wrapper {
        margin-bottom: 10px;
    }
    .p-tm2 {
        font-size: 16px;
    }
    .way-section {
        padding-bottom: 10px;
    }

    .discount-bottom-section .discount-top-c {
        padding-top: 20px;
    }
    .discount-bottom-section {
        padding-bottom: 45px;
    }

    .thanks-section .h2-tm {
        margin-bottom: 20px;
    }
    .thanks-block {
        display: block;
        margin-bottom: 5px;
    }
    .thanks-block-l {
        margin: auto;
    }
    .thanks-block-l img {
        margin-bottom: 10px;
    }
    .thanks-block-r {
        padding-top: 10px;
    }
    .thanks-block p {
        font-size: 16px;
    }

    .girl {
        display: none;
    }
    .thanks-section {
        padding-bottom: 45px;
    }
    .results-section .h2-tm {
        margin-bottom: 15px;
    }
    .result-span {
        font-size: 16px;
        position: relative;
        max-width: 100%!important;
        margin: 0;
        width: 100%!important;
        display: block;
        margin-bottom: 20px;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        padding-left: 25px;
        text-align: left;
    }
    .result-span span {
        width: 11px;
        height: 11px;
        display: block;
        position: absolute;
        border-radius: 50%;
        left: 0;
        top: 5px!important;
    }

    .chart-wrapper {
        width: auto;
        margin-bottom: 35px;
    }
    p.result-p {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .img-chart {
        display: block;
        margin: 35px auto 0 auto;
    }
    .results-top {
        padding-bottom: 25px;
    }
    .chart p {
        font-size: 14px;
    }
    .results-bottom p {
        font-size: 20px;
        line-height: 150%;
    }
    .results-bottom {
        max-width: calc(100% + 30px);
        margin: 0 -15px;
        padding: 30px 15px 10px 15px;
    }

    .results-section {
        padding-bottom: 60px;
    }
    .bottom-section .h2-tm {
        margin-bottom: 45px;
    }
    .bottom-block-bottom {
        padding: 35px 25px 5px 25px;
    }

    .bottom-block {
        margin-bottom: 18px;
        height: auto;
    }

    .bottom-wrapper {
        padding-bottom: 60px;
    }
    .bottom-section h3.h2-tm {
        margin-bottom: 15px;
    }


    .footer-l {
        margin: -117px auto 0 auto;
        width: 190px;
        height: auto;
        padding: 30px 0 20px 0;
    }

    .footer-l img {
        max-width: 260px;
        margin: 0;
    }
    .bottom-section {
        padding-bottom: 110px;
    }
    .footer-r h3 {
        font-size: 20px;
        text-align: center;
    }
    .footer-r p {
        font-size: 14px;
        margin-bottom: 15px;
        text-align: center;
    }
    .footer-r {
        padding: 45px 0 70px 0;
        max-width: 246px;
        margin: auto;
    }
    .input-tm-2 {
        padding: 17px 20px;
        width: 100%;
        margin-bottom: 8px;
        text-align: center;
    }

    .checkbox-tm {
        font-size: 13px;
        margin: 5px 0 25px 0;
    }

    .form-tm-bottom {
        padding-right: 0;
        display: flex;
        flex-flow: column-reverse;
    }

    .footer-r .brown-2-button {
        display: table;
        margin-right: auto;
        margin-left: auto;
    }

    .form-tm-bottom .price-block {
        margin: 0 auto 30px auto;
    }

    .reviews-slider-wrapper {
        padding: 0;
    }
    .review-photo-block {
        max-width: 100%;
    }
}
.footer {
    text-align: center;
    padding: 15px 0;
}
.footer rekv, .footer a {
    color: inherit;
    font-size: 14px!important;
}

@media screen and (min-width: 768px) {
    .footer {
        padding-top: 80px;
    }
}
