
body, .body-fauxcolumn-outer {
font-family: 'Delius', cursive;
font-size: 16px;
color: #3D3C3C;
background: #ffffff url(#) repeat scroll top left;
background-attachment: fixed;
}
html body .region-inner {
min-width: 0;
max-width: 100%;
width: auto;
}
body .navbar{
display: none;
}
.content-outer {
font-size: 100%;
}
.burger {
  display: none;
}
.attribution_elperrodepapel{
text-align: center;
color: #E0A2AA;
letter-spacing: 2px;
text-transform: uppercase;
font: normal normal 18px 'Berkshire Swash', cursive;
font-size: 15px;
width: 100%;
margin: 0px 0px 0px 0px;
font-style: bold;
background-color: #ffffff;
height: 30px;
background-position:center;
margin-left: -27px;
}
.attribution_elperrodepapel:hover{
color: #E0A2AA !important;
}
a:link {
text-decoration:none;
color: #E0A2AA;
}
a:visited {
text-decoration:none;
color: #E0A2AA;
}
a:hover {
text-decoration:underline;
color: #B0B0B0;
}
.content-fauxborder-left{
padding: 0 15px;
background: url(#) repeat-y left;
}
.content-fauxborder-right{
background: url(#) repeat-y right;
width: 26px;
}
.content-cap-top{
background: url(#) no-repeat;
margin: 0px 0px 0px 0px;
height: -20px;
background-position: center;
}
.content-outer {
width: 100%;
background-color: #ffffff;
margin-bottom: 1px;
}
.content-inner {
padding: 10px 10px;
}
.content-inner {
background-color: #ffffff;
}
/* Header
----------------------------------------------- */
.header-outer {
background: none no-repeat top;
_background-image: none;
min_height: 300px;
margin-top: -120px;
margin-bottom: 40px;
}
.Header h1 {
font: normal normal 50px 'Berkshire Swash', cursive;
color: #E0A2AA;
width: 90%;
position: absolute;
text-align: center;
top: 180px;
right: 40px;
}
.Header h1 a {
color: #E0A2AA;
}
.Header .description {
font: normal normal 18px 'Delius Swash Caps', cursive;
color: #b0b0b0;
width: 70%;
position: absolute;
top: 250px;
left: 0px;
text-align: center;
}
#header-inner{
position: relative;
background:url(../img/header_silver.png) no-repeat;
background-position: center;
margin-top: -50px;
height: 300px;
}
.header-inner .Header .titlewrapper {
padding: 22px 30px;
}
.header-inner .Header .descriptionwrapper {
padding: 0 30px;
}
/* Tabs
----------------------------------------------- */
.tabs-outer{
margin-top:15px;
margin-bottom: 14px;
}
.tabs-inner .section:first-child {
}
.tabs-inner .section:first-child ul {
}
.tabs-inner, .tabs-inner > .section{
padding: 0 !important;
margin: 0 !important;
}
.tabs-inner .widget ul {
background: url(../img/menu_bg.png) top no-repeat;
text-align:center;
height: 80px;
zoom:1;
padding-top: 30px;
}
.tabs-inner .widget li  {
float:none;
display:inline-block;
zoom:1;
}
.tabs-inner .widget li a {
    display: inline-block;
    padding: 24px;
    font: normal normal 18px 'Delius', sans-serif;
    color: #b0b0b0;
    padding-top: 4px;
}
.tabs-inner .widget li:first-child a {
}
.tabs-inner .widget li.selected a, .tabs-inner .widget li a:hover {
color: #E0A2AA;
background-color: transparent;
text-decoration:none;
}
/* Centrar P치ginas */
.PageList {text-align:center !important;}
.PageList li {display:inline !important; float:none !important;}
/* Columns
----------------------------------------------- */
.main-outer {
border-top: 0 solid transparent;
}
.fauxcolumn-left-outer .fauxcolumn-inner {
border-right: 1px solid #eeeeee;
}
.fauxcolumn-right-outer .fauxcolumn-inner {
border-left: 1px solid transparent;
}
/* Headings
----------------------------------------------- */
h2 {
margin: 0 0 0 0;
font: normal normal 22px 'Berkshire Swash', cursive;
text-align: center;
color: #B0B0B0;
padding-top: 20px;
}
.sidebar h2 {
font: normal normal 22px 'Berkshire Swash', cursive;
text-align: center;
color: #E0A2AA;
height: 100px;
margin-bottom: 0px;
background: url(../img/separador.png) no-repeat bottom center;
}
/* Widgets
----------------------------------------------- */
.widget .zippy {
color: #8C644C;
text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.widget .popular-posts ul {
color: #000000;
list-style: none;
}
/* Posts
----------------------------------------------- */
/* Calendario-Fecha
-------------------- */
#fecha {
float:left;
width:60px;
height:60px;
border: 1px dashed #B0B0B0;
border-radius: 50px;
background: url('#') no-repeat bottom center;
background-color: #ffffff;
text-transform:lowercase;
margin-right: 20px;
    color: #E0A2AA;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
}
.fecha_dia {
display: block;
font:normal normal 15px 'Buda', cursive;
color: #E0A2AA;
font-size:15px;
text-align:center;
margin-top: 2px;
}
.fecha_mes {
display: block;
font:normal normal 13px 'Buda', cursive;
color: #E0A2AA;
font-size:13px;
text-align:center;
text-transform:Capitalize;
margin-top: 5px;
}
.fecha_anio {
display: block;
font:normal normal 12px 'Buda', cursive;
color: #E0A2AA;
font-size:12px;
text-align:center;
margin-top: 2px;
}
.main-inner {
background: #ffffff;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
}
.main-inner .column-center-inner {
padding: 0 0;
}
.main-inner .column-center-inner .section {
margin: 0 1em;
}
.post {
margin: 0 0 45px 0;
}
h3.post-title, .comments h4 {
font: normal normal 25px 'Berkshire Swash', cursive;
text-align: center;
margin-left: -15px;
color: #E0A2AA;
text-align: left;
background: transparent;
}
.post h3 {
padding-bottom: 0px;
padding-top: 10px;
color:#E0A2AA;
font: normal normal 25px 'Berkshire Swash', cursive;
text-align: left;
}
.post h3 a, .post h3 a:visited, .post h3 strong {
display:block;
color:#E0A2AA;
font: normal normal 25px 'Berkshire Swash', cursive;
text-align: left;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
transition: all 0.2s linear;
}
.post h3 strong, .post h3 a:hover {
color:#E0A2AA;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
transition: all 0.2s linear;
}
.post-body {
font-size: 100%;
line-height: 1.4;
position: relative;
margin-top: 0px;
}
.post-body img, .post-body .tr-caption-container, .Profile img, .Image img,
.BlogList .item-thumbnail img {
padding: 2px;
background: #(image.background.color);
border: 1px solid transparent;
-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, .1);
-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, .1);
box-shadow: 0px 0px 0px rgba(0, 0, 0, .1);
}
.post-body img, .post-body .tr-caption-container {
padding: 5px;
width: 90%;
}
.post-body .tr-caption-container {
color: #FFFFFF(image.text.color);
}
.post-body .tr-caption-container img {
padding: 0;
background: #FFFFFF;
border: none;
-moz-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
box-shadow: 0 0 0 rgba(0, 0, 0, .1);
}
.post-header {
margin: 0 0 1.5em;
border-radius: 10px;
line-height: 0;
font-size: 90%;
}
.post-footer {
margin: 10px;
padding: 10px;
font: normal normal 18px 'Delius', cursive;
color: #B0b0b0;
border-bottom: 1px dashed #b0b0b0;
line-height: 1.2;
}
.post blockquote{
margin:1em 20px;
background-color: #ffffff;
border: 1px dashed #B0b0b0;
color: #E0A2AA;
padding:10px;
font: normal normal 20px 'Delius', cursive;
}
.comment-link  {
float:right;
padding-top:-10px;
text-transform: uppercase;
text-decoration: none;
font: normal normal 20px 'Delius', cursive;
color: #E0A2AA;
font-size: 18px;
line-height:2em;
width:250px;
height:44px;
background: url(#) no-repeat bottom right;
text-align:center;
}
#comments .comment-author {
padding-top: 1.5em;
border-top: 1px solid transparent;
background-position: 0 1.5em;
text-decoration: none;
}
#comments .comment-author:first-child {
padding-top: 0;
border-top: none;
text-decoration: none;
}
.avatar-image-container {
margin: .2em 0 0;
}
#comments .avatar-image-container img {
border: 1px solid transparent;
border-radius: 20px;
}
/* Comments
----------------------------------------------- */
.comments .comments-content .icon.blog-author {
background-repeat: no-repeat;
background-image: url(../img/HAMB+r32hznJgXy2v0sGLBcyAJ1EK3LFcbo1s91JeLwAbwGYu7TP/3ZGfnXYPgAVNngtqatUNgAAAABJRU5ErkJggg==);
}
.comments .comments-content .loadmore a {
border-top: 1px dashed #9FC9C2;
border-bottom: 1px dashed #9FC9C2;
border-radius: 50px;
text-decoration: none;
}
.comments .comment-thread.inline-thread {
background-color: #ffffff;
border: 1px solid #b0b0b0;
border-radius: 50px;
}
.comments .continue {
border-top: 0px dashed #6AA9B4;
text-decoration: none;
}
/* Accents
---------------------------------------------- */
.section-columns td.columns-cell {
border-left: 0px solid transparent;
}
.blog-pager {
background: transparent;
}
.blog-pager-older-link, .home-link,
.blog-pager-newer-link {
background-color: #transparent;
padding: 5px;
}
.footer-outer {
border-top: 0px dashed #bbbbbb;
}
/* Mobile
----------------------------------------------- */
/* Mobile
----------------------------------------------- */
body.mobile  {
background-size: auto;
}
.mobile .body-fauxcolumn-outer {
background: transparent none repeat scroll top left;
}
.mobile .body-fauxcolumn-outer .cap-top {
background-size: 100% auto;
}
.mobile .content-outer {
-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
box-shadow: 0 0 3px rgba(0, 0, 0, .15);
}
body.mobile .AdSense {
margin: 0 -40px;
}
.mobile .tabs-inner .widget ul {
margin-left: 0;
margin-right: 0;
}
.mobile .post {
margin: 0;
}
.mobile .main-inner .column-center-inner .section {
margin: 0;
}
.mobile .date-header span {
padding: 0.1em 10px;
margin: 0 -10px;
}
.mobile h3.post-title {
margin: 0;
}
.mobile .blog-pager {
background: transparent none no-repeat scroll top center;
}
.mobile .footer-outer {
border-top: none;
}
.mobile .main-inner, .mobile .footer-inner {
background-color: #ffffff;
}
.mobile-index-contents {
color: #494949;
}
.mobile-link-button {
background-color: #E0A2AA;
}
.mobile-link-button a:link, .mobile-link-button a:visited {
color: #ffffff;
}
.mobile .tabs-inner .section:first-child {
border-top: none;
}
.mobile .tabs-inner .PageList .widget-content {
background-color: transparent;
color: #b0b0b0;
}
.mobile .tabs-inner .PageList .widget-content .pagelist-arrow {
}
/* Formato enlaces pie de p치gina
----------------------------------------------- */
.home-link {
font: normal normal 20px 'Raleway', Tahoma, Helvetica, FreeSans, sans-serif;
color: #E0A2AA;
background-color: transparent;
}
.blog-pager-newer-link {
font: normal normal 20px 'Raleway', Tahoma, Helvetica, FreeSans, sans-serif;
color: #E0A2AA;
background-color: transparent;
}
.blog-pager-older-link {
font: normal normal 20px 'Raleway', Tahoma, Helvetica, FreeSans, sans-serif;
color: #E0A2AA;
background-color: transparent;
}
.feed-links {
font: normal normal 20px 'Raleway', Tahoma, Helvetica, FreeSans, sans-serif;
color: #E0A2AA;
background-color: transparent;
}
/* Buscador */
input.gsc-search-button {
color: #ffffff;
height: 31px;
font: normal normal 18px 'Buda', Tahoma, Helvetica, FreeSans, sans-serif;
background: #E0A2AA;
border: 1px solid #ffffff;
}
input.gsc-input {
color: #E0A2AA;
background: #ffffff;
}
/* Suscripci칩n */
.follow-by-email-submit {
background: #E0A2AA !important; /*este es el color de fondo del bot칩n*/
color: #ffffff !important; /*Este es el color de la letra*/
border-radius: 18px;
}
.follow-by-email-address {
color: #E0A2AA;
background: #ffffff;
}
.follow-by-email-inner input[type="submit"] {
font: normal normal 20px 'Buda', Tahoma, Helvetica, FreeSans, sans-serif;
}
/* sociales */
.post-share-buttons {
width:100%;
}
.toolbox {
width:380px; /* agrandalo 50px por cada icono nuevo */
height:50px;
margin-top: 0px;
margin-bottom: 20px;
margin-left: 80px;
margin-right: 10px;
text-align:center;
}
.toolbox .custom_images a:hover img{opacity:1;}
.toolbox .custom_images a img{opacity:0.65}
.toolbox .custom_images a { display:block; float:left; width:32px; height:32px; margin:5px; padding-left:25px; background:#fff; border-radius:5px; }



.content-outer, .content-fauxcolumn-outer, .region-inner {

max-width: 1160px;

}
.main-inner .columns {
    padding-left: 0px;
    float: left;
    width: 100%;
}
.main-inner .column-center-outer {
    float: left;
    width: 60%;
}
.main-inner .fauxcolumn-left-outer {
width: 0px;
}
.main-inner .column-right-outer {
    width: 37%;
    float: right;
}
.main-inner .column-left-outer {
width: 0px;
right: 100%;
margin-left: -0px;
}

#layout {
min-width: 0;
}
#layout .content-outer {
min-width: 0;
width: 100%;
}
#layout .region-inner {
min-width: 0;
width: auto;
}


div{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
.clear{
	clear: both;
}

.Followers1-wrapper div{

	text-align: center;
}

.post-author.vcard {
    margin: auto;
    float: none;
    width: 200px;
    display: block;
}

.comment img{
	width: 100%;
	height: auto;
}

@media screen and (max-width: 480px) {
  .burger {
    display: block;
	margin: 15px auto;
	max-width: 30px;
	width: 100%;
  }
  .tabs-inner .widget ul {
    display: none;
  }
  .sidebar, footer, #blog-pager {
    display: none!important;
  }
  .main-inner .column-center-outer {
 
    margin-bottom: -90px;
}
}
