@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  font-display: swap;
  src: url('../fonts/ptserif-regular-webfont.woff2') format('woff2'),
    url('../fonts/ptserif-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PT Serif';
  font-display: swap;
  src: url('../fonts/ptserif-bold-webfont.woff2') format('woff2'),
    url('../fonts/ptserif-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
.logo-bottom {
  margin-bottom: 10px;
}
.abs-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.comments-header {
  padding-left: 15px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

article,
aside,
footer,
header,
nav {
  display: block;
}

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  /* 2 */
}

html,
input,
textarea {
  /* font-family: sans-serif; */
  font-family: Tahoma, Helvetica, sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}


a:active,
a:hover,
a:focus {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

strong {
  font-weight: bold;
}


p {
  margin: 1em 0;
}

ol,
ul {
  margin: 1em 0;
}

ol,
ul {
  padding: 0 0 0 40px;
}

nav ul {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}


form {
  margin: 0;
}

input,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

input {
  line-height: normal;
}


input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}


html,
input,
textarea {
  color: #4d4d4d;
}

html {
  font-size: 1em;
  line-height: 1.4;
  background: #fff;
}

body {
  /* background-color: #fff; */
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: justify;
}


.layout {
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 100;
  overflow: hidden;
  background: #fff;
}

.wrapper {
  padding: 0px 0 0px 0;
  background: #fff;
  width: 100%;
}

.wrapper.gray {
  background: #f5f5f5;
}

.container {
  width: 960px;
  position: relative;
  /* background: #fff; */
  margin-right: auto;
  margin-left: auto;
}

/** Fixed subnav */
.fullnav {
  /* position: relative;
  width: 1350px;
  */
  width: 100%;
  /*min-width: 768px;*/
  margin: 0 auto;
}

header {
  height: 86px;
  margin: 0px auto 0 auto;
  position: relative;
  background: #fff;
  padding: 5px 0 0 0;
  /* top: 3px; */
}

header h1,
header #top_logo {
  margin: 10px auto 15px;
  display: block;
  width: 300px;
  height: 61px;
  color: #262626;
}

header #top_logo.left {
  margin: 10px 0 15px 32px;
}

header #top_logo img {
  width: 300px;
  height: 61px;
}

header .advent {
  height: 86px;
  float: right;
  position: absolute;
  right: 0;
  /*
  margin-right: 10px;
  width: 0px !important;
  font-size: 0px;
  */
}

header .advent>div {
  float: right;
  margin-right: 20px;
}

header .advent img {
  display: block;
}

/** Main navigation menu */
nav.main_menu {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: #fff;
  height: 45px;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}

.main_menu>ul {
  display: block;
  height: 45px;
  text-align: center;
  margin: 0 100px;
  padding: 0;
  font-size: 0;
}

.main_menu>ul>li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  /* height: 47px; */
  top: -1px;
}

.main_menu>ul>li>a {
  display: block;
  padding: 11px 18px;
  font: 21px/25px 'Montserrat';
  text-transform: uppercase;
  color: #262626;
  text-decoration: none;
}

.main_menu>ul>li:first-child>a {
  background: none;
}

.main_menu>ul>li.active>a {
  color: #E63917;
}

.main_menu>ul li .sub {
  font-size: 14px;
  position: absolute;
  display: none;
  top: 46px;
  left: -40px;
  z-index: 9000;
  padding: 0 20px;
  width: 410px;
  background: #262626;
  /*     border-top: 4px solid #E63917;
      border-bottom: 4px solid #E63917; */
}

.main_menu>ul li.m-food .sub {
  left: -90px;
}

.main_menu>ul li.m-life .sub {
  left: -150px;
}

.main_menu>ul li.m-iron .sub {
  left: -240px;
}

.main_menu>ul li .sub a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ebebeb;
}

.main_menu>ul li .sub a:hover {
  color: #E93700;
}

.main_menu>ul li .sub .m-sub a {
  font: 18px/20px 'Montserrat';
  font-weight: 300;
}

.main_menu>ul li .sub .m-tags a {
  font: 16px/20px 'Montserrat';
  font-weight: 300;
}

.main_menu>ul li .m-sub {
  display: block;
  width: 170px;
  float: left;
  padding: 0px 20px 0 0;
  margin: 20px 0;
  text-align: left;
}

.main_menu>ul li .m-sub li {
  margin: 0;
  padding: 5px 0;
}

.main_menu>ul li aside {
  float: left;
  width: 220px;
  text-align: left;
  margin: 20px 0;
}

.main_menu>ul li aside .title {
  color: #898989;
  border-bottom: 1px solid #898989;
  font: 16px/20px 'Montserrat';
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main_menu>ul li .m-tags {
  display: block;
  margin: 0;
  padding: 0;
}

.main_menu>ul li .m-tags li {
  margin: 0;
  padding: 5px 0;
}

.main_menu>ul>li:hover {
  background: #E63917;
}

.main_menu>ul>li:hover>a {
  color: #fff;
  background: none;
}

.main_menu>ul li:hover .sub {
  display: block;
}

/* left popup menu */
nav.left_menu {
  display: block;
  position: fixed;
  top: 0px;
  left: -250px;
  background: #252525;
  width: 190px;
  height: 100%;
  padding: 24px 30px;
  z-index: 9999;
  /*
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  */
  transition: 150ms ease-in-out;
  -webkit-transition: 150ms ease-in-out;
  -moz-transition: 150ms ease-in-out;
  -ms-transition: 150ms ease-in-out;
  -o-transition: 150ms ease-in-out;
}

.left_menu_head {
  width: 190px;
  margin: 6px 0 20px 0;
}

.left_menu_head img {
  display: block;
  float: left;
  width: 150px;
}

.left_menu_head .left_menu_close,
.left_menu_head .left_menu_close:visited {
  display: block;
  float: right;
  text-align: center;
  width: 28px;
  height: 28px;
  border: 1px solid #404040;
  margin: 1px 0;
  font: normal 36px/28px 'PT Serif';
  color: #999999;
}

.left_menu_head .left_menu_close:hover {
  color: #ffffff;
}

.left_menu_holder {
  width: 190px;
  overflow: hidden;
  height: 90%;
}

.left_menu_scroller {
  height: 100%;
  width: 210px;
  padding-bottom: 24px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

nav.left_menu a {
  text-decoration: none;
  color: #ebebeb;
}

nav.left_menu a:hover {
  color: #e63917;
}

#left_main {
  display: none;
  margin: 0;
  padding: 0 0 12px 0;
  border-bottom: 1px solid #404040;
}

#left_addition {
  display: block;
  margin: 0;
  padding: 0;
}

#left_main li,
#left_addition li {
  margin: 0;
  padding: 0;
}

#left_main>li>a:hover,
#left_addition li a:hover,
#left_main>li.active>a,
#left_addition li.special a:hover {
  color: #e63917;
}

#left_main>li>a {
  font: 21px/30px 'Montserrat';
  color: #fff;
  text-transform: uppercase;
}

#left_main>li ul {
  display: none;
  padding: 2px 0 2px 10px;
  margin: 0;
}

#left_main>li ul a {
  font: 16px/30px 'Montserrat';
  font-weight: 300;
  text-transform: uppercase;
}

#left_main>li.active ul {
  display: block;
}

#left_addition li {
  border-top: 1px solid #404040;
}

#left_addition li:first-child {
  border-top: 0;
}

#left_addition li a {
  font: 16px/29px 'Montserrat';
  font-weight: 300;
  text-transform: uppercase;
}

#left_addition li.special a {
  color: #ffdb26;
  font-weight: bold;
}



/** Footer **/
footer {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  /* width: 1350px;     */
  color: #999999;
  font: normal 16px/20px 'Montserrat';
  font-weight: 300;
  display: block;
  bottom: -2px;
}

footer .wrapper {
  background: #262626;
  padding: 30px 0;
  text-align: center;
}

.promo {
  float: left;
  width: 580px;
  /* padding: 0 660px 0 0; */
  text-align: justify;
  padding-right: 50px;
}

.promo #logo_mh_bottom {
  width: 150px;
  height: auto !important;
  margin: 0 0 15px 0;
  border: 0;
}

.bottom_block {
  float: right;
}

.bottom_block.social {
  width: 300px;
}

.bottom_block.menu_list {
  width: 135px;
  margin: 0 30px 0 0;
}

.bottom_block .title {
  color: #cccccc;
  font: normal 16px/30px 'Montserrat';
  text-transform: uppercase;
  border-bottom: 1px solid #404040;
  margin: 0 0 10px 0;
}

.bottom_block.social .title {
  margin: 0 0 15px 0;
}

.bottom_block.menu_list ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.bottom_block.menu_list ul li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.bottom_block.menu_list ul li a {
  color: #999999;
  font: normal 16px/30px 'Montserrat';
  font-weight: 300;
  text-decoration: none;
}

.bottom_block.menu_list ul li a:hover {
  color: #ffffff;
}

/* social inline */

.container.bottom {
  border-top: 1px solid #3F3F3F;
  padding: 25px 0 0 0;
  margin-top: 55px;
}

.container.bottom .copyright {
  font: normal 14px/20px 'Montserrat';
  font-weight: 300;
  color: #999999;
  /* padding: 0px 330px 0 50px; */
  padding: 0px 250px 0 50px;
}

/* Banners classes for adriver 300 (240) */

/** Wrappers styles */

.wrapper.comments {
  padding: 50px 0 50px 0;
}

/*
.wrapper.attention + .fullwidth_banner,
.wrapper.comments + .fullwidth_banner {
    margin-top: 55px;
}
 */
/*  This ID's not for css, only for js-scripts using
    (banners block sliding)
*/

.mainsection {
  /* float: left; */
  width: 960px;
  /* overflow: hidden; */
  margin-bottom: 30px;
  margin: 0 auto;
}

/** most main styles **/
h1 {
  font: normal 32px/32px 'Montserrat';
  margin: 0 0 24px 0;
  text-transform: uppercase;
  color: #262626;
}

h3 {
  font: normal 24px/37px 'Montserrat';
  color: #262626;
  margin: 0px 0px 10px 0px;
}

.btn {
  display: block;
  background-color: red;
  color: #FFF;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  border: 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid #b11313;
  outline: 0;
}

a.btn {
  font-size: 16px;
}

.btn:hover {
  background-color: #d30404;
  outline: 0;
  transition: all 0.3s;
}

.btn:focus {
  background-color: #d30404;
  border-bottom: 0;
  border-top: 2px solid #cc0a0aed;
  border-bottom: 2px solid transparent;
  outline: 0;
}

.com_img {
  width: 350px;
  max-width: 100%;
  margin-top: 10px;
}


.show_more {
  margin: 0px 0px 10px 0;
  padding-top: 30px;
  border-top: 1px solid #E5E5E5;
}

.show_more>a.btn {
  display: block;
  margin: 0 auto 0px;
  width: 290px;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 22px;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-position: center -100px;
  color: #fff;
  font-weight: 700;
  box-sizing: border-box;

}

/* For sections (top of all sections) */
.section_title {
  border-bottom: 1px solid #252525;
  padding: 0 0 10px 0;
  margin: 0px 0px 29px 0px;
  width: 100%;
  height: auto !important;
  background: none;
}

.section_title .title {
  float: left;
  color: #262626;
  font: normal 32px/30px 'Montserrat';
  text-transform: uppercase;
  margin: 0;
}

/* For sections: announces lists */

/*
    Badges (yellow) for comments number
*/

/* Main: Experts. Slider & Content */

/* Sections 'Attension', 'Popular' */

/* Section 'Events' */

/* Section 'Partners' */

/** Inside pages all */
.wrapper.breadcrumbs {
  padding: 0;
  background: #f7f7f7;
  margin-bottom: 30px;
}

.breadcrumbs ol {
  list-style: none;
  padding: 9px 0 9px;
  margin: 0 auto;
  font-size: 0;
  width: 1290px;
}

.breadcrumbs ol li {
  display: inline-block;
  font-weight: 300;
  font: 16px/24px 'Montserrat';
}

.breadcrumbs ol>li+li:before {
  padding: 0 12px;
  /*color: #8C8C8C;
   content: "\2022"; */
  color: #afafaf;
  content: "/\00a0";
  font-size: 16px;
}

.breadcrumbs ol li a {
  color: #424242;
  text-decoration: none;
}

article {
  margin-bottom: 20px;
  /*50*/
}

article .lead {
  margin: 0 0 30px 0;
}

article header {
  position: relative;
  /*    padding: 0 240px;*/
  margin: 0 0 40px 0;
  width: auto;
  height: auto;
  text-align: center;
}

article header h1 {
  text-transform: none;
  /* font: normal 36px/36px 'Montserrat'; */
  font: normal 45px/45px 'Montserrat';
  margin: 0 0px 20px 0px;
  width: auto;
  height: auto;
}

/* Rating */

/* Social likes */

article .text-lead {
  font-weight: 300;
  font: normal 27px/30px 'Montserrat';
  margin: 20px 0 25px;
  color: #262626;
}

.text {
  position: relative;
  font: normal 16px/25px 'PT Serif', Tahoma, Helvetica, sans-serif;
}

.text p {
  margin: 0 0 20px 0;
}

.dn_a {
  display: block;
  text-align: center;
}

article .text {
  margin: 0px auto;
}

.text img {
  max-width: 100%;
  height: auto !important;
}


.comments .section_title {
  padding-top: 50px;
}

.b-comments {
  padding: 0 0 10px 0;
}

.b-cmtForm {
  position: relative;
  width: 630px;
  margin: 30px auto 0 auto;

}

.b-cmtForm .ta-holder {
  margin: 0 0 0 80px;
  position: relative;
}



.b-cmtForm .ta-holder textarea {
  width: 498px;
  height: 90px;
  padding: 20px 25px;
  font: normal 14px/18px 'PT Serif', Tahoma, Helvetica, sans-serif;
  border: 1px solid #E6EAEB;
  border-radius: 3px;
  outline: 0;
}

.b-cmtForm .errortext {
  margin: 5px 0 0 80px;
  color: #E93700;
}

.b-cmtForm .b-buttonset {
  margin: 0 auto;
  text-align: center;
  padding: 9px 0 !important;
}

.b-cmtForm .b-buttonset .btn {
  width: 290px;
  padding: 15px 20px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 22px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}

.b-comments .b-cmtItem {
  position: relative;
  /*min-width: 310px;*/
  min-height: 0;
}

.b-comments .b-cmtItem .holder {
  padding: 0 0px 0 0;
  margin: 0 0 20px 0;
  position: relative;
}

.b-cmtItem .cmtHeader {
  height: 20px;
  margin: 0 0 10px 0;
}

.b-cmtItem .cmtHeader .title {
  float: left;
  font: normal 16px/20px 'Montserrat';
  text-transform: uppercase;
  color: #333333;
}

.b-cmtItem .cmtHeader .date {
  float: left;
  font: normal 16px/20px 'Montserrat';
  color: #8c8c8c;
  margin: 0 0 0 10px;
}

.b-cmtItem .avatar,
.b-cmtForm .avatar {
  width: 60px;
  height: 80px;
  float: left;
}

.b-cmtItem .avatar img,
.b-cmtForm .avatar img {
  display: block;
  border-radius: 30px;
}

.b-cmtItem .comment_content {
  margin: 0 0px 0 80px;
  position: relative;
  width: auto;
}

.b-cmtItem .comment_content:after {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 20px;
  top: 20px;
  left: -10px;
}

.b-cmtItem .comment_content p {
  position: relative;
  margin: 0;
  min-height: 20px;
  font: normal 14px/18px 'PT Serif', Tahoma, Helvetica, sans-serif;
  border: 1px solid #E6EAEB;
  background: #fff;
  border-radius: 3px;
  padding: 20px;
}

.b-cmtItem .b-moreset {
  height: 20px;
  margin: 10px 36px 0px 80px;
  line-height: 20px;
}

/* Profile */

.section_title {
  margin-bottom: 22px;
}

.section_title .title {
  float: none;
}


.dn_center {
  text-align: center;
}

.dn_marg {
  margin-bottom: 55px;
}

@media (min-width: 1000px) and (max-width: 1360px) {

  .breadcrumbs ol {
    width: 960px;
  }

  .container {
    width: 960px;
  }

  article header {
    padding: 0 40px;
  }

  article .text {
    padding: 0 0px 0px 0px;
  }

}

/** 'ipad portrait' 768x1024 resolution */
@media (max-width: 1000px) {

  .breadcrumbs ol {
    width: 100%;
  }

  .container {
    width: 630px;
  }

  header {
    width: 100%;
    /* margin: 0 100px 0 100px; */
    margin-bottom: -86px;
    padding: 0px;
    z-index: 200;
  }

  header h1,
  header #top_logo,
  header #top_logo.left {
    margin: 10px auto 15px;
    float: none;
  }

  header .advent {
    display: none;
  }

  nav.main_menu {
    padding: 21px 0 20px;
    border-top: 0;
  }

  #left_main {
    display: block;
  }

  .main_menu>ul.center_main {
    display: none;
  }

  .mainsection {
    width: 300px;
  }

  .promo {
    float: none;
    width: 630px;
    clear: both;
    margin-bottom: 34px;
  }

  article.container {
    width: 95%;
  }

  article .mainsection {
    width: 100%;
    float: none;
    clear: both;
    margin: 0 auto 0;
  }

  article .text {
    padding: 0 0px 0px 0px;
    width: 100%;
    margin: 0 auto;
    clear: both;
  }

}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@media (max-width: 1000px) {}

.b-cmtForm .ta-holder~.b-buttonset {
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .dn_ol {
    text-align: center;
  }

  .dn_ol li {
    margin: 5px 10px;
    border: 1px solid #E6EAEB;
    padding: 0 10px;
  }

  .dn_ol li:before {
    display: none;
  }

  .b-cmtForm {
    position: relative;
    width: 100%;
    margin: 30px auto 0 auto;
  }
}

.text-lead {
  font-weight: 300;
  font: normal 27px/30px 'Montserrat';
  margin: 20px 0 29px;
  color: #262626;
}

@media screen and (max-width: 780px) {
  .b-cmtForm .ta-holder textarea {
    width: 497px;
  }

  .promo {
    padding-right: 0;
    width: 95%;
    margin: 0 auto 34px;
  }

  .dn_footer>.bottom_block {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
  }

  .dn_footer {
    text-align: center;
  }

  .dn_footer>.social {
    display: none;
  }

  .copyright {
    width: 95%;
    padding: 0 !important;
    text-align: justify;
    margin: 0 auto;
  }

}

@media screen and (max-width: 630px) {
  .container {
    width: 95%;
  }

  .dn_form>.avatar {
    display: block;
    margin: 0 auto;
    float: none;
  }

  .b-cmtForm .ta-holder textarea {
    width: 60%;
    margin: 0 auto;
    display: block;
  }

  .b-cmtForm .ta-holder {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {

  p,
  .promo,
  .copyright {
    text-align: left;
  }

}

@media screen and (max-width: 335px) {
  .bottom_block.social {
    text-align: center;
    width: auto;
  }




}

@media screen and (max-width: 479px) {
  .dn_name {
    display: block;
    margin: 0 auto;
    /* text-align: center */
  }

  .dn_mob {
    /* display: block !important; */
  }

  .dn_perenos {
    display: none !important;
  }

  h3 {
    font: normal 24px/37px 'Montserrat';
    color: #262626;
    margin: 0px 0px 10px 0px;
  }

  .dn_full {
    /* display: none; */
  }

  .b-cmtItem .avatar,
  .b-cmtForm .avatar {
    width: 60px;
    height: 80px;
    /* float: none; */
    margin: 0 auto;
  }

  .b-cmtItem .comment_content {
    /* margin: 0 auto; */
    margin-left: 70px;
    position: relative;
    width: auto;
  }

  .b-cmtItem .cmtHeader .title {
    float: none;
    font: normal 16px/20px 'Montserrat';
    text-transform: uppercase;
    color: #333333;
    display: inline-block;
  }

  .b-cmtItem .cmtHeader .date {
    float: none;
    font-weight: 300;
    font: normal 16px/20px 'Montserrat';
    color: #8c8c8c;
    margin: 0 0 0 10px;
    display: inline-block;
  }

  .b-cmtItem .cmtHeader {
    /* height: auto; */
    margin: 0 0 10px 0;
  }

  article header h1 {
    font: normal 32px/32px 'Montserrat';
    font-weight: bold;
  }

  article .text-lead {
    font-weight: 300;
    font: normal 21px/25px 'Montserrat';
    margin: 14px 0 15px;
    color: #262626;
  }

  article .lead {
    margin: 0 0 20px 0;
  }

  article header {
    margin: 0 0 20px 0;

  }

  .text p {
    margin: 0 0 15px 0;
  }

  article {
    margin-bottom: 0;
  }

  .dn_marg {
    text-align: center;
  }

  .wrapper.comments {
    padding: 10px 0 10px 0;
  }

  .dn_marg {
    margin-bottom: 15px;
  }

  .b-moreset {
    display: none;
  }

  .comments .section_title {
    padding-top: 15px;
  }

  footer .wrapper {
    background: #262626;
    padding: 20px 0 20px 0;
  }

  header #top_logo img {
    width: 100%;
  }

  header #top_logo {
    width: 220px;
  }

  header {
    width: 220px;
  }

  .section_title .title {
    color: #262626;
    font: normal 25px/27px 'Montserrat';
    text-transform: uppercase;
    margin: 0;
  }

  .dn_strong {
    margin-top: 15px !important;
  }

  .dn_danger {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

}

.dn_danger {
  margin-top: 30px !important;
  text-align: center;
}

.dn_danger a {
  padding: 15px 20px;
  margin: 0 auto;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 22px;
  width: 290px;
  box-sizing: border-box;
}

.dn_br {
  display: none;
}

.dn_mob {
  display: none;
}

.dn_strong {
  margin-top: 20px !important;
}

.promo2 {
  display: none;
}

@media (max-width: 767px) {
  .promo {
    display: none;
  }

  .dn_footer {
    display: none;
  }

  .container.bottom {
    display: none;
  }

  .promo2 {
    display: block;
    text-align: center;
  }
}

@media (max-width: 630px) {
  .breadcrumbs ol .hide605 {
    display: none;
  }
}

#comebacker_main_div {
  display: none !important;
}