
@media (min-width: 999px) and (max-width: 1200px) {
.container {
    min-width: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

}

@media (max-width: 999px) {

*{


	box-shadow: border-box;
}
.container .inner.bg-1{
	background-image: none;
}
.container {
    min-width: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.container .inner section {
    width: 768px;
    margin: 0 auto;
    position: relative;
}


.container .inner.bg-1 {
    height: 800px;
}
.container .inner.bg-1 .logo {
    text-align: center;
    font-size: 50px;
}
.container .inner.bg-11{
    height: auto;
}
.text2 {
	    text-align: center;
    position: relative;
    z-index: 9999;
    font-size: 24px;
    line-height: 32px;
}
.text {
	text-align: center;
        line-height: 24px;
            font-size: 16px;
}
.text3 {
    padding: 0 5%;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    margin-top: 50px;
    line-height: 45px;
    font-size: 36px;
}
.text3 span {
    font-size: 36px;
    line-height: 30px;
}
.firstSectionSlideshow img
{
	display: none;
}
.firstSectionSlideshow img:first-child
{
	display: block;
}
.firstSectionSlideshow {
    position: absolute;
    width: 70%;
    height: auto;
    top: 135px;
    right: 0;
}
.container .inner.bg-1 img.bg {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 0;
    left: 0;
}
.text4 {
    position: relative;
    z-index: 9999;
        padding: 0 5%;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    font-size: 36px;
    line-height: 47px;
        margin-bottom: 35px;
}

.text5 {
    margin-bottom: 0px;
    padding: 0 5%;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.text5 li {
    padding-left: 35px;
    font-size: 17px;
    min-height: 20px;
    margin-bottom: 15px;
    background-size: 20px!important;
}
.text6 {
    padding: 0 5%;
}

.text7 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}
.new_text ,
.old_text {
    right: 5%;
    left: inherit;
}

.text7 img
{
        position: absolute!important;
    right: 0!important;
    width: 250px!important;
    bottom: -97px!important;
}
.buttons.num1 {
    position: relative;
    bottom: -160px;
    left: 5%;
}
.container .inner section .buy.type-1 {
    width: 304px;
    height: 80px;
    right: 10px;
    bottom: 28px;
}
.firstSectionSlideshow:after {
    content: "";
    position: absolute;
    top: 11px;
    height: 50px;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgb(7, 7, 7) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
    z-index: 99;
}
.container .inner.bg-2 .text3 {
    max-width: 60%;
    position: absolute;
    font-size: 16px;
    line-height: 20px;
    top: 42px;
    left: 30px;
}

.container .inner.bg-2 .text5 {
    font-size: 20px;
    top: 57%;
    left: 15%;
}
.container .inner.bg-2 .text6 {
    font-size: 20px;
    line-height: 20px;
    left: 40%;
    top: 54%;
}

.container .inner.bg-2 .text7 {
    font-size: 20px;
    line-height: 20px;
    top: 47%;
    right: inherit;
    left: 73%;
}
.container .inner section img {
    position: relative;
    z-index: 2;
    width: 100%;
}
.container .inner.bg-2 .text1 {
    top: 0px;
    left: 5%;
    font-size: 32px;
    line-height: 46px;
}
.container .inner.bg-2 .text1 {
    top: 0px;
    left: 5%;
    text-align: center;
    font-size: 32px;
    line-height: 36px;
}

.container .inner.bg-2 .text3 {
    max-width: 61%;
    font-size: 16px;
    line-height: 25px;
    top: 42px;
    left: 30px;
}

.container .inner.bg-2 .text8 {
    font-size: 10px;
    line-height: 10px;
    top: 41%;
    left: 77%;
}
.container .inner.bg-2 .text9 {

    font-size: 24px;
    line-height: 35px;
    bottom: 30px;
    left: 30px;
}
.container .inner.bg-3 .text1 {
    width: 90%;
    left: 5%;
    height: auto;
}
.container .inner.bg-3 .text2 {
    line-height: 29px;
    position: absolute;
    z-index: 3;
    top: 40px;
    color: #fff;
    font-size: 28px;
    width: 90%;
    left: 0;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.container .inner.bg-3 .text8,
.container .inner.bg-3 .text6,
.container .inner.bg-3 .text4 {
    z-index: 3;
    left: 30px;
    font-size: 15px;
    line-height: 26px;
    width: 60%;
}

.container .inner.bg-3 .text4 {
    bottom: -298px;
}
.container .inner.bg-3 .text6 {
    bottom: -420px;
}
.container .inner.bg-3 .text8{
padding: 0 5%;
    bottom: -525px;
}



.container .inner.bg-3 .text7,
.container .inner.bg-3 .text5,
.container .inner.bg-3 .text3 {
    font-size: 18px;
    line-height: 25px;
    min-height: 25px;
    padding-left: 30px;
    background-size: 18px!important;
    left: 5%;
}
.container .inner.bg-4 .text1 {
    font-size: 32px;
    text-align: center;
}


.container .inner.bg-3 .text3 {
    bottom: -190px;
}
.container .inner.bg-3 .text5 {
    bottom: -314px;
}
.container .inner.bg-3 .text7{
        bottom: -445px;
}

.container .inner.bg-3 .text9 {
    bottom: -786px;
    left: 112px;
}
.container .inner.bg-3 .text10 {
    bottom: -800px;
    left: 35%;
}

.container .inner.bg-3 img.bg {
    width: 47%;
    top: 20px;
    right: 5%;
}
.container .inner.bg-4 section.cf+img {
        opacity: 0;
}
.container .inner.bg-4 .text6,
.container .inner.bg-4 .text4,
.container .inner.bg-4 .text2 {

    font-size: 15px;
    line-height: 19px;
    bottom: inherit;
    left: 5%;
    padding: 0 6%;
}
.container .inner.bg-4 .text7,
.container .inner.bg-4 .text5,
.container .inner.bg-4 .text3 {
    bottom: inherit;
    font-size: 18px;
    left: 5%;
    padding: 5px 6%;
    background: url(../images/pisechka.png) no-repeat 0 0px;
    background-size: 22px;
}
.container .inner.bg-4 .text3{
    top: 160px;
}
.container .inner.bg-4 .text4{
top: 260px;
}
.container .inner.bg-4 .text5{
top: 290px;
}
.container .inner.bg-4 .text6{
    top: 340px
}

.container .inner.bg-4 .text7{
    top: 370px;
}
.container .inner.bg-4 .text2 {
    top: 180px;
}
.container .inner.bg-4 .text12,
.container .inner.bg-4 .text13 ,
.container .inner.bg-4 .text14{
display: none;
}

.container .inner.bg-4 img.bg {
    width: 60%;
    position: absolute;
    z-index: 1;
    top: 175px;
    right: 0;
}
.container .inner.bg-4 .text8 {
    font-size: 24px;
    line-height: 24px;
    top: 430px;
    left: -17px;
}
.container .inner.bg-4 .text8 img {
       width: 100%;
    /*margin-left: 20%;*/
}
.container .inner.bg-4 .text9 {
    font-size: 24px;
    line-height: 24px;
    right: 390px;
    top: 540px;
}
.container .inner.bg-4 .text10 {

    font-size: 24px;
    line-height: 24px;
    top: 560px;
    right: 390px;
    font-size: 44px;
    line-height: 60px;
}

.container .inner.bg-4 .text11 {
    bottom: 0;
    background: url(../images/btn.png) no-repeat 0 0;
    background-size: contain;
    width: 320px;
    height: 139px;
    top: 530px;
    right: 29px;
}

.container .inner.bg-4 {
    height: 640px;
}

.container .inner.bg-5 .text1 {
    font-size: 32px;
    top: 70px;
    padding: 0 10px;
}
.container .inner.bg-5 .text2 {
    font-size: 18px;
    line-height: 24px;
    top: 130px;
    z-index: 3;
    padding: 0 10px;
}

.container .inner.bg-5 .text3 {
    top: 11px;
    right: 5px;
    font-size: 24px;
    line-height: 54px;
    padding-right: 0;
}
.container .inner.bg-5 .text4 {
    font-size: 18px;
    line-height: 23px;
    top: 190px;
    padding: 0 5%;
}

.container .inner.bg-5 .text5 {
    font-size: 24px;
    line-height: 24px;
    top: 30%;
    left: 55px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    width: 33%;
    padding: 0;
}
.container .inner.bg-5 .text6 {
    font-size: 20px;
    line-height: 24px;
    bottom: inherit;
    top: 55%;
    left: 5%;
    width: 20%;
}
.container .inner.bg-5 .text7 {
    font-size: 20px;
    line-height: 24px;
    bottom: inherit;
    top: 55%;
    left: 24%;
    padding: 0 5%;
    width: 20%;
}
.container .inner.bg-5 .text8 {
    font-size: 24px;
    line-height: 24px;
    bottom: inherit;
    z-index: 3;
    max-width: 380px;
    font-size: 14px;
    line-height: 18px;
    top: 61%;
    left: 18%;
}
.container .inner.bg-5 .text9 {
    bottom: inherit;
    font-size: 14px;
    left: 14%;
    line-height: 18px;
    top: 66%;
    z-index: 3;
}
.container .inner.bg-5 .text10 {
    font-size: 20px;
    line-height: 24px;
    bottom: inherit;
    right: 340px;
    top: 710px;
}
.container .inner.bg-5 .text11 {
    top: 720px;
    right: 340px;
    font-size: 37px;
    line-height: 60px;
}
.container .inner.bg-7 .text1 {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    text-align: center;
    color: #fdfdfc;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.container .inner.bg-7 .text2 {
    font-size: 24px;
    line-height: 36px;
    color: #a00000;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 4px rgb(255, 255, 255);
    background: rgba(255,255,255,0.6);
}
.container .inner.bg-7 {
    height: 100vh;
}
.logo img {
    height: 30px;
    width: auto!important;
    float: right;
}
.container .inner.bg-8 .text1 {
    font-size: 31px;
    width: 100%;
    text-align: center;
}

.container .inner.bg-8 img.bg {
    width: 50%;
    left: -10%;
}
.container .inner.bg-8 .statya_text4,
.container .inner.bg-8 .statya_text3,
.container .inner.bg-8 .statya_text2,
.container .inner.bg-8 .statya_text1 {
    font-size: 14px;
    line-height: 16px;
    z-index: 9999;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
        padding: 0 5px;
}

.container .inner.bg-8 .statya_text1{
     top: 60px;
}



.container .inner.bg-8 .statya_text2{
    top: 269px;
}
.container .inner.bg-8 .statya_text3{
    top: 420px;
}
.container .inner.bg-8 .statya_text4{
    top: 545px;
}

.container .inner.bg-8 .text5 {
    font-size: 24px;
    line-height: 24px;
    top: 667px;
    height: 90px;
    text-align: center;
}
.container .inner.bg-8 section .text5 img {
    position: relative;
    z-index: 2;
    width: 80%;
    height: auto;
    z-index: 1;
}
.container .inner.bg-8 {

    height: 840px;
}
.container .inner.bg-9 {
    z-index: 9999;
    position: relative;
    top: 35px;
}
.container .inner.bg-10 .text1 {
    font-size: 36px;
    line-height: 36px;
    top: 100px;
}
section .write-content.fb {
    left: 5%;
}
section .write-content {
    background: #fff;
    width: 90%;
    height: 51%;
    margin-bottom: 20px;
    top: 33.3333333%;
}
.write-content.fb .comment img.ava {
    width: 60px;
}
.com_txt {
    width: 85%;
}
.comment>a {
    display: inline-block;
    float: left;
    width: 15%;
}
section .write-content.tw {
    right: 1%;
    display: none;
}
.write-content.fb .comment .com_txt .last-com-p span:nth-child(3) a img
{
width: auto;
height: auto;
}
.container .inner.bg-10 {
    height: 760px;
    background-size: cover;
}
.container .inner.bg-11 section.cf>img {
    position: relative;
    z-index: 2;
    width: 100%;
    left: 15%;
}
.container .inner.bg-10 section {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.container .inner.bg-10 section img {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.container .inner.bg-11 .text1 {
    top: 50%;
}

.container .inner.bg-11 .text4 {
    top: 10px;
    left: 0%;
    width: 100%;
    text-align: center;
    font-size: 32px;
}
img.prod{
    /*max-width: 220px;*/
}

a.privacy{
    /*margin-top: 190px;*/
}
}
@media (max-width: 768px) {
.firstSectionSlideshow{
    display: none;
}




section.cf {
    width: 320px!important;
    float: none;
    position: relative;
    margin: 0 auto;


}




.container .inner.bg-1 {
    height: 1100px;
}
.container .inner.bg-1 .logo {
    text-align: center;
    font-size: 40px;
}
.text3 {
    margin-top: 250px;
    line-height: 45px;
    font-size: 26px;
    text-align: center;

   }
   .text3 span {
    font-size: 26px;
    line-height: 30px;
}

.text4 {
    padding: 0 5%;
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 35px;
    text-align: center;
}
.text6 {
    font-size: 20px;
    line-height: 55px;
}
.text6 span {
    font-size: 16px;
    line-height: 22px;

}
.text7 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.old_text {
    font-size: 24px;
    line-height: 24px;
    bottom: -25%;
   left: inherit;
}

.new_text {
    font-size: 50px;
    line-height: 60px;
    bottom: -70%;
   left: inherit;
    font-weight: 700;
}
.text7 img {
    position: absolute!important;
    left: 117px;
    width: 60%!important;
    top: -477px;
    max-width: 75px;
}
.container .inner.bg-3 .text10 {
    bottom: -800px;
    left: -5%;
}
a.buttons {
    display: block;
    height: 139px;
    right: auto;
    position: relative;
    bottom: -250px!important;
    left: 0;
    width: 100%;
    background-size: contain;
}
.container .inner section .text9 img{
    margin-left:132px!important;width:  auto;
}
.container .inner.bg-2 {
    height: 500px;
}

.container .inner.bg-2 .text1 {
    top: 0px;
    left: 5%;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
}
.container .inner.bg-2 .text3 {
    max-width: 100%;
    font-size: 16px;
    line-height: 25px;
    top: 42px;
    left: 0;
}
.container .inner.bg-2 .text5 {
    font-size: 10px;
    top: 54%;
    left: 15%;
}
.container .inner.bg-2 .text6 {
    font-size: 10px;
    line-height: 20px;
    left: 40%;
    top: 51%;
}
.container .inner.bg-2 .text7 {
    font-size: 10px;
    line-height: 20px;
    top: 44%;
    right: inherit;
    left: 30%;
}
.container .inner.bg-2 .text8 {
    display: none;
}
.container .inner.bg-2 .text9 {
    font-size: 16px;
    line-height: 30px;
    bottom: -43px;
    left: 0;
    text-align: center;
    width: 100%;
}
.container .inner section .buy.type-2 {
    width: 336px;
    height: 80px;
    right: 10px;
    bottom: 38px;
}
.container .inner.bg-3 {
    background: none;
    height: 884px;
}
.container .inner.bg-3 .text1 {
    width: 90%;
    left: 5%;
    height: auto;
}

.container .inner.bg-3 .text2 {
    line-height: 29px;
    top: 51px;
    font-size: 24px;
    width: 90%;
    left: 0;
    text-align: center;
}
.container .inner.bg-3 .text7, .container .inner.bg-3 .text5, .container .inner.bg-3 .text3 {
    font-size: 13px;
    line-height: 25px;
    min-height: 25px;
    padding-left: 30px;
    background-size: 18px!important;
    left: 5%;
    text-align: left;
}
.container .inner.bg-3 .text8, .container .inner.bg-3 .text6, .container .inner.bg-3 .text4 {
    z-index: 3;
    left: 0px;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    text-align: left;
}
.container .inner.bg-3 .text3 {
    bottom: -190px;
}
.container .inner.bg-3 .text4 {
    bottom: -290px;
}
.container .inner.bg-3 .text5 {
    bottom: -305px;
}
.container .inner.bg-3 .text6 {
    bottom: -382px;
}
.container .inner.bg-3 .text7 {
    bottom: -412px;
}
.container .inner.bg-3 .text8 {
    padding: 0 5%;
    bottom: -480px;
}
.container .inner.bg-3 .text9 {
    bottom: -720px;
    left: 0;
}
.container .inner section img {
    position: relative;
    z-index: 2;
    width: 100%;
}
.container .inner.bg-3 .text10 {
    bottom: -855px;
    left: 0;
        width: 100%;
}
.container .inner.bg-3 .text10 a {
    display: block;
    width: 90%;
    margin-left: 14%;
    height: 143px;
    background-size: contain;
}
.container .inner.bg-3 img.bg {
    display: none;
}
.container .inner.bg-4 .text1 {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.container .inner.bg-4 img.bg {
display: none;
}
.container .inner.bg-4 .text7, .container .inner.bg-4 .text5, .container .inner.bg-4 .text3 {
    bottom: inherit;
    font-size: 14px;
    left: 5%;
    padding: 0 10%;
    background: url(../images/pisechka.png) no-repeat 0 0px;
    background-size: 20px;
    text-align: left;
    line-height: 16px;
}
.container .inner.bg-4 .text6, .container .inner.bg-4 .text4, .container .inner.bg-4 .text2 {
    font-size: 15px;
    padding: 0px 10%;
    text-align: left;
}
.container .inner.bg-4 .text5 {
    top: 220px;
}
.container .inner.bg-4 .text7 {
    top: 283px;
}
.container .inner.bg-4 .text3 {
    top: 95px;
}
.container .inner.bg-4 .text2 {
    top: 180px;
}
.container .inner.bg-4 .text4 {
    top: 260px;
}
.container .inner.bg-4 .text6 {
    top: 320px;
}
.container .inner.bg-4 .text8 img{
    width: 155px!important;
    /*margin-left: 25%!important;*/
    margin-top: -20px;

}
.container .inner.bg-4 .text9 {
    font-size: 24px;
    line-height: 24px;
    right: 15px;
    top: 600px;
}
.container .inner.bg-4 .text10 {
    font-size: 24px;
    line-height: 24px;
    top: 620px;
    right: 15px;
    font-size: 44px;
    line-height: 60px;
}
.container .inner.bg-4 .text11 {
    bottom: 0;
    background-size: contain;
    width: 90%;
    height: 138px;
    top: 685px;
    right: 0;

}

.container .inner section .buy.type-1 {
    width: 80%;
    height: 80px;
    right: 0px;
    bottom: 28px;
    background-size: cover;
}
.container .inner.bg-4 {
    height: 800px;
}
.container .inner.bg-5 .text4 {
    font-size: 15px;
    line-height: 15px;
    top: 190px;
    padding: 0 5%;
}
.container .inner.bg-5 .text9,
.container .inner.bg-5 .text8,
.container .inner.bg-5 .text7,
.container .inner.bg-5 .text5,
.container .inner.bg-5 .text5,
.container .inner.bg-5 .text3 {
  display: none;
}
.container .inner.bg-5 .text10 {
    font-size: 20px;
    line-height: 24px;
    bottom: inherit;
    right: 5%;
    top: 450px;
}
.container .inner.bg-5 .text11 {
    top: 470px;
    right: 5%;
    font-size: 37px;
    line-height: 60px;
}
.container .inner.bg-5 .text12 {
    position: absolute;
    z-index: 3;
    width: 324px;
    height: 93px;
    background-size: 90%;
    cursor: pointer;
    top: 450px;
    left: 5%;
    right: 0;
}
.container .inner.bg-5 {
    height: 576px;
    background-size: cover;
}
.container .inner.bg-7 .text2 {
    font-size: 24px;
    line-height: 24px;
    color: #a00000;
    width: 100%;
    top: 83px;
    text-align: center;
    text-shadow: 0px 0px 4px rgb(255, 255, 255);
}
.container .inner.bg-8 .text1 {
    font-size: 22px;
    width: 100%;
    line-height: 26px;
    text-align: center;
    padding-top: 5px;
}
.container .inner.bg-8 {
       height: 900px;
}
.container .inner.bg-8 img.bg {
   display: none;
}
.container .inner.bg-8 .statya_text2 {
    top: 350px;
}
.container .inner.bg-8 .statya_text3 {
    top: 584px;
}
.container .inner.bg-8 .statya_text4 {
    top: 735px;
}
.container .inner.bg-8 .text5 {
    font-size: 24px;
    line-height: 24px;
    top: 866px;
    height: 90px;
    text-align: center;
}
.container .inner.bg-10 .text1 {
    font-size: 24px;
    line-height: 24px;
        top: 80px;
}
.container .inner.bg-10 section img {
    position: relative;
    z-index: 2;
    width: auto;
    height: 100%;
    left: -75%;
}

.comment>a {
    display: inline-block;
    float: left;
    width: 15%;
    left: 20px;
    position: relative;
}
.com_txt {
    width: 70%;
    float: left;
    display: inline-block;
    position: relative;
    left: 30px;
}
.container .inner.bg-11 section.cf>img {
    display: none;
}
.container .inner.bg-11 section {
        height: 420px;
}

.container .inner.bg-11 .text4 {
    top: 10px;
    left: 0%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
}

#form,
input.only_number.inp.j-inp,
input.inp.j-inp,
select.inp.j-inp
 {
    width: 100%;
}

#form {
    margin-top: 200px;
}
.submit_btn {
    width: 100%;
    height: 106px;
    background-size: contain;
}

a.privacy {
    /*margin-top: 230px;*/
}
.container .inner.bg-11 {
    /*height: 540px;*/
    height: 100%;
}
.buttons.num1{
    left: 1%;
}

.container .inner.bg-3 .text10 a{
    width: 100%;
    margin-left: 5px;
}
}

@media (max-width: 420px) {

}

.width_fix {
    width: auto !important;
}

@media screen and (max-width: 999px) {
    .logo_footer {
        margin-top: 20px;
    }
    .container .inner.bg-11 .text1 {
        right: 15px;
    }
    .container .inner.bg-4 .text8 {
        width: 250px;
        left: 0;
    }
    .container .inner.bg-4 .text10 {
        right: 355px;
    }
    .container .inner.bg-4 .text9 {
        right: 360px;
    }
    .text7 img {
        bottom: -40px !important;
        right: 15px !important;
    }
    .buttons.num1 {
        width: 315px;
        height: 70px;
        bottom: -130px;
    }
    .container .inner.bg-1 {
        height: 700px;
    }
    .container .inner.bg-3 .text10 {
        left: inherit;
        right: 20px;
    }
    .container .inner.bg-3 .text9 {
        bottom: -805px;
        left: 60px;
    }
    .logo_footer {
        margin-top: 90px;
    }
}
@media screen and (max-width: 768px) {
    .prod_bottom {
        top: -140px;
    }
    .text7 img {
        left: 0;
        width: 300px !important;
        top: -530px;
    }
    .new_text {
        bottom: -100%;
    }
    a.buttons {
        bottom: -150px!important;
    }
    .container .inner.bg-1 {
        height: 1030px;
    }
    .buttons.num1 {
        background-size: cover;
    }
    .bg-1 .text4 {
        margin-bottom: 15px;
    }
    .container .inner.bg-2 {
        min-height: 440px;
        height: unset;
    }
    .container .inner.bg-3 .text2 {
        top: 75px;
        width: 100%;
    }
    .container .inner.bg-3 .text9 {
        left: 0;
    }
    .container .inner.bg-3 .text9 img {
        margin-left: 0 !important;
    }
    .container .inner.bg-3 .text9 {
        bottom: -725px;
    }
    .container .inner.bg-3 .text10 a {
        height: 70px;
        background-size: cover;
        width: 100%;

    }
    .container .inner.bg-3 .text10 {
        bottom: -815px;
        width: 300px;
    }
    .container .inner.bg-3 {
        height: inherit;
        min-height: 835px;
    }
    .container .inner.bg-4 .text2 {
        top: 330px;
    }
    .container .inner.bg-4 .text4 {
        top: 180px;
    }
    .container .inner.bg-4 .text3 {
        top: 35px;
    }
    .container .inner.bg-4 .text5 {
        top: 140px;
    }
    .container .inner.bg-4 .text6 {
        top: 250px;
    }
    .container .inner.bg-4 .text7 {
        top: 210px;
    }
    .container .inner.bg-4 .text8 {
        width: 300px;
    }
    .container .inner.bg-4 .text8 img {
        width: 100% !important;
    }
    .container .inner.bg-4 .text8 {
        top: 400px;
    }
    .container .inner.bg-4 .text9,
    .container .inner.bg-4 .text10 {
        right: inherit;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .container .inner.bg-4 .text9 {
        top: 620px;
    }
    .container .inner.bg-4 .text10 {
        top: 640px;
    }
    .container .inner.bg-4 .text11 {
        top: 710px;
        height: 70px;
        width: 100%;
        background-size: cover;
    }
    .container .inner.bg-10 section img {
        left: inherit;
    }
    .write-content.fb .comment img.ava {
        left: -20px;
    }
    .bg-11 #form {
        margin-top: 220px;
    }
    .bg-11 #form .new_price {
        margin-right: 15px;
    }
    .container .inner.bg-11 {
        min-height: 700px;
    }
    .logo_footer {
        margin-top: 230px;
    }
    #form {
        max-width: 300px;
    }
    section.cf {
        width: 300px !important;
    }
    .container .inner.bg-11 .text1 {
        right: 0;
    }
    .container .inner.bg-3 .text10 {
        right: 0;
    }
    .container .inner.bg-3 .text5 {
        bottom: -320px;
    }
    .container .inner.bg-3 .text5 br {
        display: none;
    }
    .container .inner.bg-3 .text6 {
        bottom: -400px;
    }
    .container .inner.bg-3 .text7 {
        bottom: -435px;
    }
    .container .inner.bg-3 .text8 {
        bottom: -485px;
    }
    .bg-1 .text {
        margin-bottom: 15px;
    }
    .inp, select {
        max-width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 999px){
    .prod_bottom {
        top: 25px;
    }
}
@media screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
        height: auto !important;
        margin: 0 auto;
        top: 170px;
    }
    .container .inner.bg-8 p {
        text-align: right;
        text-indent: 0;
    }
    .container .inner.bg-3 .text7, .container .inner.bg-3 .text5, .container .inner.bg-3 .text3 {
        line-height: 16px !important;
    }
    .container .inner.bg-3 .text3 {
        bottom: -210px;
    }
    .container .inner.bg-3 .text4 {
        bottom: -280px;
        margin-bottom: 0;
    }
    .container .inner.bg-3 .text2 {
        top: 85px;
    }
    .container .inner.bg-8 .statya_text1 {
        top: 70px;
    }
    .container .inner.bg-8 .statya_text3 {
        top: 575px;
    }
    .container .inner.bg-8 .statya_text4 {
        top: 720px;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .container .inner.bg-8 .statya_text2 {
        top: 350px;
    }
    .container .inner.bg-8 .statya_text3 {
        top: 565px;
    }
    .container .inner.bg-8 .statya_text4 {
        top: 710px;
    }
    .container .inner.bg-8 {
        height: 1200px;
    }
    .container .inner.bg-8 .text5 {
        top: 874px;
    }
}