@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.nowrap {
  white-space: nowrap;
}

* {
  box-sizing: border-box;
}

.link-abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.price-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.prod-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cpa__order_form {
  max-width: 300px;
}

.timer-wrap {
  font-size: 20px;
  text-align: center;
}

.inL_408671 {
  text-align: center !important;
  font-size: 18px;
}

@media (max-width: 992px) {
  .prod-block {
    justify-content: center;
  }

  .prod_img {
    margin-right: 50px;
  }
}

@media (max-width: 639px) {
  .prod-block {
    flex-direction: column;
  }

  .prod_img {
    margin: 0 0 20px;
  }

  /* .main-link {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
  } */
}

.price_main {
  border-bottom: 2px solid #d31812;
  font-size: 25px;
  line-height: 0;
  margin: 0 18px;
  white-space: nowrap
}

.js_old_price {
  margin: 0 18px;
  white-space: nowrap
}

@media screen and (max-width: 480px) {
  input {
    width: 90%
  }
}

.main-link {
  display: block;
  margin: 20px auto;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: #de0606;
  text-align: center;
  color: #fff !important;
  border-radius: 4px;
  border: none;
  cursor: pointer
}

.main-link--bottom {
  max-width: 200px;
  box-sizing: border-box;
}

.main-link:hover {
  opacity: .8
}

.time_remains {
  font-size: 1.1em;
  color: red;
  font-weight: 700
}

.prod_img_wrapper {
  max-width: 300px;
  margin: 0 auto 15px;
  position: relative;
  text-align: center;
}

.prod_img {
  width: 100%;
  max-width: 190px;
}

.price_main {
  border-bottom: 2px solid #d31812;
  font-size: 24px;
  line-height: 15px;
  margin: 0 auto;
}

.discountÑ {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
}

.js_old_price {
  display: block;
  text-align: center;
}

.js_old_price+p {
  margin-bottom: 0;
  text-align: center;
}

.js_old_price span {
  text-decoration: line-through;
}

.wheel_input {
  width: 100%;
  padding: 10px !important;
  display: block !important;
  margin: 0 auto 20px !important;
  padding: 10px !important;
  border: 2px solid grey !important;
  border-radius: 5px !important;
  box-sizing: border-box;
}

.data_label {
  line-height: 30px;
  display: block;
}

@media screen and (max-width: 480px) {
  .inL_408671 {
    font-size: 18px;
  }
}

input::-ms-clear {
  display: none;
}

.center {
  text-align: center !important;
}

html,
body,
div,
span,
h2,
p,
img,
b,
i,
dd,
ul,
li,
form,
footer,
header,
menu,
time {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

input {
  margin: 0;
  border: 0;
  outline: none;
}

input[type="text"] {
  padding: 0;
}

footer,
header,
menu {
  display: block;
}

ul {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

.upheader {
  background: #1e73be;
  width: 100%;
}

.upheader li {
  display: inline-block;
  padding: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}

.headerlist {
  height: 25px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.upheader span {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.logo {
  display: block;
  text-align: center;
}

header {
  border-bottom: 1px solid #e6e6e6;
  border-top: 3px solid #e6e6e6;
  ;
}

.content,
.sidebar {
  padding-top: 20px;
}

.menu li a {
  text-transform: uppercase;
  font-weight: bold;
}

.content {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  background: white;
}

.link {
  padding-bottom: 20px;
}

.link a {
  color: lightgrey !important;
  text-decoration: none;
}

.content {
  background: #f2f2f2;
}

.social {
  box-sizing: border-box;
  /* border-top: 1px solid #e6e6e6; */
  border-bottom: 1px solid #e6e6e6;
}

.social img {
  width: 100%;
  max-width: 260px;
}

.social img,
.share {
  display: inline-block;
  vertical-align: middle;
}

.social {
  padding: 10px;
  display: flex;
  align-items: center;
}

.social p {
  margin: 0 10px 0 0 !important;
}

.share {
  font-weight: bold;
}

.buynowbtn {
  color: #0070c0;
  text-decoration: none;
  position: absolute;
  top: 21px;
  right: 32px;
  font-size: 24px;
}

.logo img {
  width: 100%;
  max-width: 450px;
}

.title {
  text-align: center;
  font-size: 18px;
}

.username {
  display: inline-block;
}

.username a {
  color: #00B38F;
  text-decoration: none;
}

.second img {
  padding: 5px;
}

.all {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

.all div {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.all div img {
  width: 100%;
  max-width: 200px;
}

.qwer {
  background: white;
}

.btn_top {
  color: #0070c0;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 16px;
  transform: translateY(-50%);
  width: 69%;
  text-align: center;
}

.btn_bottom {
  color: #0070c0;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 4px;
  font-size: 18px;
  width: 71%;
  text-align: center;
  transform: translateY(-50%);
}

.live {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 5px 0 0;
}

.burger {
  display: none;
}

.fixed-block {
  width: 100%;
  margin-top: 40px;
  position: fixed;
  top: 20px;
}

.burger {
  display: none;
}

.footer {
  width: 100%;
  max-width: 961px;
  margin: 0 auto;
  background: black;
}

.footercontent {
  text-align: center;
}

.footercontent li {
  padding: 10px 0;
}

.footercontent a {
  color: white;
  text-decoration: none;
}

.footercontent div {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  text-transform: uppercase;
}

.fa-search {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  padding: 5px;
  font-size: 20px;
}

@media screen and (max-width: 805px) {
  .burger {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .burger a {
    font-size: 30px;
    color: black;
  }
}

.text a {
  text-decoration: none;
  color: #0070c0;
}

.title a {
  text-decoration: none !important;
  color: #0070c0 !important;
}

footer {
  padding: 10px 0;
  text-align: center;
  color: #fff;
  background-color: #333;
}

h2 a {
  color: #0070c0;
}

@media screen and (max-width: 500px) {
  .footer {
    display: none;
  }
}

.username a {
  color: darkgreen !important;
}

.bgbutton {
  max-width: 205px;
  font-size: 12px;
  width: 100%;
  position: relative;
  display: block;
  margin: 10px auto;
}

body {
  font-size: 16px;
}

.limit {
  max-width: 960px;
  margin: 0 auto;
  display: block;
}

header {
  position: relative;
  background: white;
  z-index: 99;
}

header .menu {
  display: table;
  font-size: 0;
}

header .menu .item {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  transition: all 0.3s ease;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 0px 10px;
}

header .menu .item a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

header .menu .item a {
  background: white;
}

header .menu .item a:hover {
  background: white;
  color: black;
}

header .limit {
  position: relative;
}

header {
  margin-bottom: 10px;
  text-align: left;
}

header .menu {
  margin: 0 auto 0 0;
}

header .menu {
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  top: 0;
}

.logo {
  display: block;
  border: 0;
  text-decoration: none;
}

.logo img {
  display: block;
  margin: 0 auto;
}

main .content {
  width: calc(100% - 240px);
  padding: 0 15px;
  float: left;
  vertical-align: top;
}

main .content .imageCont {
  text-align: center;
  margin: -10px auto 20px;
}

main .content .imageCont img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.fixedContent {
  width: 210px;
  margin: 0 0 0 auto;
  padding: 15px;
  padding-bottom: 1px;
  background-color: #e2e2e2;
}

.main-link--side {
  font-size: 18px;
}

main .content .text h2 {
  margin: 0 0 15px;
  font-size: 21px;
}

main .sidebar {
  width: 240px;
  padding: 0 15px;
  float: left;
  vertical-align: top;
  text-align: justify;
}

main .sidebar .imageCont img {
  border: none;
  width: 100%;
}

.imageInText.top {
  max-width: 100%;
  display: block;
  margin: 0 auto 10px;
}

.imageInText.left {
  max-width: 240px;
  float: left;
  margin: 5px 10px 0 0;
  width: 100%;
  position: relative;
  bottom: -10px;
}

.imageInText.center {
  max-width: 100%;
  display: block;
  margin: 0 auto 15px;
}

.commentView {
  display: none;
}

main #facebook {
  padding: 20px;
  box-sizing: border-box;
  background: #f6f7f9;
  margin-top: 20px;
}

main #facebook .avatar {
  width: 32px;
  height: 32px;
  float: left;
}

main #facebook .writeComment {
  box-sizing: border-box;
}

main #facebook .writeComment:before,
main #facebook .writeComment:after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}

main #facebook .writeComment .form {
  box-sizing: border-box;
  padding-left: 40px;
  position: relative;
}

main #facebook .writeComment .form input {
  display: block;
  padding: 7px 5px;
  border: 1px solid #9a9a9a;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

main #facebook .writeComment .form .inscription {
  font-size: 10px;
  color: #ccc;
}

main #facebook .commentsList:before,
main #facebook .commentsList:after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}

main #facebook .commentsList .commentItem {
  box-sizing: border-box;
  margin: 10px 0;
}

main #facebook .commentsList .commentItem .commentBody {
  padding-left: 40px;
  font-size: 16px;
  text-align: justify;
}

main #facebook .commentsList .commentItem .commentBody .username {
  color: #3b5998;
  font-weight: 700;
  cursor: pointer;
}

main #facebook .commentsList .commentItem .commentBody .commentAction a {
  color: #3b5998;
  font-size: 12px;
  text-decoration: none;
}

main #facebook .commentsList .commentItem .commentBody .commentAction a:first-child {
  display: none;
}

main #facebook .commentsList .commentItem .commentBody .commentAction .circle {
  font-size: 7px;
  position: relative;
  top: -2px;
  padding: 0 5px;
}

main #facebook .commentsList .commentItem .commentBody .commentAction .circle:nth-child(2) {
  display: none;
}

main #facebook .commentsList .commentItem .commentBody .commentAction .likeImage {
  position: relative;
  top: 8px;
  width: 25px;
  height: 25px;
}

main #facebook .commentsList .commentItem .commentBody .commentAction .likeCount {
  color: #ccc;
}

main #facebook .commentsList .commentItem .commentBody .commentAction .time {
  color: #ccc;
  font-size: 12px;
}

main #facebook {
  display: block;
}

header .mobileMenu {
  display: none;
}

.img_prod {
  width: 100px;
  margin-right: 20px;
  float: left;
}

.p_mar {
  margin-top: 12px
}

.imageInText.left.prod {
  max-width: 174px;
  float: none;
  margin: 0 auto;
  display: block;
  position: static;
}

h2.center,
p.center {
  text-align: center;
}

h2.bold,
p.bold {
  font-weight: 600;
}

h2.title {
  text-align: left;
}

main .content {
  background: none;
  border: 0;
}

.content .text {
  font-size: 18px;
}

.content .text>ul {
  list-style: disc;
  padding-left: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.content .text p {
  margin: 0 0 15px;
}

.text p {
  text-align: justify;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

.blockShadow {
  background: #cccccc none repeat scroll 0% 0%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  padding: 15px;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
}

.blockShadow p:last-child {
  margin-bottom: 0;
}

.blockShadow ul li,
.blockShadow>span {
  font-size: 16px;
}

.blockShadow p {
  font-size: 16px;
}

.blockShadow ul li {
  margin-bottom: 5px;
}

.blockShadow ul {
  margin-bottom: 15px;
}

.blockShadow>span {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
}

.blockShadow .second {
  margin-bottom: 20px;
}

.explorer {
  background: #e2e2e2;
  padding: 10px;
  margin-bottom: 15px;
}

.explorer p {
  text-align: left;
}

.explorer p:last-child {
  margin-bottom: 0;
}

.explorer img {
  float: left;
  margin-right: 10px;
}

.bgbutton {
  width: 242px;
  position: relative;
  display: block;
  margin: 10px auto;
}

.buynowbtn {
  position: absolute;
  top: 24px;
  right: 26px;
  font-size: 20px;
  color: #0070c0;
  text-decoration: none;
}

@media screen and (max-width: 810px) {
  main .sidebar {
    display: none;
  }

  .logo {
    position: relative;
    transform: none;
  }

  main .content {
    width: 100%;
    box-sizing: border-box;
  }

  header a {
    text-decoration: none;
  }

  header .mobileMenu {
    display: block;
    color: #000000;
    font-size: 30px;
    position: absolute;
    top: 50%;
    text-align: left;
    padding-left: 20px;
  }

  .logo img {
    width: 80%;
  }

  .blockShadow p {
    font-size: 17px;
    line-height: 1.3;
  }

  .blockShadow ul li,
  .blockShadow>span {
    font-size: 17px;
    line-height: 1.3;
  }

  .blockShadow ul li {
    margin-bottom: 5px;
  }

  .content .text p {
    font-size: 17px;
    line-height: 1.3;
  }

  .prod_img_wrapper {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 800px) {

  main #facebook .commentsList .commentItem:nth-child(-n+7) {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .imageInText.left {
    float: none;
    display: block;
    max-width: 300px;
    margin: 10px auto;
    width: 100%;
  }
}

@media screen and (max-width: 410px) {
  main .content .imageCont img {
    width: 100%;
  }
}

img[width="1"] {
  display: none !important;
}

@media screen and (max-width: 639px) {

  .text p,
  main #facebook .commentsList .commentItem .commentBody {
    text-align: left;
  }

  .imageInText.left {
    margin: 0 auto 15px;
    display: block;
    position: static;
    float: none;
  }
}

@media screen and (max-width: 479px) {
  main #facebook {
    padding-left: 10px;
    padding-right: 10px;
  }

  .headerlist,
  header .menu {
    justify-content: center;
  }
}