/* roboto-condensed-regular - cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/roboto-condensed-v19-cyrillic-regular.woff2') format('woff2'),
    url('../fonts/roboto-condensed-v19-cyrillic-regular.woff') format('woff');
  font-display: swap;
}

/* roboto-condensed-700 - cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/roboto-condensed-v19-cyrillic-700.woff2') format('woff2'),
    url('../fonts/roboto-condensed-v19-cyrillic-700.woff') format('woff');
  font-display: swap;
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* End of slider */
.useful-title {
  margin: auto;
  text-align: center;
}

.useful__wrap {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.useful__wrap .col-lg-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

img[height='1'],
img[width='1'] {
  display: none !important;
}

a.banner-button {
  display: flex;
  color: white !important;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 0 30px;
  line-height: 25px;
}

.timer-wrapper {
  font-size: 30px;
}

.feedback-sliders {
  position: relative;
}

.slick-arrow {
  text-shadow: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  text-indent: -9999px;
  font-size: 0;
  top: calc(50% - 50px);
  position: absolute;
  border: 2px solid grey;
}

.slide-content {
  width: 90%;
}

.slick-next {
  background: #fff url(../images/arrow-right.png) no-repeat 16px center;
  right: 0px;
  background-size: 16px;
}

.slick-prev {
  left: 0px;

  background: #fff url(../images/arrow-l.png) no-repeat 12px center;
  background-size: 16px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes flash {
  0%,
  100%,
  50% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  60% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  80% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
}

.swing {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

main,
nav {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul ul {
  margin-bottom: 0;
}

b {
  font-weight: bolder;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}

[type='reset'],
button,
html [type='button'] {
  -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type='time'] {
  -webkit-appearance: listbox;
}

output {
  display: inline-block;
}

[hidden] {
  display: none !important;
}

@-ms-viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .my-popup {
    width: 640px !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1190px;
  }

  .research .button3 {
    margin-top: 55px;
    margin-bottom: 30px;
  }
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-7,
.col-lg-8,
.col-lg-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 992px) {
  .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.align-items-end {
  -webkit-box-align: end !important;
  -webkit-align-items: flex-end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

::selection {
  background-color: #17844d;
  color: #fff;
}

body {
  font-size: 18px;
  min-width: 360px;
  position: relative;
  line-height: 1.3;
  font-family: 'HeliosС', sans-serif;
  overflow-x: hidden;
  color: #000;
}

body input {
  border: #666 1px solid;
  outline: 0;
}

body input:focus:required:invalid {
  border-color: red;
}

body input:required:valid {
  border-color: green;
}

a:hover {
  text-decoration: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

b {
  font-weight: 700;
}

.header-top {
  background: #17844d;
  text-align: center;
  color: #fff;
  font-size: 24px;
  padding: 20px 0;
}

.header-top p {
  margin-bottom: 0;
  color: #fff;
}

.header-top span {
  color: #ffeb00;
}

.container {
  border: 1px solid transparent;
}

.main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-menu li {
  list-style-type: none;
  margin-top: 5px;
}

.main-menu li a {
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 17px;
  color: #f28f00;
  font-weight: 600;
}

.main-menu li a:hover {
  color: #f28f00;
  text-decoration: none;
}

.menu__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  cursor: pointer;
  display: none;
  right: 15px;
  top: 42px;
}

.menu-container {
  position: relative;
  margin-top: 1px;
}

.menu__icon > span {
  width: 33px;
  height: 5px;
  background-color: #f18e00;
  position: absolute;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 2px;
}

.menu__icon span:nth-child(2) {
  top: 10px;
}

.menu__icon span:nth-child(3) {
  top: 18px;
}

.menu__icon.active span:nth-child(1) {
  opacity: 0;
}

.menu__icon.active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 14px;
}

.menu__icon.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 14px;
}

.banner {
  background-image: url(../images/1.jpg);
  background-position: left calc(50% + 190px) bottom 0px;
  background-repeat: no-repeat;
  padding-bottom: 40px;
  padding-top: 20px;
}

.banner-description {
  display: block;
}

.banner-title {
  font-family: HeliosCond, sans-serif;
  font-size: 28px;
  text-align: center;
  margin-bottom: 110px;
}

.banner-title-main {
  font-family: HeliosCond, sans-serif;
  font-weight: 700;
  font-size: 76px;
  color: #f18e00;
}

.banner-offer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

.banner-offer-description {
  color: #17844d;
  font-family: HeliosC, sans-serif;
  font-weight: 700;
  font-size: 27px;
  margin-left: 20px;
  line-height: 1.1;
}

.banner-bage span {
  font-size: 45px;
  line-height: 1;
  display: block;
}

.banner-bage {
  background: #17844d;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.banner-bage div {
  line-height: 1;
  margin-right: 20px;
}

.banner-list {
  font-size: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  margin-top: 15px;
}

.banner-list img {
  margin-right: 10px;
}

.banner-list-wrapper {
  padding-top: 50px;
  max-width: 471px;
}

.banner-button {
  background-image: linear-gradient(
    0deg,
    rgba(250, 213, 143, 1) 0%,
    rgba(250, 213, 143, 1) 25%,
    rgba(237, 113, 34, 1) 49.9%,
    rgba(237, 113, 34, 1) 50.1%,
    rgba(250, 213, 143, 1) 75%,
    rgba(250, 213, 143, 1) 100%
  );
  background-size: 100% 200%;
  background-position: top center;
  width: 290px;
  height: 85px;
  margin-top: 30px;
  border-radius: 15px;
  margin-left: 40px;
  transition: 0.3s;
}

.banner-button:hover {
  background-position: bottom center;
}

.can1 {
  font-size: 25px;
  font-family: 'BauhausC Heavy';
  color: rgb(255, 255, 255);
  line-height: 1;
  text-shadow: 0px 0px 0 rgb(201, 201, 201), 1px 1px 0 rgb(162, 162, 162), 2px 2px 1px rgba(0, 0, 0, 0.4),
    2px 2px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.can2 {
  font-size: 50px;
  font-family: 'HeliosC';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 0px 0px 0 rgb(201, 201, 201), 1px 1px 0 rgb(162, 162, 162), 2px 2px 1px rgba(0, 0, 0, 0.4),
    2px 2px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.banner-img {
  margin-left: -30px;
  max-width: 200px;
  margin-top: 20px;
}

.green-line {
  height: 86px;
  background: #16844d;
}

.danger {
  background: url(../images/2a.jpg) no-repeat center top/cover;
  padding: 40px 0;
}

.h2 {
  color: #17844d;
  text-align: center;
  font-size: 52px;
  font-weight: 700;
  padding-bottom: 30px;
  line-height: 1.2;
}

.danger-list li img {
  margin-right: 23px;
  width: 40px;
}

.danger-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.danger-list li:not(:last-of-type) {
  padding-bottom: 15px;
}

.danger-list {
  list-style-type: none;
  font-size: 24px;
  padding: 0;
  margin-bottom: 0;
}

.attention {
  color: #e81c24;
  font-weight: 700;
  font-size: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  line-height: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
}

.attention img {
  margin-right: 20px;
}

.danger-sub {
  font-size: 25px;
  padding-top: 30px;
}

.form-wrapper {
  width: 390px;
  background: #fff;
  border: 2px solid #313131;
  border-radius: 50px;
  position: relative;
  padding: 40px;
  margin-left: 100px;
}

.timer {
  background: #f08e00;
  color: #fff;
  font-size: 20px;
  padding: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
}

.timer .dot {
  margin: 0 5px;
}

.timer-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 16px;
  padding-top: 15px;
}

.price-text {
  text-align: center;
  margin-bottom: 5px;
}

.price_old {
  text-decoration: line-through;
  font-weight: 700;
  color: #b2b4b6;
  font-size: 30px;
  line-height: 1;
}

.price_main {
  font-weight: 700;
  color: #17844d;
  font-size: 33px;
  line-height: 1;
}

.form-area {
  padding-top: 15px;
}

.form-area input {
  display: block;
  width: 100%;
  margin: 10px auto;
  height: 49px;
  padding-left: 20px;
  border-radius: 5px;
  border: 1px solid #000;
  color: #999b9e;
  font-size: 21px;
  box-sizing: border-box;
}

.form-area label {
  display: block;
}

.form-area button {
  background: #539241;
  width: 100%;
  height: 70px;
  border: 0;
  cursor: pointer;
  margin: 15px auto 0;
  display: block;
  color: white;
  font-size: 38px;
  border-radius: 15px;
  text-shadow: 0 0 black;
  transition: all 0.3s;
}

.form-area button:hover {
  background: darkgreen;
}

button {
  font-size: 42.6px;
  font-family: 'HeliosC';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.787;
  text-align: center;
  text-shadow: 0px 0px 0 rgb(221, 221, 221), 1px 1px 0 rgb(201, 201, 201), 2px 2px 0 rgb(181, 181, 181),
    3px 3px 2px rgba(0, 0, 0, 0.6), 3px 3px 1px rgba(0, 0, 0, 0.5), 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.red-line {
  background: #e81c23;
  font-weight: 700;
  font-size: 28px;
  color: #fff;
  padding: 15px 0;
  line-height: 1;
}

.cause-pain {
  background: url(../images/3.jpg) no-repeat top right;
  padding: 40px 0;
  background-size: 100%;
}

.stage-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.stage-item {
  height: 216px;
  width: 306px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-right: 40px;
  padding-top: 30px;
  position: relative;
}

.stage-item-1 {
  background: url(../images/z1.png) no-repeat;
  z-index: 4;
}

.stage-item-2 {
  background: url(../images/z2.png) no-repeat;
  z-index: 3;
}

.stage-item-3 {
  background: url(../images/z3.png) no-repeat;
  z-index: 2;
}

.stage-item-4 {
  background: url(../images/z4.png) no-repeat;
  z-index: 1;
  width: 276px;
  padding-right: 0;
}

.facts-title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: #e81c24;
  font-weight: 700;
  font-size: 28px;
  padding-left: 10px;
  padding-right: 10px;
}

.facts-title span {
  display: block;
  font-weight: 400;
  color: #7f7f7f;
}

.facts-img {
  padding-top: 10px;
}

.facts-img img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.diferents-title {
  font-weight: 700;
  font-size: 52px;
  color: #f17c22;
  text-align: center;
  line-height: 1;
  padding: 0px 0 60px 0;
}

.diferents {
  background: url(../images/5.jpg) no-repeat top left/contain;
  padding: 40px 0;
  background-size: cover;
}

.comparison-header {
  border-top: 1px solid #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.table-header {
  color: #17844d;
  font-size: 28px;
  text-align: center;
  background: #f5f5f5;
  padding: 10px;
  -webkit-box-shadow: inset 0 -7px 5px -5px rgba(0, 0, 0, 0.45);
  box-shadow: inset 0 -7px 5px -5px rgba(0, 0, 0, 0.45);
  min-width: 415px;
}

.third-row {
  max-width: 410px;
}

.second-row {
  max-width: 340px;
}

.second-row img {
  display: block;
  margin: -30px 0 0 0;
}

.table-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #a6a6a6;
}

.table-row:last-child {
  border-bottom: 1px solid transparent;
}

.table-cell.second-cell {
  width: 340px;
  text-align: center;
  color: #17844d;
  font-size: 28px;
  padding: 30px 5px;
  border-left: 5px solid #eaeaea;
  border-right: 5px solid #eaeaea;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.table-cell {
  font-size: 21px;
  width: 415px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  position: relative;
}

.dark-sq {
  display: block;
  width: 18px;
  height: 18px;
  background: #b7b8ba;
  position: absolute;
  left: 15px;
  margin-top: 5px;
}

.green-sq {
  display: block;
  width: 18px;
  height: 18px;
  background: #16844d;
  position: absolute;
  left: 15px;
  margin-top: 5px;
}

.mobile-only {
  display: none;
}

.mobile-row {
  position: relative;
  font-size: 21px;
  padding: 12px 10px 12px 50px;
}

.img-responsive {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -30px;
}

.mobile-q {
  font-size: 24px;
  color: #17844d;
  background: #fff;
  text-align: center;
  padding: 10px;
}

.footnote {
  font-size: 28px;
  text-align: center;
  max-width: 1040px;
  padding: 30px;
  background: #defce7;
  border-radius: 70px;
  margin: auto;
  margin-top: 30px;
}

.button3 {
  background-image: linear-gradient(
    0deg,
    rgba(250, 213, 143, 1) 0%,
    rgba(250, 213, 143, 1) 25%,
    rgba(237, 113, 34, 1) 49.9%,
    rgba(237, 113, 34, 1) 50.1%,
    rgba(250, 213, 143, 1) 75%,
    rgba(250, 213, 143, 1) 100%
  );
  background-size: 100% 200%;
  background-position: top center;
  color: white;
  max-width: 549px;
  height: 92px;
  display: block;
  margin: 0px auto;
  margin-top: 20px;
  position: relative;
  text-align: center;
  border-radius: 15px;
  transition: 0.3s;
  padding-left: 30px;
  padding-right: 30px;
}

.button3:hover {
  background-position: bottom center;
}

.can3 {
  font-size: 36px;
  font-family: 'HeliosC';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 0px 0 rgb(205, 205, 205), 1px 1px 0 rgb(158, 158, 158), 2px 2px 0 rgb(112, 112, 112),
    3px 3px 2px rgba(0, 0, 0, 0), 3px 3px 1px rgba(0, 0, 0, 0.5), 0px 0px 2px rgba(0, 0, 0, 0.2);
  line-height: 86px;
}

.button3:hover {
  color: white;
}

.diagram {
  padding: 40px 0;
}

.diagram-left-title,
.diagram-right-title {
  max-width: 560px;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.diagram-left-title {
  background: #f07b21;
}

.diagram-right-title {
  background: #16844d;
}

.diagram-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.diagram-area {
  position: relative;
}

.red-circle {
  background: #e81c23;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.green-circle {
  background: #16844d;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.diagram-area-desktop img {
  display: block;
  margin: 0 auto;
}

.diagram-item {
  display: inline-block;
}

.green-line-description {
  background: #16844d;
  font-size: 52px;
  text-align: center;
  padding: 15px;
  color: #fff;
  font-weight: 700;
}

.day28 {
  background: url(../images/9.jpg) no-repeat center top;
  min-height: 885px;
}

.day28-area {
  background: url(../images/3.png) no-repeat center top/contain;
  min-height: 772px;
  margin-top: 40px;
  position: relative;
}

.day28-item {
  max-width: 310px;
  font-size: 20px;
  position: absolute;
}

.item-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.item-list ul {
  list-style-type: square;
  color: #b7b8ba;
}

.item-list ul li span {
  color: #000;
}

.item-1 .item-title {
  color: #16844d;
}

.item-1 {
  top: 140px;
  left: 110px;
}

.item-2 .item-title {
  color: #f17c22;
  font-weight: 400;
}

.item-2 .item-title span {
  font-weight: 700;
  display: block;
}

.item-2 {
  left: 430px;
  bottom: 125px;
}

.item-3 .item-title {
  color: #356593;
  font-weight: 400;
}

.item-3 .item-title span {
  font-weight: 700;
  display: block;
}

.item-3 {
  right: 44px;
  top: 90px;
}

.composition {
  background: url(../images/10.jpg) no-repeat right -10vw top 0px;
  padding: 40px 0 40px 30px;
}

.composition-title {
  margin-bottom: 30px;
  font-size: 52px;
  text-align: center;
  font-weight: 700;
  color: #17844d;
  padding-top: 10px;
}

.composition-title span {
  display: block;
  font-size: 28px;
  text-align: center;
  font-weight: 400;
}

.composition-item {
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 21px;
  position: relative;
  margin: 20px auto;
}

.composition-item span {
  color: #17844d;
  font-weight: 700;
  display: block;
}

.composition-item:before {
  content: '';
  display: block;
  background: url(../images/drop.jpg) no-repeat center center;
  width: 26px;
  height: 38px;
  position: absolute;
  left: -30px;
  margin-top: 8px;
}

.about-title {
  color: #17844d;
  text-align: center;
  font-size: 28px;
  padding: 50px 7px 40px 7px;
}

.excerpt {
  background-color: rgba(245, 255, 248, 0.7);
  padding: 40px;
  position: relative;
  font-size: 21px;
  border-radius: 80px;
  margin-left: 60px;
}

.signature {
  color: #17844d;
  font-family: HeliosCondItalic, sans-serif;
  font-weight: 700;
  padding-top: 30px;
}

.research-title {
  color: #17844d;
  font-size: 36px;
  font-weight: 700;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.lt109 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.research-title img {
  display: block;
  margin-right: 20px;
  width: 95px;
  height: 82px;
}

.research-description {
  font-size: 21px;
  padding-top: 45px;
}

.research {
  background: url(../images/11.jpg) no-repeat left 430px;
  padding: 40px 0;
}

.research-result-title {
  color: #17844d;
  font-size: 36px;
  padding: 15px 0;
}

.dark-sq-line {
  display: inline-block;
  height: 33px;
  padding: 5px;
  background: #b7b8ba;
  margin-right: 10px;
  opacity: 0.7;
}

.research-result-item {
  font-size: 21px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-precent span {
  margin-right: 20px;
  font-size: 36px;
  color: #17844d;
  font-weight: 700;
}

.feedback-sliders {
  padding: 70px 0;
}

.slider-avatar {
  display: block;
  margin: 0 auto;
}

.slide-content p {
  font-size: 21px;
  color: #231f20;
  text-align: justify;
  line-height: 1.1;
  margin-bottom: 0;
}

.slide-title {
  color: #17844d;
  font-size: 21px;
  font-family: HeliosCondItalic, sans-serif;
  font-weight: 700;
  border-bottom: 2px solid #17844d;
  margin-bottom: 15px;
}

.how-order {
  padding-top: 40px;
  padding-bottom: 20px;
}

.how-title {
  font-size: 36px;
  color: #17844d;
  text-align: center;
  padding: 0px 0 60px 0;
  font-weight: 700;
}

.how-order-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.circle-1 {
  background: #fffaf5;
  width: 290px;
  text-align: center;
  border: 6px solid #cceb9f;
  border-radius: 100%;
  height: 290px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  color: #17844d;
  position: relative;
  line-height: 1.25;
  padding: 30px;
}

.circle-1:after {
  content: '';
  background: url(../images/cir1.png) no-repeat center center/contain;
  width: 130px;
  height: 130px;
  position: absolute;
  right: 0;
  top: -55px;
}

.circle-2 {
  background: #f5fff8;
  width: 400px;
  text-align: center;
  border: 8px solid #79b895;
  border-radius: 100%;
  height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  color: #17844d;
  position: relative;
  line-height: 1.25;
  padding: 30px;
}

.circle-2:after {
  content: '';
  background: url(../images/cir2.png) no-repeat center center/contain;
  width: 130px;
  height: 130px;
  position: absolute;
  right: 20px;
  top: -30px;
}

.circle-3 {
  background: #f8f5ff;
  width: 290px;
  text-align: center;
  border: 6px solid #16844d;
  border-radius: 100%;
  height: 290px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  color: #17844d;
  position: relative;
  line-height: 1.25;
  padding: 30px;
}

.circle-3:after {
  content: '';
  background: url(../images/cir3.png) no-repeat center center/contain;
  width: 130px;
  height: 130px;
  position: absolute;
  right: 0;
  top: -75px;
}

.useful {
  background: #17844d;
  color: #fff;
  padding: 20px 0;
}

.useful-title {
  font-weight: 700;
  font-size: 28px;
}

.facts-img--mob {
  display: none;
}

.useful-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.useful-item1 {
  justify-content: flex-end;
  width: 100%;
}

.useful-item img {
  display: block;
  margin-right: 15px;
}

.useful-item_description {
  font-size: 15px;
  font-weight: 700;
}

.desktop-hide {
  display: none;
}

@media (max-width: 1199.98px) {
  .logo {
    max-width: 200px;
  }

  .logo img {
    max-width: 100%;
  }

  .main-menu li a {
    padding: 0 7px;
  }

  .main-menu li {
    margin-top: 16px;
  }

  .form-wrapper {
    margin: 10px auto;
  }

  .banner-title-main {
    font-size: 66px;
    line-height: 1;
  }

  .banner-title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .banner-offer {
    margin-top: 0;
  }

  .banner-bage span {
    font-size: 45px;
  }

  .banner-bage {
    font-size: 30px;
    padding: 10px;
  }

  .banner-offer-description {
    font-size: 25px;
  }

  .banner-list-wrapper {
    padding-top: 10px;
  }

  .banner-list {
    font-size: 24px;
  }

  .banner-img {
    margin-left: 10px;
    max-width: 180px;
  }

  .banner {
    background-position: left calc(50% + 150px) bottom 0px;
    background-size: 1210px;
  }

  .green-line-description {
    font-size: 45px;
  }

  .danger-list {
    font-size: 24px;
  }

  .danger-list li:not(:last-of-type) {
    padding-bottom: 10px;
  }

  .attention {
    font-size: 37px;
  }

  .danger-sub {
    font-size: 24px;
  }

  .inL_639327 {
    font-size: 21px !important;
  }

  .stage-item {
    margin: 0px auto;
    width: 210px;
    padding: 0;
    border: 2px solid red;
    background: #ffdfe1;
    height: 130px;
  }

  .facts-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .comparison-table {
    background: 0 0;
  }

  .diferents-title {
    font-size: 45px;
  }

  .table-header,
  .table-cell.second-cell {
    font-size: 24px;
  }

  .footnote {
    font-size: 24px;
    padding: 25px;
  }

  .diagram-left-title,
  .diagram-right-title {
    font-size: 22px;
    width: 100%;
  }

  .table-cell {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
  }

  .cause-pain {
    background-size: cover;
  }

  .diagram-area-desktop img {
    width: 90%;
  }

  .day28-area {
    background: 0 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: auto;
  }

  .day28-item {
    position: static;
    background: #fff;
    padding: 15px;
    border-radius: 20px;
  }

  .day28-item:not(:last-of-type) {
    margin-right: 20px;
  }

  .day28-item.item-3 {
    background: #f5fff8;
    border: 4px solid #16844d;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
  }

  .day28-item.item-2 {
    background: #f8f5ff;
    border: 4px solid #79b895;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
  }

  .day28-item.item-1 {
    background: #fffaf5;
    border: 4px solid #cceb9f;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
  }

  .day28-item.item-1:before {
    display: block;
    line-height: 1;
    color: #cceb9f;
    font-weight: bold;
    content: '1';
    left: 6px;
    top: -3px;
    font-size: 50px;
    position: absolute;
  }

  .day28-item.item-2:before {
    display: block;
    line-height: 1;
    color: #79b895;
    font-weight: bold;
    content: '2';
    left: 6px;
    top: -3px;
    font-size: 50px;
    position: absolute;
  }

  .day28 {
    min-height: auto;
    padding: 40px 0;
  }

  .day28-item.item-3:before {
    display: block;
    line-height: 1;
    color: #16844d;
    font-weight: bold;
    content: '3';
    left: 6px;
    top: -3px;
    font-size: 50px;
    position: absolute;
  }

  .item-title {
    font-size: 26px;
  }

  .item-list ul {
    margin-bottom: 0;
    padding-left: 20px;
  }

  .item-list ul {
    font-size: 18px;
  }

  .research-result-item {
    font-size: 19px;
  }

  .composition-title {
    font-size: 45px;
    padding-top: 0;
    margin-bottom: 20px;
  }

  .composition-title span {
    font-size: 24px;
  }

  .composition {
    background: none;
    padding: 40px 0;
  }

  .composition-item:before {
    left: 0;
  }

  .composition-item {
    padding: 15px 15px 15px 35px;
    font-size: 18px;
    margin: 10px 0;
  }

  .about-title {
    font-size: 24px;
    padding: 0;
    margin-bottom: 20px;
  }

  .excerpt {
    padding: 30px;
    font-size: 18px;
    border-radius: 70px;
    margin-left: 110px;
  }

  .signature {
    padding-top: 10px;
  }

  .research-title {
    font-size: 28px;
    align-items: center;
  }

  .research-description {
    font-size: 20px;
    text-align: center;
  }

  .slide-content p {
    font-size: 20px;
    margin-bottom: 0;
  }

  .slider-avatar {
    max-width: 100%;
  }

  .useful-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .useful-item img {
    margin-right: 10px;
  }

  .circle-1,
  .circle-2,
  .circle-3 {
    font-size: 19px;
  }

  .circle-1,
  .circle-3 {
    height: 250px;
    width: 250px;
  }

  .circle-2 {
    width: 290px;
    height: 290px;
  }
}

.banner-button--mob {
  display: none !important;
}

@media (max-width: 991.98px) {
  .slick-arrow {
    top: 125px;
  }

  .facts-img--desc {
    display: none;
  }

  .facts-img--mob {
    display: block;
  }

  .facts-img--mob .diagram-item {
    width: 100%;
  }

  .facts-img__col {
    width: 50%;
  }

  .facts-img__col:first-child {
    margin-right: 20px;
  }

  .facts-img--mob .diagram-area {
    display: flex;
    align-items: flex-start;
  }

  .slide-content {
    width: 100%;
  }

  .useful__wrap {
    display: flex;
  }

  .danger-list {
    font-size: 24px;
    max-width: 430px;
    margin: auto;
    width: 100%;
  }

  .menu-container {
    display: none;
  }

  .mobile-row {
    font-size: 19px;
  }

  .mobile-q {
    font-size: 22px;
  }

  .banner-button--desc {
    display: none !important;
  }

  .banner-button--mob {
    display: flex !important;
  }

  .main-menu {
    display: none;
  }

  .danger {
    padding: 30px 0;
  }

  .logo {
    padding-top: 10px;
    margin: auto;
  }

  .banner-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    font-size: 21px;
    margin-bottom: 20px;
  }

  .banner {
    padding: 30px 0;
  }

  .banner-title-main {
    font-size: 46px;
  }

  .banner-offer {
    justify-content: center;
  }

  .banner-offer-description {
    font-size: 32px;
  }

  .banner-bage span {
    display: block;
  }

  .banner-bage {
    font-size: 25px;
  }

  .banner-img {
    display: block;
    margin: 20px auto;
    width: 38%;
  }

  a.banner-button {
    margin: 0 auto;
  }

  .banner-list-wrapper {
    padding-top: 0;
    margin: auto;
  }

  .banner-list {
    font-size: 21px;
  }

  .banner-button {
    margin: 20px auto;
  }

  .danger-list li {
    font-size: 21px;
  }

  .stage-item {
    width: 165px;
  }

  .facts-title {
    font-size: 24px;
  }

  .cause-pain {
    padding: 30px 0;
    background: white;
  }

  .attention {
    font-size: 33px;
    display: flex;
    justify-content: center;
  }

  .danger-sub {
    font-size: 24px;
    padding-bottom: 20px;
    text-align: center;
  }

  .red-line {
    font-size: 21px;
    line-height: 1.1;
  }

  .diferents-title {
    font-size: 32px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .diferents {
    padding: 30px 0;
  }

  .table-header {
    min-width: 310px;
  }

  .day28-item:not(:last-of-type) {
    margin-right: 10px;
  }

  .footnote {
    font-size: 19px;
  }

  .day28-item {
    width: calc(100% / 3);
  }

  .diagram-area-desktop {
    display: none;
  }

  .day28-item.item-3:before,
  .day28-item.item-2:before,
  .day28-item.item-1:before {
    display: none;
  }

  .composition {
    padding: 30px 0;
  }

  .center {
    text-align: center;
    margin-top: 20px;
  }

  .center img {
    max-width: 180px;
  }

  .composition-title span {
    font-size: 21px;
  }

  .item-title {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .day28 {
    padding: 30px 0;
  }

  .item-list ul {
    font-size: 16px;
  }

  .diagram-left-title,
  .diagram-right-title {
    max-width: 100%;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    padding: 7px 20px;
    text-align: center;
    margin: 10px auto;
  }

  .diagram-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
  }

  .green-line-description {
    font-size: 32px;
  }

  .about-title {
    font-size: 23px;
    padding-top: 25px;
  }

  .excerpt {
    background: rgba(245, 255, 248, 0.8);
    padding: 15px 10px 15px 10px;
    position: relative;
    font-size: 18px;
    border-radius: 0;
    margin-left: 0;
  }

  .excerpt:after {
    display: none;
  }

  .excerpt:before {
    display: none;
  }

  .signature {
    padding-top: 15px;
  }

  .about-title {
    margin-bottom: 15px;
  }

  .diagram {
    padding: 30px 0;
  }

  .research {
    padding: 30px 0;
  }

  .research-title {
    display: block;
    font-size: 24px;
  }

  .research-title img {
    margin-bottom: 10px !important;
  }

  .research-description {
    padding-top: 10px;
    font-size: 18px;
  }

  .about .col-lg-3 {
    display: none;
  }

  .feedback-sliders {
    padding: 30px 0;
  }

  .research-result-title {
    font-size: 32px;
  }

  .item-precent span {
    margin-right: 10px;
    font-size: 30px;
  }

  .research-title img {
    margin: 0 auto;
  }

  .composition-title {
    font-size: 36px;
    margin-bottom: 0;
  }

  .h2 {
    font-size: 36px;
  }

  .research-result-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    font-size: 19px;
  }

  .item-precent {
    padding-bottom: 20px;
  }

  .slide-title {
    text-align: center;
    padding-top: 10px;
  }

  .how-order-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .circle-2 {
    width: 300px;
    height: 300px;
  }

  .circle-2:after {
    top: -70px;
  }

  .useful-title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
  }

  .circle-3:after {
    right: 100px;
  }

  .useful-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .useful-item img {
    display: block;
    margin: 10px auto;
  }

  .useful {
    padding: 30px 0;
  }

  .useful-item_description {
    text-align: center;
  }

  .how-order {
    padding-top: 30px;
  }
}

@media (max-width: 767.98px) {
  .composition-title {
    font-size: 30px;
  }

  .circle-3:after {
    right: 0px;
  }

  .composition-title span {
    font-size: 19px;
  }

  .day28-item {
    width: 100%;
    margin: 0 auto;
  }

  .day28-item:not(:last-of-type) {
    margin-bottom: 15px;
    margin-right: auto;
  }

  .day28-area {
    display: block;
  }

  .danger-sub {
    font-size: 22px;
  }

  .stage-item {
    width: 125px;
    font-size: 16px;
  }

  .facts-title {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .desktop-hide {
    display: block;
  }

  .form-area {
    padding-top: 15px;
  }

  .form-area input {
    display: block;
    width: 305px;
    margin: 10px auto;
    height: 49px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #000;
    color: #999b9e;
    font-size: 21px;
  }

  .slide-content p {
    font-size: 21px;
    color: #231f20;
    text-align: left;
  }

  .slide-content p {
    font-size: 18px;
    text-align: center;
  }

  .about {
    padding-bottom: 30px;
  }

  .form-wrapper {
    padding: 20px 15px;
    width: 330px;
  }

  .diferents-title br {
    display: none;
  }

  .inL_741669 {
    width: 310px;
  }

  .center img {
    max-width: 150px;
  }
}

@media (max-width: 575.98px) {
  .facts-img__col {
    width: 100%;
  }

  .facts-img__col:first-child {
    margin-right: 0;
  }

  .slick-arrow {
    top: 211px;
  }

  .facts-img--mob .diagram-area {
    display: block;
    max-width: 350px;
    width: 100%;
    margin: auto;
  }

  .useful__wrap {
    display: block;
    margin: auto;
  }

  .research-title {
    font-size: 19px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .banner-offer {
    flex-direction: column;
  }

  .banner-offer-description {
    text-align: center;
    margin-left: 0;
    margin-top: 5px;
  }

  .composition-item {
    padding: 15px;
    text-align: center;
  }

  .banner-button {
    width: 290px;
    height: 64px;
  }

  .facts-title {
    font-size: 19px;
  }

  .banner-bage {
    font-size: 26px;
  }

  .day28 {
    background: white;
  }

  .green-line-description {
    font-size: 26px;
  }

  .banner,
  .danger {
    background: none;
  }

  .banner-bage span {
    font-size: 40px;
  }

  .header-top {
    font-size: 20px;
    padding: 10px 0;
  }

  .can1 {
    font-size: 20px;
  }

  .form-area button {
    width: 300px;
    height: 71px;
  }

  .can3 {
    font-size: 25px;
    top: 35px;
    left: 55px;
  }

  .composition-item:before {
    display: none;
  }

  .stage-item {
    width: 100%;
    height: auto;
    padding: 15px;
    max-width: 300px;
    margin: auto;
  }

  .stage-item br {
    display: none;
  }

  .stage-item:not(:last-of-type) {
    margin-bottom: 15px;
  }

  .stage-wrapper {
    flex-wrap: wrap;
  }

  .composition-title {
    line-height: 1;
  }

  .composition-title span {
    margin-top: 8px;
  }

  .about-title {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
  }

  .useful-title {
    font-size: 24px;
  }

  .dark-sq-line {
    height: auto;
  }
}

@media (max-width: 361px) {
  .header-top {
    font-size: 18px;
    padding: 10px;
  }

  .banner-title {
    font-size: 20px;
  }

  .attention {
    font-size: 28px;
  }
}

.timer-slide-inner {
  display: block;
  -webkit-transform: perspective(100px);
  -ms-transform: perspective(100px);
  transform: perspective(100px);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow: hidden;
  float: left;
}

.timer-slide-bounding {
  display: block;
  padding: 0 0.0625em;
  visibility: hidden;
}

.timer-slide-new,
.timer-slide-old {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.timer-slide-new,
.timer-slide-old,
.timer-slide-bounding {
  text-align: center;
}

.timer-slide-animate .timer-slide-new,
.timer-slide-animate .timer-slide-old {
  -webkit-transition: -webkit-transform 800ms, opacity 700ms, color 400ms, -webkit-filter 400ms;
  transition: transform 800ms, opacity 700ms, color 400ms, filter 400ms;
}

.timer-slide-new {
  opacity: 0;
  z-index: 2;
}

.timer-slide-old {
  opacity: 1;
  z-index: 1;
}

.timer-slide-animate .timer-slide-new {
  opacity: 1;
}

.timer-slide-animate .timer-slide-old {
  opacity: 0;
}

.timer-slide-new {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: 2;
  opacity: 0;
}

.timer-slide-old {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  z-index: 1;
  opacity: 1;
}

.timer-slide-animate .timer-slide-new {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.timer-slide-animate .timer-slide-old {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}

#timer33308828ffe0cdd73544ad5af15ab88f .timer-slide-inner {
  border-radius: 0px;
  background-color: rgba(110, 110, 100, 0);
  font-size: 35px;
  color: #ffffff;
  font-family: 'Roboto Condensed';
}

#timer33308828ffe0cdd73544ad5af15ab88f .timer-separator {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

#timer33308828ffe0cdd73544ad5af15ab88f .timer-slide-bounding,
#timer33308828ffe0cdd73544ad5af15ab88f .timer-slide-new,
#timer33308828ffe0cdd73544ad5af15ab88f .timer-slide-old {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.inL_953296 {
  min-width: 128px;
  height: 37px;
  text-align: center;
  transform: translate3d(0px, 0px, 0px);
}

.inL_691364 {
  display: none;
  line-height: 1;
  margin: 0px;
}

.inL_722874 {
  display: none;
  line-height: 1;
  margin: 0px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto Condensed';
}

.inL_304748 {
  display: none;
}

.inL_567432 {
  visibility: hidden;
}

.inL_754095 {
  display: none;
  line-height: 1;
  margin: 0px;
  font-size: 12px;
  color: red;
  font-family: Arial;
}

.inL_712393 {
  display: none;
  vertical-align: top;
  line-height: 1;
  margin: 0px;
  padding: 0px 1px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto Condensed';
}

.inL_672821 {
  display: inline-block;
  line-height: 1;
  margin: 0px;
}

.inL_945903 {
  display: inline-block;
  line-height: 1;
  margin: 0px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto Condensed';
}

.inL_986610 {
  display: none;
}

.inL_657433 {
  margin-right: 1px;
}

.inL_698645 {
  visibility: hidden;
}

.inL_609934 {
  visibility: hidden;
}

.inL_274095 {
  display: none;
  line-height: 1;
  margin: 0px;
  font-size: 12px;
  color: red;
  font-family: Arial;
}

.inL_214517 {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  margin: 0px;
  padding: 0px 1px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto Condensed';
}

.inL_202114 {
  display: inline-block;
  line-height: 1;
  margin: 0px;
}

.inL_4700 {
  display: inline-block;
  line-height: 1;
  margin: 0px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto Condensed';
}

.inL_332070 {
  display: none;
}

.inL_381881 {
  margin-right: 1px;
}

.inL_972851 {
  visibility: hidden;
}

.inL_253252 {
  visibility: hidden;
}

.inL_790698 {
  display: none;
  line-height: 1;
  margin: 0px;
  font-size: 12px;
  color: red;
  font-family: Arial;
}

.inL_701127 {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  margin: 0px;
  padding: 0px 1px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto Condensed';
}

.inL_489931 {
  display: inline-block;
  line-height: 1;
  margin: 0px;
}

.inL_951761 {
  display: inline-block;
  line-height: 1;
  margin: 0px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto Condensed';
}

.inL_656585 {
  display: none;
}

.inL_171377 {
  margin-right: 1px;
}

/* .inL_318623 {
	visibility: hidden;
} */

/* .inL_495914 {
	visibility: hidden;
} */

.inL_737388 {
  display: none;
  line-height: 1;
  margin: 0px;
  font-size: 12px;
  color: red;
  font-family: Arial;
}

.inL_511076 {
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-name: none;
  /* visibility: hidden; */
}

.inL_639327 {
  background: #e81c23;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  line-height: 1;
  text-transform: uppercase;
}

.inL_415040 {
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-name: none;
  /* visibility: hidden; */
}

.inL_741669 {
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-name: none;
  /* visibility: hidden; */
}

.inL_418131 {
  background: rgba(255, 250, 245, 0.9);
}

.inL_215247 {
  background: rgba(248, 245, 255, 0.7);
}

.inL_613927 {
  background: rgba(239, 255, 246, 0.7);
}

.inL_825598 {
  background: rgba(255, 250, 245, 0.7);
}

.inL_906747 {
  background: rgba(248, 245, 255, 0.7);
}

.inL_553178 {
  background: rgba(239, 255, 246, 0.7);
}

.inL_457497 {
  background: rgba(255, 250, 245, 0.7);
}

.inL_503238 {
  background: rgba(248, 245, 255, 0.7);
}

.inL_34791 {
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-name: none;
  visibility: hidden;
}

.inL_57969 {
  visibility: hidden;
  animation-iteration-count: 1000;
  animation-name: none;
}

.inL_594847 {
  visibility: hidden;
  animation-iteration-count: 1000;
  animation-name: none;
}

.inL_551942 {
  visibility: hidden;
  animation-iteration-count: 1000;
  animation-name: none;
}

.inL_797418 {
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-name: none;
  /* visibility: hidden; */
}

html,
body,
.feedback-sliders {
  overflow-x: hidden;
}

.feedback-sliders .slick-track {
  display: flex;
}

.feedback-sliders .slick-slide {
  margin: 0 25px;
}

.feedback-sliders .slick-list {
  margin: 0 -25px;
}

.feedback-sliders .slick-dots {
  display: flex;
  padding-left: 0px;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
  margin-top: 30px;
}

.feedback-sliders .slick-dots li {
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d6d6d6;
  margin-right: 5px;
  cursor: pointer;
}

.feedback-sliders .slick-dots li.slick-active {
  background-color: #17844d;
}

.feedback-sliders .slick-dots li:last-child {
  margin-right: 0px;
}

.feedback-sliders .slick-dots li button {
  border: none;
  font-size: 0px;
  background-color: transparent;
  opacity: 0;
}

.my-popup {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background: white;
}

.my-popup__left {
  margin-right: 30px;
}

.my-popup__left img {
  max-width: 180px;
}

.my-popup__right {
  flex-shrink: 0;
}

.my-popup .form-wrapper {
  margin-left: 0;
}

.banner-button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  text-align: left;
}

.button3 {
  cursor: pointer;
  border: none;
}

@media (max-width: 767.98px) {
  .my-popup__left {
    display: none;
  }

  .my-popup {
    padding: 0;
    background: none;
  }
}

*::-ms-clear {
  display: none;
}

/* formm */

.slider-avatar {
  display: block;
  margin: 0 auto;
}
.slide-content p {
  font-size: 21px;
  color: #231f20;
  text-align: justify;
  line-height: 1.1;
}
.slide-title {
  color: #17844d;
  font-size: 21px;
  font-family: HeliosCondItalic, sans-serif;
  font-weight: 700;
  border-bottom: 2px solid #17844d;
  margin-bottom: 15px;
}
@media (max-width: 991.98px) {
  .slide-title {
    text-align: center;
    padding-top: 10px;
  }
}
@media (max-width: 767.98px) {
  .slide-content p {
    font-size: 21px;
    color: #231f20;
    text-align: left;
  }
}

.slider {
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.slider__wrapper {
  position: relative;
  overflow: hidden;
}
.slider__items {
  display: flex;
  transition: transform 0.6s ease;
}
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}
.slider__control {
  position: absolute;
  top: 50%;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}
.slider__control_show {
  display: flex;
}
.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}
.slider__control_prev {
  left: 0;
}
.slider__control_next {
  right: 0;
}
.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  margin-top: 1px;
}
.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

@media (max-width: 650px) {
  .slider__control {
    top: 28%;
  }
}
@media (max-width: 392px) {
  .slider__control {
    top: 20%;
  }
}

.slider__indicators {
  position: absolute;
  right: 0;
  bottom: -7px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin: 0 15%;
}
.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 4px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.slider__indicators li.active {
  background-color: #188c36;
}

.slider-avatar {
  margin-left: 22px;
}

@media (max-width: 992px) {
  .slider-avatar {
    margin: auto;
  }
}
