/* .order_block img {
    width: 20%;
} */

@media all and (max-width: 520px) {
}

img {
    max-width: 100%;
}

.Meta-root {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    font-size: 18px;
    line-height: 15px;
}

.Meta-simple {
    align-items: flex-start;
    flex-flow: column nowrap;
}

@media only screen and (min-device-width: 32em) {
    .Meta-simple {
        flex-flow: row wrap;
    }
}

.Meta-simple>div {
    margin-top: 3px;
    margin-bottom: 3px;
}

@media only screen and (min-device-width: 32em) {
    .Meta-simple>div {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.Meta-simple>div:first-child {
    margin-top: 10px;
}

.Meta-simple {
    width: 100%;
    color: #757575;
}

.MetaItem-root {
    display: inline-block;
    margin-right: 15px;
}

.MetaItem-hasBullets {
    margin-right: 0;
}

.Timestamp-root {
    font-weight: 400;
}

.SvgSymbol-root {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.SvgSymbol-medium {
    width: 24px;
    height: 24px;
}

.SvgSymbol-fb {
    width: 16px;
    fill: #304591;
}

.SvgSymbol-vk {
    width: 20px;
    fill: #527397;
}

.SvgSymbol-ok {
    width: 9px;
    fill: #eb722e;
}

.SvgSymbol-tw {
    width: 20px;
    fill: #31adf4;
}

.SvgSymbol-tg {
    width: 18px;
    fill: #2ba5e0;
}

.SimpleTitle-root {
    margin: 0 0 15px;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    font-weight: bold;
    margin-bottom: 10px;
}

@media only screen and (min-device-width: 48em) {
    .SimpleTitle-root {
        margin-bottom: 15px;
        font-size: 36px;
        line-height: 40px;
    }
}

.GeneralMaterial-article p {
    margin: 15px 0;
    font-size: 20px;
    line-height: 24px;
}

.SimpleBlock-h4 {
    margin: 15px 0;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
}

@media only screen and (min-device-width: 32em) {
    .SimpleBlock-h4 {
       
        margin-bottom: 15px;
        font-size: 21px;
        line-height: 28px;
    }
}

.Toolbar-root {
    overflow: hidden;
    transform: translateZ(0);
}

.Toolbar-list {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 0 -10px;
    padding: 0;
    list-style: outside none none;
}

@media only screen and (min-device-width: 64em) {
    .Toolbar-list {
        margin: 0 0 0 -15px;
    }
}

.Toolbar-item {
    position: relative;
    height: 32px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 42px;
    cursor: pointer;
    transition: color 0.25s ease 0s;
    color: gray;
    line-height: 1;
    text-align: center;
}

@media only screen and (min-device-width: 64em) {
    .Toolbar-item {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.Toolbar-item:last-child {
    margin-right: 0;
}

.Toolbar-item::before {
    position: absolute;
    top: 7px;
    left: 0;
    height: 18px;
    content: "";
    vertical-align: middle;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.ToolbarButton-text {
    display: inline-block;
    padding-left: 5px;
    vertical-align: middle;
}

.ToolbarButton-text:empty {
    display: none;
}

.ToolbarButton-button {
    height: 100%;
    margin: 0;
    padding: 0 1px 0 0;
    cursor: pointer;
    color: inherit;
    border-width: 0;
    outline: medium;
    background-color: transparent;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    -moz-appearance: none;
}

.ToolbarButton-button::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}

.ToolbarButton-button:hover {
    opacity: 0.6;
}

.AffiliatePanels-root {
    position: relative;
}

.UnderTheSun-root {
    position: relative;
    z-index: 200;
    margin-top: 12px;
}

@media only screen and (min-width: 32em) {
    .UnderTheSun-root {
        margin-top: 45px;
    }
}

.UnderTheSun-root:empty {
    margin-top: 0;
}

.GeneralMaterial-root {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding: 20px 15px 10px !important;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
}



@media only screen and (min-width: 48em) {
    .GeneralMaterial-simple {
        padding-top: 20px;
    }
}

.GeneralMaterial-container {
    width: 100%;
}

.GeneralMaterial-head {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto 31px;
}

@media only screen and (min-width: 64em) {
    .GeneralMaterial-head {
        flex-flow: row nowrap;
        max-width: 1000px;
    }
}

@media only screen and (min-width: 64em) {
    .GeneralMaterial-materialHeader {
        max-width: 840px;
    }
}

.GeneralMaterial-article {
    position: relative;
}

.GeneralMaterial-simple .GeneralMaterial-container {
    max-width: 1000px;
}

.GeneralMaterial-simple .GeneralMaterial-article {
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 64em) {
    .GeneralMaterial-simple .GeneralMaterial-article {
        margin-right: 0;
        margin-left: 0;
    }
}

.GeneralMaterial-default .GeneralMaterial-article {
    width: 100%;
}

.GeneralMaterial-default .GeneralMaterial-body {
    margin: 0 auto;
}

@media only screen and (min-width: 64em) {
    .GeneralMaterial-default .GeneralMaterial-body {
        max-width: 1000px;
    }
}

@media only screen and (min-width: 64em) {
    .GeneralMaterial-default .GeneralMaterial-body {
        display: flex;
        flex-flow: row nowrap;
    }
}

.GeneralMaterial-simple .GeneralMaterial-head {
    margin-bottom: 15px;
}

@media only screen and (min-width: 48em) {
    .GeneralMaterial-simple .GeneralMaterial-head {
        margin-bottom: 15px;
    }
}

a {
    color: #b88b58;
}

.Footer-root {
    position: relative;
    z-index: 300;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 3px 12px;
    text-align: center;
    color: #999;
}

@media only screen and (min-width: 64em) {
    .Footer-root {
        justify-content: flex-start;
        padding: 26px 0 15px;
        text-align: left;
    }
}

.Footer-root a {
    transition: color 0.15s ease-out 0s;
    color: #fff;
}

.Footer-root a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.Footer-container {
    width: 100%;
    max-width: 675px;
}

@media only screen and (min-width: 64em) {
    .Footer-container {
        max-width: 970px;
    }
}

.Footer-copyright {
    padding: 1px 12px 0;
    text-align: left;
    font-size: 14px;
}

@media only screen and (min-width: 64em) {
    .Footer-copyright {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 13px 0 0;
        border-top: 1px solid #333;
        font-size: 14px;
        line-height: 16px;
    }
}

.Footer-copyrightGroup {
    display: flex;
    flex-flow: row nowrap;
}

.Footer-about {
    flex-shrink: 0;
    text-align: right;
}

@media only screen and (min-width: 64em) {
    .Footer-about {
        text-align: left;
    }
}

.App-header {
    position: relative;
    z-index: 500;
    width: 100%;
    max-width: 1335px;
    margin: 0 auto;
}

@media only screen and (min-width: 64em) {
    .App-header {
        z-index: auto;
    }
}

.App-container {
    background-image: url(../img/top_img.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 162px auto;
}

@media only screen and (min-width: 64em) {
    .App-container {
        background-position: center top;
        background-size: 412px 218px;
    }
}

.App-content {
    position: relative;

    flex-grow: 1;
    width: 100%;
    min-height: calc(100vh - 140px);
}

@media only screen and (min-width: 32em) {
    .App-content {
        max-width: 1335px;
        margin-right: auto;
        margin-left: auto;
    }
}

.App-footer {
    margin-top: 10px;
}

@media only screen and (min-width: 32em) {
    .App-footer {
        margin-top: 0px;
    }
}

body {
    margin: 0;
}

footer,
header,
main {
    display: block;
}

a {
    background-color: transparent;
}

svg {
    overflow: visible;
}

button {
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring {
    outline: 1px dotted buttontext;
}



@media only screen and (min-width: 64em) {
    html {
        font-size: 1.49813vw;
    }
}

body {
    font-family: sans-serif;
}

h1,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

.Figure-caption {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    line-height: 22px;
    max-width: 500px;
    padding-top: 4px;
    color: #1a1a1a;
}

.Figure {
    display: block;
    max-width: 500px;
    width: 100%;
    margin: 0px auto;
}

a.button {
    font-size: 24px;
    text-align: center;
    color: #fff !important;
    background-color: red;
    display: table;
    margin: 25px auto;
    width: 500px;
    max-width: 100%;
    border-radius: 15px;
    text-decoration: none;
    padding: 18px 20px;
    transition: all 0.2s ease 0s;
    text-shadow: 0 0 0 #fff;
    line-height: 28px;
}

a.button:hover {
    background-color: #c11f1f;
}

.ittem-comment {
    display: block;
    position: relative;
    margin-bottom: 15px;
    min-height: 60px;
}

.ittem-comment p {
    display: block;
    position: relative;
    padding-left: 75px;
    margin-bottom: 5px;
    margin-top: 5px !important;
    font-size: 90%;
    line-height: 1.3;
}

@media only screen and (max-width: 500px) {
    a.button {
        width: 100%;
    }
}

.ava-img {
    width: 60px;
    border-radius: 10px;
    display: block;
    position: relative;
    float: left;
    z-index: 100;
}

a:active,
a:focus {
    outline: medium;
}

input {
    outline: medium;
}

input:active {
    outline: medium;
}

:focus {
    outline: medium;
}

button:active,
button:focus {
    outline: medium !important;
}

button::-moz-focus-inner {
    border: 0 !important;
}

#order_form {
    background: #fff url(../img/formbg.jpg) no-repeat scroll 0 0 / cover;
    padding: 20px 20px 55px;
    max-width: 600px;
    margin: 20px;
}

#order_form div {
    line-height: 22px;
    background: transparent none repeat scroll 0 0 !important;
}

#order_form label {
    display: block;
    padding: 5px 0;
    font-weight: 700;
    font-size: 16px;
    text-align: left !important;
}

#order_form .order_form_pole {
    padding: 0px;
    margin: 0px;
}

#order_form input {
    font-size: 21px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e9d7dc;
    max-width: 300px;
    width: 100%;
}

#order_form button {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
    border-radius: 5px;
    background-color: #0299ff;
    background-position: 1.35em 0.94em;
    background-size: 1em auto;
    background-repeat: no-repeat;
    transition: all 0.15s ease-in-out 0s;
    border: medium;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}

#order_form button:hover {
    background-color: #017acc;
}

#order_form button:active {
    position: relative;
    top: 1px;
}

.order_info h2 {
    border: medium !important;
    color: red !important;
    line-height: 32px;
    font-size: 25px;
}

@media screen and (max-width: 480px) {
    #order_form label {
        font-size: 16px;
    }

    #order_form button {
        font-size: 16px;
    }

    #order_form {
        padding: 16px 16px 178px;
        margin-bottom: -150px;
    }

    #order_form .order_form_pole {
        padding: 0;
        margin: 0px;
    }

    #order_form button {
        font-size: 19px !important;
    }
}

@media screen and (max-width: 459px) {
   

  
}

@media screen and (max-width: 349px) {
    #order_form input {
        font-size: 17px;
    }

    #order_form button {
        margin-left: 0;
    }
}

a:active,
a:focus {
    outline: medium;
}

input {
    outline: medium;
}

input:active {
    outline: medium;
}

:focus {
    outline: medium;
}

button:active,
button:focus {
    outline: medium !important;
}

button::-moz-focus-inner {
    border: 0 !important;
}

.logo {
    background: transparent url(../img/444.png) no-repeat scroll center center;
    width: 250px;
    height: 260px;
}

.order_form {
    padding: 20px 20px 0 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0;
}

.header a {
    text-decoration: none;
}

.menuFrame {
    width: 100%;
    height: 0.46rem;
    background-image: url(../img/menu_bg_tvr.png);
    background-position: center top;
}

.menuFrame .burger {
    display: none;
}

@media (max-width: 1000px) {
    .menuFrame {
        position: relative;
    }

    .menuFrame .wrapper {
        display: none;
    }

    .menuFrame .burger {
        display: block;
        position: absolute;
        right: 0.15rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 0.15rem;
        height: 0.15rem;
    }
}

.menuFrame .burger span {
    display: block;
    width: 100%;
    height: 0.03rem;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.menuFrame .burger span:nth-last-of-type(2) {
    top: 0.06rem;
}

.menuFrame .burger span:nth-last-of-type(3) {
    top: 0.12rem;
}

.menuFrame ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
}

.menuFrame ul li {
    float: right;
    margin-left: 0.15rem;
    line-height: 0.46rem;
}

.menuFrame ul li a {
    color: #9ed3e9;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 0.15rem;
}

.menu-plus {
    position: relative;
    float: right;
    width: 1.5rem;
    height: 0.46rem;
}

.menu-subPlus {
    position: absolute;
    z-index: 101;
}

ul.sMenu {
    width: 1.4rem;
    height: 0.46rem;
    overflow: hidden;
    margin-left: 0.1rem !important;
    position: relative;
    z-index: 998;
}

ul.sMenu:hover {
    height: 2.6rem;
    background-color: #1c518f;
}

ul.sMenu li {
    line-height: 0.52rem;
    float: left;
    display: block;
}

ul.sMenu li span {
    float: left;
}

ul.sMenu li img {
    margin-top: 0.15rem;
    margin-left: 0.05rem;
}

ul.sMenu .top {
    display: block;
    position: relative;
    top: -0.01rem;
}

ul.sMenu .little {
    height: 0.36rem !important;
    line-height: 0.36rem !important;
    color: #fff;
}

.delimiter {
    clear: both;
    height: 0.02rem;
    border-bottom: 0.01rem dotted #028dc7;
    border-left: 0;
    border-right: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.nMenu .activ {
    background-image: url(../img/arrow_menu_active.png);
    background-position: center 0.05rem;
    background-repeat: no-repeat;
}

.nMenu li:hover {
    background-image: url(../img/arrow_menu_active.png);
    background-position: center 0.05rem;
    background-repeat: no-repeat;
}

.nMenu li:hover a {
    color: #fff;
}

.wrapper {
    width: 9.6rem;
    margin: 0 auto;
}

.logo-wrapper {
    background: #fff;
}

.logo-wrapper .wrapper {
    padding-left: 0.2rem;
}

.logo-wrapper .wrapper img {
    width: 1rem;
}

.header-wrap {
    background: #fff;
}

@media (max-width: 1000px) {
    .logo-wrapper .wrapper {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

   
}

.header-wrap .wrapper {
    position: relative;
}

.header-wrap .mainMenu {
    list-style-type: none;
    margin: 0;
    padding: 0.05rem 0 0 2.37rem;
    position: relative;
    padding-left: 0.1rem !important;
    height: 0.5rem;
}

.header-wrap .mainMenu li {
    float: left;
    margin-right: 0.2rem;
    font-family: "Roboto Condensed", Arial Narrow, sans-serif;
    font-size: 0.17rem;
    height: 0.38rem;
    line-height: 0.36rem;
    padding-top: 0.04rem;
    z-index: 1000;
    font-weight: 700;
}

.header-wrap .mainMenu li:hover {
    background-image: url(../img/menu_active_hat_new_tvr.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.header-wrap .mainMenu li a {
    color: #9ea4ab !important;
    text-decoration: none;
}

.header-wrap .mainMenu .active {
    padding-top: 0 !important;
    background-image: url(../img/menu_active_hat_new_tvr.png);
    background-repeat: no-repeat;
    background-position: center top;
    border-top: none !important;
    line-height: 0.45rem !important;
}

.header-wrap .form-search {
    width: 2.5rem;
    border-bottom: 0.01rem solid #a9a9a9;
    height: 0.25rem;
    line-height: 0.25rem;
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
}

.header-wrap .form-search input {
    font-family: Roboto, sans-serif !important;
    font-weight: 300 !important;
    font-style: italic;
}

.header-wrap .form-search .searchInput {
    background-color: transparent;
    border: none;
    color: #a9a9a9;
    font-family: Exo, Arial, sans-serif;
    font-size: 0.14rem;
    float: left;
    width: 2.25rem;
    font-weight: 500;
    height: 0.25rem;
    line-height: 0.25rem;
}

.header-wrap .form-search .searchButton {
    width: 0.16rem !important;
    height: 0.16rem !important;
    background-image: url(../img/zoom_search_icon.png) !important;
    margin-top: 0.05rem !important;
    float: right;
    cursor: pointer;
    border: none;
    text-indent: -20rem;
    background-color: #fff;
}

html {
    font-size: 625%;
}

@media (max-width: 480px) {
    html {
        font-size: 21vw;
    }
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0 auto;
    color: #252323;
    background: #f5f5f5;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 0.18rem;
}

* {
    box-sizing: border-box;
}

*>* {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

.button {
    background: #8000ff;
    width: 4.45rem;
    font-size: 0.41rem;
    line-height: 0.47rem;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    color: #fff;
    text-align: center;
    border: none;
    outline: 0;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    display: block;
    margin-bottom: 0;
    padding: 0.2rem;
}

.button:hover {
    cursor: pointer;
    background: #6401c7;
}

.button:active,
.button:focus {
    background: #45008a;
}

header {
    box-shadow: 0 -15px 12px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

main {
    display: block;
    background: #f5f5f5;
    position: relative;
    z-index: 0;
    width: 100%;
}

p {
    font-weight: 400;
    margin: 0;
}

.timerHolder {
    background: red !important;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 5px;
}

.timerHolder span {
    display: block;
}

.timerHolder div {
    background: transparent !important;
    display: inline-block !important;
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px;
}

.timerHolder .timerVal {
    font-size: 19px;
    font-weight: bold;
    color: #fff;
    margin: 0px 10px;
}

.timerHolder .timerSign {
    font-size: 10px;
    text-align: center;
    margin: 0px;
    color: #fff;
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

.orderTypeButton {
    background-color: #e7e7e7 !important;
    display: inline-block;
    padding: 7px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 150px;
    position: relative;
    border: 2px solid #fff;
}

.otHead {
    font-size: 16px;
    display: block;
}

.otPrice {
    font-size: 22px;
}

.otCurr {
    font-size: 10px;
}

.orderTypeButton span {
    display: block;
    font-size: 12px;
    margin-top: 10px;
}

.otButton {
    cursor: pointer;
    font-size: 12px;
}

.orderTypeButtonActive {
    background: yellow !important;
    background-image: url(../img/tick.png) !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
    border: 2px solid red;
}

.otFirst {
    margin-right: 15px;
}

.otTimerImg img {
    padding: 0px !important;
    margin: 0px !important;
}

.otTimerImg {
    position: absolute;
    top: -16px;
    right: -13px;
    width: 40px;
    padding: 0;
    margin: 0;
    background: transparent !important;
}

#order_form {
    background: white;
    padding: 0px;
    font-family: Arial;
    display: inline-block;
    background-image: url(../img/bgform.jpg);
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
}

#order_form_place {
    padding: 10px;
    border: 0px solid red;
    border-radius: 5px;
    box-shadow: 4px 9px 5px 0px rgb(50 50 50 / 75%);
}

#order_form div {
    background: transparent !important;
}

#order_form .order_form_pole {
    padding: 5px;
    margin: 0px;
}

#order_form button {
    max-width: 336px;
    display: block;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgb(129 150 160 / 45%);
    border-radius: 5px;
    background-color: red;
    background-position: 1.35em .94em;
    background-size: 1em;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}

#order_form button:hover {
    background-color: rgb(200, 0, 0);
}

body,
html {
    margin: 0
}

#order_form {
    display: block;
    margin: 20px auto;
}

.hidden-br {
    display: none;
}

.comm-date {
    color: gray   
}

@media(max-width: 970.5px) {
    .header-wrap .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-wrap .form-search {
        position: static;
    }

    .wrapper {
        width: 100%;
    }
}

@media(max-width: 768.5px) {
    .redy {
        font-size: 30px !important;
        line-height: 35px !important;
    }

    .big-num {
        font-size: 35px !important;
        line-height: 39px !important;
    }

    .dates {
        font-size: 25px !important;
        line-height: 29px !important;
    }

    .GeneralMaterial-article p {
        font-size: 17px;
        line-height: 1.25;
    }
}

@media(max-width: 678.5px) {
    .moby {
        display: none !important;
    }

    .header-wrap .form-search {
        max-width: 250px;
        width: 100%;
    }
}

@media(max-width: 479.5px) {
    .GeneralMaterial-article p {
        font-size: 16px;
        line-height: 1.25;
    }

    .GeneralMaterial-root {
        border-radius: 0%;
    }

    .prod {
        max-width: 250px !important;
        margin: 15px auto;
    }

    .header-wrap .form-search {
        height: auto;
    }

    .header-wrap .form-search .searchButton {
        width: 16px !important;
        height: 17px !important;
        background-repeat: no-repeat;
    }
}



@media(max-width: 480.5px) {
    .Toolbar-root {
        margin-top: 10px;
    }
}

@media(max-width: 430.5px) {
    .hidden-br {
        display: block;
    }
}

@media(max-width: 548px) {
    a.button {
        padding: 10px;
        font-size: 18px;
        max-width: 300px;
    }
}