.ever-popup-build {
      position: fixed;
      opacity: 0;
      z-index: -1;
      top: 0;
      left: -9999px;
    }
	 @media screen and (max-width: 1000px) {
      .ever-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 111;
        display: none;
        overflow: auto;
      }

      .ever-popup__body {
        position: static;
        float: none;
        display: block;
        margin: 0 auto;
        width: auto;
      }

      .ever-popup.show {
        display: block;
        align-items: center;
      }

      .ever-popup__inner {
        position: relative;
        margin: 0 auto;
        padding-top: 35px;
      }

      .ever-popup__close {
        width: 35px;
        height: 30px;
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        z-index: 1;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
      }

      .ever-popup__close:after,
      .ever-popup__close:before {
        content: "";
        position: absolute;
        right: 0;
        top: 10px;
        width: 35px;
        height: 10px;
        background: #fff;
        transition: all 1s;
      }

      .ever-popup__close:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      .ever-popup__close:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    /*! CSS Used from: http://127.0.0.1:5501/css/privacy.css */
    * {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .wrap_block_more_info {
      padding: 40px;
      background: #1d3035;
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .block_more_info {
      max-width: 880px;
      padding: 30px;
      background: #fff;
      font-family: Arial, sans-serif;
      border: 1px solid #dadada;
      line-height: 20px;
    }

    .block_more_info h1 {
      color: #1d3035;
      font-size: 32px;
      text-align: center;
      font-weight: bold;
      line-height: normal;
    }

    .block_more_info b {
      font-weight: bold;
    }

    @media screen and (max-width: 900px) {
      .wrap_block_more_info {
        padding: 20px;
      }

      .block_more_info {
        max-width: 100%;
        padding: 20px;
        background: #fff;
        font-family: Arial, sans-serif;
        border: 1px solid #dadada;
        line-height: 20px;
      }
    }

    @media screen and (max-width: 768px) {
      .wrap_block_more_info {
        padding: 10px;
      }
    }

    @media screen and (max-width: 479px) {
      .block_more_info {
        padding: 10px;
      }

      .block_more_info h1 {
        font-size: 24px;
      }

      .wrap_block_more_info {
        padding: 0;
      }
    }

    /*! CSS Used from: Embedded */
    @media screen and (max-width: 1000px) {
      .ever-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 111;
        display: none;
        overflow: auto;
      }

      .ever-popup__inner {
        position: relative;
        margin: 0 auto;
        padding-top: 35px;
      }

      .ever-popup__close {
        width: 35px;
        height: 30px;
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        z-index: 1;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
      }

      .ever-popup__close:after,
      .ever-popup__close:before {
        content: "";
        position: absolute;
        right: 0;
        top: 10px;
        width: 35px;
        height: 10px;
        background: #fff;
        transition: all 1s;
      }

      .ever-popup__close:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      .ever-popup__close:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }