@charset "utf-8";
/* CSS Document */

#top {
	background:url(../img/bizsiziarayalim.png);
	position:fixed;
	height:58px;
	width:105%;
	top:0px;
	margin-left:-12px;
	z-index:50;
}

#top_form {
	width:960px;
	margin:0 auto;
	height:58px;
}
#top_form img {float:left;}

#top_div {
	float:left;
	margin-top:10px;
	margin-left:30px;
}
.inputtop {
	width:166px;
	height:23px;
	padding:5px;
	margin-left:15px;
	border:0px;
	border-radius:5px;
	background:#635746;
	color:#e9e1c2;
	font-size:12px;
}
.gonder {
	background:url(../img/button.png);
	width:75px;
	height:33px;
	border:0px;
	margin-left:10px;
	margin-top:10px;
}

#orta_form {
	width:350px;
	height:200px;
	text-align:center;
}

.formdiv {
	margin-top:10px;
	height:40px;
	text-align:center;
}
	
/* Validation ---------------------- */
input.error:focus,
select.error,
textarea.error:focus {
	border:1px solid #e9ad00;
}
input.error,
select,
textarea.error {
	border:1px solid #e9ad00;
}

label.error {
	z-index:999;
	font-size:12px;
	color:#F00;
	display:none !important;
}
.facebook_div {
	min-height:500px;
	width:600px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size:11px;
	color:gray;
}
.facebook_div img {border:0px;}
.facebook_div h5{font-size: 12px; color: rgb(41, 36, 40); font-weight: 700;}

.facebook_div p{
	color: rgb(26, 26, 26);
        line-height: 14px;
	font-weight:normal;
	margin:8px 0px;
}
#fbcontainer {
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #CCC;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	margin-bottom:5px;
}
.facebook_comment {
	padding:10px 5px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CCC;

}
.fbbox {
	float: left;
	height: 50px;
	width: 50px;
	padding:5px;
}
.fbrenk {
	cursor: pointer;
    color: rgb(59, 89, 152);
	text-decoration:none;
	}
.facebook_comment a:hover{
	text-decoration:underline;
}

.fbyazi {
	width:500px; padding-left:62px;
}
.fblink {
	text-decoration:none;
	font-size:11px;
	color:#999;
	margin:5px;}
#fbdevami {
	width:550px;
	height:16px;
	margin:10px auto;
	padding:8px;
    background-color: rgb(237, 239, 244);
    border: 1px solid rgb(216, 223, 234);
	text-align:center;
    cursor: pointer;
	font-size:11px;
}
#fbdevami:hover {
	background-color:#D3DAE4;
}
