.live {
  margin-top: 5px;
  display: block
}

.comments p:nth-child(2) {
  padding-left: 60px
}

b,
body,
div,
figure,
footer,
h1,
h3,
html,
img,
p,
span,
strong {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0 none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent none repeat scroll 0 0
}

body {
  line-height: 1
}

figure,
footer {
  display: block
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent none repeat scroll 0 0
}

* {
  box-sizing: border-box
}

body {
  background-color: #f2f2f2;
  position: relative
}

img {
  max-width: 100%
}

a {
  color: #b88b58;
  text-decoration: none
}

.Body {
  font-size: 18px;
  line-height: 1.3
}

@media only screen and (min-width:48em) {
  .Body {
    font-size: 20px;
    line-height: 27px
  }
}

.Body>* {
  max-width: 980px;
  font-family: PFRegal, Georgia, serif
}

.Body:last-child>:last-child {
  margin-bottom: 0
}

.Body a {
  color: inherit;
  box-shadow: 0 -1px #b88b58 inset
}

.Body a:hover {
  color: #b88b58
}

.Body p {
  margin-bottom: 15px
}

.Body h3 {
  margin-top: 18px;
  margin-bottom: 12px;
  font-family: "Proxima Nova", Arial, "Helvetica Neue", sans-serif;
  font-size: 21px;
  font-weight: 700
}

@media screen and (min-width:768px) {
  .Body p {
    text-align: justify
  }
}

.comments>div {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc
}

header {
  display: block
}

.Header {
  width: 100%;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  flex-direction: column;
  z-index: 2;
  background: #fff
}

.Header__top {
  width: 100%;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  z-index: 2;
  background: #fff
}

.Header__bottom {
  width: 100%;
  max-width: 1000px;
  height: 50px;
  margin: 0 auto;
  background: #fff
}

.Header__bottom-list {
  height: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  overflow: hidden
}

.Header__bottom-list-link {
  padding: 0 5px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: .02em
}

.Header__bottom-list-link:hover {
  color: #62a7d9;
  text-decoration: underline !important
}

.Header__top-center {
  display: flex;
  justify-content: center;
  align-items: center
}

.Header__top-center-logo {
  margin-right: 20px;
  margin-top: 15px
}

.Header__top-center-title {
  font-weight: 400
}

@media only screen and (max-width:666px) {
  .Header__bottom-list-item:nth-child(8) {
    display: none !important
  }
}

@media only screen and (max-width:600px) {
  .Header__bottom-list-item:nth-child(7) {
    display: none !important
  }
}

@media only screen and (max-width:550px) {
  .Header__bottom-list-item:nth-child(6) {
    display: none !important
  }
}

@media only screen and (max-width:420px) {
  .Header__bottom-list-item:nth-child(5) {
    display: none !important
  }
}

@media only screen and (max-width:340px) {
  .Header__bottom-list-item:nth-child(4) {
    display: none !important
  }
}

.Copyright {
  padding: 0 12px;
  line-height: 1.2
}

@media only screen and (min-width:64em) {
  .Copyright {
    padding: 0
  }
}

.Copyright-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 20px 0
}

.Copyright-container a:hover {
  color: rgba(255, 255, 255, .5)
}

@media only screen and (min-width:48em) {
  .Copyright-container {
    max-width: 675px;
    flex-wrap: nowrap;
    text-align: left
  }
}

@media only screen and (min-width:64em) {
  .Copyright-container {
    max-width: 860px
  }
}

.Copyright-container a {
  color: #fff
}

.Copyright-block {
  font-size: 17px;
  flex: 1 0 20%
}

@media only screen and (min-width:48em) {
  .Copyright-block {
    padding-top: 0;
    border-top: 0 none
  }
}

.Copyright-block:last-child {
  text-align: right
}

.MaterialTag {
  position: relative;
  z-index: 30;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 2px;
  font-weight: 700;
  line-height: 1;
  font-family: "Proxima Nova", Arial, "Helvetica Neue", sans-serif;
  color: #b88b58;
  -moz-user-select: none;
  user-select: none
}

@media only screen and (max-width:32em) {
  .MaterialTag {
    height: 15px;
    line-height: 15px;
    padding: 0 5px;
    font-size: 10px;
    letter-spacing: .5px
  }
}

span.MaterialTag {
  cursor: default;
  pointer-events: none
}

@media only screen and (min-width:32em) {
  .MaterialTag--medium {
    height: 20px;
    line-height: 20px;
    padding: 0 7px;
    letter-spacing: 1px;
    font-size: 12px
  }
}

.MaterialTag--solid {
  color: #fff;
  background: #b88b58 none repeat scroll 0 0;
  border-color: #b88b58;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5)
}

.MaterialMeta {
  display: inline-block;
  font-family: "Proxima Nova", Arial, "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: grey;
  margin-right: 12px;
  padding-left: 18px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px auto;
  font-weight: 400
}

@media only screen and (min-width:48em) {
  .MaterialMeta {
    font-size: 15px;
    line-height: 18px;
    margin-right: 15px
  }
}

@media only screen and (min-width:48em) {
  .MaterialMeta--source {
    white-space: nowrap
  }
}

.MediaMaterialHeader {
  max-width: 840px
}

.MediaMaterialHeader-first {
  color: #000;
  line-height: 27px
}

@media only screen and (min-width:48em) {
  .MediaMaterialHeader-first {
    line-height: 38px
  }
}

.MediaMaterialHeader-first,
.MediaMaterialHeader-separator {
  transition: color .25s ease-out 0s;
  font-family: "Proxima Nova", Arial, "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 700
}

@media only screen and (min-width:48em) {

  .MediaMaterialHeader-first,
  .MediaMaterialHeader-separator {
    font-size: 36px
  }
}

.MediaMaterial {
  background-color: #fff;
  padding: 12px
}

@media only screen and (min-width:48em) {
  .MediaMaterial {
    padding: 25px 15px 20px
  }
}

.MediaMaterial-header {
  display: flex;
  flex-flow: column wrap;
  max-width: 650px;
  margin: 0 auto 18px;
  align-items: flex-start;
  align-items: center;
  text-align: center
}

@media only screen and (min-width:63.125em) {
  .MediaMaterial-header {
    max-width: 1000px;
    margin-bottom: 25px
  }
}

.MediaMaterial-tag {
  margin-bottom: 5px
}

@media only screen and (min-width:48em) {
  .MediaMaterial-tag {
    margin-bottom: 11px
  }
}

.MediaMaterial-meta {
  margin-top: 12px
}

@media only screen and (min-width:48em) {
  .MediaMaterial-meta {
    margin-top: 12px
  }
}

.MediaMaterial-materialContent {
  width: 100%;
  max-width: 650px
}

.MediaMaterial-body {
  position: relative;
  max-width: 650px;
  margin: 0 auto
}

@media only screen and (min-width:63.125em) {
  .MediaMaterial-body {
    max-width: 1000px
  }
}

.MediaMaterial--fullWidth .MediaMaterial-materialContent {
  max-width: none
}

.Material {
  padding: 12px 0 0
}

@media only screen and (min-width:48em) {
  .Material {
    padding: 15px 0 0
  }
}

.Material-shadow {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  z-index: 300;
  background-color: rgba(0, 0, 0, .15)
}

.Material-shadow--top {
  top: 0
}

.Material-container {
  background: #fff none repeat scroll 0 0;
  position: relative
}

@media only screen and (min-width:48em) {
  .Body h3 {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 27px
  }
}

.MaterialContent--bannerless .Body>* {
  margin-right: auto;
  margin-left: auto
}

@media only screen and (min-width:40.625em) {
  .MaterialContent .Figure {
    margin-right: auto;
    margin-left: auto
  }
}

.Figure {
  margin: 15px -12px
}

.Figure img {
  display: block;
  margin: 5px auto
}

@media only screen and (min-width:48em) {
  .Figure {
    margin: 27px auto 20px
  }
}

@media only screen and (min-width:75em) {
  .Figure {
    max-width: 650px
  }
}

.Figure img {
  max-width: 100%;
  vertical-align: bottom
}

@media only screen and (min-width:40.625em) {
  .Figure img {
    border-radius: 2px
  }
}

.Figure-caption {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 7px 12px 0;
  font-size: 15px;
  line-height: 17px
}

@media only screen and (min-width:40.625em) {
  .Figure-caption {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    line-height: 18px
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: transform .25s ease-out 0s, -webkit-transform .25s ease-out 0s, -o-transform .25s ease-out 0s
}

.App-content,
.App-footer {
  transition: transform .25s ease-out 0s, -webkit-transform .25s ease-out 0s, -o-transform .25s ease-out 0s
}

.App-footer {
  position: relative;
  z-index: 1;
  outline: 2px solid #252525
}

.App-content {
  position: relative;
  z-index: 1;
  overflow: visible;
  background-color: #f2f2f2;
  flex: 1 0 auto
}

.App--isMaterial .App-content {
  background-color: #e6e6e6
}

.Footer {
  color: #999;
  background-color: #252525;
  font-family: "Proxima Nova", Arial, "Helvetica Neue", sans-serif
}

.ava-img {
  width: 50px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle
}

.Body a {
  color: #00f
}

.Body a:hover {
  box-shadow: none
}

a.button {
  font-size: 20px;
  text-align: center;
  color: #fff !important;
  background-color: red;
  display: block;
  width: 100%;
  max-width: 370px;
  border-radius: 30px;
  text-decoration: none;
  padding: 15px
}

a.button:hover {
  background-color: #c11f1f
}

html {
  font-family: sans-serif
}

body {
  margin: 0
}

figure,
footer,
main {
  display: block
}

a {
  background: transparent none repeat scroll 0 0
}

a:active,
a:hover {
  outline: 0 none
}

b,
strong {
  font-weight: 700
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

img {
  border: 0 none
}

figure {
  margin: 1em 40px
}

button {
  color: inherit;
  font: inherit;
  margin: 0
}

.comment-picture {
  padding-left: 60px;
  display: none;
}

button {
  overflow: visible
}

button {
  text-transform: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  border: 0 none;
  padding: 0
}

.button {
  margin-left: auto;
  margin-right: auto
}

.tag_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center
}

.comm-text {
  padding-left: 60px
}

.inL_26056 {
  text-align: center
}

.inL_919438 {
  text-align: center
}

.inL_945182 {
  padding-left: 45px
}

.red_text {
  color: red
}

.inL_185184 {
  padding-left: 45px
}

.inL_990309 {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 450px
}