.test {
    margin-bottom: 15px;
}

.test-button_start {
    margin: 20px auto;
    max-width: 200px;
}

.main-btn {
    display: block;
    padding: 15px;
    color: #000;
    background-color: #ffdf68;
    border-radius: 30px;
    width: 100%;
    max-width: 200px;
    font-weight: bold;
    text-align: center;
}


.test-wrap {
    margin: 25px 0;
    width: 100%;
    max-width: 450px;
}

.test-img {
    width: 100%;
    max-width: 370px;
    display: block;
    margin: 0 auto;
}


.test .test-block_question {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
    text-align: left;
}

.test-list {
    margin: 20px 0;
}

.test-list__item {
    font-size: 14px;
    color: #000;
    font-weight: normal;
    text-align: center;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
}

.test-list__item:hover {
    color: #00a7b5;
    box-shadow: 0px 0px 10px 1px rgba(34, 60, 80, 0.2);
}


.test-list__item:last-child {
    margin-bottom: 0;
}

.test-1,
.test-2,
.test-3,
.test-4,
.test-5,
.test-6,
.block-hide {
    display: none;
}


.test__progress {
    width: 100%;
    /* max-width: 350px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-radius: 10px;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    background-color: #ffdf68;
}

.test__progress p {
    margin: 0;
}

.test__progress-texr {
    font-size: 16px;
    color: #383838;

}

.test__progress-nums {
    font-size: 20px;
    color: #00a7b5;
}

.test-block-hide {
    display: none;
}