html {
  min-width: 320px;
}
#everad_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}
.submit-roulette:hover {
  background: #b00;
  transition: background 0.3s;
}
.submit-roulette:active {
  transform: translateY(2px);
  box-shadow: none;
}
input[value='Получить бесплатно'],
.submit-roulette {
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 15px 0;
  outline: none;
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 3px #242120;
  background: red;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s;
}
input[value='Получить бесплатно']:hover {
  background: #b00 !important;
  transition: background 0.3s;
}
input[value='Получить бесплатно']:active {
  transform: translateY(2px);
  box-shadow: none !important;
}
.input-roulette {
  padding-left: 10px;
  height: 30px;
  margin-bottom: 10px;
  display: block !important;
  width: 100% !important;
  max-width: 400px;
  border: 2px solid grey !important;
  border-radius: 5px !important;
}
header {
  border-bottom: 4px solid #294ea0;
}
header ul {
  background: #294ea0;
  padding: 5px 0;
}
header .mainLogo {
  padding: 10px;
}
header ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
header ul li:nth-of-type(1):after {
  content: none;
}
header ul li:after {
  content: '|';
  position: absolute;
  left: -5px;
  top: 1px;
  color: #999;
  font-size: 12px;
}
header ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
}
header ul li a:hover {
  color: #999;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Merriweather, serif;
  font-size: 22px;
  color: #000;
  background-color: #f4f7fa;
}
a {
  color: #004b9c;
  text-decoration: none;
}
#title_block {
  width: 100%;
}
.title_block_wrapper {
  width: 100%;
  height: 100%;
}
.title_block_content {
  position: relative;
  width: 100%;
  height: 100%;
}
.title_block_img .title_img {
  margin: 0 !important;
  padding: 0 !important;
  display: inline !important;
  -o-object-fit: cover;
  object-fit: cover;
}
.title_block_img {
  width: 100%;
  background: url(../images/otek-main.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.title_block_shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: #000 !important;
  opacity: 0.7;
}
.title_block_texts {
  position: relative;
  z-index: 9;
  background: transparent !important;
  padding: 21px;
}
.title_block_bread span {
  color: #fff;
  font: bold 10px/16px 'IBM Plex Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.88;
}
.title_h1 {
  font: 600 40px/48px 'IBM Plex Sans', sans-serif;
  color: #fff;
}
.title_bq {
  border-left: 4px solid #349dee;
  padding-left: 16px;
  color: #fff;
  opacity: 0.88;
  font: 24px/40px Merriweather, serif;
}
.title_block_author {
  margin-top: 26px;
}
.tauthor {
  font: 600 19px/24px 'IBM Plex Sans', sans-serif;
  color: #349dee;
}
.tdate {
  margin-top: 2px;
  color: #fff;
  font: 500 10px/16px 'IBM Plex Sans', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.title_block_texts div {
  background: transparent !important;
}
.lead_text {
  color: #565d6d;
}
#top {
  height: 120px;
  background: transparent;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top right;
}
#bodyWrapper {
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
}
#mainWrapper {
  width: 100%;
  height: 100%;
}
#mainWrapper div {
  background-color: #fff;
}
#wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
#content {
  padding: 0;
  text-align: left;
  width: 100%;
}
#content .padWrap {
  padding: 15px;
}
#content img {
  max-width: 100%;
  margin: 20px 0;
}
#content p {
  font-size: 18px;
  line-height: 29px;
}
.pg {
  font-size: 17px !important;
  line-height: 28px !important;
  margin-bottom: 20px;
}
#content .date {
  display: inline-block;
  color: #a3b0b9;
  font-size: 13px;
}
#content .date::before {
  display: inline-block;
  content: '';
  margin-right: 10px;
  width: 10px;
  height: 10px;
}
#content h1 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 700;
}
#content h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 26px;
  margin-bottom: 33px;
  line-height: 32px;
}
#content h3 {
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 25px;
}
#content ul li span {
  display: block;
  font-size: 16px;
  color: gray;
  font-weight: 400;
  line-height: 20px;
}
.glava {
  list-style-image: url(../images/qtick.png);
}
.glava li {
  margin-bottom: 20px;
  line-height: 32px;
  font-weight: 700;
  font-family: 'IBM Plex Sans', sans-serif;
}
.subtitle {
  display: block;
  margin-bottom: 33px;
  font-size: 22px;
}
.note {
  float: right;
  max-width: 200px;
  font-weight: 500 !important;
  font-size: 18px !important;
}
.note_left {
  float: left;
  max-width: 200px;
  font-weight: 500 !important;
  font-size: 18px !important;
}
#content ul {
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
}
#content ul li {
  margin-bottom: 20px;
}
#content blockquote {
  border-left: 5px solid;
  border-color: #39b4ff;
  padding: 10px 25px;
  margin: 35px;
  color: #39b4ff;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}
#comments {
  margin-top: 40px;
}
#comments .pg {
  font-size: 14px !important;
  line-height: 28px !important;
}
#fullscroll_element {
  padding: 20px 0;
}
#comments h2 {
  background: url(../images/comentsm.jpg) no-repeat;
  padding-left: 40px;
  color: #000;
  border-bottom: 0 solid;
  border-color: #000;
  text-transform: uppercase;
  padding-bottom: 10px;
}
#comments .item {
  text-align: left;
  padding: 10px;
  margin: 10px 0;
  min-height: 80px;
  border-bottom: 1px dashed #05519d;
}
#comments .item :last-child {
  border-bottom: none;
}
#comments .item .name {
  font-size: 16px;
  font-weight: 700;
  color: #05519d;
}
#comments .item .info p {
  display: block;
  font-size: 15px;
  line-height: 19px;
  margin-top: 4px;
  text-align: justify;
  margin-right: 20px;
}
#comments .coment_ava {
  margin-right: 15px;
}
#comments .coment_ava img {
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
#comments .date {
  font-weight: 400;
  background: none;
  display: inline;
}
#comments .date::before {
  background-image: none;
  margin-right: 0;
}
.price {
  color: red;
  font-weight: 700;
}
#fullscroll_element a img {
  width: 100%;
  max-width: 250px;
}
@media screen and (max-width: 1020px) {
  header ul {
    display: none;
  }
  header {
    text-align: center;
  }
  #content {
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .note,
  .note_left {
    float: none;
    max-width: 100%;
  }
}
@media screen and (max-width: 660px) {
  #content h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .mainLogo {
    width: 400px;
  }
}
@media screen and (max-width: 590px) {
  .mainLogo {
    width: 300px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 560px) {
  .pg {
    margin-left: 0;
    margin-right: 0;
  }
  #content .padWrap {
    padding: 8px;
  }
}
@media screen and (max-width: 420px) {
  .title_bq {
    font-size: 18px !important;
    line-height: 28px !important;
  }
  .tauthor {
    font-size: 14px;
  }
}
@media screen and (max-width: 470px) {
  .mainLogo {
    width: 200px;
  }
  #top {
    height: 80px;
  }
}
@media screen and (max-width: 380px) {
  .mainLogo {
    width: 180px;
  }
}
@media screen and (max-width: 345px) {
  .mainLogo {
    width: 150px;
  }
}
@media screen and (max-width: 310px) {
  .mainLogo {
    display: none;
  }
  #top {
    background-position: top center;
  }
}
@media screen and (min-width: 1300px) {
  #wrapper {
    max-width: 1000px;
  }
  #content {
    width: 100%;
  }
}
@media screen and (min-width: 1600px) {
  #wrapper {
    max-width: 1000px;
  }
  #content {
    width: 100%;
  }
}
.currency {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price_img {
flex: none;
}
.price_img span {
  font-size: 35px;
}
.first-price {
  color: #000;
  position: relative;
}
.first-price::before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  position: absolute;
  top: 22px;
}
@media (max-width: 650px) {
  .price_img span {
    font-size: 25px;
  }
  .first-price::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    position: absolute;
    top: 17px;
  }
}
.inL_960261 {
  font-size: 30px !important;
  color: red;
  margin: 5px 0 !important;
}
@media screen and (min-width: 0\0) {
  .inL_909829.inL_909829 {
    max-width: 720px !important;
  }
}
.obutton {
  display: inline-block;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
  border-radius: 5px;
  background-color: #0299ff;
  background-position: 1.35em 0.94em;
  background-size: 1em;
  background-repeat: no-repeat;
  transition: all 0.15s ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
}
.obutton:hover {
  background-color: #017acc;
}
.order_info h2 {
  border: none !important;
  color: red !important;
}
.left_count {
  background: red;
  padding: 23px;
  margin: 12px 0;
  width: 178px;
  color: #fff;
  text-shadow: 0 -1px 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000,
    0 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000,
    1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000,
    -1px 1px 0 #000000, 1px 1px 0 #000;
  font-size: 32px !important;
  border-radius: 5px;
  margin: auto !important;
}
.left_count .prod_left_val {
  font-size: 52px !important;
}
.inL_96305.inL_96305 {
  display: block;
}
.inL_119763.inL_119763 {
  padding-top: 33px;
}
.inL_200020.inL_200020 {
  background: #fff5f7;
  padding: 10px;
  margin-bottom: 33px;
}
.inL_579842.inL_579842 {
  font-size: 55px;
  font-family: tahoma;
}
.inL_179105.inL_179105 {
  font-size: 55px;
  font-family: tahoma;
}
.inL_88304.inL_88304 {
  font-size: 55px;
  font-family: tahoma;
}
.inL_864826.inL_864826 {
  background: #ffeca6;
  padding: 20px;
}
.inL_75275.inL_75275 {
  font-size: 18px;
}
.inL_497503.inL_497503 {
  margin-top: 50px;
}
.inL_960261.inL_960261 {
  cursor: pointer;
}
.inL_909829.inL_909829 {
  max-width: 777px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}
.inL_411782.inL_411782 {
  color: green;
}
.inL_697589.inL_697589 {
  clear: both;
}
.inL_692403.inL_692403 {
  border: 1px solid #0299ff;
  padding: 10px;
  padding-bottom: 40px;
}
.inL_369534.inL_369534 {
  font-size: 42px;
  color: red;
}
.inL_54154.inL_54154 {
  color: red;
}
.inL_894980.inL_894980 {
  display: block;
}
.inL_336469.inL_336469 {
  padding: 20px 0;
}
.inL_586726.inL_586726 {
  font-size: 12px;
  line-height: 20px;
}
.button__text:after {
  content: '*';
  display: inline-block;
  font-size: 75%;
  vertical-align: top;
}
.ac_gdpr_fix {
  position: fixed;
  font-family: Arial, 'Nimbus Sans L', Helvetica, sans-serif !important;
  font-size: 18px;
  bottom: 0;
  left: 10px;
  right: 10px;
  background-color: #fff;
  z-index: 10000;
  text-align: center;
  padding: 7px 25px;
  border-radius: 15px 15px 0 0;
  color: #000;
  border: 1px solid #000;
  border-bottom: none;
  line-height: 1 !important;
}
.ac_gdpr_fix a {
  font-size: 18px;
  color: red !important;
  font-weight: 700 !important;
  text-decoration: none !important;
}
.ac_gdpr_fix a:hover {
  text-decoration: underline !important;
}
.close_gdpr_warn {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  color: red;
}
@media only screen and (max-width: 1230px) {
  .ac_gdpr_fix,
  .ac_gdpr_fix a,
  .close_gdpr_warn {
    font-size: 15px;
  }
  .ac_footer {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .ac_gdpr_fix {
    padding: 5px;
    left: 0;
    right: 0;
  }
  .ac_gdpr_fix,
  .ac_gdpr_fix a,
  .close_gdpr_warn {
    font-size: 13px;
  }
  .ac_footer {
    padding-bottom: 70px;
  }
}
.ac_footer {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 50px 0;
  color: #a12000;
}
.ac_footer a {
  color: #a12000;
}
.ac_footer p {
  text-align: center;
}
img[height='1'],
img[width='1'] {
  display: none !important;
}
.center-block {
  margin: 20px 0;
  text-align: center;
}
.center-block img {
  margin: auto !important;
}
.render {
  content-visibility: auto;
}
.ever-popup.show,
.ever-popup {
  display: none !important;
}

.info {
  display: flex;
  flex-direction: row;
}
.comment-wrap {
  width: 100%;
}
