/* ::::: https://ogbtrck.com/landers/3f63fef09f/tvoe-zdorovie2/css/normalize.css ::::: */


img{max-width:100%}
html { line-height: 1.15; }
body { margin: 0px; }
h1 { font-size: 2em; margin: 0.67em 0px; }
a { background-color: transparent;}
img { border-style: none; }
button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0px; }
button, input { overflow: visible; }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0px; }
/* ::::: https://ogbtrck.com/landers/3f63fef09f/tvoe-zdorovie2/css/main.css ::::: */

@font-face {
	font-family: "Roboto";
	src: url('roboto-regular.ttf');
}
@font-face {
	font-family: "Roboto-Bold";
	src: url('roboto-bold.ttf');
}
body { font-family: Roboto; font-size: 18px; color: rgb(18, 18, 18); }
a { text-decoration: none; color: rgb(19, 119, 204); }
.container { width: 100%; max-width: 1140px; margin: auto; }

.logo { position: absolute; left: -250px; }
nav ul { list-style-type: none; display: flex; align-items: center; margin: 0px; padding: 0px; height: 80px; font-size: 16px; }
nav ul li { margin-right: 35px; }
nav ul li a { color: rgb(255, 255, 255); }
input.search { width: 150px; height: 35px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: medium none; border-radius: 4px; font-size: 13px; padding-left: 16px; }
.breadcrumbs ul { display: flex; list-style-type: none; margin: 50px 0px 0px; padding: 0px; font-size: 13px; }
.breadcrumbs ul li {  }
.breadcrumbs ul li::before { content: "-"; margin: 0px 3px; }
.breadcrumbs ul li:nth-child(1)::before { content: ""; margin: 0px; }
.breadcrumbs ul li a { color: rgb(19, 119, 204); text-decoration: underline; }
.article-title { font-weight: normal; font-size: 30px; font-family: Roboto-Bold; }
.article-body p { line-height: 26px; }
.article-body a { color: red;  }
.article-body a:hover { text-decoration: underline; }
.center-img { display: block; margin: 15px auto auto; width: 100%; max-width: 640px; }
.img-gallery { width: 100%; max-width: 730px; margin: auto; }
.product-img { display: block; margin: auto; }
.button-lead { font-family: Roboto-Bold; text-decoration: underline; color: rgb(255, 255, 255); background: rgb(134, 216, 249) none repeat scroll 0% 0%; border-radius: 20px; width: 100%; max-width: 315px; height: 75px; display: flex; align-items: center; justify-content: center; margin: 30px auto auto; box-shadow: 0px -10px 15px 0px rgba(50, 50, 50, 0.51) inset; }
.button-lead:hover { background: rgb(0, 12, 48) none repeat scroll 0% 0%; }
.comments { margin: 45px auto auto; width: 100%; max-width: 96%; }
.comment-title { font-family: Roboto-Bold; color: rgb(69, 104, 142); background: rgb(218, 226, 232) none repeat scroll 0% 0%; display: block; padding: 5px 10px; }
.comment-list { margin: 0px; padding: 0px; list-style-type: none; }
.comment-element { padding: 30px 0px; border-bottom: 1px solid rgb(218, 226, 232); display: flex; }
.comment-element .avatar { width: 68px; height: 68px; margin-right: 30px; margin-top: 11px;}
.comment-element .author-name { font-size: 20px; font-family: Roboto-Bold; color: rgb(69, 104, 142); line-height: 26px; }
.comment-element .comment-date { font-size: 14px; color: rgb(177, 177, 177); line-height: 26px; }
/* ::::: https://ogbtrck.com/landers/3f63fef09f/tvoe-zdorovie2/css/media.css ::::: */

@media screen and (max-width: 1640px) {
	.logo { left: -140px; }
}
@media screen and (max-width: 1425px) {
	.logo { position: relative; left: 0px; }
}
@media screen and (max-width: 850px) {
	nav { display: none; }
	
	.container { max-width: calc(100% - 20px); }
}
@media screen and (max-width: 730px) {
	.img-gallery { max-width: 361px; }
}
@media screen and (max-width: 650px) {
	.comment-element .avatar { margin-right: 10px; }
	.comment-element { padding: 10px 0px; }
}
.iframe {
  width: 100%;
  height: auto;
  background: rgba(201, 215, 93, 0.75);
  border: 5px dashed #000;
  box-sizing: border-box;
  padding-top: 10px;
}
.form-font {
    padding-left: 20px;
    font-size: 32px;
    text-shadow: 0 0 1px #67864d;
    line-height: 42px;
}
.order_form {
    padding: 20px 20px 0 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0;
    font-family: Arial,Helvetica;
}
.block_form {
    margin: 0 0 12px;
}
.block_form_label {
    font-size: 14px;
    color: #333;
    display: block;
    float: left;
    width: 98%;
    margin: 0 auto;
    text-align: left;
}
.block_form div {
    margin-right: 14px;
}
.block_form input {
    display: block;
    width: 98.8%;
    padding: 8px 10px;
    border: #888 1px solid;
    font-size: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
}
input {
    outline: 0;
}
.order_form .clear {
    clear: both;
}
.ifr_button {
    cursor: pointer;
    letter-spacing: .4px;
    font-weight: 600 !important;
    border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
    font-family: calibri,roboto,arial;
    display: block;
    margin: 20px auto;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    width: auto;
    line-height: 32px;
    height: auto;
    background: #f66a00;
    border-bottom: 2px solid #c0392b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 51px;
    padding: 0 14px;
}

.pulse {

color: #fff!important;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #d4282c;
  border-radius:25px;
  animation: radial-pulse 1s infinite;
  min-width:300px
}
 

 
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }
 
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}