* {
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}
body {
	font-size: 18px;
	font-family: Arial, Helvetica,  sans-serif;
	color: black;
	background: #64b4bf none repeat scroll 0% 0%;
	height: 100%;
}
input {
	outline: medium none;
	padding: 10px;
	border: 2px solid darkgrey;
	width: 100%;
	max-width: 350px;
	margin: auto;
	display: block;
	font-size: 16px;
	border-radius: 5px;
}

a {
	color: red;
}
a:hover {
	color: rgb(176, 73, 59);
}
a img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
a:focus {
	outline: medium none;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 22px;
	font-weight: normal;
}
img {
	border-radius: 5px;
}

.header {
background-color:#039195;
overflow:auto;
}

.alignCenter {
	text-align:center !important;
}

.margin_0 {
	margin:0 !important;
}

/*-----------------------------------------------------------------------------*/
.container {
	position: relative;
	margin: 0px auto;
	width: 1000px;
	overflow:auto;
}
button {
	background: red none repeat scroll 0 0;
	border: 3px solid white;
	border-radius: 8px;
	box-shadow: 0 3px 7px #666666;
	color: #fff;
	display: block;
	font-size: 17px;
	font-weight: bold;
	margin: 20px auto;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
	max-width:250px;
	cursor: pointer;
}
button:hover {
	background-color: #00AEEF;
	box-shadow: 0 0 5px #3f5b77;
	text-decoration: none !important;
	text-shadow: 0 0 3px #000000;
	color:white;
}

.date {
	font-size: 11px;
	float: right;
}
.logo {
	display: table;
	float: left;
	margin: 10px 10px;
}
.logo > * {
	display:table-cell;
	vertical-align:middle;
	margin:10px;
}
.logo h1 {
	color: #fff;
	font-size: 33px;
	text-transform: uppercase;
}

.logo h1 span {
	text-transform:none;
	font-size:16px;
}
.menu {
	background: #e6faf8 none repeat scroll 0% 0%;
	height: 50px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.38);
}
.menu ul {
  list-style: outside none none;
display:flex;
justify-content: space-around;
}
.menu ul li {
	display: inline-block;
	padding: 14px 8px;
	position: relative;
}
.menu a {
	text-transform: uppercase;
	font-size: 12px;
	color: #000;
	text-decoration: none;
}

.editor {
	overflow:auto;
}

.editor img {
  float: left;
  margin: 0 10px 0 0;
  max-width: 300px;
  width: 50%;
}

.center_img {
	display:block;
	margin:0 auto;
	width:100%;
	max-width:450px;
}



.inner p {
	color: #2a2a2a;
	margin: 15px 0;
	text-align: left;
	font-size: 16px;
	line-height: 1.5;
}
.inner h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  margin: 10px 0;
}
.inner ul {
	margin-left:30px;
}
.inner {
	background:#fff;
	padding: 0px 30px 8px;
	line-height: 1.5;
	margin-bottom: 27px;
}
.inner h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.2;
  padding: 20px 0;
  text-transform: uppercase;
  text-align:center;
}
.comments {

	font-size: 15px;
	color: black;
	text-decoration: none;
}
.comments_header {
	background: rgb(218, 226, 232) none repeat scroll 0% 0%;
	padding: 4px 4px 4px 6px;
	margin-bottom: 10px;
	color: rgb(69, 104, 142);
	font-weight: bold;
}
.comment {
	margin-bottom: 15px;
	position: relative;
	border-bottom: 1px solid rgb(218, 225, 232);
	padding-bottom: 15px;
	overflow:
	auto;
	font-size:14px;
}
.comment img {
	float: left;
	margin-right: 10px;
	margin-top: 3px;
}
.comment_name {
	color: rgb(43, 88, 122);
	font-weight: bold;
	font-size: 16px;
}
 @media screen and (max-width: 1020px) {
 .menu {
 display: none;
}
.btm2 {margin-top: 6px !important;margin-bottom: 44px !important;}
 .container {
 width: 100%;
 height: 100%;
 background: #fff;
 margin-bottom: 0px;
}
 .inner {padding: 0 15px;}
 body img {
max-width: 100%;
}
 body {
 font-size: 16px;
}
}
@media screen and (max-width: 720px) {
 .inner {
width: 100%;
}
 p {
 margin: 2px;
}
}
 @media screen and (max-width: 520px) {

.logo {
	margin:2px 0;
}

.logo h1 {
  font-size: 16px;
  line-height: 18px;
}

 .logo h1 span {
	 font-size:12px;
 }
 .inner h2 {
 font-size:21px;
}
.inner p {
 margin:15px 0;
}
 .logo img {
 width:40px;
 margin-left:10px;
}
}
 @media screen and (max-width: 420px) {


 .inner h3 {
 font-size:16px;
}
 .inner p {
font-size: 16px;
}
 .container {
padding: 0px;
}
 .inner {
 font-size: 14px;
}
 .date {
 /* display: none; */
}
}
.comm2 {
margin-top: 0px !important;
    font-size: 14px !important;
    margin-left: 60px !important;
}
label {
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.price{line-height:1.2;font-weight:700;margin: auto;text-align: center;display: block;}.price__old{text-decoration:line-through;margin-right:10px}.price__new{font-size:30px;color:red}body{font-family:sans-serif}

div.blur{position:relative;/* background:#eee; */padding:10px;cursor:pointer;margin-top:15px}div.blur.active .img-blur{display:none}div.blur.active .img-noblur{display:block;margin-left:auto;margin-right:auto}div.blur .img-blur{display:block;margin-left:auto;margin-right:auto}div.blur .img-noblur{display:none}.blur-p{position:absolute;top:10%;left:50%;transform:translateX(-50%);font-size:24px;text-transform:uppercase;color:#fff;text-shadow:1px 1px 1px #000}
.active p {
    display: none;
}
div.blur{position:relative;/* background:#eee; */padding:10px;cursor:pointer;margin-top:15px}div.blur .img-blur{display:block;margin-left:auto;margin-right:auto}div.blur .img-noblur{display:none}.blur-p{position:absolute;top:10%;left:50%;font-weight: 700;transform:translateX(-50%);font-size: 48px !important;text-transform:uppercase;color: #db2020 !important;text-shadow: 2px 2px 2px #000;}body{overflow-x:hidden}.inL_556066{max-width:500px;width:100%}.inL_697872{margin-bottom:0;margin-top:30px}.inL_559440{max-width:500px;width:100%}.inL_774677{margin-bottom:0;margin-top:30px}.inL_607891{max-width:500px;width:100%}.inL_28880{margin-bottom:0;margin-top:30px}.inL_387334{max-width:500px;width:100%}.tcenter{text-align:center}@media (max-width:639px){.blur-p{text-align:center}}

.myh4, .rub-ramka a {text-transform: uppercase }.rub-ramka {background: rgba(3, 224, 0, .04);padding: 6px 13px !important;border-radius: 2px;border: 4px double rgba(21, 160, 37, .32);font-family: open\sans, arial, sans-serif;line-height: 28px;font-size: 16px;max-width: 86%;margin: 0 auto;font-weight: 400;color: #4a4a4a }.myh4 {padding: 6px 4px 4px 5px;width: 100%;display: table;border: 1px dotted #e2e2e2;border-right: 0;color: #3a753a;font-size: 14px;margin-bottom: 9px;line-height: 23px;border-radius: 2px;margin-top: 5px;margin-left: -3px;font-weight: 600;background-color: #f5fef5;background-image: -webkit-repeating-linear-gradient(0, #bfe6bf 0, #f5fef5 100%);background-image: repeating-linear-gradient(90deg, #bfe6bf 0, #f5fef5 100%);background-image: -ms-repeating-linear-gradient(0, #bfe6bf 0, rgba(3, 224, 0, .04) 100%) }.rub-ramka a {color: #ce5353;font-weight: 400;text-decoration: none;font-size: 15px;border-bottom: 1px dashed;text-shadow: none;margin-left: 2px;margin-right: 2px;padding-bottom: 1px }@media screen and (max-width: 1020px) {.rub-ramka {max-width: 95% }}.inL_49284 {font-weight: 700;color: red }@media (max-width: 820px) {@media (max-width: 768px) {p {line-height: 1.4 }}}