@charset "UTF-8"; @font-face {
    font-family: "untitled-font-1";
    src: url("../fonts/untitled-font-1.eot");
    src: url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"), url("../fonts/untitled-font-1.woff") format("woff"), url("../fonts/untitled-font-1.ttf") format("truetype"), url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "untitled-font-1" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "untitled-font-1" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\61";
}

.icon-social-twitter:before {
    content: "\62";
}

.icon-youtube:before {
    content: "\63";
}

.icon-instagram:before {
    content: "\64";
}

.icon-search:before {
    content: "\65";
}

.icon-bars:before {
    content: "\66";
}

/*reset*/
body, h1, h2, h3, h4, h5, p, ul {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url(../images/bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.4;
}

.wrapper {
    overflow: hidden;
}

.header {
    padding: 15px;
    background: rgba(0, 0, 0, .75);
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.registration {
    display: inline-block;
    vertical-align: middle;
}

.sign-in, .sign-up, .reg-line {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #fff;
}

.sign-in:hover, .sign-up:hover {
    text-decoration: underline;
}

.social-bar {
    text-align: center;
    margin-top: 10px;
}

.social__links {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin: 0 3px;
    padding: 7px 8px;
    line-height: 1;
    -webkit-transition: border-radius .3s linear;
    -o-transition: border-radius .3s linear;
    transition: border-radius .3s linear;
}

.social__links:hover {
    border-radius: 50%;
}

.icon-facebook {
    background: #3b5998;
}

.icon-social-twitter {
    background: #41abe1;
}

.icon-youtube {
    background: #c2171d;
}

.icon-instagram {
    background: #b12bb1;
}

.social__links:before {
    display: inline-block;
    vertical-align: top;
}

.search {
    margin-top: 15px;
    position: relative;
}

.search__field {
    outline: none;
    border: none;
    width: 100%;
    padding: 8px 10px;
}

.search__link {
    position: absolute;
    top: 6px;
    right: 15px;
    text-decoration: none;
    color: #ccc;
}

.menu {
    display: inline-block;
    vertical-align: middle;
    width: 58%;
    text-align: center;
    overflow: hidden;
    height: 32px;
}

.menu__list {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.menu__links {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
    -webkit-transition: text-shadow .3s linear;
    -o-transition: text-shadow .3s linear;
    transition: text-shadow .3s linear;
}

.menu__links:hover, .active {
    color: yellow;
    text-shadow: 0 0 4px red, 0 0 8px red, 0 0 9px red, 0 0 11px red;
}

/*content*/
.content {
    padding: 15px 20px 40px;
    margin-top: 20px;
    background: #fff;
}

.blog {
    background: #f6f0df;
    padding: 5px 15px;
    margin: -20px -20px 0;
}

.content-title {
    width: 80%;
    margin: 10px auto 0;
    text-align: center;
    padding: 15px 0;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 700;
}

.content-statistic {
    padding: 5px 15px 10px;
    color: #625E76;
    border-bottom: 1px solid #ccc;
}

.content-like {
    display: inline-block;
    color: #fff;
    background: #3b5998;
    padding: 3px 25px;
    font-size: 16px;
    line-height: 1;
}

.like__facebook:before {
    display: inline-block;
    padding: 2px;
    border-radius: 3px;
    font-size: 14px;
    margin-left: -20px;
    margin-right: 8px;
    color: #3b5998;
    background: #fff;
}

.main__inner {
    width: 75%;
    margin: 0 auto;
}

.main-img {
    margin: 15px 0;
    text-align: center;
}

.main-text {
    margin: 15px 0;
}

.main-text_modify {
    width: 60%;
    margin: 15px auto;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    text-align: center;
    background: #FFD859;
}

.window {
    width: 75%;
    margin: 15px auto;
    border: 2px solid #0B198C;
}

.window-header {
    padding: 3px;
    text-align: right;
    background: #354f82;
    background: -moz-linear-gradient(top, #354f82 0%, #526792 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #354f82), color-stop(100%, #526792));
    background: -webkit-linear-gradient(top, #354f82 0%, #526792 100%);
    background: -o-linear-gradient(top, #354f82 0%, #526792 100%);
    background: -ms-linear-gradient(top, #354f82 0%, #526792 100%);
    background: linear-gradient(to bottom, #354f82 0%, #526792 100%);
}

.window-header__link {
    color: #fff;
    font-size: 14px;
}

.window-header__link:hover {
    text-decoration: none;
}

.window-info {
    display: table;
    width: 100%;
    font-size: 0;
    padding: 35px;
    background: #E1E4F2;
}

.name-block, .info-date {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
    font-size: 16px;
}

.info-date {
    width: 35%;
}

.info__name {
    font-size: 20px;
    font-weight: 700;
    color: red;
    text-shadow: 1px 1px 1px #000;
}

.window-inner {
    padding: 15px 20px;
    background: #F5F5FF;
}

.window__text {
    margin: 15px 0;
}

.links {
    color: red;
    font-weight: 700;
}

.links:hover {
    text-decoration: none;
}

.sale-wrap {
    position: relative;
    display: table;
    width: 75%;
    font-size: 0;
    margin: 15px auto;
    background: #000;
    padding: 15px 0;
    border-radius: 10px;
    overflow: hidden;
}

.sale-wrap:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border: 2px dashed #ca9426;
    border-radius: 10px;
}

.sale-wrap:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 253px;
    border-radius: 0 0 10px 10px;
    background: url(../images/fire.png) center bottom no-repeat;
    opacity: .8;
}

.prodcut, .sale__inner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 60%;
    font-size: 16px;
    z-index: 2;
    padding: 10px;
}

.prodcut {
    width: 40%;
}

.sale__inner-title {
    font-size: 20px;
    color: #FFD402;
}

.button-wrap {
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
}

.button {
    position: relative;
    display: block;
    margin-top: 30px;
    padding: 5px 10px;
    position: relative;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background: #fcf0a0;
    background: -moz-linear-gradient(top, #fcf0a0 0%, #f5d11b 51%, #fcf0a0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcf0a0), color-stop(51%, #f5d11b), color-stop(100%, #fcf0a0));
    background: -webkit-linear-gradient(top, #fcf0a0 0%, #f5d11b 51%, #fcf0a0 100%);
    background: -o-linear-gradient(top, #fcf0a0 0%, #f5d11b 51%, #fcf0a0 100%);
    background: -ms-linear-gradient(top, #fcf0a0 0%, #f5d11b 51%, #fcf0a0 100%);
    background: linear-gradient(to bottom, #fcf0a0 0%, #f5d11b 51%, #fcf0a0 100%);
    border-radius: 10px;
    -webkit-transition: transform .3s linear;
    -o-transition: transform .3s linear;
    transition: transform .3s linear;
}

.button:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    text-decoration: none;
}

.button__item {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    text-transform: none;
}

.sale-subtitle {
    margin-top: 30px;
    font-size: 20px;
    color: #fbf5de;
    text-shadow: 1px 1px 1px #000;
}

.comments {
    border: 1px solid #e9eaed;
    margin-top: 30px;
    margin-bottom: 20px;
}

.comments-title {
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #e9eaed;
}

.comment__inner {
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
}

.comment__inner:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 1px;
    background: #e9eaed;
}

.comment__inner:last-child {
    padding-bottom: 0;
}

.comment__inner:last-child:before {
    display: none;
}

.comment__inner_answer {
    margin-left: -15px;
    margin-top: 20px;
    border-bottom: none;
    margin-bottom: 0;
}

.comment__inner_answer:before {
    display: none;
}

.user__img {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
}

.text__block {
    padding-left: 65px;
}

.user__name {
    color: #3b5998;
    margin-bottom: 3px;
    line-height: 1;
    font-weight: 700;
}

.user__text {
    line-height: 1.4;
}

.user__text_modify {
    margin-bottom: 10px;
}

.post {
    margin-top: 15px;
}

.post__like, .post__dotted, .post__answer, .post__count {
    display: inline-block;
    margin: 0 3px;
    font-size: 14px;
    color: #3b5998;
}

.post__like {
    margin-left: 0;
}

.post__count {
    padding-left: 18px;
    background: url(../images/like-icon.gif) left center no-repeat;
}

.footer {
    margin-top: 20px;
    background: #fff;
    padding: 5px;
}

.copyright {
    text-align: center;
}

.main-1 {
    max-height: 411px;
}

.block_l_r_l {
    /* max-width: 700px; */
    margin: 20px auto;
    display: table;
}

.block_l_r_l img {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}

/* slider */
.banner-img {
    display: block;
    width: 100%;
}

.slider__img {
    margin: 0 auto;
    width: 100%;
}

.slider__img img {
    display: block;
    width: 100%;
}

.slider__title {
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 5px;
    position: relative;
    font-size: 18px;
    color: #000;
}

.slider__question {
    color: #e71b22;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 15px;
}

.slider__button {
    font-size: 22px;
    font-weight: 500;
    z-index: 2;
    position: relative;
    width: 15px;
}

.prev-btn {
    display: block;
    position: relative;
    bottom: 0;
    color: #000;
}

.prev-btn:before {
    content: '';
    position: absolute;
    width: 27px;
    border: 2px solid #d0cccc;
    border-radius: 60px;
    height: 100%;
    right: 100%;
    top: 0;
    margin-right: 10px;
}

.next-btn {
    display: block;
    position: relative;
    color: #000;
    margin-bottom: 19px;
    margin-left: 37px;
    cursor: pointer;
}

.next-btn:before {
    content: '';
    position: absolute;
    width: 27px;
    border: 2px solid #d0cccc;
    border-radius: 60px;
    height: 27px;
    right: 100%;
    top: 0;
    left: -37px;
    margin-right: 10px;
}

.slider__last-text {
    position: relative;
    display: block;
    text-align: center;
    color: #000000;
    font-size: 24px;
    text-transform: uppercase;
}

.right {
    display: table-cell;
    padding-left: 15px;
    float: right;
    width: 26%;
}

.bx-wrapper {
    width: 70%;
    position: relative;
    display: inline-block;
    right: -50%;
    transform: translate(-50%);
}

.bx-controls.hide {
    display: none;
}

.pointer {
    position: relative;
    margin: 0 auto;
    width: 228px;
    padding: 20px 0;
}

.button {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    width: fit-content;
    color: #0000ff;
}

.button:hover {
    text-decoration: none;
}

.bx-pager {
    display: none;
}

.bx-wrapper {
    display: inline-block;
    background-color: #ffffff;
    padding: 14px;
    position: relative;
    text-align: left;
    border: 1px solid #e9eaed;
}

.bx-controls.hide {
    display: none;
}

.visible {
    display: none !important;
}

.date {
    font-size: 12px;
    color: #afadad;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.user__text img {
    margin: 15px auto 10px;
    display: block;
}

@media (max-width: 768px) {
    .bx-wrapper {
        width: 100%;
    }

    .hidden {
        display: none !important;
    }

    .visible {
        display: block !important;
    }

    .content {
        padding: 15px 10px 40px;
    }
}
