h1
{
	font-family: verdana; 

	font-size: 20px; 

	color: #B0031D; 

	margin: 0;

	padding: 0;

	padding-left: left;

	margin-bottom: 12px;

	line-height: normal;

	background-image: url(../img/str0.gif);

	background-repeat: no-repeat;

	background-position: left 9px;

	font-style:  normal ;

	text-decoration:  none ;

	font-weight:  bold ;
}



h1 a {

	color: #0779B6;

}

h1 a:hover {

	color: #0779B6;

}



.input

{

	border: 1px solid #7F9DB9;

	color: #333333;

	background-color: #FFFFFF;

	font-family: Tahoma;

	font-size:11px;

}



#osnova 

{

	text-align:center;

	margin: auto;

	background-color:#ffffff; /*zamqna na osnovniq bachground na saita */

	background-image: url(); /* osnovna snimka za backgroud na celiq sait */

	background-repeat: repeat-x; /* povtorenite na snimkata */

	background-position: left top; /* gore u levo e sega */

}



#osnova_main {


	display:block;

	background-color: #ffffff; /* background-color */	

	font-family:verdana;  /* osnoven shrift */

	font-size:11px; /* osnoven razmer */

	color:#535353;

	padding:10px;

	padding-top:10px;

	background-image: url();

	background-repeat: repeat-x; /* povtorenite na snimkata */

	background-position: left top;

	text-align:left;  /* font align*/

	border-top: 0px solid #ffffff; /* border */

	border-left: 0px solid #ffffff; /* border */

	border-right: 0px solid #ffffff; /* border */

	border-bottom: 0px solid #ffffff; /* border */

}



#osnova_main a

{

	text-decoration:none;

	color:#B0031D; /* LINK CVQT - tvqbva da se vzima ot cveta na zaglavieto primerno  */

	border-bottom: 1px solid #FFEFD6; /* cvqt na linka pod linka */

	padding-bottom:1px;

}



#osnova_main a:hover

{

	color:#72AE03; /* LINK CVQT - tvqbva da se vzima ot cveta na zaglavieto primerno  */

}



/* LQVA CHAST */



#osnova_main_left {

	line-height:15px;

	text-align:left;

	border-top: 0px solid #535353; /* border */

	border-left: 0px solid #535353; /* border */

	border-right: 0px solid #535353; /* border */

	border-bottom: 0px solid #535353; /* border */		

	background-image: url(../img/corner.gif);

	background-repeat: repeat-x;

	background-position: left top;

	background-color: #FFFFFF;

	float:left; 

	width:600px;

	line-height:15px;

	font-family:verdana; /* osnoven shrift */

	font-size:14px; /* osnoven razmer */

	color:#535353; /* osnoven cvqt font */

	font-style: ;

	text-decoration: ;

	font-weight: ;

    padding:10px;

}



#osnova_main_left_pad { padding:20px; }  /* padding na lqvata chast */



#osnova_main_right { float: right;  width:300px;}



#glava_blog

{

    background-image: url(../img/663_header.jpg);  /* snimka na glavata */

	background-repeat: repeat-x;

	background-position: left top;

	width: 100%; /* dyljina na snimkata  */

	height:177px; /* visochina na snimkata */

	line-height: 50px;

	background-color: #ffffff;  /* cvqt na back-ground */

	text-align:left;  /* lev ili desno cetrniran tekst */

	vertical-align:middle;

	
		
		
	margin-bottom:0px; 

}



#glava_blog_name

{

	

	font-family: verdana; /* fonta */

	font-size:40px; /* fonta - golemina */

	font-style:    normal ;


	font-weight:    normal ;
	
	text-align: left;
	
	padding-left:20px;

	padding-right:10px;
}

#glava_blog_name  a{ color: #ffffff; /* cvqt na fonta na glavata */ }


#link_glava_blog_name

{
	font-family: tahoma; /* fonta */

	font-size:20px; /* fonta - golemina */

	font-style: ;

	font-weight: ;

	text-align: left;
	padding-left:20px;

	padding-right:20px;
	
}
#link_glava_blog_name a { color: #ffffff; /* cvqt na fonta na glavata */ }

.kagegorii ul {

  float: left;

  width: 280px;

  margin: 0;

  padding: 0;

  list-style: none;

}


.kagegorii li {

  float: left;

  width: 200px;

  margin: 0;

  padding: 0;

}



.info_line {

	font-size:10px;

	color:#999999; 

	margin-bottom:12px; 
	
	font-family: Tahoma;


}



.data {

	color:#333333;

}



.tab{

	border-top: 1px solid #535353; /* border */

	border-left: 0px solid #CCCCCC; /* border */

	border-right: 0px solid #CCCCCC; /* border */

	border-bottom: 1px solid #CCCCCC; /* border */

	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
}



.tab_title {

	padding-right:8px;

	font-weight:bold;

}



.keywords {

	padding:15px;
	margin-top:5px;
	font-style:italic;

}

.comment_back{ background-color:#F7F7F7; }


.comment_layer { margin-left: 110px; }



.comment{

	border-bottom: 1px solid #CCCCCC; /* border */

	padding:10px; 

	margin-bottom:5px;

}



.raz_line {
	height:1px;
	background-image: url(i/raz.png);
	background-repeat: repeat-x;
	background-position: left top;
	position: left top;
}

.picker_color

{
	width:18px; 
	height:18px; 
	border:1px solid #7f9db9; 
	padding: 1px;
}

.active_date 
{
	border: 1px solid #999999;
	background-color: #ffffff;
	padding-left:3px;
	padding-right:3px;
}

#nav .active_date {
	padding:5px 10px;
}

#nav a.active_date:hover {
	color:#333333;
	background:#f7f7f7;
}

#nav a.active_date {
text-decoration: none;
color: #333333;
}