.boxit h2 {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.27;
    font-weight: 500;
    text-shadow: 0.1px 0.3px 0px #000;
    /*color: #777;*/
}

.boxit p {

    text-indent: 0px;

    color: black;

    text-align: justify;

    /* margin: 15px; */

    line-height: 25px;

    padding: 5px 0px;

}



.boxit .frame-img {

    padding-left: 0px;

    width: 50%;

    max-width: 600px;

    margin-right: 20px;

}



.boxit .frame-img img {

    max-width: 100%;


}



.boxit .frame-container {

    position: relative;

    /* padding-bottom: 5%; */

    padding-top: 0px;

    overflow: hidden;

}



.boxit .form-container {

    position: relative;

    background-color: rgb(244, 244, 244);

    border-radius: 8px;

    border: 1px solid rgb(212, 212, 212);

    margin-top: 20px;

}



.boxit .action-valid {

    background-color: rgb(128, 185, 29);

    color: rgb(255, 255, 255) !important;

    height: 51px;

    line-height: 25px !important;

    text-align: center !important;

    font-size: 20px;

    margin: 0 !important;

}



.boxit .lp-text {

    padding: 18px 0px 0px;

}



.boxit .px20 {

    font-size: 20px;

}



.boxit input,
select,
textarea {

    display: block;

    width: 90%;

    height: 50px;

    line-height: 50px;

    margin: 10px auto !important;

    border: 1px solid rgb(0, 0, 0);

    border-radius: 6px;

    outline: medium none;

    text-indent: 80px;

    color: rgb(37, 37, 37);

    font-size: 26px;

    box-sizing: content-box;

    transition: all 0.3s ease 0s;

    -webkit-appearance: none;

}



input.name-black {

    font-size: 20px;

    background: rgb(255, 255, 255) url(../images/name_b.png) no-repeat scroll 30px 50%;

}

input.phone-black {

    font-size: 20px;

    background: rgb(255, 255, 255) url(../images/phone_b.png) no-repeat scroll 28px 50%;

}

.event_order {

    opacity: 0.88;

    position: relative;

    -webkit-appearance: none;

    display: block;

    text-indent: 0px !important;

    background: rgb(113, 177, 0) none repeat scroll 0% 0%;

    outline: medium none;

    border-width: medium medium 5px;

    font-size: 26px;

    border-style: none none solid;

    border-color: currentcolor currentcolor rgb(84, 131, 0);

    -moz-border-top-colors: none;

    -moz-border-right-colors: none;

    -moz-border-bottom-colors: none;

    -moz-border-left-colors: none;

    border-image: none;

    width: 90%;

    height: 70px;

    line-height: 70px;

    margin-top: 15px !important;

    border-radius: 8px;

    font-weight: 700 !important;

    text-transform: uppercase !important;

    text-align: center;

    color: rgb(255, 255, 255) !important;

    cursor: pointer;

}



.px25 {

    font-size: 25px;

}



.pink {

    color: rgb(239, 22, 80) !important;

}



.px18 {

    font-size: 18px;

}



.px15 {

    font-size: 18px;

}



.left-pack {

    background: rgb(239, 22, 80) none repeat scroll 0% 0%;

    display: inline-block;

    width: 40px;

    height: 40px;

    line-height: 40px;

    text-align: center;

    vertical-align: middle;

    font-weight: 700;

    border-radius: 5px;

    color: rgb(255, 255, 255);

    margin: 0px 8px;

}



.form {

    display: flex;

}



.boxit p {

    text-align: center !important;

}



@media (max-width: 768px) {

    .form {

        display: flex;

        flex-direction: column;

        align-items: center;

    }

    .frame-img {

        margin-right: 0 !important;

    }

    input.name-black,
    input.phone-black {

        font-size: 18px !important;

    }

    .boxit input,
    select,
    textarea {

        font-size: 24px;

    }

}