@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Mukta", sans-serif;
}

header {
  background: #2B2B2B;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  height: 63px;
  margin: auto;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  display: block;
  text-decoration: none;
  margin-right: 120px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
}
.nav-link:last-child {
  margin-right: 40px;
}

.search {
  position: relative;
}
.search:before {
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  width: 21px;
  height: 21px;
  background: url("../img/search.png") no-repeat center/contain;
  z-index: 2;
}
.search input {
  background: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 14px;
  padding: 0 40px;
  height: 30px;
}

main {
  display: flex;
  max-width: 1320px;
  margin: 16px auto auto auto;
  padding-top: 63px;
}

.container {
  max-width: 970px;
  background: #D9D9D9;
  padding: 30px;
}

article {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}
article p {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  margin: 0 0 15px 0;
}

aside {
  max-width: 325px;
  margin-left: 23px;
}

.text {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}

.aside-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF5F6;
  padding: 13px;
}
.aside-title a {
  color: #B40707;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
}

.aside-post {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 163px 122px;
  background: #FFF5F6;
  padding: 13px;
  color: #000;
  text-decoration: none;
}
.aside-post .aside-post-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 30px 0;
  color: #253B47;
}

.post-info {
  display: flex;
  align-items: center;
  color: #253B47;
  font-weight: 800;
  font-size: 12px;
  margin-bottom: 6px;
}

.post-time {
  display: flex;
}
.post-time:before {
  content: "";
  background: url("../img/time.png") no-repeat center/contain;
  width: 13px;
  height: 13px;
  margin-right: 3px;
}
.post-time span {
  margin-left: 7px;
  font-weight: 275;
}

.post-author {
  display: flex;
  margin-left: 40px;
}
.post-author:before {
  content: "";
  background: url("../img/autor.png") no-repeat center/contain;
  width: 10px;
  height: 11px;
  margin-right: 3px;
}
.post-author span {
  margin-left: 9px;
  font-weight: 275;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
.flex-container .image:nth-child(1) {
  margin-right: 25px;
  margin-bottom: 20px;
}
.flex-container .image:nth-child(2) {
  margin-left: 25px;
}
.flex-container .image:nth-child(3) {
  margin-right: 25px;
}

h2 {
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  color: #253B47;
  margin-top: 45px;
}

.comment-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment {
  background: #fff;
  border-radius: 5px;
  border: 0.5px solid #BFBFBF;
  padding: 18px;
  margin-bottom: 10px;
}
.comment p {
  font-size: 22px;
  line-height: 22px;
  font-weight: 300;
  margin: 15px 0;
}

.info {
  display: flex;
  align-items: center;
}

.name {
  margin-left: 15px;
  font-size: 15px;
  font-weight: 700;
}

.votes {
  display: flex;
  align-items: center;
  background: #F5F5F5;
  max-width: 93px;
  height: 26px;
  border-radius: 13px;
  padding: 6px;
  box-sizing: border-box;
}

.upvote {
  background: url("../img/upvote.png") no-repeat center/contain;
  margin-right: 14px;
  width: 15px;
  height: 15px;
  flex: none;
}

.downvote {
  background: url("../img/downvote.png") no-repeat center/contain;
  width: 15px;
  height: 15px;
  flex: none;
}

.vote-count {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  color: #696969;
}
.vote-count:after {
  content: "";
  height: 15px;
  width: 1px;
  background: #CAC8C8;
  margin: 0 14px;
}

.comment-title {
  font-size: 15px;
  font-weight: 400;
  color: #696969;
}

.sort {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #696969;
}
.sort span {
  display: flex;
  align-items: center;
  border: 1px solid #696969;
  border-radius: 12px;
  padding: 6px;
  margin-left: 20px;
}
.sort span:after {
  content: "";
  background: url("../img/down.png") no-repeat center/contain;
  width: 14px;
  height: 7px;
  margin-left: 24px;
}

.burger {
  display: none;
}

.mobile-menu {
  display: none;
}

.mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .logo {
    padding-left: 20px;
  }

  .nav {
    padding-right: 20px;
  }

  .container {
    padding: 10px;
  }

  aside {
    padding-right: 10px;
    margin-left: 10px;
  }

  .flex-container {
    flex-direction: column;
  }
  .flex-container .image {
    text-align: center;
    margin-right: 0;
  }
  .flex-container .image:nth-child(1) {
    margin-right: 0;
  }
  .flex-container .image:nth-child(2) {
    margin-left: 0;
  }
  .post-info {
    justify-content: center;
  }

  h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .burger {
    display: block;
    width: 40px;
    height: 40px;
    padding-right: 20px;
    cursor: pointer;
    background: url("../img/burger.png") no-repeat center/contain;
    transition: background 0.5s ease;
  }

  .open {
    transition: background 0.5s ease;
    background: url("../img/cross.png") no-repeat center/contain;
  }

  .mobile-menu {
    display: none;
    position: fixed;
    top: 60px;
    background: rgba(43, 43, 43, 0.67);
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    padding-top: 30px;
    backdrop-filter: blur(10px);
  }
  .mobile-menu .nav-link {
    text-align: center;
    justify-content: center;
    margin: 0 0 30px 0;
  }
  .mobile-menu .nav-link:after {
    display: none;
  }

  .show {
    display: block !important;
  }

  aside {
    display: none;
  }

  main, .container {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  article img {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  h1 {
    font-size: 30px;
  }

  .post-author {
    margin-left: 15px;
  }
}
@media screen and (max-width: 320px) {
  .post-info {
    flex-direction: column;
  }

  .post-time {
    margin-bottom: 10px;
  }

  h2 {
    font-size: 28px;
  }

  h1 {
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
