.ladi-notify {
  padding: 5px;
  box-shadow: 0 0 1px rgba(64, 64, 64, .3), 0 8px 50px rgba(64, 64, 64, .05);
  border-radius: 40px;
  color: rgba(64, 64, 64, 1);
  background: rgba(250, 250, 250, .9);
  line-height: 1.6;
  width: 100%;
  height: 100%;
  font-size: 13px
}

.ladi-notify .ladi-notify-image img {
  float: left;
  margin-right: 13px;
  border-radius: 50%;
  width: 53px;
  height: 53px;
  pointer-events: none
}

.ladi-notify .ladi-notify-title {
  font-size: 100%;
  height: 17px;
  overflow: hidden;
  font-weight: 700;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1
}

.ladi-notify .ladi-notify-content {
  font-size: 92.30%;
  height: 17px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1;
  padding-top: 2px
}

.ladi-notify .ladi-notify-time {
  line-height: 1.6;
  font-size: 84.61%;
  display: inline-block;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 155px);
  overflow: hidden
}
#NOTIFY791 {
  font-family: Arial, sans-serif;
  width: 300px;
  height: 62px;
  top: 10px;
  left: 10px;
  bottom: auto;
  right: auto;
  position: fixed;
  z-index: 90000060;
  transition: 0.5s ease;
}

/*Comments*/
.comm-title {
  background-color: #7c3131;
}

.commit-text {
  padding: 10px;
}

.commit-text .commit-text {
  margin-left: 70px;
}

.comment-add {
  /*padding-left: 80px;*/
  margin: 20px 0 0;
  position: relative;
}

.comment-add:after {
  content: "";
  display: block;
  clear: both;
}

.comment-add img {
  top: 0;
}

.comment-add textarea {
  width: 100%;
  resize: none;
  height: 130px;
  border: 1px solid #999;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  font-family: Arial, 'Helvetica Neue', sans-serif;
}

.comment-add input {
  width: 100%;
  resize: none;
  height: 30px;
  border: 1px solid #999;
  padding: 5px 10px;
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.comment-add button {
  background: #d23a3a;
  color: #fff;
  width: 80px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  border: 0;
  outline: none;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  transition: 0.3s ease;
}

.comment-add button:hover {
  background: #70b9ff;
}

.comment-add button:active {
  background: #4b89ee;
}

.comment-add button:disabled, .comment-add button:disabled:hover{
  opacity: 0.5;
  background: #4b9aff;
}

.new {
  animation: new 5s ease;
}

.reply {
  margin-left: 85px;
  color: #1663c7;
  font-size: 14px;
  line-height: 18px;
  /* margin: 10px 0 0; */
}

span.likes {
  color: #000;
  /* padding-left: 22px; */
  height: 18px;
  /* background: url("../images/like.png") 0 -1px no-repeat; */
}


@keyframes new {
  0% {
      opacity: 0;
      background: rgba(250, 200, 0, 0.1);
  }
  50% {
      opacity: 100%;
      background: rgba(250, 200, 0, 0.1);
  }

  100% {
      opacity: 100%;
      background: rgba(10, 120, 194, 0);
  }
}

.order {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  padding-bottom: 20px;
}

.order * {
  box-sizing: border-box;
}

.order .prod-img {
  display: block;
  margin: 20px auto
}

.order-info h2 {
  color: red;
  font-size: 1.5em;
}

.order-info h2 span {
  text-decoration: underline;
}

.order-info .left_count {
  display: block;
  width: 178px;
  padding: 23px;
  margin: 12px auto;
  background: red;
  color: #fff;
  text-shadow: 0 -1px 0 #000, 0 -1px 0 #000, 0 1px 0 #000, 0 1px 0 #000, -1px 0 0 #000, 1px 0 0 #000, -1px 0 0 #000, 1px 0 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 32px !important;
  border-radius: 5px
}

.order-info .prod_left_val {
  font-size: 52px;
  font-weight: 700;
  line-height: 52px;
}

.order-info div h4 span {
  color: green;
}

.order-form {
  display: none;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
}

.order-form-bg {

  background: #fff url("../img/formbg.jpg") no-repeat;
  background-size: 100% 100%;
}

.order-form .top {
  padding-top: 100px;
  background: url("../img/med1.png") top center no-repeat;
  background-size: 100px auto;
}

.order-form .top h2 {
  margin: 25px 0 0;
  padding: 0;
  line-height: 32px;
  font-size: 30px;
  font-weight: 700
}

.order-form .top p {
  font-size: 14px;
  color: #00f;
  font-style: italic;
}

.order-form .price p span {
  font-size: 21px;
  font-weight: 700;
  color: red;
}

.order-form .frame {
  margin: 45px 10px 25px;
  border: 2px solid #0299ff;
  padding: 10px;
}

.order-form .frame p {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
}

.order-form .order-input {
  margin: 10px
}

.order-form label {
  width: 230px;
  display: block;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
  font-weight: 700;
  font-size: 16px
}

.order-form input, .order-form select {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  padding: 15px;
  border-radius: 3px;
  border: 2px solid #e9d7dc;
  font-size: 15px;
}

.order-form p {
  font-size: 12px;
  margin: 0;
  line-height: 30px;
}

.order-form button, .obutton {
  max-width: 265px;
  display: block;
  margin: 20px auto;
  padding: 20px 60px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 4px 15px 0 rgba(129, 150, 160, .45);
  border-radius: 5px;
  background: #0299ff;
  transition: all .15s ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.order-form button:hover, .obutton:hover {
  background: #017acc;
  text-decoration: none;
  color: #fff
}

.order-form button:disabled, .obutton:disabled {
  opacity: .5
}

.order-form button:hover:disabled, .obutton:hover:disabled {
  background-color: #0299ff
}

.order-form button:active {
  position: relative;
  top: 1px
}

.order-form .timelimit {
  font-size: 14px;
  margin: 0 0 10px;
}

.timer {
  display: inline-block;
  background: url(../img/timerIcon2.png) no-repeat;
  padding-left: 14px;
  color: red;
  font-weight: 700;
  line-height: 15px;
}

.price-img {
  display: block;
  margin: 0 auto;
}

.price > span {
  font-size: 14px;
  text-decoration: line-through;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .order-form label {
      font-size: 14px
  }

  .order-form button {
      font-size: 16px
  }

  .order-form {
      padding: 10px
  }

  .order-form .order-input {
      margin: 2px
  }

  .price-img {
      width: 100%;
  }
}

.wrap {
  width: 100%;
}

.container {
  margin: 0 auto;
  background: #fff;
}

.form-wrap {
  width: 840px;
  margin-left: 20px;
}


#SECTION380 .ladi-container {
  background: #fff;
}

.order h4 {
  font-size: 18px;
  margin: 20px 0;
}


@media screen and (max-width: 767px) {
  .order-form input, .order-form select {
      width: 80%
  }

  .order-form {
      margin-left: -20px;
      margin-right: -20px
  }

}

@media screen and (max-width: 767px) {
  .order-form .top h2 {
      margin: 0;
  }

  .order-form input, .order-form select {
      font-size: 15px
  }

  .order-form .frame {
      margin: 10px;
  }

  .wrap, .container, .form-wrap {
      width: 100%;
      margin: 0;
  }
}

.submit-form,.wg_btn {
  animation: 1s pulse infinite alternate ease-in-out;
}


@keyframes pulse {
  0% {
      -webkit-transform: scale(1.0);-ms-transform: scale(1.0);transform: scale(1.0);
  }

  100% {
      -webkit-transform: scale(0.95);-ms-transform: scale(0.95);transform: scale(0.95);
  }
}

.submit-form:after {
  display: inline-block;
  -webkit-animation: dotty steps(1,end) 1.5s infinite;
          animation: dotty steps(1,end) 1.5s infinite;
  content: '';
  position:absolute;
  margin-left:10px;
}

@-webkit-keyframes dotty {
  0%   { content: ''; }
  25%  { content: '>'; }
  50%  { content: '>>'; }
  75%  { content: '>>>'; }
  100% { content: ''; }
}

@keyframes dotty {
  0%   { content: ''; }
  25%  { content: '>'; }
  50%  { content: '>>'; }
  75%  { content: '>>>'; }
  100% { content: ''; }
}