* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #0085cf;
}
a {
    color: #23527c;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: #b0493b;
	text-decoration: none;
}
.container {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}
.logo{
	font-family: 'Rubik Mono One', sans-serif;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	margin: 15px auto;
	display: block;
	font-size: 60px;
}
.logo:hover {
	color: #ffffff;
}
.center {
	text-align: center;
}

.nav{
	background: #0085cf;
	line-height: 40px;
}
.nav li{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 0 8px;
}
.nav li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 1px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
}
.nav li a:hover{
	color: #afd8f0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
}
.social{
	position: absolute;
	right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.social li{
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
}
.social li .facebook{
	color: #3b5998;
}
.social li .youtube{
	color: #d8362a;
}
.social li .twitter{
	color: #55bfee;
}
.content{
	  display: inline-block;
    width: 100%;
    padding-right: 0%;
    background: #fff;
    padding: 25px 20px;
}
.soc_crumbs{
	font-size: 0;
	background: #eee;
	padding: 5px;
	margin-bottom: 15px;
}
.soc_crumbs .soc_img{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}
.content .soc_crumbs .soc_img img{
	width: auto;
	margin-bottom: 0;
	margin: 0 !important;
}
.soc_crumbs span{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	font-size: 13px;
	text-align: right;
}
.content h1 {
	text-align: center;
	margin-bottom: 16px;
}
.content h2{
	font-size: 19px;
	border-bottom: 3px solid #168de2;
	padding-bottom: 15px;
}
.content .photo_block{
	font-size: 0;
	width: 100%;
	max-width: 100%;
}
.content .photo_block img{
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
.btn {
    background: rgb(52, 152, 219) -webkit-gradient(linear, left top, left bottom, from(rgb(52, 152, 219)), to(rgb(41, 128, 185))) repeat scroll 0% 0%;
    background: rgb(52, 152, 219) -webkit-linear-gradient(top, rgb(52, 152, 219), rgb(41, 128, 185)) repeat scroll 0% 0%;
    background: rgb(52, 152, 219) -moz-linear-gradient(top, rgb(52, 152, 219), rgb(41, 128, 185)) repeat scroll 0% 0%;
    background: rgb(52, 152, 219) -o-linear-gradient(top, rgb(52, 152, 219), rgb(41, 128, 185)) repeat scroll 0% 0%;
    background: rgb(52, 152, 219) linear-gradient(to bottom, rgb(52, 152, 219), rgb(41, 128, 185)) repeat scroll 0% 0%;
    -webkit-border-radius: 28px;
       -moz-border-radius: 28px;
            border-radius: 28px;
    font-family: Arial;
    color: rgb(255, 255, 255);
    font-size: 22px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 310px;
    max-width: 90%;
    margin: 20px auto;
}
.btn:hover {
    background: rgb(60, 176, 253) -webkit-gradient(linear, left top, left bottom, from(rgb(60, 176, 253)), to(rgb(52, 152, 219))) repeat scroll 0% 0%;
    background: rgb(60, 176, 253) -webkit-linear-gradient(top, rgb(60, 176, 253), rgb(52, 152, 219)) repeat scroll 0% 0%;
    background: rgb(60, 176, 253) -moz-linear-gradient(top, rgb(60, 176, 253), rgb(52, 152, 219)) repeat scroll 0% 0%;
    background: rgb(60, 176, 253) -o-linear-gradient(top, rgb(60, 176, 253), rgb(52, 152, 219)) repeat scroll 0% 0%;
    background: rgb(60, 176, 253) linear-gradient(to bottom, rgb(60, 176, 253), rgb(52, 152, 219)) repeat scroll 0% 0%;
    text-decoration: none;
    color: #fff;
}
.content p, .content img, .content h1, .content h2{
	margin-bottom: 16px;
}
.content p, .content li {
	 line-height: 1.5625;
	font-size: 18px;
}
.content .comm_text .time {
	padding-left: 60px;
}
@media (min-width: 768px) {
	.content p, .content li {
		text-align: justify;
	}
}

.content img{
	display: block;
    width:70%;
    max-width: 450px;
		margin: 0 auto;
}
.social {
	margin: 0 !important;
}
.content-list {
	padding-left: 30px;
	margin-top: 20px;
}
.content-list li:not(:last-child) {
	margin-bottom: 15px;
}
.content .prod{
	width: 365px;
	max-width: 90%;
	margin: 0 auto 16px;
}
.content .list{
	margin-bottom: 16px;
}
.content .list p{
	margin-bottom: 0;
}
.social_block{
	border: 2px solid #e6e6e6;
	padding: 20px;
	margin-bottom: 20px;
}
.content .social_block span {
	font-weight: bold;
	display: block;
	margin-bottom: 16px;
}
.content .social_block img{
	width: auto;
	margin: 0;
}
.quantity{
		color: #45688e;
    font-weight: bold;
    padding: 2px 3px 1px;
    background: #dae2e8;
    margin-bottom: 20px;
		margin-top: 20px;
}
.comment{
		border-bottom: 1px solid #dae1e8;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.content .comment .avatar{
	width: 48px;
	margin-right: 10px;
	display: block;
	/* vertical-align: top; */
	float: left;
}
.comm_text{
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.content .comm_text .user_name{
		color: #2b587a;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
}
.content .comm_text .text{
	font-size: 18px;
	width: 100%;
	padding-left: 60px;

}
.content .comm_text .time{
	color: #999;
	margin-bottom: 0;
}
.content .comm_text .text img {
	margin: 0;
	margin-top: 20px;
}
.sidebar{
	display: inline-block;
	vertical-align: top;
	width: 27%;
	background: #fff;
	padding: 25px 0 0;
}
.sidebar img{
	width: 100%;
	margin-bottom: 16px;
}
.sidebar p{
	font-weight: bold;
	margin-bottom: 16px;
}
.sidebar a {
	    text-decoration: none;
}
.footer{
		padding: 20px 1.5%;
    margin: 0px auto;
    background: #ebebeb none repeat scroll 0% 0%;
    text-align: center;
}
.burg{
	display: none;
}
.popup{
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 781px;
  height: 460px;
  background: #658fc4;
  border: 5px solid #dddddd;
  padding: 30px;
  display: none;
}
.popup h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 25px;
}
.popup img{
		width: 240px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}
.popup .text {
	display: inline-block;
	vertical-align: middle;
	width: -webkit-calc(100% - 270px);
	width: -moz-calc(100% - 270px);
	width: calc(100% - 270px);
}
.popup .text p{
	font-size: 22px;
	color: #fff;
	margin-bottom: 16px;
}
.popup .popup_btn {
		display: block;
    max-width: 345px;
    margin: 10px auto;
    font-size: 23px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid #fff;
    text-align: center;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    padding: 15px 15px!important;
    margin-top: 25px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.popup .popup_btn:hover{
	-webkit-transition: .3s;
	-o-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	background: #fff;
	color: #658fc4;
}
.close{
		position: absolute;
    top: -39px;
    right: -43px;
    border: 3px solid #ddd;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    width: 31px;
    height: 31px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #658fc4;
    cursor: pointer;
}
@media all and (max-width: 1000px) {
	/*.comment:nth-of-type(-n+28) {
		display: none;
	}*/
	.social, .soc_crumbs, .sidebar, .social_block, .nav li{
		display: none;
	}
	.content{
		width: 100%;
	}
	.logo{
		font-size: 40px;
		margin: 5px auto;
	}
	.content h1{
		font-size: 22px;
	}
	.btn{
		font-size: 18px;
	}
	.nav {
    line-height: 12px;
}
	.burg {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	.burg img{
		width: 40px;
	}
	.popup{
		width: 315px;
		height: auto;
		padding: 10px;
	}
	.popup img{
		width: 170px;
    margin: 0 auto;
    display: block;
	}
	.popup .text{
		width: 100%;
	}
	.popup h1{
		margin-bottom: 16px;
    font-size: 20px;
	}
	.popup .text p {
    font-size: 15px;
    margin-bottom: 10px;
	}
	.popup .popup_btn{
		font-size: 16px;
	}
}

.prod_link img {
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	-webkit-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out
}
.prod_link img:hover{
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-o-transform: scale(1.02);
	transform: scale(1.02);
}
.countdown-block {
	text-align: center;
	background: #ed1b24;
	color: #fff;
	padding-bottom: 10px;
	box-shadow: 0 0 black;
}

.countdown-block > h3 {
	font-weight: 800;
	font-size: 22px;
	padding-top: 5px;
	margin: 0;
	line-height: 1;
	padding-bottom: 10px;
}

.countdown-container {
	max-width: 320px;
	background: #ed1b24;
	border: 5px solid #fffd07;
	text-align: center;
	margin: 0 auto;
}

.countdown-container h3 {
	color: #fffd07;
	margin: 0 auto;
	margin-top: -10px;
	background: #ed1b24;
	width: 90%;
	text-transform: uppercase;
	font-weight: 700;
}

.countdown {
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-size: 39px;
	line-height: 1;
}

.countdown-item {
	color: #fff;
	width: 80px;
	font-weight: bold;
	text-align: center;
}

.countdown-divider {
	color: #fff;
	width: 1rem;
}

.countdown-text {
	margin: 0 auto;
	margin-bottom: -8px;
	background: #ed1b24;
	width: 90%;
	color: #fffd07;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

.countdown-text span {
	/*width: 4rem;
margin-right: 2rem;*/
	text-align: center;
	width: 33%;
}

.best-form {
	font: 16px/1.2 'Roboto', sans-serif;
	padding: 1rem;
	padding-bottom: 40px;
	color: #fff;
	background-color: #fa0;
	background-image: url(svg%2Bxml%3Bbase64%2CPHN2Z);
	background-size: cover;
}


.name-input input, .phone-input input {
	font-size: 15px!important;
}
.product {
	max-width: 320px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product .left {
	width: 30%;
}

.product .right {
	width: 100%;
	text-align: center;
}

.product .price-old {
	line-height: 1;
}

.product .price-old span {
	display: inline-block;
	padding: 0 1rem;
	font-size: 35px;
	color: #000;
	position: relative;
}

.product .price-old span em {
	font-style: normal;
}

.product .price-old span:before {
	position: absolute;
	content: '';
	left: 0;
	top: 45%;
	right: 0;
	border-top: 2px solid #ed1b24;
	transform: rotate(-10deg);
}

.product .discount-text {
	margin-top: 1rem;
	color: #000;
	font-size: 18px;
}

.product .price {
	color: #3406d7;
	font-size: 40px;
	font-weight: 700;
	line-height: 1;
}

.product .price span {
	font-weight: 300;

	margin-left: 5px;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.country-input,
.name-input,
.phone-input {
	color: #000;
	background: #fff;
	border: 0;
	width: 100%;
	border-radius: 6px;
	box-sizing: border-box;
	font-size: 19px;
	margin-bottom: 10px;
	display: flex;
	transition: all 0.15s ease-in-out;
}

.name-input label,
.phone-input label {
	align-self: center;
	padding-left: 15px;
	width: 60px;
	font-weight: 700;
}

.name-input input,
.phone-input input {
	flex: 1 1 auto;
	border: 0;
	padding: 7px;
	font: inherit;
	color: inherit;
	box-sizing: border-box;
	min-width: 0;
	padding: 10px 6px;
	padding-left: 15px;
	border-radius: 6px;
}

input::placeholder {

	font-family: sans-serif;
	color: grey !important;
}

.button-submit {
	text-align: center;
	display: flex;
	box-sizing: border-box !important;
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1;
	color: #fff;
	border-radius: 6px;
	border: 0;
	padding: 14px 0;
	background-image: linear-gradient(to top, #137c09, #16ac0c);
	transition: all 0.15s ease-in-out;
	cursor: pointer;
	font: 26px/1.4 'Roboto', sans-serif;
	font-weight: 400;
}

.button-submit-text {
	color: #ffffff;
	flex: 1 1 auto;
	font: inherit;
	font-weight: 900;
	font-size: 15px;
}

.button-submit-arrow {
	width: 0;
	height: 0;
	border-top: 0.6rem solid transparent;
	border-bottom: 0.6rem solid transparent;
	border-left: 1rem solid #fff;
	margin-right: 1rem;
}

#only-mob {
	display: none;
}

@media screen and (max-width: 759px) {
	.product {
		display: block;
	}

	.product .left,
	.product .right {
		width: 100%;
	}

	#not-on-mob {
		display: none;
	}

	#only-mob {
		display: block;
		text-align: center;
	}
	.product .left {
		margin-top: 10px;
	}
}

.btnbtn {
	animation: shadow-pulse2 1s infinite;
}

@keyframes shadow-pulse2 {
	0% {
		box-shadow: 0 0 0 0px rgba(0, 128, 0, 0.9);
		/*box-shadow: 0 0 0 0px rgba(255, 160, 122, 0.9);*/
	}

	100% {
		box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
	}
}

.btnbtn {
	text-decoration: none;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	color: rgb(255, 255, 255) !important;

	background-image: linear-gradient(#c60717, #2603a4);
	/*background: linear-gradient(rgba(255, 255, 0, 0.9), rgba(255, 0, 0, 0.9));*/
	display: inline-block;
	padding: 3px 14px;
	margin: 9px;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 30px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	animation: shadow-pulse2 1s infinite;
	font-weight: 700;
	white-space: normal;
}

.pulse {
	background-color: rgba(0, 113, 227, 1);
	/*blue*/
	animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse {
	0% {
		box-shadow: 0 0 0 0px rgba(0, 113, 227, 0.9);
	}

	100% {
		box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
	}
}

@keyframes shadow-pulse-big {
	0% {
		box-shadow: 0 0 0 0px rgba(0, 113, 227, 0.9);
	}

	100% {
		box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
	}
}

.timer-in-button {
	margin: 12px;
	display: block;
	white-space: nowrap;
}

.timer-in-button span {
	margin: 0 7px;
	background: white;
	color: red;
	padding: 5px;
	border-radius: 3px;
}

.prod-pulse {
	margin-bottom: 15px;
	border-radius: 20px;
	animation: prod-shadow-pulse 1s infinite;
}

@keyframes prod-shadow-pulse {
	0% {
		box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.9);
		/*белый*/
		/*box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.9);*/
		/*крассный*/
		/*box-shadow: 0 0 0 0px rgba(227, 133, 0, 0.9);*/
		/*темно-крассный*/
		/*box-shadow: 0 0 0 0px rgba(255, 255, 0, 0.9);*/
		/*желтый*/
		/*box-shadow: 0 0 0 0px rgba(255, 215, 0, 0.9);*/
		/*золотой*/
		/*box-shadow: 0 0 0 0px rgba(255, 160, 122, 0.9);*/
		/*кораловый*/
		/*box-shadow: 0 0 0 0px rgba(255, 140, 0, 0.9);*/
		/*оранжевый*/
		/*box-shadow: 0 0 0 0px rgba(255, 105, 180, 0.9);*/
		/*розовый*/
		/*box-shadow: 0 0 0 0px rgba(238, 130, 238, 0.9);*/
		/*фиолетовый*/
		/*box-shadow: 0 0 0 0px rgba(138, 43, 226, 0.9);*/
		/*темно-фиолетовый*/
		/*box-shadow: 0 0 0 0px rgba(0, 255, 0, 0.9);*/
		/*лайм*/
		/*box-shadow: 0 0 0 0px rgba(50, 205, 50, 0.9);*/
		/*светло-зеленый*/
		/*box-shadow: 0 0 0 0px rgba(0, 128, 0, 0.9);*/
		/*зеленый*/
		/*box-shadow: 0 0 0 0px rgba(0, 255, 255, 0.9);*/
		/*берюзовый*/
		/*box-shadow: 0 0 0 0px rgba(0, 206, 209, 0.9);*/
		/*темно-берюзовый*/
		/*box-shadow: 0 0 0 0px rgba(173, 216, 230, 0.9);*/
		/*голубой*/
		/*box-shadow: 0 0 0 0px rgba(30, 70, 255, 0.9);*/
		/*синий*/
	}

	100% {
		box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
	}
}

@keyframes prod-shadow-pulse2 {
	0% {
		background: linear-gradient(
			rgba(255, 255, 255, 0.8) 0%,
			rgba(255, 255, 255, 0) 25%
		);
	}

	11% {
		background: linear-gradient(
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 0.8) 25%,
			rgba(255, 255, 255, 0) 50%
		);
	}

	23% {
		background: linear-gradient(
			rgba(255, 255, 255, 0) 25%,
			rgba(255, 255, 255, 0.8) 50%,
			rgba(255, 255, 255, 0) 75%
		);
	}

	34% {
		background: linear-gradient(
			rgba(255, 255, 255, 0) 50%,
			rgba(255, 255, 255, 0.8) 75%,
			rgba(255, 255, 255, 0) 100%
		);
	}

	45% {
		background: linear-gradient(
			rgba(255, 255, 255, 0) 75%,
			rgba(255, 255, 255, 0.8) 100%
		);
	}

	55% {
		background: linear-gradient(
			rgba(255, 255, 255, 0) 75%,
			rgba(255, 255, 255, 0.8) 100%
		);
	}

	66% {
		background: linear-gradient(
			rgba(255, 255, 255, 0) 50%,
			rgba(255, 255, 255, 0.8) 75%,
			rgba(255, 255, 255, 0) 100%
		);
	}

	77% {
		background: linear-gradient(
			rgba(255, 255, 255, 0) 25%,
			rgba(255, 255, 255, 0.8) 50%,
			rgba(255, 255, 255, 0) 75%
		);
	}

	89% {
		background: linear-gradient(
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 0.8) 25%,
			rgba(255, 255, 255, 0) 50%
		);
	}

	100% {
		background: linear-gradient(
			rgba(255, 255, 255, 0.8) 0%,
			rgba(255, 255, 255, 0) 25%
		);
	}
}

@keyframes prod-shadow-pulse3 {
	0% {
		box-shadow: 5px 0px 2px white;
	}

	15% {
		box-shadow: 5px 5px 2px white;
	}

	30% {
		box-shadow: 0px 5px 2px white;
	}

	45% {
		box-shadow: -5px 5px 2px white;
	}

	55% {
		box-shadow: -5px 0px 2px white;
	}

	70% {
		box-shadow: -5px -5px 2px white;
	}

	85% {
		box-shadow: 0px -5px 2px white;
	}

	100% {
		box-shadow: 5px -5px 2px white;
	}
}

.img-responsive {
	width: 140%;
	max-width: 140%;
	position: relative;
	left: 0px;
}

.countdown-container h3 {
	font-size: 1rem;
}

.countdown-text {
	font-size: 0.8rem;
}

.product .price-old span {
	font-size: 40px;
}
.product .price-old span {
	font-size: 33px!important;
}
.product .price {
	font-size: 44px;
}

.best-form {
	background: linear-gradient(#fffdd1, #bae68a);
}

.countdown-block,
.countdown-container,
.countdown-container h3,
.countdown-text {
	background: #135203;
}

.button-submit {
	background-image: linear-gradient(to top, #a90606, #01045d);
}

.button-submit:hover {
	background-image: linear-gradient(to top, #770505, #00023b);
}

@media screen and (max-width: 759px) {
	.img-responsive {
		margin: 0 auto;
		display: block;
		width: 100%;
		max-width: 100%;
		position: inherit;
	}
}

.inL_686687.inL_686687{width: 100%;}
.inL_504464.inL_504464{width: 100%;}
.inL_756046.inL_756046{width: 100%;}
.inL_741647.inL_741647{width: 100%;}
.inL_795018.inL_795018{width: 100%;}
.inL_374821.inL_374821{width: 100%;}
.inL_89955.inL_89955{width: 100%;}
.inL_944026.inL_944026{width: 100%;}
.inL_564940.inL_564940{color: red; font-weight: bold;}
.inL_815474.inL_815474{color: red; font-weight: bold;}
.inL_635700.inL_635700{color: red; font-weight: bold;}
.inL_192585.inL_192585{width: 150px;}
.inL_910461.inL_910461{position: absolute; visibility: hidden;}
.inL_407600.inL_407600{width: 100%;}
.inL_402003.inL_402003{width: 100%;}
.inL_712280.inL_712280{width: 100%;}
.inL_734726.inL_734726{width: 100%;}
.inL_321733.inL_321733{width: 100%;}
.inL_685565.inL_685565{width: 100%;}
.db {display: block;}
.form-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.w-form {
	display: flex;
	flex-direction: column;
}

.inL_192585.inL_192585 {
    width: 150px;
		margin-right: 15px;
}
.left-prod {
	display: none;
}
@media screen and (max-width: 600px) {
	.left {
		display: none;
	}
	.left-prod {
		display: block;
	}

	.prod-pulse {
		display: block;
		width: 100%;
		max-width: 400px;
	}
	
	.inL_192585.inL_192585 {
		width: 150px;
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 15px;
	}
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */  
	 input {
		font-size: 11px!important;
	 }
	 .name-input input, .phone-input input {
		font-size: 11px!important;
	 }
	 .button-submit {
		padding: 14px 5px;
	 }
}