.ev-footer,
.create_rom_footer {
  display: flex;
  align-items: center;
  padding: 15px 0;
  justify-content: center;
  flex-direction: column
}

.ev-footer__logo svg {
  display: flex;
  width: 30px;
  height: 30px
}

.ev-footer__logo a {
  text-decoration: none;
  font-size: 14px;
  font-family: inherit
}

.ev-footer__link {
  display: flex;
  text-decoration: underline
}

.ev-footer__link:hover {
  text-decoration: none
}

:active,
:focus,
:hover,
:visited,
a,
a:active,
a:focus,
a:hover,
a:visited {
  outline: 0 !important
}

::-moz-focus-inner {
  border: 0;
  outline: 0
}