.c-1-txt { color: #65bde5 !important; }
.c-1-rm { color: #65bde5 !important; background-color: #f4f4f4 !important; }
.c-1-bg, .c-1-rm:hover { background-color: #65bde5 !important; color: #f4f4f4 !important; }

.c-2-txt { color: #ff7639 !important; }
.c-2-rm { color: #ff7639 !important; background-color: #f4f4f4 !important; }
.c-2-bg, .c-2-rm:hover { background-color: #ff7639 !important; color: #f4f4f4 !important; }

.c-3-txt { color: #4c7bd2 !important; }
.c-3-rm { color: #4c7bd2 !important; background-color: #f4f4f4 !important; }
.c-3-bg, .c-3-rm:hover { background-color: #4c7bd2 !important; color: #f4f4f4 !important; }

.c-4-txt { color: #e33133 !important; }
.c-4-rm { color: #e33133 !important; background-color: #f4f4f4 !important; }
.c-4-bg, .c-4-rm:hover { background-color: #e33133 !important; color: #f4f4f4 !important; }

.c-5-txt { color: #65bbe5 !important; }
.c-5-rm { color: #65bbe5 !important; background-color: #f4f4f4 !important; }
.c-5-bg, .c-5-rm:hover { background-color: #65bbe5 !important; color: #f4f4f4 !important; }

.c-6-txt { color: #68e3af !important; }
.c-6-rm { color: #68e3af !important; background-color: #f4f4f4 !important; }
.c-6-bg, .c-6-rm:hover { background-color: #68e3af !important; color: #f4f4f4 !important; }

.c-7-txt { color: #ffc000 !important; }
.c-7-rm { color: #ffc000 !important; background-color: #f4f4f4 !important; }
.c-7-bg, .c-7-rm:hover { background-color: #ffc000 !important; color: #f4f4f4 !important; }

.c-8-txt { color: #c130ad !important; }
.c-8-rm { color: #c130ad !important; background-color: #f4f4f4 !important; }
.c-8-bg, .c-8-rm:hover { background-color: #c130ad !important; color: #f4f4f4 !important; }

.c-9-txt { color: #7575dd !important; }
.c-9-rm { color: #7575dd !important; background-color: #f4f4f4 !important; }
.c-9-bg, .c-9-rm:hover { background-color: #7575dd !important; color: #f4f4f4 !important; }

.c-10-txt { color: #d68abe !important; }
.c-10-rm { color: #d68abe !important; background-color: #f4f4f4 !important; }
.c-10-bg, .c-10-rm:hover { background-color: #d68abe !important; color: #f4f4f4 !important; }

.c-11-txt { color: #89bd25 !important; }
.c-11-rm { color: #89bd25 !important; background-color: #f4f4f4 !important; }
.c-11-bg, .c-11-rm:hover { background-color: #89bd25 !important; color: #f4f4f4 !important; }