@keyframes pulseNew {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.05);
    box-shadow: 0 5px 5px 0 #a1a1a1;
  }

  100% {
    transform: scale(1);
  }
}

#form-block {
  margin-bottom: 30px;
}

.prod {
  width: 180px;
}

*,
*::before,
*::after {
  box-sizing: border-box
}

body {
  min-height: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 1.3;
  background: #fff none repeat scroll 0% 0%;
  color: #264654;
  font-family: sans-serif;
}

.contentBox img {
  margin: 0 auto 15px;
  display: block;
}

footer,
header,
main,
menu,
nav {
  display: block
}

progress {
  display: inline-block;
  vertical-align: baseline
}

a {
  background-color: transparent
}

a:active,
a:hover {
  outline: 0
}

b,
strong {
  font-weight: 700
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

img {
  border: 0
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.content-wrap {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  display: block;
  margin: 0 0 15px 0;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase
}

h1,
.h1 {
  font-size: 2.25rem
}

h3,
.h3 {
  font-size: 1.125rem
}

h4,
.h4 {
  font-size: 1.0625rem
}

.main p {
  margin: 0 0 15px 0
}

.main .figcap {
  margin-top: -10px;
}

a,
.link {
  color: blue;
  cursor: pointer;
  text-decoration: none;
  transition: all .25s ease 0s
}

a:hover {
  border-bottom-color: transparent
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.btn {
  position: relative;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  min-width: 40px;
  padding: 0 1.2em;
  border: medium;
  outline: medium;
  background: #297cb3 none repeat scroll 0% 0%;
  color: rgba(255, 255, 255, .95);
  font-size: .75rem;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  transition: all .2s ease 0s
}

.btn:hover {
  background: #5faad7 none repeat scroll 0% 0%
}

.btn:active {
  background: #1a72a3 none repeat scroll 0% 0%
}

*::placeholder {
  color: #8c8c8c;
  font-size: 12px;
}

.cf::after {
  content: "";
  display: table;
  clear: both
}

.container {
  position: relative;
  max-width: 1440px;
  margin: auto;
  padding: 0 2.5%
}

.logo {
  display: table;
  table-layout: fixed;
  border-bottom: medium;
  color: inherit;
  transition: all .25s ease 0s
}

.logo:hover {
  opacity: .8
}

.logo>* {
  display: table-cell;
  vertical-align: middle
}

.logo__pict {
  padding-right: 12px
}

.logo__pict img {
  position: relative;
  top: -2px;
  width: 56px;
  max-width: none
}

.logo__text {
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase
}

.logo__uppercase {
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase
}

.actual-info {
  margin: 0;
  font-size: .875rem !important;
  color: #aaa;
}

.menu {
  top: 100%;
  left: 0;
  right: 0;
  font-size: .875rem;
  line-height: 1.428
}

.menu__link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3.5%;
  border-bottom-color: transparent;
  letter-spacing: 1px;
  font-weight: 700
}

.menu-toggle {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  height: 23px;
  width: 27px;
  margin: auto;
  cursor: pointer;
  transition: all .25s ease 0s
}

.menu-toggle__line {
  height: 3px;
  background: #297cb3 none repeat scroll 0% 0%
}

.menu-toggle__line+.menu-toggle__line {
  margin-top: 7px
}

.header {
  z-index: 1210;
  background: #fff none repeat scroll 0% 0%;
  font-weight: 400;
  flex-shrink: 0;
  transition: all .25s ease 0s
}

@media(max-width:372px) {
  .header {
    top: 0;
    left: 0;
    z-index: 1210;
    background: #fff none repeat scroll 0% 0%;
    font-weight: 400;
    flex-shrink: 0;
    transition: all .25s ease 0s
  }
}

@media(max-width:342px) {
  .header {
    top: 0;
    left: 0;
    z-index: 1210;
    background: #fff none repeat scroll 0% 0%;
    font-weight: 400;
    flex-shrink: 0;
    transition: all .25s ease 0s
  }
}

@media(max-width:328px) {
  .header {
    top: 0;
    left: 0;
    z-index: 1210;
    background: #fff none repeat scroll 0% 0%;
    font-weight: 400;
    flex-shrink: 0;
    transition: all .25s ease 0s
  }
}

.header__in {
  display: table;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px
}

.header__in:first-child {
  padding-top: 20px;
  padding-bottom: 5px
}

.header__cell {
  display: table-cell;
  vertical-align: middle
}

.header__logo {
  width: 1%
}

.header__menu {
  position: relative;
  text-transform: uppercase
}

.header__menu .menu__link:hover {
  color: inherit
}

.user-block {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: table;
  margin: auto;
  text-align: right
}


.user-block__login {
  max-width: 10rem;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none
}


.user-block__btn--login {
  background-color: transparent;
  color: #297cb3;
  font-size: 14px;
  font-weight: 700
}

.user-block__btn--login:hover {
  background-color: transparent;
  color: inherit
}

.footer {
  /* padding: 25px 0; */
  border-top: 3px solid #f2f2f2;
  background: #fff none repeat scroll 0% 0%;
  font-size: 14px;
  line-height: 1.4285;
  font-weight: 400;
  text-align: center;
  flex-shrink: 0;
  margin-top: auto
}


.page--inner .header {
  border-bottom: 2px solid #f7f7f7
}

@media only screen and (max-width:1024px) {

  h1,
  .h1 {
    font-size: 30px
  }

  h3,
  .h3 {
    font-size: 17px
  }
}

@media only screen and (min-width:960px) {
  .header__menu {
    margin-left: 3%
  }
}

@media only screen and (max-width:960px) {
  .menu-toggle {
    right: 15px !important
  }

  .header__in {
    padding: 0
  }

  .header__cell {
    display: block
  }

  .header__logo {
    position: relative;
    z-index: 110;
    width: auto;
    padding: 10px 2.5%;
    background: #fff none repeat scroll 0% 0%
  }

  .header__menu {
    display: none;
    position: absolute;
    z-index: 100;
    background: #297cb3 none repeat scroll 0% 0%;
    color: #fff
  }

  .header__menu .menu__link {
    background: #297cb3 none repeat scroll 0% 0%;
    color: #fff
  }

  .actual-info {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 10px !important;
  }

  .user-block {
    position: static;
    float: none;
    display: table;
    width: 100%;
    border-top: 1px solid #2570a1;
    background: #297cb3 none repeat scroll 0% 0%;
    text-align: left
  }

  .user-block__login {
    max-width: 12rem;
    font-size: 14px;
    text-transform: uppercase
  }

  .user-block__btn {
    position: relative;
    height: 60px;
    line-height: 60px;
    background-color: transparent;
    font-size: 14px
  }

  .user-block__btn:hover {
    background-color: transparent;
    color: #297cb3
  }

  .user-block__btn--login {
    width: 100%;
    padding: 0 2.5%;
    color: #fff;
    text-align: left;
    font-weight: 400
  }

  [class*=user-block__btn--log]:hover {
    background-color: #2570a1;
    color: #fff !important
  }

  .header__menu .menu__link {
    float: none;
    display: block;
    margin: 0;
    padding: 20px 2.5%
  }

  .header__menu .menu__link:hover {
    background-color: #2570a1;
    color: #fff
  }

  .header__menu .menu__link+.menu__link {
    border-top: 1px solid #2570a1
  }

  .header__menu .menu__link br {
    display: none
  }

  .menu-toggle {
    z-index: 110;
    display: block
  }
}

@media only screen and (max-width:800px) {
  .page {
    display: block
  }
}

@media only screen and (min-width:640px) {}

@media only screen and (max-width:640px) {
  html {
    font-size: 15px
  }

  h1,
  .h1 {
    font-size: 16px
  }

  h3,
  .h3 {
    font-size: 15px
  }

  h4,
  .h4 {
    font-size: 14px;
    margin: 1.5em 0
  }

  .container {
    padding-left: 40px;
    padding-right: 40px
  }

  .header__in {
    padding: 0
  }

  .header__logo {
    padding-right: 40px
  }

  .actual-info {
    padding-left: 40px;
    padding-right: 40px;
    color: #aaa;
    text-align: center
  }


  .user-block__btn--login {
    padding: 0 40px
  }

  .menu .menu__link {
    padding-left: 40px;
    padding-right: 40px
  }

  .footer {
    padding-top: 0
  }

  .menu-toggle {
    display: block
  }
}

@media only screen and (max-width:480px) {}

@media only screen and (max-width:370px) {}

.vk-container {
  font-family: sans-serif;
  font-size: 15px;
  color: #000;
  text-decoration: none
}

.vk-header {
  background: #dae2e8 none repeat scroll 0% 0%;
  padding: 4px 4px 4px 6px;
  margin-bottom: 10px
}

.vk-logo {
  background: transparent none no-repeat scroll 0% 0%;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: -1px
}

.vk-header-text {
  padding: 2px 3px 1px;
  line-height: 100%;
  color: #45688e;
  font-weight: 700
}

.main {
  width: calc(100% - 350px);
  float: left;
  border-left: 2px solid #f6f6f6;
  border-right: 2px solid #f6f6f6;
  padding: 10px 15px
}

@media(max-width:342px) {
  .main {
    width: 100% !important;
    float: left;
    border-right: 2px solid #f6f6f6;
    max-width: 100%
  }
}

@media(max-width:328px) {
  .main {
    width: 100% !important;
    float: left;
    border-right: 2px solid #f6f6f6;
    max-width: 100%
  }
}

.sidebar {
  width: 330px;
  background-color: #fbfbfc;
  border: 2px solid #f6f6f6;
  border-top: none;
  padding: 10px
}

@media(max-width:980px) {
  .main {
    width: auto
  }

  .sidebar {
    display: none
  }
}

@media(max-width:768px) {
  .sidebar {
    display: none
  }
}

.close-popup {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("cross.svg");
  background-size: 100%;
  top: -40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  right: -40px;
  cursor: pointer
}

@media all and (max-width:520px) {
  .close-popup {
    right: -1px
  }
}

@media all and (max-width:750px) {
  .close-popup {
    right: -1px
  }

  .obutton {
    margin: 10px 0;
    display: inline-block
  }
}

@media(max-width:1024px) {
  .close-popup {
    right: 0 !important
  }
}

.order_block,
.order_block * {
  box-sizing: border-box;
  transition: .2s;
  font-family: sans-serif
}

.order_block {

  width: 100%;
  margin: auto;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .12);
  border: 3px dashed #eaeaea;
  border-radius: 0
}

.order_block .order_offer {
  text-align: center
}

.order_block .order_offer img {
  max-width: 100%;
  width: auto;
  height: 250px
}

.order_pre_form {
  padding: 20px 20px 0
}

.order_form_row {
  margin-bottom: 10px;
  text-align: left
}

.order_form {
  width: 100%;
  padding: 0 20px 20px
}

.order_header {
  margin: 12px 0 !important;
  padding: 0 !important;
  font-size: 18px
}

.order_form .order_form_row input,
.order_form .order_form_row select {
  width: 100% !important;
  padding: 0 14px;
  border: 2px solid #eaeaea;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: none !important;
  margin: 0 auto !important;
}

.order_form .order_form_row label {
  font-size: 13px;
  text-align: left;
  font-weight: 700
}

.order_form .order_form_row input:active,
.order_form .order_form_row input:focus {
  outline: none;
  border: 2px solid #cecece
}

.order_form .order_form_button {
  box-shadow: 0 1px 0 0 #f5978e inset;
  background: #f24537;
  border-radius: 3px;
  border: 1px solid #d02718;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  padding: 16px 0;
  font-weight: 700;
  font-size: 16px;
  margin-top: 5px;
  text-decoration: none;
  letter-spacing: .6px;
  text-shadow: 0 1px 0 #810e05;

  animation: pulseNew 1.5s infinite;
  box-shadow: none;

}

.order_form .order_form_button:hover {
  background: #c62d1f
}

.order_form .order_form_button:active {
  position: relative;
  top: 1px
}

.order_timer_block {
  line-height: 1;
  font-weight: 700
}

.order_timer_block p {
  font-size: 18px;
  margin: 10px 0 !important;
  padding: 0 !important
}

.order_timer_block .order_timer {
  font-size: 21px
}

.time_remains {
  color: red
}

.boxes,
.boxes img {
  width: 100%
}

.boxes {
  margin: 10px 0
}

@media(max-width:319px) {
  .boxes>div {
    width: 48%
  }
}

.comment-item {
  border-bottom: 1px solid #eee;
  padding: 15px 0
}

.comment-item--last {
  padding-bottom: 0;
  border-bottom: none;
}

.user-info {
  display: flex;
  padding-bottom: 15px
}

.user-info img {
  width: 50px !important;
  flex: 50px 0 0;
  margin: 0 !important;
  display: block;
}

.user-info>div:last-child {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 700
}

.user-message {
  margin-top: -40px;
  padding-left: 60px;
  font-size: 16px;
  line-height: 1.4
}

.user-date {
  margin-top: 5px;
  padding-left: 60px;
  color: #aaa;
}

.prices {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
}

.old_price,
.new_price {
  margin-right: 10px
}

.order_timer,
.new_price {
  color: red
}

.old_price {
  text-decoration: line-through
}

.popup-title {
  font-size: 30px;
}

@media(max-width: 1000px) {
  .sidebar {
    margin: 0;
  }

  .actual-info {
    padding: 0;
  }

}

.door__container {
  display: flex;
  justify-content: space-evenly
}

.door_box {
  perspective: 1000px;
  position: relative
}

.door_box,
.door {
  width: 165px;
  height: 346px;
  box-shadow: inset -1px -1px 0 1px #191919, inset 1px 1px 0 1px #191919
}

.door,
.hi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

.door {
  background-image: url("../images/door1.png");
  background-repeat: no-repeat;
  transform: rotateY(0deg);
  display: inline-block;
  transition: all .75s ease;
  transform-origin: 0% 0%;
  cursor: pointer;
  background-size: contain
}

#door__2 {
  background-image: url("../images/door2.png")
}

#door__3 {
  background-image: url("../images/door3.png")
}

.door:hover {
  transform: rotateY(-30deg)
}

.door.open {
  transform: rotateY(-85deg)
}

.door__head {
  font-size: 18px;
  margin: 18px 0;
  text-align: center
}

.door__sales {
  position: relative;
  font-size: 45px !important;
  font-weight: 700 !important;
  color: red !important;
  border-radius: 30px !important;
  padding: 30px 5px !important;
  box-shadow: 0 1px 2px 2px #7f7878;
  margin: 0 !important
}

.door__title {
  color: #fff !important;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px !important;
  margin-bottom: 25px;
  background-color: #3a4752;
  padding: 10px !important;
  border-radius: .5em
}

@media(max-width:1040px) {

  .door_box,
  .door {
    width: 95px;
    height: 200px
  }

  .door__sales {
    font-size: 23px !important
  }

  #form-block {
    margin-bottom: 30px !important
  }
}

@media(max-width:840px) {
  .door__sales {
    font-size: 20px !important;
    font-weight: 700 !important;
    color: red !important;
    border-radius: 30px !important;
    padding: 30px 5px
  }

  .door {
    background-size: contain
  }

  #door__2 {
    background-size: contain
  }

  #door__3 {
    background-size: contain
  }
}

@media(max-width:360px) {
  .door_box+.door_box {
    margin-left: 15px
  }

  .door__sales {
    font-size: 19px !important;
    font-weight: 700 !important;
    color: red !important;
    border-radius: 30px !important;
    padding: 30px 5px
  }
}

input[value="Получить бесплатно"] {
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 15px 0;
  outline: none;
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 3px #242120;
  background: red;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: background .3s
}

input[value="Получить бесплатно"]:hover {
  background: #b00 !important;
  transition: background .3s
}

input[value="Получить бесплатно"]:active {
  transform: translateY(2px);
  box-shadow: none !important
}

.input-roulette::placeholder {
  font-size: .9em
}

.input-roulette {
  padding-left: 5px;
  height: 42px;
  margin-bottom: 10px;
  width: auto !important;
  display: block;
  margin: 10px auto
}

.ruletka-p {
  text-indent: 0;
  color: #000;
  text-align: center !important;
  margin: 15px;
  line-height: 25px;
  font-weight: 700
}

.ruletka-p h2 {
  font-size: 25px;
  margin-bottom: 15px
}

.danger-text {
  color: red;
  font-weight: 700;
  white-space: nowrap
}

.time_remains {
  font-size: 1.1em;
  color: red;
  font-weight: 700
}

.spin-result-wrapper {
  display: none;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .6);
  text-align: center
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0;
  left: 0;
  top: 30%;
  margin: 0 auto;
  background: #fff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: .7s ease 0s normal none 1 running pop-up-appear
}

.close-popup {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("../images/cross.svg");
  background-size: 100%;
  top: -40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  right: -40px;
  cursor: pointer
}

.pop-up-text {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  text-align: center !important
}

.pop-up-button {
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 10px 20%;
  font-size: 20px;
  border-radius: 5px;
  background-color: #71c341;
  color: #fff !important;
  border: medium;
  cursor: pointer;
  outline: medium;

  animation: pulseNew 1.5s infinite;
  box-shadow: none;

}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0;
  left: 0;
  top: 30%;
  margin: 0 auto;
  background: #fff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: .7s ease 0s normal none 1 running pop-up-appear
}

.pop-up-window::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  top: -55px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #71c341;
  border-radius: 50%;
  animation: .5s ease .6s normal backwards 1 running pop-up-appear-before
}

.pop-up-window::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-width: medium medium 4px 4px;
  border-style: none none solid solid;
  border-color: currentcolor currentcolor #fff #fff;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  transform: rotate(-45deg);
  transition: opacity 1s ease 0s;
  animation: .5s ease .6s normal backwards 1 running pop-up-appear-after
}

#order {
  display: none
}

.center {
  text-align: center !important;
}

.inL_662390 {
  display: none;
}

.inL_894367 {
  padding-bottom: 0px;
}


.inL_740552 {
  text-align: center;
}

.inL_466524 {
  margin: 10px;
}

.inL_279038 {
  display: inline-block;
}

.inL_526613 {
  float: none;
}

.inL_186213 {
  width: 100%;
  max-width: 400px;
}

.inL_597708 {
  width: 100%;
  max-width: 400px;
}

.inL_453753 {
  width: 100%;
  max-width: 400px;
}

.inL_537625 {
  width: 100%;
  max-width: 400px;
}

.inL_337266 {
  width: 100%;
  max-width: 400px;
}

.inL_951679 {
  display: inline-block;
  padding: 10px 15px;
  max-width: 400px;
  background-color: #d31b1b;
  color: white;
  font-size: 22px;
  margin: 30px 0;
  font-weight: 700;
  animation: pulseNew 1.5s infinite;
  box-shadow: none;

}

.inL_188142 {
  margin-top: 0px;
}

.inL_471996 {
  color: rgb(38, 70, 84);
}

.inL_225377 {
  width: 100%;
  max-width: 300px;
}

.inL_961034 {
  width: 100%;
  max-width: 300px;
}

.inL_862937 {
  color: rgb(38, 70, 84);
}

.inL_323218 {
  width: 100%;
  max-width: 100px;
  border: 1px solid rgb(204, 0, 0);
}

.inL_559498 {
  width: 100%;
  max-width: 300px;
}

.inL_608270 {
  width: 100%;
  max-width: 300px;
}

.inL_443072 {
  color: rgb(38, 70, 84);
}

.inL_576633 {
  width: 100%;
  max-width: 100px;
  border: 1px solid rgb(204, 0, 0);
}

.inL_298906 {
  width: 100%;
  max-width: 300px;
}

.inL_941859 {
  width: 100%;
  max-width: 300px;
}

.inL_69011 {
  color: rgb(38, 70, 84);
}

.inL_429350 {
  width: 100%;
  max-width: 100px;
  border: 1px solid rgb(204, 0, 0);
}

.inL_22002 {
  width: 100%;
  max-width: 300px;
}

.inL_772694 {
  width: 100%;
  max-width: 300px;
}

.inL_703229 {
  color: rgb(38, 70, 84);
}

.inL_421379 {
  width: 100%;
  max-width: 100px;
  border: 1px solid rgb(204, 0, 0);
}

.live {
  margin-top: 10px;
  display: block;
}

.red {
  color: red;
  font-weight: 700;
}

@keyframes pop-up-appear {
  0% {
    transform: translateY(-2000px)
  }

  30% {
    transform: translateY(100px)
  }

  100% {
    transform: translateY(0px)
  }
}

@keyframes pop-up-appear-before {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1)
  }
}

@keyframes pop-up-appear-after {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.pop-up-button:hover {
  color: #fff !important;
  text-decoration: none !important
}

@media(max-width:768px) {
  .pop-up-window {
    max-width: 290px;
    padding-top: 40px;
  }

  .pop-up-text {
    font-size: 20px;
    line-height: 1.2;
  }

  .pop-up-window::before {
    width: 70px;
    height: 70px;
    top: -42px;
  }
}

@media all and (max-width:540px) {
  .live-540 {
    width: 250px;
  }

  .prod {
    width: 150px;
  }
}

@media all and (max-width:520px) {
  .close-popup {
    right: 0 !important
  }
}

@media(max-width:500px) {

  .door_box,
  .door {
    width: 85px;
    height: 180px
  }

  .inL_951679 {
    font-size: 20px;
  }
}

@media(max-width:425px) {
  .logo__pict {
    padding: 0;
  }

  .logo__uppercase {
    font-size: 24px;
  }
}