html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    color: blue;
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f8f8f8;
}

a {
    text-decoration: none;
}

svg {
    overflow: hidden;
}

#comebacker_main_div {
    display: none !important;
}

#comebacker_main_div {
    height: 0px !important;
}

*:focus, *:visited, *:active, *:hover {
    outline: 0 !important;
}

a, a:focus, a:visited, a:active, a:hover {
    outline: 0 !important;
}

*::-moz-focus-inner {
    border: 0;
    outline: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.main {
    max-width: 993px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}

img {
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.flex-sb {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: #fff;
    max-width: 993px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;

}

.header__top {
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    background-color: #fff;
}

.header__top-link {
    line-height: 0;
    display: block;
}

.header__top-link img {
    width: 170px;
}

.header__top-button {
    color: #191919;
    background: #FFEF36 none;
    padding: 0 20px;
    border-radius: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.header__bottom {
    padding: 13px 10px;
    margin-top: 10px;

    background-color: #005695;
}

.header__bottom-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 17px;
}

.header__bottom-items {
    height: 17px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__bottom-burger span {
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.header__bottom-link {
    display: block;
    padding: 0 15px;
    font-size: 15px;
    color: #FFF;
}
.header__bottom-link:hover {
    text-decoration: underline;
}
.content {
    padding-top: 150px;
}

.content__logo {
    background-color: #cd3312;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 28px;
}

.content__logo-text {
    color: #fff;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #333;
}

.title {
    font-weight: 300;
}

.inner {
    text-align: right;
}

.twit {
    display: inline-block;
    margin-left: auto;
    color: #4a4a4a;
    border: 1px solid #4a4a4a;
    border-radius: 15px;
    position: relative;
    opacity: 0.75;
    padding-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    background-color: #fff;
    font-size: 12px;
    text-align: center;
}

.twit span {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 4px;
    top: calc(50% - 7px);
    border-radius: 50%;
    border: 1px solid #4a4a4a;
    background-color: #fff;
}

.twit span::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    left: calc(50% - 3px);
    top: calc(50% - 3px);
    background-color: #4a4a4a;
    border-radius: 50%;
}

.follow {
    margin-top: 15px;
    padding: 10px 0;
    border-top: 1px rgba(155, 155, 155, 0.8) dotted;
    border-bottom: 1px rgba(155, 155, 155, 0.8) dotted;
}

.follow__name {
    color: #005695;
}

.follow__name:hover {
    text-decoration: underline;
}

.follow__tw {
    padding: 1px 8px 1px 6px;
    display: inline-flex;
    width: auto;
    align-items: center;
    justify-content: center;
    background-color: #1b95e0;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
}

.follow__tw svg {
    width: 14px;
    height: 14px;
}

.follow__label {
    margin-left: 3px;
    display: inline-block;
    vertical-align: baseline;
    font-size: 11px;
    line-height: 21px;
}

.date {
    align-items: center;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px rgba(155, 155, 155, 0.8) dotted;

}

.time {
    color: #9B9B9B;
}

.facebook {
    width: 12px;
    height: 20px;
    display: inline-block;
}

.twitter {
    width: 24px;
    height: 20px;
    display: inline-block;
    margin-left: 20px;
}

.content__des {
    margin-top: 10px;
}

.content__des {
    line-height: 0;
}

.content__des-text {
    margin-top: 0;
    font-size: 14px;
    font-style: italic;
    padding: 15px;
    color: #59544B;
    line-height: 1.4;
    background-color: #F8F8F8;
}

.content__text {
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}
.content__text-1 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.content__title {
    font-size: 20px;
    line-height: 28px;
}

.content__table, .content__table-1 {
    width: 100%;
    border: 2px solid #4a4a4a;
}

.row {
    width: 100%;
    display: flex;
    background-color: #F8F8F8;
    border-bottom: 2px solid #4a4a4a;
}

.row:last-child {
    border: none;
}

.row__pr {
    text-align: center;
    padding: 15px;
    background-color: #4a4a4a;
    color: #fff;
    display: none;
}

.cell {
    text-align: center;
    padding: 15px;
    width: 50%;
    border-right: 2px solid #4a4a4a;
}

.cell:last-child {
    border: none;
}

.content__table-1 .cell {
    text-align: left;
    width: 37%;
}

.content__table-1 .cell:first-child {
    width: 26%;
}

.date--bottom {
    border-top: 1px rgba(155, 155, 155, 0.8) dotted;
}

.elephant, .print {
    display: inline-block;
    width: 24px;
    height: 20px;
    margin-left: 15px;
}

.comment__item {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #4a4a4a;
}

.comment__item-name {
    margin-top: 0;
}

.content__title {
    margin-bottom: 0;
}
.comment__title {
    background: #f8f8f8;
    padding: 10px;
    font-size: 22px;
}
.comment__item-text {
    text-align: justify;
    margin-bottom: 0;
}

.footer {
    margin-top: 30px;
    margin-right: -10px;
    margin-left: -10px;

    background-color: #EFEFEF;
}

.footer__top {
    padding: 35px 25px;
}

.footer__top-title {
    margin: 0;
}

.footer__top-app--left {
    text-align: left;
}

.footer__top-app--left img {
    margin-left: 0;
}

.footer__top-app--right {
    text-align: right;
}

.footer__top-app--right img {
    margin-right: 0;
}

.footer__top-title {
    font-size: 12px;
    margin-bottom: 7px;
}

.footer__top-logo {
    height: 51px;
}

.footer__mid {
    padding-left: 10px;
    color: #fff;
    background-color: #1C262C;
}

.footer__mid-link {
    width: 260px;
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    background-color: #FFEF36;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer__bottom {
    height: 42px;
    padding: 12px 10px;
    text-align: center;
}

.footer__bottom-inner {
    height: 18px;
    overflow: hidden;
}

.footer__bottom a {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    color: #4A4A4A;
    display: inline-block;
}

.footer__bottom a:hover {
    text-decoration: underline;
}

.product-box {
    text-align: center;
}

.product-box__img {
    max-width: 400px;
    margin: 0 auto 10px;
}

.product-box__img img {
    display: block;
    margin: 0 auto;
}

.button {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 auto;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 1;
    color: #ffffff;
    transition: .3s;
    background: #5689c0;
}

.button:hover {
    background: #6bb2ff;
}

@media (max-width: 767px) {
    .footer__mid-link, .footer__top-app {
        display: none;
    }
    .comment__item {
        margin-right: 0;
        margin-left: 0;
    }
    .footer__top {
        padding: 20px 0;
    }
    .footer__bottom {
        padding-top: 0;
    }
    .content__text {
        text-align: left;
        font-size: 16px;
        line-height: 1.4;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .comment__item-text {
        text-align: left;
    }

    .cell {
        padding: 10px 5px;
    }

    .title {
        font-size: 22px;
    }

    .header__top-button {
        display: none;
    }

    .header__bottom {
        margin-top: 0;
    }

    .content {
        padding-top: 130px;
    }
    .content__table-1 .cell:first-child {
        display: none;
    }
    .content__table-1 .cell {
        width: 50%;
        text-align: center;
        font-size: 14px;
    }
    .row__pr {
        display: block;
    }

    .footer-logo {
        display: block;
        margin: 0 auto;
    }

    .footer__top-logo {
        max-width: 200px;
        height: auto;
    }

    .footer__bottom {
        display: none;
    }

    .product-box__img {
        max-width: 300px;
    }

}