.enter_data button, .feedback_call {
    cursor: pointer;
    text-transform: uppercase
}
≈
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    font-family: arial, helvetica, verdana, tahoma;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline
}

*, :after, :before {
    box-sizing: border-box
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

:active, :focus {
    outline: 0
}

ol, ul {
    list-style: none
}

b {
    font-weight: 700
}

i {
    font-style: italic
}

blockquote:after, blockquote:before, q:after, q:before {
    content: none
}

blockquote, q {
    quotes: none
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden
}

img {
    display: inline-block;
    vertical-align: bottom
}

.alignleft, .left {
    float: left
}

.alignright, .right {
    float: right
}

.aligncenter, .center {
    display: block;
    margin: 0 auto;
    text-align: center
}

.header_phone, .header_phone_block {
    text-align: right
}

.active_btn:hover {
    margin-top: -1px;
    padding-bottom: 1px;
    opacity: 1
}

button {
    -webkit-appearance: none
}

a:hover {
    text-decoration: underline
}

body {
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}

.prod_mob {
    display: none;
}

header {
    width: 100%;
    height: 72px;
    background: #818181;
    position: fixed;
    top: 0;
    z-index: 99999;
}

.block1, .block1_left, .contain {
    position: relative
}

.main {
    width: 100%;
    margin-top: 82px
}

.contain {
    width: 1000px;
    margin: 0 auto
}

.header_logo {
    width: 180px;
    height: 36px;
    background: url(../img/header_logo.png) no-repeat;
    margin-top: 25px
}

.header_phone {
    width: 160px;
    font-family: Tahoma;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
    letter-spacing: -.5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAQAAACMnYaxAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAADUSURBVBjTbc8/KwQAGMfx34k6uYTMZiOTvAClzqCYTJJB3oC8AukGmXTZbEYGkUUZvARXZzO4xELKFfcxUOf+/J7x2+/7PE9EUUXdmoJ0Tkw6dOVDw3wv3MedM1S64UDKSWZSzFMe0h3noGbFcK920ydOu8Gv9iL3SSYymt6ILS3vlnubESWXODfSD8asR03b/WFs+PKsLGLQknXjbThkDy92TFtwq+nMVFtScgQ+vDpxjer/HWOOtUDDgZqbzhNKdjX++hVzBZ1vF7KY1XznLdXUfwBTA/MbcoBfCwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNS0wMy0wM1QxMzo0NjoxNiswMDowMIkWIY0AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTUtMDMtMDNUMTM6NDY6MTYrMDA6MDD4S5kxAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: 5px center;
    margin-top: 5px;
    display: none
}

.feedback_call, .header_menu {
    display: block;
    text-align: center
}

.feedback_call {
    /*! width: 196px; */
    height: 24px;
    line-height: 24px;
    background: #ff0024;
    font-family: Arial;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    margin-top: 25px;
    border-radius: 2px;
    padding: 0 10px;
    text-decoration: none;
}

/* .feedback_call:hover {
    text-decoration: none;
} */

.header_menu li a, .header_menu li:before {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    font-family: Arial
}

.header_menu {
    margin: 0 auto;
    line-height: 72px
}

.header_menu li {
    display: inline-block;
    margin-right: 6px;
}

.header_menu li:before {
    content: "/"
}

.header_menu li:first-child:before {
    display: none;
}

.header_menu li a {
    text-transform: uppercase;
    margin-left: 9px;
}

.main_top_header {
    font-family: Arial;
    color: #000;
    font-size: 39px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -1px;
    margin-top: 15px
}

.main_top {
    font-family: Arial;
    color: #706e6e;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px
}

.block1 {
    width: 100%;
    padding: 5px 0
}

.block1_bg {
    /* background: url(../img/bg1.jpg) center center; */
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/bg1.jpg) center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 590px;
    overflow: hidden;
    background-size: cover;
    -o-background-size:cover;
    -webkit-background-size:cover;
    -khtml-background-size:cover;
}

.block1_left {
    display: block;
    width: 370px;
    height: 238px;
    background: url(../img/block1_left_bg.png) center center;
    padding-left: 83px;
    margin-top: 30px;
    left: -500px;
    opacity: 0
}

.block1_left1, .block1_left2, .block1_left3 {
    left: 0;
    position: relative
}

.block1_left p {
    font-family: Arial;
    color: #ffe200;
    font-size: 16px;
    font-weight: 700;
    width: 265px;
    display: block;
    line-height: 18px
}

.block1_left1 {
    top: 17px
}

.block1_left2 {
    top: 60px
}

.block1_left3 {
    top: 103px
}

.block1_right {
    position: relative;
    width: 363px;
    margin: 5px 0 0;
}

.sale {
    position: relative;
    width: 365px;
    padding: 0 10px;
}

.pack, .rest, .rest_note, .sale_icon, .to_go_arrow {
    position: absolute
}

.sale h3 {
	font-family: Tahoma;
	color: #ffcd00;
	font-size: 27px;
	font-weight: 700;
/*	line-height: 25px;*/
	line-height: 1;
}

.new_price_block h4, .new_price_block p, .sale span {
    font-weight: 400;
    font-family: Tahoma
}

.sale span {
	color: #fff;
	font-size: 16px;
	width: 180px;
	text-align: left;
	display: block;
}

.sale_icon {
    width: 157px;
    height: 97px;
    background: url(../img/sale_icon.png) center center;
    top: 17px;
    right: 10px
}

.buy_block {
    width: 363px;
    height: 435px;
    background: url(../img/buy_block_bg.png) center center;
    margin-top: 10px;
    padding-top: 1px
}

.new_price_block {
    margin: 5px 13px
}

.new_price_block h4 {
    font-size: 16px
}

.new_price_block p {
    font-size: 20px
}

.new_price_block p span:first-child {
    font-family: Tahoma;
    font-size: 22px;
    font-weight: 700
}

.old_price {
    color: #818181
}

.new_price {
    color: #f40022
}

.old_price p span:first-child {
    text-decoration: line-through
}

p.final_count, p.final_count span:first-child {
    font-family: Arial;
    color: #7c7132;
    font-size: 13px;
    font-weight: 400;
    margin-top: 41px
}

.enter_data {
    margin: 10px 13px
}

.enter_data p {
	font-family: Arial;
	color: #706e6e;
	font-size: 14px;
	font-weight: 400;
	margin-top: -17px;
	margin-bottom: 9px;
}

.enter_data .class1 {
	font-family: Arial;
	color: #706e6e;
	font-size: 14px;
	font-weight: 400;
	margin-top: 38px;
	margin-bottom: 20px;
}

.enter_data input, .enter_data select {
    width: 330px;
    height: 40px;
    border-radius: 4px;
    margin: 10px auto 0;
    border: 0;
    padding: 0 30px 0 50px;
    font-family: Arial;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff
}

.enter_data input::-webkit-input-placeholder {
    color: #3a3a3a
}

.enter_data input:-moz-placeholder {
    color: #3a3a3a
}

.enter_data input::-moz-placeholder {
    color: #3a3a3a
}

.enter_data input:-ms-input-placeholder {
    color: #3a3a3a
}

.enter_name {
    background: url(../img/enter_name_icon.png) 7px center no-repeat
}

.enter_phone {
    background: url(../img/enter_phone_icon.png) 9px center no-repeat
}

.enter_data button {
    display: block;
    width: 330px;
    height: 80px;
    border-radius: 4px;
    margin: 10px auto 0;
    border: 0;
    background: url('../img/submit_bg.png') center center;
    font-family: Arial;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    transition: 0.5s;
}
.enter_data button:hover {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -o-transform: scale(1.1);
}

.recall {
    font-family: Arial;
    color: #706e6e;
    font-size: 14px;
    font-weight: 400;
    width: 330px;
    margin: -5px auto 0;
    text-align: left;
    padding-left: 45px;
    background: url(../img/recall_icon.png) 4px center no-repeat
}

.to_go_arrow {
    width: 28px;
    height: 60px;
    top: 350px;
    left: -40px;
    background: url(../img/to_go_arrow.png) center center no-repeat
}

.header_product {
    position: absolute;
    max-width: 250px;
    bottom: -30px; 
    left: 0;
}

.pack {
    background: url(../img/rest_bg2.png) center center no-repeat;
    bottom: 100px;
    left: 160px;
    width: 285px;
    height: 79px;
}

.rest {
	color: #f40022;
	font-family: Corbel;
	font-size: 12px;
	font-weight: 700;
	top: 20px;
    left: 45px;
	word-spacing: -2px;
  	width: 85px;
}

.block2 h2, .rest_note {
    font-weight: 400;
    text-align: center;
    font-family: Arial
}

.rest span {
    display: inline-block;
    vertical-align: top;
    margin-top: 14px;
    font-size: 10px;
}

.rest span.rest_amount {
    font-size: 42px;
    display: inline-block;
    margin: 0 3px 0 3px;
}

.rest_note {
    color: #5e5e5e;
    font-size: 15px;
    width: 135px;
    top: 20px;
    left: 140px;
}

.block2 h2 {
    color: #000;
    font-size: 40px;
    letter-spacing: -1px;
    margin-top: 30px;
    line-height: 40px
}

.block2_content {
    margin-top: 35px
}

.block2_content_item {
    width: 498px;
    display: inline-block;
    margin-bottom: 15px
}

.block2_content_item_text {
    width: 285px;
    vertical-align: top;
    display: inline-block
}

.block2_content_item_text h2 {
    font-family: Arial;
    color: #292929;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    line-height: 24px
}

.block2_content_item_text p {
    font-family: Arial;
    color: #706e6e;
    font-size: 18px;
    font-weight: 300;
    text-align: right;
    line-height: 22px;
    margin-top: 60px
}

.block2_content_item_text p span {
    color: #93b335
}

.block2_content_item_text.right h2, .block2_content_item_text.right p {
    text-align: left
}

.block2_content_item_image {
    width: 203px;
    height: 203px;
    background-position: center center;
    position: relative
}

.block2_content_item_image1 {
    background: url(../img/block2_item_image1.png) no-repeat
}

.block2_content_item_image2 {
    background: url(../img/block2_item_image2.png) no-repeat
}

.block2_content_item_image3 {
    background: url(../img/block2_item_image3.png) no-repeat
}

.block2_content_item_image4 {
    background: url(../img/block2_item_image4.png) no-repeat
}

.block2_content_item_number {
    border-radius: 50%;
    width: 62px;
    height: 62px;
    text-align: center;
    line-height: 62px;
    font-family: Tahoma;
    color: #ffe200;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    top: -18px;
    background: #818181
}

.block3_top_content_item, .block3_top_content_item span {
    width: 55px;
    position: relative;
    height: 55px;
    display: inline-block
}

.number1 {
    background: #19c6ff
}

.number2 {
    background: #f2a34b
}

.block2_content_item_image.left .block2_content_item_number {
    right: 7px
}

.block2_content_item_image.right .block2_content_item_number {
    left: 7px
}

.block3 h2 {
    font-family: Arial;
    color: #000;
    font-size: 39px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px
}

.block3_top_content {
    margin-top: 40px
}

.block3_top_content_item {
    margin: 0 72px;
    float: left
}

.block3_top_content_item span {
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    font-family: Tahoma;
    color: #818181;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    z-index: 9;
    background: #ffe200
}

.block3_top_content_item_rightside {
    width: 167px;
    height: 55px;
    position: absolute;
    top: 0;
    left: 22px;
    z-index: 1;
    background: url(../img/block3_right_item.png) no-repeat
}

.block3_bottom_content {
    margin-top: 20px;
    margin-bottom: 30px
}

.block3_bottom_content_item {
    width: 204px;
    display: inline-block;
    margin: 0 -2px 0 -3px;
    float: left
}

.block3_bottom_content_item_image {
    width: 204px;
    height: 205px;
    background-position: center center;
    position: relative
}

.block3_bottom_content_item_image1 {
    background: url(../img/block3_item_image1.png) no-repeat
}

.block3_bottom_content_item_image2 {
    background: url(../img/block3_item_image2.png) no-repeat
}

.block3_bottom_content_item_image3 {
    background: url(../img/block3_item_image3.png) no-repeat
}

.block3_bottom_content_item_image4 {
    background: url(../img/block3_item_image4.png) no-repeat
}

.block3_bottom_content_item_image5 {
    background: url(../img/block3_item_image5.png) no-repeat
}

.block3_bottom_content_item p {
    font-family: Arial;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 180px;
    margin: 0 auto;
    letter-spacing: -1px
}

.block4, .block8 {
    width: 100%;
    height: 500px;
    background: url(../img/bg2.jpg) center center no-repeat;
    background-size: cover
}

.block4_content, .block8_content {
    width: 980px;
    height: 360px;
    background: url(../img/buy_block2.png) center right no-repeat;
    position: relative;
    top: 55px
}

.block4_content_leftside, .block8_content_leftside {
    width: 580px;
    position: relative;
    float: left
}

.block4_content .sale, .block8_content .sale {
    position: relative;
    margin-top: 20px;
    width: 345px;
    float: right;
    background: 0 0
}

.pack2, .rest2, .to_go_arrow2 {
    position: absolute
}

.block4_content .sale h3, .block8_content .sale h3 {
    font-family: Tahoma;
    font-size: 27px;
    font-weight: 700;
    color: #f40022;
    margin: 0 0 10px;
}

.block4_content .sale span, .block8_content .sale span {
    font-family: Tahoma;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    display: block;
    width: 100%;
    color: #f40022;
    margin: 10 0 0;
}

.block4_content .sale_icon, .block8_content .sale_icon {
    width: 157px;
    height: 97px;
    background: url(../img/sale_icon.png) center center;
    position: absolute;
    top: -30px;
    left: 90px;
    z-index: 9
}

.block4_content .buy_block, .block8_content .buy_block {
    width: 363px;
    height: 435px;
    background: url(../img/buy_block_bg.png) center center;
    margin-top: 25px;
    padding-top: 1px
}

.block4_content .new_price_block, .block8_content .new_price_block {
    margin: 10px 0;
}

.block4_content .new_price_block h4, .block8_content .new_price_block h4 {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: 400
}

.block4_content .new_price_block p, .block8_content .new_price_block p {
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    vertical-align: bottom;
    display: inline-block
}

.block4_content .new_price_block span, .block8_content .new_price_block span {
    font-family: Tahoma;
    font-size: 22px;
    font-weight: 700;
    float: left;
    width: auto
}

.block4_content .old_price, .block8_content .old_price {
    width: 155px
}

.block4_content .old_price span, .block8_content .old_price span {
    text-decoration: line-through;
    float: left;
    display: inline-block;
    width: auto;
    color: #818181
}

.new_price_block .price_main_currency {
    margin: 0 0 0 5px
}

.block4_content .new_price, .block8_content .new_price {
    width: 155px
}

.block4_content p.final_count, .block8_content p.final_count {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px
}

.block4_content p.final_count span, .block8_content p.final_count span {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    float: none;
    display: inline-block;
    color: #818181
}

.dotted {
    border-bottom: 3px dotted #363636;
    float: right;
    width: 315px;
    margin-right: 14px;
    margin-top: 21px
}

.pack2 {
    width: 334px;
    height: 421px;
    background: url(../img/pack2.png) center center;
    top: 15px;
    left: -21px;
}

.rest2 {
    width: 285px;
    height: 79px;
    background: url(../img/rest_bg2.png) center center;
    top: 240px;
    left: 210px
}

.rest2 .rest {
    top: 14px;
    left: 60px;
    width: 75px
}

.rest2 .rest_note {
    top: 12px;
    left: 140px
}

.to_go_arrow2 {
    width: 59px;
    height: 29px;
    background: url(../img/to_go_arrow2.png) center center;
    top: 255px;
    left: 512px
}

.block4_content_rightside, .block8_content_rightside {
    width: 385px;
    position: relative;
    float: right;
    padding: 35px 13px
}

.block5 h2 {
    font-family: Arial;
    color: #000;
    font-size: 39px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px
}

.block5_slider_item_city, .block5_slider_item_name {
    color: #5c3b17;
    left: 35px;
    font-family: Arial;
    font-weight: 400
}

.block5_slider {
    width: 999px;
    margin: 30px auto;
    overflow: hidden;
}

.slider_box {
    /*! width: 10000px; */
}

.block5_slider_item {
    width: 997px;
    height: 256px;
    margin: 0 1px 15px;
    position: relative;
    border: 1px solid #5c3b17;
    border-radius: 5px
}

.block5_slider_item_name {
    font-size: 24px;
    position: absolute;
    top: 95px
}

.block5_slider_item_city {
    font-size: 20px;
    position: absolute;
    top: 125px
}

.block5_slider_item_user_pic {
    width: 172px;
    height: 172px;
    border-radius: 50%;
    position: absolute;
    top: 45px;
    left: 245px
}

.block5_slider_item_quote {
    font-family: Arial;
    color: #414141;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.9px;
    line-height: 24px;
    width: 530px;
    text-align: left;
    position: absolute;
    right: 20px
}

.next_slide, .prev_slide {
    height: 65px;
    position: absolute;
    bottom: 0;
    line-height: 65px;
    font-family: Arial;
    color: #706e6e;
    font-size: 16px;
    letter-spacing: -.8px;
    font-weight: 400;
    cursor: pointer
}

.block5_slider_item_quote1 {
    top: 40px
}

.block5_slider_item_quote2 {
    top: 35px
}

.block5_slider_item_quote3 {
    top: 40px
}

.prev_slide {
    padding-left: 70px;
    left: 20px;
    background: url(../img/prev_slide.png) left center no-repeat
}

.next_slide {
    padding-right: 70px;
    right: 20px;
    background: url(../img/next_slide.png) right center no-repeat
}

.block6 h2 {
    font-family: Corbel;
    color: #f28a00;
    font-size: 37px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    line-height: 37px
}

.block6_bottom_content, .block6_top_content {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 10px;
    font-family: Arial;
    text-align: center
}

.block6_top_content {
    color: #f40022;
    border-bottom: 2px dotted #706e6e;
    padding: 15px 0
}

.block6_bottom_content {
    color: #343434
}

.block6_content h3 {
    font-family: Arial;
    color: #f40022;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -.75px;
    line-height: 22px;
    text-align: center;
    margin-top: 40px
}

.block6_content_dotted {
    border-bottom: 2px dotted #343434;
    width: 458px;
    margin: 15px auto 10px
}

.block7_content {
    width: 945px;
    margin: 0 auto
}

.block7 h2 {
    font-family: Corbel;
    color: #000;
    font-size: 39px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px
}

.block7_content_item {
    width: 244px;
    display: inline-block;
    float: left;
    margin-left: 105px;
    margin-bottom: 35px;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0)
}

.block7_content_item.anim {
    transition: all .6s ease-out .2s;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

.block7_content_item:first-child {
    margin-left: 0
}

.block7_content_item_pic {
    width: 244px;
    height: 242px;
    background-repeat: no-repeat;
    background-position: center center
}

.block7_content_item_pic1 {
    background: url(../img/block6_content_item_pic1.png)
}

.block7_content_item_pic2 {
    background: url(../img/block6_content_item_pic2.png)
}

.block7_content_item_pic3 {
    background: url(../img/block6_content_item_pic3.png)
}

.block7_content_item p {
    font-family: Arial;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px
}

.block8 {
    overflow-y: hidden
}

footer {
    width: 100%;
    height: 30px;
    text-align: center
}

.footer_item {
    display: inline-block;
    width: 260px;
    margin-top: 20px
}

.popup, .popup_bg {
    position: fixed;
    width: 100%
}

.popup, .popup_content {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.footer_item.left {
    text-align: left
}

.footer_item.right {
    text-align: right
}

footer a, footer p {
    font-family: Arial;
    color: #9d9d9d;
    font-size: 12px;
    font-weight: 400;
    display: block;
    line-height: 18px
}

.block1_1, .block4_1_right, .block8_1_right, .popup, p.final_count br {
    display: none
}

.popup {
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 99999;
    overflow-y: auto
}

.popup.popup_scrl .popup_content {
    height: 300px
}

.popup_bg {
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    cursor: pointer
}

.popup_content {
    width: 1000px;
    z-index: 2;
    position: absolute;
    height: 360px
}

@media screen and (max-width: 1160px) {
    .prod_mob {
        display: block !important;
        margin: 0 auto 20px
    }
    .block1 .block1_right, .header_menu, .pack {
        display: none
    }

    .contain {
        width: 460px;
        overflow: hidden
    }

    header {
        height: 70px
    }

    .main_top_header {
        font-size: 38px;
        letter-spacing: -1.23px;
        line-height: 40px;
        font-family: Arial
    }

    .block1_bg {
        height: 100%
    }

    .head {
        margin-left: 0;
        left: auto;
        right: 0;
        margin-right: -240px
    }

    .main_top {
        font-size: 32px;
        line-height: 36px;
        font-family: Arial
    }

    .block1 {
        height: 370px;
        padding-top: 1px
    }

    .block1 .block1_left {
        float: none;
        margin: 30px auto 0;
        background: url(../img/block1_left_bg_mobi.png) no-repeat;
        width: 454px;
        height: 291px
    }

    .block1_left p {
        font-size: 20px;
        width: 320px;
        line-height: 22px
    }

    .block1_left1 {
        top: 20px;
        left: 20px
    }

    .block1_left2 {
        top: 72px;
        left: 20px
    }

    .block1_left3 {
        top: 126px;
        left: 20px
    }

    .block1_right {
        width: 460px
    }

    .block1_1 {
        display: block
    }

    .buy_block {
        width: 455px;
        /*! height: 406px; */
        background: url(../img/buy_block_bg_mobi.png);
        margin-top: 10px
    }

    .sale {
        width: 100%;
        padding-top: 5px;
        /*! height: 58px; */
        background: 0 0;
        margin: 25px 25px 0
    }

    .sale span {
        width: 300px;
        color: #9a9999;
        margin: 5px 0 0;
    }

    .sale_icon {
        top: 60px;
        right: 195px;
        display: none;
    }

    .new_price_block {
        padding: 0 60px 0 20px;
        margin: 15px 13px
    }

    .enter_data button, .enter_data input, .enter_data select {
        width: 398px;
        margin: 10px auto 0;
        display: block
    }

    .enter_data button {
        background: url(../img/submit_bg_mobi.png) no-repeat
    }

    .to_go_arrow {
        display: none
    }

    .enter_data p {
/*        margin-top: 35px;*/
        margin-top: 15px;
        margin-left: 25px
    }

    .block2_content_item_image.left, .block2_content_item_text.left {
        float: right
    }

    .block2_content_item_image.right, .block2_content_item_text.right {
        float: left
    }

    .block2_content_item.left, .block2_content_item.right {
        float: none;
        width: 460px;
    }

    .left .block2_content_item_text h2, .left .block2_content_item_text p {
        text-align: left
    }

    .block2_content_item_text {
        padding: 0 5px;
        width: 255px
    }

    .block2_content_item_text.right h2, .block2_content_item_text.right p {
        text-align: right
    }

    .block3 h2 {
        font-size: 40px;
        line-height: 40px
    }

    .block3_bottom_content_item {
        width: 460px;
        display: block
    }

    .block3_bottom_content_item_image {
        display: table-cell;
        z-index: 8
    }

    .block3_bottom_content_item p {
        display: table-cell;
        width: 240px;
        text-align: left;
        height: 205px;
        vertical-align: middle;
        padding-left: 10px
    }

    .mobi_left .block3_bottom_content_item_image {
        float: left
    }

    .mobi_left .block3_bottom_content_item p, .mobi_right .block3_bottom_content_item_image {
        float: right
    }

    .mobi_right .block3_bottom_content_item p {
        float: left
    }

    .block3_top_content {
        margin-top: 90px
    }

    .block3_top_content_item.mobi_1 {
        position: absolute;
        top: 180px;
        left: 0
    }

    .block3_top_content_item.mobi_2 {
        position: absolute;
        top: 388px;
        left: 257px
    }

    .block3_top_content_item.mobi_3 {
        position: absolute;
        top: 590px;
        left: 0
    }

    .block3_top_content_item.mobi_4 {
        position: absolute;
        top: 800px;
        left: 257px
    }

    .block3_top_content_item.mobi_5 {
        position: absolute;
        top: 1000px;
        left: 0
    }

    .mobi_1 .block3_top_content_item_rightside {
        top: 194px;
        left: 49px;
        -webkit-transform: rotate(39deg);
        transform: rotate(39deg);
        z-index: 1
    }

    .mobi_2 .block3_top_content_item_rightside {
        top: 194px;
        left: -161px;
        -webkit-transform: rotate(141deg);
        transform: rotate(141deg);
        z-index: 1
    }

    .mobi_3 .block3_top_content_item_rightside {
        top: 194px;
        left: 49px;
        -webkit-transform: rotate(39deg);
        transform: rotate(39deg);
        z-index: 1
    }

    .mobi_4 .block3_top_content_item_rightside {
        top: 194px;
        left: -161px;
        -webkit-transform: rotate(141deg);
        transform: rotate(141deg);
        z-index: 1
    }

    .block4_content, .block8_content {
        display: none
    }

    .block4_1_right .sale > h3, .block4_1_right .sale > span, .block8_1_right .sale > h3, .block8_1_right .sale > span {
        color: #f40022
    }

    .block4_1_right, .block8_1_right {
        display: block
    }

    .block4, .block8 {
        height: 530px;
        padding-top: 10px
    }

    .block5 h2 {
        margin-top: 20px;
        font-size: 38px
    }

    .block5_slider {
        width: 473px;
        margin-bottom: 0;
    }

    .block5_slider_item {
        width: 459px;
        height: auto;
        margin-top: 100px;
    }

    .block5_slider_item_user_pic {
        top: -86px;
        left: 143px
    }

    .block5_slider_item_quote {
        width: 420px;
        margin: 0 auto;
        top: 175px;
        text-align: center;
        right: 0;
        left: 0;
        position: static;
        padding: 90px 0 20px;
    }

    .block5_slider_item_city, .block5_slider_item_name {
        display: block;
        margin: 0 auto;
        position: relative;
        text-align: center;
        left: 0;
        top: 85px;
        font-weight: 700
    }

    .block5_slider_item_city {
        /*! top: 91px; */
    }

    .next_slide, .prev_slide {
        font-size: 16px;
        color: #242021;
        width: 150px;
        line-height: 19px;
        padding-top: 12px
    }

    .next_slide {
        text-align: right
    }

    .block6 {
        display: none
    }

    .block7 h2 {
        font-family: Arial;
        font-size: 40px
    }

    .block7_content {
        width: 460px;
        padding-bottom: 20px
    }

    .block7_content_item {
        display: block;
        margin: 40px auto 20px;
        float: none
    }

    .block7_content_item:first-child {
        margin-left: auto
    }

    .footer_item {
        display: none
    }

    .footer_item.left, .footer_item.right {
        display: inline-block
    }

    .popup_content {
        width: 460px;
        height: 550px
    }
    .header_product {
        display: none;
    }
    .block1_left {
        padding-left: 20px;
    }
}

@media screen and (max-width: 479px) {
    .contain {
        width: 290px;
        min-width: 240px;
        overflow: hidden;
    }

    .header_logo {
        margin: 15px auto 0;
        float: none
    }

    .header_phone_block {
        display: none
    }

    .main_top_header {
        font-size: 34px;
        line-height: 40px
    }

    .main_top {
        font-size: 26px
    }

    .block1 {
        height: 335px
    }

    .block1_left p {
        font-size: 16px;
        width: auto;
        left: 0;
    }

    .block1_left1 {
        top: 22px
    }

    .block1_left2 {
        top: 68px
    }

    .block1_left3 {
        top: 116px
    }

    .block1_right {
        width: 420px
    }

    .block1 .block1_left {
        width: 100%;
        background-size: contain;
        /*! height: 282px; */
        padding: 0;
        text-align: center;
    }

    .buy_block {
        width: 300px;
        background: url(../img/buy_block_bg_mobi2.png) no-repeat;
        background-size: contain;
        height: auto;
    }

    .new_price_block {
        text-align: center;
        padding: 0;
    }

    .new_price_block h4, .new_price_block p {
        font-size: 18px;
    }

    .new_price_block p span:first-child {
        display: block
    }

    .new_price, .old_price {
        width: 130px;
        text-align: center
    }
    
    p.final_count, p.final_count span:first-child {
        margin-top: 10px;
        text-align: center;
        font-size: 22px;
        display: inline-block;
        line-height: 22px
    }

    p.final_count br {
        display: inherit
    }

    .block3, .footer_item.right {
        display: none
    }

    .sale {
        margin-left: 10px
    }

    .sale h3 {
        font-size: 32px
    }

    .sale_icon {
        right: 20px;
        top: 30px
    }

    .enter_data button, .enter_data input, .enter_data select {
        width: 275px;
        margin: 10px auto;
        height: 50px;
        font-size: 16px;
    }

    .enter_data button {
        height: 80px;
        background: url(../img/submit_bg.png) no-repeat;
        font-size: 23px;
        line-height: 1;
        padding: 0;
    }

    .enter_data p {
        margin-left: 0;
        font-size: 18px
    }

    .recall {
        margin-top: 20px;
        padding-left: 0;
        background: 0 0;
        font-size: 21px;
        text-align: center
    }

    .block2_content_item_image, .block2_content_item_text {
        float: none !important;
        margin: 0 auto
    }

    .block2 h2 {
        line-height: 40px
    }

    .block2_content_item_text {
        width: auto;
        text-align: center;
    }

    .block2_content_item_text h2 {
        text-align: center !important;
        margin-top: 0;
        font-size: 24px;
        line-height: 30px
    }

    .block2_content_item_text p {
        text-align: center !important;
        font-size: 24px;
        line-height: 26px;
        margin: 20px 0
    }

    .block2_content_item {
        margin-bottom: 30px;
        width: 280px !important;
    }

    .block4, .block8 {
        height: auto;
        padding-bottom: 30px
    }

    .block4_1_right .new_price_block, .block8 .new_price_block {
        margin: 0 13px 10px;
    }

    .block5_slider {
        width: 300px;

        margin-top: 10px;
        padding-bottom: 0;
    }

    .block5_slider_item {
        width: 288px;
        height: auto;
        margin-top: 90px
    }

    .block5_slider_item_name {
        font-size: 22px;
    }

    .block5_slider_item_city {
        font-size: 22px;
        top: 80px;
    }

    .block5_slider_item_quote {
        width: auto;
        right: inherit;
        font-size: 16px;
        line-height: 22px;
        padding: 90px 8px 20px;
    }

    .block5_slider_item_user_pic {
        left: 63px;
    }

    .prev_slide {
        padding-left: 0;
        padding-right: 70px;
        background-position: right bottom;
        height: 95px
    }

    .next_slide {
        padding-left: 70px;
        padding-right: 0;
        background-position: left bottom;
        height: 95px
    }

    .block7_content {
        width: 300px;
    }

    .block7 h2 {
        padding: 0 20px;
        font-size: 30px
    }

    .footer_item.left {
        width: 100%;
        text-align: center
    }
    
    .block8 .sale h3 {
        margin: 0 0 10px;
    }
    .sale span {
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .main_top_header {
        font-size: 32px
    }

    .main_top {
        font-size: 24px
    }

    .block1_left1 {
        left: 0;
        top: 20px;
    }

    .block1_left2 {
        left: 0;
        top: 65px
    }

    .block1_left3 {
        left: 0;
        top: 110px
    }

    .block1_right {
        width: 380px
    }

    .block1 {
        height: 305px
    }

    p.final_count, p.final_count span:first-child {
        font-size: 18px;
        line-height: 22px
    }

    .recall {
        margin-top: 10px;
        font-size: 18px
    }

    .sale_icon {
        right: 8px;
        background-repeat: no-repeat;
        background-size: contain;
        width: 125px;
        height: 77px
    }

    .block2 h2 {
        line-height: 36px;
        font-size: 34px
    }

    .block2_content_item_text h2 {
        text-align: center !important;
        margin-top: 0;
        font-size: 20px;
        line-height: 26px
    }

    .block2_content_item_text p {
        text-align: center !important;
        font-size: 16px;
        line-height: 20px
    }

    .block3 {
        display: none
    }

    .block5_slider_item_quote {
        font-size: 17px;
        line-height: 20px
    }

    .footer_item {
        width: 160px;
        margin: 20px 10px
    }
}

@media screen and (max-width: 385px) {

    .main_top_header {
        font-size: 28px;
        line-height: 32px
    }

    .main_top {
        font-size: 22px;
        line-height: 26px
    }

    .block1_left1 {
        top: 15px
    }

    .block1_left2 {
        top: 52px
    }

    .block1_left3 {
        top: 88px
    }

    .block1_right {
        width: 340px
    }

    .block1 {
        height: 285px
    }

    p.final_count, p.final_count span:first-child {
        font-size: 17px;
        line-height: 19px;
        margin-top: 5px
    }

    .enter_data p {
        margin-left: 15px;
        font-size: 16px
    }

    .recall {
        width: 280px;
        font-size: 16px;
        margin-top: 10px;
        /*! height: 32px */
    }

    .new_price, .old_price {
        width: 120px
    }

    .sale_icon {
        right: 10px;
        top: 30px
    }

    .block2 h2 {
        line-height: 31px;
        font-size: 28px
    }

    .block2_content_item_text h2 {
        text-align: center !important;
        margin-top: 0;
        line-height: 22px;
        font-size: 18px
    }

    .block2_content_item_text p {
        text-align: center !important;
        font-size: 14px;
        line-height: 20px
    }

    .block3 {
        display: none
    }

    .block5 h2 {
        line-height: 32px;
        font-size: 30px
    }

    .block5_slider_item_quote {
        top: 120px;
        font-size: 15px;
        line-height: 18px
    }

    .next_slide, .prev_slide {
        width: 120px;
        font-size: 10px;
        height: 60px;
        padding-top: 0;
        background-size: contain;
        line-height: 15px
    }

    .block7_content_item p {
        font-size: 20px
    }

    .footer_item {
        width: 140px;
        margin: 15px 10px
    }

    footer a, footer p {
        font-size: 10px;
        line-height: 14px
    }

    footer {
        height: 50px
    }
}

@media screen and (max-width: 345px) {

    .main_top_header {
        font-size: 24px;
        line-height: 28px
    }

    .main_top {
        font-size: 18px
    }

    .block1_left {
        padding-left: 65px;
        height: 210px
    }

    .block1_left1 {
        top: 17px
    }

    .block1_left2 {
        top: 50px
    }

    .block1_left3 {
        top: 83px
    }

    .block1_right {
        width: 300px
    }

    .block1 {
        height: 290px
    }

    .new_price_block {
        margin: 30px 10px 40px;
        padding: 0 20px
    }

    .recall {
        width: 250px;
        font-size: 12px;
        margin-top: 15px
    }

    .sale_icon {
        top: 35px;
        right: 15px
    }

    .new_price_block h4 {
        font-size: 14px
    }

    p.final_count, p.final_count span:first-child {
        font-size: 12px;
        line-height: 16px
    }

    .new_price, .old_price {
        width: 90px
    }

    .enter_data {
        width: 280px;
        display: block;
        margin: 0 auto
    }

    .enter_data p {
        text-align: center;
        font-size: 14px;
        margin: 10px 0
    }

    .enter_data button, .enter_data input, .enter_data select {
        width: 260px;
        margin: 12px auto
    }

    .enter_data select {
        height: 50px;
    }
    
    .enter_data button {
        font-size: 22px;
        height: 90px;
        background-size: cover;
    }

    .block2 h2 {
        line-height: 30px;
        font-size: 28px
    }

    .block2_content_item_text h2 {
        font-size: 18px;
        line-height: 24px
    }

    .block2_content_item_text p {
        text-align: center !important;
        font-size: 16px;
        line-height: 20px
    }

    .block3 {
        display: none
    }

    .block5 h2, .block7 h2 {
        line-height: 30px;
        font-size: 28px
    }

    .block5_slider_item {
        width: 288px;
    }

    .block5_slider_item_quote {
        top: 110px;
        font-size: 12px;
        line-height: 15px
    }

    .block5_slider_item_user_pic {
        left: 68px;
        top: -76px;
        width: 152px;
        height: 152px
    }

    .next_slide, .prev_slide {
        width: 120px;
        font-size: 10px;
        height: 55px;
        background-size: contain;
        padding-top: 0
    }

    .block7_content_item p {
        font-size: 20px
    }

    .footer_item {
        width: 140px;
        margin: 15px 5px
    }

    footer a, footer p {
        font-size: 10px;
        line-height: 14px
    }
}

.block6_content {
    width: 1000px;
    position: relative;
    right: 38px;
    height: 692px;
    background: url(../img/block6_bg_1.png) no-repeat center center;
    padding: 60px 35px 0 535px;
    margin-top: 30px;
}

.copyright {
	font-size: 17px;
	margin-top: 10px;
	color: #A12000;
}

.class1 {
	font-family: Arial;
	color: #706e6e;
	font-size: 14px;
	font-weight: 400;
	margin-top: 38px;
	margin-bottom: 9px;
}

select {
    background: url('../img/arrow_up2.png') no-repeat scroll 95% center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}