
.problems__title {
    max-width: 650px;
}

.problems__subtitle {
    max-width: 650px;
    margin-bottom: 40px;
}

.problems__body {
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 35px;

    & p {
        max-width: 630px;
        font-size: 20px;
        line-height: 26px;
        color: #463E3E;
        font-weight: 500;

        & b {
            font-weight: 700;
        }

        & mark {
            font-weight: 800;
            text-transform: uppercase;
            color: #3B6167;
        }

        & + p {
            margin-top: 40px;
        }
    }
}

.problems__footer {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 600px;
    min-height: 51px;
    padding-left: 70px;
    font-weight: 500;
    font-size: 18px;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 51px;
        height: 51px;
        border-radius: 50%;
        content: '';
        background-color: #3B6167;
        background-image: url("../media/problems/icon.png");
        background-repeat: no-repeat;
        background-position: center;   
    }
}

@media (max-width: 1054px) {
    .problems__body {
        & p {
            max-width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .problems__body {
        padding: 30px;

        & p {
            font-size: 16px;

            & + p {
                margin-top: 15px;
            }
        }
    }
}

@media (max-width: 340px) {
    .problems__body {
        padding: 30px 15px;
    }
}
