
.time__subtitle {
    margin-bottom: 30px;
}

.time__body {
    position: relative;
    padding-left: 50%;

    & p {
        font-size: 20px;
        font-weight: 500;

        & + p {
            margin-top: 30px;
        }
    }

    & b {
        font-weight: 800;
        text-transform: uppercase;
    }

    &::before {
        position: absolute;
        top: -110px;
        left: -245px;
        width: 805px;
        height: 764px;
        background-image: url("../media/time/product.png");
        content: '';
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.time__body-media {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;

    & span {
        font-size: 30px;
        font-family: "Baskerville", serif;
        color: #fff;
        padding: 5px 35px;
        background-color: #4A596A;
        text-transform: uppercase;

        & + span {
            margin-right: 42px;
        }
    }
}

.time__body-img {
    margin-top: 30px;
}

@media (max-width: 1054px) {
    .time__body {
        &::before {
            position: absolute;
            top: -70px;
            width: 652px;
            height: 620px;
        }
    }
}

@media (max-width: 768px) {
    .time__body {
        padding-left: 0;
        padding-top: 355px;

        &::before {
            width: 100%;
            height: 385px;
            top: -60px;
            left: -45px;
            background-size: 100% auto;
        }
    }

    .time__body-media {
        & span {
            padding-right: 20px;
            padding-left: 20px;
            font-size: 18px;

            & + span {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 480px) {
    .time__body {
        padding-left: 0;
        padding-top: 310px;

        &::before {
            width: 440px;
            height: 385px;
            top: -85px;
            left: 50%;
            transform: translateX(-50%);
            margin-left: -20px;
        }

        p {
            font-size: 16px;
        }
    }
}