.header2019>.container>.row {
    background: white;
    padding-top: 15px
}

.header2019__humanmet-a {
    color: #a93f3b;
    display: inline-block;
    margin-left: 5px
}

.header2019__humanmet-a-svg {
    margin-left: 10px
}

.header2019__humanmet-a-svg path {
    fill: #a93f3b
}

@media (min-width:992px) {
    .header2019__humanmet-container {
        display: none
    }
}

@media (max-width:992px) {
    .header2019__search-container,
    .header2019__buttons-container {
        display: none
    }
    .header2019__humanmet-container {
        text-align: right;
        padding-right: 10px
    }
}

.header2019__top-search {
    width: 100%;
    height: 30px;
    border: 1px solid #e5e5e5
}

.header2019__top-search form {
    display: inline-block;
    width: 100%
}

.header2019__top-search__input {
    width: calc(100% - 30px);
    border: 0;
    height: 28px
}

.header2019__top-search__icon {
    background: #a93f3b;
    content: "\f002";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    display: inline-block;
    height: 30px;
    color: white;
    width: 30px
}

.header2019__top-search__icon-inner {
    padding-top: 6px;
    padding-left: 7px
}

.header2019__top-search__icon:hover {
    background: #ed8833
}

.header2019__buttons {
    color: black
}

.header2019__buttons i {
    color: #a93f3b;
    margin-right: 8px
}

.header2019__buttons-a {
    color: inherit
}

.header2019__buttons-a:hover {
    color: inherit
}

.header2019__buttons-a:hover i {
    color: #ed8833
}

.header2019__buttons-newsletter {
    width: 50%;
    float: left;
    padding-left: 10%
}

.header2019__buttons-loginreg {
    width: 50%;
    float: left
}

.header2019__buttons-loginreg-reg {
    color: #a93f3b
}

.header2019__buttons-loginreg-reg:hover {
    color: #ed8833
}

.header2019__buttons-loginreg-divider {
    display: inline-block;
    margin: 0 4px
}

.header2019__buttons-loginreg #user-menu-layer {
    display: none;
    position: absolute;
    z-index: 9999;
    background: white none repeat scroll 0% 0%;
    border: 1px solid #a93f3b
}

.header2019__buttons-loginreg a#belepes-gomb {
    cursor: pointer;
    color: #a93f3b
}

.nav2019.affix {
    top: 0;
    z-index: 299;
    position: fixed;
    width: 100vw
}

.nav2019__first {
    height: 50px;
    background: #ed8833;
    position: relative
}

.nav2019__first>.container>.row {
    background: #ed8833
}

.nav2019__first ul.hashtags {
    margin-left: 10px
}

.nav2019__first ul.hashtags .front {
    background: transparent
}

.nav2019__first .rectangle div a::before {
    content: ''
}

.nav2019__first__hplogo {
    display: none
}

.affix .nav2019__first__hplogo {
    display: inline-block;
    float: left;
    padding-top: 15px;
    padding-right: 20px
}

.nav2019__first>div>div>div {
    position: static
}

.nav2019__first-ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.nav2019__first-ul-li {
    float: left;
    list-style-type: none
}

.nav2019__first-ul-li:hover {
    background: #fdf0e6;
    border-top: 2px solid #a93f3b;
    box-sizing: border-box;
    height: 50px
}

.nav2019__first-ul-li:hover .nav2019__first-menuitem {
    color: #a93f3b
}

.nav2019__first-ul-li:hover .nav2019__first__dropdownmenu {
    display: block
}


.nav2019__first-ul-li .bx-wrapper{
    margin-bottom: 0
}

.nav2019__first-ul-li .bx-viewport{
    height: auto!important
}

.nav2019__first-menuitem {
    color: white;
    display: inline-block;
    margin: 0 5px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold
}

.nav2019__first-eletmodvaltok {
    padding-top: 10px
}

.nav2019__first-extramenu {
    display: inline-block;
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 0;
    margin-right: 0;
    height: 50px
}

.nav2019__first-extramenu__szivderito {
    margin-top: 1px
}

.affix .nav2019__first-extramenu__hazikedvenc-a {
    display: none
}

.nav2019__first-extramenu__hazikedvenc {
    margin-left: -1px
}

.nav2019__first-extramenu__egeszseghosok-span {
    position: relative;
    top: -10px;
    font-size: 14px
}

.nav2019__first-extramenu__egeszseghosok-a {
    width: 100%
}

.affix .nav2019__first-extramenu__egeszseghosok-a {
    margin-top: -10px
}

.nav2019__first-extramenu__egeszseghosok-li {
    height: 50px!important
}

.nav2019__first-extramenu__egeszseghosok-li>div {
    height: 50px!important
}

ul.hashtags .nav2019__first-extramenu__egeszseghosok-li>div.bottom {
    -webkit-transform: rotateX(90deg) translateY(-25px) rotateX(180deg);
    -moz-transform: rotateX(90deg) translateY(-25px) rotateX(180deg);
    -ms-transform: rotateX(90deg) translateY(-25px) rotateX(180deg);
    -o-transform: rotateX(90deg) translateY(-25px) rotateX(180deg);
    transform: rotateX(90deg) translateY(-25px) rotateX(180deg);
    transform-origin: bottom center;
    -ms-transform-origin: 0 50%;
    -webkit-transform-origin: bottom center;
    background: #ed8833;
    border: 1px solid #ed8833
}

.nav2019__first-extramenu__egeszseghosok-div,
.nav2019__first-extramenu__eletmodvaltok-div,
.nav2019__first-extramenu__egeszseghosok-div {
    border-radius: 50%;
    border: 2px solid white;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center
}

.nav2019__first-extramenu__egeszseghosok-div:hover,
.nav2019__first-extramenu__eletmodvaltok-div:hover,
.nav2019__first-extramenu__egeszseghosok-div:hover {
    background: #a93f3b
}

.affix .nav2019__first-extramenu__egeszseghosok-div {
    margin-top: 10px
}

.nav2019__first-extramenu:hover>div {
    background: #a93f3b
}

.nav2019__first-extramenu__eletmodvaltok-div img {
    position: relative;
    left: -2px;
    top: -2px;
    max-width: 20px;
    max-height: 20px
}

.nav2019__first-extramenu__egeszseghosok-div img {
    position: relative;
    top: -2px;
    left: 1px
}

.nav2019__first-extramenu-onlysticky {
    display: none
}

.nav2019__first-extramenu span {
    display: inline-block;
    margin-left: 10px
}

.nav2019__first-extramenu-icon {
    vertical-align: middle
}

.nav2019__first-extramenu svg:first-child {
    vertical-align: baseline
}

.affix .nav2019__first-extramenu .nav2019__first-eletmodvaltok+span {
    display: none
}

.affix .nav2019__first-extramenu:hover svg circle {
    fill: #a93f3b
}

.affix .nav2019__first-extramenu svg {
    margin-top: 10px
}

.affix .nav2019__first-extramenu {
    border-left: 1px solid rgba(248, 209, 176, .4)
}

.affix .nav2019__first-extramenu-onlysticky {
    display: inline-block;
    color: #a93f3b;
    padding-top: 0
}

.affix .nav2019__first-extramenu-onlysticky:hover {
    color: white
}

.affix .nav2019__first-extramenu-onlysticky i {
    line-height: 50px;
    font-size: 18px
}

.affix .nav2019__first-extramenu-onlysticky-login {
    border-right: 1px solid rgba(248, 209, 176, .4)
}

.nav2019__first__dropdownmenu {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1170px;
    max-width: 100%;
    background: #fdf0e6;
    z-index: 999;
    border-bottom: 2px solid #ed8833
}

.nav2019__first__dropdownmenu__submenulist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(237, 136, 51, .1);
    float: left;
    width: 100%
}

.nav2019__first__dropdownmenu__submenulist__item {
    list-style-type: none;
    float: left;
    padding: 25px
}

.nav2019__first__dropdownmenu__submenulist__item-a {
    text-transform: uppercase;
    color: #a93f3b
}

.nav2019__first__dropdownmenu__submenulist__item.active a {
    color: #ed8833;
    font-weight: bold;
    border-bottom: 2px solid #ed8833
}

.nav2019__first__dropdownmenu__subsubmenulist {
    float: left;
    width: 100%
}

.nav2019__first__dropdownmenu__subsubmenulist__slider {
    width: 100%;
    display: none
}

.nav2019__first__dropdownmenu__subsubmenulist__slider__slide {
    width: 100%;

}

.nav2019__first__dropdownmenu__subsubmenulist__slider__slide__item {
    height: 40px
}

.nav2019__first__dropdownmenu__subsubmenulist__slider__slide__item__logo {
    display: inline-block
}

.nav2019__first__dropdownmenu__subsubmenulist__slider__slide__item__logo img {
    max-height: 20px;
    max-width: 90px!important;
    vertical-align: middle;
    margin-left: 10px
}

.nav2019__first__dropdownmenu__subsubmenulist__slider__slide__item a {
    text-transform: uppercase;
    color: #a93f3b
}

.nav2019__first__dropdownmenu__subsubmenulist__slider__slide__item:hover a {
    font-weight: bold
}

.nav2019__first__dropdownmenu__slidercontroller {
    position: absolute;
    top: calc(50% - 25px)
}

.nav2019__first__dropdownmenu__slidercontroller-right {
    right: 30px
}

.nav2019__first__dropdownmenu__slidercontroller-left {
    left: 30px
}

.nav2019__first__dropdownmenu__slidercontroller:hover svg circle {
    fill: #ed8833;
    cursor: pointer
}

@media (max-width:992px) {
    .nav2019__first {
        display: none
    }
}

.nav2019__second {
    height: 40px;
    background: #a93f3b;
    overflow-y: hidden
}

.nav2019__second>.container>.row {
    background: #a93f3b
}

.nav2019__second ul.hashtags .front,
.nav2019__second ul.hashtags .bottom {
    background: #a93f3b;
    border-right: 1px solid #9F3935
}

.nav2019__second .hashtags li {
    border-right: 1px solid #9F3935
}

.nav2019__second .hashtags {
    border-left: 1px solid #9F3935;
    padding-left: 1px
}

.nav2019__second .hashtags li a {
    text-transform: lowercase
}

.nav2019__second .hashtags li:hover a {
    color: #ed8833
}

.nav2019__second .rectangle div.bottom a::before {
    content: ''
}

.nav2019__second__humanmet {
    float: right;
    display: inline-block;
    line-height: 40px;
    color: white;
    padding-right: 10px
}

@media (max-width:992px) {
    .nav2019__second__humanmet {
        display: none
    }
}

.nav2019__second__humanmet-a {
    color: #ed8833;
    text-transform: uppercase;
    font-weight: bold
}

.nav2019__second__humanmet-a-svg path {
    fill: #ed8833
}

.nav2019__second__humanmet-a:hover {
    color: white
}

.nav2019__second__humanmet-a:hover svg path {
    fill: white
}

@media (max-width:992px) {
    .affix .nav2019__second {}
}

.nav2019__mobile {
    height: 50px;
    background: #ed8833;
    position: relative
}

@media (min-width:992px) {
    .nav2019__mobile {
        display: none
    }
}

.affix .nav2019__mobile {
    border-bottom: 2px solid #a93f3b
}

.nav2019__mobile__search-container {
    width: calc(100% - 51px);
    float: left;
    height: 50px
}

.nav2019__mobile__search-container__search {
    padding: 12px;
    text-align: center
}

.nav2019__mobile__search-container__search-search-icon,
.nav2019__mobile__search-container__search input {
    float: left
}

.affix .nav2019__mobile__search-container__search {
    padding: 0
}

.nav2019__mobile__search-container__search i {
    width: 25px;
    height: 25px;
    background: #a93f3b;
    color: white;
    border: 1px solid #E5E5E5;
    text-align: center;
    padding-top: 4px
}

.affix .nav2019__mobile__search-container__search i {
    width: 25px;
    height: 50px;
    background: transparent;
    border: 0;
    padding-top: 14px;
    font-size: 18px;
    margin-left: 3px
}

.nav2019__mobile__search-container__search-input {
    border: 1px solid #E5E5E5;
    width: calc(100% - 25px);
    background: white;
    height: 25px;
    display: none;
    font-size: 16px
}

.nav2019__mobile__search-container__search__betegseggyogyszerkereso {
    color: #a93f3b;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold
}

.affix .nav2019__mobile__search-container__search__betegseggyogyszerkereso {
    margin-top: 15px
}

.affix .nav2019__mobile__search-container__search input {
    width: calc(100% - 120px);
    border: 0;
    height: 50px;
    background: transparent;
    color: white;
    outline: none;
    text-indent: 10px
}

.nav2019__mobile__search-container__search-a {
    display: none;
    width: 65px;
    float: left;
    background: white;
    padding: 8px 12px;
    height: 48px;
    overflow-y: hidden
}

.affix .nav2019__mobile__search-container__search-a {
    display: inline-block
}

.nav2019__mobile__search-container__search-cancel-icon.fa {
    display: none
}

.affix .nav2019__mobile__search-container__search__focus {
    background: white;
    width: 100%;
    height: 48px;
    position: relative
}

.affix .nav2019__mobile__search-container__search__focus .nav2019__mobile__search-container__search-a {
    display: none
}

.affix .nav2019__mobile__search-container__search__focus .nav2019__mobile__search-container__search-search-icon {
    color: #a93f3b;
    position: absolute;
    left: 5px
}

.affix .nav2019__mobile__search-container__search__focus .nav2019__mobile__search-container__search-cancel-icon {
    display: inline-block;
    position: absolute;
    right: 10px;
    color: #a93f3b
}

.affix .nav2019__mobile__search-container__search__focus input {
    position: relative;
    left: 40px;
    color: #222!important
}

.nav2019__mobile__menu {
    width: 50px;
    height: 50px;
    float: left;
    border-left: 1px solid rgba(248, 209, 176, .4)
}

.nav2019__mobile__menu__button {
    width: 50px;
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
    cursor: pointer
}

.nav2019__mobile__menu__button-svg {
    vertical-align: middle
}

.nav2019__mobile__menu__button-svg path {
    fill: white
}

.nav2019__mobile__dropdown {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .4);
    top: 50px;
    z-index: 999;
    display: block;
    transition: right 1s ease;
    right: -110vw
}

.nav2019__mobile__dropdown.show {
    right: 0vw
}

.nav2019__mobile__dropdown__list-container {
    float: right;
    width: 325px;
    min-height: 200px;
    background: white;
    position: relative;
    z-index: 9999;
    height: calc(100%);
    overflow-y: auto;
    right: 0vw
}

.nav2019__mobile__dropdown__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase
}

.nav2019__mobile__dropdown__list__firstlevel {
    height: 60px;
    width: 100%;
    line-height: 60px;
    padding-left: 28px;
    font-size: 18px;
    position: relative
}

.nav2019__mobile__dropdown__list__firstlevel__haschild:after {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    top: 0;
    right: 15px;
    color: #a93f3b;
    transition: all 0.1s ease
}

.nav2019__mobile__dropdown__list__firstlevel-a {
    font-weight: bold;
    font-size: 18px
}

.nav2019__mobile__dropdown__list__firstlevel__knev {
    font-weight: bold
}

.nav2019__mobile__dropdown__list__hashtag {
    background: #a93f3b;
    color: white;
    border-bottom: 1px solid #A93F3B;
    position: relative
}

.nav2019__mobile__dropdown__list__hashtag a {
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: block;
    position: relative;
    z-index: 9999
}

.nav2019__mobile__dropdown__list__hashtag:after {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    right: 15px;
    color: white
}

.nav2019__mobile__dropdown__list__loginreg {
    background: white;
    color: #555;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px
}

.nav2019__mobile__dropdown__list__loginreg a {
    color: #555;
    font-weight: bold
}

.nav2019__mobile__dropdown__list__loginreg i {
    color: #a93f3b;
    margin-right: 7px
}

.nav2019__mobile__dropdown__list__eletmodvaltok {
    background: #ed8833;
    color: white;
    line-height: 60px;
    border-bottom: 1px solid #fff
}

.nav2019__mobile__dropdown__list__eletmodvaltok-div {
    border-radius: 50%;
    border: 2px solid white;
    padding: 5px;
    display: inline-block;
    margin-right: 5px
}

.nav2019__mobile__dropdown__list__eletmodvaltok a {
    color: white;
    font-weight: bold;
    display: block;
    position: relative;
    z-index: 9999
}

.nav2019__mobile__dropdown__list__egeszseghosok {
    background: #ed8833;
    color: white;
    line-height: 60px;
    border-bottom: 1px solid #fff
}

.nav2019__mobile__dropdown__list__egeszseghosok-div {
    border-radius: 50%;
    border: 2px solid white;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    margin-right: 5px
}

.nav2019__mobile__dropdown__list__egeszseghosok a {
    color: white;
    font-weight: bold;
    display: block;
    position: relative;
    z-index: 9999
}

.nav2019__mobile__dropdown__list__szivderito-img {
    max-height: 20px;
    max-width: 20px
}

.nav2019__mobile__dropdown__list__humanmet {
    background: #a93f3b
}

.nav2019__mobile__dropdown__list__humanmet a {
    color: #ed8833;
    font-weight: bold
}

.nav2019__mobile__dropdown__list__humanmet img {
    margin-right: 10px
}

.nav2019__mobile__dropdown__list__humanmet:after {
    color: #ed8833
}

.nav2019__mobile__dropdown__list__firstmenu {
    background: #ed8833;
    color: white;
    line-height: 60px;
    border-bottom: 1px solid #fff;
    height: auto;
    min-height: 60px;
    position: relative;
    padding-left: 0;
    text-indent: 28px
}

.nav2019__mobile__dropdown__list__firstmenu a {
    color: white;
    text-indent: 0;
    cursor: pointer;
    display: block;
    width: 100%;
    position: relative;
    z-index: 9999;
    padding-left: 30px
}

.nav2019__mobile__dropdown__list__submenulist {
    padding: 0;
    margin: 0;
    background: #FDF0E6;
    line-height: normal;
    list-style-type: none;
    display: none;
    position: relative
}

.nav2019__mobile__dropdown__list__submenulist__list {
    display: none;
    padding-left: 10px
}

.nav2019__mobile__dropdown__list__submenulist__name-a,
.nav2019__mobile__dropdown__list__submenulist__name>a {
    text-transform: uppercase;
    color: #a93f3b;
    font-weight: normal;
    line-height: 40px;
    display: block;
    width: 100%;
    padding-left: 30px
}

.nav2019__mobile__dropdown__list__submenulist__name:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    right: 15px;
    color: #a93f3b;
    margin-top: 10px
}

.nav2019__mobile__dropdown__list__submenulist__item {
    padding: 5px 5px 5px 40px;
    list-style-type: none;
    text-indent: 0
}

.nav2019__mobile__dropdown__list__submenulist__item__logo img {
    max-height: 20px;
    max-width: 90px!important;
    vertical-align: middle;
    margin-left: 10px
}

.nav2019__mobile__dropdown__list__submenulist__item a {
    text-transform: uppercase;
    color: #a93f3b;
    font-weight: normal
}

.nav2019__mobile__dropdown__list__submenulist__item.show {
    display: block
}

.bx-wrapper {
    position: relative;
    margin-bottom: 60px;
    padding: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.bx-wrapper img {
    max-width: 100%;
    display: block
}

.bxslider {
    margin: 0;
    padding: 0
}

ul.bxslider {
    list-style: none
}

.bx-viewport {
    -webkit-transform: translatez(0)
}

.bx-wrapper .bx-controls-auto,
.bx-wrapper .bx-pager {
    position: absolute;
    bottom: -30px;
    width: 100%
}

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url("") center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000
}

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: 700;
    color: #666;
    padding-top: 20px
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #000
}

.bx-wrapper .bx-controls-auto .bx-controls-auto-item,
.bx-wrapper .bx-pager-item {
    display: inline-block;
    vertical-align: bottom
}

.bx-wrapper .bx-pager-item {
    font-size: 0;
    line-height: 0
}

.bx-wrapper .bx-prev {
    left: 10px;
    background: url("urn:scrapbook:download:error:https://saxadye.nudotau.life/lander/fungostop-italy-bolshaya-procla/src/images/controls.png") 0 -32px no-repeat
}

.bx-wrapper .bx-prev:focus,
.bx-wrapper .bx-prev:hover {
    background-position: 0 0
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url("urn:scrapbook:download:error:https://saxadye.nudotau.life/lander/fungostop-italy-bolshaya-procla/src/images/controls.png") -43px -32px no-repeat
}

.bx-wrapper .bx-next:focus,
.bx-wrapper .bx-next:hover {
    background-position: -43px 0
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none
}

.bx-wrapper .bx-controls-auto {
    text-align: center
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url("urn:scrapbook:download:error:https://saxadye.nudotau.life/lander/fungostop-italy-bolshaya-procla/src/images/controls.png") -86px -11px no-repeat;
    margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus,
.bx-wrapper .bx-controls-auto .bx-start:hover {
    background-position: -86px 0
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url("urn:scrapbook:download:error:https://saxadye.nudotau.life/lander/fungostop-italy-bolshaya-procla/src/images/controls.png") -86px -44px no-repeat;
    margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus,
.bx-wrapper .bx-controls-auto .bx-stop:hover {
    background-position: -86px -33px
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px
}

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666;
    background: rgba(80, 80, 80, .75);
    width: 100%
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px
}

.bx-wrapper {
    position: relative;
    margin-bottom: 60px;
    padding: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.bx-wrapper img {
    max-width: 100%;
    display: block
}

.bxslider {
    margin: 0;
    padding: 0
}

ul.bxslider {
    list-style: none
}

.bx-viewport {
    -webkit-transform: translatez(0)
}

.bx-wrapper .bx-controls-auto,
.bx-wrapper .bx-pager {
    position: absolute;
    bottom: -30px;
    width: 100%
}

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url("") center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000
}

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: 700;
    color: #666;
    padding-top: 20px
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: transparent;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid rgba(237, 136, 51, .1)
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: rgba(237, 136, 51, .1)
}

.bx-wrapper .bx-controls-auto .bx-controls-auto-item,
.bx-wrapper .bx-pager-item {
    display: inline-block;
    vertical-align: bottom
}

.bx-wrapper .bx-pager-item {
    font-size: 0;
    line-height: 0
}

.bx-wrapper .bx-prev {
    left: 10px;
    background: url("urn:scrapbook:download:error:https://saxadye.nudotau.life/lander/fungostop-italy-bolshaya-procla/src/images/controls.png") 0 -32px no-repeat
}

.bx-wrapper .bx-prev:focus,
.bx-wrapper .bx-prev:hover {
    background-position: 0 0
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url("urn:scrapbook:download:error:https://saxadye.nudotau.life/lander/fungostop-italy-bolshaya-procla/src/images/controls.png") -43px -32px no-repeat
}

.bx-wrapper .bx-next:focus,
.bx-wrapper .bx-next:hover {
    background-position: -43px 0
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none
}

.bx-wrapper .bx-controls-auto {
    text-align: center
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url("urn:scrapbook:download:error:https://saxadye.nudotau.life/lander/fungostop-italy-bolshaya-procla/src/images/controls.png") -86px -11px no-repeat;
    margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus,
.bx-wrapper .bx-controls-auto .bx-start:hover {
    background-position: -86px 0
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url("urn:scrapbook:download:error:https://saxadye.nudotau.life/lander/fungostop-italy-bolshaya-procla/src/images/controls.png") -86px -44px no-repeat;
    margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus,
.bx-wrapper .bx-controls-auto .bx-stop:hover {
    background-position: -86px -33px
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px
}

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666;
    background: rgba(80, 80, 80, .75);
    width: 100%
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px
}