.clear:after {
  content: "";
  display: table;
  clear: both;
}

.reset-all, .comment, .title, .comments, .menu, .menu__item, .menu__text, .feed {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 100%;
  color: currentColor;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: 0;
  vertical-align: baseline;
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  word-wrap: break-word;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
}

img, video {
  max-width: 100%;
  display: block;
  max-height: 400px;
}

figure {
  margin: 0;
  padding: 0;
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
}

body, html {
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: #555;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  display: block;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

::-moz-selection {
  color: #fff;
  background: #dd9ca5;
}

::selection {
  color: #fff;
  background: #dd9ca5;
}

.t--light {
  font-weight: 300;
}

.t--bold {
  font-weight: 700;
}

.t--italic {
  font-style: italic;
}

.t--medium {
  font-weight: 500;
}

.t--ttu {
  text-transform: uppercase;
}

.t--ttl {
  text-transform: lowercase;
}

.t--imp {
  color: #dd9ca5;
}

.t--ex {
  color: #e0a8ce;
}

.t--block {
  display: block;
}

.ttu,
.ttu-M {
  text-transform: uppercase;
}

.regular,
.regular-M {
  font-weight: 400;
}

.medium,
.medium-M {
  font-weight: 500;
}

.bold,
.bold-M {
  font-weight: 700;
}

.italic,
.italic-M {
  font-style: italic;
}

.color-base,
.color-base-M {
  color: #dd9ca5;
}

.color-ex,
.color-ex-M {
  color: #e0a8ce;
}

.font-base,
.font-base-M {
  font-family: "Roboto", sans-serif;
}

.font-extra, .font-extra-M {
  font-family: "Dancing Script", cursive;
}

.only-desktop {
  display: none;
}

.only-mobile {
  display: block;
}

.dis-i,
.dis-i-M {
  display: inline;
}

.dis-i-block,
.dis-i-block-M {
  display: inline-block;
}

.dis-block,
.dis-block-M {
  display: block;
}

.dis-table,
.dis-table-M {
  display: table;
}

.dis-table-cell,
.dis-table-cell-M {
  display: table-cell;
}

.dis-table-caption,
.dis-table-caption-M {
  display: table-caption;
}

.gutter,
.gutter-M {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gutter-top,
.gutter-top-M {
  margin-top: 20px;
}

.gutter-bottom,
.gutter-bottom-M {
  margin-bottom: 20px;
}

.gutter-right,
.gutter-right-M {
  margin-right: 20px;
}

.gutter-left,
.gutter-left-M {
  margin-left: 20px;
}

.reset,
.reset-M {
  margin: 0;
  padding: 0;
}

.reset-margin,
.reset-margin-M {
  margin: 0;
}

.reset-padding,
.reset-padding-M {
  padding: 0;
}

.center,
.center-M {
  margin: 0 auto;
}

.center-t,
.center-t-M {
  text-align: center;
}

.float-left,
.float-left-M {
  float: left;
  margin: 6px 10px 10px 0;
}

.float-right,
.float-right-M {
  float: right;
  margin: 6px 0 10px 10px;
}

.grid,
.grid-M {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.part,
.part-M {
  display: table-cell;
  vertical-align: top;
}

.float-left-D {
  display: block;
  margin: 0 auto 20px;
  text-align: center;
}

.float-left-D img {
  display: inline-block;
}

@media only screen and (min-width: 992px) {
  .ttu-D {
    text-transform: uppercase;
  }
  .ttu-M {
    text-transform: none;
  }
  .regular-D {
    font-weight: 400;
  }
  .regular-M {
    font-weight: inherit;
  }
  .medium-D {
    font-weight: 500;
  }
  .medium-M {
    font-weight: inherit;
  }
  .bold-D {
    font-weight: 700;
  }
  .bold-M {
    font-weight: inherit;
  }
  .italic-D {
    font-style: italic;
  }
  .italic-M {
    font-style: normal;
  }
  .color-base-D {
    color: #dd9ca5;
  }
  .color-base-M {
    color: inherit;
  }
  .color-ex-D {
    color: #e0a8ce;
  }
  .color-ex-M {
    color: inherit;
  }
  .font-base-D {
    font-family: "Roboto", sans-serif;
  }
  .font-base-M {
    font-family: inherit;
  }
  .font-ex-D {
    font-family: "Dancing Script", cursive;
  }
  .font-ex-M {
    font-family: inherit;
  }
  .only-desktop {
    display: block;
  }
  .only-mobile {
    display: none;
  }
  .dis-i-D {
    display: inline;
  }
  .dis-i-M {
    display: inherit;
  }
  .dis-i-block-D {
    display: inline-block;
  }
  .dis-i-block-M {
    display: inherit;
  }
  .dis-block-D {
    display: block;
  }
  .dis-block-M {
    display: inherit;
  }
  .dis-table-D {
    display: table;
  }
  .dis-table-M {
    display: inherit;
  }
  .dis-table-cell-D {
    display: table-cell;
  }
  .dis-table-cell-M {
    display: inherit;
  }
  .dis-table-caption-D {
    display: table-caption;
  }
  .dis-table-caption-M {
    display: inherit;
  }
  .gutter-D {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .gutter-M {
    margin-top: 0;
    margin-bottom: 0;
  }
  .gutter-top-D {
    margin-top: 20px;
  }
  .gutter-top-M {
    margin-top: 0;
  }
  .gutter-bottom-D {
    margin-bottom: 20px;
  }
  .gutter-bottom-M {
    margin-bottom: 0;
  }
  .gutter-right-D {
    margin-right: 20px;
  }
  .gutter-right-M {
    margin-right: 0;
  }
  .gutter-left-D {
    margin-left: 20px;
  }
  .gutter-left-M {
    margin-left: 0;
  }
  .center-D {
    margin: 0 auto;
  }
  .center-M {
    margin: 0;
  }
  .center-t-D {
    text-align: center;
  }
  .center-t-M {
    text-align: left;
  }
  .float-left-D {
    float: left;
    text-align: left;
    margin: 6px 10px 20px 0;
  }
  .float-left-M {
    float: none;
    margin-bottom: 0;
    margin-right: 0;
  }
  .float-right-D {
    float: right;
    margin: 6px 0 10px 10px;
  }
  .float-right-M {
    float: none;
    margin: 0;
  }
  .grid-D {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .grid-M {
    display: inherit;
    table-layout: auto;
    width: auto;
  }
  .part-D {
    display: table-cell;
    vertical-align: top;
  }
  .part-M {
    display: inherit;
    vertical-align: baseline;
  }
}

.comment .grid-M {
  margin-bottom: 10px;
}

.comment .part-M:first-of-type {
  width: 64px;
}

.comment .part-M:last-of-type {
  padding-left: 20px;
  vertical-align: middle;
}

.comment .name {
  margin-right: 10px;
}

.comment__tale {
  margin-bottom: 10px;
}

.comment__tale-imgs {
  display: inline-block;
  max-width: 245px;
  white-space: no-wrap;
  font-size: 0;
}

.comment__tale img {
  display: inline-block;
  margin-right: 5px;
}

.comment__tale img:last-of-type {
  margin-right: 0;
}

@media only screen and (min-width: 992px) {
  .comment {
    position: relative;
    padding-left: 90px;
  }
  .comment .part-M:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
  }
  .comment .part-M:last-of-type {
    padding-left: 0;
  }
}

.button {
  max-width: 100%;
  display: inline-block;
  font-size: 26px;
  min-width: 280px;
  color: #fff;
  background: #aebc41;
  overflow: hidden;
  background: -webkit-radial-gradient(200% 70px at center 10px, #bcc74d 28%, #acbb40 32%);
  background: radial-gradient(200% 70px at center 10px, #bcc74d 28%, #acbb40 32%);
  -webkit-border-radius: 130px;
          border-radius: 130px;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: inset 0 -2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -2px 2px 0 rgba(0, 0, 0, 0.2);
  clear: both;
  position: relative;
  text-transform: none;
}

.button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.button__text {
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 8px 35px;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  -webkit-border-radius: inherit;
          border-radius: inherit;
  font-weight: inherit;
  text-shadow: inherit;
  font-family: inherit;
  outline: none;
  position: relative;
  cursor: pointer;
  text-transform: inherit;
}

@media only screen and (min-width: 992px) {
  .button {
    font-size: 30px;
  }
  .button__text {
    padding: 8px 65px;
  }
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

a {
  color: #dd9ca5;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
}

.title {
  font-weight: 700;
  line-height: 1.1;
  font-size: 24px;
  margin-bottom: 10px;
}

.title--top {
  font-size: 30px;
}

.comments {
  text-align: left;
}

.comments .comment {
  margin-bottom: 20px;
}

.comments .comment:last-of-type {
  margin-bottom: 0;
}

.comments .comment {
  display: none;
}

.comments .comment:nth-last-of-type(-n + 5) {
  display: block;
}

.date {
  opacity: .4;
}

.main__part--last {
  display: none;
}

.s-content .date {
  margin-bottom: 10px;
}

img {
  display: block;
  margin: 0 auto;
}

.photo img {
  margin-bottom: 20px;
}

.logo {
  display: inline-block;
  width: 199px;
  height: 65px;
  background: no-repeat center / contain;
  background-image: url(../img/logo.png);
}

.header {
  min-height: 100px;
  background: no-repeat center / cover;
  background-image: url(../img/bg-mobile.jpg);
  text-align: center;
}

.header .container {
  padding-top: 12px;
  padding-bottom: 28px;
}

.menu {
  display: inline-block;
  color: #fff;
}

.menu__item {
  display: inline-block;
  margin-right: 20px;
}

.menu__item:last-of-type {
  margin-right: 0;
}

.menu__item.active {
  text-decoration: underline;
}

.menu a.menu__text:hover {
  color: #dd9ca5;
}

.autor {
  display: inline-block;
}

.autor__img {
  display: inline-block;
  width: 124px;
  height: 73px;
  background: no-repeat center / contain;
  background-image: url(../img/pat.png);
}

.s-content .autor {
  margin-top: -25px;
  margin-bottom: 20px;
}

.tale {
  max-width: 660px;
  margin: 0 auto 10px;
  color: #fff;
  font-size: 18px;
}

.tale__part {
  padding: 0 2px;
  position: relative;
}

.tale__part:first-of-type {
  padding-left: 0;
}

.tale__part:last-of-type {
  padding-right: 0;
}

.tale__text {
  position: absolute;
  margin-bottom: 0;
  bottom: 4%;
  left: 20px;
  max-width: 90%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.tale--blur-prod {
  max-width: 570px;
  font-size: 0;
  text-align: center;
}

.tale--blur-prod .tale__part {
  vertical-align: middle;
}

.tale--blur-prod .tale__part:nth-of-type(2) {
  position: relative;
  z-index: 2;
  width: 40%;
}

.tale--blur-prod img {
  display: inline-block;
}

.divide {
  font-size: 24px;
  margin-bottom: 20px;
}

.divide__top, .divide__bottom {
  height: 39px;
  width: 100%;
  background: no-repeat center / contain;
  background-image: url(../img/pat-2.png);
  position: relative;
}

.divide__top:before, .divide__bottom:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), color-stop(10%, #dd9ca5), color-stop(90%, transparent));
  background: -webkit-linear-gradient(left, transparent 10%, #dd9ca5, transparent 90%);
  background: linear-gradient(to right, transparent 10%, #dd9ca5, transparent 90%);
  position: absolute;
  bottom: 0;
  left: 0;
}

.divide__top {
  margin-bottom: 15px;
}

.divide__bottom {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.color-dark {
  color: #fff;
}

.prod {
  position: relative;
}

.prod__img {
  position: relative;
  z-index: 3;
  display: inline-block;
  max-width: 50%;
}

.prod__img:before, .prod__img:after {
  content: '';
  display: block;
  position: absolute;
  background: no-repeat center / contain;
}

.prod__img:before {
  background-image: url(../img/bean-1.png);
  width: 77px;
  height: 69px;
  bottom: 0;
  z-index: 4;
  left: -40px;
}

.prod__img:after {
  background-image: url(../img/bean-2.png);
  width: 96px;
  height: 91px;
  bottom: 0;
  right: -85px;
}

.prod--bg:before, .prod--bg:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: no-repeat center / contain;
}

.prod--bg:before {
  margin-left: -15px;
  margin-top: 20px;
  width: 300%;
  height: 125%;
  background-image: url(../img/patterns.png);
}

.prod--bg:after {
  width: 488px;
  padding-top: 62%;
  margin-left: 10px;
  margin-top: 10px;
  background-image: url(../img/leafs.png);
}

.prod--bg img {
  position: relative;
  z-index: 2;
}

.avatar {
  overflow: hidden;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  position: relative;
}

.avatar__wrap {
  display: inline-block;
  position: relative;
}

.avatar__wrap:before {
  content: '';
  display: block;
  position: absolute;
  width: 85px;
  height: 90px;
  background: no-repeat center / contain;
  background-image: url(../img/avatar-patt.png);
  top: -9px;
  left: -11px;
}

.avatar__inner {
  width: 71px;
  height: 71px;
}

.color-light {
  opacity: .2;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  body, html {
    font-family: "Lora", sans-serif;
  }
  .container {
    max-width: 980px;
  }
  .main__grid {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .main__part {
    display: table-cell;
    vertical-align: top;
  }
  .comments .comment {
    display: block;
  }
  .title {
    font-size: 24px;
  }
  .title--top {
    font-size: 42px;
  }
  .main__part--first {
    padding-right: 30px;
  }
  .main__part--last {
    padding-top: 37px;
    width: 300px;
  }
  .header {
    min-height: 285px;
    background-image: url(../img/bg.jpg);
  }
  .header .container {
    padding-top: 5px;
  }
  .header__part {
    vertical-align: middle;
  }
  .header__part:first-of-type {
    text-align: left;
    width: 220px;
  }
  .header__part:last-of-type {
    text-align: right;
  }
  .feed {
    background-color: #fff;
    padding: 14px 18px;
    font-size: 14px;
  }
  .feed__part:first-of-type {
    padding-right: 20px;
  }
  .feed__part:last-of-type {
    width: 50px;
  }
  .feed__content {
    padding-bottom: 4px;
  }
  .feed__content .text:last-of-type {
    margin-bottom: 0;
  }
  a.feed:hover .text {
    text-decoration: underline;
  }
  .sidebar {
    margin-bottom: 30px;
  }
  .sidebar:last-of-type {
    margin-bottom: 0;
  }
  .sidebar__inner {
    -webkit-box-shadow: 0 0 20px 10px #f3f3f3;
            box-shadow: 0 0 20px 10px #f3f3f3;
  }
  .sidebar .title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .sidebar .feed {
    border-bottom: 3px solid #f3f3f3;
  }
  .sidebar .feed:last-of-type {
    border-bottom: 0;
  }
  .autor__part:first-of-type {
    width: 124px;
  }
  .autor__part:last-of-type {
    padding-left: 10px;
    padding-top: 19px;
  }
  .s-content .autor {
    margin-top: -15px;
  }
  .tale {
    font-family: "Dancing Script", cursive;
    font-size: 23px;
  }
  .tale__text {
    text-shadow: none;
  }
  .color-dark {
    color: #333333;
  }
}


