.pluso {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    background: transparent;
    text-align: left;
    font-size: 0;
    line-height: 0;
    *display: inline;
    *zoom: 1;
}

.pluso-010010101001-01 .pluso-wrap a.pluso-google {
    background-position: -252px 0;
}
.pluso-010010101001-01 .pluso-wrap a.pluso-facebook {
    background-position: -0px 0;
}
.pluso-010010101001-01 .pluso-wrap a.pluso-twitter {
    background-position: -42px 0;
}
.pluso-010010101001-01 .pluso-wrap a.pluso-email {
    background-position: -924px 0;
}
.pluso-010010101001-01 .pluso-wrap a.pluso-pinterest {
    background-position: -210px 0;
}
.pluso-010010101001-01 .pluso-wrap a.pluso-linkedin {
    background-position: -1512px 0;
}
.pluso-010010101001-01 .pluso-wrap a.pluso-googlebookmark {
    background-position: -1260px 0;
}
.pluso-010010101001-01 .pluso-wrap a.pluso-print {
    background-position: -966px 0;
}
.pluso-010010101001-01 .pluso-wrap a.pluso-digg {
    background-position: -630px 0;
}
.pluso-010010101001-01 .pluso-wrap a.pluso-vkontakte {
    background-position: -168px 0;
}
.pluso-010010101001-01 .pluso-wrap a.pluso-odnoklassniki {
    background-position: -126px 0;
}

.pluso-010010101001-01 .pluso-wrap a {
    display: inline-block;
    vertical-align: inherit;
    margin: 5px 0 0 5px;
    padding: 0;
    width: 40px;
    height: 40px;
    background: url(../img/04.png) 0 0 transparent no-repeat;
}
.pluso-010010101001-01 .pluso-wrap a {
    background-image: url(../img/01.png);
}

.pluso-010010101001-01 .pluso-counter b {
    position: relative;
    padding: 8px 12px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 122px;
    background: #eaeaeb;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: #707070;
    white-space: nowrap;
    font: 16px/40px Tahoma, Geneva, sans-serif !important;
}

.pluso-010010101001-01 .pluso-counter b:after {
    position: absolute;
    top: 13px;
    left: -8px;
    z-index: 0;
    display: block;
    width: 0;
    border-width: 5px 9px 5px 0;
    border-style: solid;
    border-color: transparent #eaeaeb;
    content: "";
}

.pluso-010010101001-01 .pluso-wrap {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 5px 5px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: transparent;
    text-align: left;
    font-size: 0;
    line-height: 0;
    *display: inline;
    *zoom: 1;
}

.pluso-010010101001-01 .pluso-counter b {
    top: -14px;
    left: 28px;
}

.pluso-010010101001-01 a:active {
    opacity: .6;
}

.pluso-010010101001-01 a.pluso-more {
    width: 40px;
    height: 40px;
    background: url(http://share.pluso.ru/img/plus.png) 0 -60px no-repeat!important;
    position: relative;
}

@media(max-width: 675px){
    .pluso-010010101001-01 .pluso-counter b {
        display: none;
    }
}
