a,
b,
body,
center,
del,
div,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
li,
p,
s,
span {
    margin: 0;
    padding: 0;
    border: 0 none;
    font: inherit;
    vertical-align: baseline
}

footer,
header {
    display: block
}

body {
    line-height: 1
}

html {
    min-height: 110%
}

body {
    font-family: "PT Sans", arial, sans-serif;
    background: none repeat scroll center center #f1f2f2;
    color: #000;
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1em 0 .5em;
    line-height: 1.2em;
    font-weight: 300;
    font-family: Roboto, Verdana, arial, sans-serif
}

h1 {
    font-size: 1.8em
}

h2 {
    font-size: 1.3em
}

h4 {
    font-size: 1.2em
}

b {
    font-weight: 700
}

p {
    line-height: 1.4em;
    margin-bottom: 1.6em
}

p {
    font-size: 1em
}

h2 {
    font-weight: 700
}

.wrap {
    min-width: 1200px;
    max-width: 1200px;
    display: block;
    margin: -107px auto 0 auto
}

header {
    width: 100%;
    margin-bottom: 4px;
    margin-top: -16px
}

header .panel {
    width: 1200px;
    margin: 0 auto 0
}

header .logo {
    background: #ddd url(../img/iam.png) repeat scroll 81px center;
    border: 6px solid #fff;
    border-radius: 50px;
    float: left;
    height: 65px;
    left: 31px;
    margin-bottom: -77px;
    position: relative;
    top: 34px;
    width: 65px
}

header .name {
    color: #fff;
    font-size: 140%;
    font-weight: 700;
    left: 150px;
    position: relative;
    text-transform: uppercase;
    top: 40px;
    width: 249px
}

.sec_main {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
    display: inline-block;
    vertical-align: top;
    width: 730px;
    margin-right: 23px;
    padding: 90px 30px 30px;
    background: url(../img/title.png) no-repeat scroll 30px 30px #fff;
    border: 1px solid #dedfdf;
    border-radius: 2px
}

.sec_main h1 {
    margin: 0 0 .5em;
    text-transform: uppercase;
    font-weight: 700
}

.postmemo {
    padding: 10px 0;
    float: left;
    position: relative;
    top: -68px;
    left: 30px;
    margin-bottom: -70px
}

.postmemo .author {
    left: 185px;
    position: absolute;
    top: 11px;
    width: 130px
}

.sec_sidebar {
    display: inline-block;
    width: 380px;
    vertical-align: top
}

.sidebar_block {
    width: 320px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    padding: 30px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dedfdf;
    border-radius: 2px
}

.sec_sidebar .lastpost {
    margin-bottom: 2em;
    font-size: .8em
}

.lastpost p {
    margin: 0;
    line-height: 1.2em
}

.lastpost p.title {
    font-size: 1em;
    margin-bottom: .5em;
    font-weight: 700
}

.lastpost .title a {
    text-decoration: underline
}

.lastpost .title a:hover {
    text-decoration: none
}

.lastpost .data {
    color: #666;
    font-size: 80%
}

.lastpost .comment {
    margin-left: 1em
}

.friendsonline img {
    margin: 0 15px 15px 0;
    border: 6px solid #e6e7e8;
    border-radius: 50px
}

 

.friendsonline span {
    text-decoration: underline;
    color: #39b54a
}

.vk-container {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    line-height: 17px;
    color: #000;
    text-decoration: none
}

.vk-header {
    background: none repeat scroll 0 0 #dae2e8;
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px
}

.vk-header-text {
    padding: 2px 3px 1px;
    line-height: 100%;
    color: #45688e;
    font-weight: 700
}

.vk-avatar img {
    float: left;
    margin-right: 10px;
    max-height: 50px;
    max-width: 50px
}

.vk-comment,
.vk-comment-load {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid #dae1e8;
    padding-bottom: 15px
}

.vk-comment-name {
    color: #2b587a;
    font-weight: 700;
    font-size: 12px;
    margin-left: 60px
}

.vk-comment-text {
    margin-left: 60px
}

.vk-comment-date {
    margin-left: 60px;
    color: #999
}

.vk-comment-date1 {
    color: #2b587a
}

.vk-comment-date1:hover {
    color: #a5c0d5;
    cursor: pointer
}

.vk-comment-like {
    position: absolute;
    right: -5px;
    bottom: 10px;
    background: url(../img/like.png) no-repeat scroll left center transparent;
    width: 30px;
    height: 16px;
    display: inline-block
}

.vk-comment-like:hover {
    opacity: .5;
    cursor: pointer
}

.vk-comment-like-count {
    padding-left: 14px;
    font-weight: 700;
    color: #7295b2;
    font-size: 10px
}

footer {
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-size: .9em
}

footer p {
    margin: 0;
    color: #000
}

#social {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%
}

.sec_main p {
    text-align: left
}

a {
    text-decoration: underline
}

a:hover {
    text-decoration: none
}

.sec_main p a {
    font-weight: 700
}

#img-1 {
    width: 100%;
    float: left;
    margin-right: 26px;
    margin-bottom: 1px;
    margin-top: 4px
}

#img-2 {
    width: 80%;
    display: block;
    margin: 20px auto;
}

.center {
    text-align: center;
    margin: 0 auto
}

#img-3 {
    margin: -21px auto 8px auto;
    text-align: center;
    width: 40%
}

#img-4 {
    margin-bottom: 20px
}

#text-under-img {
    margin-top: 20px
}

#first_p {
    margin-top: 10px
}

.comment,
.title {
    color: gray
}

#number {
    display: block;
    position: relative;
    left: 661px;
    top: -87px;
    font-size: 34px;
    font-weight: 700;
    color: #fff
}

#readers {
    display: block;
    position: relative;
    top: -83px;
    left: 676px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff
}

#popular {
    display: block;
    position: relative;
    top: -76px;
    left: 890px;
    font-size: 14px;
    color: #fff;
    width: 100px
}

#rating {
    display: block;
    position: relative;
    top: -90px;
    left: 975px;
    font-size: 14px;
    color: #fff;
    width: 100px
}

#useful {
    display: block;
    position: relative;
    top: -104px;
    left: 1089px;
    font-size: 14px;
    color: #fff;
    width: 100px
}

#blog {
    display: block;
    position: relative;
    top: -122px;
    font-size: 19px;
    color: #fff;
    left: 149px
}

form {
    background-color: #e9e9e9;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 25px;
}

form p {
    margin-bottom: 10px
}

form #author {
    margin-top: 20px
}

form .btn {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    color: #fff;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
    background-color: #799989;
    height: 40px;
    width: 200px;
    border: none;
    box-shadow: 3px 4px #888;
    font-size: 18px
}

form .btn:hover {
    cursor: pointer
}

form .btn:active {
    box-shadow: none;
    margin-left: 10px;
    margin-top: 11px
}

body,
html {
    overflow-x: hidden;
    width: 100%
}

@media screen and (max-width:1201px) {

    body,
    html {
        overflow-x: hidden;
        width: 100%
    }

    header {
        width: 100%;
        margin: -15px auto 4px auto
    }

    header .panel {
        width: 790px
    }

    header .header {
        height: 96px;
        background: rgba(241, 242, 242, 1) url(../img/header-resp-1.jpg) no-repeat scroll center center
    }

    .wrap {
        margin-top: -62px;
        min-width: 0;
        max-width: 100%
    }

    #popular,
    #rating,
    #useful {
        display: none
    }

    #blog {
        display: block;
        position: relative;
        top: -78px;
        font-size: 19px;
        color: #fff;
        left: 149px
    }

    header .name {
        color: #fff;
        font-size: 148%;
        font-weight: 700;
        left: 150px;
        position: relative;
        text-transform: uppercase;
        top: 42px;
        width: 259px
    }

    #header-img {
        display: none
    }

    .sec_sidebar {
        display: none
    }

    .sec_main {
        display: block;
        margin: 0 auto
    }

    #img-4 {
        width: 100%
    }

    footer {
        width: 790px
    }
}

@media screen and (max-width:792px) {
    header {
        width: 100%;
        margin: -19px auto 4px auto
    }

    header .panel {
        width: 92%
    }

    header .header {
        height: 96px;
        background: rgba(241, 242, 242, 1) url(../img/header-resp-2.jpg) no-repeat scroll center center;
        background-size: 100% 100%
    }

    header .name {
        left: 25%
    }

    #blog {
        top: -29px;
        left: 25%
    }

    #number,
    #readers {
        display: none
    }

    .wrap {
        margin-top: -16px
    }

    .sec_main {
        width: 84%
    }

    footer {
        width: 80%
    }
}

@media screen and (max-width:665px) {
    header .panel {
        width: 93%
    }

    header .name {
        left: 40%
    }

    #blog {
        left: 48%
    }

    #social {
        display: none
    }
}

@media screen and (max-width:600px) {
    header {
        width: 100%;
        margin: -20px auto 4px auto
    }

    header .header {
        height: 50px;
        background: rgba(241, 242, 242, 1) url(../img/header-resp-2.jpg) no-repeat scroll center center;
        background-size: 100% 100%
    }

    header .logo {
        background: #ddd url(../img/iam.png) repeat scroll 91px center/116% auto;
        border: 3px solid #fff;
        height: 40px;
        top: 22px;
        width: 40px
    }

    header .name {
        top: 26px;
        left: 37%;
        font-size: 20px
    }

    #blog {
        top: -20px;
        font-size: 17px;
        left: 44%
    }

    header .panel {
        width: 100%
    }

    #img-1,
    #img-2 {
        width: 100%;
        margin: 0 auto;
        float: none
    }

    #text-under-img-mob {
        margin-top: 20px
    }

    #img-3 {
        width: 64%
    }

    footer {
        padding: 10px
    }
}

@media screen and (max-width:450px) {
    #blog {
        top: -19px;
        font-size: 17px;
        left: 45%
    }

    .sec_main {
        width: 100%;
        padding: 0 10px;
        background: #fff;
        box-sizing: border-box;
    }

    .postmemo {
        display: none
    }

    .sec_main h1 {
        margin: .5em 0 .5em;
        text-transform: uppercase;
        font-weight: 700;
        text-align: left
    }

    .sec_main h2,
    .sec_main h3,
    .sec_main h4 {
        text-align: left
    }

    .sec_main p {
        text-align: left;
        width: 97%;
        padding-left: 5px
    }

    .vk-comment-like {
        right: 8px
    }

    form {
        width: 100%
    }
}

@media screen and (max-width:385px) {
    header .name {
        left: 34%
    }

    #blog {
        left: 43%
    }

    #text-left {
        text-align: left
    }
}

@media screen and (max-width:363px) {
    #blog {
        left: 44%
    }
}

@media screen and (max-width:350px) {
    header .name {
        font-size: 17px
    }
}

@media screen and (max-width:320px) {
    #blog {
        left: 45%
    }
}

@media screen and (max-width:310px) {
    header .name {
        font-size: 19px;
        left: 30%
    }
}

.title-form {
    width: 100%;
    text-align: center;
    padding: 0 0 20px;
    font-weight: 900 !important;
    font-size: 27px !important;
    line-height: 1.3;
    color: #322a89 !important;
    text-transform: uppercase !important
}

.title-form .pink {
    color: #ff3395 !important
}

.price_main_currency,
.price_main_value {
    color: #000;
    text-decoration: line-through
}

.main-btn {
    background: #1266d5;
    color: #fff !important;
    display: block;
    text-decoration: none !important;
    font-size: 20px;
    padding: 10px;
    max-width: 270px;
    margin: 15px auto;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    transition: all .5s;
    cursor:pointer;

    border:0;
}

.main-btn:hover {
    background-color: #5d9d52;
    box-shadow: 2px 3px 3px #999
}

.product-image {
    width: 100% !important;
    display: block !important;
    margin: 0 auto !important;
    max-width: 136px !important
}

#report_post {
    cursor: pointer
}

#report_post:hover {
    box-shadow: 0 0 6px #687379
}

#report_post {
    display: inline-block;
    background: #3a5797;
    border-radius: 4px;
    padding: 6px 9px 6px 10px;
    cursor: pointer;
    color: #fff;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px
}

#report_post img {
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -3px
}
.form-block{
    display: flex;
    align-items: center;
    justify-content: space-around;text-align: center;margin-bottom: 30px;
}
 .form-block__left{
    padding: 0 50px;
 }
input, select{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 45px;
    padding: 0 10px;
    font-family: inherit;
    box-sizing: border-box;
}input::-ms-clear {
   display: none;
}
select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none!important;
background-image: url(../img/sel.png);
  background-repeat:no-repeat;
  background-position: 96% 50%;
}
 @media(max-width:600px){
.form-block{
    display: block;
}
form{
    max-width: 300px;
    box-sizing: border-box;
}
}
@media(max-width:991px){
    .vk-comment-load:nth-child(-n+10){
        display: none;
    }
}