



.wrapper_2 {
    display: none;
    background: #f2f2f2
}

.wrapper_2 * {
    box-sizing: border-box
}

.w2_content {
    padding: 45px 60px 15px;
    max-width: 960px;
    background: #373737;
    border-radius: 15px
}

.slider {
    max-width: 450px;
    width: 100%;
    margin: 0 auto 60px
}

.slider img,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

.s_delivery {
    width: 160px;
    background: #000;
    position: absolute;
    bottom: 15px;
    left: 50px;
    border-radius: 5px;
    padding: 5px 10px 5px 60px
}

.s_delivery>span {
    display: block;
    max-width: 90px;
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.s_delivery>img {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px
}

.owl-next,
.owl-prev {
    display: block;
    width: 35px;
    height: 100%;
    background: #565656 url(../img/dir.png) center no-repeat!important;
    border: 0;
    position: absolute;
    top: 0;
    transition: .3s
}

.owl-next>span,
.owl-prev>span {
    display: none!important
}

.owl-prev {
    left: 0
}

.owl-next {
    transform: rotate(180deg);
    right: 0
}

.owl-dots,
.w2_head:before {
    display: block;
    position: absolute
}

.owl-dots {
    text-align: center;
    margin-top: 15px;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%)
}

.owl-dot {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    background: #c4c4c4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    margin: 0 4px;
    border: 0
}

.owl-dot.active {
    background: #389ed6
}

.w2_right {
    max-width: 325px;
    width: 100%;
    margin: 0 auto
}

.w2_head {
    padding-left: 105px;
    position: relative;
    min-height: 90px;
    font-size: 27px;
    line-height: 41px;
    font-family: Heading-Pro-Regular;
    color: #fff;
    text-transform: uppercase
}

.w2_head>span {
    display: block;
    margin-top: 6px;
    text-transform: none;
    font-size: 16px;
    line-height: 20px;
    color: #818181;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.w2_head:before {
    content: "";
    width: 95px;
    height: 84px;
    background: url(../img/wheel-container/emblem.png) 0 0 no-repeat;
    top: 0;
    left: 0
}

.w2r_text {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    margin: 30px 0 15px
}

.selectbox {
    box-sizing: border-box;
    width: 100%;
    vertical-align: middle;
    cursor: pointer
}

.selectbox .select,
.selectbox ul.dropdown {
    width: 100%;
    background: #fff;
    border: 1px solid #767676;
    border-radius: 10px
}

.selectbox .select {
    box-sizing: border-box;
    height: 50px;
    padding: 0 0 0 20px;
    position: relative
}

.selectbox .select:after {
    width: 8px;
    height: 8px;
    background: url(../img/select_arrow.png) 0 0 no-repeat;
    right: 20px;
    top: 50%;
    transform: translateY(-50%)
}

.selectbox .select .text {
    display: block;
    font-size: 15px;
    line-height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.selectbox ul.dropdown {
    top: 49px;
    margin: 0;
    padding-left: 0
}

.selectbox li {
    font-size: 14px;
    padding: 5px 10px 6px
}

.selectbox li.selected,
.selectbox li:hover {
    background: #e6e6e6;
    color: #000
}

.selectbox li.disabled {
    color: #aaa
}

.w2f_input,
.w2f_submit {
    border-radius: 10px;
    margin-top: 20px
}

.w2f_input {
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    background: #fff;
    border: 1px solid #767676
}

.w2f_submit {
    background: linear-gradient(88.53deg, #1cd27b 0, #1c91d2 100%);
    position: relative
}

.selectbox .select:after,
.w2_kasper:before,
.w2f_submit:before {
    display: block;
    content: "";
    position: absolute
}

.w2f_submit:before {
    width: 12px;
    height: 15px;
    background: url(../img/wheel-container/lock.png) 0 0 no-repeat;
    top: 50%;
    left: 50%;
    transform: translate3d(-107px, -62%, 0);
}

.w2f_submit:hover {
    background: linear-gradient(240deg, #1cd27b 0, #1c91d2 100%)
}

.w2f_submit>input {
    outline: 0;
    border: 0;
    display: block;
    height: 50px;
    font-size: 20px;
    background: 0 0;
    cursor: pointer
}

.w2_kasper {
    max-width: 230px;
    width: 100%;
    padding-left: 45px;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    margin: 20px auto;
    position: relative
}

.w2_kasper:before {
    width: 29px;
    height: 28px;
    background: url(../img/kasper.png) 0 0 no-repeat;
    top: 2px;
    left: 0
}

.w2_address,
.w2f_submit>input {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color: #fff
}

.w2_address {
    background: #494949;
    border-radius: 10px;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 15px;
    margin-top: 40px
}

img {
    height: auto
}

.commtent__block {
    text-align: left
}
@media only screen and (max-width:1100px) {
    .left_block{
        display: block
    }
    .spin-wrapper{
        display: block
    }
}
@media only screen and (max-width:1000px) {
    .left_block {
        padding: 30px 10px;
        max-width: 435px
    }
}

@media only screen and (max-width:920px) {
    .w2_content {
        padding: 25px 0 15px;
        border-radius: 15px
    }
    .slider,
    .w2_right {
        float: none
    }
    .w2_right {
        max-width: 355px;
        margin: 30px auto 0;
        padding: 15px
    }
}

@media only screen and (max-width:880px) {
    .left_block,
    .spin-wrapper {
        max-width: 100%;
        float: none
    }
    .spin-wrapper {
        width: 100%
    }
    .lb_text {
        text-align: center
    }
}

@media only screen and (max-width:500px) {
    .lb_top {
        padding: 10px 10px 10px 30px
    }
    .lb_top:before {
        top: 5px;
        left: 5px;
        width: 20px;
        height: 25px;
        background-size: 100%
    }
    .lbt_text_1 {
        font-size: 18px;
        line-height: 20px
    }
    .lbt_text_2 {
        margin-top: 5px
    }
    .lb_text {
        font-size: 26px;
        line-height: 27px;
        margin-top: 20px
    }
    .lb_text>span {
        font-size: 40px;
        line-height: 41px
    }
    .w2_head {
        font-size: 34px;
        line-height: 36px;
        padding-left: 0;
        padding-top: 100px
    }
    .w2_head>span {
        margin-top: 3px
    }
    .w2_content,
    .wrapper {
        padding: 0
    }
    .w2_head:before {
        left: 50%;
        transform: translate(-50%)
    }
}

@media only screen and (max-width:450px) {
    .win_line {
        height: 34px
    }
    .win_line>div {
        padding: 0 5px 0 10px;
        font-size: 15px;
        line-height: 19px
    }
    .cursor-text {
        font-size: 3vw;
        line-height: 14vw
    }
    .w2_head {
        font-size: 20px;
        line-height: 29px
    }
}

@media only screen and (max-width:375px) {
    .wheel {
        max-width: 230px!important
    }
}

.dekstop-img {
    display: block
}

.mobile-img {
    display: none
}

@media(max-width:540px) {
    .dekstop-img {
        display: none
    }
    .mobile-img {
        display: block
    }
}

figcaption {
    text-align: center
}
.order_block {
    text-align: center !important;
    margin-bottom: 15px;
}
/*.spin-result-wrapper {*/
/*    display: none;*/
/*    padding: 0 10px;*/
/*    -webkit-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*    width: 100%;*/
/*    top: 0;*/
/*    z-index: 999;*/
/*    left: 0;*/
/*    height: 100%;*/
/*    position: fixed;*/
/*    background-color: rgba(0, 0, 0, .6);*/
/*    text-align: center;*/
/*}*/