.containerTop .banner-premium {
    width: 305px;
}

.more-news {
    display:inline;
}


.form-row input[type=password] {
    width: 100%;
    display: block;
    height: 42px;
    border: 1px solid #2a53c1;
    padding: 0 15px;
}

.comment-header {
    display: inline;
    float: right;
    margin-bottom: 15px;
}
.comment-header a {
    margin: 0 10px;
}

.lost-password {
    margin: 15px 0px 0px;
}
#fbNav {
    margin: 0 6px 10px 0;
}

.main-layout .stick-wrapper {
    float: none;
}

