@charset "UTF-8";
@import url("../../../../https@fonts.googleapis.com/css@family=Roboto_3A400,400i,500,700&subset=latin-ext");
@import url("../../../../https@fonts.googleapis.com/css@family=Roboto+Condensed_3A700&subset=latin-ext");
input {
  outline: none; }
  input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    -webkit-text-fill-color: #999 !important;
    color: #999 !important; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline;
  zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
  font-family: sans-serif; }

button, input, select, textarea {
  font-family: sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
  margin: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

blockquote {
  margin: 0; }

dfn {
  font-style: italic; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  _font-family: 'courier new', monospace;
  font-family: monospace, serif;
  font-size: 14px; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }
  q:before, q:after {
    content: none; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0; }

legend {
  border: 0;
  margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: middle; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible; }

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 13px;
  padding: 0;
  width: 13px; }

input[type=search] {
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear {
  zoom: 1; }
  .clear:before {
    content: " ";
    display: table; }
  .clear:after {
    content: " ";
    display: table;
    clear: both; }

*, :before, :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

body, figure, form {
  margin: 0; }

a:focus, a:active, a:hover {
  outline: 0; }

p, pre, dl, menu, ol {
  margin: 0; }

ul {
  margin: 0;
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

.disable-hover {
  pointer-events: none !important; }
  .disable-hover * {
    pointer-events: none !important; }

@-ms-viewport {
  width: device-width; }

.responsive {
  width: 100%;
  height: auto; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-width: 320px; }

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%; } }

.wrapper {
  max-width: 962px;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .wrapper {
      max-width: 768px; } }
  @media (max-width: 767px) {
    .wrapper {
      max-width: 540px;
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      min-width: 320px; } }

body {
  min-width: 320px;
  background-color: #efefef;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px; }

.colors {
  color: #ee1111; }

img {
  display: block;
  max-width: 100%; }

.social {
  background-image: url(../img/sprite.png);
  background-position: -352px -29px;
  width: 145px;
  height: 25px;
  margin-bottom: 18px; }

.control {
  background-color: #f4f4f4;
  border: 0;
  outline: none;
  color: #949494;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding: 15px 18px;
  width: 316px; }
  @media (max-width: 767px) {
    .control {
      width: 280px; } }

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  background-color: #ee1212;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  padding: 11.5px 40px; }

header {
  background-color: #fff;
  padding: 25px 0;
  margin-bottom: 12px; }
  header .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 25px;
    border-bottom: 2px solid #efefef; }
    header .header-top .logo, header .header-top .links, header .header-top .search {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      max-width: auto; }
    header .header-top .logo {
      margin-right: 48px;
      margin-top: 20px; }
      @media (max-width: 991px) {
        header .header-top .logo {
          margin-right: 50px; } }
      @media (max-width: 767px) {
        header .header-top .logo {
          margin-top: 0;
          margin-right: 0;
          max-width: 100%;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
                  flex: 0 0 100%; } }
    header .header-top .links {
      font-family: "Roboto", sans-serif;
      text-align: right;
      margin-right: 20px;
      padding-right: 100px;
      position: relative;
      line-height: 16px; }
      @media (max-width: 991px) {
        header .header-top .links {
          display: none; } }
      header .header-top .links:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background-image: url(../img/sprite.png);
        background-position: -91px -73px;
        width: 88px;
        height: 87px; }
      header .header-top .links a {
        color: #24304f;
        font-size: 12px;
        font-weight: 400;
        text-decoration: none; }
    header .header-top .search {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      @media (max-width: 767px) {
        header .header-top .search {
          display: none; } }
      header .header-top .search form {
        position: relative; }
        header .header-top .search form a {
          position: absolute;
          bottom: 15px;
          right: 25px;
          background-image: url(../img/sprite.png);
          background-position: -499px -29px;
          width: 16px;
          height: 16px; }
      header .header-top .search button {
        display: none; }
  header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header .navbar .navbar-toggler {
      display: none; }
      @media (max-width: 767px) {
        header .navbar .navbar-toggler {
          display: block;
          margin-top: 15px;
          height: 30px;
          border: 1px solid #ddd;
          background-color: transparent;
          outline: none; } }
    @media (max-width: 767px) {
      header .navbar .navbar-toggler-icon {
        display: block;
        width: 20px;
        height: 2px;
        background-color: #ddd;
        position: relative; }
        header .navbar .navbar-toggler-icon:before {
          content: '';
          position: absolute;
          top: -5px;
          left: 0;
          width: 20px;
          height: 2px;
          background-color: #ddd; }
        header .navbar .navbar-toggler-icon:after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 20px;
          height: 2px;
          background-color: #ddd; } }
    @media (max-width: 767px) {
      header .navbar .navbar-collapse {
        display: none; } }
    header .navbar .navbar-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-top: 20px; }
      header .navbar .navbar-nav .nav-link {
        font-family: "Roboto Condensed", sans-serif;
        color: #3d3d3d;
        font-size: 19px;
        font-weight: 700;
        text-decoration: none;
        padding-right: 17px;
        padding-left: 17px;
        padding-top: 9px;
        padding-bottom: 9px;
        text-transform: uppercase; }
        @media (max-width: 991px) {
          header .navbar .navbar-nav .nav-link {
            font-size: 14px; } }
      header .navbar .navbar-nav .nav-item:first-of-type .nav-link {
        padding-left: 0; }
      header .navbar .navbar-nav .nav-item:last-of-type .nav-link {
        padding-right: 0; }
      header .navbar .navbar-nav .nav-link.active {
        color: #fff;
        background-color: #d51318; }

.content {
  background-color: #fff;
  padding: 25px 0;
  margin-bottom: 9px; }
  .content .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .content main {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 620px;
            flex: 0 0 620px;
    max-width: 620px;
    margin-right: 20px; }
    @media (max-width: 991px) {
      .content main {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0; } }
    .content main .intro b {
      font-size: 22px;
      line-height: 28px;
      font-weight: 500; }
    .content main .intro p:last-of-type {
      margin-bottom: 55px; }
    .content main p {
      line-height: 23px;
      margin-top: 15px;
      margin-bottom: 15px; }
    .content main h1 {
      font-size: 52px;
      font-weight: 700;
      margin-bottom: 18px;
      font-family: "Roboto Condensed", sans-serif; }
      @media (max-width: 991px) {
        .content main h1 {
          font-size: 32px; } }
    .content main h2 {
      font-size: 35px;
      font-weight: 400;
      line-height: 41px;
      margin-top: 25px;
      margin-bottom: 15px; }
    .content main li {
      position: relative;
      padding-left: 26px;
      margin-bottom: 30px; }
      .content main li:before {
        content: '—';
        position: absolute;
        top: 0;
        left: 0; }
    .content main .questions ul {
      margin-top: 44px;
      margin-left: 10px;
      margin-bottom: 44px; }
    .content main .head {
      font-size: 23px;
      line-height: 29px;
      margin-top: 50px; }
    .content main .interview li:nth-of-type(2n) {
      margin-left: 25px;
      padding: 16px 36px;
      background-color: #f8f8f2; }
      .content main .interview li:nth-of-type(2n):before {
        left: 10px;
        top: 15px; }
    .content main .expert {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 767px) {
        .content main .expert {
          display: block; } }
      .content main .expert .desc {
        margin-left: 20px; }
        @media (max-width: 767px) {
          .content main .expert .desc {
            margin-left: 0;
            margin-top: 10px; } }
        .content main .expert .desc span {
          font-style: italic;
          font-size: 18px;
          color: #717171; }
        .content main .expert .desc .name {
          font-size: 18px;
          margin-bottom: 18px; }
          .content main .expert .desc .name span {
            font-size: 29px;
            color: #ee1111;
            font-style: normal; }
    .content main .promo {
      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 21px;
      line-height: 26px; }
      .content main .promo .date {
        border: 2px dotted #e0e0d0;
        background-color: #f8f8f2;
        font-size: 17px;
        line-height: 21px;
        padding: 9px 108px 9px 16px; }
        .content main .promo .date span {
          font-weight: 700; }
      .content main .promo:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/sprite.png);
        background-position: 0px 0px;
        width: 598px;
        height: 27px; }
        @media (max-width: 767px) {
          .content main .promo:before {
            display: none; } }
      .content main .promo:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
        background-image: url(../img/sprite.png);
        background-position: 0px 0px;
        width: 598px;
        height: 27px; }
        @media (max-width: 767px) {
          .content main .promo:after {
            display: none; } }
    .content main .order {
      text-align: center; }
      .content main .order img {
        margin: 0 auto; }
      .content main .order .btn {
        background-color: #e9141a;
        border-radius: 35px;
        padding: 18.7px 60px; }
    .content main .comments h2 {
      font-size: 23px;
      font-weight: 500;
      color: #bababa;
      border-bottom: 2px solid #f1f1f1; }
    .content main .comments .items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 1px solid #eee;
      margin-bottom: 24px;
      font-size: 16px;
      line-height: 21px; }
      .content main .comments .items .users {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 60px;
                flex: 0 0 60px;
        max-width: 60px;
        margin-right: 20px; }
      .content main .comments .items .description {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 540px;
                flex: 0 0 540px;
        max-width: 540px; }
        @media (max-width: 991px) {
          .content main .comments .items .description {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 658px;
                    flex: 0 0 658px;
            max-width: 658px; } }
        @media (max-width: 767px) {
          .content main .comments .items .description {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 70%;
                    flex: 0 0 70%;
            max-width: 90%; } }
      .content main .comments .items img {
        max-width: none; }
      .content main .comments .items .top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .content main .comments .items .top a {
          font-weight: 700;
          color: #6d6d6d;
          text-decoration: none; }
        .content main .comments .items .top .likes {
          font-size: 14px;
          color: #afafaf;
          position: relative;
          padding-left: 15px; }
          .content main .comments .items .top .likes:before {
            content: "";
            position: absolute;
            left: 0;
            top: 4px;
            background-image: url(../img/sprite.png);
            background-position: -517px -29px;
            width: 12px;
            height: 12px; }
    .content main .comments .items.answers {
      margin-left: 90px; }
      @media (max-width: 767px) {
        .content main .comments .items.answers {
          margin-left: 20px; } }
      .content main .comments .items.answers .description {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 450px;
                flex: 0 0 450px;
        max-width: 450px; }
        @media (max-width: 991px) {
          .content main .comments .items.answers .description {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 568px;
                    flex: 0 0 568px;
            max-width: 568px; } }
        @media (max-width: 767px) {
          .content main .comments .items.answers .description {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 70%;
                    flex: 0 0 70%;
            max-width: 90%; } }
    .content main .contact-form {
      margin-bottom: 50px;
      margin-top: 37px; }
      .content main .contact-form .control {
        border-radius: 5px;
        margin-bottom: 6px;
        padding: 11px 18px; }
      .content main .contact-form textarea {
        width: 100%; }
      .content main .contact-form .btn {
        border-radius: 5px;
        background-color: #aeafaf;
        border: 0;
        outline: none; }
  .content aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 292px;
            flex: 0 0 292px;
    max-width: 292px;
    font-size: 15px; }
    @media (max-width: 991px) {
      .content aside {
        display: none; } }
    .content aside .sidebar {
      background-color: #f5f5f5;
      padding: 36px 20px; }
      .content aside .sidebar h3 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 19px;
        color: #000;
        font-weight: 700;
        padding-bottom: 8px;
        border-bottom: 2px solid #eaeaea;
        margin-bottom: 16px;
        text-transform: uppercase; }
      .content aside .sidebar h4 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 16px; }
      .content aside .sidebar p {
        padding-left: 102px;
        position: relative;
        margin-bottom: 30px; }
        .content aside .sidebar p:before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          background-image: url(../img/sprite.png);
          background-position: 0px -73px;
          width: 89px;
          height: 89px; }
      .content aside .sidebar ul {
        font-size: 15px;
        margin-bottom: 40px; }
        .content aside .sidebar ul li {
          margin-bottom: 10px;
          margin-top: 10px;
          position: relative;
          padding-left: 20px; }
          .content aside .sidebar ul li:before {
            content: '-';
            position: absolute;
            left: 0;
            color: #d51318; }
      .content aside .sidebar a:first-of-type {
        display: block;
        margin-top: 60px; }
      .content aside .sidebar .btn {
        position: relative;
        bottom: 50px;
        left: 10px; }

footer .top {
  background-color: #fff;
  padding: 25px 30px;
  margin-bottom: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    footer .top {
      display: block; } }
  footer .top h3 {
    text-transform: uppercase;
    font-size: 17px;
    color: #3b3b3b;
    margin-bottom: 18px; }
  footer .top .heading, footer .top .service {
    border-right: 2px solid #efefef; }
    @media (max-width: 767px) {
      footer .top .heading, footer .top .service {
        border-right: 0;
        margin-bottom: 20px; } }
  footer .top .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  footer .top ul {
    margin-right: 52px; }
    footer .top ul a {
      color: #3b3b3b;
      font-size: 14px;
      text-decoration: none; }
  footer .top .service ul, footer .top .service h3 {
    margin-left: 51px;
    margin-right: 220px; }
    @media (max-width: 991px) {
      footer .top .service ul, footer .top .service h3 {
        margin-right: 45px; } }
    @media (max-width: 767px) {
      footer .top .service ul, footer .top .service h3 {
        margin-right: 0;
        margin-left: 0; } }
  footer .top .letter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-left: 40px; }
    @media (max-width: 991px) {
      footer .top .letter {
        margin-left: 20px; } }
    @media (max-width: 767px) {
      footer .top .letter {
        margin-left: 0; } }
    footer .top .letter form {
      position: relative; }
      @media (max-width: 767px) {
        footer .top .letter form {
          width: 280px; } }
      footer .top .letter form a {
        position: absolute;
        top: 0;
        right: 0; }
    footer .top .letter .control {
      width: 313px; }
      @media (max-width: 767px) {
        footer .top .letter .control {
          width: 280px; } }
    footer .top .letter button {
      border: 0;
      background-color: #363636;
      font-size: 14px;
      color: #fff;
      font-weight: 400;
      padding: 15px 26px;
      text-transform: uppercase;}
    footer .top .letter span {
      text-transform: uppercase;
      font-size: 15px;
      color: #3b3b3b;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      margin-top: 33px;
      margin-bottom: 9px; }

footer .bottom {
  background-color: #fff;
  padding: 16px 30px;
  margin-bottom: 15px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  font-weight: 700;
  color: #606060;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  @media (max-width: 991px) {
    footer .bottom {
      font-size: 14px; } }
  @media (max-width: 767px) {
    footer .bottom {
      display: block; } }
  footer .bottom .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    @media (max-width: 767px) {
      footer .bottom .left {
        margin-bottom: 10px; } }
  footer .bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      footer .bottom ul {
        display: none; } }
    footer .bottom ul a {
      font-weight: 400;
      color: #606060;
      text-decoration: none;
      padding-left: 15px;
      padding-right: 15px; }
      @media (max-width: 991px) {
        footer .bottom ul a {
          padding-right: 5px;
          padding-left: 5px;
          font-size: 12px; } }
    footer .bottom ul li:last-of-type a {
      padding-right: 0; }


    footer p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
    }