 @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900&subset=latin-ext');

 .slick-loading .slick-slide, .slick-loading .slick-track {
     visibility: hidden
 }

 .js-active a, .navbar a, .navbar__item a, .order .form__submit, .slick-list:focus, .slick-next:focus, .slick-prev:focus {
     outline: 0
 }

 .ectasy, .order, .slick-list {
     overflow: hidden
 }

 a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
     margin: 0;
     padding: 0;
     border: 0;
     font: inherit;
     vertical-align: baseline;
     -webkit-box-sizing: border-box;
     box-sizing: border-box
 }

 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block
 }

 ol, ul {
     list-style: none
 }

 blockquote, q {
     quotes: none
 }

 .last .last__product img {
     width: auto !important;
     height: 492px !important;
 }

 blockquote:after, blockquote:before, q:after, q:before {
     content: '';
     content: none
 }

 table {
     border-collapse: collapse;
     border-spacing: 0
 }

 @font-face {
     font-family: fico;
     src: url(icons/fico.eot);
     src: url(icons/fico.eot?#iefix) format("eot"), url(icons/fico.woff2) format("woff2"), url(icons/fico.woff) format("woff"), url(icons/fico.ttf) format("truetype"), url(icons/fico.svg#fico) format("svg")
 }

 .fico:before {
     font-family: fico;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     font-style: normal;
     font-variant: normal;
     font-weight: 400;
     text-decoration: none;
     text-transform: none
 }

 .fico-medal1:before {
     content: "\E001"
 }

 .fico-medal2:before {
     content: "\E002"
 }

 .fico-medal3:before {
     content: "\E003"
 }

 .icon {
     font-size: 10px
 }

 .icon:before {
     content: ' ';
     vertical-align: middle;
     display: inline-block;
     background-image: url(sprite.svg);
     background-repeat: no-repeat;
     -webkit-background-size: 18.1em 18.1em;
     background-size: 18.1em 18.1em
 }

 .no-svg .icon:before {
     background-image: url(../svg/sprite.png)
 }

 .icon.svg-user:before {
     background-position: -1em -1em;
     width: 16.1em;
     height: 16.1em
 }

 @font-face {
     font-family: Panton-BlackCaps;
     src: url(Panton-BlackCaps.eot);
     src: local("Panton-BlackCaps"), url(Panton-BlackCaps.eot?#iefix) format("embedded-opentype"), url(Panton-BlackCaps.woff) format("woff"), url(Panton-BlackCaps.ttf) format("truetype");
     font-weight: 400;
     font-style: normal
 }

 * {
     outlene: none
 }

 body {
     font-size: 1rem;
     font-weight: 400;
     font-family: Roboto, sans-serif;
     line-height: 1.14;
     color: #fff;
     background: #8e1971
 }

 button {
     border: none
 }

 h2 {
     font-family: Panton-BlackCaps, Roboto, sans-serif;
     font-size: 2.5rem;
     line-height: 1.3
 }

 .container {
     width: 1170px;
     padding: 0 15px;
     margin: 0 auto
 }

 strong {
     font-weight: 700
 }

 .comments__item::before, .components__item::before, .ectasy__product::before, .last .quote::before, .last__product::before, .list__item::before, .primary__product::after, .primary__product::before, .vibro .quote::before {
     position: absolute;
     content: "";
     display: block
 }

 .slick-list, .slick-slider, .slick-track {
     position: relative;
     display: block
 }

 .title_color {
     color: #ff37cd
 }

 .slick-slider {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     -ms-touch-action: pan-y;
     touch-action: pan-y;
     -webkit-tap-highlight-color: transparent
 }

 .slick-list {
     margin: 0;
     padding: 0
 }

 .slick-loading .slick-list {
     background: #fff
 }

 .slick-list.dragging {
     cursor: pointer;
     cursor: hand
 }

 .slick-slide, .slick-slide img, .slick-slider .slick-list, .slick-track {
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0)
 }

 .slick-track {
     left: 0;
     top: 0;
     zoom: 1
 }

 .slick-track:after, .slick-track:before {
     content: "";
     display: table
 }

 .slick-track:after {
     clear: both
 }

 .slick-slide {
     float: left;
     height: 100%;
     min-height: 1px
 }

 .slick-slide img {
     display: block;
     max-width: 100%
 }

 .slick-slide.slick-loading img {
     display: none
 }

 .slick-slide.dragging img {
     pointer-events: none
 }

 .slick-initialized .slick-slide {
     display: block
 }

 .slick-vertical .slick-slide {
     display: block;
     height: auto;
     border: 1px solid transparent
 }

 .slick-next, .slick-prev {
     position: absolute;
     margin-top: -10px;
     font: 0/0 a;
     text-shadow: none;
     color: transparent;
     background: 0 0;
     z-index: 1
 }

 .slick-next.slick-disabled, .slick-prev.slick-disabled {
     opacity: .2
 }

 .slick-next:before, .slick-prev:before {
     height: 30px;
     line-height: 30px;
     content: "prev";
     display: inline-block;
     vertical-align: middle;
     font-size: 15px;
     color: #fff;
     background: #000
 }

 .slick-next {
     left: auto
 }

 .slick-next:before {
     content: "next";
     display: inline-block
 }

 .slick-dots {
     text-align: center;
     position: absolute;
     margin: 0;
     bottom: 0;
     left: 0;
     right: 0
 }

 .slick-dots li {
     position: relative;
     display: inline-block;
     padding: 0 3px
 }

 .slick-dots li.slick-active button {
     background: #000
 }

 .slick-dots button {
     display: block;
     width: 10px;
     height: 10px;
     background: #fff;
     -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
     box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
     cursor: pointer;
     font: 0/0 a;
     text-shadow: none;
     color: transparent;
     -webkit-border-radius: 50%;
     border-radius: 50%
 }

 .order {
     width: 290px;
     position: relative;
     background-color: rgba(255, 255, 255, .051);
     -webkit-box-shadow: 0 14px 52.7px 9.3px rgba(0, 0, 0, .3);
     box-shadow: 0 14px 52.7px 9.3px rgba(0, 0, 0, .3);
     margin-top: 10px
 }

 .order-head {
     padding: 5px 15px 15px;
     background: #e3c0da
 }

 .order .discount {
     left: 0;
     position: absolute;
     top: 0;
     z-index: 2;
     background-image: url(icons.png);
     background-position: -205px -205px;
     width: 116px;
     height: 98px
 }

 .order .discount::after {
     display: block;
     position: absolute;
     content: "-50%";
     font-size: 36px;
     font-weight: 700;
     color: #fff;
     left: 0;
     line-height: 0;
     margin: auto;
     right: 25%;
     text-align: center;
     top: 40%;
     -webkit-transform: rotate(-41deg) translateY(-10px);
     -ms-transform: rotate(-41deg) translateY(-10px);
     transform: rotate(-41deg) translateY(-10px);
     z-index: 3
 }

 .medal-icons, .order .price {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox
 }

 .order .price {
     border-color: #2a0548;
     display: flex;
     -webkit-box-align: end;
     -webkit-align-items: flex-end;
     -ms-flex-align: end;
     align-items: flex-end;
     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     font-wieght: 300;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     line-height: 1;
     padding-left: 50px;
     text-align: center;
     font-weight: 300
 }

 .button, .order__title {
     font-weight: 500;
     text-align: center;
     text-transform: uppercase
 }

 .order .price__new, .order .price__old {
     display: inline-block;
     position: relative;
     white-space: nowrap;
     font-size: 0;
     color: #76145d
 }

 .order .price__old {
     font-size: 0;
 }

 .order .price__old-crossed ::after, .order .price__old-crossed ::before {
     border-bottom: 1px solid #76145d;
     content: "";
     display: block;
     left: 50%;
     margin-left: -40%;
     position: absolute;
     right: 0;
     -webkit-transform-origin: 0 0;
     -ms-transform-origin: 0 0;
     transform-origin: 0 0;
     width: 100%
 }

 .order .price__old-crossed ::before {
     top: 10px;
     -webkit-transform: rotate(19deg);
     -ms-transform: rotate(19deg);
     transform: rotate(19deg);
 }

 .order .price__old-crossed ::after {
     bottom: 5px;
     -webkit-transform: rotate(-19deg);
     -ms-transform: rotate(-19deg);
     transform: rotate(-19deg);
 }

 .order .price__old-currency {
     font-size: 25.5px
 }

 .order .price__old-cost {
     font-size: 40px;
     line-height: 1.3
 }

 .order .price__new-currency {
     font-size: 55px
 }

 .order .price__new-cost {
     font-size: 50px
 }

 .order__title {
     font-size: 1.125rem;
     line-height: 1.375rem;
     margin: auto auto 20px;
     padding: 13px 10px 0;
     border-top: 1px solid #76145d;
     color: #76145d
 }

 .order .form {
     background: -webkit-gradient(linear, left bottom, left top, from(#5e1c4e), color-stop(50%, #762160), to(#8b2673));
     background: -webkit-linear-gradient(bottom, #5e1c4e 0, #762160 50%, #8b2673 100%);
     background: -o-linear-gradient(bottom, #5e1c4e 0, #762160 50%, #8b2673 100%);
     background: linear-gradient(to top, #5e1c4e 0, #762160 50%, #8b2673 100%);
     margin-top: -20px;
     padding: 18px 20px 40px;
     position: relative
 }

 .order .form::after, .order .form::before {
     background-color: #8b2673;
     content: "";
     display: block;
     height: 16px;
     position: absolute;
     top: -15px;
     width: 51%
 }

 .order .form::before {
     left: 0;
     -webkit-transform: rotate(6deg);
     -ms-transform: rotate(6deg);
     transform: rotate(6deg);
     -webkit-transform-origin: 0 0;
     -ms-transform-origin: 0 0;
     transform-origin: 0 0
 }

 .order .form::after {
     right: 0;
     -webkit-transform: rotate(-6deg);
     -ms-transform: rotate(-6deg);
     transform: rotate(-6deg);
     -webkit-transform-origin: 100% 0;
     -ms-transform-origin: 100% 0;
     transform-origin: 100% 0
 }

 .order .form__input {
     background-color: #c492b7;
     border: 1px solid #c492b7;
     -webkit-border-radius: 4px;
     border-radius: 4px;
     color: #76145d;
     display: block;
     font-size: .875rem;
     height: 35px;
     margin-bottom: 13px;
     padding: 0 8px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     width: 100%
 }

 .order .form .al-country, .order .form .input-wrapper .form__chec-input, .order .form .input-wrapper label {
     display: none
 }

 .order .form__input::-webkit-input-placeholder {
     color: #76145d
 }

 .order .form__input:-ms-input-placeholder {
     color: #76145d
 }

 .order .form__input::-ms-input-placeholder {
     color: #76145d
 }

 .order .form__input::placeholder {
     color: #76145d
 }

 .order .form__input:focus {
     border-color: #4b2300
 }

 .order .form .input-wrapper {
     position: relative
 }

 .order .form .input-wrapper .form__chec-input:checked+label::before {
     opacity: 1
 }

 .order .form .input-wrapper .form__chec-label {
     display: inline-block
 }

 .order .form .input-wrapper .form__chec-label::after, .order .form .input-wrapper .form__chec-label::before {
     content: "";
     display: block;
     position: absolute
 }

 .arrow::before, .slick-next::before, .slick-prev::before {
     content: ''
 }

 .order .form .input-wrapper .form__chec-label::before {
     height: 5px;
     width: 7px;
     left: 5px;
     top: 50%;
     -webkit-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     transform: rotate(-45deg);
     border: 2px solid #fff;
     border-right: none;
     border-top: none;
     margin-top: -5px;
     opacity: 0;
     z-index: 2
 }

 .order .form .input-wrapper .form__chec-label::after {
     height: 17px;
     width: 17px;
     border: 1px solid #ccc;
     -webkit-border-radius: 5px;
     border-radius: 5px;
     cursor: pointer;
     left: 0;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     background: #ccc;
     z-index: 1
 }

 .order .form__text1 {
     color: #959595;
     display: inline-block;
     font-size: 12px;
     line-height: 1.2;
     padding-left: 35px
 }

 .order .form__text1 a {
     color: inherit;
     text-decoration: underline
 }

 .button, .navbar a {
     text-decoration: none
 }

 .order .form__submit {
     border: none;
     position: relative;
     cursor: pointer;
     margin-top: 25px
 }

 .order .form__submit:disabled {
     cursor: not-allowed;
     background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fda69b), to(#ca8580));
     background: -webkit-linear-gradient(bottom, #fda69b 0, #ca8580 100%);
     background: -o-linear-gradient(bottom, #fda69b 0, #ca8580 100%);
     background: linear-gradient(bottom, #fda69b 0, #ca8580 100%)
 }

 .order .button-wrap {
     margin-top: 5px
 }

 .icons-secure {
     margin-top: 25px;
     background-image: url(icons.png);
     background-position: -410px 0;
     width: 250px;
     height: 42px
 }

 .input-wrapper {
     position: relative
 }

 .input-wrapper .error {
     border: 1px solid red;
     padding-top: 6px
 }

 .input-wrapper .error+label {
     color: red;
     display: block !important;
     font-size: 11px;
     left: 5px;
     line-height: 1;
     position: absolute;
     top: 2px
 }

 .arrow, .button {
     position: relative
 }

 .button {
     display: block;
     margin: 0 auto;
     background-color: #ff37cd;
     color: #FFF;
     width: 220px;
     min-height: 58px;
     font-size: 1.25rem;
     letter-spacing: 3px;
     -webkit-transition: .4s background;
     -o-transition: .4s background;
     transition: .4s background;
     padding: 17px 15px;
     -webkit-border-radius: 58px;
     border-radius: 58px
 }

 .arrow, .arrow::before, .counter__elem {
     display: inline-block
 }

 .button:hover {
     background: #a5408c
 }

 .button:active {
     background: #9a3581
 }

 .arrow {
     background-image: url(icons.png);
     background-position: -620px -119px;
     width: 8px;
     height: 15px;
     -webkit-transition: -webkit-transform .3s;
     -o-transition: transform .3s;
     transition: transform .3s;
     transition: transform .3s, -webkit-transform .3s
 }

 .arrow::before {
     will-change: transform;
     font-size: 0;
     position: absolute;
     right: 3px;
     top: 50%;
     width: 15px;
     height: 1px;
     margin-top: -3px;
     background-color: #FFF;
     -webkit-transform: scaleX(0);
     -ms-transform: scaleX(0);
     transform: scaleX(0);
     -webkit-transform-origin: 100% 0;
     -ms-transform-origin: 100% 0;
     transform-origin: 100% 0;
     -webkit-transition: -webkit-transform .3s;
     -o-transition: transform .3s;
     transition: transform .3s;
     transition: transform .3s, -webkit-transform .3s;
     -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .53);
     box-shadow: 0 2px 3px rgba(0, 0, 0, .53)
 }

 .counter {
     white-space: nowrap;
     text-align: center;
     padding: 15px 0 20px
 }

 .counter__elem {
     color: #000;
     line-height: 61px;
     font-size: 3.6rem;
     font-weight: 700;
     height: 61px;
     width: 47px;
     margin: 0 1px;
     text-align: center;
     background: url(counter.svg);
     -webkit-box-shadow: 0 2px 3px #801657;
     box-shadow: 0 2px 3px #801657
 }

 .list__item, .navbar a, .pr-counter, .vibro .quote {
     font-weight: 300
 }

 .counter .passive {
     color: #a89fa5
 }

 .quote {
     border: 1px solid #fff
 }

 .medal-icons {
     display: flex;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center
 }

 .navbar-menu, .primary-wrap {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox
 }

 .medal-icons img {
     margin: 0 12px;
     max-width: 75px;
     height: 75px
 }

 .list__item {
     padding: 11px 0 11px 35px;
     position: relative;
     font-size: 1.25rem
 }

 .list__item::before {
     width: 21px;
     height: 21px;
     background: url(pr-ico.svg) no-repeat;
     -webkit-background-size: auto 100%;
     background-size: auto 100%;
     left: 0;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%)
 }

 .slick-next, .slick-prev {
     background-image: url(icons.png);
     background-position: -620px -152px;
     width: 24px;
     height: 42px;
     cursor: pointer;
     outline: 0;
     top: 60px
 }

 .slick-next:active, .slick-next:hover, .slick-prev:active, .slick-prev:hover {
     background-image: url(icons.png);
     background-position: -620px -199px;
     width: 24px;
     height: 42px
 }

 .slick-next {
     -webkit-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
     transform: rotate(180deg);
     right: -20px
 }

 .slick-prev {
     left: -20px
 }

 .navbar {
     width: 100%;
     background-color: #ddd1d9;
     -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .95);
     box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .95);
     text-align: center;
     position: fixed;
     top: 0;
     -webkit-transform: translateY(-100%);
     -ms-transform: translateY(-100%);
     transform: translateY(-100%);
     margin-top: -10px;
     z-index: 30;
     -webkit-transition: 1s all;
     -o-transition: 1s all;
     transition: 1s all
 }

 .navbar a {
     color: #000;
     font-size: 1.25rem
 }

 .navbar-contain {
     position: relative
 }

 .navbar-menu {
     padding-left: 305px;
     padding-right: 255px;
     font-size: 1.125rem;
     display: flex;
     -webkit-justify-content: space-around;
     -ms-flex-pack: distribute;
     justify-content: space-around
 }

 .navbar__item {
     display: inline-block;
     padding: 12px 5px 18px;
     border-bottom: 4px solid transparent
 }

 .navbar-logo, .navbar__button {
     display: block;
     position: absolute;
     top: 50%
 }

 .navbar__button {
     right: 15px;
     -webkit-transform: translateY(-50%) scale(.65, .7);
     -ms-transform: translateY(-50%) scale(.65, .7);
     transform: translateY(-50%) scale(.65, .7);
     -webkit-transform-origin: 100% 50%;
     -ms-transform-origin: 100% 50%;
     transform-origin: 100% 50%
 }

 .navbar-logo {
     left: 15px;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     font-size: 2.8rem;
     text-transform: uppercase;
     letter-spacing: .5rem
 }

 .fixed {
     -webkit-transform: translateY(0);
     -ms-transform: translateY(0);
     transform: translateY(0);
     margin-top: 0;
     -webkit-transition: 1s all;
     -o-transition: 1s all;
     transition: 1s all
 }

 .js-active {
     border-bottom: 4px solid #ff37cd
 }

 .primary {
     background: url(primary-bg.jpg) center no-repeat, -webkit-gradient(linear, left bottom, left top, from(#470d36), color-stop(20%, #5a1148), color-stop(50%, #871a6d), color-stop(76%, #ab228a), color-stop(85%, #b32490), to(#b32490));
     background: url(primary-bg.jpg) center no-repeat, -webkit-linear-gradient(bottom, #470d36 0, #5a1148 20%, #871a6d 50%, #ab228a 76%, #b32490 85%, #b32490 100%);
     background: url(primary-bg.jpg) center no-repeat, -o-linear-gradient(bottom, #470d36 0, #5a1148 20%, #871a6d 50%, #ab228a 76%, #b32490 85%, #b32490 100%);
     background: url(primary-bg.jpg) center no-repeat, linear-gradient(to top, #470d36 0, #5a1148 20%, #871a6d 50%, #ab228a 76%, #b32490 85%, #b32490 100%);
     -webkit-background-size: auto 100%;
     background-size: auto 100%;
     min-height: 720px;
     padding-top: 25px
 }

 .primary-wrap {
     display: flex;
     -webkit-justify-content: space-between;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between
 }

 .ingredients-wrap, .logo {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox
 }

 .last .quote, .logo {
     -webkit-box-align: center
 }

 .primary-left {
     max-width: 775px;
     padding: 0 400px 0 15px;
     position: relative
 }

 .primary-right {
     max-width: 320px;
     padding: 0 15px
 }

 .primary__product {
     position: absolute;
     padding-top: 80px;
     top: 0;
     right: 17px;
     z-index: 1
 }

 .components__item, .ectasy, .vibro, .vibro .quote {
     position: relative
 }

 .primary__product::after, .primary__product::before {
     z-index: -1
 }

 .primary__product::after {
     width: 100%;
     height: 20px;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #0d0d0d;
     left: 50%;
     -webkit-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     transform: translateX(-50%);
     bottom: 40px;
     -webkit-box-shadow: 0 0 10px 10px #0d0d0d;
     box-shadow: 0 0 10px 10px #0d0d0d
 }

 .primary .list {
     padding-top: 25px
 }

 .logo {
     display: -moz-flex;
     display: -ms-flex;
     display: -o-flex;
     display: flex;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     margin-bottom: 90px
 }

 .logo img {
     height: 26px
 }

 .logo span {
     display: inline-block;
     text-transform: uppercase;
     color: rgba(255, 255, 255, .5);
     font-size: .875rem;
     border-left: 1px solid rgba(255, 255, 255, .5);
     padding-left: 20px;
     margin-left: 20px
 }

 .pr-counter {
     text-align: center;
     color: rgba(255, 255, 255, .9);
     font-size: 1.25rem
 }

 .vibro {
     background: url(vibro-bg.jpg) center top no-repeat, -webkit-gradient(linear, left bottom, left top, from(#a0207f), color-stop(10%, #a31f82), color-stop(22%, #a22082), color-stop(48%, #821a69), color-stop(82%, #580f44), to(#470d36)) no-repeat;
     background: url(vibro-bg.jpg) center top no-repeat, -webkit-linear-gradient(bottom, #a0207f 0, #a31f82 10%, #a22082 22%, #821a69 48%, #580f44 82%, #470d36 100%) no-repeat;
     background: url(vibro-bg.jpg) center top no-repeat, -o-linear-gradient(bottom, #a0207f 0, #a31f82 10%, #a22082 22%, #821a69 48%, #580f44 82%, #470d36 100%) no-repeat;
     background: url(vibro-bg.jpg) center top no-repeat, linear-gradient(to top, #a0207f 0, #a31f82 10%, #a22082 22%, #821a69 48%, #580f44 82%, #470d36 100%) no-repeat;
     min-height: 1000px;
     -webkit-background-size: auto 100%;
     background-size: auto 100%;
     padding-top: 205px
 }

 .vibro-left {
     max-width: 700px;
     padding: 0 15px
 }

 .vibro__title {
     padding-right: 50px;
     padding-bottom: 35px
 }

 .vibro__list {
     margin-bottom: 50px
 }

 .vibro .list__item {
     padding-top: 9px;
     padding-bottom: 9px
 }

 .vibro .quote {
     margin-left: 15px;
     max-width: 81%;
     padding: 30px 20px;
     font-size: 1.5625rem;
     text-transform: uppercase
 }

 .vibro .quote::before {
     background-image: url(icons.png);
     background-position: -620px -83px;
     width: 36px;
     height: 31px;
     top: -31px;
     left: 15%
 }

 .vibro .quote img {
     height: 20px;
     margin-right: 10px
 }

 .vibro .quote span {
     letter-spacing: 1.2px
 }

 .ingredients {
     min-height: 725px;
     background: -webkit-gradient(linear, left bottom, left top, from(#5d0d47), to(#9f1f7e));
     background: -webkit-linear-gradient(bottom, #5d0d47 0, #9f1f7e 100%);
     background: -o-linear-gradient(bottom, #5d0d47 0, #9f1f7e 100%);
     background: linear-gradient(to top, #5d0d47 0, #9f1f7e 100%)
 }

 .ingredients__title {
     text-align: center
 }

 .ingredients-wrap {
     display: flex;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between
 }

 .ingredients-right {
     padding: 15px 15px 0;
     max-width: 320px
 }

 .ingredients .medal-icons {
     margin: 20px 0;
 }

 .components {
     max-width: 815px;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     padding-top: 55px
 }

 .components__item {
     width: 50%;
     padding: 5px 0 30px 135px;
     min-height: 150px
 }

 .components__item_1::before, .components__item_2::before, .components__item_3::before, .components__item_4::before, .components__item_5::before, .components__item_6::before, .components__item_7::before, .components__item_8::before {
     background-image: url(icons.png);
     width: 100px;
     height: 100px
 }

 .components__item h6 {
     font-weight: 700;
     display: inline-block;
     padding-bottom: 3px;
     border-bottom: 1px solid #fff
 }

 .comments-list, .last .quote {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox
 }

 .components__item p {
     font-weight: 300;
     padding-top: 15px
 }

 .components__item::before {
     top: 0;
     left: 15px;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     -webkit-box-shadow: 0 5px 10px 0 #73075c;
     box-shadow: 0 5px 10px 0 #73075c
 }

 .components__item_3::before {
     background-position: -515px -152px
 }

 .components__item_1::before {
     background-position: -410px -47px
 }

 .components__item_4::before {
     background-position: -410px -152px
 }

 .components__item_2::before {
     background-position: -515px -47px
 }

 .components__item_5::before {
     background-position: -410px -257px
 }

 .components__item_6::before {
     background-position: -515px -257px
 }

 .components__item_7::before {
     background-position: 0 -410px
 }

 .components__item_8::before {
     background-position: -105px -410px
 }

 .applyng {
     background: url(applyng-bg.jpg) top center no-repeat #252c3f;
     -webkit-background-size: auto 100%;
     background-size: auto 100%;
     min-height: 538px;
     padding: 60px 0
 }

 .applyng__title {
     text-align: center
 }

 .applyng-right {
     max-width: 490px;
     padding: 0 15px;
     font-size: 1.25rem;
     float: right;
     margin-top: 80px;
     line-height: 1.5
 }

 .applyng-right p {
     font-weight: 300
 }

 .ectasy {
     background: url(ectasy-bg.jpg) center bottom no-repeat #000;
     min-height: 830px;
     padding-top: 60px
 }

 .ectasy__title {
     text-align: center
 }

 .ectasy__product {
     position: absolute;
     left: 50%;
     -webkit-transform: translateX(-53%) scale(.9);
     -ms-transform: translateX(-53%) scale(.9);
     transform: translateX(-53%) scale(.9);
     bottom: 35px
 }

 .ectasy__product::before {
     z-index: -1;
     width: 995px;
     height: 977px;
     top: -35px;
     left: 50%;
     -webkit-transform: translateX(-48%);
     -ms-transform: translateX(-48%);
     transform: translateX(-48%)
 }

 .ectasy-right {
     float: right;
     width: 445px;
     padding: 190px 15px 0
 }

 .ectasy-right .list {
     margin-bottom: 105px
 }

 .ectasy-right .button {
     margin-left: 65px;
     -webkit-transform: scale(1.15);
     -ms-transform: scale(1.15);
     transform: scale(1.15)
 }

 .comments {
     min-height: 755px;
     background: -webkit-gradient(linear, left bottom, left top, from(#5d0d47), to(#a62185));
     background: -webkit-linear-gradient(bottom, #5d0d47 0, #a62185 100%);
     background: -o-linear-gradient(bottom, #5d0d47 0, #a62185 100%);
     background: linear-gradient(to top, #5d0d47 0, #a62185 100%);
     padding: 60px 0 30px
 }

 .comments__item_1::before, .comments__item_2::before, .comments__item_3::before {
     background-image: url(icons.png);
     width: 200px;
     height: 200px
 }

 .comments__title {
     text-align: center;
     margin-bottom: 75px
 }

 .comments-list {
     display: flex;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between
 }

 .comments__item {
     max-width: 285px;
     padding: 225px 20px 0;
     position: relative;
     text-align: center;
     line-height: 1.3
 }

 .comments__item::before {
     top: 0;
     left: 50%;
     -webkit-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     transform: translateX(-50%)
 }

 .comments__item_1::before {
     background-position: 0 0
 }

 .comments__item_2::before {
     background-position: -205px 0
 }

 .comments__item_3::before {
     background-position: 0 -205px
 }

 .comments__item h5 {
     font-size: 1.25rem;
     font-weight: 500
 }

 .comments__item span {
     font-size: 1.25rem;
     font-weight: 400
 }

 .comments__item p {
     padding-top: 10px
 }

 .last {
     min-height: 1020px;
     background: url(last-bg.jpg) center no-repeat, -webkit-gradient(linear, left bottom, left top, from(#8e1971), color-stop(17%, #851869), color-stop(36%, #7a165f), color-stop(60%, #6a1153), to(#5d0d48));
     background: url(last-bg.jpg) center no-repeat, -webkit-linear-gradient(bottom, #8e1971 0, #851869 17%, #7a165f 36%, #6a1153 60%, #5d0d48 100%);
     background: url(last-bg.jpg) center no-repeat, -o-linear-gradient(bottom, #8e1971 0, #851869 17%, #7a165f 36%, #6a1153 60%, #5d0d48 100%);
     background: url(last-bg.jpg) center no-repeat, linear-gradient(to top, #8e1971 0, #851869 17%, #7a165f 36%, #6a1153 60%, #5d0d48 100%);
     -webkit-background-size: auto 100%;
     background-size: auto 100%;
     padding-top: 75px;
     position: relative
 }

 .last__product {
     position: absolute;
     left: 50%;
     -webkit-transform: translate(-47%, -48%);
     -ms-transform: translate(-47%, -48%);
     transform: translate(-47%, -48%);
     top: 50%
 }

 .last__product::before {
     width: 246px;
     height: 464px;
     right: -10px;
     bottom: -20px
 }

 .last__product img {
     -webkit-transform: scale(.73);
     -ms-transform: scale(.73);
     transform: scale(.73);
     -webkit-transform-origin: 50% 100%;
     -ms-transform-origin: 50% 100%;
     transform-origin: 50% 100%
 }

 .last-right {
     width: 320px;
     padding: 0 15px;
     float: right
 }

 .last .medal-icons {
     margin-top: 40px
 }

 .last .quote {
     position: relative;
     margin-left: 15px;
     margin-right: 15px;
     margin-bottom: 55px;
     padding: 15px 10px 15px 20px;
     display: flex;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center
 }

 .last .quote::before {
     background-image: url(icons.png);
     background-position: -620px -47px;
     width: 37px;
     height: 31px;
     bottom: -30px;
     left: 50%;
     margin-left: -7px
 }

 .last h2 {
     margin-right: 25px;
     font-size: 2.45rem
 }

 .last-counter {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     max-width: 365px;
     padding: 20px 0;
     border-left: 1px solid #fff
 }

 .last-counter .counter {
     padding: 0 15px 0 25px;
 }

 .last-counter>span {
     font-size: 1rem;
     text-transform: uppercase
 }

 @media screen and (max-width:1170px) {
     .container {
         width: 970px
     }

     .navbar-menu {
         padding-left: 180px;
         padding-right: 180px
     }

     .navbar-logo img {
         height: 18px
     }

     .primary {
         min-height: 650px
     }

     .primary h2 {
         padding-right: 70px
     }

     .primary-left {
         padding-right: 200px
     }

     .primary__product {
         -webkit-transform: translateX(0) scale(.7);
         -ms-transform: translateX(0) scale(.7);
         transform: translateX(0) scale(.7)
     }

     .primary .list {
         padding-right: 70px
     }

     .vibro {
         min-height: 60px;
         padding-bottom: 80px
     }

     .applyng-right {
         max-width: 400px;
         margin-top: 50px
     }

     .ectasy__product {
         -webkit-transform: translateX(-52%) scale(.9);
         -ms-transform: translateX(-52%) scale(.9);
         transform: translateX(-52%) scale(.9)
     }

     .ectasy-right {
         width: 350px
     }

     .last {
         min-height: 900px
     }

     .last__product {
         -webkit-transform: translate(-60%, -58%);
         -ms-transform: translate(-60%, -58%);
         transform: translate(-60%, -58%);
     }

     .last .quote::before {
         margin-left: -70px
     }
 }

 @media screen and (max-width:991px) {
     h2 {
         font-size: 2rem
     }

     .container {
         width: 750px
     }

     .navbar-menu {
         font-size: .875rem;
         padding-left: 0
     }

     .navbar__item {
         border-bottom-width: 4px
     }

     .navbar-logo {
         display: none
     }

     .ingredients-wrap, .primary-wrap {
         display: block
     }

     .primary {
         background: url(primary-bg.jpg) no-repeat #470d36;
         -webkit-background-size: 1200px 1200px;
         background-size: 1200px
     }

     .primary-right {
         margin: 20px auto 0
     }

     .primary__product {
         top: 70px;
         padding-top: 0;
         left: auto;
         right: 50%;
         -webkit-transform: translate(0) scale(.5);
         -ms-transform: translate(0) scale(.5);
         transform: translate(0) scale(.5);
         margin-right: -250px;
         -webkit-transform-origin: 50% 0;
         -ms-transform-origin: 50% 0;
         transform-origin: 50% 0
     }

     .logo {
         margin-bottom: 40px
     }

     .vibro {
         padding-top: 100px
     }

     .ectasy-right, .last {
         padding-top: 50px
     }

     .ingredients-right {
         margin: 0 auto;
         padding-bottom: 40px
     }

     .components__item {
         padding-right: 15px
     }

     .applyng {
         background-position: 57% 0
     }

     .applyng-right {
         margin-top: 30px
     }

     .ectasy {
         -webkit-background-size: 1300px 1300px;
         background-size: 1300px;
         min-height: 600px
     }

     .ectasy__product {
         -webkit-transform: translateX(-75%) scale(.6);
         -ms-transform: translateX(-75%) scale(.6);
         transform: translateX(-75%) scale(.6);
         -webkit-transform-origin: 50% 100%;
         -ms-transform-origin: 50% 100%;
         transform-origin: 50% 100%
     }

     .ectasy-right .list {
         margin-bottom: 75px
     }

     .ectasy-right .button {
         margin-left: 0
     }

     .last {
         background: url(last-bg.jpg) 10% 50% no-repeat, -webkit-gradient(linear, left bottom, left top, from(#8c1a6f), color-stop(50%, #8c1a6f), color-stop(51%, #5d0d48), to(#5d0d48));
         background: url(last-bg.jpg) 10% 50% no-repeat, -webkit-linear-gradient(bottom, #8c1a6f 0, #8c1a6f 50%, #5d0d48 51%, #5d0d48 100%);
         background: url(last-bg.jpg) 10% 50% no-repeat, -o-linear-gradient(bottom, #8c1a6f 0, #8c1a6f 50%, #5d0d48 51%, #5d0d48 100%);
         background: url(last-bg.jpg) 10% 50% no-repeat, linear-gradient(to top, #8c1a6f 0, #8c1a6f 50%, #5d0d48 51%, #5d0d48 100%);
         -webkit-background-size: 1200px 1200px;
         background-size: 1200px;
         min-height: 850px
     }

     .last__product {
         -webkit-transform: translate(-70%, -48%) scale(.7);
         -ms-transform: translate(-70%, -48%) scale(.7);
         transform: translate(-70%, -48%) scale(.7)
     }

     .last h2 {
         font-size: 1.8rem
     }
 }

 @media screen and (max-width:767px) {
     .counter__elem_1, .navbar-menu {
         display: none
     }

     h2 {
         font-size: 1.5rem
     }

     .container {
         width: 320px
     }

     .button:hover {
         background: #a5408c
     }

     .button:active {
         background: #9a3581
     }

     .counter {
         padding: 0
     }

     .counter__elem {
         height: 40px;
         width: 31px;
         -webkit-background-size: auto 100%;
         background-size: auto 100%;
         line-height: 40px;
         font-size: 2rem
     }

     .list__item {
         padding: 10px 0 10px 35px;
         font-size: 1rem
     }

     .slick-next {
         right: 30px
     }

     .slick-prev {
         left: 30px
     }

     .navbar {
         -webkit-transform: translateY(100%);
         -ms-transform: translateY(100%);
         transform: translateY(100%);
         padding: 15px 0;
         top: auto;
         bottom: 0;
         margin-top: 0
     }

     .primary h2, .primary-left {
         padding-right: 0
     }

     .navbar__button {
         position: relative;
         -webkit-transform: translateY(0);
         -ms-transform: translateY(0);
         transform: translateY(0);
         right: 0
     }

     .fixed {
         -webkit-transform: translateY(0);
         -ms-transform: translateY(0);
         transform: translateY(0)
     }

     .primary {
         background: url(primary-bg-sm.jpg) 50% 65px no-repeat #470d36;
         padding-bottom: 50px
     }

     .primary h2 {
         padding-bottom: 0;
         text-align: left
     }

     .primary-right {
         padding: 0
     }

     .primary__product {
         -webkit-transform: scale(.35);
         -ms-transform: scale(.35);
         transform: scale(.35);
         top: auto;
         bottom: -10px;
         margin-right: -230px;
         -webkit-transform-origin: 50% 100%;
         -ms-transform-origin: 50% 100%;
         transform-origin: 50% 100%
     }

     .primary .list {
         padding-top: 10px;
         padding-right: 120px
     }

     .logo {
         margin-bottom: 20px
     }

     .logo img {
         height: 15px
     }

     .logo span {
         font-size: .8rem;
         padding-left: 10px;
         margin-left: 10px
     }

     .pr-counter {
         font-size: .875rem;
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
         -webkit-align-items: center;
         -ms-flex-align: center;
         align-items: center;
         text-align: left
     }

     .applyng-right, .components__item, .last h2, .vibro .quote, .vibro__title {
         text-align: center
     }

     .vibro {
         padding-top: 0;
         background: url(vibro-bg.jpg) 65% 25% no-repeat, -webkit-gradient(linear, left bottom, left top, from(#9d1f7d), color-stop(50%, #9d1f7d), color-stop(50%, #460d36));
         background: url(vibro-bg.jpg) 65% 25% no-repeat, -webkit-linear-gradient(bottom, #9d1f7d 0, #9d1f7d 50%, #460d36 50% #460d36 100%);
         background: url(vibro-bg.jpg) 65% 25% no-repeat, -o-linear-gradient(bottom, #9d1f7d 0, #9d1f7d 50%, #460d36 50% #460d36 100%);
         background: url(vibro-bg.jpg) 65% 25% no-repeat, linear-gradient(to top, #9d1f7d 0, #9d1f7d 50%, #460d36 50% #460d36 100%);
         -webkit-background-size: 800px, 100%;
         background-size: 800px, 100%;
         padding-bottom: 10px
     }

     .vibro-left {
         padding: 0
     }

     .vibro__title {
         padding-right: 0;
         padding-bottom: 15px
     }

     .vibro .list__item {
         padding-top: 10px;
         padding-bottom: 10px;
     }

     .vibro .quote {
         font-size: 1rem;
         margin-left: 0;
         max-width: 100%
     }

     .vibro .quote::before {
         left: 50%;
         margin-left: -15px
     }

     .vibro .quote img {
         margin-bottom: 10px
     }

     .vibro .quote span {
         line-height: 1.3
     }

     .ingredients {
         padding-top: 40px;
         min-height: auto;
         padding-bottom: 20px
     }

     .ingredients-right {
         display: none
     }

     .components {
         display: block;
         padding-top: 15px
     }

     .components__item {
         padding: 130px 40px 0;
         width: 100%
     }

     .components__item h6 {
         border-bottom: none
     }

     .components__item p {
         padding-top: 5px
     }

     .applyng, .ectasy {
         padding-top: 30px;
         min-height: auto
     }

     .components__item::before {
         left: 50%;
         -webkit-transform: translateX(-50%);
         -ms-transform: translateX(-50%);
         transform: translateX(-50%)
     }

     .applyng {
         background: url(applyng-bg-sm.jpg) bottom center no-repeat #252c3f;
         padding-bottom: 190px
     }

     .applyng-right {
         margin-top: 5px;
         font-size: 1rem;
         line-height: 1.4;
         float: none
     }

     .ectasy {
         -webkit-background-size: 1000px 1000px;
         background-size: 1000px;
         background-position-x: 40%;
         padding-bottom: 260px
     }

     .ectasy__title {
         font-size: 1.2rem
     }

     .ectasy__product {
         -webkit-transform: translateX(-27%) scale(.5);
         -ms-transform: translateX(-27%) scale(.5);
         transform: translateX(-27%) scale(.5)
     }

     .ectasy-right {
         float: none;
         width: 90%;
         padding-top: 10px;
         margin: 0 auto
     }

     .ectasy-right .button {
         display: none
     }

     .comments {
         padding: 30px 0 0;
         min-height: auto
     }

     .comments__title {
         margin-bottom: 20px
     }

     .comments-list {
         display: block
     }

     .comments__item {
         padding-top: 160px;
         max-width: none
     }

     .comments__item::before {
         -webkit-transform: translateX(-50%) scale(.7);
         -ms-transform: translateX(-50%) scale(.7);
         transform: translateX(-50%) scale(.7);
         -webkit-transform-origin: 50% 0;
         -ms-transform-origin: 50% 0;
         transform-origin: 50% 0
     }

     .last {
         background: url(last-bg-sm.jpg) 50% 25% no-repeat, -webkit-gradient(linear, left bottom, left top, from(#8c1a6f), color-stop(70%, #8c1a6f), color-stop(70%, #5d0d48), to(#5d0d48));
         background: url(last-bg-sm.jpg) 50% 25% no-repeat, -webkit-linear-gradient(bottom, #8c1a6f 0, #8c1a6f 70%, #5d0d48 70%, #5d0d48 100%);
         background: url(last-bg-sm.jpg) 50% 25% no-repeat, -o-linear-gradient(bottom, #8c1a6f 0, #8c1a6f 70%, #5d0d48 70%, #5d0d48 100%);
         background: url(last-bg-sm.jpg) 50% 25% no-repeat, linear-gradient(to top, #8c1a6f 0, #8c1a6f 70%, #5d0d48 70%, #5d0d48 100%);
         padding-bottom: 40px;
         overflow: hidden
     }

     .last__product {
         -webkit-transform: translate(-20%, 0) scale(.5);
         -ms-transform: translate(-20%, 0) scale(.5);
         transform: translate(-20%, 0) scale(.5);
         -webkit-transform-origin: 50% 0;
         -ms-transform-origin: 50% 0;
         transform-origin: 50% 0;
         bottom: auto;
         top: 12%;
     }

     .last-right {
         float: none;
         padding: 215px 0 0;
         width: auto
     }

     .last .quote::before {
         margin-left: 70px
     }

     .last h2 {
         font-size: 1.5rem
     }

     .last-counter {
         display: none
     }
 }
