header {
  width: 100%;
  margin: 0 auto;
  background: #0b5891;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 100;
}

.header__left {
  display: flex;
}

.header__icon {
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 10px;
  width: 33px;
  height: 29px;
  line-height: 29px;
  position: relative;
}

.zoom {
  color: white;
  font-size: 16px;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.header__menu {
  margin-left: 10px;
  color: #FFF;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 10px;
  padding: 0 12px;
  height: 29px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__menu span {
  margin-right: 4px;
  font-size: .6875rem;
  font-weight: normal;
  line-height: 26px;
  color: #FFF;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
}

.header__logo {
  height: 25px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: url('../img/eltiempo_logo.png') 0 -28px no-repeat;
  background-size: 120px;
  width: 120px;
}

.header__client {
  display: flex;
  align-items: center;
}

.header__login {
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 10px;
  position: relative;
  font-size: .6875rem;
  font-weight: normal;
  line-height: 26px;
  color: #FFF;
  height: 29px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
}

.header__login span {
  font-size: .6875rem;
  font-weight: normal;
  line-height: 26px;
  color: #FFF;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  padding: 0 12px 0 0;
}

.header__login i {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 5px;
}

.header__news {
  color: #FFF;
  display: inline-block;
  border-radius: 10px;
  margin: 0 0 0 7px;
  padding: 0;
  line-height: 28px;
  width: auto;
  background-image: linear-gradient(-136deg,#1796b4 0,#21d6ce 100%);
  height: 100%;
  height: 29px;
  vertical-align: top;
  transition: margin .5s;
  position: relative;
}

.header__news span {
  font-size: .6875rem;
  font-weight: normal;
  line-height: 28px;
  color: #FFF;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  padding: 0 12px 0 0;
  text-align: center;
}

.header__news i {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 5px;
}

@media screen and (max-width: 750px) {
  .header__menu span {
    display: none;
  }
  .header__icon {
    display: none;
  }
  .header__news span {
    display: none;
  }

  .header__news i {
    padding: 10px;
  }

  .header__login span {
    display: none;
  }

  .header__login i {
    padding: 10px;
  }
}