html{
	height: 100%;
}
body{
    height:100%;
    font: 14px/16px  'Montserrat', sans-serif;
    color:#fff;
    background-color:#000;
}
ol, ul {
	list-style-type: none;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
a, a:hover {
	text-decoration: none;
}
a:focus{
	outline: none;
}
.clearfix:after,
.clearfix:before{
	content:" ";
	display: table;
}
.clearfix:after{
	clear:both;
}
.left {	float: left; }
.right{ float: right;}
.text-left{
	 text-align: left;
}
.text-right{
	text-align: right;
}
.container{
	width: 97%;
	max-width: 1180px;
	margin: 0 auto;
}
/* add styles*/
.color_white{
	color:#fff;
}
.color-main{
	color:#F7921D;
	font-weight: bold;
}
.fa-bars{
	display: none;
	font-size: 36px;
	margin-top: 13px;
}
.fa-bars:hover{
	cursor:pointer;
}
.top-panel.default{
	position: fixed;
	background: #0D0D0D;
	top: 0;
	height: 60px;
	z-index: 999999999;
}
.form-section-xs{
	background:#000;
	display: none;
}
.header-img-wrap{
	margin-left:-15px;
}
.header-img2,
.header-img3{
	display: none;
}
.header-txt-sm{
	display: none;
}
.form-sm{
	float:none !important;
	margin: 15px auto 50px !important;
}


/*HEADER*/

.top-panel{
	height: 60px;
	width: 100%;
	background:#0D0D0D;
	position: fixed;
	z-index: 99999;
}
.logo-block{
	padding: 12px 27px;
}
.navigation{
	margin-left: 100px;
}
.menu_item{
	display: inline-block;
	padding: 21px 4px 21px 33px;
}
.menu_item a{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color:#9D9D9D;
}
.menu_item a:hover{
	color:#F7941D;
}
.menu_item a.active{
	color:#F7941D;
}

/* hover gradient*/
.btn{
	width: 172px;
	height: 41px;
	color:#FFF3F1;
	font-size: 14px;
	text-transform: uppercase;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	background: linear-gradient(to left, #FF024A, #F7931D);
	font-weight: bold;
	line-height: 41px;
	text-align: center;
  border-radius: 30px;
  box-shadow: 0px 0px 54px rgba(255, 29, 40, .6);
  transition: 0.5s all;
  
  /* new added properties */
  display: block;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

/* add after pink element without gradiet */ 
.btn:before {
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: #FF024A;
  transition: 0.45s all;
  transform: translateX(101%);
}

/* set SPAN over parent after element */ 
.btn span {
  position: relative;
}
.btn input {
  position: relative;
}

.btn-block{
	margin-top: 8px;
}
.btn-block:hover{
	cursor:pointer;
}
/* hover effect*/
.btn:not(:disabled):hover{
	box-shadow: none;
  background-position: -172px 0;
}
.btn:not(:disabled):hover:before {
  transform: translateX(0);
}
.btn:not(:hover):before {
  transition: 0.55s all;
}

.header{
	padding:115px 0 100px;
	margin:0 auto;
	min-height: 577px;
	width: 1290px;
	background: url(../images/Gif_01.gif) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}
.header-txt{
	font-size: 50px;
	line-height: 65px;
	font-weight: bold;
	color:#F7941D;
	text-transform: uppercase;
	position: relative;
	top: -48px;
	left: 19px;
	margin-left: -37px;
}

.price-block{
	margin-top: 35px;
}
.old-price{
	position:relative;
	font-size: 27px;
	font-weight: normal;
	color:#E1E1E1;
	top: 6px;
}
.old-price::after,
.old-price::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0px;
    width: 62px;
    height: 1px;
    background: #E1E1E1;
    transform: rotate(22deg);
}
.old-price::after{
	transform: rotate(-22deg);
}
.new-price{
	font-size: 60px;
	color:#FF0101;
}
.header-img{
	margin-top:-25px;
}
.header-img-wrap,
.header-txt{
	display: inline-block;
}

.form{
	margin-top: 15px;
	padding: 0 10px 0 14px;
	width: 275px;
	height: 354px;
	text-align: center;
}
.form-title{
	display: block;
	text-align: center;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: -1px;
	margin-bottom: 25px;
}
.input-name,
.input-phone, select.al-country{
	width: 251px;
	padding:7px 9px;
	height: 37px;
	font-size: 14px;
	color: #F9F8F8;
	background: #2A2625;
	border:none;
	border-radius: 5px;
	margin-bottom: 14px;
}
[type=submit]{
	border:none;
}
.input-phone{
	margin-bottom: -8px;
}
.policys{
	text-decoration: underline;
}
.btn-form{
	margin: 50px auto 10px;
	width: 251px;
	height: 54px;
}
.secure-block{
	padding: 15px 14px;
}
.macafea{
	margin-top: 4px;
}

/*LIBIDO SECTION*/
.libido-section{
	min-height: 300px;
	background:#0D0D0D;
	text-align: center;
}
.libido-sm{
	padding:40px;
}
.libido-section-title{
	padding:55px 40px;
	font-size: 24px;
	color:#727272;
	font-weight: bold;
	text-transform: uppercase;
}
.libido-block{
	min-height: 115px;
}
.libido-block-txt{
	position: relative;
	display: block;
	text-align: left;
	line-height: 24px;
	padding: 35px 0 0 140px;
	font-size: 16px;

}
.libido-block-txt:before{
	content: "";
	display: block;
	position:absolute;
	top: 42px;
	left: 88px;
	width: 33px;
	height: 38px;
}
.libido-block-txt1:before{
	background: url(../images/libido-icon-1.png) no-repeat center;
}
.libido-block-txt2:before{
	background: url(../images/libido-icon-2.png) no-repeat center;
}
.libido-block-txt3:before{
	background: url(../images/libido-icon-3.png) no-repeat center;
}
.libido-block1{
	background: url(../images/01.png) no-repeat center;
}
.libido-block2{
	background: url(../images/02.png) no-repeat center;
}
.libido-block3{
	background: url(../images/03.png) no-repeat center;
}
/*CHOISE SECTION*/
section.choise{
	min-height: 516px;
	background:#EE8E1D;
	text-align: center;

}
.choise-title{
	padding-top: 60px;
}
.choise-item{
	margin-top: 50px;
	text-align: left;
}
.choise-item-title{
	font-size: 20px;
	line-height: 29px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
}
.choise-item-txt-item{
	margin-left: 30px;
	position:relative;
	font-size: 16px;
	line-height: 40px;
	color:#000;
}
.choise-item-txt-item:before{
	content: '';
	display: block;
	position:absolute;
	top: 11px;
	left: -30px;
	width: 18px;
	height: 18px;
}
.bad:before{
	background: url(../images/icon-bad.png) no-repeat center;
}
.good:before{
	background: url(../images/icon-good.png) no-repeat center;
	top: 12px;
}
.choise-item-good{
	margin-left: 52px;
}
.choise-item-title-bad{
	color:#CF0000;
}
.choise-item-title-good{
	color:#006C10;
}
.choise-img{
	position: relative;
	bottom: -6px;
	left: -138px;
}
/*BLOGGER SECTION*/
section.blogger{
	position:relative;
	min-height: 746px;
	/* background: #000 url(../images/blogger-bg.png) no-repeat center; */
	-webkit-background-size: contain;
	background-size: contain;
	background: #000 url(../images/blogger-bg.png) no-repeat 240px -40px;
}
.blogger-block{
	text-align: left;
	max-width: 550px;
}
.blogger-title{
	padding:60px 0;
	font-size: 24px;
	line-height: 35px;
	color:#ED8E1C;
	font-weight: bold;
	text-transform: uppercase;
}
.blogger-txt{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 30px;
}
.blogger-name{
	font-size: 16px;
	line-height: 24px;
	color:#727272;
	margin:45px 0 60px;
}
.blogger-btn{
	width: 250px;
	height: 54px;
	font-size: 16px;
	line-height: 54px;
	margin-bottom: 50px;
}
.radial-gradient{
	position:absolute;
	top:0;
	height: 258px;
	width: 50%;
	left:0;
	right:0;
	margin: 0 auto;
	background:radial-gradient(at top, rgba(240, 144, 29, .2), rgba(0, 0, 0, .2) );
}
/*consistence section*/
section.consist{
	min-height: 620px;
	background: #000000 url(../images/product.png) no-repeat center;
	text-align: center;

}
.consist-title{
	color:#6F6D6D;
	font-size: 24px;
	line-height: 35px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.consist-item{
	width: 410px;
	height: 180px;
	text-align: left;
	padding-left: 77px;
	padding-top: 20px;
}
.consist-title{
	margin-bottom: 45px;
}
.consist-item1{
	background: url(../images/molecule.png) no-repeat left top;
	margin-bottom: 50px;
}
.consist-item2{
	background: url(../images/garlic.png) no-repeat left top;
	margin-bottom: 50px;
}
.consist-item3{
	background: url(../images/daffodil.png) no-repeat left top;
}
.consist-item4{
	background: url(../images/leaves.png) no-repeat left top;
}
.consist-item-title{
	font-size: 20px;
	line-height: 30px;
	color:#F1911D;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 15px;
}
.consist-item-txt{
	font-size: 16px;
	line-height: 24px;
	padding-right: 34px;
}
/* ATTENTION SECTION*/
.section{
	height: 1000px;
	background:#000;
}
section.attention{
	position:relative;
	padding:25px 0;
	min-height: 140px;
	background:#F1911D;
	box-shadow: 0 0 55px rgba(241, 145, 29, .47);
	z-index: 9999;
}
.attention_img{
	margin-right:10px;
}
.attention_txt{
	font-size: 16px;
	line-height: 31px;
	color:#CF0000;
	text-transform: uppercase;
	font-weight: bold;
}
.att_size{
	font-size: 30px;
	line-height: 24px;
}
section.howuse{
	padding: 25px 0;
	min-height: 440px;
	background:#000;
	text-align: center;
}
.howuse-item{
	margin-top: 27px;
}
.howuse-img{
	margin-bottom: 25px;
}
.howuse-txt{
	padding: 0 65px;
	text-align: left;
	font-size: 16px;
	line-height: 24px;
}
/*SECTION STEPS*/

section.steps{
	padding: 50px 0;
	min-height: 363px;
	background:#F1911D;
	text-align: center;
}
.steps-title{
	font-size: 24px;
	color:#11100D;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.steps-item{
	padding:65px 42px 0 40px;
	width: 265px;
	min-height: 236px;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	color:#0E0E0D;
}
.steps-item-title{
	display: block;
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 20px;
}
.steps-item1{
	background:url(../images/operator.png) no-repeat left top;
}
.steps-item2{
	background:url(../images/delivery-truck.png) no-repeat left 20px;
	    padding-right: 57px;
}
.steps-item3{
	background:url(../images/anonim.png) no-repeat left 10px;
}
.steps-item4{
	background:url(../images/lock.png) no-repeat left top;
}

/*SECTION OTZIVI*/
section.response{
	padding: 30px 0 65px;
  min-height: 650px;
  background-image: linear-gradient(to bottom, #080502 0%, rgba(51,32, 16, .5) 50%, #080502 100%);
  text-align: center;
}
.title-response{
	font-size: 24px;
	line-height: 35px;
	color:#78736E;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 55px;
}
 .comment-item{
 	font-family: Helvetica, sans-serif;
    width: 290px;
    height: 510px;
    background: url('../images/slide-bg.jpg') no-repeat;  
    padding: 70px 0;
    margin: 0 auto;
    font-size: 14px;
    position: relative;
    text-align: left;
}
 .coment__time{
     color: #fff;   
     position: absolute;
     top: 2px;
     left: 5px;
     font-size: 12px
}
 .comment__left,
 .comment__right{
    width: 70%;
    border-radius: 15px;
    padding: 5px;
    margin: 5px 10px;    
}
 .comment__right{
    background: #0084fb; 
    float: right;  
    color: white;  
}
 .comment__left{
    background: #eaeaea;   
    margin-left: 55px;
    float: left;
    position: relative;
    color:#550000;
}
.comment__ava{
    display: block;
    position: absolute;
    width: 35px; 
    height: 35px;
    background-image: url('../images/css_sprites.png');
    bottom: 0;
    left:-45px;
}    
.ava1{   
    background-position:-10px -10px;
}
.ava2{   
    background-position:-65px -10px;
}
.ava3{   
    background-position:-10px -65px;
}


 .slick-next,
 .slick-prev{
    display: none !important;
}
.response .slick-dots{
    text-align: center;
    margin-top: 35px;
}
.response .slick-dots li{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    border: 2px solid #F1911D;
    cursor: pointer;
    margin: 0 11px;
}
.response .slick-dots button{
    display: none;
}
.response .slick-active{
    background-color: transparent;
}
/* FOOTER SECTION */
footer{
	padding-top:85px !important;
	width: auto !important;
	margin:0 auto;
}






/* count*/


.block_1{
	background:#2A2625;
	width: 250px;
	height: 70px;
	border-radius: 5px;
	text-align: center;
	padding: 10px 0;
	margin-left: 15px;
	margin-right: 12px;
	white-space: nowrap;
}
.timer__text{
	font-size: 12px;
	color:#fff;
	margin-bottom: 8px;
}
.block_1 .countbox {
    display: inline-block;
    vertical-align: top;
    font-size: 35px;
    color: #D4D3D3;
}

.block_1 .countbox .countbox-num,
.block_1 .countbox .countbox-space {
    display: inline-block;
    vertical-align: middle;
}

.block_1 .countbox-hours1,
.block_1 .countbox-mins1,
.block_1 .countbox-secs1,
.block_1 .countbox-hours2,
.block_1 .countbox-mins2,
.block_1 .countbox-secs2 {
    float: left;
    z-index: 1;
}
.block_1 .countbox-secs1,
.block_1 .countbox-secs2{
	color:#C8791A;
}
.block_1 .countbox .countbox-space:before {
    content: ':';
    padding: 0 10px;
}

.footer-img-wrap{
	margin-top: 70px;
}
.btn-block{
	display: none;
}
.timer-header{
    background: transparent;
    width: 197px;
    height: 70px;
    border-radius: 5px;
    text-align: center;
    padding: 4px 0;
    float: right;
    margin-right: 35px;
}
.disp-none{
	display: none;
}
.btn-fix-wrap{
		-webkit-transform:translateY(100%);
		transform: translateY(100%);
	transition:all .5s;
	}

.fixed{
	-webkit-transform:translateY(0);
	transform:translateY(0) !important;
	-webkit-transition:all .5s;
	transition:all .5s}
	.input-checkbox{position:relative; top: 25px; left: 5px; text-align:left;}
	.input-checkbox label{cursor:pointer;position:absolute;width:20px;height:20px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);left:0;border: 1px solid #363636;background-color: transparent; border-radius:5px;}
	.input-checkbox label:after{content:"";position:absolute;opacity:0;width:10px;height:7px;background:transparent;top:4px;left:4px;border:3px solid #F9F9F9;border-top:none;border-right:none;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
	.form__input[type="checkbox"]{position:absolute;display:inline-block;vertical-align:top;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);width:18px;height:18px;margin-bottom:0;margin-top:0;opacity:0}
	.form__input[type="checkbox"]:checked+label:after{opacity:1}
	[type=submit]:disabled{cursor:not-allowed;opacity: 0.7;}
	.agreement{font-weight:400;color:#959595;font-size:12px;line-height:14px;display:inline-block;margin-left:36px;  letter-spacing: -1px;}
	.agreement a{color: #959595;text-decoration:underline;display:inline-block}
	.footer{
	background: #000 !important;
	color: #fff !important;
	}