<section class="section section_beauty">
    <div class="section__list-2">
        <img src="../media/section/list-2.png" alt="">
    </div>
    <div class="container">
        <div class="beauty">
            <div class="beauty__body">
                <div class="section__title beauty__title" data-aos="fade-up">intenskin</div>
                <div class="beauty__subtitle" data-aos="fade-up">сохранит молодость и красоту вашей кожи</div>
            </div>
        </div>
    </div>
</section>