<section class="section section_causes">
    <div class="container">
        <div class="causes">
            <div class="section__title causes__title" data-aos="fade-up">Что влияет</div>
            <div class="causes__subtitle" data-aos="fade-up">на состояние нашей кожи?</div>
            <div class="causes__body">
                <div class="causes__item">
                    <div class="causes__count">1</div>
                    <div class="causes__media"><img src="../media/causes/img-1.jpg" alt=""></div>
                    <div class="causes__line"></div>
                    <div class="causes__info">Стрессы и хроническая усталость</div>
                </div>
                <div class="causes__item">
                    <div class="causes__count">2</div>
                    <div class="causes__media"><img src="../media/causes/img-2.jpg" alt=""></div>
                    <div class="causes__line"></div>
                    <div class="causes__info">Возраст, неправильный уход</div>
                </div>
                <div class="causes__item">
                    <div class="causes__count">3</div>
                    <div class="causes__media"><img src="../media/causes/img-3.jpg" alt=""></div>
                    <div class="causes__line"></div>
                    <div class="causes__info">Окружающая среда</div>
                </div>
                <div class="causes__item">
                    <div class="causes__count">4</div>
                    <div class="causes__media"><img src="../media/causes/img-4.jpg" alt=""></div>
                    <div class="causes__line"></div>
                    <div class="causes__info">Наследственность</div>
                </div>
            </div>
        </div>
    </div>
</section>