<section class="section section_commits" id="elem4">
    <div class="container">
        <div class="commits">
            <div class="commits__wrap-title" data-aos="fade-up">
                <div class="section__title commits__title">Отзывы:</div>
            </div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-1.jpg" alt=""></div>
                    <div class="commits__name">Валерия, <span>41 год</span></div>
                    <div class="commits__description">Упаковка очень красивая – достойно и на подарок. Сам крем понравился, не жирный, быстро впитывается. Неплохой объем, хватит надолго. Пользуюсь дня три, а кожа под глазами уже стала более ровной и гладкой. После крема косметика ложится идеально.</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-2.jpg" alt=""></div>
                    <div class="commits__name">Евгения, <span>50 лет</span></div>
                    <div class="commits__description">Использую месяц. Хороший эффект был сразу после 1го применения: кожа стала более увлажненная, мелкие морщинки стали менее заметными. Синяки под глазами пропали на через неделю примерно. А вот после месяца лицо, как мне кажется, визуально помолодело на лет 8! Морщинок почти не осталось, цвет лица приобрел приятные оттенки, сошли все отеки. Буду заказывать крем еще.</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-3.jpg" alt=""></div>
                    <div class="commits__name">Клара, <span>34 года</span></div>
                    <div class="commits__description">После второй беременности и родов очень испортилось качество кожи, из-за недосыпа под глазами синяки и отеки появились. Искала средство от этого недуга. Опиралась на рекомендации знакомых и отзывы. Решила испытать на себе Intenskin и скажу, что я в восторге! Он действительно работает! Заметный лифтинг эффект после первых применений, морщинки постепенно разгладились, тон кожи из серых цветов перешел в телесно-розовые.</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-4.jpg" alt=""></div>
                    <div class="commits__name">Ольга, <span>42 года</span></div>
                    <div class="commits__description">Боже, это любовь с первого взгляда, еще ни один крем не давал такого увлажнения кожи! При нанесении быстро впитывается, кожа моментально становится светлее, заметно увлажненной, за счёт чего мелкие морщинки пропадают. С каждым применением взгляд становится все свежее и свежее. Intenskin – это просто находка для моей сухой кожи.</div>
                </div>
            </div>
        </div>
    </div>
</section>