
<section class="section section_problems">
    <div class="section_problems-media"><img src="../media/problems/human.png" alt=""></div>
    <div class="container">
        <div class="problems">
            <div class="section__title problems__title" data-aos="fade-up">75% женщин </div>
            <div class="section__subtitle problems__subtitle" data-aos="fade-up">к концу дня выглядят старше, чем утром*</div>
            <div class="problems__body">
                <p>Механизм восстановления клеток кожи занимает <b>24 часа в соответствии с суточными биоритмами.</b> После 30 лет коже требует около 30 часов для обновления. Чем старше вы становитесь, тем больше времени нужно для восстановления.</p>
                <p>Без дополнительной поддержки клетки не могут нормально функционировать и производить необходимые для молодости кожи коллаген и эластин.</p>
                <p><mark>Решением может стать правильно подобранный крем-уход за кожей.</mark></p>
            </div>
            <div class="problems__footer">*данные основаны на дерматологическом анализе кожи среди 2000 женщин.</div>
        </div>
    </div>
</section>
