
<section class="section section_professionals" id="elem3">
    <div class="container">
        <div class="professionals">
            <div class="section__title professionals__title" data-aos="fade-up">Мнение специалиста:</div>
            <div class="professionals__description">
                <p><b>Активный компонент Intenskin – коллоидное золото, которое буквально возрождает кожу.</b></p>
                <p>Попадая в дерму, оно расслабляет мышцы и выталкивает даже глубокие морщины изнутри. При этом никак не влияет на вашу мимику – лицо выглядит естественно – после инъекций филлеров и ботокса такой результат невозможен. Крем имеет накопительное действие. Чем дольше вы пользуетесь им, тем более выраженный эффект.</p>

                <div class="professionals__name"><span>Кристина Гвоздева, <br> врач-косметолог.</span><span><img src="../media/professionals/id.png" alt=""></span></div>
            </div>
            <div class="professionals__product"><img src="../media/product-3.png" alt=""></div>
            <div class="professionals__btn">ЗАКАЗАТЬ</div>
        </div>
    </div>
</section>
