
<section class="section section_time">
    <div class="section__list-3">
        <img src="../media/section/list-3.png" alt="">
    </div>
    <div class="container">
        <div class="time">
            <div class="section__title time__title" data-aos="fade-up">Поверните время вспять </div>
            <div class="section__subtitle time__subtitle" data-aos="fade-up">вместе с intenskin</div>
            <div class="time__body">
                <p><b>Многофункциональный крем с технологией 3D-коррекции выравнивает рельеф и восстанавливает кожу.</b></p>
                <p>Это происходит благодаря стимуляции выработки коллагена и эластина. Ультралегкая молекулярная формула крема проникает в самые глубокие слои дермы и помогает коже оздоровиться и сохранить эффект омоложения надолго.</p>
                <div class="time__body-media">
                    <span>До</span>
                    <span>После</span>
                    <div class="time__body-img">
                        <img src="../media/time/img-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
