*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer, article, aside, nav, section {
    display: block;
}

html {
    width: 100%;
}

body {
    font-size: 20px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    color: #000;
    background: #fff;
    font-weight: 400;
    width: 100%;
}

.clearfix {
    clear: both;
}

.m-responsive {
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;

}
.text-uppercase
{
    text-transform: uppercase;
}
.d-mobile {
    display: none !important;
}

.d-center {
    display: block;
    margin: 0 auto;
}
.m-red
{
    color: #ce0303;
}
.m-purple
{
    color: #b49fd3;
}
a
{
    color: #fff;
    text-decoration: none;
}
p
{
    margin-bottom: 30px;
}
input, button
{
    outline: none;
}
.wrapper
{
    overflow: hidden;
}
.container
{
    width: 1000px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.b-header
{
    color: #fff;
    background: url("../img/header_pink.png") no-repeat left top, url("../img/header_bg.jpg") no-repeat center top;
    position: relative;
    z-index: 50;
    padding: 60px 0 178px;
    mask: url(../img/header_bg.svg#mask-hd);
    -webkit-mask: url(../img/header_bg.svg) no-repeat center bottom  / auto 100%;
    -o-mask: url(../img/header_bg.svg) no-repeat center bottom  / auto 100%;
    -ms-mask: url(../img/header_bg.svg) no-repeat center bottom  / auto 100%;
}

.no-svg
{
    display: none;
}
.b-header__title
{
    font-size: 110px;
    font-family: 'Playfair Display';
    font-style: italic;
    line-height: 0.9;
    margin: 110px 0 25px;
}
.b-header__title span
{
    display: block;
    margin-left: 125px;
}
.slogan
{
    font-size: 22px;
    font-weight: 300;
    max-width: 310px;
    margin-left: 125px;
    margin-bottom: 125px;
}
.btn-transparent
{
    font-size: 22px;
    display: inline-block;
    font-weight: 300;
    background: rgba(255,92,161,.42);
    background: -o-linear-gradient(left, transparent 0%,  rgba(255,92,161,.42) 100%);
    background: -webkit-gradient(linear, left top, right top, from(transparent),  to(rgba(255,92,161,.42)));
    background: linear-gradient(left, transparent 0%,  rgba(255,92,161,.42) 100%);
    padding: 18px 35px;
    border-radius: 35px;
    position: relative;
    margin-left: 155px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.btn-transparent:before {
    content: url(../img/mouse.svg);
    position: absolute;
    top: 7px;
    left: -20px;
}
.btn-transparent:hover
{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.section-1
{
    background: url("../img/back_2_1.jpg") no-repeat center top;
    padding: 146px 0 240px;;
    margin: -105px 0 0;
    position: relative;
    z-index: 45;
    mask: url(../img/background.svg#maskid);
    -webkit-mask: url(../img/background.svg) center top  / auto 100%;
    -o-mask: url(../img/background.svg) center top  / auto 100%;
    -ms-mask: url(../img/background.svg) center top  / auto 100%;
}
.title
{
    font-family: "Playfair Display";
    font-weight: 700;
    font-style: italic;
    font-size: 44px;
    line-height: 1.2;
}
.section-1__title
{
    max-width: 555px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    margin: 50px 40px 15px 55px;
}
.reference
{
    background: url("../img/reference_bg.png") no-repeat;
    display: inline-block;
    color: #fff;
    width: 276px;
    font-size: 18px;
    font-weight: 300;
    padding: 60px 37px 50px;
    vertical-align: top;
    margin: 0 0 45px ;
}
.left-defects
{
    max-width: 260px;
    float: left;
}
.right-defects
{
    max-width: 300px;
    float: right;
}
.left-arrow, .right-arrow
{
    position: relative;
    font-weight: 700;
    padding: 12px 0;
    text-transform: uppercase;
    background: #ce0202;
    color: #fff;
    display: inline-block;
    margin-bottom: 25px;
}
.left-arrow
{
    padding-left: 37px;
    margin-left: -37px;
}
.right-arrow
{
       padding-right: 0;
    margin-right: 0;
    position: relative;
    right: -50px;
}
.left-arrow:after, .right-arrow:before
{
    position: absolute;
    border-left: 70px solid #ce0202;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    top: -30px;
    content: "";
}
.left-arrow:after
{
    right: -70px;
}
.right-arrow:before
{
    left: -70px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.left-arrow:before
{

    content: "";
    border-right: 8px solid #ce0202;
    border-top: 50px solid transparent;
    left: -8px;
    top: 0;
    position: absolute;
}
.right-arrow:after
{

    content: "";
    border-left: 40px solid #ce0202;
    border-top: 50px solid transparent;
    right: -40px;
    top: 0;
    position: absolute;
}
.left-defects__list, .right-defects__list
{
    list-style: none;
    padding: 0;
}
.left-defects__list
{
    text-align: right;
}
.left-defects__list li
{
    padding-right: 70px;
    margin-bottom: 25px;
    background-position: right center;
    background-repeat: no-repeat;
}
.right-defects__list li
{
    padding-left: 70px;
    margin-bottom: 25px;
    background-position: left center;
    background-repeat: no-repeat;
}
.def1
{
    background-image: url("../img/def1.png");
    background-position-x: 98% !important;
}
.def2
{
    background-image: url("../img/def2.png");
}
.def3
{
    background-image: url("../img/def3.png");
    background-position-x: 96% !important;
}
.def4
{
    background-image: url("../img/def4.png");
}
.def5
{
    background-image: url("../img/def5.png");
    background-position-x: 97% !important;
}
.def6
{
    background-image: url("../img/def6.png");
}
.def7
{
    background-image: url("../img/def7.png");
    background-position-x: 4% !important;
}
.def8
{
    background-image: url("../img/def8.png");
    background-position-x: 4% !important;
}
.def9
{
    background-image: url("../img/def9.png");
    background-position-x: 3% !important;
}
.section-2
{
    background: url("../img/back_3.jpg") no-repeat center top;
    padding: 314px 0 65px;
    position: relative;
    margin-top: -145px;
    z-index: 40;
    mask: url(../img/back_2.svg#mask-2);
    -webkit-mask: url(../img/back_2.svg) center bottom  / auto 100%;
    -o-mask: url(../img/back_2.svg) center bottom  / auto 100%;
    -ms-mask: url(../img/back_2.svg) center bottom  / auto 100%;
}
.leaf1
{
    position: absolute;
    width: 77px;
    height: 104px;
    background: url("../img/leaf1.png") no-repeat;
    top: 220px;
    right: 50%;
    margin-right: 650px;
}
.leaf2
{
    position: absolute;
    width: 106px;
    height: 118px;
    background: url("../img/leaf2.png") no-repeat;

}
.section-2 .leaf2
{
    bottom: 45px;
    right: 50%;
    margin-right: 280px;
}
.leaf3
{
    position: absolute;
    width: 140px;
    height: 98px;
    background: url("../img/leaf3.png") no-repeat;

}
.inline-wrap
{
    display: inline-block;
}
.section-2 .leaf3
{
    top: 206px;
    left: 50%;
    margin-left: 446px;
}
.leaf4
{
    position: absolute;
    width: 169px;
    height: 212px;
    background: url("../img/leaf4.png") no-repeat;
    bottom: 300px;
    right: 50%;
    margin-right: 700px;
}
.section-2__title
{
    display: inline-block;
    text-align: right;
    max-width: 390px;
    vertical-align: top;
}
.img-inline
{
    display: inline-block;
    vertical-align: middle;
    margin: -105px -68px 0 15px;
    position: relative;
    z-index: 5;
}
.programm-pluses
{
    display: inline-block;
    vertical-align: top;
    max-width: 395px;
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    position: relative;
}
.programm-pluses:after
{
    content: "";
    width: 342px;
    height: 42px;
    background: url("../img/pluses.png") no-repeat;
    position: absolute;
    left: -243px;
    bottom: -22px;
    z-index: 0;
}
.programm-pluses li
{
    background: #fff;
    padding: 6px 0 6px 30px;
    margin-bottom: 14px;
    border-radius: 0 55px 55px 0;
    position: relative;
}
.programm-pluses li:after
{
    content: "";
    width: 6px;
    height: 27px;
    border-left: 1px solid #ff5ca1;
    border-right: 1px solid #ff5ca1;
    position: absolute;
    left: 76px;
    bottom: -20px;
    z-index: 20;
}
.programm-pluses li img
{
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.programm-pluses li span
{
    display: inline-block;
    vertical-align: middle;
    max-width: 250px;
}
.programm-pluses li strong
{
    display: block;
    text-transform: uppercase;
}
.btn
{
    display: inline-block;
    background: #ff5ca1;
    padding: 34px 55px;
    border-radius: 50px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-box-shadow: -10px 20px 20px rgba(255,92,161,.3);
    box-shadow: -10px 20px 20px rgba(255,92,161,.3);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    border: none;
    color: #fff;
}
.btn:hover
{
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.section-2 .btn {
    position: relative;
    bottom: 172px;
    margin-left: 25px;
}

.section-3
{
    background: #f9f1fd;
    padding: 180px 0 175px;
    margin-top: -170px;
    position: relative;
    z-index: 35;
    mask: url(../img/back_3.svg#mask-3);
    -webkit-mask: url(../img/back_3.svg) center bottom  / auto 100%;
    -o-mask: url(../img/back_3.svg) center bottom  / auto 100%;
    -ms-mask: url(../img/back_3.svg) center bottom  / auto 100%;
}
.calculator
{
    display: inline-block;
    max-width: 390px;
    vertical-align: middle;
    position: relative;
    padding: 65px 0;
}
.calculator:after
{
    content: "";
    background: url("../img/right_arrow.png");
    width: 151px;
    height: 62px;
    right: -151px;
    top: 130px;
    position: absolute;
}
.calc-title
{
    font-size: 23px;
    margin-bottom: 35px;
}
.input-wrap
{
    border: 1px solid #8d58b7;
    border-radius: 35px;
    background: #fcf9fe;
    color: #8d58b7;
    font-size: 18px;
    padding-left: 23px;
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;
}
.input-wrap span
{
    display: inline-block;
    margin-top: 20px;
    font-weight: 300;
}
.input-wrap label
{
    position: absolute;
    right: 150px;
    top: 20px;
    font-weight: 300;
}
.input-number
{
    border: none;
    border-radius: 30px;
    height: 64px;
    width: 190px;
    float: right;
    padding-left: 55px;
}
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-number {
    -moz-appearance: textfield;
}
/*.input-number:hover,*/
/*.input-number:focus {*/
    /*-moz-appearance: number-input;*/
/*}*/

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.calc-form
{
    max-width: 330px;
    margin: 0 auto;
}
.btn-calc
{
    color: #fff;
    width: 100%;
    display: block;
    background: #8d58b7;
    padding: 25px 0;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    border: none;
    border-radius: 40px;
    -webkit-box-shadow: 0 10px 20px rgba(141,88,183,.3);
    box-shadow: 0 10px 20px rgba(141,88,183,.3);
    cursor: pointer;
    margin-top: 30px;
}
.btn-calc:hover
{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.calc-result
{
    max-width: 550px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.img-border
{
    display: inline-block;
    position: relative;
    padding: 21px 35px 21px 8px;
}
.img-border:after
{
    content: "";
    background: url("../img/border.png") no-repeat;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.calc-result>div>strong
{
    display: block;
}
.calc-result>div
{
    display: none;
}
.fat-girl
{
    position: absolute;
    left: 50%;
    top: 116px;
    z-index: 40;
    bottom: -50px;
    margin-left: 30px;
    animation: fadeIn 2s ease 1;
    -moz-animation: fadeIn 2s ease 1;
    -webkit-animation: fadeIn 2s ease 1;
    -o-animation: fadeIn 2s ease 1;
}
.btn-result
{
    padding: 24px 80px;
    font-size: 24px;
    position: relative;
    margin-top: 50px;
}
.btn-result:before, .btn-result:after
{
    content: "";
    position: absolute;
    width: 27px;
    height: 17px;
    background: url("../img/purple_arrow.png") no-repeat;
    left: 50%;
    margin-left: -13px;
}
.btn-result:before
{
    top: -25px;
    -webkit-animation: move 1s ease infinite;
    animation: move 1s ease infinite;
}
.btn-result:after
{
    bottom: -25px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-bottom: -5px;
    -webkit-animation: move2 1s ease infinite;
    animation: move2 1s ease infinite;
}
@-webkit-keyframes move {
    0%, 100%
    {
        margin-top: 0;
    }
    50%
    {
        margin-top: 5px
    }

}
@keyframes move {
    0%, 100%
    {
        margin-top: 0;
    }
    50%
    {
        margin-top: 5px
    }
}
@-webkit-keyframes move2 {
    0%, 100%
    {
        margin-bottom: 0;
    }
    50%
    {
        margin-bottom: 5px
    }

}
@keyframes move2 {
    0%, 100%
    {
        margin-bottom: 0;
    }
    50%
    {
        margin-bottom: 5px
    }
}
.section-4
{
    background: url("../img/back_4.jpg") no-repeat center top;
    padding: 222px 0 118px;
    position: relative;
    z-index: 25;
    margin-top: -135px;
    mask: url(../img/back_4.svg#mask-4);
    -webkit-mask: url(../img/back_4.svg) center bottom  / auto 100%;
    -o-mask: url(../img/back_4.svg) center bottom  / auto 100%;
    -ms-mask: url(../img/back_4.svg) center bottom  / auto 100%;
}
.section-4 .title
{
	font-size: 42px;
}
.gymnast
{
    position: absolute;
    right: 50%;
    top: 112px;
    margin-right: -102px;
}
.section-4__header
{
    max-width: 620px;
    float: right;
}
.slider-description
{
    margin-top: 50px;
}
.slider-item
{
    color: #fff;
    
    vertical-align: top;
    
}
.slide-1
{
    max-width: 380px;
    background:  rgba(242,133,177,.39);
    margin-left: 340px;
    padding: 7px;
}
.slide-1 .slide-inner
{
    padding: 10px 15px 130px 35px;
    background: #f285b1;
    line-height: 1.2;
}
.slide-num
{
    font-size: 72px;
    font-family: "Playfair Display";
    text-align: right;
    line-height: 0.7;

}
.slide-1 .slide-num
{
    margin-bottom: 30px;
}
.slide-2 .slide-num
{
    margin-bottom: 10px;
}
.slide-2
{
    max-width: 360px;
    padding: 7px;
    background:  rgba(105,219,204,.39);
    margin: -115px 0 0 233px;
}
.slide-2 .slide-inner
{
    background: #69dbcc;
    padding: 10px 15px 60px 35px;
}
.slide-3
{
    max-width: 363px;
    padding: 7px;
    background:  rgba(180,159,211,.39);
    margin: -60px -15px 0 12px;
}
.slide-3 .slide-inner
{
    background: #b49fd3;
    padding: 10px 15px 50px 35px;
}
.section-5
{
    background: url("../img/back_5.jpg") no-repeat center top;
    padding: 210px 0 133px;
    margin-top: -105px;
    position: relative;
    z-index: 23;
    mask: url(../img/back_5.svg#mask-5);
    -webkit-mask: url(../img/back_5.svg) center bottom  / auto 100%;
    -o-mask: url(../img/back_5.svg) center bottom  / auto 100%;
    -ms-mask: url(../img/back_5.svg) center bottom  / auto 100%;
}
.section-5 .leaf2
{
    bottom: 15px;
    left: 50%;
    margin-left: 330px;
}
.section-5 .leaf3
{
    left: 50%;
    margin-left: 710px;
    top: 590px;
}
.section-5__title
{
    max-width: 430px;
    float: right;
    text-shadow: 0 0 10px #fff;
    position: relative;
    text-shadow: 0 0 10px #fff;
}
.components
{
    position: relative;
    margin-top: 89px;
}
.fruits
{
    position: absolute;
    top: -235px;
    right: 50%;
    z-index: 0;
    margin-right: -107px;
}
.component-item
{
    position: absolute;
    z-index: 10;
}
.indicators-block
{
	display: none;
	position: absolute;
}
.indicator
{
	width: 25px;
	border-radius: 50%;
	background: rgba(255,255,255,.75);
	color: #ff62a4;
	font-size: 30px;
	line-height: .7;
	text-align: center;
	box-shadow: 9px 9px 14px rgba(0,0,0,.35);
	padding: 1px 0 3px;
	cursor: pointer;
}
.indicator:hover
{
	background: rgba(255,255,255,1);
}
.comp1
{
    max-width: 410px;
    text-align: right;
    left: -20px;
    top: 100px;
    padding-right: 120px;
    background: url("../img/factor1.png") no-repeat right 5px;
}
.comp-title
{
    color: #fff;
    background: #b49fd3;
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 8px;
    position: relative;
}
.comp-title:before, .comp-title:after
{
    border-right: 10px solid #b49fd3;
    border-top: 34px solid transparent;
    content: "";
    position: absolute;
    top: 0;
}
.comp-title:before
{
    left: -10px;
}
.comp-title:after
{
    right: -10px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.comp2
{
    max-width: 470px;
    text-align: right;
    left: -15px;
    top: 270px;
    padding-right: 120px;
    background: url("../img/factor2.png") no-repeat right 5px;
}
.comp3
{
    max-width: 540px;
    text-align: right;
    left: -17px;
    top: 420px;
    padding-right: 120px;
    background: url("../img/factor3.png") no-repeat right 5px;
}
.comp4
{
    max-width: 425px;
    right: 20px;
    top: 0;
    padding-left: 120px;
    background: url("../img/factor4.png") no-repeat left 5px;
}
.comp5
{
    max-width: 360px;
    right: 5px;
    top: 175px;
    padding-left: 120px;
    background: url("../img/factor5.png") no-repeat left 5px;
}
.prod-comp
{
    display: inline-block;
    -webkit-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    transform: rotate(-23deg);
    position: relative;
    left: 50%;
    border-left: 3px solid #ff68a8;
    border-bottom: 3px solid #ff68a8;
    border-right: 3px solid #ff68a8;
    border-radius: 0 0 130px 144px;
    padding: 0 12px 40px 58px;
    margin: 0 0 0 -88px;
    z-index: 5;
    background: url("../img/tube_shadow.png") no-repeat 25px 10px;
}
.prod-comp img
{
    max-width: 200px;
}
.btn-wrap
{
	display: inline-block;
	background: rgba(255,255,255,.9);
    background: -o-linear-gradient(left, rgba(255,255,255,.9) 0%,  transparent 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,.9)),  to(transparent));
    background: linear-gradient(left, rgba(255,255,255,.9) 0%,  transparent 100%);
	padding: 25px;
	border-radius: 70px;
	float: right;
    position: relative;
    bottom: 160px;
	/* margin-right: 42px; */
	 z-index: 30;
}
.section-5 .btn
{
    
   
    font-size: 20px;
    padding: 29px 40px;
    
}

.section-6
{
    background: url("../img/back_6.jpg") no-repeat center top;
    padding: 140px 0;
    position: relative;
    z-index: 21;
    margin-top: -100px;
    mask: url(../img/back_6.svg#mask-6);
    -webkit-mask: url(../img/back_6.svg) center bottom  / cover;
    -o-mask: url(../img/back_6.svg) center bottom  / cover;
    -ms-mask: url(../img/back_6.svg) center bottom  / cover;
}
.section-6__title
{
    margin-bottom: 25px;
}
.insta-item
{
    max-width: 312px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    -webkit-box-shadow: 5px 5px 5px rgba(116,152,188,.32);
    box-shadow: 0 0 5px rgba(116,152,188,.32);
    font-family: "Open Sans";
    margin: 0 6px;
    padding-bottom: 30px;
    position: relative;
	outline: none;
}
.insta-item:last-child
{
    margin-right: 0;
}
.insta-item:first-child
{
    margin-left: 0;
}
.insta-author
{
    padding: 9px 10px;
    font-weight: 700;
    width: 100%;
    font-size: 13px;
}
.insta-author img
{
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}
.insta-author:after
{
    content: "\2022\00A0\2022\00A0\2022";
    display: inline-block;
    float: right;
    margin: 10px 0 0;
}
.insta-like
{
    margin: 10px 0 5px;
    display: block;
}
.insta-text
{
    padding: 13px 13px 0;
    font-size: 15px;
    line-height: 1.2;
	max-height: none;
}
.insta-text img
{
	max-width: 100%;
}
.insta-text.hidden-text
{
    max-height: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.insta-text.text1.vis-text
{
	min-height: 600px;
}
.insta-text.hidden-text:after
{
    width: 100%;
    height: 150px;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent),  to(#fff));
    background: -o-linear-gradient(top, transparent 0%,  #fff 100%);
    background: linear-gradient(top, transparent 0%,  #fff 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
}
.insta-tags
{
    color: #032f94;
    margin: 10px 0;
}
.insta-date
{
    color: #999;
    font-size: 10px;
    text-transform: uppercase;
}
.show-text
{
    position: absolute;
    width: 30px;
    height: 30px;
    color: #ff5ca1;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ff5ca1;
    text-align: center;
    cursor: pointer;
    left: 50%;
    font-size: 20px;
    margin-left: -15px;
	bottom: 0;
}
.show-text:hover
{
    color: #fff;
    background: #ff5ca1;
}
.smile
{
    display: inline-block;
    vertical-align: middle;
}
.section-7
{
    background: url("../img/back_7.jpg") center top no-repeat;
    padding: 170px 0 160px;
    position: relative;
    z-index: 18;
    margin-top: -120px;
    mask: url(../img/back_7.svg#mask-7);
    -webkit-mask: url(../img/back_7.svg) center bottom  / auto 100%;
    -o-mask: url(../img/back_7.svg) center bottom  / auto 100%;
    -ms-mask: url(../img/back_7.svg) center bottom  / auto 100%;
}
.spec-opinion
{
    max-width: 620px;
    float: right;
    margin-bottom: 103px;
}
.logo-spec
{
    max-width: 453px;
    margin: 20px 0 30px;
}
.sign
{
    float: right;
    margin: -65px 0 0;
}
.delimiter
{
    background: #ff5ca1;
    height: 1px;
    border: none;
    margin-bottom: 50px;
}
.spec-text
{
    max-width: 520px;
    float: left;
    margin-top: 55px;
}

.spec-text .title
{
    margin-bottom: 30px;
}
.spec-text p
{
    max-width: 465px;
}
.results
{
    float: right;
    position: relative;
    margin-left: -50px;
}
.results:before
{
    content: "";
    background: url("../img/round_arrow.png") no-repeat;
    width: 457px;
    height: 553px;
    position: absolute;
    left: -330px;
}
.result-item
{
    position: relative;
    max-width: 420px;
    font-size: 24px;
    line-height: 1;
}
.result-1
{
    margin: 20px 0 15px 20px;
}
.result-2
{
    margin: 0 0 20px 65px;
}
.result-3
{
    margin: 0 0 10px 41px;
}
.result-4
{
    margin: 0 0 -15px -23px;
}
.result-5
{
    margin: 0 0 0 -121px;
}
.result-img
{
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 29px rgba(79,47,126,.51);
    box-shadow: 0 0 29px rgba(79,47,126,.51);
    width: 108px;
    height: 108px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-top: 20px;
}
.result-text
{
    display: inline-block;
    vertical-align: middle;
    max-width: 305px;
}
.percent
{
    background: #ff5ca1;
    color: #fff;
    padding: 1px 5px;
    position: relative;
    display: inline-block;
    font-weight: 700;
}
.percent:before
{
    content: "";
    border-right: 16px solid #ff5ca1;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    position: absolute;
    left: -16px;
    top: -12px;
}

.title.section-8__title span:first-child
{
    font-size: 119px;
    white-space: nowrap;
    padding-right: 15px;
}
.title.section-8__title span
{
    display: table-cell;
    vertical-align: middle;
}
.fb-block
{
    border-right: 1px solid #dddfe2;
    border-left: 1px solid #dddfe2;
    border-bottom: 1px solid #dddfe2;
    -webkit-box-shadow: 0 5px 15px rgba(58,90,217,.1);
    box-shadow: 0 5px 15px rgba(58,90,217,.1);
    margin: 40px 0 30px;
}
.fb-top
{
    background: #4966b1;
    padding: 1px 25px 0;
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
}
.fb-top>span
{
    vertical-align: middle;
    display: inline-block;
}
.fb-search
{
    background: #fff url("../img/fb_search.jpg") no-repeat right center;
    color: #90949c;
    padding: 3px 10px;
    width: 55%;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
}
.fb-middle
{
    margin: 0 20px;
    font-size: 14px;
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
    border-bottom: 1px solid #e8ebef;
    padding: 5px 0;
}
.fb-middle span
{
    display: inline-block;
}
.fb-middle img
{
    display: inline-block;
    vertical-align: middle;
}
.fb-bottom
{
    border-bottom: 1px solid #e8ebef;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.fb-bottom>span
{
    display: inline-block;
    margin: 0 38px;
    color: #626770;
}
.fb-bottom span img
{
    display: inline-block;
    vertical-align: middle;
}
.fb-item
{
    font-family: 'open sans';
    margin: 0 25px 15px;
}
.fb-ava
{
    display: table-cell;
    padding-right: 10px;
}
.fb-ava img
{
    border-radius: 50%;
}
.fb-body
{
    display: table-cell;
    vertical-align: top;
}
.fb-text strong
{
    color: #3d5798;
    margin-right: 5px;
}
.fb-text
{
    font-size: 16px;
    background: #e8ebef;
    padding: 14px 15px;
    border-radius: 18px;
    margin-bottom: 7px;
}
.fb-body img
{
    border-radius: 18px;
    display: block;
}
.fb-like
{
    font-size: 14px;
    color: #626770;
    margin: 10px 0;
}
.fb-like span
{
    color: #5b71a8;
}
.section-9
{
    background: url("../img/back_9.jpg") no-repeat center top;
    padding: 200px 0 180px;
}
.order
{
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
}
.order-item
{
    display: inline-block;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    max-width: 32%;
    position: relative;
    vertical-align: top;
}
.order-item img
{
    display: block;
    max-width: 100%;
}
.order-item:not(:last-child):after
{
    background: url("../img/arrow_pink.png");
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 28px;
    height: 43px;
    position: absolute;
    right: -54px;
    top: 50%;
    margin-top: -55px;
}
.b-footer
{
    background: url("../img/footer_bg.jpg") no-repeat center top;
    padding: 220px 0 65px;
    position: relative;
    margin-top: -105px;
    mask: url(../img/back_footer.svg#mask-footer);
    -webkit-mask: url(../img/back_footer.svg) center bottom  / auto 100%;
    -o-mask: url(../img/back_footer.svg) center bottom  / auto 100%;
    -ms-mask: url(../img/back_footer.svg) center bottom  / auto 100%;
}
.footer-left
{
    display: inline-block;
    max-width: 315px;
    color: #fff;
    font-size: 40px;
    vertical-align: top;
}
.title-footer
{
    font-size: 64px;
    font-style: italic;
    font-weight: 700;
    font-family: "Playfair Display";
    text-shadow: 1px 1px 2px rgba(0,0,0,.28);
    line-height: 1;
    margin-bottom: 60px;
}
.prod-bottom
{
    display: inline-block;
    vertical-align: top;
    max-width: 217px;
    margin-top: 20px;
}
.dancer
{
    position: absolute;
    left: 50%;
    margin-left: -110px;
    top: 52px;
}
.form-block
{
    display: inline-block;
    background: url("../img/form_bg.png") no-repeat;
    max-width: 470px;
    padding: 72px 133px 62px 43px;
    margin: 0 -130px 0 85px;
    vertical-align: bottom;
    position: relative;
}
.form-block .btn
{
    font-size: 20px;
    padding: 23px 31px;
}
.form-title
{
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
}
select, .input-text
{
    display: block;
    width: 100%;
    padding: 0 35px;
    height: 56px;
    font-size: 16px;
    font-family: "Open Sans";
    border-radius: 28px;
    border-color: transparent;
    margin-bottom: 7px;
    border: 1px solid transparent;
    outline: none;
}
select:focus, .input-text:focus
{
    border-color: #ff5ca1;
}
select
{
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    -ms-appearance: none!important;
    -o-appearance: none!important;
    appearance: none!important;
    background-image: url('../img/select.png');
    background-repeat: no-repeat;
    background-position: 90% center;
}
select::-ms-expand {
    display: none;
}
.prices
{
    text-align: center;
    margin-bottom: 10px;
}
.old-price
{
    font-size: 20px;
    text-decoration: line-through;
    color: #ff5ca1;
    display: inline-block;
}
.new-price
{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
}
.slick-prev, .slick-next
{
	border: none;
	background: url("../img/slide_arrow.png");
	width: 18px;
	height: 27px;
	outline: 0;
	color: transparent;
	position: absolute;
	z-index: 100;
}
.section-4 .slick-prev, .section-4 .slick-next
{
	top: -40px;
}
.slick-next
{
	background-position: -18px 0;
	
}
.section-4 .slick-prev
{
	right: 45px;
	left: auto;
}
.section-4 .slick-next
{
	right: 0;
}
.section-6 .slick-prev, .section-6 .slick-next
{
	bottom: -40px;
}
.section-6 .slick-prev
{

	left: 120px;
}
.section-6 .slick-next
{

	right: 120px;
}
@media(min-width: 1001px)
{
	.slider-item
	{
		display: inline-block !important;
		vertical-align: top;
		width: auto !important;
	}
}
@media (max-width: 1000px) {
    body {
        font-size: 18px;
    }

    .container {
        width: 768px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .d-large {
        display: none !important;
    }

    .b-header {
        padding: 30px 0 100px;
        background: url("../img/header_pink.png") no-repeat -60% top, url("../img/header_bg.jpg") no-repeat center top;
        background-size: auto 100%;
    }

    .b-header__title {
        font-size: 80px;
        margin-top: 80px;
    }

    .b-header__title span, .slogan, .btn-transparent {
        margin-left: 60px;
    }

    .slogan {
        margin-bottom: 80px;
    }

    .section-1 {
        background-size: auto 100%;
        padding: 80px 0;
    }

    .title {
        font-size: 34px;
    }

    .section-1__title {
        max-width: 400px;
        margin: 50px 20px 15px 0;
    }

    .left-defects {
        max-width: 240px;
        font-size: 16px;
    }

    .left-arrow:before, .right-arrow:after {
        display: none;
    }

    .left-defects__list li {
        padding-right: 60px;

    }

    .def1, .def2, .def5, .def8 {
        background-size: auto 100%;
    }

    .right-defects {
        max-width: 250px;
        font-size: 16px;
    }

    .right-defects__list li {
        padding-left: 50px;
        background-position-x: left !important;
    }

    .left-arrow:after, .right-arrow:before {
        border-left: 40px solid #ce0202;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        top: -20px;
    }

    .left-arrow {
        margin-left: -10px;
    }

    .right-arrow {
        margin-right: 0;
        right: -44px;
    }

    .left-arrow:after {
        right: -40px;
    }

    .right-arrow:before {
        left: -40px;
    }

    .section-2 {
        padding: 222px 0 140px;
        margin-top: -110px;
        background-size: auto 100%;
    }

    .img-inline {
        max-width: 120px;
        margin: -100px 0 0 20px;
    }

    .programm-pluses {
        display: block;
        margin: 20px auto;
    }

    .programm-pluses li {
        padding-left: 0;
        border-radius: 55px;
    }

    .programm-pluses:after, .programm-pluses li:after {
        display: none;
    }

    .section-2 .btn {
        bottom: auto;
        margin: 0 auto;
    }

    .inline-wrap {
        text-align: center;
        display: block;
    }

    .leaf1 {
        margin-right: 150px;
        top: 370px;
    }

    .section-2 .leaf2 {
        bottom: 90px;
        margin-right: 240px;
    }

    .section-2 .leaf3 {
        top: 62px;
        margin-left: 0;
    }

    .calculator {
        display: block;
        padding: 0;
        margin: 0 auto;
    }

    .calculator:after {
        bottom: -109px;
        top: auto;
        right: -5px;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .fat-girl {
        position: relative;
        left: auto;
        top: 0;
        margin: 20px auto 0;
        text-align: center;

    }

    .fat-girl img {
        max-width: 100%;
    }

    .calc-result {
        display: block;
        margin: 20px auto;
    }

    .section-4 {
        padding: 110px 0;
    }

    .section-4__header {
        float: none;
        max-width: none;
    }

    .section-4__header img {
        display: block;
        margin: 0 auto 120px;
    }

    .section-4__header .title {
        max-width: 60%;
        float: right;
    }

    .slider-description {
        margin-top: 0;
    }

   

    .slide-inner {
        padding: 10px 15px 30px !important;
    }
	.slider-item
	{
		max-width: 300px;
		margin: 0;
	}
    .section-4 .slider-wrapper {
		max-width: 300px;
		margin: 65px auto 0;
    }

    .gymnast {
        max-height: 80%;
        left: 0;
        right: auto;
        top: 33px;
    }

    .slide-num {
        text-align: left;
        margin-bottom: 20px !important;
    }
    .section-5
    {
        padding: 120px 0 140px;
        margin-top: -71px;
    }
    .fruits {
        max-width: 500px;
        margin-right: -17px;
        top: -146px;
    }
    .section-5__title
    {
        max-width: 293px;
    }
    .components
    {
        margin-top: 20px;
    }
	.prod-comp
	{
		background-size: 150px auto;
		background-position: 16px 2px;
		padding: 0 3px 30px 30px;
		margin: 0 0 0 -60px;
	}
    .prod-comp img {
        max-width: 150px;
    }
	.component-item
	{
		background-size: 82px;
		font-size: 16px;
	}
	.comp1
	{
		max-width: 330px;
		top: 50px;
		padding-right: 90px;
	}
	.comp-title::before, .comp-title::after
	{
		border-top-width: 28px;
	}
	.comp2 {
    max-width: 370px;
    top: 185px;
    padding-right: 90px;
	}
	.comp3 {
    max-width: 420px;
    top: 300px;
    padding-right: 90px;
	}
	.comp4 {
    max-width: 355px;
    right: 0px;
    padding-left: 90px;
	}
.comp5 {
    max-width: 300px;
    right: 0;
    top: 135px;
    padding-left: 90px;
}
.btn-wrap
{
	margin-right: 0;
	bottom: 100px;
}
    .section-6 {
        padding: 70px 0 190px;
        margin-top: -75px;
    }

    .reviews-wrapper {
        max-width: 300px;
        -webkit-box-shadow: 0 0 29px rgba(116, 152, 188, .32);
        box-shadow: 0 0 29px rgba(116, 152, 188, .32);
        margin: 0 auto;
        background: #fff;
        border-radius: 2px;
    }

    .insta-item {
        -webkit-box-shadow: none;
        box-shadow: none;
        max-width: none;
        margin: 0;
    }
	/* .show-text */
	/* { */
		/* bottom: 0 */
	/* } */
    .spec-opinion {
        max-width: 450px;
        margin-bottom: 89px;
    }

    .spec-text {
        max-width: 40%;
        margin-top: 0;
    }

    .spec-text .title {
        margin-bottom: 15px;
    }

    .results {
        margin-left: -80px;
        margin-top: 20px;
    }

    .results:before {
        background-size: contain;
        width: 365px;
        height: 452px;
        left: -257px;
    }

    .result-item {
        font-size: 20px;
        max-width: 380px;
    }

    .result-img {
        width: 80px;
        height: 80px;
        padding-top: 12px;
    }

    .result-img img {
        height: 50px;
    }

    .result-text {
        max-width: 290px;
    }

    .result-1 {
        margin-bottom: 10px;
    }

    .result-2 {
        margin: 13px 0 25px 65px;
    }

    .result-3 {
        margin: 30px 0 10px 53px;
    }

    .result-4 {
        margin: 21px 0 -15px 6px;
    }

    .result-5 {
        margin: 3px 0 0 -85px;
    }
    .title.section-8__title span:first-child
    {
        font-size: 96px;
    }
    .order-item:not(:last-child):after
    {
        right: -40px;
        margin-top: -30px;
    }
    .footer-left
    {
        font-size: 30px;
        max-width: 260px;
    }
    .title-footer
    {
        font-size: 54px;
    }
    .prod-bottom
    {
        max-width: 150px;
        margin-left: -10px;
    }
    .form-block
    {
        max-width: 440px;
        padding: 74px 83px 80px 48px;
        margin-left: -8px;
    }
    .dancer
    {
        max-width: 370px;
        margin-left: -124px;
    }
}
@media (max-width: 767px)
{
    body
    {
        font-size: 16px;
    }
    .container
    {
        width: 320px;
    }

    .b-header
    {
        padding: 10px 0 160px;
        background: url("../img/header_pink.png") no-repeat 100% top, url("../img/header_bg.jpg") no-repeat center top;
        background-size: auto 100%;
    }
    .logo img
    {
        max-width: 125px;
    }
    .b-header__title
    {
        font-size: 60px;
        margin-top: 40px;
    }
    .b-header__title span, .slogan
    {
        margin-left: 0;
    }
    .btn-transparent
    {
        margin-left: 20px;
    }
    .slogan
    {
        margin-bottom: 40px;
        font-size: 20px;
    }
    .section-1
    {
        background-image: url("../img/back_2_m.jpg");
        padding: 125px 0 65px;
        margin: -64px 0 0;
        mask: url("../img/background_m.svg#maskid-m");
        -webkit-mask: url(../img/background_m.svg) center bottom  / auto 100%;
        -o-mask: url(../img/background_m.svg) center bottom  / auto 100%;
        -ms-mask: url(../img/background_m.svg) center bottom  / auto 100%;
    }
    .title
    {
        font-size: 26px;
    }
    .section-1__title
    {
        text-align: left;
        text-shadow: 0 0 8px #fff;
        display: block;
        margin: 0 0 15px;
        max-width: 210px;
    }
    .reference
    {
        font-size: 16px;
        background-size: 100% 100%;
        padding: 40px 25px 45px 30px;
        margin: 0 0 15px -30px;
    }
    .left-defects, .right-defects
    {
        width: 47%;
    }
    .left-defects__list li, .right-defects__list li
    {
        padding: 45px 0 0;
        background-position: center top !important;
        text-align: center;
        background-size:  auto 39px;
        margin-bottom: 12px;
    }
    .left-arrow
    {
        background: -o-linear-gradient(left, transparent 0%,  #ce0202 70%);
        background: -webkit-gradient(linear, left top, right top, from(transparent),  color-stop(70%, #ce0202));
        background: linear-gradient(left, transparent 0%,  #ce0202 70%);
        text-align: center;
        padding: 1px 0 1px 50px;
        margin-left: -50px;
        margin-right: 30px;
        margin-bottom: 10px;
		font-size: 14px;
    }
    .left-arrow:after, .right-arrow:before {
        border-left: 26px solid #ce0202;
        border-top: 29px solid transparent;
        border-bottom: 29px solid transparent;
        top: -9px;
    }
    .left-arrow:after
    {
        right: -26px
    }
    .right-arrow:before
    {
        left: -26px
    }
    .right-arrow
    {
        background: -o-linear-gradient(left, #ce0202 0%,  #ce0202 70%, transparent 100%);
        background: -webkit-gradient(linear, left top, right top, from(#ce0202),  color-stop(70%, #ce0202), to(transparent));
        background: linear-gradient(left, #ce0202 0%,  #ce0202 70%, transparent 100%);
        text-align: center;
        padding: 1px 50px 1px 0;
        margin-right: -50px;
        right: auto;
        margin-left: 30px;
        margin-bottom: 10px;
		font-size: 14px;
    }
    .section-2
    {
        background-image: url("../img/back_3_m.jpg");
        mask: url("../img/back_2_m.svg#mask-2m");
        -webkit-mask: url(../img/back_2_m.svg) center bottom  / auto 100%;
        -o-mask: url(../img/back_2_m.svg) center bottom  / auto 100%;
        -ms-mask: url(../img/back_2_m.svg) center bottom  / auto 100%;
        padding: 105px 0 90px;
        margin-top: -40px;
    }
    .section-2__title
    {
        max-width: 230px;

    }
    .img-inline
    {
        max-width: 80px;
        margin: -33px -19px 0 5px;
    }
    .leaf1
    {
        background-size: contain;
        width: 35px;
        height: 47px;
        margin-right: 105px;
        top: 255px;
    }
    .leaf2
    {
        background-size: contain;
        width: 53px;
        height: 59px;
    }
    .section-2 .leaf2
    {
        bottom: 42px;
        margin-right: 98px
    }
    .leaf3
    {
        width: 79px;
        height: 55px;
        background-size: contain;
    }
    .section-2 .leaf3
    {
        top: 45px;
    }
    .programm-pluses
    {
        margin-top: 50px;
    }
    .programm-pluses li
    {
        padding: 2px;
    }
    .programm-pluses li:nth-child(odd)
    {
        background: -o-linear-gradient(left, transparent 0%,   #e7e1f1 100%);
        background: -webkit-gradient(linear, left top, right top, from(transparent),  to(#e7e1f1));
        background: -o-linear-gradient(left, transparent 0%,  #e7e1f1 100%);
        background: linear-gradient(left, transparent 0%,  #e7e1f1 100%);
    }
    .programm-pluses li:nth-child(odd) span
    {
        margin-left: 11px;
    }
    .programm-pluses li:nth-child(even)
    {
        background: -o-linear-gradient(left, #e7e1f1 0%,  transparent  100%);
        background: -webkit-gradient(linear, left top, right top, from(#e7e1f1),  to(transparent));
        background: -o-linear-gradient(left, #e7e1f1 0%,  transparent 100%);
        background: linear-gradient(left, #e7e1f1 0%,  transparent 100%);
    }
    .programm-pluses li:nth-child(even) span
    {
        margin-right: 11px;
        text-align: right;
    }
    .programm-pluses li:nth-child(even) img
    {
        float: right;
    }
    .programm-pluses li img
    {
        max-width: 80px;
        margin: -5px;
    }
    .programm-pluses li span
    {
        max-width: 215px;
        color: #000;
        font-size: 17px;
    }
    .btn
    {
        font-size: 20px;
        padding: 27px 32px;
    }
    .section-3
    {
        mask: url(../img/back_3_m.svg#mask-3m);
        -webkit-mask: url(../img/back_3_m.svg) center bottom  / auto 100%;
        -o-mask: url(../img/back_3_m.svg) center bottom  / auto 100%;
        -ms-mask: url(../img/back_3_m.svg) center bottom  / auto 100%;
        padding: 67px 0 97px;
        margin-top: -50px;
    }
    .calculator:after
    {
        right: -35px;
        z-index: 30;
    }
    .calc-title
    {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .input-wrap
    {
        font-size: 16px;
        margin-bottom: 12px;
    }
    .input-number
    {
        height: 58px;
        width: 175px;
        padding-left: 40px;
    }
	.input-wrap label
	{
		right: 137px;
	}

    .btn-calc
    {
        margin-top: 20px;
        font-size: 20px;
    }
    .section-4
    {
        background-image: url("../img/back_4_m.jpg");
        mask: url("../img/back_4_m.svg#mask-4m");
        -webkit-mask: url(../img/back_4_m.svg) center bottom  / auto 100%;
        -o-mask: url(../img/back_4_m.svg) center bottom  / auto 100%;
        -ms-mask: url(../img/back_4_m.svg) center bottom  / auto 100%;
        margin-top: -45px;
        padding: 83px 0;
        background-size: auto 100%;
    }
    .section-4__header .title
    {
        position: relative;
        text-shadow: 0 0 7px rgba(255,255,255,1);
        z-index: 50;
		font-size: 26px;
    }
    .gymnast
    {
        max-height: 470px;
        left: 50%;
        top: 58px;
        margin-left: -152px;
        z-index: 20;
    }
	.section-5 {
    padding: 281px 0 140px;
    margin-top: -56px;
}
	.fruits
	{
		max-width: 385px;
		margin-right: -102px;
		top: -130px;
	}
	.section-5__title
	{
		    max-width: 173px;
		float: left;
		position: relative;
		z-index: 30;
	}
	.section-5__title+.clearfix
	{
		display: none;
	}
	.components
	{
		margin-top: 0;
		    margin-bottom: 140px;
	}
	.prod-comp
	{
		margin: -60px 0 0 -170px;
		-webkit-transform: rotate(-18deg);
		-ms-transform: rotate(-18deg);
		transform: rotate(-18deg);
		background-size: 107px auto;
		border-width: 2px;
	}
	.prod-comp img {
    max-width: 110px;
	}
	.indicators-block
	{
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
    left: 0;
	}
	.indicator
	{
		position: absolute;
	}
	.indicator.index-1
	{
		top: 145px;
    left: 20px;
	}
	.indicator.index-2
	{
		    top: 220px;
    left: 20px;
	}
	.indicator.index-3
	{
		    top: 74px;
    right: 15px;
	}
	.indicator.index-4
	{
		    top: 171px;
    right: 20px;
	}
	.indicator.index-5
	{
		        bottom: 52px;
    right: 22px;
	}
	.component-item
	{
		
		background-color: rgba(255,255,255,.86);
		max-width: 100%;
		left: 0;
		top: 210px;
		box-shadow: 9px 9px 14px rgba(0,0,0,.13);
		padding-top: 15px;
		padding-bottom: 20px;
		background-position-y:30px;
	}
	.component-item:not(:first-child)
	{
		display: none;
	}
	.comp1, .comp2, .comp3
	{
		padding-left: 7px;
    padding-right: 97px
		background-position-x: 96%
	}
	.comp4, .comp5
	{
		padding-right:7px;
		padding-left: 95px;
		background-position-x: 5px
	}
	
	.comp2 .comp-title::before, .comp2 .comp-title::after
	{
		display: none;
	}
	.btn-wrap
	{
		float: none;
		bottom: auto;
		padding: 0;
		background: 0;
	}
	
	.section-5 .btn
	{
		
		    padding: 28px 31px;
	}
    .section-6
    {
        background-image: url("../img/back_6_m.jpg");
        padding-bottom: 140px;
        margin-top: -85px;
        mask: url(../img/back_6_m.svg#mask-6m);
        -webkit-mask: url(../img/back_6_m.svg) center bottom  / auto 100%;
        -o-mask: url(../img/back_6_m.svg) center bottom  / auto 100%;
        -ms-mask: url(../img/back_6_m.svg) center bottom  / auto 100%;
    }
    .section-7
    {
        background-image: url("../img/back_7_m.jpg");
        mask: url(../img/back_7_m.svg#mask-7m);
        -webkit-mask: url(../img/back_7_m.svg) center bottom  / auto 100%;
        -o-mask: url(../img/back_7_m.svg) center bottom  / auto 100%;
        -ms-mask: url(../img/back_7_m.svg) center bottom  / auto 100%;
        margin-top: -73px;
        padding: 112px 0 30px;
    }
    .spec-opinion
    {
        float: none;
        max-width: 100%;
    }
    .logo-spec
    {
        width: 100%;
        margin-bottom: 10px;
    }
    .sign
    {
        max-width: 150px;
        margin: -10px 0 0;
    }
    .spec-text
    {
        max-width: 100%;
        float: none;
    }
    .spec-text p
    {
        max-width: 45%;
        float: left;
        font-size: 15px;
    }
    .delimiter
    {
        margin-bottom: 20px;
    }
    .results
    {
        margin-left: -10px;
        margin-top: 0;
    }
    .results:before
    {
        display: none;
        /*background-image: url("../img/round_arrow_m.png");*/
        /*height: 303px;*/
        /*width: 183px;*/
        /*left: -90px;*/
    }
    .result-item
    {
        font-size: 13px;
        max-width: 170px;
        margin: 0 0 15px;
    }
    .result-img
    {
        width: 53px;
        height: 53px;
        padding-top: 10px;
    }
    .result-img img
    {
        height: 35px;
    }
    .result-text
    {
        max-width: 110px;
    }
    .percent
    {
        padding: 1px;
    }
    .percent:before
    {

        border-right-width: 10px;
        border-top-width: 13px;
        border-bottom-width: 13px;
        left: -10px;
        top: -6px;
    }
    .section-8__title
    {
        text-align: center;
    }
    .title.section-8__title span:first-child
    {
        font-size: 72px;
        display: block;
    }
    .fb-block
    {
        margin-left: -10px;
        margin-right: -10px;
        margin-top: 20px;
    }
    .fb-top
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .fb-bottom>span
    {
        margin: 0 15px;
    }
    .fb-item
    {
        margin: 0 10px 15px;
    }
    .fb-ava
    {
        padding-right: 5px;
    }
    .fb-ava img
    {
        max-width: 42px;
    }
    .fb-text
    {
        font-size: 15px;
        padding: 6px 15px;
    }
    .fb-like
    {
        font-size: 13px;
    }
    .section-9
    {
        background-image: url("../img/back_9_m.jpg");
        padding: 72px 0 130px;
    }
    .order-item
    {
        display: block;
        max-width: 100%;
    }
    .order-item:not(:last-child):after
    {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        right: auto;
        left: 50%;
        bottom: -40px;
        top: auto;
        margin-left: -21px;
    }
    .order-item:first-child
    {
        margin-bottom: 30px;
        margin-top: -30px;
    }
    .b-footer {
        background-image: url(../img/footer_bg_m.jpg);
        padding: 100px 0 40px;
        margin-top: -91px;
        mask: url(../img/back_footer_m.svg#mask-footer-m);
        -webkit-mask: url(../img/back_footer_m.svg) center top / auto 100%;
        -o-mask: url(../img/back_footer_m.svg) center top / auto 100%;
        -ms-mask: url(../img/back_footer_m.svg) center top / auto 100%;
    }
    .footer-left
    {
        max-width: none;
        text-align: right;
        width: 100%;
        margin-bottom: -35px;
    }
    .title-footer
    {
        font-size: 38px;
        margin-bottom: 0;
        max-width: 190px;
        display: inline-block;
    }
    .prod-bottom {
        max-width: 138px;
    }
    .dancer {
        max-width: 350px;
        position: relative;
        display: inline-block;
        left: auto;
        top: auto;
        margin: -96px -88px -175px -134px;
    }
    .form-block
    {
        max-width: 470px;
        padding: 72px 133px 62px 43px;
        margin-left: -40px;
    }
}