* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
}

body {
  background-color: #b8b8b8;
}

.container {
  max-width: 1075px;
  width: 100%;
  background-color: #fff;
  margin: 25px auto;
  padding: 0 25px 100px;
}

header {
  border: 2px solid #b8b8b8;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 40px;
}

.header__top-bar {
  color: #1c1c1c;
  font-size: 13px;
  font-weight: 400;
  text-align: right;
  padding: 10px 0 0;
  border-bottom: 1px solid #1b1b1b;
}

.header_content {
  text-align: justify;
  font-size: 0;
  background-image: url("../images/header_img.png");
  background-position: 45% bottom;
  background-repeat: no-repeat;
}

.header_content::after {
  content: "";
  display: inline-block;
  width: 100%;
  clear: both;
}

.header_content h1,
.search-container {
  display: inline-block;
  vertical-align: top;
  margin: 35px 0;
}

.search-container {
  float: left;
}

.header_content h1 {
  float: right;
  max-width: 540px;
  width: 100%;
  font-family: "Tajawal", sans-serif;
  color: #1b478a;
  font-size: 36px;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
}

.header_content h1 span {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  text-align: right;
  text-transform: none;
}

.header_input-link {
  display: inline-block;
}

.header_input {
  border: 1px solid #707070;
  height: 35px;
  min-width: 200px;
  width: 100%;
}

.header_input input {
  border: none;
  width: 100%;
  height: 100%;
  background: url("../images/search.png") center right 5px no-repeat;
}

.header_box {
  background-color: #1b478a;
  text-align: justify;
  font-size: 0;
}

.header_box::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.header_box-image {
  display: inline-block;
  max-width: 116px;
  width: 100%;
  margin: 15px 25px;
  vertical-align: middle;
}

.header__nav-list {
  text-align: justify;
  font-size: 0;
}

.header__nav-list::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.header__nav-item {
  display: inline-block;
}

.header__nav-item-link {
  display: inline-block;
  padding: 10px 20px 10px;
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.header__nav-item-link:hover {
  color: #ff0000;
  text-decoration: none;
}

.wrapper {
  max-width: 1025px;
  width: auto;
  text-align: justify;
  font-size: 0;
}

.wrapper::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.content,
.sidebar {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}

.content {
  width: auto;
  max-width: calc(100% - 360px - 30px);
}

.content__image {
  display: block;
  max-width: 100%;
  margin: 25px auto 15px;
}

.content__link {
  text-decoration: none;
  color: #000dc3;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  margin: 0 0 25px;
}

.content__link:hover {
  text-decoration: none;
  color: #ff0000;
}

.content h2 {
  color: #000000;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: right;
  margin-top: 20px;
}

.content h2 span {
  font-size: 30px;
}

.content__subtitle {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4em;
  text-align: right;
}

.content__subtitle:last-of-type {
  margin-top: 15px;
}

.content h4 {
  color: #000000;
  font-size: 27px;
  font-weight: 500;
  text-align: right;
  line-height: 1.4em;
  margin: 30px 0 20px;
}

.content p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
  text-align: right;
  margin: 20px 0;
}

.content .img2 {
  max-width: 230px;
  width: 100%;
  float: right;
  margin: 0 0 25px 25px;
}

.content__list {
  list-style-type: none;
}

.content__item {
  position: relative;
  padding-right: 15px;
}

.content__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000;
}

.content__item h4 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: right;
  margin: 0;
}

.content__item p {
  margin: 5px 0 25px;
}

.content h5 {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  margin: 30px 0 0;
}

.chart {
  max-width: 545px;
  width: 100%;
  border: 3px solid #000;
  border-top: none;
  border-right: none;
  margin: 25px auto 0;
  text-align: justify;
  font-size: 0;
}

.chart::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.chart article {
  display: inline-block;
  width: 25%;
  vertical-align: bottom;
}

.chart article p {
  text-align: center;
  font-size: 13px;
  margin: 10px 0;
  padding: 10px;
}

.chart article div {
  background-color: #429543;
  width: 40%;
  height: 100px;
  margin: 0 auto;
}

.chart_text {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 545px;
  margin-bottom: 25px;
  font-size: 0;
}

.chart_text::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.chart_text p {
  display: inline-block;
  width: 25%;
  text-align: center;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  margin: 5px 0;
}

.wrapper > strong {
  width: 40%;
}

.sidebar {
  width: auto;
  margin-right: 30px;
  max-width: 360px;
}

.sidebar h2 {
  background-color: #d3d3d3;
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

.sidebar__article {
  text-align: right;
  font-size: 0;
  margin: 20px;
}

.sidebar__article::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.sidebar__article img,
.sidebar__article p {
  display: inline-block;
  vertical-align: middle;
}

.sidebar__article img {
  width: 68px;
  height: 68px;
}

.sidebar__article p {
  width: calc(100% - 78px);
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  margin-right: 10px;
  transition: all 0.3s ease-out;
}

.sidebar__link:hover p {
  color: #0056ba;
  text-decoration: none;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .banner {
  background: -webkit-linear-gradient(top, #ebd50c 0%, #795e8e 100%);
  background: linear-gradient(to bottom, #ebd50c 0%, #795e8e 100%);
  padding: 20px 0;
  border: 1px solid #000;
  cursor: pointer;
}

.sidebar .banner h2 {
  color: #ffffff;
  font-size: 34px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  background-color: #3454b9;
  padding: 15px;
}

.sidebar .banner p {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  border-radius: 10px;
  background: -webkit-linear-gradient(90deg, #0056ba 0%, #4494f1 100%);
  background: -webkit-linear-gradient(bottom, #0056ba 0%, #4494f1 100%);
  background: linear-gradient(0deg, #0056ba 0%, #4494f1 100%);
  box-shadow: 0px 1px 6.96px 1.04px rgba(0, 0, 0, 0.63);
  max-width: 200px;
  width: 100%;
  padding: 10px 0;
  margin: 10px auto 0;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.sidebar .banner img {
  max-width: 100%;
  width: 100%;
}

.sidebar__link .banner:hover p {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.main-link {
  font-size: 28px;
  transition: all 0.3s ease-out;
  text-decoration: none !important;
  line-height: 1;
}

.main-link:hover {
  color: #ff0000;
  text-decoration: none !important;
}

.comments {
  margin-top: 50px;
  max-width: 690px;
  width: 100%;
}

.comments h2 {
  max-width: 220px;
  width: 100%;
  color: #3a3a3a;
  font-size: 32px;
  font-weight: 700;
  text-align: right;
  border-bottom: 2px solid #434343;
  margin-bottom: 15px;
}

.comments__article {
  padding: 20px 0;
  border-bottom: 2px solid #dedede;
}

.comments__article::after {
  content: "";
  display: block;
  clear: both;
  width: 100%;
}

.comments__avatar,
.comments__text {
  vertical-align: top;
}

.comments__avatar-wrapper {
  float: right;
  width: 41px;
  height: 41px;
  margin-left: 15px;
}

.comments__avatar {
  width: 100%;
  max-width: 100%;
}

.comments__article h3 {
  text-align: justify;
  font-size: 0;
  margin-right: 55px;
}

.comments__article h3::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.comments__name,
.comments__time {
  display: block;
}

.comments__name {
  color: #000000;
  font-size: 15px;
  font-weight: 900;
  font-style: italic;
  text-align: justify;
}

.comments__time {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
}

.comments__article p {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  margin-right: 55px;
}

.comments__img {
  display: block;
  max-width: 100%;
  margin: 15px auto 0 0;
  float: right;
}

div.aw-widget-36hour-inner {
  min-width: 0px !important;
}

footer {
  max-width: 1075px;
  margin: 30px auto;
}

.footer__copyright {
  text-align: center;
}

.order__button {
  display: block;
  max-width: 225px;
  margin: 30px auto 0;
  padding: 15px 10px;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #1b478a;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.order__button:hover {
  background-color: #ff0000;
}

.product__link {
  font-weight: 700;
  color: #000dc3;
  transition: all 0.3s ease-out;
}

.product__link:hover {
  color: #ff0000;
  text-decoration: none;
}

img {
  max-width: 100%;
}
