img {
  width: auto;
  max-width: 100%;
}
p i {
  font-weight: 700;
  font-size: larger;
}
.gallery-multi {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery-multi div {
  float: left;
  width: auto;
}.gallery-thumbs div.gallery-multi div img {
  opacity: 0.5;
}
.gallery-thumbs div.gallery-multi div img:hover,
.gallery-thumbs div.gallery-multi div img.current {
  opacity: 1;
}.gallery-count {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;

  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
}.gallery-thumbs-medium-preview {
  position: absolute;
  top: 0;
  right: -314px;

  width: 312px;
}

.main-post .entry-content .prod_img {
  display: block;
  margin: 15px auto;
}
.gallery-thumbs-medium-preview div div {
  float: left;
  width: 100px;
  margin: 0 4px 4px 0;

  background-color: black;
}
.gallery-thumbs-medium-preview div div img {
  vertical-align: bottom;

  border: 1px solid black;
  opacity: 0.5;
}.gallery-thumbs-medium-preview div div img:hover {
  vertical-align: bottom;

  border: 1px solid black;
  opacity: 1;
}
@media only screen and (max-width: 800px) {
  .logo {
    height: 82px;
    margin-left: -12px;
  }

  .breadcrumbs {
    margin-top: 5px;
    margin-right: 26px;
    padding: 0 0 9px 5px;

    color: #a6a6a6;
  }

  .main-post h1 {
    line-height: 1.1em;
  }

  .meta .posted {
    margin-left: 5px;

    font-size: 11px;
    color: #a6a6a6;
  }

  .meta .comments {
    margin: 9px 13px 0 5px;

    color: #ec008c;
  }

  a {
    color: #ec008c;
  }
  .main-post h1 {
    margin: 0 3px 0 3px;
  } .entry-content h3 {
    margin-right: 9px;
    margin-left: 9px;

    font-size: 17px;
    line-height: 21px;
  }

  .single .main-post .entry-content p {
    margin-right: 9px;
    margin-left: 9px;
  }

  .main-post .entry-content {
    margin-top: 9px;
  }

  .comment .main {
    width: auto !important;
    margin-right: 5px;
    margin-left: 5px;
  }
}
* {
  font-size: 100.01%;
}

html {
  font-size: 62.5%;
  color: #666666;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}


fieldset,
img {
  border: 0;
}ol,
ul {
  list-style: none;
}h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
body {
  min-width: 1000px;

  font: 1.2em/1.167em Arial, Helvetica, sans-serif;
}

a {
  color: #ff0099;
  text-decoration: none;
}

a:hover {
  color: #990066;
  text-decoration: underline;
}header,
footer,
article,
section,
hgroup,
nav,
figure {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}.wrapper {
  position: relative;

  width: 998px;
  margin: 0 auto;
  overflow: hidden;

  background: white;
  border: solid #dedede;
  border-width: 0 1px;
}


.header {
  position: relative;

  width: 100%;
  padding-top: 16px;
}.header .box {
  width: 968px;
  margin: 0 auto;
  padding-left: 12px;
  overflow: hidden;
}


.logo {
  float: left;
  width: 470px;
  height: 91px;
  overflow: hidden;
}
.cse {
  float: right;
  width: 266px;
  margin: 29px 1px 0 0;
}.nav-holder {
  position: relative;

  width: 100%;

  background: #f40192;
}
@media only screen and (max-width: 767px) {
  .nav-holder {
    display: none;
  }
  .breadcrumbs {
    display: none;
  }
  .logo {
    display: block;
    float: none;
    width: 100%;
    height: 93px;

    text-align: center;
  }
  .cse {
    display: none;
  }
}
.nav {
  width: 958px;
  margin: 0 auto;
}

.nav:after {
  content: "";

  display: block;
  clear: both;
}

.nav li {
  float: left;

  border-right: 1px solid #fe47b5;
}

.nav li strong a {
  float: left;
  padding: 10px 7px 10px 8px;

  font-size: 12px;
  line-height: 15px;
  color: #ffffff;

  border-right: 1px solid #af0069;
}.nav li strong a:hover,
.nav li:hover strong a {
  color: #ffff00;
  text-decoration: none;

  background: #990066;
}.nav .border,
.nav .active .border {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 6px;

  background: #dfdfdf;
  cursor: pointer;
}.post {
  display: block;
  float: left;
  width: 328px;
  height: 1%;
  padding: 0 0 5px 1px;
  overflow: hidden;

  font-size: 12px;
  line-height: 14px;
}

.post article {
  position: relative;

  box-sizing: border-box;
  height: 1%;
  margin-bottom: 5px;
  padding-bottom: 5px;
  overflow: hidden;

  text-align: left;

  background: #fafafa;
  -webkit-box-shadow: #c4c4c4 0.8px 0.6px 8px;
     -moz-box-shadow: #c4c4c4 0.8px 0.6px 8px;
          box-shadow: #c4c4c4 0.8px 0.6px 8px;
}

.post figure,
.post span,
.post strong,
.post time,
.related-articles figure,
.related-articles span,
.related-articles strong,
.related-articles time {
  cursor: pointer;
}

.post:hover {
  text-decoration: none;
}

.post:hover article {
  color: #ffff00;

  background: #ff0099;
}

.post .media-holder {
  float: right;
}
.media-holder-bottom {
  width: 50%;
  padding: 0 10px;
  padding-top: 10px;
}
.media-holder-bottom::after {
  content: "";

  display: table;
  clear: both;
}
.post .media-holder img {
  max-width: 150px;
  height: auto;
}

.post img {
  display: block;
}

.post .block {
  display: block;
  height: 1%;
  padding: 5px 10px 0;
  overflow: hidden;
}
.clearfix {
  display: table;
  clear: both;
}
.post .entry-title,
.post .entry-content {
  display: block;
  padding-bottom: 1px;

  color: #000000;
}

.post .date,
.related-articles .date {
  position: absolute;
  top: 0;
  right: 0;

  box-sizing: border-box;
  width: 41px;
  padding: 5px 0 6px;

  font-weight: normal;
  font-size: 10px;
  line-height: 9px;
  text-align: center;
  color: #ffffff;

  background: #000000;
}.post:hover .date,
.related-articles .article:hover .date {
  color: #ffff00;

  background: #ff0099;
}.post .entry-content {
  color: #666666;
}

.post:hover .entry-content {
  color: #ffffff;
}

.post .more {
  display: block;

  color: #000000;
}

.post:hover .more {
  color: #ffff00;
}

.post:hover .more span,
.post .more em {
  position: absolute;
  top: 0;
  left: -9999px;
}

.post:hover .more em {
  position: static;
  left: auto;
}

.single-post.v02 .sidebar .comments,
.post .comments {
  float: right;
  width: 10px;

  font-size: 11px;
  line-height: 14px;
  color: #666666;

  background: url(../img/sprite-icons.png) no-repeat -470px 3px;
}

.post:hover .comments {
  color: #ffffff !important;

  background-position: -440px -27px !important;
}

.single .sidebar .post .entry-title {
  font-size: 18px;
  line-height: 20px;
}

.single .sidebar .post .entry-content {
  display: none;
}.main {
  width: 978px;
  margin: 0 auto;
  padding: 10px 0 0;
}


.content {
  float: left;
  width: 642px;
  padding-top: 12px;
}


.breadcrumbs {
  margin-right: -5px;
  padding: 0 0 9px 11px;
}

.breadcrumbs li {
  display: inline;
  padding-left: 4px;

  font-size: 0.917em;
  line-height: 1.273em;
}

.breadcrumbs .home {
  background: url(../img/sprite-icons.png) no-repeat -295px -168px;
}

.breadcrumbs .home span {
  padding-left: 13px;
}

.breadcrumbs span {
  padding-right: 9px;

  color: #f40192;

  background: url(../img/bullet-arrow02.png) no-repeat 100% 67%;
}
.main-post {
  padding: 0 11px 9px;
}.main-post h1 {
  margin-bottom: 3px;

  font-weight: normal;
  font-size: 3em;
  line-height: 1em;
  font-family: Georgia;
  color: #000000;
}


.main-post .meta {
  height: 1%;
  margin: 0 0 9px -1px;
  overflow: hidden;

  font-size: 0.917em;
  line-height: 1.273em;
  color: #999999;
}


.meta .avatar {
  float: left;

  border: 1px solid #ffffff;
}
.meta .posted {
  float: left;
  padding: 9px 10px 0 0;

  font-size: 12px;
  color: #000000;
}

.meta .author {
  font-weight: normal;
}
.meta .comments {
  float: left;
  min-height: 14px;
  margin: 9px 13px 0 0;
  padding: 0 0 0 16px;

  font-size: 12px;
  color: #ff0099;

  background: url(../img/sprite-icons.png) no-repeat -264px -197px;
}.meta .views {
  float: left;
  min-height: 14px;
  padding: 9px 0 0 17px;

  font-size: 12px;
  color: #000000;

  background: url(../img/sprite-icons.png) no-repeat -230px -219px;
}.main-post .entry-content {
  height: 1%;

  color: #000000;
}

.main-post .entry-content img {
  display: inline;
  margin-bottom: 7px;
}.main-post .entry-content p {
  margin-bottom: 19px;
}#comments {
  padding: 0 12px 30px 9px;
}


.sidebar {
  float: right;
  width: 328px;

  transition: 0.7s padding;
}
.gallery-B {
  margin-top: 5px;
  margin-bottom: 0;
  overflow: visible;
}

.gallery-B .data {
  float: left;
  box-sizing: border-box;
  width: 25%;
  margin-bottom: 20px;
  padding-right: 15px;

  font-size: 11px;
  text-align: center;
  color: #666666;
}

.gallery-B .data div {
  display: block;
  float: none;
  margin: 0;
  padding: 49px 0 0 0;

  font-weight: bold;
  font-size: 16px;
  color: #ff0099;
  text-decoration: none;
}.single .main-post .entry-content p {
  margin-top: 20px;

  font-size: 14px;
  line-height: 18px;
}

.entry-content h3 {
  margin-bottom: 8px;

  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  font-family: georgia;
  color: #000000;
}.menu-item-current strong a {
  color: #ff0099 !important;

  background: linear-gradient(to top, #e1e1e1, #e1e1e1 50%, #ffffff 50%, #ffffff);
}

.menu-item-current strong a:hover {
  color: #ffff00 !important;
}.hl-comments h4 {
  padding-left: 12px;

  line-height: 24px;
}

.comment {
  margin-bottom: 12px;

  border-top: 1px solid;
}

.comment .header {
  margin-bottom: 15px;
}

.comment .header p {
  margin-top: 8px;
  padding-left: 12px;
}.comment-arrow {
  display: block;
  padding-top: 8px;
  padding-left: 2px;
}

.comment-shareontwitter {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;

  vertical-align: middle;
}.comment .main p {
  margin-bottom: 6px;

  font-size: 14px;
  line-height: 18px;
  color: #000000;
}#hl-comment-post {
  padding-top: 12px;

  border-top: 6px #ff0099 solid;
}.comment .hl-avatar img.avatar {
  margin: 5px;

  border: 1px solid #ff60bf;
}

.hl-comments h4 {
  background: #000000;
}

.hl-comments h4 {
  color: #fff200;
}

.hl-comments .header {
  box-sizing: border-box;
  height: 43px;
  padding: 0 10px;

  font-weight: bold;
  color: black;

  background: #ffe5f4;
}

.hl-comments .main-cont {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
}
.hl-comments .main-cont .left {
  float: none;
  width: 100%;
}

.hl-comments .comment-reply-link {
  position: relative;

  display: block;
  float: right;
  padding: 3px 7px;

  font-size: 11px;
  color: #000000;

  background: linear-gradient(to bottom, #ffffff, #dcdcdc);
  border: 1px solid #000000;
  border-radius: 5px;
}

#respond {
  clear: both;
  width: 600px;
}

#respond h3#reply-title {
  margin-top: 6px;
  padding-top: 10px;

  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
  font-family: georgia;
  color: black;
}#respond p {
  margin-bottom: 10px;

  font-size: 14px;
  color: #000000;
}

.left {
  float: left;
}

.right {
  float: right;
}.main-post li {
  margin-bottom: 3px;
}.post .block {
  font-size: 13px;
  line-height: 15px;

  -webkit-transition: color 0.2s ease-in;
}

.post .more {
  float: left;

  font-size: 11px;

  -webkit-transition: color 0.2s ease-in;
}

.post .entry-content {
  color: rgb(0, 0, 0);

  -webkit-transition: color 0.2s ease-in;
}

.post:hover .entry-title {
  color: #fff200;

  -webkit-transition: color 0.2s ease-in;
}.main-post .meta {
  height: auto;
}
div.respond {
  clear: both;
}.main-post .entry-content {
  height: auto;
}
.main-post .entry-content img {
  margin-bottom: 1px;
}.gallery-count {
  font-size: 100%;
}
.gallery-thumbs {
  position: relative;
  top: 0;
  right: 0;

  width: 330px;
  margin-bottom: 39px;
}
.gallery-thumbs div.gallery-multi div {
  position: relative;

  width: 30%;
  height: auto;
  overflow: hidden;
}.gallery-thumbs div.gallery-multi div img {
  width: 100px;
}
.gallery-B .gallery-thumbs {
  width: 75%;
}
.gallery-B .gallery-thumbs div.gallery-multi div {
  max-height: none;

  background-color: white;
}.gallery-B .gallery-thumbs div.gallery-multi div img {
  width: 150px;
  height: auto;

  opacity: 1;
}
@media only screen and (max-width: 800px) {
  .main-post h1 {
    font-size: 2em;
  }
}
.single .gallery-B .gallery-thumbs-medium-preview {
  position: relative;
  left: 0;

  float: left;
}
@media only screen and (max-width: 800px) {
  .logo {
    height: 93px;
    margin-left: -12px;
  }
}.single .main {
  position: relative;
}
.single .content {
  position: relative;
}.hl-boilerplate {
  clear: left;
  padding: 20px 15px;

  text-align: right;

  background: #ffe5f4;
  border-color: #cccccc;
  border-top: solid 6px;
}
.hl-boilerplate span {
  font-weight: 700;
  font-size: 12px;
  color: #000000;
}.hl-boilerplate span {
  padding: 14px 0;
}
.hl-boilerplate span.ryear {
  font-weight: 400;
  font-size: inherit;
  color: inherit;
}.hl-boilerplate span a {
  color: #000000;
}.hl-boilerplate p {
  padding: 14px 0 14px 0;

  text-align: right;
}.hl-boilerplate p.hl-copyright {
  float: left;
  width: 25%;
  margin: 0 auto;
  padding: 14px 0;

  text-align: left;
}.hl-boilerplate ul {
  float: right;
  width: 75%;
  padding: 14px 0;

  list-style: none;
}.hl-boilerplate ul li {
  float: right;
  padding: 0 6px;

  text-align: left;

  border-right: 1px solid #000000;
}
@media only screen and (max-width: 767px) {
  .hl-boilerplate {
    position: relative;

    text-align: center;
  }
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  margin-top: 0;

  font-weight: normal;
  line-height: normal;
  font-family: FontAwesome;
  vertical-align: baseline;
  text-decoration: inherit;
  font-style: normal;

  background-image: none;
  background-repeat: repeat;
  background-position: 0 0;

  -webkit-font-smoothing: antialiased;
}[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline-block;

  text-decoration: inherit;

  speak: none;
}a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
}li [class^="icon-"],
li [class*=" icon-"],
.nav li [class^="icon-"],
.nav li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;

  text-align: center;
}.icon-3x {
  font-size: 3em;
}.icon-arrow-circle-right:before {
  content: "\f0a9";
}.icon-facebook:before {
  content: "\f09a";
}.icon-facebook-square:before {
  content: "\f082";
}.icon-google-plus:before {
  content: "\f0d5";
}.icon-instagram:before {
  content: "\f16d";
}.icon-pinterest:before {
  content: "\f0d2";
}.icon-pinterest-square:before {
  content: "\f0d3";
}.icon-plane:before {
  content: "\f072";
}.icon-play:before {
  content: "\f04b";
}.icon-search:before {
  content: "\f002";
}.icon-twitter:before {
  content: "\f099";
}.icon-twitter-square:before {
  content: "\f081";
}.icon-youtube-square:before {
  content: "\f166";
}.social-bar {
  clear: both;
  margin-bottom: 20px;
  padding-top: 15px;
}.social-bar li {
  display: inline-block;
  margin-right: 1px;

  font-size: 19px;
  text-align: center;
  color: #ffffff;

  background: #3b5998;
}.social-bar li.twitter-share-button {
  background: #5fa7db;
}.social-bar li.google-share-button {
  background: #dd4b39;
}.social-bar li.pinterest-share-button {
  margin-right: 0;

  background: #e3262e;
}.social-bar li.social-comments a {
  font-size: 14px;
}.social-bar li a {
  display: block;
  width: 70px;
  padding: 5px;

  color: #ffffff;
}
.social-bar li a:hover {
  text-decoration: none;
}.single .hl-related-lead-links .hl-related-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #ff0099;
}.single .hl-related-lead-links .hl-lead-in {
  color: #ff0099;
}.single .hl-related-lead-links h3 {
  margin-bottom: 8px;

  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  font-family: georgia;
  color: #000000;
}.single .social-site-links,
.page .social-site-links {
  float: right;
  margin-top: -35px;
}.single .social-site-links li,
.page .social-site-links li {
  display: block;
  float: left;
  margin-left: 3px;
  padding: 0;
}.single .social-site-links li a,
.page .social-site-links li a {
  color: #ffffff;
  text-decoration: none;

  cursor: pointer;
}.single .social-site-links li a:hover,
.page .social-site-links li a:hover {
  color: #000000;
}.single .social-site-links li .icon-3x,
.page .social-site-links li .icon-3x {
  width: 1.1em;
}.single .social-site-links li .icon-pinterest-square,
.page .social-site-links li .icon-pinterest-square {
  margin-left: -3px;
}.single .social-site-links li .icon-instagram,
.page .social-site-links li .icon-instagram {
  margin-right: 4px;
  margin-left: -2px;
}.hl-comments .depth-1 {
  margin-left: 0 !important;
}.hl-comments .depth-2 {
  margin-left: 25px !important;
}.hl-comments .comment {
  margin-left: 50px;
}.cse input.gsc-search-button,
.cse input.gsc-search-button:hover,
.cse input.gsc-search-button:focus {
  background-color: #000000;
  background-image: none;
  border-color: #000000;
  cursor: default;
}
.gsc-search-button {
  position: relative;
}


.gsib_a i {
  display: inline-block;
  width: 15px;

  vertical-align: middle;
}.main-post {
  position: relative;

  width: 620px;
}.entry-content {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .main-post h1 {
    margin: 0 9px 5px;
  }
}
#respond {
  float: none;
  clear: both;
  width: auto;
  margin: 0 0 15px 0;
  padding: 0;
  overflow: hidden;

  font-weight: normal;
  font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
  color: inherit;

  background: none;
  border: none;
}div#respond {
  border: none;
}#respond form * {
  padding-left: 5px;

  font-size: 12px;
}#respond form {
  width: auto !important;
  margin: 0;
  padding: 0;

  text-align: left;

  background: #ebebeb;
  background: rgba( 0, 0, 0, 0.08 );
  border: none;
}#respond h3 {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 0;
  padding-bottom: 0;
}#respond h3 small {
  float: right;
}#respond h3 small a {
  display: inline;
  width: auto;
}#respond .comment-textarea {
  position: relative;
}#respond #comment-form-comment,
#comment-form-share-text-padder {
  padding: 10px 10px 5px !important;

  line-height: 18px !important;

  background: #fcfcfc;
  background: rgba( 255, 255, 255, 0.85 );
  border: 1px solid #c9c9c9;
  border: 1px solid rgba( 0, 0, 0, 0.2 );
  -webkit-box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.12 ) inset;
     -moz-box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.12 ) inset;
          box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.12 ) inset;

  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
}#respond #comment-form-comment textarea,
#comment-form-share-text-padder textarea {
  float: none;
  width: 100%;
  height: 125px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-family: inherit;
  color: #4b4b4b;
  color: rgba( 0, 0, 0, 0.7 );
  text-shadow: 0 1px 0 rgba( 255, 255, 255, 0.45 );

  background: transparent !important;
  border: none !important;
  outline: none;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none;
          box-shadow: none;

  -webkit-appearance: none;
}#respond #comment-form-identity {
  padding: 0;
  overflow: hidden;

  border-top: 1px solid #c9c9c9;
  border-top: 1px solid rgba( 255, 255, 255, 0.35 );
}#respond div.comment-form-field {
  padding: 0;
  overflow: visible;

  font-size: 12px;

  border: none;

  -webkit-margin-after: 0 !important;
  -webkit-margin-before: 0 !important;
}#respond #comment-form-subscribe {
  float: left;
  margin-top: 15px;
  padding-left: 5px;

  line-height: 18px !important;
}.cse {
  float: right;
  margin: 29px 18px 0 0;
}
.form.gsc-search-box {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-left: 0;

  font-size: 13px;
}
.form-input {
  display: inline-block;
  width: 140px;
  padding: 6px 15px;

  vertical-align: middle;

  border: 1px solid #e7e7e7;
}
.form-input i,
.form-input .form-input-placeholder {
  display: inline-block;

  vertical-align: middle;
}
.form-search-button {
  display: inline-block;
  width: 40px;
  padding: 8px 15px 5px 15px;

  vertical-align: middle;
  text-align: center;

  background-color: #000000;
}

.buy-btn {
  text-align: center;
  text-transform: uppercase;
}
.buy-btn a {
  display: inline-block;
  margin: 30px 0;
  padding: 18px 60px;

  font-size: 24px;
  color: #ffffff;

  background: #ff0099;

  transition: 0.5s ease;
}
.buy-btn a:hover {
  text-decoration: none;

  -ms-transform: scale(1.1);
      transform: scale(1.1);
}
.prod-img {
  display: block;
  max-width: 600px;
  margin: 0 auto;
}
.prod-img img {
  max-width: 100%;
}

.cse .gsib_a {
  padding: 0 5px;
}





@media(max-width:991px) {
  aside {
    display: none;
  }
  .header .box {
    width: 100%;
  }
  .content,
  .main-post {
    box-sizing: border-box;
    width: 100%;
  }
  .comment {
    display: none;
  }
  .comment.mobile {
    display: block;
  }
  .wrapper {
    box-sizing: border-box;
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .social-site-links {
    display: none;
  }
  body {
    min-width: 1px;
  }
  .gallery-thumbs {
    display: block;
    float: none;
    margin: 0 auto;
  }
  .gallery-B .data {
    display: block;
    margin: 0 auto 20px;
    padding-top: 35px;
  }
  .gallery-B .data div {
    padding: 20px 0 0 0;
  }
}
@media(max-width:870px) {
  .hl-boilerplate ul,
  .hl-boilerplate p.hl-copyright {
    float: none;
    width: 100%;
    padding: 5px 0;

    text-align: center;
  }
  .hl-boilerplate ul li {
    display: inline-block;
    float: none;
  }
}
@media(max-width:620px) {
  .logo {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0 10px;
  }
  .main-post h1 {
    margin-bottom: 15px;
    margin-left: 0;

    font-size: 1.7em;
  }

  .comments.action-link.prevented {
    display: block;
    width: 100%;
    margin-bottom: 0;
  }
  .meta .posted {
    margin-left: 0;
  }

  .gallery-B .gallery-thumbs div.gallery-multi div {
  }
  .gallery-B .gallery-thumbs div.gallery-multi div img {
    width: 100%;
    height: auto;
  }
  .entry-content h3 {
    font-size: 16px;
    line-height: 19px;
  }
  p i,
  .single .hl-related-lead-links h3,
  #respond h3#reply-title {
    font-size: 16px;
  }
  #respond h3#reply-title {
    margin-left: 10px;
  }
  .hl-boilerplate ul {
    width: 100%;
  }
  .buy-btn a {
    width: 90%;
    padding-right: 0;
    padding-left: 0;
  }
  .social-bar li a {
    width: 60px;
  }
}
.article-date {
  display: block;
  width: 100%;
  margin-top: 5px;
}
.logo img {
  display: block;
  margin: 0 auto;
}
@media(max-width:537px) {
  .gallery-B .data {
    padding-top: 10px;
  }
}
@media(max-width:490px) {
  .gallery-B .data {
    padding-top: 0;
  }
}
@media(max-width:420px) {
  .gallery-B .data {
    display: none;
  }
  .gallery-B .gallery-thumbs div.gallery-multi div {
    width: 32.3%;
  }
  .gallery-B .gallery-thumbs {
    width: 100%;
  }
}
