@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700|Noto+Serif:400,700&subset=greek');
* {
	margin: 0;
	box-sizing: inherit;
}
*:before, *:after {
	box-sizing: inherit;
}
html, body {
	height: 100%;
	box-sizing: border-box;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
}
fieldset, img {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}
figure {
	margin:0;
}
iframe {
	border: none;
	margin: 0;
	padding: 0;
}
body, td, th {
	font-family: 'Fira Sans', sans-serif; /* font-family: 'Noto Serif', serif; */
	font-size: 14px;
	color: #363636;
}
body {
	background: #dbdbd3;
	margin: 0;
}
body.maintenance {
	background:#fff;
}
a:link, a:visited, a:active {
	color: #363636;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: none;
	color: #0C4FA3;
}
.clr {
	clear: both;
	font-size: 1px;
	height: 1px;
}
/* float clearing for IE6 */
* html .clearfix {
	height: 1%;
	overflow: visible;
}
/* float clearing for IE7 */
*+html .clearfix {
	min-height: 1%;
}
/* float clearing for everyone else */
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}
#wrapper {
	width: 100%;
	min-height: 100%;
	margin: 0 auto -220px;
	padding: 0;
	overflow:hidden;
}
header {
	background-color:#fff;
}
.top_bar {
	background-color:#0f467b;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#fff;
}
.top_bar a:link, .top_bar a:active, .top_bar a:visited {
	color:#fff;
}
.top_bar a:hover {
	color:#a5cef6;
}
.top_bar .container {
	padding:0;
}
.top_bar .social ul {
	display:block;
	text-align:right;
}
.top_bar .social ul li {
	display:inline-block;
	padding-left:10px;
}
.logo {
	height:105px;
}
.logo img {
	margin:20px 0 30px 0;
}
#main_navigation {
	width:100%;
	color:#fff;
	padding:0;
	position:relative;
}
#main_navigation .navbar {
	height:40px;
	position:relative;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;	
	padding:0;
}
#main_menu {
	width:100%;
	z-index:10;
}
#main_navigation .bg-moh {
	background-color: #00518f;
	background-image: -moz-linear-gradient(#2f78c0,#0f4071 70%);
	background-image: -webkit-linear-gradient(#2f78c0,#0f4071 70%);
	background-image: linear-gradient(#2f78c0,#0f4071 70%);
}
#main_navigation .navbar-dark .navbar-nav .nav-link {
    background-color: #00518f;
    background-image: -moz-linear-gradient(#2f78c0,#0f4071 70%);
    background-image: -webkit-linear-gradient(#2f78c0,#0f4071 70%);
    background-image: linear-gradient(#2f78c0,#0f4071 70%);
    border-left: 1px solid #577ca2;
    border-right: 1px solid #122d4a;
	padding:.6rem 0;
	color:#fff;
}
#main_navigation .navbar-dark .navbar-nav .nav-link:focus,
#main_navigation .navbar-dark .navbar-nav .nav-link:hover {
    background-image: -moz-linear-gradient(#002c5b,#003972 70%);
    background-image: -webkit-linear-gradient(#002c5b,#003972 70%);
    background-image: linear-gradient(#002c5b,#003972 70%);
}
#main_navigation .navbar-dark .navbar-nav .nav-item:first-child .nav-link {
    border-top-left-radius: 7px;
}
#main_navigation .navbar-dark .navbar-nav .nav-item:last-child .nav-link {
	border-top-right-radius: 7px;
}
#main_navigation .navbar-dark .navbar-nav .nav-item.active {
	background-color:#27435a;
}

/* MEGAMENU */
.megamenu {
	position:absolute;
	left:0;
	width:100%;
	height:auto;
	background-color:#fff;
	box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.2);
	color:#363636;
	padding:15px;
	z-index:200;
	text-align:left;
}
.megamenu h3 {
	font-size:16px;
	font-weight:600;
	padding:5px 0;
	border-bottom:2px solid #eee;
	color:#0C4FA3;
}
.megamenu h3 a:link, .megamenu h3 a:active, .megamenu h3 a:visited {
	color:#0C4FA3;
}
.megamenu h3 a:hover {
	color:#a00000;
}
.megamenu ul {
	padding-top:10px;
	margin-bottom:15px;
}
.megamenu ul > li {
	border-bottom:1px solid #eee;
}
.megamenu ul > li a span {
	display:block;
	padding:5px 5px 5px 0;
	position:relative;
}
.megamenu ul > li a span:after {
	content:"\f0da";
	font-family: 'Font Awesome 5 Pro';
	font-weight:700;
	font-size:14px;
	position:absolute;
	right:5px;
	color:#aaaaaa;
	position:absolute;
	top:5px;
}
.megamenu ul > li:hover a span:after {
	color:#0C4FA3;
}

/* MAIN SLIDESHOW */
#main_slideshow {
	width:100%;
	height:428px;
	background: #58a5e3; /* Old browsers */
	background: -moz-linear-gradient(top, #58a5e3 0%, #1c3c7b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #58a5e3 0%,#1c3c7b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #58a5e3 0%,#1c3c7b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58a5e3', endColorstr='#1c3c7b',GradientType=0 ); /* IE6-9 */
	color:#fff;
}
#main_navigation .menu_clickable {
	display:none;
}
#main_slideshow .item figure {
	max-height:428px;
	overflow:hidden;
	margin:0;
}
#main_slideshow .item figure img {
	min-height:428px;
}
#main_slideshow .item .text_box {
	padding:3em;
}
#main_slideshow .item .text_box .title {
	font-family: 'Noto Serif', serif;
	font-size: 20px;
	font-weight:700;
	line-height: 1.4em;
	margin-bottom: 1.1em;
	text-align:center;
}
#main_slideshow .item .text_box .more {
	text-align:center;
}

#search_bar {
	margin:0 auto;
	color:#fff;
	box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;	
}
.search .usl {
	text-align:right;
}
#search_bar .form-group {
	margin-bottom:0;
}
#search_bar input[type=text].form-control {
	width: calc(100% - 40px);
	float: right;
    border: none;
}
#search_bar .btn-search {
	width: 40px;
	background-color: transparent;
	outline: none;
	float: right;	
}
#search_bar .btn-search.active, #search_bar .btn-search:active {
	background-image: none;
	box-shadow: none;
	outline: 0 none;
}
#search_bar .btn.focus, #search_bar .btn:focus, #search_bar .btn:hover {
	color:#655939;
}
.btn-primary {
  color: #fff;
  background-color: #006FE6;
  border-color: #006FE6;
}
.owl-nav.disabled+.owl-dots {
	display:block;
}
.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
	background:#0f467b !important;
}
button.owl-dot {
	outline:none;
	border:none;
	background-color:transparent;
}
.owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
      background: #869791; }

#carousel_dots {
	margin-top:-42px;
	z-index:1;
}
#carousel_dots .owl-dot span {
	background-color:#FFF;
	width:16px;
	height:16px;
	margin:0;
}
#carousel_dots .owl-dot.active span, #carousel_dots .owl-dot:hover span {
	background-color:#a5cef6 !important;
	cursor:pointer;
}
.section_wrapper {
	padding:1.5em;
}
#latest_news .section_wrapper {
	padding:1.5em 1.5em .5em 1.5em;
}
#services .item {
	margin-bottom:1.5em;
}
h3.block_title {
	font-size:18px;
	font-weight:500;
	color:#655939;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 0.3em;
    margin-bottom: 1em;
    padding-bottom: 0.2em;	
}
#latest_news .data-item figure {
	height:160px;
	overflow:hidden;
	background-color:#fff;
	margin-bottom:1em;
	display:flex;
}
#latest_news .data-item h3 {
	color:#415D71;
	font-size:16px;
	font-weight:600;
	margin-bottom:5px;
}
#latest_news .data-item h3 a {
	color:#415D71;	
}
#latest_news .data-item p {
	font-size:14px;
	line-height:1.3;
	display: -webkit-box;
	max-width: 100%;
	height: 55px;
	margin: 0 auto 3px auto;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;		
}
h3.item_title {
	color:#004fba;
	font-size:16px;
	font-weight:500;
	margin-bottom:5px;
}
h3.item_title a:link, h3.item_title a:active, h3.item_title a:visited {
	color:#004fba;
}
h3.item_title a:hover {
	color:#a00000;
}
.item .item_description {
	color:#444;
	line-height:1.3;
}
.item .data {
	padding-left:0;
}
.item .date {
	display:block;
	color:#655939;
	margin:3px auto;
}
.light_bg {
	background-color:#f5f5f5;
}
.white_bg {
	background-color:#fff;
}
.path_tree {
	margin:5px auto;
}
.path_tree li {
	display:inline-block;
	float:left;
	margin:0 25px 0 0;
	font-size:12px;
	font-weight:400;
	position:relative;
}
.path_tree li:after {
	content:"\f0da";
	font-family: 'Font Awesome 5 Pro';
	font-weight:700;
	font-size:14px;
	position:absolute;
	right:-15px;
	top:-1px;
	color:#aaaaaa;
}
.path_tree li:last-child:after {
	display:none;
}
.path_tree li a:link, .path_tree li a:active, .path_tree li a:visited {
	color:#737373;
}
.path_tree li a:hover {
	color:#5d5d5f;
}
.breadcrumb {
	background-color: #2E6799;
	color: #fff;
	border-radius:0;
	margin-bottom:0;
}
.breadcrumb-item+.breadcrumb-item::before {
	color:#fff;
}
.breadcrumb a {
	color: #fff;	
}
.breadcrumb-item.active {
	color:#DEE7F7;
}
#page .container {
	background-color:#fff;
	min-height:calc(100vh - 395px);
}
#page .section_header {
	display:block;
	background-color:#0C4FA3;
}
#page .section_header h2 {
	padding-bottom: 0.4em;
	padding-top: 0.4em;	
    border-bottom: none;
    color: #fff;
	font-size: 2.1em;
    letter-spacing: 0.05em;
    margin: 0;
	display:block;
}
#page .text {
	margin-bottom:2rem;
}
#page .text h1 {
    clear: both;
    color: #655939;
    border-bottom: 1px solid #d7d7d7;
    font-size:1.8em;
    letter-spacing: -0.05em;
    margin:.5em 0;
	padding-bottom:.3em;
}
#page .text img {
	margin-bottom:1.5rem;
}
#page .text p {
	margin-bottom:1.5rem;	
}
#page .related {
	margin:.5em auto;
}
#page .related .index_heading {
    color: #0C4FA3;
    border-bottom: 1px solid #d7d7d7;
	min-height: 60px;
	padding-bottom: 0.2em;
	padding-top: 0.4em;	
	font-size: 1.8em;
    letter-spacing: -0.05em;
    margin:.5em 0;
	display:block;	
}
#page .container .sidebar {
	background-color:#fff;
	min-height:calc(100vh - 416px);
}
#page .container .sidebar h2 {
	color:#655939;
	font-size:16px;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:2px solid #eee;
}
#page .sidebar .closed {
	display:none;
}
#page .sidebar .categories li {
	border-bottom:2px solid #fff;
	position:relative;
}
#page .sidebar .categories li.active {
	font-weight:600;
	color:#0f467b;
}
#page .sidebar .categories li.active a:link,
#page .sidebar .categories li.active a:active,
#page .sidebar .categories li.active a:visited {
	color:#0f467b;	
}
#page .sidebar .categories li:last-child {
	border-bottom:none;
}
#page .sidebar .categories li a:link,
#page .sidebar .categories li a:active,
#page .sidebar .categories li a:visited {
	color:#2f76b3;
}
#page .sidebar .categories li a:hover {
	color:#0f467b;
}
#page .sidebar .categories li a span {
	display:block;
	padding:5px 0;
}
#page .sidebar .categories li a.opened {
	color:#655939;
}
#page .sidebar .categories li:hover {
	color:#0C4FA3;
}
#page .sidebar .categories .subcategories {
	border-top:2px solid #fff;
}
#page .sidebar .categories .subcategories li {
	position:relative;
	padding: 0 15px;
}
#page .sidebar .categories li a.arrow::after {
	position:absolute;
	content:"\f0da";
	font-family: 'Font Awesome 5 Pro';
	font-weight:700;
	display: inline-block;
	color:#655939;
	top:5px;
	right:5px;
}
#page .sidebar .categories li a.opened.arrow::after {
	content:"\f0d7";
	color:#655939;
}
#page .sidebar .categories .subcategories li a.arrow::after {
	position:absolute;
	content:"\f0da";
	font-family: 'Font Awesome 5 Pro';
	font-weight:700;
	display: inline-block;
	color:#0C4FA3;
	top:5px;
	right:5px;
}
#page .sidebar .categories .subcategories li a.opened.arrow::after {
	content:"\f0d7";
	color:#655939;	
}
#page .sidebar .categories .subcategories li:last-child a.opened {
	border-bottom:none;
}
#page_content .inside article:last-child {
	border-bottom:none;
}
#page_content.list h1 {
    font-size:26px;
	font-weight:600;
    letter-spacing: -0.03em;
	margin:10px auto;
}
#page_content.list h2.heading {
	font-size: 20px;
	line-height: 30px;
	color:#655939;
}
#page_content.list article {
	margin-bottom:10px;
	border-bottom:1px dashed #eee;
}
#page_content.list .item:last-child article {
	border-bottom:none;
}
#page_content .inside article h1 {
	font-size: 26px;
	font-weight: 600;
    color: #111;
    letter-spacing: -0.03em;
    margin:.5em 0 0 0;
	padding-bottom: 0;
}
#page_content.list article h1 {
	font-size:16px;
	line-height:20px;
	font-weight:400;
	margin:0 auto 10px;
}
#page_content .inside article figure img, #page_content.list article figure img {
	width:auto;
}
#page_content .inside article figure {
	margin-top:15px;
}
#page_content .copyrights {
	display:block;
	text-align:left;
	margin:5px auto;
	font-size:11px;
	color:#655939;
	padding:0;
}
#page_content article .meta {
	font-size:16px;
	font-weight:600;
    line-height: 16px;
	margin:0 auto 15px auto;
}
#page_content.list .meta {
	font-size:14px;
	margin:5px auto;
}
#page_content article .datetime {
	float:left;
	line-height:25px;
    font-size: 12px;
	color:#655939;
}
#page_content.list article .meta .datetime {
	font-weight:400;
	color:#655939;
}
#page_content article .meta .updated {
	float:right;
}
#page_content.list article h1 a:link,
#page_content.list article h1 a:active,
#page_content.list article h1 a:visited {
	color:#0C4FA3;
}
#page_content.list article h1 a:hover {
	color:#a00000;
	font-weight:400;
}
#page_content.list .category {
	float:left;
	display:inline-block;
	padding:5px 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	margin-bottom:5px;
	color:#737373;
}
#page_content.list .category a {
	color:#737373;
}
#page_content.list .category:hover a {
	color:#655939;
}
#page_content .inside article .tags h3 {
	display:inline-block;
	font-weight:normal;
	font-size: 14px;
	margin-right:15px;
	/*margin-top:-10px;*/
	float:left;
}
#page_content .inside article .tags ul {
	display:inline-block;
	float:left;
}
#page_content .inside article .tags ul li {
	font-family: 'Open Sans', sans-serif;	
	display:inline-block;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}
#page_content .inside article .tags ul li span {
	font-size:14px;
	display:inline-block;
	padding:6px 10px;
	border-radius: 4px;
	background-color: #F2EEEE;
	transition:all 0.1s ease-in-out;
	-moz-transition:all 0.1s ease-in-out;
	-webkit-transition:all 0.1s ease-in-out;
	-o-transition:all 0.1s ease-in-out;		
}
#page_content .inside article .tags ul li span:hover {
	background-color: #0C4FA3;
	color:#fff;
}
#page_content .inside article .share {
	text-align:right;
}
#page_content .inside article.text {
	font-size:16px;
	font-weight:400;
	margin:20px auto;
}
#page_content .inside article.text p {
	margin-bottom:1rem;
}
#page_content .extra_articles .item {
	margin-bottom:15px;
}
#page_content .extra_articles .item article p {
	font-weight:400;
	display: -webkit-box;
	height: 57px;
	margin: 0 auto;
	line-height: 1.2;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
#page_content .extra_articles .item article h1 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 10px;
	border-bottom:none;
}
#page_content .extra_articles.related .item article h1 {
	font-size:14px;
	line-height:1.3;
	display: -webkit-box;
	max-width: 100%;
	height: 55px;
	margin: 10px auto;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;	
    font-weight: 400;
	border-bottom:none;
}
/* AUTHOR */
#page_content .author {
	float: left;
	position: relative;
	top: 10px;
	display:block;
	margin-bottom:20px;
}
#page_content .author figure {
	float: left;
	margin: 0 5px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	overflow:hidden;
    border: solid 1px #efefef;
}
#page_content .inside article .author figure img {
	width: 60px;
	height: 60px;
}
#page_content .author span {
	float: left;
	position:relative;
	top:4px;
	left:10px;
}
#page_content .author.editor span {
	top:20px;
}
#page_content .author span mark {
	display: block;
	background: #fff;
	font-weight: 600;
	font-size:14px;
	color: #191A1E;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
}
#page_content .author ul {
	position:relative;
	top:3px;
	left:10px;
}
#page_content .author ul > li {
	display:inline-block;
	float:left;
	margin-right:10px;
	font-size:24px;
}
#page_content .author ul > li.facebook a {
	color:#3b5998;
}
#page_content .author ul > li.twitter a {
	color:#1dcaff;
}
#page_content.protoselida h1, #page_content .widget h2 {
	color: #655939;
	font-size: 40px;
	font-weight: 300;
	line-height: 45px;
	margin-bottom:20px;
	border-bottom:4px solid #F2EEEE;
}
#page_content .extra_articles.widget h2 {
	font-size:20px;
	line-height:30px;
}
#page_content.protoselida .short-title h1, #page_content .widget.short-title h2 {
	font-size:26px;
	font-weight:400;
}
/*
#page_content .widget.tags h2::after, #page_content .extra_articles.widget h2::after, #page_content .widget.short-title h2::after {
	content:'';
	display:block;
	width:120px;
	height:4px;
	background-color:#0C4FA3;
	position:relative;
	top:4px;
}
#page_content .extra_articles.widget.related h2::after {
	background-color:#655939;	
}
*/
#page_content .extra_articles.widget.related figure {
	 height:160px;
	 overflow:hidden;
}
#page_content .extra_articles.widget.related figure img {
	min-height:160px;
}
#page_content h2 {
	font-size:18px; 
	color:#0C4FA3;
	margin:0 0 10px 0;
	padding:10px 0 0 0;
}
#page_content h3 {
	font-size:16px;
	color:#0C4FA3;
	font-weight:600;
	margin:0 0 10px 0;
	padding:10px 0 0 0;
}
#page_content h4 {
	font-size:14px;
	font-weight:400;
	color:#0C4FA3;
	margin:0 0 10px 0;
	padding:10px 0 0 0;
}
#page_content p {
	margin:0 0 10px 0;
	padding:0;
	line-height:1.6em;
}
#page_content ul {
	margin-left:30px;
	margin-bottom:1.5rem;
}
#page_content .tags ul {
	margin-left:0;
}
#page_content.list ul, #page_content.list ol {
	margin-left:15px;
}
#page_content.list ul li, #page_content.list ol li {
	padding-left:5px;	
	position:relative;
}
#page_content.list ol li {
	list-style-type:decimal;
}
#page_content.list ul li::before {
	position:absolute;
	content: '';
	pointer-events: none;
	top:6px;
	left:-15px;
    width: 6px;
    height: 6px;
    display: inline-block;
	background-color:#655939;
}

#page_content .category_subcategories h2 {
	display:block;
	border-bottom:2px solid #eee;
	padding-bottom:5px;
}
#page_content .category_subcategories ul {
	margin:0;
}
#page_content .category_subcategories ul li {
	list-style-type:none;
	display:inline-block;
	float:left;
	padding-left:0;
	margin:0 15px 15px 0;
	background-color:#0f467b;
	color:#fff;
	border-radius:6px;
}
#page_content .category_subcategories ul li:hover {
	background-color:#655939;
}
#page_content .category_subcategories ul li a {
	display:block;
	padding:5px 10px;	
	color:#fff;
}
#page_content .category_subcategories ul li::before {
	display:none;
}
.article_files_wrapper.single_file_wrapper {
	background: #eee;
	padding: 0 10px;
}
.article_file_wrapper {
	padding: 10px 0 0 0;
	margin: 0 25px 15px 0;
	float: left;
}
.article_file a {
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	padding-left: 38px;
}
.article_file a span {
	display: block;
	font-size: 11px;
	font-weight: normal;
	padding: 2px 0 0 0;
	color: #707070;
}
.icon_generic a {
	background: url(images/icons/generic.png) no-repeat 0 0;
}
.icon_doc a {
	background: url(images/icons/doc.png) no-repeat 0 0;
}
.icon_excel a {
	background: url(images/icons/excel.png) no-repeat 0 0;
}
.icon_powerpoint a {
	background: url(images/icons/powerpoint.png) no-repeat 0 0;
}
.icon_txt a {
	background: url(images/icons/txt.png) no-repeat 0 0;
}
.icon_pdf a {
	background: url(images/icons/pdf.png) no-repeat 0 0;
}
.icon_audio a {
	background: url(images/icons/audio.png) no-repeat 0 0;
}
.icon_video a {
	background: url(images/icons/video.png) no-repeat 0 0;
}
.icon_image a {
	background: url(images/icons/image.png) no-repeat 0 0;
}
.icon_archive a {
	background: url(images/icons/archive.png) no-repeat 0 0;
}
.extra_photos {
	padding:0;
	margin:0 0 10px 0;
}
.extra_photos img {
	margin-bottom:20px;
}

.load-more {
	margin:15px auto 30px auto;
}
#load_more_articles {
	width:100px;
	border:1px solid #bea064;
	padding:10px 15px;
	margin:0 auto;
	color:#BEA064;
	background-image: linear-gradient(#bea064, #bea064);
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: 100% 0%;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;	
}
#load_more_articles:hover {
	background-size: 100% 100%;
	color:#fff;
}

/* PAGINATION */
.paging {
	border-top: 1px solid #EAEAEA;
	padding: 15px 0 0 0;
	margin: 0 auto 10px auto;
	width: 100%;
	color: #655939;
}
.paging_simple {
	float: left;
	color:#2f2f2f;
}
#paging_jump {
	width: 25px;
	text-align: right;
	font-size: 13px;
	padding: 1px 2px;
	margin: 0;
	background: #eee;
	color: #655939;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#paging_jump:focus {
	border: 1px solid #bbb;
	outline: none
}
.paging_list {
	list-style: none;
	float: right;
}
.paging_list li {
	display: inline;
}
.paging_list li a, .paging_list li span {
	display: block;
	float: left;
	padding: 3px 6px;
	margin: 0 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.paging_list li a.selected {
	background: #655939;
	color: #fff;
	font-weight: bold;
}
#page_content.list .paging ul li::before {
	display:none;
}

#external_services .img-fluid {
	width:100%;
	height:140px;
}
.push {
	height:220px;
}
footer {
	min-height:220px;
	color:#fff;
	position:relative;
	z-index:4;
}
footer .menu {
	    background-color: #0C4FA3;
}
footer a:link, footer a:active, footer a:visited {
	color:#fff;
}
footer a:hover {
	color:#a5cef6;
}
footer .menu {
	padding:20px 0;
	min-height:180px;
}
footer .menu h3 {
	font-size:16px;
	font-weight:400;
    font-family: 'Fira Sans', sans-serif;
	padding-bottom:10px;
    margin-bottom: 10px;
	border-bottom: 2px solid rgba(255,255,255,.2);	
	color:#a5cef6;
}
footer ul.multicol {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}
footer ul li {
    padding: 2.5px 0;
}
footer .bottom_bar {
	height:40px;
	line-height:40px;
	font-size:13px;
	color:#eee;
}
footer .bottom_bar .row {
	background-color:#002758;
}
footer .bottom_bar .copyright {
	text-align:left;
}
footer .bottom_bar .madeby {
	text-align:right;
}

.maintenance_mode_wrapper {
	font-family: 'Open Sans', sans-serif;
	padding: 200px 0 0 0;
}
.maintenance_mode {
	margin: 0 auto;
	padding: 30px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.maintenance_text {
	text-align: center;
	font-size: 22px;
	font-weight:600;
	color:#333;
	line-height: 1.5em;
}
.maintenance_logo {
	margin:0 auto 10px auto;
	text-align:center;
}
.maintenance_logo img {
	height:200px;
}
@media only screen and (max-width: 991px) {
#main_slideshow {
	height:auto;
}
#main_slideshow .item figure {
	max-height:300px;
}
#main_slideshow .item figure img {
	min-height:300px;
}
#main_slideshow .item .text_box {
	padding:2em;
}
#main_slideshow .item .text_box .title {
	font-size: 18px;
	margin-bottom: 0.6em;
	text-align:center;
}
#carousel_dots {
	padding-bottom:10px;	
	margin-top:0;
}
#latest_news .row {
	margin:0;
}
/* MEGAMENU */
.megamenu {
	position:relative;
}
#main_menu {
	margin-top:0px;
	background-color:#00518f;
}
#main_navigation .navbar {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;	
}
#main_navigation .navbar-nav .nav-item {
	text-align:left !important;
	position:relative;
}
#main_navigation .navbar-nav .nav-item .dropdown-toggle::after {
	display:none;
}
#main_navigation .navbar-nav .nav-item .nav-link {
	padding:.9rem 1rem;
	border-bottom:1px solid #3e6f98;
}
#main_navigation .navbar-dark .navbar-nav .nav-link {
    background-color: #00518f;
    background-image: none;
    border-left: none;
    border-right: none;
	padding:.9rem;
}
#main_navigation .navbar-dark .navbar-nav .nav-link:focus,
#main_navigation .navbar-dark .navbar-nav .nav-link:hover {
    background-image: -moz-linear-gradient(#002c5b,#003972 70%);
    background-image: -webkit-linear-gradient(#002c5b,#003972 70%);
    background-image: linear-gradient(#002c5b,#003972 70%);
}
#main_navigation .navbar-dark .navbar-nav .nav-item:first-child .nav-link {
    border-top-left-radius: 0;
}
#main_navigation .navbar-dark .navbar-nav .nav-item:last-child .nav-link {
	border-top-right-radius: 0;
}
#main_navigation .navbar-dark .navbar-nav .nav-item.active {
	background-color:#27435a;
}
.top_bar .container {
	padding:0 15px;
}
.logo {
	height:auto;
    text-align: center;
	padding:10px;
}
.logo img {
	margin:0;
}
.navbar {
	padding:0;
}
.navbar-dark .navbar-toggler {
    height: 38px;
	margin:0 0 2px 0;
    color:#fff;
    border-color:transparent;
	outline:none;
	box-shadow:none;
}
.navbar-dark .navbar-nav .dropdown .dropdown-toggle::after, 
.navbar-dark .navbar-nav .dropdown-menu .dropdown-item .has_submenu::after {
	display:none;
}
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #FFF;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
.navbar-toggler {
  border: none;
  background: transparent !important;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
#main_navigation .menu_clickable {
	display:inline-block;
	position:absolute;
	top:0;
	right:0;
	background-color:rgba(0,0,0,.2);
	padding: .9rem 1rem;
	z-index:10;
}
#main_navigation .menu_clickable:hover {
	background-color:rgba(0,0,0,.3);
	cursor:pointer;
}
#page .container .sidebar {
	height:auto;
	margin-bottom:10px;
	min-height:inherit;
}
}
@media only screen and (max-width: 767px) {
.logo .search {
	margin-top:10px;
}
.search .usl {
	text-align:center;
}
}
@media only screen and (max-width: 576px) {
#main_slideshow .item .text_box .title {
	font-size: 16px;
}
#main_slideshow .item figure img {
	min-height:auto;
}	
.top_bar .social ul {
	text-align:center;
}
.top_bar {
	height:auto;
}
.top_bar .date, .top_bar .social {
	text-align:center;
}
#external_services .img-fluid {
	height:120px;
}
footer .bottom_bar {
	height:70px;
	line-height:35px;
}
footer .bottom_bar .copyright, footer .bottom_bar .madeby {
	text-align:center;
}
}
@media only screen and (max-width: 400px) {
#external_services .item {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
#external_services .img-fluid {
	height:auto;
}
}

.tooltip-inner {
    background-color: #083C6C;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #083C6C;
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    border-right-color: #083C6C;
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #083C6C;
}
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    border-left-color: #083C6C;
}


.main {
	padding-top: 50px;
	padding-bottom: 5px;
}

.main-title {
	font-size: 30px;
	font-weight: 700;
}

.content-left-social {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: right;
	background-color: #145897;
	color: #fff;
}

.content-left-social-comments > a{
	color: #fff;
}

.second-title {
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-size: 25px;
	font-weight: 700;
	border-bottom: 3px solid #145897;
}

.content-left-doctor {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	width: 96%;
	background-color: rgb(226, 226, 226);
	padding: 2%;
	margin-top: 25px;
}

.content-left-doctor-foto  img{
	max-width: 1000px;
	width: 100%;
}

.main p {
	font-size: 1.1rem;
	margin-bottom: 15px;
}

.cenz-image {
margin-top: 20px;
margin-bottom: 20px;
}

.disease-img {
	max-width: 400px;
	width: 100%;
}

.product {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}

.rub-ramka {
	margin-top: 22px;
  margin-bottom: 18px;
  background: rgba(20, 88, 151, 0.04);
  padding: 12px 15px !important;
  color: rgb(20, 88, 151);
  font-size: 18px;
  font-family: roboto condensed, arial;
  border: 2px solid;
  border-radius: 4px;
  border-color: #145897;
  text-shadow: 0 0 0 #616161;
  text-indent: 0 !important;
  text-align: left;
}


.demon_popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	font-family: sans-serif;
	display: none;
	z-index: 9999;
}

.demon_overflow {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.7);
}

.demon_popup_body {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 850px;
	padding: 20px 20px 90px;
	background: linear-gradient(135deg,#3c72b5 0,#7b9fcc 100%) 0 0;
	box-sizing: border-box;
	border: 5px solid #ddd;
	min-height: 415px;
}

.demon_close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	display: block;
	cursor: pointer;
}

.demon_popup_title {
	width: 100%;
	text-align: center;
	font-size: 28px;
	color: #fff;
	margin: 0;
}

.demon_popup_body img {
	position: absolute;
	left: 5px;
	top: 100px;
	width: 100%;
	max-width: 210px;
	height: 220px;
	object-fit: contain;
}

.demon_popup_body p {
	padding-left: 180px;
	font-size: 23px;
	line-height: 1.3;
	margin: 0;
	padding-top: 30px;
	color: #fff;
}

.demon_popup_body p:first-of-type {
	padding-top: 58px;
}

.demon_popup_body a:last-of-type {
	position: absolute;
	left: 50%;
	margin-left: -200px;
	bottom: 20px;
	height: 60px;
	background: transparent linear-gradient(to bottom,#de455c 0,#de455c 13%,#c01f37 76%,#c01f37 100%) repeat scroll 0 0;
	color: #e0e2e6;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	font-size: 26px;
	font-weight: 900;
	border-radius: 10px;
	text-decoration: none;
	box-shadow: 0 0 25px rgb(0 0 0 / 80%);
}

.vk-header {
	background: rgb(218, 226, 232) none repeat scroll 0% 0%;
	padding: 4px 4px 4px 6px;
	margin-bottom: 10px;
}

.vk-header-text {
	padding: 2px 3px 1px;
	line-height: 100%;
	color: rgb(69, 104, 142);
	font-weight: bold;
}

.vk-comment, .vk-comment-load {
	margin-bottom: 15px;
	position: relative;
	border-bottom: 1px solid rgb(218, 225, 232);
	padding-bottom: 15px;
}

.vk-comment-name {
	color: rgb(43, 88, 122);
	font-weight: bold;
	font-size: 16px;
}

.vk-comment-text {
	margin-left: 60px;
	font-size: 16px;
}

.vk-comment-date {
	margin-left: 60px;
	color: rgb(153, 153, 153);
}

.vk-avatar img {
	float: left;
	margin-right: 10px;
}

img.spoiler  {
	max-width: 200px;
	width: 100%;
}

@media(min-width: 768px) {
	.content-left-doctor {
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		column-gap: 20px;
		
	}

	.content-left-doctor-foto img {
		width: 300px;
	}

}

@media(min-width: 768px) {
	.content-left-doctor {
		
		align-items: center;

		
	}



}