/* ::::: http://viposidn.com/content/shared/css/order_me.min.css ::::: */

/* ::::: https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic-ext ::::: */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('../fonts/kfolcnqeu92fr1mmsu5fcrc4esa.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('../fonts/kfolcnqeu92fr1mmsu5fabc4esa.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('../fonts/kfolcnqeu92fr1mmsu5fcbc4esa.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('../fonts/kfolcnqeu92fr1mmsu5fbxc4esa.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('../fonts/kfolcnqeu92fr1mmsu5fcxc4esa.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('../fonts/kfolcnqeu92fr1mmsu5fchc4esa.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('../fonts/kfolcnqeu92fr1mmsu5fbbc4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('../fonts/kfomcnqeu92fr1mu72xkozy.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('../fonts/kfomcnqeu92fr1mu5mxkozy.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('../fonts/kfomcnqeu92fr1mu7mxkozy.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('../fonts/kfomcnqeu92fr1mu4wxkozy.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('../fonts/kfomcnqeu92fr1mu7wxkozy.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('../fonts/kfomcnqeu92fr1mu7gxkozy.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('../fonts/kfomcnqeu92fr1mu4mxk.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/kfolcnqeu92fr1mmwulfcrc4esa.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/kfolcnqeu92fr1mmwulfabc4esa.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/kfolcnqeu92fr1mmwulfcbc4esa.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/kfolcnqeu92fr1mmwulfbxc4esa.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/kfolcnqeu92fr1mmwulfcxc4esa.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/kfolcnqeu92fr1mmwulfchc4esa.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/kfolcnqeu92fr1mmwulfbbc4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html { min-width: 320px; }
@media only screen and (max-width: 800px) {
}
.ac_footer { position: relative; top: 10px; height: 0px; text-align: center; margin-bottom: 70px; color: rgb(161, 32, 0); }
.ac_footer a { color: rgb(161, 32, 0); }
.ac_footer p { text-align: center; }
/* ::::: https://fonts.googleapis.com/css?family=Anton|Montserrat:300,400,700 ::::: */

@font-face {
	font-family: "Anton";
	font-style: normal;
	font-weight: 400;
	src: local("Anton Regular"), local("Anton-Regular"), url('../fonts/1ptgg87lroyam3k8-c8qsw.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Anton";
	font-style: normal;
	font-weight: 400;
	src: local("Anton Regular"), local("Anton-Regular"), url('../fonts/1ptgg87lroyam3k9-c8qsw.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Anton";
	font-style: normal;
	font-weight: 400;
	src: local("Anton Regular"), local("Anton-Regular"), url('../fonts/1ptgg87lroyam3kz-c8.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	src: local("Montserrat Light"), local("Montserrat-Light"), url('../fonts/jturjig1_i6t8kchkm45_cjd3gtd_u50.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	src: local("Montserrat Light"), local("Montserrat-Light"), url('../fonts/jturjig1_i6t8kchkm45_cjd3g3d_u50.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	src: local("Montserrat Light"), local("Montserrat-Light"), url('../fonts/jturjig1_i6t8kchkm45_cjd3gbd_u50.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	src: local("Montserrat Light"), local("Montserrat-Light"), url('../fonts/jturjig1_i6t8kchkm45_cjd3gfd_u50.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	src: local("Montserrat Light"), local("Montserrat-Light"), url('../fonts/jturjig1_i6t8kchkm45_cjd3gnd_g.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local("Montserrat Regular"), local("Montserrat-Regular"), url('../fonts/jtusjig1_i6t8kchkm459wrhyzbi.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local("Montserrat Regular"), local("Montserrat-Regular"), url('../fonts/jtusjig1_i6t8kchkm459w1hyzbi.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local("Montserrat Regular"), local("Montserrat-Regular"), url('../fonts/jtusjig1_i6t8kchkm459wzhyzbi.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local("Montserrat Regular"), local("Montserrat-Regular"), url('../fonts/jtusjig1_i6t8kchkm459wdhyzbi.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local("Montserrat Regular"), local("Montserrat-Regular"), url('../fonts/jtusjig1_i6t8kchkm459wlhyw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: local("Montserrat Bold"), local("Montserrat-Bold"), url('../fonts/jturjig1_i6t8kchkm45_dje3gtd_u50.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: local("Montserrat Bold"), local("Montserrat-Bold"), url('../fonts/jturjig1_i6t8kchkm45_dje3g3d_u50.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: local("Montserrat Bold"), local("Montserrat-Bold"), url('../fonts/jturjig1_i6t8kchkm45_dje3gbd_u50.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: local("Montserrat Bold"), local("Montserrat-Bold"), url('../fonts/jturjig1_i6t8kchkm45_dje3gfd_u50.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: local("Montserrat Bold"), local("Montserrat-Bold"), url('../fonts/jturjig1_i6t8kchkm45_dje3gnd_g.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ::::: http://viposidn.com/content/XyXflCjA5WZVSba/css/main.css ::::: */

*, *::before, *::after { box-sizing: border-box; }
* { margin: 0px; padding: 0px; outline: 0px none; border: medium none; }
a { text-decoration: none; color: inherit; }
img { display: block; max-width: 100%; }
body { font-family: "Montserrat",sans-serif; color: rgb(0, 0, 0); font-size: 16px; line-height: 1; }
.wrapper { overflow: hidden; }
.container { width: 970px; padding: 0px 15px; margin: 0px auto; position: relative; z-index: 1; }
.header { background: rgb(200, 42, 42) none repeat scroll 0% 0%; }
.header__wrap { display: table; width: 100%; }
.header__cell { display: table-cell; vertical-align: middle; }
.head_photo { margin: 0px auto; }
.logo { font-size: 43px; font-weight: bold; color: rgb(255, 255, 255); text-transform: uppercase; padding: 30px 0px; }
.logo span { font-size: 14px; font-weight: bold; color: rgb(0, 0, 0); text-transform: lowercase; background: rgb(255, 204, 0) none repeat scroll 0% 0%; padding: 5px; display: inline-block; vertical-align: top; margin: 6px -16px 0px 0px; }
.menu { font-family: "Anton",sans-serif; font-size: 16px; text-transform: uppercase; display: table; }
.menu__cell { display: table-cell; vertical-align: middle; }
.menu__item { display: block; text-align: center; padding: 10px; color: rgb(255, 255, 255); position: relative; transition: color 0.2s ease 0.1s; }
.menu__item span { position: relative; z-index: 1; }
.menu__item::after { content: ""; width: 100%; height: 100%; background: rgb(255, 204, 0) none repeat scroll 0% 0%; position: absolute; top: 0px; left: 0px; transform: scaleY(0); transition: transform 0.4s ease 0s; transform-origin: center top 0px; }
.menu__item:hover { color: rgb(0, 0, 0); }
.menu__item:hover::after { transform: scaleY(1); }
.search { padding: 5px; position: relative; display: inline-block; vertical-align: middle; }
.search::before { content: ""; width: 15px; height: 15px; border-radius: 50%; border: 2px solid rgb(255, 255, 255); display: block; }
.search::after { content: ""; width: 10px; border: 1px solid rgb(255, 255, 255); position: absolute; bottom: 0px; right: 0px; margin: 0px 2px; transform: rotate(45deg); transform-origin: right bottom 0px; }
.main { padding: 0px 50px; }
.title { font-size: 36px; line-height: 1.43; font-weight: bold; padding: 10px 0px 0px; }
.subtitle { font-size: 31px; padding: 15px 0px 0px; }
.author { font-size: 14px; padding: 30px 0px 25px 45px; position: relative; }
.author::before { content: ""; background: rgba(0, 0, 0, 0) url('../img/author_pict.jpg') no-repeat scroll center center; width: 28px; height: 28px; border-radius: 50%; position: absolute; top: 50%; left: 0px; margin: -14px 0px 0px; }
.author__name { font-weight: bold; }
.author__name a { color: rgb(218, 25, 25); }
.author__date::before { content: ""; width: 3px; height: 3px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; border-radius: 50%; display: inline-block; vertical-align: middle; margin: 0px 5px; }
.head__photo { background: rgba(0, 0, 0, 0) url('../img/head_photo_bg.jpg') no-repeat scroll center center / cover ; border-style: solid; border-color: rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 3px 0px; box-shadow: 0px 0px 0px 1px rgb(183, 183, 183); }
.main__text { font-size: 18px; line-height: 1.8; padding: 25px 0px 5px; }
.main__text a, .comments__text a { background-color: rgb(255, 204, 0); transition: background-color 0.2s ease 0s; font-weight: bold; }
.main__text a:hover, .comments__text a:hover { background-color: transparent; text-decoration: underline; }
.main__photo { padding: 25px 0px 30px; }
.main__photo_mob { display: none; }
.main__text_mod { font-weight: bold; }
.main__text_mod span { display: block; padding: 5px 0px 5px 50px; border-left: 5px solid rgb(218, 25, 25); }
.product { display: table; padding: 25px 160px 30px 0px; position: relative; }
.product::after { content: ""; background: rgba(0, 0, 0, 0) url('../prod.png') no-repeat scroll center center / 100% auto; width: 204px; height: 422px; position: absolute; top: 50%; right: 0px; margin: -211px 0px 0px; }
.button__wrap { text-align: center; padding: 40px 0px; }
.button { display: inline-block; font-size: 28px; font-weight: bold; color: rgb(255, 255, 255); text-transform: uppercase; letter-spacing: 3px; padding: 25px 60px; background-color: rgb(218, 25, 25); position: relative; transition: color 0.3s ease 0s; }
.button::before { content: ""; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; background: rgb(255, 204, 0) none repeat scroll 0% 0%; transform: scale(0); transition: transform 0.4s ease 0s, box-shadow 0.3s ease 0.2s; box-shadow: none; }
.button span { position: relative; z-index: 1; }
.button:hover { color: rgb(0, 0, 0); }
.button:hover::before { transform: scale(1); box-shadow: 0px 5px 15px rgb(218, 25, 25); }
.comments { padding: 30px 0px 0px; }
.comments__head-line { display: table; width: 100%; }
.comments__head-cell { display: table-cell; vertical-align: middle; }
.comments__head-cell_mod { width: 70%; }
.comments__head-cell_mod hr { border-bottom: 1px solid rgb(221, 221, 221); display: inline-block; vertical-align: bottom; width: 100%; }
.comments__title { font-size: 19px; font-weight: bold; }
.social { display: table; margin: 0px 0px 0px auto; width: 120px; text-align: right; }
.social__item { padding: 5px; position: relative; display: inline-block; }
.social__item::before { content: ""; width: 30px; height: 30px; display: block; transition: transform 0.3s ease 0s; }
.social__item_fb::before { background: rgba(0, 0, 0, 0) url('../img/facebook_icon_circle.svg') no-repeat scroll center center / contain ; }
.social__item_twitt::before { background: rgba(0, 0, 0, 0) url('../img/twitt_circle.svg') no-repeat scroll center center / contain ; }
.social__item_google::before { background: rgba(0, 0, 0, 0) url('../img/google+_circle.svg') no-repeat scroll center center / contain ; }
.social__item:hover::before { transform: scale(1.1); }
.comments__item { padding: 20px 0px; }
.comments__info { display: table; width: 100%; }
.comments__cell { display: table-cell; vertical-align: top; }
.comments__avatar { display: inline-block; vertical-align: top; margin: 0px 5px 0px 0px; max-width: 50px; }
.comments__data { display: inline-block; vertical-align: top; }
.comments__name { font-size: 18px; font-weight: bold; padding: 0px 0px 10px; }
.comments__date { font-size: 14px; color: rgb(151, 151, 151); }
.comments__favorites { padding: 5px; display: table; margin: 0px 0px 0px auto; }
.comments__favorites::before { content: ""; background: rgba(0, 0, 0, 0) url('../img/star.svg') no-repeat scroll center center; width: 14px; height: 14px; display: block; }
.comments__text { line-height: 1.43; padding: 10px 0px; }
.comments__photo { padding: 0px 0px 10px; }
.comments__share { font-size: 13px; font-weight: 300; }
.comments__share a::after { content: "."; display: inline-block; line-height: 0.5; margin: 0px 10px; vertical-align: top; }
.comments__share a:last-child::after { display: none; }
/* ::::: http://viposidn.com/content/XyXflCjA5WZVSba/css/media.css ::::: */

