@charset "utf-8";
/* CSS Document */

#orderform {
	overflow: visible;
	position: relative;
	width:300px;
	margin:0 auto;
}
#orderform label, .form-index label {
	color: #000;
	font: bold 15px Arial, Helvetica, sans-serif;
	width: 150px;
	text-align:left;
	display: block;
	width: 98%;
}
#orderform input, #orderform select, #form-index input, #form-index select , #orderform textarea{
	height:30px;
	border: 1px solid #1F9DD3;
	font: normal 12px/16px Arial, Helvetica, sans-serif;
	padding: 3px;
	width:97%;
	margin: 0 0 10px 0px;
 	*margin-bottom:16px;
	display:block;
}

#orderform textarea {
	height: 50px;
	resize: none;
}

#orderform #shipping_areacode {
	width:40px;
	float:left;
	margin:0 10px 0 0;
}
#orderform input:focus, #form-index input:focus {
	box-shadow: 0 0 5px red;
	-webkit-box-shadow: 0 0 5px red;
	-moz-box-shadow: 0 0 5px red;
	border:1px solid red;
}
#orderform select {
	width:98%;
	height:25px;
}
#form {
	visibility: hidden;
}
#orderform br {
	clear:both;
}
.tip {
	position:absolute !important;
	width: 150px;
	z-index: 99999;
}
.toolTip {
	background: red;
	border: thin solid red; /* change color here for the tooltip body border */
	color: #fff;
	left: 0px;
	margin-top: 45px;
	padding: 5px;
	position: absolute;
	text-align: center;
	width: 150px;
	z-index: 10;
	border-radius: 4px;
	font: bold 11px 'verdana';
}
.toolTipArrow {
	border-color: transparent transparent red transparent; /* change color here for the triangle border */
	border-style: solid;
	border-width: 11px;
	height:0px;
	width:0px;
	position:absolute;
	top:-20px;
	left:20px;
	display:block;
	content:"\00a0";
}
.toolTipArrow:before {
	border-color: transparent transparent red transparent;
	position:absolute;
	top:-11px;
	left:-12px;
	border-style: solid;
	border-width: 12px;
	height:0px;
	width:0px;
	display:block;
	content:"\00a0";
}
.displayNone {display:none;}
.alert_message {
	background-color: #ff0;
	border: 5px dashed #f02773;
	font-weight: bold;
	padding: 5px;
}
.address_alert {
	background:#FF0 !important;
	color:#000 !important;
	width:370px !important;
	border-color:#FF0 !important;
	width:358px !important;
}
.arrowColor {border-color: transparent transparent #ffd200 transparent !important;}
.arrowColor:before {border-color: transparent transparent #ffd200 transparent !important;}

#orderform #billing_phone {
	width: 80%;
}