* {
  margin: 0;
  padding: 0
}

html,
body {
  height: 100%
}

body {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  background: #f7f7f7 none repeat scroll 0% 0%
}

img {
  max-width: 100%;
  height: auto;
}

textarea,
input {
  outline: medium none
}

a {
  color: #1697ce
}

a:hover {
  color: #b0493b
}

a img {
  border: medium none
}

a:focus {
  outline: medium none
}

h1 {
  font-size: 24px;
  font-weight: normal
}

h2 {
  font-size: 22px;
  font-weight: normal;
  line-height: 14px
}

.alex_zevsa_wcih4ECQW {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  width: 960px;
  padding: 0 20px
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table
}

.clearfix::after {
  clear: both
}

#search {
  width: 180px;
  height: 20px;
  margin-left: auto;
  background: #fff url(../fonts/search.svg) no-repeat right 3px center;
  border: 1px solid black;
}

#search a {
  display: block;
  padding-left: 5px;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: #666;
}

/* #search span {
  display: inline-block;
  background: #fff;
  border: 1px solid #000;
  height: 21px;
  width: 30px;
  text-align: center;
  border-left: 0;
  padding-top: 2px;
  outline: none;
  cursor: pointer
} */

.footer .contacts,
.footer .site h4,
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe,
.main-page .main-slider .share h4,
.main-page .calendar .item .dvksub_rYPIQ4ET span,
.sport-tv .left-blk,
.main-page .map h4,
.main-page .annonce-blk .dvksub_rYPIQ4ET span,
.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
  font-family: PFDinTextCondProMedium, Helvetica, Arial !important
}

.RA4CSZ_e3qI7YOg,
.def-page .org-list h3,
.def-page .org-list .type,
.faq-page .news-list .sec-year,
.media-page .news-list .sec-year,
.sec-page .doc-list h4,
.photo-page .photo-also .dvksub_rYPIQ4ET,
.photo-page .photo-list .dvksub_rYPIQ4ET,
.video-page .video-also .dvksub_rYPIQ4ET,
.video-page .video-list .dvksub_rYPIQ4ET,
.renul_seDwyoGn57 .dvksub_rYPIQ4ET,
.zhanna_86_o5IKudBv h2,
.root_f21XaquIT .news-list .dvksub_rYPIQ4ET,
.root_f21XaquIT .top-blk .rss,
.footer .address,
.footer .copyrights,
.main-page .map h2,
.main-page .news h3,
.main-page .news-blk .dvksub_rYPIQ4ET,
.main-page .annonce-blk .dvksub_rYPIQ4ET,
.main-page .main-slider h3,
.main-page .calendar .day,
.main-page .calendar .item .dvksub_rYPIQ4ET,
.main-page .calendar .month-name,
.main-page .ministr-blk .dvksub_rYPIQ4ET,
.main-page .calendar h3,
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT a,
.main-page .news-blk .links,
.main-page .map .reg-news,
.main-page .map h3,
.main-page .annonce-blk .links,
.katyakoncakova_FtFDdVex .region-btn {
  font-family: PFDinTextCondProRegular, Helvetica, Arial !important
}

.katyakoncakova_FtFDdVex {
  position: relative;
  z-index: 15
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
  margin-top: 20px;
  float: left;
  width: 360px;
  text-decoration: none;
  color: #000;
  display: block;
  position: relative
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC img {
  width: 220px;
  padding: 0 10px;
  float: left
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 {
  font-size: 18px;
  margin-top: 17px;
  margin-left: 18px;
  width: 265px;
  float: left;
  text-transform: uppercase;
  line-height: 1
}

.katyakoncakova_FtFDdVex .vasilusya_rfYcdWbD {
  float: right;
  font-size: 12px;
  margin-top: 5px
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
  width: 330px;
  float: right;
  margin-top: 20px
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .mansurovan_vUZn4RQN {
  text-align: right;
  font-size: 12px;
  text-transform: uppercase;
  float: right
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .Dulov_V_V_du3BxPsUO {
  font-weight: bold;
  color: #353746
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN a {
  color: #353744
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN a:hover {
  color: #b0493d
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .udav_t_slEtc0GR {
  margin: 0 5px
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .tata_soboleva_XjcqhmYZ7 {
  margin-top: 25px;
  position: relative;
  text-align: right
}

.katyakoncakova_FtFDdVex .tata_soboleva_XjcqhmYZ7 .tjn-02_ANHUDPcR {
  width: 170px;
  padding: 4px 5px;
  border: 1px solid #000;
  border-right: 0
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
  margin-top: 10px;
  background: #0f6470 none repeat scroll 0% 0%;
  /* height: 57px */
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .main-menu-blk {
  list-style: outside none none;
  display: flex;
  justify-content: center;
}

.katyakoncakova_FtFDdVex .main-menu-blk>li {
  display: inline-block;
  /* float: left; */
  /* margin-right: 23px; */
  position: relative;
  padding: 10px;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe a {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  text-decoration: none
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .submenu-btn {
  color: #cf4f3a;
  font-style: normal;
  margin-left: 4px
}

.alstep54_sglCGFT6q {
  font-size: 12px
}

.renul_seDwyoGn57 h2 {
  font-weight: bold;
  font-size: 36px;
  margin-top: 15px
}

.renul_seDwyoGn57 .dvksub_rYPIQ4ET {
  color: #6c6e7e;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 5px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 {
  margin-top: 25px;
  color: #6c6e7a;
  line-height: 1.5;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #b9b9b9;
  font-size: 18px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p {
  /* text-indent: 20px; */
  color: #000;
  text-align: justify;
  margin: 15px;
  line-height: 31px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .swetlana40_GWDvkz8Tqs {
  text-indent: 0;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 22px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .maki555_e4AaJE9jYG {
  margin-top: 5px;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
  background: #ccc none repeat scroll 0% 0%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .75)
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .maki555_e4AaJE9jYG ol {
  margin: 0;
  padding-left: 30px;
  font-weight: 700;
  font-style: italic;
  color: black;
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .maki555_e4AaJE9jYG li:not(:last-child) {
  margin-bottom: 15px;
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .udalykhnn_av3FDRJhB {
  text-align: center
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .AGB_yQobO46Dw {
  margin-top: 10px;
  font-size: 13px;
  color: #a1a1a2
}

.renul_seDwyoGn57 .gelat_Bb6MhOHv {
  float: left;
  padding: 0 30px 10px 0;
  font-size: 12px;
  font-style: italic;
  color: #a1a1a8
}

.renul_seDwyoGn57 .gelat_Bb6MhOHv .ewa-b_p5sjGkxr1 {
  margin-top: 5px
}

.zhanna_86_o5IKudBv {
  background: #fff none repeat scroll 0% 0%;
  padding: 35px 40px 40px;
  margin: 0 0 50px;
  border-radius: 4px
}

.zhanna_86_o5IKudBv h2 {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1;
  line-height: 30px
}

.altakansk_YrlOq5h6N {
  font-family: Arial;
  color: #6c6e83;
  margin: 0 5px
}

.dmavrodi_yjLIBb2Q {
  position: relative;
  z-index: 10
}

.web-s {
  font-family: WebSymbols;
  -moz-user-select: none
}

.sazonov66_g9ysODlqt {
  margin-bottom: -340px;
  min-height: 100%;
  position: relative;
  background: #f7f7f7 none no-repeat scroll center top
}

.vk-container {
  font-family: tahoma, arial, verdana, sans-serif, Lucida\ Sans;
  font-size: 15px;
  color: #000;
  text-decoration: none
}

.vk-header {
  background: #dae2e8 none repeat scroll 0% 0%;
  padding: 4px 4px 4px 6px;
  margin-bottom: 10px
}

.vk-logo {
  background: transparent none no-repeat scroll 0% 0%;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: -1px
}

.vk-header-text {
  padding: 2px 3px 1px;
  line-height: 100%;
  color: #45688e;
  font-weight: bold
}


.vk-avatar {
  /* display: inline-block; */
  float: left;
}

.vk-avatar img {
  max-width: 60px;
  /* float: left; */
  margin-right: 10px
}


.vk-comment {
  min-height: 86px;
}

.vk-comment,
.vk-comment-load {
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid #dae1e8;
  padding-bottom: 15px
}

.vk-comment:last-child {
  border-bottom: 0 none
}

.vk-comment-name {
  color: #2b587a;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 7px;
}

.vk-comment-text {
  margin-left: 70px;
  margin-bottom: 7px;
}


.vk-comment-text img {
  display: block;
  margin: 15px auto;
}

.vk-comment-date {
  margin-left: 70px;
  color: #999
}

.bloq {
  font-size: 24px;
  font-weight: normal
}

.udalykhnn_av3FDRJhB {
  max-width: 100%;
  width: 270px;
  padding: 0;
  line-height: 1;
  text-align: center;
  background-color: #b41b0a;
  border: 2px solid #761106;
  border-radius: 30px;
  margin: 0 auto
}

.udalykhnn_av3FDRJhB a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 22px
}

.udalykhnn_av3FDRJhB:hover {
  background-color: #9b1607;
  border: 2px solid #5e0f06;
}

.price-img {
  display: block;
  margin-bottom: 16px;
}

.form-block {
  border: 4px solid #b41b0a;
  padding: 10px;
  margin-bottom: 20px
}

.form-block h2 {
  text-align: center;
  text-transform: uppercase
}

.form-pack {
  width: 40%;
  display: inline-block;
  vertical-align: top
}

.form-pack img {
  max-width: 100%
}

.form-body {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-left: 10%;
  background: #eee;
  padding-bottom: 20px
}

.form-body__title {
  background: #80b81f;
  padding: 5px 0;
  text-align: center !important
}

.form-body__title p {
  padding: 0;
  color: #fff !important;
  font-size: 22px;
  text-align: center !important
}

.form-body__left {
  text-align: center;
  padding-top: 20px
}

.form-body__left span {
  background: #b41b0a;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold
}

.form-body__form {
  margin-top: 20px
}

.form-body__form input {
  width: 90%;
  height: 40px;
  display: block;
  margin: 20px auto 0;
  text-indent: 10px;
  box-sizing: border-box
}

.form-body__form select {
  width: 90%;
  height: 40px;
  display: block;
  margin: 0 auto;
  text-indent: 10px;
  box-sizing: border-box;
  box-shadow: 0
}

.form-body__form button {
  width: 90%;
  height: 40px;
  display: block;
  margin: 20px auto 0;
  border: 0;
  border-radius: 5px;
  background: #80b81f;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px
}

.form-body__price {
  margin: 20px 0 0;
  text-align: center
}

.list_001 {
  padding-left: 30px;
}


.inL_168798 {
  background-color: rgb(226, 226, 226);
  padding: 10px;
}

@media screen and (max-width:1020px) {
  .alex_zevsa_wcih4ECQW {
    width: auto
  }

  .clearfix::before, .clearfix::after {
    content: none;
  }
  .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .main-menu-blk {
    justify-content: space-between;
  }
  
  .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .inL_168798 p {
    text-align: left;
    margin: 0 0 5px;
  }

  .main-menu-blk {
    width: 100%;
    margin: 0 auto
  }

  .katyakoncakova_FtFDdVex .main-menu-blk>li {
    /* width: 16.666%;
    float: left; */
    /* margin: 0; */
    /* display: block; */
    /* padding: 0; */
    text-align: center;
    /* height: 100% */
  }

  .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
    height: auto
  }

  .katyakoncakova_FtFDdVex .main-menu-blk>li a {
    line-height: 1.2;
  }

  .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
    margin-left: auto;
    margin-right: 15px;
    width: 250px;
  }

  .alex_zevsa_wcih4ECQW,
  .main-menu-blk {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%
  }

  .web-s {
    display: none
  }

  body img {
    max-width: 100%
  }
}

.img_text img {
  float: left;
}
@media screen and (max-width:850px) {

  .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p {
    text-align: left;
  }
  
  .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .img_text p {
    text-align: left;
  }
}

@media screen and (max-width:720px) {

  .list_title,
  .list_001 {
    font-size: 16px;
    line-height: 1.3;
  }

  .list_title {
    margin-bottom: 15px;
  }

  .udalykhnn_av3FDRJhB {
    margin-bottom: 15px;
  }

  .img_text img {
    float: none;
  }
  .mob_center {
    text-align: center !important;
  }
  .price-img {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .zhanna_86_o5IKudBv {
    margin-bottom: 0;
  }

  /* .udalykhnn_av3FDRJhB {
    margin-top: 15px;
  } */
  .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
  }

  
  .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .inL_168798 p br {
    display: none;
  }

  .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .inL_168798 p strong {
    display: block;
    /* text-align: center; */
    margin-bottom: 10px;
  }

  .katyakoncakova_FtFDdVex .main-menu-blk>li:last-child {
    display: none;
  }

  .alex_zevsa_wcih4ECQW, .main-menu-blk {
    padding: 0;
    box-sizing: border-box;
  }

  .zhanna_86_o5IKudBv {
    padding: 30px 10px 0;
    box-sizing: border-box;
    width: 100%;
  }


  .renul_seDwyoGn57 .gelat_Bb6MhOHv {
    margin: 0 auto 10px;
    padding: 5px;
    float: none;
    text-align: center
  }

  .inL_168798 > h3 {
    text-align: center;
    margin-bottom: 15px;
  }

  .renul_seDwyoGn57 .gelat_Bb6MhOHv>img {
    display: block;
    margin: 0 auto
  }

  .form-pack {
    width: 60%;
    display: block;
    margin: 0 auto
  }

  .form-pack img {
    max-width: 100%
  }

  .form-body {
    width: 90%;
    display: block;
    margin: 0 auto
  }
}

.block {
  display: block;
  margin-top: 10px;
}

@media screen and (max-width:630px) {
  .katyakoncakova_FtFDdVex .main-menu-blk>li:nth-last-child(2) {
    display: none;
  }

  .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
    width: 240px;
  }
  .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
    width: 210px;
  }
}

@media screen and (max-width:480px) {
  .zhanna_86_o5IKudBv h2 {
    text-align: center;
  }

  .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
    display: none;
  }

}


@media screen and (max-width:420px) {
  .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .main-menu-blk {
    justify-content: space-around;
  }
  
  .price-img {
    max-width: 300px;
  }
  .zhanna_86_o5IKudBv {
    padding: 10px 10px 0px;
  }

  .alstep54_sglCGFT6q {
    display: none
  }
  
  
  .katyakoncakova_FtFDdVex .main-menu-blk>li:nth-last-child(3) {
    display: none;
  }

  .udalykhnn_av3FDRJhB img,
  body img {
    max-width: 100%
  }

  /* .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
    width: 320px
  } */

  .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 {
    width: 225px;
    font-size: 16px
  }

  .alex_zevsa_wcih4ECQW {
    padding: 0
  }
}

.screenLock {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, .7) none repeat scroll 0% 0%;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none
}

.msg {
  position: absolute;
  width: 600px;
  height: 220px;
  top: 150px;
  left: 50%;
  margin-left: -300px;
  background: #778691 none repeat scroll 0% 0%;
  border: 1px solid #eee
}

.msg>h1 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 30px;
  line-height: 1.8
}

.close {
  position: absolute;
  top: 1px;
  right: 5px;
  font-size: 40px;
  cursor: pointer
}

.submit {
  margin-top: 10px;
  height: 50px;
  width: 400px;
  background-color: #b22222;
  color: #fff;
  font-size: 30px;
  border-radius: 3px
}

.submit {
  font-size: 24px !important
}

.submit {
  font-size: 24px !important;
  height: 65px
}

.submit:hover {
  background-color: #b22222 !important
}

.col_black {
  color: black;
}

.tag_center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.under_img {
  font-size: 16px; 
}



.inL_155999 {
  clear: both;
}

/* .inL_931105 {
  width: 80%;
} */

.inL_386069 {
  clear: both;
}

.inL_522255 {
  text-indent: 0px;
  text-align: left;
}

.inL_733658 {
  clear: both;
}

.inL_652258 {
  text-align: left;
}

/* .inL_235282 {
  max-width: 70%;
} */

/* .inL_586680 {
  max-width: 70%;
} */