* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

body {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    background: none 0% 0% repeat scroll rgb(247, 247, 247);
}

a {
    color: rgb(22, 151, 206);
}

a:hover {
    color: rgb(176, 73, 59);
}

a img {
    border: medium none;
}

a:focus {
    outline: none medium;
}

.under_head {
    display: flex;
    align-items: center;
}

.alex_zevsa_wcih4ECQW {
    position: relative;
    margin: 0px auto;
    width: 893px;
    padding: 0px 20px;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
    font-family: PFDinTextCondProMedium, Helvetica, Arial !important;
}

.zhanna_86_o5IKudBv h2 {
    font-family: PFDinTextCondProRegular, Helvetica, Arial !important;
}

.katyakoncakova_FtFDdVex {
    position: relative;
    z-index: 15;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
    background: none 0% 0% repeat scroll rgb(51, 53, 65);
    height: auto;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .main-menu-blk {
    list-style: none outside none;
    line-height: 0;
}

.katyakoncakova_FtFDdVex .main-menu-blk > li {
    float: left;
    margin-right: 44px;
    position: relative;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe a {
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    text-decoration: none;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .submenu-btn {
    color: rgb(207, 79, 58);
    font-style: normal;
    margin-left: 4px;
}

.alstep54_sglCGFT6q {
    font-size: 12px;
    margin-bottom: 7px;
}

.renul_seDwyoGn57 .gelat_Bb6MhOHv {
    float: left;
    padding: 10px 30px 0px 0px;
    font-size: 12px;
    font-style: italic;
    color: rgb(161, 161, 168);
}

.zhanna_86_o5IKudBv {
    background: none 0% 0% repeat scroll white;
    padding: 35px 40px 40px;
    margin: 0px 0px 50px;
    border-radius: 4px;
}

.altakansk_YrlOq5h6N {
    font-family: Arial;
    color: rgb(108, 110, 131);
    margin: 0px 5px;
}

.dmavrodi_yjLIBb2Q {
    position: relative;
    z-index: 10;
}

.sazonov66_g9ysODlqt {
    margin-bottom: 0;
    min-height: 100%;
    position: relative;
    background: none center top no-repeat scroll rgb(247, 247, 247);
}

.vk-header {
    background: none 0% 0% repeat scroll rgb(218, 226, 232);
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px;
}

.vk-logo {
    background: none 0% 0% no-repeat scroll transparent;
    width: 16px;
    height: 16px;
    float: right;
    margin-top: -1px;
}

.vk-header-text {
    padding: 2px 3px 1px;
    line-height: 100%;
    color: rgb(69, 104, 142);
    font-weight: bold;
}

.vk-avatar img {
    float: left;
    margin-right: 13px;
}

.vk-comment,
.vk-comment-load {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid rgb(218, 225, 232);
    padding-bottom: 15px;
}

.vk-comment-name {
    color: rgb(43, 88, 122);
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}

.vk-comment-text {
    margin-left: 60px;
}

.vk-comment-date {
    margin-left: 60px;
    color: rgb(153, 153, 153);
    margin-top: 10px;
}

.vk-avatar img {
    width: 48px;
    margin-top: 4px;
    height: 48px;
}

.renul_seDwyoGn57 p {
    color: black;
    margin: 20px 15px;
    line-height: 25px;
    text-align: justify;
}


.vk-comment-text p,
.vk-comment-text {
    text-align: justify;
}

.vote-block {
    width: auto;
    display: block;
    background: none 0% 0% repeat scroll rgb(238, 239, 241);
    border-radius: 3px;
}

.vote-block-head {
    display: block;
    text-align: left;
    width: auto;
    padding: 15px 20px;
}

.vote-block-head h2 {
    color: rgb(143, 0, 1);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px !important;
    line-height: 1.1;
    margin-top: 0px;
    font-style: normal;
}

.vote-block-head span {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-transform: lowercase;
    font-style: normal;
    display: block;
    margin-top: 5px;
}

.vote-block-content {
    display: block;
    width: auto;
    border: 1px solid rgb(238, 239, 241);
    background: none 0% 0% repeat scroll rgb(255, 255, 255);
    padding: 0px 20px;
}

.vote-block-content-container:first-child {
    margin-top: 30px;
}

.vote-block-content-container:last-child {
    margin-bottom: 40px;
}

.vote-block-content-container {
    display: flex;
    width: auto;
    margin-bottom: 20px;
}

.vote-block-content-container::after {
    content: "";
    display: block;
    clear: both;
}

.vote-block-content-text {
    display: block;
    width: 40%;
    text-align: left;
    font-style: normal;
    padding-right: 10px;
}

.vote-block-content-stat {
    display: block;
    width: 60%;
    position: relative;
    background: none 0% 0% repeat scroll rgb(238, 239, 241);
    height: 25px;
}

.vote-block-content-stat-line {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35%;
    height: 100%;
    background: none 0% 0% repeat scroll rgb(102, 160, 29);
    text-align: right;
}

.vote-block-content-stat-line h6 {
    font-size: 12px;
    color: rgb(238, 239, 241);
    margin-left: 121%;
    margin-top: 4px;
    font-style: normal;
}

.line-1 {
    width: 23%;
    background: none 0% 0% repeat scroll rgb(102, 160, 29);
}

.line-2 {
    width: 47%;
    background: none 0% 0% repeat scroll rgb(102, 160, 29);
}

.line-3 {
    width: 8%;
    background: none 0% 0% repeat scroll rgb(102, 160, 29);
}

.line-4 {
    width: 17%;
    background: none 0% 0% repeat scroll rgb(147, 149, 152);
}

.line-5 {
    width: 5%;
    background: none 0% 0% repeat scroll rgb(147, 149, 152);
}

.line-1 h6 {
    color: rgb(102, 160, 29);
}

.line-2 h6 {
    color: rgb(102, 160, 29);
    margin-left: 108%;
}

.line-3 h6 {
    color: rgb(102, 160, 29);
}

.line-4 h6 {
    color: rgb(147, 149, 152);
}

.line-5 h6 {
    color: rgb(147, 149, 152);
}

.button_page {
    background-color: rgb(242, 121, 9);
    display: block;
    margin: 0px auto;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 19px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 270px;
    max-width: 300px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    padding: 11px 20px 11px 11px;
    border-radius: 50px;
    box-shadow: rgb(158, 141, 132) 0px 1px 0px inset, rgb(178, 90, 8) 0px 5px 0px 0px, rgb(153, 153, 153) 0px 10px 5px;
}

.button_page:hover {
    opacity: 0.7;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 19px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(229, 255, 255);
}

#popup-coment {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: auto;
    background: none 0% 0% repeat scroll rgb(255, 255, 255);
    border: 1px solid rgb(218, 226, 232);
    padding: 10px;
    z-index: 100;
    max-width: 375px;
}

#popup-coment .vk-comment-load {
    margin-bottom: 0px;
    border-bottom: 0px none;
    padding-bottom: 0px;
    position: relative;
}

#popup-coment .vk-comment-text {
    margin-bottom: 20px;
    margin-top: 5px;
}

#popup-coment .vk-comment-date {
    padding-bottom: 5px;
}

.vk-comment-read {
    display: block;
    width: auto;
    background: none 0% 0% repeat scroll rgb(69, 104, 142);
    color: rgb(255, 255, 255);
    font-size: 15px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    text-align: center;
    padding: 5px 15px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.6s ease 0s;
    text-decoration: none;
}

.vk-comment-read:hover {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    background: none 0% 0% repeat scroll rgb(69, 104, 142);
}

.vk-comment-close {
    display: block;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 7%;
    cursor: pointer;
}

.vk-comment-close img {
    display: block;
    width: 100%;
}

#popup-coment {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: auto;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(218, 226, 232);
    padding: 10px;
    z-index: 100;
    max-width: 375px;
}

#popup-coment .vk-comment-load {
    margin-bottom: 0px;
    border-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
}

#popup-coment .vk-comment-text {
    margin-bottom: 20px;
    margin-top: 5px;
}

#popup-coment .vk-comment-date {
    padding-bottom: 5px;
}

.vk-comment-read {
    display: block;
    width: auto;
    background: rgb(69, 104, 142);
    color: rgb(255, 255, 255);
    font-size: 15px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    text-align: center;
    padding: 5px 15px;
    cursor: pointer;
    opacity: 1;
    transition: 0.6s ease;
    text-decoration: none;
}

.vk-comment-read:hover {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    background: rgb(69, 104, 142);
}

.vk-comment-close {
    display: block;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 7%;
    cursor: pointer;
}

.vk-comment-close img {
    display: block;
    width: 100%;
}

.vote-block {
    width: auto;
    display: block;
    background: rgb(238, 239, 241);
    border-radius: 3px;
}

.vote-block-head {
    display: block;
    text-align: left;
    width: auto;
    padding: 15px 20px;
}

.vote-block-content {
    display: block;
    width: auto;
    border: 1px solid rgb(238, 239, 241);
    background: rgb(255, 255, 255);
    padding: 0px 20px;
}

.vote-block-content-stat {
    display: block;
    float: right;
    width: 60%;
    position: relative;
    background: rgb(238, 239, 241);
    height: 25px;
}

.vote-block-content-stat-line {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35%;
    height: 100%;
    background: rgb(102, 160, 29);
    text-align: right;
}

.vote-block-content-stat-line h6 {
    font-size: 12px;
    color: rgb(238, 239, 241);
    margin-left: 121%;
    margin-top: 4px;
    font-style: normal;
}

.line-1 {
    width: 23%;
    background: rgb(102, 160, 29);
}

.line-2 {
    width: 47%;
    background: rgb(102, 160, 29);
}

.line-3 {
    width: 8%;
    background: rgb(102, 160, 29);
}

.line-4 {
    width: 17%;
    background: rgb(147, 149, 152);
}

.line-5 {
    width: 5%;
    background: rgb(147, 149, 152);
}

.line-1 h6 {
    color: rgb(102, 160, 29);
}

.line-2 h6 {
    color: rgb(102, 160, 29);
    margin-left: 108%;
}

.line-3 h6 {
    color: rgb(102, 160, 29);
}

.line-4 h6 {
    color: rgb(147, 149, 152);
}

.line-5 h6 {
    color: rgb(147, 149, 152);
}

img.logo {
    width: 54px;
    height: 50px;
}

.main-menu-blk > li:hover {
    background-color: rgb(98, 134, 162);
}

.header-main {
    display: inline-block;
    width: 76%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
    color: black;
    position: relative;
}

.pointer {
    cursor: pointer;
}
.main-menu-blk .pointer {
    display: block;
}

.hlp_stl {
    background-color: rgb(226, 226, 226);
    padding-left: 10px;
    padding-top: 10px;
    line-height: 200%;
    padding-bottom: 5px;
}
.hlp_stl p {
    text-align: left;
}

.clear {
    clear: both;
}

.normalize {
    font-style: normal;
}

.logo_div {
    display: none;
}

img.logo2 {
    width: 100px;
    height: 93px;
    display: block;
}

@media screen and (max-width:1020px) {
    .alex_zevsa_wcih4ECQW {
        width: auto;
    }
    .main-menu-blk {
        width: 100%;
        margin: 0px auto;
    }
    .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .main-menu-blk {
        display: flex;
        justify-content: space-between;
    }
    .katyakoncakova_FtFDdVex .main-menu-blk > li {
        width: auto;
        margin: 0px;
        display: block;
        padding: 0px;
        text-align: center;
        height: 100%;
    }
    .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
        height: auto;
    }
    .alex_zevsa_wcih4ECQW,
    .main-menu-blk {
        height: 100%;
    }
    .web-s {
        display: none;
    }
    body img {
        max-width: 100%;
    }
}

@media screen and (max-width:720px) {
    .katyakoncakova_FtFDdVex .main-menu-blk > li {
        width: 33.333%;
    }
    #report_post {
        font-size: 10px !important;
    }
    .renul_seDwyoGn57 .gelat_Bb6MhOHv {
        margin: 0px auto;
        padding-right: 0px;
        float: none;
    }
    .renul_seDwyoGn57 .gelat_Bb6MhOHv > img {
        display: block;
        margin: 0px auto;
    }
    .alex_zevsa_wcih4ECQW {
        padding: 0;
    }
    .header-main {
        width: 100% !important;
        padding: 0 !important;
        font-size: 23px !important;
        margin: 10px 0px !important;
        background: rgb(247, 247, 247) none no-repeat scroll center top !important;
        color: #000 !important;
    }
    .zhanna_86_o5IKudBv {
        padding: 0px 10px 5px;
    }
    .renul_seDwyoGn57 p {
        margin: 4px 0px !important;
    }
    .puzzle_LTiRtzPGfe {
        display: none;
    }
    .head_div {
        border-bottom: 2px solid #000!important;
        display: flex !important;
        align-items: center;
    }
    .logo_div {
        display: block !important;
        width: 54px;
        margin: 0px 5px 0px 5px;
        float: left;
    }
    .logo2 {
        display: none;
    }
    body {
        font-size: 14px;
    }
    p {
        font-size: 16px;
    }
    .header {
        font-size: 21px;
    }
    div h2 {
        font-size: 30px !important;
        text-align: center;
    }
    span {
        font-size: 18px !important;
    }
    .under_head {
        display: none !important;
    }
    .renul_seDwyoGn57 p,
    .vk-comment-text p,
    .vk-comment-text {
        text-align: left;
    }
}
@media screen and (max-width:540px) {
	.form-field {
    border: 1px solid #d1d1d1;
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #a6a2c7;
    -webkit-box-shadow: rgb(255 255 255 / 40%) 0 1px 0, inset rgb(0 0 0 / 70%) 0 0px 0px;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    box-shadow: rgb(255 255 255 / 40%) 0 1px 0, inset rgb(0 0 0 / 70%) 0 0px 0px;
    padding: 14px;
    margin-bottom: 25px;
    width: 89% !important;
    font-size: large;
}}
@media screen and (max-width:430px) {
    .header {
        font-size: 17px;
    }

}

@media screen and (max-width:420px) {
    .zhanna_86_o5IKudBv {
        padding-left: 15px;
        padding-right: 15px;
    }
	.mod-4 {
    width: 300px !important;
}
    .alstep54_sglCGFT6q {
        display: none;
    }
    .katyakoncakova_FtFDdVex .main-menu-blk > li {
        width: 50%;
    }
    body img {
        max-width: 100%;
    }
    .alex_zevsa_wcih4ECQW {
        padding: 0px;
    }
    h2 {
        font-size: 23px;
    }
    .header-main2 {
        width: 73% !important;
    }
    .header {
        font-size: 14px;
    }
}

@media screen and (min-width:320px) and (max-width:768px) {
    #popup-coment {
        bottom: 10px;
        left: 10px;
        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
        border: 1px solid rgb(218, 226, 232);
        padding: 10px;
        z-index: 100;
        max-width: 315px;
        width: 86%;
    }
    #popup-coment .vk-comment-text {
        position: relative;
        margin-bottom: 5px;
    }
    #popup-coment .vk-comment-date {
        padding-bottom: 40px;
    }
    .vk-comment-read {
        right: 20px;
    }
}

@media screen and (min-width:320px) and (max-width:468px) {
    #popup-coment .vk-comment-text {
        position: relative;
        overflow: hidden;
        height: 95px;
        margin-bottom: 5px;
    }
    #popup-coment .vk-comment-text::after {
        content: "...";
        display: block;
        position: absolute;
        right: 5px;
        bottom: 6px;
        font-size: 15px;
    }
    #popup-coment .vk-comment-date {
        padding-bottom: 40px;
    }
    .vk-comment-read {
        right: 20px;
    }
}

@media screen and (min-width:320px) and (max-width:768px) {
    #popup-coment {
        bottom: 10px;
        left: 10px;
        width: auto;
        background: #fff;
        border: 1px solid rgb(218, 226, 232);
        padding: 10px;
        z-index: 100;
        max-width: 315px;
        width: 86%;
    }
    #popup-coment .vk-comment-text {
        position: relative;
        margin-bottom: 5px;
    }
    #popup-coment .vk-comment-date {
        padding-bottom: 40px;
    }
    .vk-comment-read {
        right: 20px;
    }
}

@media screen and (min-width:320px) and (max-width:468px) {
    #popup-coment .vk-comment-text {
        position: relative;
        overflow: hidden;
        height: 95px;
        margin-bottom: 5px;
    }
    #popup-coment .vk-comment-text:after {
        content: '...';
        display: block;
        position: absolute;
        right: 5px;
        bottom: 6px;
        font-size: 15px;
    }
    #popup-coment .vk-comment-date {
        padding-bottom: 40px;
    }
    .vk-comment-read {
        right: 20px;
    }
}

@media screen and (max-width:946px) {
    .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe a {
        font-size: 12px;
    }
	.hlp_stl {
    background-color: rgb(226, 226, 226);
    padding-left: 10px;
    padding-top: 10px;
    line-height: 200%;
    padding-right: 10px !important;
    padding-bottom: 5px;
}
}

@media screen and (max-width:335px) {
    h2 {
        font-size: 21px;
    }
}

.sazonov66_g9ysODlqt .centered,
.sazonov66_g9ysODlqt .centered p {
    text-align: center;
}

.head_div {
    display: none;
    min-height: 61px;
}

.header-main2 {
    display: inline-block;
    width: 79%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    color: black;
}

h2 {
    font-size: 38px;
    text-align: center;
}

.button_page_small {
    background-color: rgb(242, 121, 9);
    display: block;
    margin: 0px auto;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 19px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 150px;
    max-width: 200px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    padding: 11px 20px 11px 11px;
    border-radius: 50px;
    box-shadow: rgb(158, 141, 132) 0px 1px 0px inset, rgb(178, 90, 8) 0px 5px 0px 0px, rgb(153, 153, 153) 0px 10px 5px;
}

.add_marg {
    margin-bottom: 13px;
}

.clr_margin {
    margin: 0px !important;
}

.mod-1 {
    color: #fff;
    text-decoration: none;
}

.mod-1:hover {
    color: #fff;
}

.mod-2 {
    text-decoration: line-through;
    font-size: 30px;
}

.mod-3 {
    font-size: 24px;
    color:red;
    font-weight: bold;
}

.mod-4 {
    width: 440px;
}

.mod-5 {
    text-align: center;
}

html {
    min-width:320px;
}

#report_post {
    cursor:pointer;
}

#report_post:hover {
    box-shadow:0 0 6px rgb(104, 115, 121);
}

#report_post {
    display:inline-block;
    background:#3a5797;
    border-radius:4px;
    padding:6px 9px 6px 10px;
    cursor:pointer;
    color:white;
    font-family:Tahoma;
    font-size:14px;
    font-weight:bold;
    position: relative;
    top: 10px;
    left: 100%;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

#report_post img {
    vertical-align:middle;
    margin-right:8px;
    margin-top:-3px;
    width:18px;
    height:18px;
}

::-ms-clear {
    display: none;
  }
  
  * {
    -webkit-tap-highlight-color: transparent;
  }
  
  html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  a:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  
  *:focus,
  *:visited,
  *:active,
  *:hover {
    outline: 0 !important;
  }
  
  a,
  a:focus,
  a:visited,
  a:active,
  a:hover {
    outline: 0 !important;
  }
  
  *::-moz-focus-inner {
    border: 0;
    outline: none;
  }
  
  *:not(#fake) {
    outline: none;
  }

.main-menu-blk .pointer {
    padding: 25px 15px
}

@media screen and (max-width: 946px) {
    .renul_seDwyoGn57 .gelat_Bb6MhOHv {
        float: none;
        margin: 0 auto;
        display: block;
        padding: 0;
        text-align: center;
    }
    .hlp_stl p {
        margin: 0;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 720px) {
    #report_post {
        margin-top: 10px;
        top: 0;
    }

    .renul_seDwyoGn57 p {
        font-size: 16px;
        line-height: 1.4;
    }

    .mod-2 {
        margin-top: 10px;
    }

    .renul_seDwyoGn57 p.mod-3 {
        margin-bottom: 10px !important;
    }

    .vote-block-head h2 {
        font-size: 18px !important;
        line-height: 1.3;
    }
    .mod-5 {
        margin-top: 15px;
    }
    .mod-6 {
        margin-bottom: 20px;
    }
    .zhanna_86_o5IKudBv {
        margin-bottom: 0;
        padding-top: 10px;
    }
}
.form-container {
    border: 4px dashed #785d96;
    background: #dddffc;
    background: -webkit-gradient(linear, left top, left bottom, from(#dddffc), to(#dddffc));
    background: -webkit-linear-gradient(top, #dddffc, #dddffc);
    background: -moz-linear-gradient(top, #dddffc, #dddffc);
    background: -ms-linear-gradient(top, #dddffc, #dddffc);
    background: -o-linear-gradient(top, #dddffc, #dddffc);
    background-image: -ms-linear-gradient(top, #dddffc 0%, #dddffc 100%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 0px 0;
    -moz-box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 0px 0;
    box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 0px 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    padding: 20px;
    width: 55%;
    margin: 0 auto;
}

.form-field {
    border: 1px solid #d1d1d1;
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #a6a2c7;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    padding: 14px;
    margin-bottom: 25px;
    width: 100%;
    font-size: large;
    margin: auto;
    display: block;
    max-width: 300px;
}

.form-field:focus {
    background: #fff;
    color: #050300;
}

.form-container h2 {
    text-shadow: #000000 0 1px 0;
    font-size: large;
    margin: 0 0 10px 0;
    font-weight: bold;
    text-align: center;
}

.form-title {
    margin-bottom: 10px;
    color: #000000;
    text-shadow: #000000 0 1px 0;
    font-size: large;
}

.submit-container {
    margin: 8px 0;
    text-align: right;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.submit-button {
    border: 1px solid #447314;
    background: #ff6803;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed9e00), to(#ff6803));
    background: -webkit-linear-gradient(top, #ff041c, #ff6803);
    background: -moz-linear-gradient(top, #ed9e00, #ff6803);
    background: -ms-linear-gradient(top, #ed9e00, #ff6803);
    background: -o-linear-gradient(top, #ed9e00, #ff6803);
    background-image: -ms-linear-gradient(top, #ed9e00 0%, #ff6803 100%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #698f43 0 1px 0;
    color: #FFFFFF;
    font-family: helvetica, serif;
    padding: 8.5px 18px;
    font-size: 22px;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
}

.submit-button:hover {
    border: 1px solid #447314;
    text-shadow: #31540c 0 1px 0;
    background: #6aa436;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff8c3f), to(#ff8c3f));
    background: -webkit-linear-gradient(top, #ff8c3f, #ff8c3f);
    background: -moz-linear-gradient(top, #ff8c3f, #ff8c3f);
    background: -ms-linear-gradient(top, #ff8c3f, #ff8c3f);
    background: -o-linear-gradient(top, #ff8c3f, #ff8c3f);
    background-image: -ms-linear-gradient(top, #ff8c3f, #ff8c3f 100%);
    color: #FFFFFF;
}

.submit-button:active {
    text-shadow: #31540c 0 1px 0;
    border: 1px solid #447314;
    background: #8dc059;
    background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
    background: -webkit-linear-gradient(top, #6aa436, #8dc059);
    background: -moz-linear-gradient(top, #6aa436, #8dc059);
    background: -ms-linear-gradient(top, #6aa436, #8dc059);
    background: -o-linear-gradient(top, #6aa436, #8dc059);
    background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
    color: #fff;
}
.submit-roulette {
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 15px 0;
	outline: 0;
	border: none;
	margin-top: 5px;
	border-radius: 5px;
	box-shadow: 0 4px 3px #242120;
	background: red;
	color: #fff;
	font-weight: 700;
	transition: background .3s
}

.submit-roulette:hover {
	background: #b00;
	transition: background .3s
}

.submit-roulette:active {
	transform: translateY(2px);
	box-shadow: none
}

input[value="ÐŸÐ¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ Ð±ÐµÑÐ¿Ð»Ð°Ñ‚Ð½Ð¾"] {
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 15px 0;
	outline: 0;
	border: none;
	margin-top: 5px;
	border-radius: 5px;
	box-shadow: 0 4px 3px #242120;
	background: red;
	color: #fff;
	font-weight: 700;
	transition: background .3s
}

input[value="ÐŸÐ¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ Ð±ÐµÑÐ¿Ð»Ð°Ñ‚Ð½Ð¾"]:hover {
	background: #b00 !important;
	transition: background .3s
}

input[value="ÐŸÐ¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ Ð±ÐµÑÐ¿Ð»Ð°Ñ‚Ð½Ð¾"]:active {
	transform: translateY(2px);
	box-shadow: none !important
}

.input-roulette {
	padding-left: 5px;
	height: 42px;
	margin-bottom: 10px;
	width: 250px !important
}

input[placeholder="Ð’Ð°Ñˆ Ñ‚ÐµÐ»ÐµÑ„Ð¾Ð½"], input[placeholder="Ð’Ð°ÑˆÐµ Ð¸Ð¼Ñ"] {
	padding-left: 5px;
	height: 42px;
	margin-bottom: 10px
}

.ruletka-p {
	text-indent: 0;
	color: #000;
	text-align: center;
	margin: 15px;
	line-height: 25px;
	font-weight: 700
}

.ruletka-p h2 {
	font-size: 25px;
	margin-bottom: 15px
}

.ruletka-a {
	color: #1697ce
}

.spin-wrapper {
	-webkit-box-shadow: 0 0 10px;
	box-shadow: 0 0 10px;
	border: 3px solid red;
	padding: 20px 10px;
	border-radius: 10px;
	text-align: center;
	box-sizing: border-box;
	margin-top: 20px
}

.spin-wrapper .ruletka-p {
	margin-bottom: 15px
}

.danger-text {
	color: red;
	font-weight: 700
}

.wheel {
	width: 380px !important;
	margin: 0 auto;
	position: relative
}

.wheel img {
	max-width: 100%;
	margin-bottom: 0
}

.wheel-img {
	-webkit-transition: 4s;
	-o-transition: 4s;
	transition: 4s
}

.wheel-cursor {
	position: absolute;
	width: 35% !important;
	height: 35%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.cursor-text {
	position: absolute;
	z-index: 2;
	display: inline-block;
	width: 50% !important;
	height: 50%;
	font: 20px Arial !important;
	line-height: 66px !important;
	cursor: pointer;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	background-color: #ccc;
	border: 1px solid #ccc;
	top: 49%;
	left: 50%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-box-shadow: rgba(255, 255, 255, 1) 0 -2px 0 inset, rgba(255, 255, 255, 1) 0 2px 0 inset, rgba(0, 0, 0, .4) 0 0 5px;
	box-shadow: rgba(255, 255, 255, 1) 0 -2px 0 inset, rgba(255, 255, 255, 1) 0 2px 0 inset, rgba(0, 0, 0, .4) 0 0 5px;
    background: #fff;
    text-transform: uppercase;
}

.order_block {
	display: none;
    text-align: center !important;
    padding-top: 20px;
}
.lt70{
    padding-bottom: 20px;
}
\

.order_block h3 {
	font: bold 18px Arial !important;
	background: 0 0
}

#apilead_form, #drcash_form, #everad_form, #hp_form, #leadtrade_form, #luckyshop_form, #omni_form, #p_omni_form, #profit_form2, #rocket_form, #shakes_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Proxima Nova', Arial, 'Helvetica Neue', sans-serif
}

.time_remains {
	font-size: 1.1em;
	color: red;
	font-weight: 700
}

.spin-result-wrapper {
	display: none;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	top: 0;
	z-index: 999;
	left: 0;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .6);
	text-align: center
}

.pop-up-window {
	position: relative;
	max-width: 400px;
	right: 0;
	left: 0;
	top: 40%;
	margin: 0 auto;
	background: #fff none repeat scroll 0 0;
	text-align: center;
	padding: 10px;
	padding-top: 70px;
	padding-bottom: 20px;
	border-radius: 10px;
	animation: .7s ease 0s normal none 1 running pop-up-appear
}

.close-popup {
	position: absolute;
	width: 30px;
	height: 30px;
	background-image: url(../images/close-1.png);
	background-size: 100%;
	top: -40px;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 10px #fff;
	box-shadow: 0 0 10px #fff;
	right: -40px;
	cursor: pointer
}

.pop-up-heading {
	font-size: 40px;
	margin-bottom: 20px
}

.pop-up-text {
	margin-bottom: 25px;
	font-size: 24px;
	line-height: 30px;
	text-align: center !important
}

.pop-up-button {
	text-transform: uppercase;
	text-decoration: none !important;
	padding: 10px 20%;
	font-size: 20px;
	border-radius: 5px;
	background-color: #71c341;
	color: #fff !important;
	border: medium none;
	cursor: pointer;
	outline: medium none
}

.super-rotation {
	-webkit-animation-name: super-rotation;
	animation-name: super-rotation;
	-webkit-animation-duration: 7s;
	animation-duration: 7s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out
}

@keyframes super-rotation {
	70% {
		-webkit-transform: rotate(1420deg);
		transform: rotate(1420deg)
	}
	100% {
		-webkit-transform: rotate(1395deg);
		transform: rotate(1395deg)
	}
}

.cursor-text:active {
	-webkit-box-shadow: rgba(0, 0, 0, .4) 0 0 5px inset;
	box-shadow: rgba(0, 0, 0, .4) 0 0 5px inset
}

.pop-up-layer {
	position: fixed !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	background-color: rgba(0, 0, 0, .7) !important;
	z-index: 99 !important
}

.pop-up-layer-show {
	display: block
}

.pop-up-window {
	position: relative;
	max-width: 400px;
	right: 0;
	left: 0;
	top: 40%;
	margin: 0 auto;
	background: #fff none repeat scroll 0 0;
	text-align: center;
	padding: 10px;
	padding-top: 70px;
	padding-bottom: 20px;
	border-radius: 10px;
	animation: .7s ease 0s normal none 1 running pop-up-appear
}

.pop-up-window::before {
	content: "";
	position: absolute;
	width: 110px;
	height: 110px;
	top: -55px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #71c341;
	border-radius: 50%;
	animation: .5s ease .6s normal backwards 1 running pop-up-appear-before
}

.pop-up-window::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	top: -20px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-width: medium medium 4px 4px;
	border-style: none none solid solid;
	border-color: currentcolor currentcolor #fff #fff;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	transform: rotate(-45deg);
	transition: opacity 1s ease 0s;
	animation: .5s ease .6s normal backwards 1 running pop-up-appear-after
}

@keyframes pop-up-appear {
	0% {
		transform: translateY(-2000px)
	}
	30% {
		transform: translateY(100px)
	}
	100% {
		transform: translateY(0)
	}
}

@keyframes pop-up-appear-before {
	0% {
		transform: scale(0)
	}
	100% {
		transform: scale(1)
	}
}

@keyframes pop-up-appear-after {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

.pop-up-button:hover {
	color: #fff !important;
	text-decoration: none !important
}

@media (max-width: 768px){
    .form-container{
        width: 70%;
    }
}

@media all and (max-width: 520px) {
	.wheel {
		width: 280px !important
	}
    .form-container{
        width: 70%;
    }
    .submit-button{
        font-size: 19px;
        padding: 8.5px 4px;
    }
    .submit-container {
        width: 100%;
    }
	.cursor-text {
		line-height: 45px !important;
		font-size: 12px !important
	}

	.close-popup {
		right: 0
	}
}
@media (max-width: 420px){
    .submit-button {
        font-size: 17px;
    }
    .form-container {
        width: 85%;
    }
}
@media screen and (max-width: 345px) {
	.wheel {
		width: 250px !important
	}

	.cursor-text {
		line-height: 43px !important;
		font-size: 10px !important
	}
}
.inL_352901 { text-decoration: line-through;font-size: 30px; }
.inL_44786 { font-size: 30px;color:red;font-weight: bold; }

.content-center {
    text-align: center;
}