.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.fa-5x {
    font-size: 5em;
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}

.fa-ul>li {
    position: relative;
}

.burger {
    width: 16px;
    height: 13px;
    background: url(../img/burger.png);
    display: inline-block;
}

.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.fa-search:before {
    content: "\f002";
}

.fa-user:before {
    content: "\f007";
}

.fa-times:before {
    content: "\f00d";
}

.fa-home:before {
    content: "\f015";
}

.fa-font:before {
    content: "\f031";
}

.fa-text-height:before {
    content: "\f034";
}

.fa-text-width:before {
    content: "\f035";
}

.fa-align-left:before {
    content: "\f036";
}

.fa-align-center:before {
    content: "\f037";
}

.fa-align-right:before {
    content: "\f038";
}

.fa-image:before,
.fa-photo:before {
    content: "\f03e";
}

.fa-stop:before {
    content: "\f04d";
}

.fa-share:before {
    content: "\f064";
}

.fa-comment:before {
    content: "\f075";
}

.fa-comments:before {
    content: "\f086";
}

.fa-sign-in:before {
    content: "\f090";
}

.fa-facebook:before {
    content: "\f09a";
}

.fa-rss:before {
    content: "\f09e";
}

.fa-group:before {
    content: "\f0c0";
}

.fa-link:before {
    content: "\f0c1";
}

.fa-files-o:before {
    content: "\f0c5";
}

.fa-navicon:before {
    content: "\f0c9";
}

.fa-comment-o:before {
    content: "\f0e5";
}

.fa-comments-o:before {
    content: "\f0e6";
}

.fa-user-md:before {
    content: "\f0f0";
}

.fa-hospital-o:before {
    content: "\f0f8";
}

.fa-mail-reply:before,
.fa-reply:before {
    content: "\f112";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
    content: "\f122";
}

.fa-crop:before {
    content: "\f125";
}

.fa-html5:before {
    content: "\f13b";
}

.fa-css3:before {
    content: "\f13c";
}

.fa-ticket:before {
    content: "\f145";
}

.fa-wheelchair:before {
    content: "\f193";
}

.fa-try:before {
    content: "\f195";
}

.fa-bank:before {
    content: "\f19c";
}

.fa-header:before {
    content: "\f1dc";
}

.fa-share-alt:before {
    content: "\f1e0";
}

.fa-at:before {
    content: "\f1fa";
}

.fa-user-times:before {
    content: "\f235";
}

.fa-get-pocket:before {
    content: "\f265";
}

.fa-500px:before {
    content: "\f26e";
}

.fa-wheelchair-alt:before {
    content: "\f29b";
}

.fa-first-order:before {
    content: "\f2b0";
}

.fa-fa:before {
    content: "\f2b4";
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

html {
    min-width: 320px;
}

.order182614-form {
    position: absolute !important;
    min-width: 300px !important;
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    max-width: 550px !important;
    padding: 25px 30px 25px !important;
    background: #fff !important;
    margin: 0 auto !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}

@media only screen and (max-width: 800px) {
    .order182614-form {
        padding: 20px 10px !important;
    }
}

html {
    min-width: 320px;
}

.order182614-form {
    position: absolute !important;
    min-width: 300px !important;
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    max-width: 550px !important;
    padding: 25px 30px 25px !important;
    background: #fff !important;
    margin: 0 auto !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}

@media only screen and (max-width: 800px) {
    .order182614-form {
        padding: 20px 10px !important;
    }
}

a,
address,
article,
body,
center,
div,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
li,
menu,
p,
s,
span,
strong,
time,
ul {
    margin: 0;
    padding: 0;
    border: 0 none;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ul {
    list-style: outside none none;
}

#breadcrumbs {
    width: 75%;
    float: left;
    clear: both;
    color: #666;
}

.bcitem,
.bclast {
    float: left;
    margin-right: 4px;
    padding-right: 20px;
}

.bcitem {
    background-attachment: scroll;
    background-image: url(../img/arrow_r.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.clear {
    clear: both;
}

* {
    margin: 0;
    padding: 0;
    outline: medium none;
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    font-size: 100%;
    background-attachment: scroll;
}

a.img,
img,
img a {
    margin: 0;
    padding: 0;
    border: medium none;
}

a img {
    display: block;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    font-size: 100%;
    background-repeat: repeat-x;
    background-position: 0 101px;
    background-image: url(../img/mainbg.png);
}

.marelerand {
    width: 100%;
    float: left;
    clear: both;
}

.inrand {
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inrand::after,
.inrand::before,
.marelerand::after,
.marelerand::before {
    content: "";
    display: table;
}

.inrand::after,
.marelerand::after {
    clear: both;
}

#socialbar {
    float: right;
    margin-top: 14px;
    margin-right: 1px;
}

#header {
    width: 100%;
    float: left;
    height: 101px;
    position: relative;
    background: transparent url(../img/header_bg.png) no-repeat scroll 0 0;
}

.undermenu {
    display: block;
    line-height: 28px;
    color: #575757;
    font-size: 0.75em;
    width: 100%;
    float: left;
    border-bottom: 1px solid #d9d9d9;
}

.h_left {
    width: 69%;
    float: left;
    margin-top: 12px;
}

.h_right {
    width: 29%;
    float: right;
    margin-top: 12px;
    padding-left: 2%;
    border-left: 1px solid #d9d9d9;
}

.htxtcontent h2 {
    display: block;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 1.3em;
    color: #000;
    border-bottom: 1px solid #d9d9d9;
    line-height: 30px;
}

.txtcontent a:active,
.txtcontent a:link,
.txtcontent a:visited {
    color: #148049;
    text-decoration: none;
}

.txtcontent a:hover {
    text-decoration: underline;
}

.txtcontent p {
    text-align: justify;
}

.txtcontent h1 {
    display: block;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 1.5em;
    color: #000;
    border-bottom: 1px solid #d9d9d9;
    line-height: 30px;
}

.txtcontent h4,
.txtcontent p {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 0.813em;
    color: #363636;
    line-height: 1.6em;
}

.htxtcontent p strong,
.txtcontent h3 strong,
.txtcontent h4 strong,
.txtcontent p strong {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.txtcontent i {
    font-style: italic;
}

.mrow {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 18px;
}

.news_row h3 {
    display: block;
    font-size: 0.92em;
    line-height: 110%;
    text-align: justify;
}

a.nilink img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

a.ntlink {
    color: #ed1f24;
    text-decoration: none;
    text-align: center;
}

a.ntlink:hover {
    color: #000;
}

#footer {
    border-top: 1px solid #b3bab6;
    margin-top: 24px;
    text-align: center;
    font-size: 0.75em;
    color: #69625c;
    margin-bottom: 12px;
    padding-top: 6px;
}

#footer p {
    color: #474747;
    display: block;
    margin-bottom: 6px;
}

a.flink {
    color: #69625c;
    text-decoration: none;
}

a.flink:hover {
    color: #fb0007;
}

.bar_search {
    width: 369px;
    position: absolute;
    right: 0;
    bottom: 5px;
    float: left;
    overflow: hidden;
    height: 40px;
    visibility: visible;
    background: transparent url(../img/elements_sprite.png) no-repeat scroll 0 -101px;
}

.bar_search input[type="text"] {
    width: 300px;
    height: 30px;
    line-height: 30px;
    border: medium none;
    background-color: #fff;
    color: #3e3e3e;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.bar_search input[type="submit"] {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: medium none;
    float: right;
    display: block;
    opacity: 0;
}

.nl_sbar {
    width: 100%;
    float: left;
    clear: both;
    min-height: 90px;
}

.inclass {
    width: 100%;
    float: left;
    border: 1px solid #cbcbcb;
    background: transparent url(../img/inputbg.png) repeat-x scroll 0 0;
    height: 32px;
    line-height: 32px;
    padding-left: 2%;
    color: #3d3d3d;
    margin-bottom: 6px;
}

.mc-field-group {
    display: inline-block;
    width: 48%;
}

.inclass:focus {
    border: 1px solid #333;
}

.sbmtclass {
    width: 128px;
    height: 29px;
    background: transparent url(../img/elements_sprite.png) no-repeat scroll 0 -182px;
    border: medium none;
    text-align: center;
    font-size: 0.85em;
    line-height: 26px;
    color: #fff;
}

.sbmtclass:hover {
    cursor: pointer;
    background-position: -128px -182px;
}

a.hd_social {
    background: transparent url(../img/elements_sprite.png) no-repeat scroll 0 0;
    float: right;
    display: block;
    text-decoration: none;
    text-indent: -999px;
    width: 32px;
    height: 32px;
    overflow: hidden;
    visibility: visible;
    margin-left: 4px;
}

a.sr_facebook {
    background-position: -1px -251px;
}

a.sr_rss {
    background-position: -72px -251px;
}

.fbdiv {
    margin-bottom: 14px;
    height: 24px;
    width: 90%;
    overflow: hidden;
    visibility: visible;
}

@media screen and (max-width: 768px) {
    .h_left,
    .h_right,
    .inrand {
        width: 100%;
        float: left;
        clear: both;
    }
    .h_right {
        padding-left: 0;
    }
    .h_left,
    .h_right {
        padding: 6%;
    }
    .bar_search {
        position: relative;
        float: left;
        clear: both;
        left: 0;
        top: 3px;
        margin-bottom: 8px;
    }
    #socialbar {
        position: absolute;
        top: 5px;
        right: 5px;
        margin-left: 0;
        margin-top: 0;
    }
    #header {
        background: transparent none repeat scroll 0 0;
    }
    body {
        background-image: none;
    }
    #header {
        height: auto;
    }
}

.flat-menu {
    clear: both;
    display: block;
    margin-bottom: 4px;
}

.flat-menu>ul>.title:hover a,
.flat-menu>ul>li>a {
    color: #fff;
}

.flat-menu a,
.flat-menu li,
.flat-menu p,
.flat-menu ul {
    margin: 0;
    padding: 0;
    list-style: outside none none;
    text-decoration: none;
    display: block;
}

#header .logoCont {
    float: left;
    margin-top: 10px;
    text-decoration: none !important;
}

#header .logoCont .logoFirst {
    display: inline-block;
    color: #900;
    font-size: 50px;
    font-weight: 700;
}

#header .logoCont .logoSec {
    display: inline-block;
    color: #147e47;
    font-size: 25px;
    font-weight: 700;
}

.logoSidebar {
    float: left;
    display: inline-block;
    width: 49%;
    text-decoration: none !important;
}

.logoSidebar .logoFirst {
    display: inline-block;
    color: #900;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -2px;
}

.logoSidebar .logoSec {
    display: inline-block;
    color: #147e47;
    font-size: 16px;
    font-weight: 700;
}

.fbdiv .btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #6c5dff;
    color: #fff !important;
    text-decoration: none;
    border-radius: 8px;
    font-size: 12px;
    line-height: 12px;
}

.fbdiv .btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.flat-menu {
    min-height: 40px;
    max-width: 1280px;
    min-width: 200px;
    font-size: 16px;
    width: 100%;
    position: relative;
    z-index: 999;
    margin: 0 auto;
    padding: 0;
}

.flat-menu>ul {
    position: relative;
    z-index: 999;
    width: 100%;
    min-height: 42px;
    float: left;
}

.flat-menu>ul>li {
    float: left;
    min-height: 42px;
    line-height: 40px;
    padding-right: 6px;
    color: #fff;
}

.flat-menu>ul>li:hover>a {
    color: #117743;
    text-shadow: none;
    transition: background 0.3s linear 0s;
}

.flat-menu>ul>li:hover {
    background: #fff none repeat scroll 0 0;
    transition: background 0.3s linear 0s;
}

.flat-menu>ul>li>a {
    min-height: 42px;
    text-align: center;
    float: left;
    padding-left: 12px;
    padding-right: 6px;
}

.flat-menu ul li .effect-1,
.flat-menu ul li .effect-2 {
    display: none;
}

.flat-menu ul li:hover>.effect-1 {
    display: block;
    animation: 0.3s linear 0s normal forwards 1 running effect_1;
}

@media screen and (max-width: 768px) {
    .h_left {
        margin-top: 0;
    }
    #header .logoCont {
        margin: 0 auto;
        float: none;
    }
    #header {
        text-align: center;
    }
    .flat-menu>ul>li {
        float: none;
        position: relative;
        background-color: #147e47;
    }
    .flat-menu ul .social-bar ul {
        z-index: 999;
    }
}

input:focus {
    outline: medium none;
}

img {
    max-width: 100%;
}

.ord_button {
    background-color: #ff0104;
    color: #fff !important;
    display: inline-block;
    padding: 10px 30px;
    font-size: 25px;
    box-shadow: 2px 3px 8px #999;
    text-decoration: none !important;
    border-radius: 8px;
    border: 3px solid #fff;
    margin: 20px 0 30px;
    line-height: 27px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.ord_button:hover {
    background-color: #881d1e;
    box-shadow: 2px 3px 3px #999;
    text-decoration: none !important;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.comments {
    border-top: 4px double #ccc;
    padding-top: 20px;
}

.comment {
    padding: 15px 0;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 15px;
    color: #000;
}

.comment.reply {
    margin-left: 5%;
}

.comment-ava {
    float: left;
}

.comment-ava img {
    width: 55px;
}

.comment-entry {
    width: calc(100% - 65px);
    float: right;
}

.comment-date {
    margin-bottom: 1em;
    display: block;
    color: #999;
    font-size: 13px;
}

.comment-name {
    color: #354d72;
    font-weight: 700;
}

.comment-name p {
    margin-bottom: 0.3em;
}

.midd-visible {
    display: none;
}

img.aligncenter {
    margin: 0 auto;
    display: block;
}

img.alignleft {
    float: left;
    margin: 0 15px 5px 0;
}

img.alignright {
    float: right;
    margin: 0 0 5px 15px;
}

.red-bg {
    background: #fce5cd;
}

.red-text {
    color: #900;
    font-weight: 700;
}

.load-more {
    border: 1px solid #999;
    padding: 10px 30px;
    text-align: center;
    margin: 20px auto;
}

.load-more:hover {
    background: #eee;
}

.article h2 {
    font-weight: 700;
    padding: 10px 0;
}

@media only screen and (max-width: 1024px) {
    .bar_search,
    .newsletter {
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    .mob {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    .midd-hidden {
        display: none;
    }
    .midd-visible {
        display: block;
    }
    .flat-menu>ul>li.navicon>a {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .flat-menu>ul>li.navicon:hover {
        background: #0e522e;
    }
    .flat-menu>ul>li.navicon:hover>a {
        color: #fff;
    }
}

@media only screen and (max-width: 640px) {
    .fbdiv p {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .mob-hidden {
        display: none;
    }
}

.link {
    color: #147e47;
    font-weight: bold;
    text-decoration: underline !important;
}

.link:hover {
    color: #147e47;
    text-decoration: none !important;
}