#vk {
  padding: 20px 0;
  box-sizing: border-box;
  font-family: Arial;
}
#vk .vkHeader {
  display: block;
  width: 100%;
  background: #dae2e8;
}
#vk .vkHeader .commentCount {
  padding: 5px 10px;
  color: #45688e;
  font-weight: 600;
  font-size: 12px;
}
#vk .commentsList .commentItem {
  margin: 10px 0;
}
#vk .commentsList .commentItem .avatar {
  float: left;
  width: 32px;
  height: 32px;
}
#vk .commentsList .commentItem .commentBody {
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 13px;
}
#vk .commentsList .commentItem .commentBody .userName {
  font-size: 13px;
  color: #0a78c2;
  font-weight: 600;
  margin-bottom: 5px;
}
#vk .commentsList .commentItem .commentBody .commentMessage {
  line-height: 15px;
  margin-bottom: 5px;
}
#vk .commentsList .commentItem .commentBody .likeCount {
  float: right;
  color: #0a78c2;
  text-decoration: none;
  font-weight: 600;
  opacity: 1;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 11px;
}
#vk .commentsList .commentItem .commentBody .likeCount:hover {
  opacity: 0.5;
}
#vk .commentsList .commentItem .commentBody .commentAction {
  font-size: 11px;
}
#vk .commentsList .commentItem .commentBody .time {
  display: inline-block;
  color: #999999;
}
#vk .commentsList .commentItem .commentBody .commentResponse {
  color: #0a78c2;
  opacity: 1;
  transition: all 0.3s ease;
  text-decoration: none;
}
#vk .commentsList .commentItem .commentBody .commentResponse:hover {
  opacity: 0.5;
}
