
<section class="section section_ingredients">
    <div class="section__list-6">
        <img src="../media/section/list-6.png" alt="">
    </div>
    <div class="container">
        <div class="ingredients">
            <div class="ingredients__wrap-title">
                <div class="section__subtitle ingredients__subtitle" data-aos="fade-up">Одна капля крема –</div>
                <div class="section__title ingredients__title" data-aos="fade-up">миллион активных частниц</div>
            </div>
            
            <div class="ingredients__body">
                <div class="ingredients__item">
                    <div class="ingredients__media">
                        <img src="../media/ingredients/img-1.png" alt="">
                    </div>
                    <div class="ingredients__name">масло ши</div>
                    <div class="ingredients__description">Предотвращает сухость кожи и бережет ее от фотостарения. Восстанавливает водный баланс в дерме, улучшая структуру и внешний вид кожи. Масло Ши стимулирует выработку коллагена и синтез эластина, что делает кожу эластичной и увлажненной.</div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__media">
                        <img src="../media/ingredients/img-2.png" alt="">
                    </div>
                    <div class="ingredients__name">Масло авокадо</div>
                    <div class="ingredients__description">Осветляет и уменьшает возрастную пигментацию. Защищает нежную кожу лица от влияния окружающей среды и воздействия ультрафиолетовых лучей за счет создания невидимой защитной пленки и интенсивного питания.</div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__media">
                        <img src="../media/ingredients/img-3.png" alt="">
                    </div>
                    <div class="ingredients__name">Коллоидное золото</div>
                    <div class="ingredients__description">Разглаживает морщины и способствует регенерации поврежденных клеток, замедляя процесс старения и разрушение коллагена в дерме. Стимулирует формирование  упругого «каркаса» коллагено-эластиновой сетки, улучшая тургор лица.</div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__media">
                        <img src="../media/ingredients/img-4.png" alt="">
                    </div>
                    <div class="ingredients__name">Алоэ</div>
                    <div class="ingredients__description">Препятствует обезвоживанию кожи, улучшает микроциркуляцию в клетках. Устраняет отечность, замедляет увядание кожи. Выравнивает тон, придает свежесть, уменьшает количество ороговевших частиц, стимулирует обновление и регенерацию эпидермиса.</div>
                </div>
            </div>
            <div class="ingredients__product">
                <img src="../media/product-2.png" alt="">
            </div>
        </div>
    </div>
</section>
