<section class="section section_qualitative">
    <div class="section__list-3">
        <img src="../media/section/list-5.png" alt="">
    </div>
    <div class="container">
        <div class="qualitative">
            <div class="qualitative__title" data-aos="fade-up">Официально подтвержденное качество</div>
            <div class="qualitative__body">
                <div class="qualitative__item">Продукт протестирован и прошел сертификацию.</div>
                <div class="qualitative__item">Бережная упаковка исключает возможность повреждения.</div>
                <div class="qualitative__item">Остерегайтесь подделок! Оригинальный крем представлен только на этом сайте.</div>
            </div>
            <div class="qualitative__product">
                <img src="../media/time/product.png" alt="">
            </div>
            <div class="qualitative__cert">
                <img src="../media/qualitative/cert.jpg" alt="">
            </div>
        </div>
    </div>
</section>