
<section class="section section_result" id="elem2">
    <div class="section__list-4">
        <img src="../media/section/list-4.png" alt="">
    </div>
    <div class="container">
        <div class="result">
            <div class="section__title result__title" data-aos="fade-up">Оцените результат</div>
            <div class="section__subtitle result__subtitle" data-aos="fade-up">за один месяц применения</div>
            <div class="result__body">
                <div class="result__item">
                    <span>До</span>
                    <div class="result__media">
                        <div class="result__media-item">
                            <img src="../media/result/img-1.png" alt="">
                        </div>
                        <div class="result__media-item">
                            <img src="../media/result/img-2.png" alt="">
                        </div>
                        <div class="result__media-arrow"></div>
                    </div>
                    <span>После</span>
                </div>
                <div class="result__item">
                    <span>До</span>
                    <div class="result__media">
                        <div class="result__media-item">
                            <img src="../media/result/img-3.png" alt="">
                        </div>
                        <div class="result__media-item">
                            <img src="../media/result/img-4.png" alt="">
                        </div>
                        <div class="result__media-arrow"></div>
                    </div>
                    <span>После</span>
                </div>
                <div class="result__item">
                    <span>До</span>
                    <div class="result__media">
                        <div class="result__media-item">
                            <img src="../media/result/img-5.png" alt="">
                        </div>
                        <div class="result__media-item">
                            <img src="../media/result/img-6.png" alt="">
                        </div>
                        <div class="result__media-arrow"></div>
                    </div>
                    <span>После</span>
                </div>
            </div>
        </div>
    </div>
</section>
