html,
body,
div,
span,
h1,
h3,
p,
img,
strong,
b,
figure,
footer,
header,
nav {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    outline: 0px none;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent none repeat scroll 0% 0%;
}

body {
    line-height: 1;
}

.c15 {
    margin-bottom: 25px;
}

.c15,
.c15 td,
.c15 tr {
    border: 1px solid rgb(214, 214, 214);
}

.c15 .c3 p {
    padding: 5px 10px;
    margin-bottom: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

figure,
footer,
header,
nav {
    display: block;
}

a {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent none repeat scroll 0% 0%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #252525;
    position: relative;
}

img {
    max-width: 100%;
}

a {
    color: rgb(184, 139, 88);
    text-decoration: none;
}

.Body {
    font-size: 18px;
    line-height: 22px;
}

@media only screen and (min-width: 48em) {
    .Body {
        font-size: 20px;
        line-height: 27px;
    }
}

.Body>* {
    max-width: 980px;
    font-family: "PFRegal", "Georgia", serif;
}

.Body:last-child> :last-child {
    margin-bottom: 0px;
}

.Body a {
    color: inherit;
    -webkit-box-shadow: 0px -1px rgb(184, 139, 88) inset;
    box-shadow: 0px -1px rgb(184, 139, 88) inset;
}

.Body a:hover {
    color: rgb(184, 139, 88);
}

.Body p {
    margin-bottom: 15px;
}

.Body h3 {
    margin-top: 15px;
    margin-bottom: 12px;
    font-family: "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
    font-size: 21px;
    font-weight: bold;
}

.SvgIcon {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.SvgIcon--meduzaLogo {
    margin-top: -2px;
    height: 80px;
}

.Menu {
    display: none;
    font-family: "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

@media only screen and (min-width: 64em) {
    .Menu {
        font-size: 13px;
        height: 80px;
        width: 100%;
        letter-spacing: 1px;
        background-color: rgb(38, 38, 38);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .Menu a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: inherit;
    }
}

.Menu-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px;
    text-align: center;
    -webkit-transition: color 0.15s ease-out 0s;
    transition: color 0.15s ease-out 0s;
}

@media only screen and (min-width: 64em) {
    .Menu-item {
        padding: 0px 15px;
        border-bottom: 0px none;
    }
}

@media only screen and (min-width: 64em) {
    .Menu-item:last-of-type {
        border-right: medium none;
    }
}

@media only screen and (min-width: 64em) {
    .Menu-item:hover {
        color: rgb(153, 153, 153);
        background-color: inherit;
    }
}

.Header {
    position: relative;
    height: 80px;
    background-color: rgb(38, 38, 38);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    z-index: 2;
}

@media only screen and (min-width: 64em) {
    .Header {
        padding: 0px 15px;
    }
}

@media only screen and (max-width: 63.9375em) {
    .Header .HeaderButton--chat {
        display: none;
    }
}

.Header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 16%;
    flex-basis: 16%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
}

.Header-center {
    height: 100%;
    display: none;
}

@media only screen and (min-width: 64em) {
    .Header-center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
    }
}

.Header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-preferred-size: 16%;
    flex-basis: 16%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.Header-meduzaLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    right: 0px;
}

@media only screen and (min-width: 64em) {
    .Header-meduzaLogo {
        position: static;
    }
}

.HeaderButton {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 45px;
    height: 100%;
    padding: 0px 15px;
    -moz-user-select: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    fill: currentcolor;
    border: 0px none;
    background: transparent none repeat scroll 0% 0%;
    margin: 0px;
    cursor: pointer;
}

.HeaderButton:active {
    outline-width: 0px;
}

.HeaderButton:hover {
    color: rgb(153, 153, 153);
}

.HeaderButton::after {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-right: 1px solid rgb(103, 103, 103);
}

@media only screen and (min-width: 64em) {
    .HeaderButton::after {
        top: 10px;
        bottom: 10px;
    }
}

.HeaderButton-link {
    display: block;
    padding-top: 2px;
    text-transform: uppercase;
    color: inherit;
    font-family: "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.HeaderButton-link::before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    content: "";
}

.HeaderButton--chat {
    font-size: 13px;
    letter-spacing: 0.05em;
}

.Copyright {
    padding: 0px 12px;
    line-height: 1.2;
}

@media only screen and (min-width: 64em) {
    .Copyright {
        padding: 0px;
    }
}

.Copyright-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0px auto;
    padding: 13px 0px 12px;
}

.Copyright-container a:hover {
    color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 48em) {
    .Copyright-container {
        max-width: 675px;
        padding: 10px 0px 18px;
        border-top: 1px solid rgb(80, 80, 80);
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        text-align: left;
    }
}

@media only screen and (min-width: 64em) {
    .Copyright-container {
        max-width: 860px;
    }
}

.Copyright-container a {
    color: rgb(255, 255, 255);
}

.Copyright-block {
    padding-top: 13px;
    font-size: 17px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 20%;
    flex: 1 0 20%;
}

@media only screen and (min-width: 48em) {
    .Copyright-block {
        padding-top: 0px;
        border-top: 0px none;
    }
}

.Copyright-block:last-child {
    text-align: right;
}

.MaterialTag {
    position: relative;
    z-index: 30;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 2px;
    font-weight: 700;
    line-height: 1;
    font-family: "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
    color: rgb(184, 139, 88);
    -moz-user-select: none;
}

@media only screen and (max-width: 32em) {
    .MaterialTag {
        height: 15px;
        line-height: 15px;
        padding: 0px 5px;
        font-size: 10px;
        letter-spacing: 0.5px;
    }
}

span.MaterialTag {
    cursor: default;
    pointer-events: none;
}

@media only screen and (min-width: 32em) {
    .MaterialTag--medium {
        height: 20px;
        line-height: 20px;
        padding: 0px 7px;
        letter-spacing: 1px;
        font-size: 12px;
    }
}

.MaterialTag--solid {
    color: rgb(255, 255, 255);
    background: rgb(184, 139, 88) none repeat scroll 0% 0%;
    border-color: rgb(184, 139, 88);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.MaterialMeta {
    display: inline-block;
    font-family: "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: rgb(128, 128, 128);
    margin-right: 12px;
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12px auto;
    font-weight: normal;
}

@media only screen and (min-width: 48em) {
    .MaterialMeta {
        font-size: 15px;
        line-height: 18px;
        margin-right: 15px;
    }
}

.MaterialMeta--source {}

@media only screen and (min-width: 48em) {
    .MaterialMeta--source {
        white-space: nowrap;
    }
}

.MaterialMeta--time {
    background-size: 12px 12px;
}

.MediaMaterialHeader {
    max-width: 840px;
}

.MediaMaterialHeader-first {
    color: rgb(0, 0, 0);
    line-height: 27px;
}

@media only screen and (min-width: 48em) {
    .MediaMaterialHeader-first {
        line-height: 38px;
    }
}

.MediaMaterialHeader-first,
.MediaMaterialHeader-separator {
    -webkit-transition: color 0.25s ease-out 0s;
    transition: color 0.25s ease-out 0s;
    font-family: "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

@media only screen and (min-width: 48em) {

    .MediaMaterialHeader-first,
    .MediaMaterialHeader-separator {
        font-size: 36px;
    }
}

.MediaMaterial {
    background-color: rgb(255, 255, 255);
    padding: 12px;
}

@media only screen and (min-width: 48em) {
    .MediaMaterial {
        padding: 25px 15px 20px;
    }
}

.MediaMaterial-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    max-width: 650px;
    margin: 0px auto 18px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media only screen and (min-width: 63.125em) {
    .MediaMaterial-header {
        max-width: 1000px;
        margin-bottom: 25px;
    }
}

.MediaMaterial-tag {
    margin-bottom: 5px;
}

@media only screen and (min-width: 48em) {
    .MediaMaterial-tag {
        margin-bottom: 11px;
    }
}

.MediaMaterial-meta {
    margin-top: 12px;
}

@media only screen and (min-width: 48em) {
    .MediaMaterial-meta {
        margin-top: 12px;
    }
}

.MediaMaterial-materialContent {
    width: 100%;
    max-width: 650px;
}

.MediaMaterial-body {
    position: relative;
    max-width: 650px;
    margin: 0px auto;
}

@media only screen and (min-width: 63.125em) {
    .MediaMaterial-body {
        max-width: 1000px;
    }
}

@media only screen and (min-width: 48em) {
    .MediaMaterial--fullWidth .MediaMaterial-header {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
}

.MediaMaterial--fullWidth .MediaMaterial-materialContent {
    max-width: none;
}

.Material {
    padding: 12px 0px 0px;
}

@media only screen and (min-width: 48em) {
    .Material {
        padding: 15px 0px 0px;
    }
}

.Material-shadow {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0px;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.15);
}

.Material-shadow--top {
    top: 0px;
}

.Material-container {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    position: relative;
}

@media only screen and (min-width: 48em) {
    .Body h3 {
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 26px;
        line-height: 27px;
    }
}

.MaterialContent--bannerless .Body>* {
    margin-right: auto;
    margin-left: auto;
}

.MaterialContent .Figure {
    margin-right: -12px;
    margin-left: -12px;
}

@media only screen and (min-width: 40.625em) {
    .MaterialContent .Figure {
        margin-right: auto;
        margin-left: auto;
    }
}

.Figure {
    margin: 15px -12px;
}

.Figure img {
    display: block;
    margin: 5px auto;
}

@media only screen and (min-width: 48em) {
    .Figure {
        margin: 27px auto 20px;
    }
}

@media only screen and (min-width: 75em) {
    .Figure {
        max-width: 650px;
    }
}

.Figure img {
    max-width: 100%;
    vertical-align: bottom;
}

@media only screen and (min-width: 40.625em) {
    .Figure img {
        border-radius: 2px;
    }
}

.Figure-caption {
    width: 100%;
    max-width: 650px;
    margin: 0px auto;
    padding: 7px 12px 0px;
    font-size: 15px;
    line-height: 17px;
}

@media only screen and (min-width: 40.625em) {
    .Figure-caption {
        padding-right: 0px;
        padding-left: 0px;
        font-size: 16px;
        line-height: 18px;
    }
}

.App {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    transition: transform 0.25s ease-out 0s, -webkit-transform 0.25s ease-out 0s;
}

.App-content,
.App-footer {
    transition: transform 0.25s ease-out 0s, -webkit-transform 0.25s ease-out 0s;
}

.App-footer {
    position: relative;
    z-index: 1;
}

.App-content {
    position: relative;
    z-index: 1;
    overflow: visible;
    background-color: rgb(242, 242, 242);
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.App-header {
    position: relative;
    z-index: 200;
}

.App--isMaterial .App-content {
    background-color: rgb(230, 230, 230);
}

.Footer {
    color: rgb(153, 153, 153);
    background-color: #252525;
    font-family: "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
    outline: 1px solid #252525;
}

.logo {
    display: block;
    margin-top: 0px;
}

.ava-img {
    width: 50px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 29px;
}

.Body a {
    color: blue;
}

.Body a:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

a.button {
    font-size: 18px;
    text-align: center;
    color: rgb(255, 255, 255) ! important;
    background-color: red;
    display: block;
    width: 100%;
    margin: auto;
    max-width: 320px;
    border-radius: 50px;
    text-decoration: none;
    padding: 15px 20px;
}

a.button:hover {
    background-color: rgb(193, 31, 31);
}

html {
    font-family: sans-serif;
}

body {
    margin: 0px;
}

figure,
footer,
header,
main,
nav {
    display: block;
}

a {
    background: transparent none repeat scroll 0% 0%;
}

a:active,
a:hover {
    outline: 0px none;
}

b,
strong {
    font-weight: 700;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0px;
}

img {
    border: 0px none;
}

figure {
    margin: 1em 40px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

td {
    padding: 0px;
}

.disign_layer {
    margin-bottom: 15px;
}

.disign_layer a {
    color: inherit;
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.text3 {
    margin-left: 60px;
    margin-top: -32px;
}

/*! CSS Used from: http://127.0.0.1:5501/css/new_css.css ; media=all */
@media all {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    input {
        outline: medium none;
    }

     p {
   
        color: black;
        text-align: justify;
        margin: 15px 0;
        line-height: 1.4;
    }

    .btn {
        text-decoration: none;
        line-height: 1.5;
        text-transform: uppercase;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #ffffff;
        padding: 10px 20px;
        background: linear-gradient(#e0ccc9 0%, #b80f00 25%, #f01400);
        border-radius: 30px;
        border: 3px solid #d7200c;
        box-shadow: 0px 3px 11px rgba(000, 000, 000, 0.5), inset 0px 0px 1px rgb(215, 32, 12);
        text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.3);
        margin-bottom: 25px;
        transition: all .2s ease-out;
    }

    .btn:hover {
        color: #ffffff;
        text-decoration: none;
        background: linear-gradient(#e0ccc9 0%, #b80f00 25%, #f0de00);
    }

    .btn:last-child {
        margin-bottom: 0;
    }

    @media screen and (max-width: 1020px) {
        body img {
            max-width: 100%;
        }
    }

    @media screen and (max-width: 720px) {
         p {
            text-align: left;
        }
    }

    @media screen and (max-width: 455px) {
        body img {
            max-width: 100%;
        }
    }

     .left-block__text {
        color: #000;
        font-weight: bold;
        font-size: 28px;
        line-height: 130%;
        margin: 15px 0;
        text-align: center;
        text-indent: 0;
    }

    .red-text {
        color: red;
    }

    .block-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px auto 0;
    }

    .prod {
        max-width: 200px;
    }

    .form__text-block {
        width: 57%;
        text-align: center;
    }

    .hondrexil-title {
        max-width: 200px;
    }

     .form__description {
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 20px;
        text-indent: 0;
        text-align: center;
    }

    .form__price {
        margin-bottom: 25px;
    }

     .price {
        font-size: 40px;
        line-height: 44px;
        margin-top: 0;
        text-indent: 0;
        font-family: "c Catenaccio";
        text-align: center;
        font-weight: 400;
        font-size: 40px;
        line-height: 33px;
        color: red;
        text-shadow: 1px 1px #505050, 1px -1px #505050, -1px 1px #505050, -1px -1px #505050;
    }

     .price-old {
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #000;
        text-decoration: line-through;
        text-decoration-color: red;
        text-indent: 0;
        margin-bottom: 0;
    }

    .form {
        max-width: 310px;
        width: 100%;
        margin: 0 auto;
    }

    .input-group {
        width: 100%;
        margin-bottom: 30px;
    }

    .form .input-field {
        outline: 0;
        border: 0;
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #000;
        border-radius: 10px;
        font-weight: 300;
        font-size: 19px;
        line-height: 30px;
        color: #000;
    }

    .form .button {
        border: 0;
        outline: 0;
        padding: 16px 15px;
        box-shadow: -3px 3px 4px rgba(0, 0, 0, .3);
        border-radius: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 25px;
        color: #fff;
        text-shadow: -2px 2px 5px rgba(0, 0, 0, .35);
        cursor: pointer;
        margin: 0;
        width: 100%;
    }

    .form__img-block {
        margin-right: 25px;
    }

     .price {
        font-size: 40px;
        line-height: 44px;
        margin-top: 0;
        text-indent: 0;
        font-family: "c Catenaccio";
        text-align: center;
        font-weight: 400;
        font-size: 40px;
        line-height: 33px;
        color: red;
        text-shadow: 1px 1px #505050,1px -1px #505050,-1px 1px #505050,-1px -1px #505050;
    }

    @media screen and (max-width: 1020px) {
         .left-block__text {
            font-size: 19px;
        }
    }

    @media screen and (max-width: 840px) {
        .prod {
            max-width: 180px;
        }

         .price {
            font-size: 32px;
        }
    }

    @media screen and (max-width: 720px) {
        .block-form {
            display: block;
            text-align: center;
        }

        .form__img-block {
            margin: 0 auto 20px;
        }

        .form__text-block {
            width: 100%;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 639px) {
        .btn {
            max-width: 300px;
        }

        .form .button {
            max-width: 310px;
        }
    }

    @media screen and (max-width: 455px) {
        .form .button {
            font-size: 24px;
        }

        .input-group {
            margin-bottom: 20px;
        }

         .price {
            font-size: 31px;
        }
    }
}