@media all and (min-width:769px) {
.rom_right {
    text-align: right;
    font-size: 13px;
}
.rom_left {
    text-align: left;
    font-size: 13px;
}}
span.reply {
margin-left: 11px !important;
}
html,body,div,span,h1,h2,h4,p,a,img,b,i,center,header{margin:0;padding:0;border:0 none;font:inherit;vertical-align:baseline}
header{display:block}
body{line-height:1;font-family:"PT Sans",arial,sans-serif;background:none repeat scroll center center #f1f2f2;color:#000;margin:0;padding:0}
h1,h2,h4{margin:1em 0 .5em;line-height:1.2em;font-weight:300;font-family:"Roboto",arial,sans-serif}
h1{font-size:1.8em}
h2{font-size:1.6em}
h4{font-size:1.2em}
b{font-weight:700}
p{line-height:1.4em;margin-bottom:1.6em;font-size:1.25em}
h2{font-weight:700}
.wrap{margin:0 auto;min-width:1200px;max-width:1200px;display:block}
.postmemo{padding:10px 0;float:left;position:relative;top:-68px;left:34px;margin-bottom:-70px}
.postmemo a{color:inherit;text-decoration:none}
.postmemo .author{margin-left:115px}
.sec_sidebar{display:inline-block;width:200px;vertical-align:top}
.sidebar_block{box-shadow:0 0 2px 0 rgba(0,0,0,0.1);display:inline-block;vertical-align:top;margin-bottom:30px;padding:30px;background:none repeat scroll 0 0 #fff;border:1px solid #dedfdf;border-radius:2px}
.sec_sidebar .lastpost{margin-bottom:2em;font-size:.8em}
.lastpost p{margin:0;line-height:1.2em}
.lastpost p.title{font-size:1.2em;margin-bottom:.5em;font-weight:700}
.lastpost .title a{color:#0857b0;text-decoration:none}
.lastpost .data{color:#666;font-size:80%}
.lastpost .comment{margin-left:1em}
.lastpost .comment a{color:#111}
.friendsonline{background:url(../images/friends.png) no-repeat scroll 0 0 #fff}
.friendsonline a{display:block;margin:0 0 15px;text-align:center}
.friendsonline img{border:6px solid #e6e7e8;border-radius:50px}
.friendsonline img:hover{border:6px solid #39b54a}
.friendsonline span{text-decoration:underline;color:#39b54a}
*{margin:0;padding:0}
body{background:#f1f2f2;font-family:Tahoma,Verdana;font-size:14px;line-height:23px;width:100%}
body img{max-width:100%}
a{color:#0a78c2;outline:0;text-decoration:underline}
a:hover{text-decoration:none}
p{margin:0 0 11px}
b{font-weight:bolder}
img{border:none}
h1{font-size:26px}
h2{font-size:24px}
.wrap{max-width:960px;margin:0 auto;min-width:280px}
.header{margin:0 auto 20px;cursor:pointer}
.sec_main{box-shadow:0 0 2px 0 rgba(0,0,0,0.1);display:inline-block;vertical-align:top;width:68%;margin-right:23px;padding:90px 30px 30px;background:url(../images/title.png) no-repeat scroll 30px 30px #fff;border:1px solid #dedfdf;border-radius:2px;text-align:justify}
.sec_main h1{margin:0 0 .5em;text-transform:uppercase;font-weight:700}
.sec_sidebar{font-size:12px;max-width:200px;min-width:200px;overflow:hidden;padding:4px}
@media screen and (max-width:640px) {
.wrap,.sec_main{width:94%;padding:10px}
.sec_sidebar{display:none}
.sec_main h1{margin:70px 0 .5em;text-transform:uppercase;font-weight:700}
.postmemo{text-align:left;position:relative;top:8px;left:64px;margin-bottom:0}
}
@media screen and (max-width:400px) {
.postmemo{font-size:10px}
.postmemo .author{margin-left:10px}
}
@media screen and (max-width:970px) {
.sec_sidebar{display:none}
.sec_main{width:90%;margin:0 auto!important;display:block}
}
input{display:block;margin:0 auto;padding:10px;width:47%;border:2px solid grey;border-radius:5px}
.comment-avatar{max-height:48px}
.comment-input input[type="text"]{width:150px;box-sizing:border-box;padding-left:10px;border-radius:0;border:1px solid #a9a9a9;padding-top:5px;margin:0;margin-bottom:10px;padding-bottom:5px;margin-bottom:10px;transition:.4s;word-wrap:wrap}
.comments-refreshing-wrapper{background-color:#d7f2d8;padding:1px 0;margin:20px 0;min-height:130px;border-radius:5px}
.comments-refreshing-wrapper .comments-refreshing-title{font-size:20px;padding-left:20px;padding-top:10px}
.comments-refreshing-wrapper .comments-item{display:none;border-bottom:none}
.comments-refreshing{display:none;text-align:center}
.comments-refreshing img{max-width:100px}
.comments-item{max-width:90%;box-sizing:border-box;margin:10px auto;padding-bottom:10px}
.comment-avatar{display:inline-block;vertical-align:top;margin-right:10px;border:1px solid #ccc;font-size:0}
.comment-text{display:inline-block;max-width:70%;vertical-align:top;font-size:16px}
.comment-username{color:#365899;font-weight:700;margin-right:10px;cursor:pointer}
.comment-username a{color:inherit;text-decoration:none}
.comment-action{padding-left:66px}
.like,.reply,.like-count{color:#365899;font-size:11px;cursor:pointer;margin-right:10px;position:relative;-moz-user-select:none}
.reply a{color:inherit;text-decoration:none}
.like::after,.reply::after{content:"  ";position:absolute;font-weight:700;right:-10px;top:0;color:#90949c}
.like-count{padding-left:20px;position:relative}
.like-count::before{content:"";position:absolute;width:13px;height:15px;top:-2px;left:0;background-image:url(../images/like.png);-webkit-background-size:contain;background-size:contain}
.comment-date{font-size:13px;color:#90949c;position:relative}
.comment-date::before{content:"  ";position:absolute;font-weight:700;left:-10px;top:0;color:#90949c}
.comment-input{width:90%;margin:0 auto 20px}
.comment-input-area{display:inline-block;vertical-align:top;width:80%;font-size:0;perspective:800px}
.comment-input input[type="text"]{width:100%;box-sizing:border-box;padding-left:10px;padding-top:10px;padding-bottom:10px;transition:all .4s ease 0;border:1px solid #d3d6db!important;font-size:16px}
.textarea{width:100%;max-width:100%;box-sizing:border-box;border:1px solid #d3d6db;padding:15px 11px;height:53px;font-size:16px;resize:none;font-family:"Arial",sans-serif;transition:.5s}
.comment-input input[type="text"]::-webkit-input-placeholder,.textarea::-webkit-input-placeholder{color:#a9a9a9;font-size:16px}
.comment-input input[type="text"]::-moz-placeholder,.textarea::-moz-placeholder{color:#a9a9a9;font-size:16px}
.comment-input input[type="text"]::-ms-input-placeholder,.textarea:-ms-input-placeholder{color:#a9a9a9;font-size:16px}
.comment-input input[type="text"]::-moz-placeholder,.textarea:-moz-placeholder{color:#a9a9a9;font-size:16px}
.input-action{display:none;transition:.4s;background-color:#f6f7f9;border:1px solid #ccc;border-top:none;padding:10px;transform-origin:top;padding:10px 10px}
.send-btn{float:right;padding:5px 10px;background-color:#4267b2;border:medium none;border-radius:2px;color:#fff;font-weight:700;cursor:pointer}
.send-btn:hover{background-color:#365899}
.clearfix::after{content:"";display:table;clear:both}
.comments-meta{border-bottom:1px solid #e9ebee;font-size:14px;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:baseline;justify-content:space-between;padding:8px 0;margin-bottom:24px}
.comments-count{font-weight:700}
.comments-refreshing-wrapper{background-color:#d7f2d8;padding:1px 0;margin:20px 0;min-height:130px;border-radius:5px}
.comments-refreshing-wrapper .comments-refreshing-title{font-size:20px;padding-left:20px;padding-top:10px}
.comments-refreshing-wrapper .comments-item{display:none;border-bottom:none}
.comments-refreshing{display:none;text-align:center}
.comments-refreshing img{max-width:100px}
img{max-width:100%;height:auto}
.order_form{padding:20px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin:0;font-family:Arial,Helvetica}
input{outline:0}
.order_form{font-family:Arial,Helvetica;margin:0;border-radius:5px}
input{outline:0 none}
b{font-weight:700}
img{border:0 none;vertical-align:middle}
button,input{color:inherit;font:inherit;margin:0}
button{overflow:visible;text-transform:none;cursor:pointer}
button::-moz-focus-inner,input::-moz-focus-inner{border:0 none;padding:0}
.order_block{display:none}
.priceс br{display:none}
.content-note:not{word-wrap:break-word;overflow-wrap:break-word}
.content-note:not::before,.content-note:not::after{content:" ";display:table}
.content-note:not::after{clear:both}
.content-note:not h2{margin:40px 0 30px;font-size:25px;font-weight:500}
.content-note:not p{width:100%}
.content-note:not p img{margin:0}
.content-note:not a{border-bottom:1px rgba(57,104,163,.4) solid;color:#3968a3;text-decoration:none;-webkit-transition:border-color .15s ease-out;transition:border-color .15s ease-out}
.content-note:not a:visited{color:#ba0505;border-color:rgba(186,5,5,.7)}
.dark-red .content-note:not a:visited{color:#ba0505;border-color:rgba(186,5,5,.7)}
.red .content-note:not a:visited{color:#f44336;border-color:rgba(244,67,54,.7)}
.deep-orange .content-note:not a:visited{color:#ff5722;border-color:rgba(255,87,34,.7)}
.light-green .content-note:not a:visited{color:#689f38;border-color:rgba(104,159,56,.7)}
.green .content-note:not a:visited{color:#1b5e20;border-color:rgba(27,94,32,.7)}
.teal .content-note:not a:visited{color:#009688;border-color:rgba(0,150,136,.7)}
.blue .content-note:not a:visited{color:#2196f3;border-color:rgba(33,150,243,.7)}
.indigo .content-note:not a:visited{color:#3f51b5;border-color:rgba(63,81,181,.7)}
.dark-blue .content-note:not a:visited{color:#021859;border-color:rgba(2,24,89,.7)}
.purple .content-note:not a:visited{color:#9c27b0;border-color:rgba(156,39,176,.7)}
.dark-purple .content-note:not a:visited{color:#651482;border-color:rgba(101,20,130,.7)}
.pink .content-note:not a:visited{color:#e91e63;border-color:rgba(233,30,99,.7)}
.brown .content-note:not a:visited{color:#4e342e;border-color:rgba(78,52,46,.7)}
.grey .content-note:not a:visited{color:#757575;border-color:rgba(117,117,117,.7)}
.dark-grey .content-note:not a:visited{color:#272727;border-color:rgba(39,39,39,.7)}
.cod-gray .content-note:not a:visited{color:#101010;border-color:rgba(16,16,16,.7)}
.hex .content-note:not a:visited{color:#429871;border-color:rgba(66,152,113,.7)}
.pink-riw .content-note:not a:visited{color:#bc1963;border-color:rgba(188,25,99,.7)}
.content-note:not a:hover,.content-note:not a:focus{border-color:#3968a3;color:#3968a3;text-decoration:none}
img{max-width:100%}
body{font-family:'PT Sans',sans-serif}
a{text-decoration:none;color:#0079f2}
form{margin:0 auto;max-width:100%;box-sizing:border-box;padding:30px;padding-top:5px;}
.order_block{font-family:'Arial',sans-serif}
.prod_img_wrapper{max-width:300px;margin:15px auto;position:relative}
.prod_img{width:100%;max-width:360px!important}
.ib{display:inline-block}
.priceс{position:absolute;font-family:'Arial',sans-serif;right:0;bottom:0;color:#000;box-shadow:rgba(0,0,0,0.8) 0 3px 30px;width:165px;height:98px;text-align:center!important;font-size:19px;font-weight:700;line-height:1.3;transform:rotateZ(-7deg);margin:-0 auto;background:linear-gradient(to right,#eea513 0%,#fded13 100%);border-width:2px;border-style:solid;border-color:#fff;border-image:initial;border-radius:19%}
span.discountс{display:block;margin-top:9px;font-size:18px}
.price_main{border-bottom:2px solid #d31812;font-size:24px;line-height:15px;margin:0 auto}
.js_old_price{display:block;margin:0 auto}
.wheel_input{padding:10px!important;display:block!important;margin:0 auto 20px!important;padding:10px!important;width:50%!important;border:2px solid grey!important;border-radius:5px!important}
.order_form{display:block!important;margin:0 auto!important;text-align:center!important}
@media screen and (max-width: 480px) {
.wheel_input{width:90%!important}
}
.main-link{display:block;margin:0 auto;padding:20px;font-size:20px;text-decoration:none;background-color:#de0606;text-align:center;color:#fff!important;border-radius:4px;border:none;cursor:pointer}
.main-link:hover{opacity:.8}
.comments-item{max-width:90%;box-sizing:border-box;margin:0 auto;margin-bottom:15px;padding-bottom:10px;border-bottom:1px solid #e1e2e3}
.comment-avatar{display:inline-block;vertical-align:top;margin-right: 6px;font-size:0}
.comment-text{display:inline-block;max-width:79%;vertical-align:top;font-size:16px}
.comment-username{color:#365899;font-weight:700;margin-right:10px;cursor:pointer}
.comment-username:hover{text-decoration:underline}
.comment-action{padding-left:43px}
.like,.reply,.like-count{color:#365899;font-size:13px;cursor:pointer;margin-right:10px;position:relative;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.like:hover,.reply:hover{text-decoration:underline}
.like-count{padding-left:26px;position:relative}
.like-count:before{content:'';position:absolute;width:18px;height:18px;left:0;background-image:url(../images/like.png);background-repeat:no-repeat}
.comment-date{font-size:13px;color:#90949c;position:relative}
@media all and (max-width: 460px) {
.wheel{width:280px}
}
.comments-refreshing{display:none;text-align:center}
.comments-refreshing img{max-width:100px}
.close-popup,.cursor-text{cursor:pointer;position:absolute}
.cursor-text,.pop-up-window,.spin-result-wrapper,.spin-wrapper,.wheel-wrapper{text-align:center}
.spin-wrapper{-webkit-box-shadow:0 0 10px;box-shadow:0 0 10px;border:3px solid red;padding:20px 10px;border-radius:10px;box-sizing:border-box}
.spin-wrapper p{text-align:center;font-size:21px!important;line-height:1.4!important;margin-bottom:15px}
.wheel{width:380px!important;margin:0 auto;position:relative}
.wheel-cursor{position:absolute;width:35%!important;height:35%;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.cursor-text{z-index:2;display:inline-block;width:45%!important;height:45%;line-height:61px;border-radius:50%;vertical-align:middle;border:1px solid #ccc;top:49%;left:50%;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-webkit-box-shadow:rgba(255,255,255,1) 0 -2px 0 inset,rgba(255,255,255,1) 0 2px 0 inset,rgba(0,0,0,.4) 0 0 5px;box-shadow:rgba(255,255,255,1) 0 -2px 0 inset,rgba(255,255,255,1) 0 2px 0 inset,rgba(0,0,0,.4) 0 0 5px;background:#fff;background:-webkit-gradient(radial,center center,0,center center,100%,color-stop(0,rgba(255,255,255,1)),color-stop(100%,rgba(234,234,234,1)));background:-webkit-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0,rgba(234,234,234,1) 100%);background:-o-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0,rgba(234,234,234,1) 100%);background:-webkit-radial-gradient(center,ellipse,rgba(255,255,255,1) 0,rgba(234,234,234,1) 100%);background:-o-radial-gradient(center,ellipse,rgba(255,255,255,1) 0,rgba(234,234,234,1) 100%);background:radial-gradient(ellipse at center,rgba(255,255,255,1) 0,rgba(234,234,234,1) 100%);filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#eaeaea',GradientType=1)}
.wheel-img{-webkit-transition:4s;-o-transition:4s;transition:4s}
.close-popup{width:30px;height:30px;background-image:url(../images/cross.svg);background-size:100%;top:-40px;border-radius:50%;-webkit-box-shadow:0 0 10px #fff;box-shadow:0 0 10px #fff;right:0}
.cursor-text:active{-webkit-box-shadow:rgba(0,0,0,.4) 0 0 5px inset;box-shadow:rgba(0,0,0,.4) 0 0 5px inset}
.spin-result-wrapper{display:none;padding:0 10px;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;top:0;z-index:999;left:0;height:100%;position:fixed;background-color:rgba(0,0,0,.6)}
.pop-up-window{position:relative;max-width:400px;right:0;left:0;top:40%;margin:0 auto!important;background:#fff;padding:70px 10px 20px!important;border-radius:10px;animation:.7s ease 0 normal none 1 running pop-up-appear}
.pop-up-window::after,.pop-up-window::before{content:"";position:absolute;left:0;right:0;margin:0 auto}
.pop-up-window::before{width:110px;height:110px;top:-55px;background-color:#71c341;border-radius:50%;animation:.5s ease .6s normal backwards 1 running pop-up-appear-before}
.refresh-appear img,.refresh-appear{display:block!important;margin:0 auto}
.pop-up-window::after{width:50px;height:20px;top:-20px;border-width:medium medium 4px 4px;border-style:none none solid solid;border-color:currentcolor currentcolor #fff #fff;-moz-border-top-colors:none;-moz-border-right-colors:none;-moz-border-bottom-colors:none;-moz-border-left-colors:none;border-image:none;transform:rotate(-45deg);transition:opacity 1s ease 0;animation:.5s ease .6s normal backwards 1 running pop-up-appear-after}
@keyframes pop-up-appear {
0%{transform:translateY(-2000px)}
30%{transform:translateY(100px)}
100%{transform:translateY(0)}
}
@keyframes pop-up-appear-before {
0%{transform:scale(0)}
100%{transform:scale(1)}
}
@keyframes pop-up-appear-after {
0%{opacity:0}
100%{opacity:1}
}
.pop-up-heading{font-size:40px!important;margin-bottom:20px!important}
.pop-up-text{margin-bottom:25px!important;font-size:24px!important;line-height:30px!important;text-align:center!important;color:#414141!important;font-weight:400}
.pop-up-button,.pop-up-button:hover{color:#fff!important;text-decoration:none!important}
.pop-up-button{text-transform:uppercase!important;padding:10px 20%!important;font-size:20px!important;border-radius:5px!important;background-color:#71c341!important;border:none!important;cursor:pointer!important;outline:0!important}
.wheel img{max-width:100%}
@media all and (max-width:520px) {
.wheel{width:100%!important;max-width:260px!important}
.comment-text{max-width: 73%;}
.comment-action{padding-left:0}
.pop-up-window{top:30%}
.pop-up-heading{font-size:33px!important}
.pop-up-text{margin-bottom:15px!important}
.cursor-text{line-height:40px;font-size:14px}
.close-popup{position:absolute;width:30px;height:30px;background-size:100%;top:-40px;border-radius:50%;-webkit-box-shadow:0 0 10px #fff;box-shadow:0 0 10px #fff;right:-10px;cursor:pointer}
span.reply {
    margin-left: 48px !important;
    font-size: 11px;
}
}
.super-rotation{-webkit-animation-name:super-rotation;animation-name:super-rotation;-webkit-animation-duration:7s;animation-duration:7s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-transition-timing-function:ease-in-out;-o-transition-timing-function:ease-in-out;transition-timing-function:ease-in-out}
@keyframes super-rotation {
70%{transform:rotate(1867deg)}
100%{transform:rotate(1875deg)}
}
.comments-refreshing-wrapper .comments-newly-showed{display:block;animation:new-comment-show .5s}
.comments-refreshing-wrapper{background-color:#d7f2d8;padding:1px 0;margin:20px 0;min-height:130px;border-radius:5px}
.comments-refreshing-wrapper .comments-refreshing-title{font-size:20px;padding-left:20px;padding-top:10px}
.comments-refreshing-wrapper .comments-item{display:none;border-bottom:none}
.comments-refreshing-wrapper .comments-newly-showed{display:block;animation:new-comment-show .5s}
.comments-refreshing{display:none;text-align:center}
.comments-refreshing img{max-width:100px}
.refresh-appear{display:block;animation:typing-show .5s}
@keyframes typing-show {
0%{opacity:0}
100%{opacity:1}
}
@keyframes new-comment-show {
0%{transform:scale(0.2)}
80%{transform:scale(1.2)}
100%{transform:scale(1)}
}