@media screen and (min-width: 425px) {
  .content {
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .content {
    width: 744px;
  }
}
@media screen and (min-width: 990px) {
  .content {
    width: 960px;
  }

  .head__top {
    display: block;
    background: #f3f3f3;
  }
  .head__nav {
    display: table;
  }
  .head__nav a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.02em;
    padding: 10px 7px 12px;
    text-decoration: none;
    border-top: 2px solid transparent;
    transition: border-color 0.25s;
  }
  .head__nav a:not(:last-child) {
    margin-right: 5px;
  }
  .head__nav a:not(:last-child):before {
    position: absolute;
    content: "";
    top: 50%;
    right: -2px;
    width: 1px;
    height: 10px;
    background: #ddd;
    margin-top: -5px;
  }
  .head__nav--2 {
    margin-left: auto;
  }
  .head__nav--2 a {
    font-weight: 400;
    color: #999;
    font-size: 12px;
    transition: color 0.25s;
  }
  .head__nav--2 a:hover {
    color: #1063e0;
  }
  .head__nav--item1 {
    color: #a80000;
  }
  .head__nav--item1:hover {
    border-color: #a80000;
  }
  .head__nav--item2 {
    color: #3e831e;
  }
  .head__nav--item2:hover {
    border-color: #3e831e;
  }
  .head__nav--item3 {
    color: #ff7f00;
  }
  .head__nav--item3:hover {
    border-color: #ff7f00;
  }
  .head__nav--item4 {
    color: #005cef;
  }
  .head__nav--item4:hover {
    border-color: #005cef;
  }
  .head__burger {
    padding: 25px 0;
  }

  .logo {
    font-size: 32px;
  }

  .main {
    display: table-cell;
    vertical-align: top;
    padding-right: 20px;
  }
  .main__top {
    margin-bottom: 20px;
  }
  .main__box {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .aside {
    display: table-cell;
    vertical-align: top;
    width: 300px;
  }
  .aside__wrapper {
    border-radius: 0 0 3px 3px;
    border: 1px solid #ececec;
    border-top-color: #b1e452;
    position: relative;
    padding: 10px 15px;
  }
  .aside__title {
    font-size: 21px;
    color: #333;
    font-style: italic;
    letter-spacing: -1px;
    padding: 10px 0;
    font-weight: 700;
  }
  .aside__item {
    border-top: 1px solid #ECECEC;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    font-style: italic;
    font-weight: 700;
    line-height: 1.1;
    display: table;
    width: 100%;
    table-layout: fixed;
    text-decoration: none;
    cursor: pointer;
  }
  .aside__item:hover {
    text-decoration: underline;
  }
  .aside__item span {
    display: table-cell;
    vertical-align: middle;
  }
  .aside__item span:first-child {
    width: 100px;
  }
  .aside__item img {
    width: 90px;
  }
  .aside__item--1 {
    font-size: 21px;
    letter-spacing: -1px;
    line-height: 1;
  }

  .title {
    font-size: 38px;
    letter-spacing: -0.06em;
  }

  .button {
    padding: 15px 50px;
    font-size: 20px;
    margin-top: 15px;
  }

  .footer__top {
    display: block;
  }
  .footer__nav {
    display: table;
  }
  .footer__nav a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    font-style: italic;
    font-weight: 700;
  }
  .footer__nav a:hover {
    text-decoration: underline;
  }
  .footer__nav a:not(:last-child) {
    margin-right: 15px;
  }
  .footer__nav a:not(:last-child):before {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    right: -15px;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
  }
  .footer__nav a:not(:first-child) {
    margin-left: 15px;
  }
  .footer__nav--2 {
    margin-left: auto;
  }
  .footer__nav--2 a {
    font-weight: 400;
    font-size: 11px;
  }
  .footer__table {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .footer__cell {
    display: table-cell;
    vertical-align: middle;
  }
}
