
.comment{
	margin-top: 30px;
}

.comment__item{
	margin-bottom: 20px;
}

.comment__name{
	font-weight: 700;
	margin-bottom: 5px;
}

#order_form {
	background-image: url(formbg.jpg);
	padding: 20px;
	max-width: 600px;
	margin: 20px auto;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-bottom: 25px;
	text-align: center;
	font-family: Arial;
}

#order_form div {
	background: transparent !important;
}

#order_form h2 {
	margin: 15px 0 0 0;
	padding: 0px;
	line-height: 32px;
	border: none;
}

#order_form span {
	display: inline-block;
}

.cPointer {
	cursor: pointer;
}

#order_form .price {
	color: red;
	font-weight: 700;
	font-size: 16px !important;
}



#order_form .order_form_pole {
	padding: 5px;
	margin: 0px;
}

#order_form label {
	width: 230px;
	margin: 0 auto;
	display: block;
	padding: 5px 0 5px 0;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

#order_form button {
	display: inline-block;
	padding: 20px;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	box-shadow: 0 4px 15px 0 rgb(129 150 160 / 45%);
	border-radius: 5px;
	background-color: #0299ff;
	background-position: 1.35em .94em;
	background-size: 1em;
	background-repeat: no-repeat;
	transition: all .15s ease-in-out;
	border: none;
	cursor: pointer;
	font-size: 20px;
	margin-top: 20px;
	text-transform: uppercase;
}



#order_form input, #order_form select {
	font-size: 19px;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 3px;
	border: 2px solid #e9d7dc;
	max-width: 300px;
	width: 100%;
	background: #fff;
}

.btn{
	background: red url("../src/minzdr.png") left 15px center no-repeat;
	display: block;
	margin: 0 auto;
	height: 110px;
	border-radius: 15px;
	color: #ffffff !important;
	text-decoration: none;
	max-width: 600px;
	line-height: 105px;
	font-size: 22px;
	text-align: center;
	box-shadow: 0 5px 0 #7d1c1c;
}

.btn p{
	color: #ffffff;
	padding-top: 40px;
	text-align: right;
	padding-right: 90px;
}

.comment__title{
	background-color: #dae2e8;
	color: #45688e;
	padding: 4px 4px 4px 6px;
	font-weight: 700;
	margin-bottom: 25px;
	font-size: 15px;
}

.comment__item img{
	max-width: 100%;
	margin-top: 10px;
}

/* BROWSER RESETS */
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#seiin {
	padding: 20px 0 10px;
}


#service-menu ul.myUl a{
	padding-top: 7px
}

.myBox span{
	background-color: #eaaf2a;
	font-weight: 700;
}

.myUl{
	padding: 15px;
}

.myUl p{
	margin: 0 0 10px 0;
}

.show{
	background-color: #e6e5d2;
	padding: 15px;
	margin-bottom: 15px;
}

.show span{
	cursor: pointer;
}

.show .myImg{
	display: none;
	margin-bottom: 15px;
	margin-top: 15px;
}


/* TYPOGRAPHY */
html {
	/* Basic font size, the rest of the resizable parts should be expressed in ems */
	font-size: .6em; /*LAB: AGGIUNTA ALESSANDRO */
}

.content{
	background-color: #ffffff;
	padding: 15px;
	font-size: 16px;
}

.myImg img{
	max-width: 100%;
}

.myImg{
	text-align: center;
	max-width: 598px;
	margin: 0 auto;
}

.myImg p{
	margin: 0;
	font-size: 14px;
}

body,
p,
label {
	font-family: Arial, Helvetica, Geneva, sans-serif;
	color: #2a2a25;
	font-size: 1.1em;
	line-height: normal;
}
p, label {
	font-size: 1.1em;
}
a {
	color: #9F0038;
	font-weight: bold;
	font-size: 1em;
}
a.boxNewsHome {
	color: #9F0038;
	font-weight: bold;
	font-size: 1.2em;
}


a:hover {
	color: #9F0038;
}
a:focus {
	outline-color: #8aaebe;
}

/* LAYOUT COLORS */
html {
	background: #f3f3ef url('../src/bg-header.png') repeat-x top;
}
body {
	max-width: 1259px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

/* Barra di Ricerca */
div.row-search-container { /*NUOVO_MENU_MANU*/
	margin-bottom: 20px !important;
}
#search-container {
	position: relative;
	margin-left: 68.0850%;
	z-index: 150; /*NUOVO_MENU_MANU*/ /*Commentato per corretto funzionamento link in Firefox barra in alto sotto il cerca generale*/
}
#search-bar {
	margin-bottom: 0 !important; /*NUOVO_MENU_MANU*/
}
#search-bar input {
	border: 1px solid #909090;
	width: 55%;
	float: left;
	margin: 0 2% 0 3%;
}
#search-bar button[type=submit] {
	background-color: #424242;
	font-size: 1.5em;
	text-transform: lowercase;
	color: #fff;
	border: 0;
	margin: 0 2% 0 0;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	float: left;
	width: 29%;
}
#search-bar button[type=submit],
#search-bar input {
	margin-top: 10px;
	margin-bottom: 10px;
}
#search-bar button[type=submit]:active,
#search-bar button[type=submit]:focus,
#search-bar button[type=submit]:hover {
	background-color: #323232;
}
.boxdati_right { /* LAB: AGGIUNTA ALESSANDRO */
	width: 45%;
	float: left;
}
.boxdati_left { /* LAB: AGGIUNTA ALESSANDRO */
	width: 45%;
	float: left;
	margin-right: 15px;
}
.boxdati_left .ingrandisci , .boxdati_right  .ingrandisci{ /* LAB: AGGIUNTA ALESSANDRO */
	font-size: 1.1em;
}
/* Navigazione secondaria */
#header > div {
	margin-top: 25px;
	position: relative; /*NUOVO_MENU_MANU*/
}
.row-menu {
	border-bottom: 3px solid #dcdbc1;
	height: 52px;
	background: #ffffff url('../src/bg-logo.png') no-repeat left top;
	position: relative; /*NUOVO_MENU_MANU*/
	z-index: 110;
}

#header h1 a {
	width: 416px;
	height: 98px;
	position: absolute;
	display: block;
	top: -20px;  /*NUOVO_MENU_MANU*/
	left: 20px; /*NUOVO_MENU_MANU*/
	background: transparent url('../src/logo-mds.png') no-repeat left top;
	z-index: 200;
}
#header #service-menu {
	position: absolute;
	top: -6px; /*NUOVO_MENU_MANU*/
	right: 0; /*NUOVO_MENU_MANU*/
	z-index: 10; /*NUOVO_MENU_MANU*/
}

#service-menu ul {
	float: right;
	margin-top: 32px;
	margin-right: 15px;
}
#service-menu ul li a {
	font-size: 1.15em; /*font-size: 12px;*/
	color: #000000;
	padding: 0 4px 0 5px;
	border-left: 1px solid #424242;
}

#header .aside p,
#header .aside ul,
#header .aside li {
	display: inline-block;
}
#header .aside a,
#header .aside p {
	font-size: 1em;
}


/* Breadcrumbs e menu accessibilita */
#header .aside { /*MENU_NUOVO*/
	/*background: #3a3931 url('../src/bg-gradient-brown-dark.png') repeat-x top;*/
	/*background-color: #5a5a50;*/
	background-color: #1b1b1a;
	color: #fff;
	border-bottom: 1px solid #fff;

	position: relative; /*NUOVO_MENU_MANU*/
	top: 1px; /*NUOVO_MENU_MANU*/
	z-index: 0; /*NUOVO_MENU_MANU*/
}
.breadcrumbs p {
	color: #fff;
	margin-left: 15px;
	margin-bottom: 2px;
}
.breadcrumbs p,
.breadcrumbs ul {  /*MENU_NUOVO*/
	margin-top: 3px;
}
/*
.breadcrumbs li:before {
	content: '> ';
}
.breadcrumbs li:first-child:before {
	content: ' ';
}
*/
.breadcrumbs a {
	color: #fff;
	font-weight: bold;
}


.portlet-content.not-collapsible {
	padding: 10px;
}
#page-content .collapsible .portlet-content {

}
/* NAVIGATION and LISTS */
.nav ul {
	margin: 0;
	padding: 0;
}
.nav li,
.pane-controls li,
li.widget {
	list-style: none;
	display: inline-block;
}

/* LINKS, BUTTONS and SUCH */
.portlet-content li {
	line-height: 1.3em;
}
.article a,
.portlet-content form a {
	color: #9f0038;
	font-weight: bold;
	display: inline;
}

h2{
	font-size: 24px;
	margin: 0 0 15px 0;
}

.myBox{
	background-color: #e6e5d2;
	display: flex;
	padding: 15px;
	font-weight: 700;
	margin: 30px 0;
}

.myBox img{
	max-width: 100%;
}


.myBox p{
	margin: 0;
	padding-left: 15px;
	font-size: 18px;
}

@media (max-width: 991px) {
	.myBox{
		display: block;
	}

	.myBox img{
		display: block;
		margin: 0 auto 15px;
	}

	.myBox p {
		padding-left: 0;
	}

	#header h1 a{
		position: static;
		margin: 0 auto;
	}

	#header #service-menu{
		position: static;
	}

	#header > div{
		margin-top: 0;
	}

	#service-menu ul{
		margin-top: 0;
		text-align: center;
		float: none;
	}

	.row-menu{
		background: none;
	}

	.myUl{
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}

	#service-menu{
		background-color: #ffffff;
		padding: 10px 0 1px;
	}


	.row-menu{
		height: auto;
	}
}

@media (max-width: 660px) {
	.btn{
		max-width: 279px;
		width: 259px;
		font-size: 16px;
		height: 80px;
		background-size: 38px;
	}

	.btn p{
		padding-left: 40px;
		padding-top: 17px;
		padding-right: 20px;
	}
}

@media (max-width: 450px) {
	#header h1 a{
		max-width: 100%;
		height: 70px;
		background-size: contain;
		background-position: center top;
	}
}