form .checkradio-style {
    display: inline-block;
    border-radius: 100%;
    width: 20px;
    height: 20px
}

form .checkradio-style input {
    visibility: hidden
}

form .checkradio-disable {
    background: blue
}

form .checkradio-enable {
    background: pink
}



form textarea {
    height: 162px;
    padding: 10px
}

.form-error {
    background: #f2dede;
    border: 1px solid #eed3d7;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    color: #b94a48;
    font-size: 11px;
    padding: 5px 10px;
    margin-top: -64px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

.form-error p {
    margin: 0!important
}

.form-error em {
    width: 0;
    height: 0;
    display: block;
    border: 10px solid transparent;
    border-top-color: #eed3d7;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -10px
}


.page-template-default {
    font-family: helvetica, freesans, sans-serif;
    margin: 0
}

.page-template-default article {
    max-width: 690px
}

.page-template-default article .adv {
    text-align: center;
    color: #bbb;
    margin: 20px 0 0
}

.page-template-default article .header {
    padding: 0 0 8px
}

.page-template-default article .header h2 {
    font-size: 17px;
    font-weight: 400;
    margin-top: 5px
}

.page-template-default article h1 {
    color: #333;
    font-size: 2.3em;
    letter-spacing: -.06em;
    margin-bottom: 0
}

@media(max-width:599px) {
    .page-template-default article h1 {
        font-size: 27px
    }
}

.page-template-default article iframe {
    border: 0;
    margin-bottom: 20px
}

.page-template-default article .the-content:after {
    content: "";
    display: table;
    clear: both
}

.page-template-default article .the-content h2,
.page-template-default article .the-content h3,
.page-template-default article .the-content a {
    font-family: lora, Georgia, serif
}

.page-template-default article .the-content h2 {
    font-size: 30px
}

.page-template-default article .the-content h3 {
    font-size: 20px
}

.page-template-default article .the-content p,
.page-template-default article .the-content li {
    color: #333;
    font-size: 20px;
    line-height: 160%;
    font-family: lora, Georgia, serif
}

.page-template-default article .the-content p {
    margin-bottom: 30px
}

.page-template-default article .the-content li {
    margin-bottom: 20px
}

.page-template-default article .the-content strong a {
    color: red
}

.page-template-default article .box-atualizacao,
.page-template-default article .box-experiente {
    margin: 20px 0 30px;
    text-decoration: none;
    font-family: helvetica, freesans, sans-serif
}

.page-template-default article .box-atualizacao h3,
.page-template-default article .box-experiente h3 {
    font-family: helvetica, freesans, sans-serif
}

.page-template-default article .box-atualizacao p,
.page-template-default article .box-experiente p {
    font-family: helvetica, freesans, sans-serif;
    font-size: 16px;
    line-height: 140%
}

.page-template-default article .box-atualizacao {
    border: 1px dotted #000;
    background: #effff7;
    padding: 10px 15px;
    line-height: unset;
    font-size: 13px
}

.page-template-default article .box-experiente {
    background: #ddd;
    padding: 10px;
    text-align: center;
    margin: 20px 0 40px;
    color: #333
}

.page-template-default article a.url-pagina-vendas {
    text-decoration: none
}

.page-template-default footer {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    background: #333;
    padding: 10px 0;
    min-height: 40px;
    padding: 10px
}

.page-template-default footer p {
    display: block;
    color: #eee;
    text-align: center;
    max-width: 690px;
    margin: 0 auto 10px;
    font-size: 12px
}

.page-template-default footer a {
    text-decoration: underline;
    font-weight: 700;
    color: #fff;
    font-size: 12px
}

.page-template-default .box-btn-bottom-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9
}

.form {
    position: relative;
    z-index: 100;
    width: 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  align-items: center;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px #d8d8d8, 0 0 0 15px #fff;
    box-shadow: 0 0 0 1px #d8d8d8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px auto;
}
 .form__title {
    font-size: 22px;
    line-height: 26px;
    font-weight: 900;
    text-transform: uppercase;
  padding: 0 10px;
    text-align: center;
  margin-top: 10px;
    margin-bottom: 20px;
}
 .form__title span {
    color: #ff0000;
}
.form__date {
    font-size: 22px;
margin: 5px;
    font-weight: 900;
    color: #ababab;
    text-align: center;
}
 .form__text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  margin: 5px 0 25px 0;
}

.timer {
    margin: 20px auto;
}

.timer__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 35px;
    line-height: 35px;
    font-weight: 900;
    color: #1b478a;
}
.hour-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -10px;
}
.hour-container .control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 2px dotted #ebd50c;
    border-radius: 50%;
    /* padding: 10px; */
    margin: 0 10px;
}

.hour-container .control > span {
    display: flex;
    justify-content: center;
}
.hour-container p {
    font-size: 12px!important;
    line-height: 15px!important;
    color: #000!important;
    margin-top: 10px;
}

@media (max-width: 480px) {
    .hour-container .control {
        width: 50px;
        height: 50px;
    }

    .hour-container .control > span {
        font-size: 24px;
    }
    .hour-container p {
        margin-top: 0;
    }
}

.form__input-container {
    position: relative;
}
.form__input-container::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 20px;
    left: 20px;
    background-image: url('../img/name.png');
}
.form__input-container--tel::before {
    background-image: url('../img/phone.png');
}
.form__input {
    width: 100%;
    font-size: 19px;
    line-height: 22px;
    color: #000;
    text-align: center;
    border: none;
    padding: 20px;
  border:1px solid grey;
    margin-bottom: 10px;
}
::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}
::-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}
::placeholder {
    color: #000;
    opacity: 1;
}
.form__btn {
    font-size: 23px;
    line-height: 26px;
    font-weight: 990;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #00a31e;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00d228), to(#00ab20));
    background-image: linear-gradient(180deg, #00d228 0%, #00ab20 100%);
    -webkit-box-shadow: 0 5px 0 -2px #007906;
    box-shadow: 0 5px 0 -2px #007906;
    cursor: pointer;
}
.form__left-pack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.form__left-pack p {
    width: 20%;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}
.form__left-pack .number-pack {
    text-align: center;
    color: #322a89;
    font-size: 50px;
    line-height: 55px;
    font-weight: 900;
    margin: 0 10px;
}
.form__left-pack .left-align {
    text-align: left;
}
.start__image {
    position: absolute;
    bottom: -40px;
    left: 480px;
    z-index: 100;
}
.start__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    position: absolute;
    bottom: 10px;
    left: 270px;
    z-index: 100;
    padding: 55px;
    background-image: url('../img/price-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.old-price {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 10px;
}
.old-price span {
    font-size: 19px;
    line-height: 22px;
    font-weight: 500;
    text-decoration: line-through;
}
.new-price {
    color: #0b9134;
    font-size: 14px;
    line-height: 17px;
    font-weight: 900;
    text-align: center;
}
.new-price p {
    margin-bottom: 10px;
}
.new-price span {
    font-size: 40px;
}

@media (max-width: 480px) {
    .form {
        width: auto;
        padding: 10px;
    }
    .form__title {
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 15px;
    }
    .form__date {
        font-size: 19px;
        line-height: 22px;
    }

 #form__block   .form__input-container::before {
        top: 15px;
    }
   #form__block .form__input {
        font-size: 17px;
        line-height: 20px;
        padding: 15px;
    }
    .form__btn {
        font-size: 20px;
        line-height: 23px;
        padding: 15px;
    }
    .form__left-pack p {
        width: 30%;
    }
}

.prices p:first-child {
    font-size: 20px!important;
    text-align: center;
    font-weight: 600;
    color: gray!important;
}

.prices .oldprice {
  text-decoration: line-through;
}

.prices p:last-child {
  font-size: 20px;
  font-weight: 600;
}
.prices p {
  margin: 10px auto !important;
}
.prices .newprice {
  font-size: 23px;
  font-weight: 800;
  color: #ff0000;
}

.form-wrapper {
  background-color: #eaeeff;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 480px) {
    .form-wrapper {
  padding: 20px 10px;

    }
}