.live {
  margin-top: 5px;
  display: block;
  max-width: 100%;
}

body {
  margin: 0
}

h1 {
  display: block;
  width: auto;
  line-height: 1.2;
  color: #0a0a0a;
  font-size: 23px
}

.fadepopup {
  display: none
}

h2 {
  display: block;
  line-height: 1.2;
  color: #0a0a0a;
  font-size: 19px;
  margin-top: 25px
}

h2::after {
  content: "";
  margin-top: 12px;
  border-bottom: 4px solid #168de2;
  display: block
}

a {
  color: #23527c;
  text-decoration: underline
}

a:hover {
  color: #b0493b
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px 0 0;
  border-style: solid none none;
  border-color: #eee currentcolor currentcolor;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none
}

body {
  display: block;
  font-family: "Open Sans", sans-serif;
  background: #fafafa none repeat scroll 0 0;
  height: auto;
  color: #444;
  line-height: 1.5625;
  text-align: justify
}

@media (max-width:768px) {
  body {
    text-align: left
  }
}

@media (max-width:475px) {
  body {
    background: #fff
  }
}

table {
  text-align: left
}

.header {
  display: block;
  width: 100%;
  background: transparent none repeat scroll 0 0;
  margin: 0 auto;
  max-width: 1000px
}

.close {
  position: absolute;
  right: 0;
  top: 0
}

.produ {
  display: block;
  max-width: 220px;
  width: 100%;
  margin: 0 auto 16px
}

.content-left .produ {
  margin: 0 auto
}

.content-left h2 {
  margin-top: 15px
}

.img_box {
  text-align: center;
  position: relative
}

.img_box img {
  width: 100%
}

.text_img {
  position: absolute;
  text-align: left;
  font-size: 17px;
  max-width: 244px;
  width: 100%;
  left: 68px;
  top: -13px
}

.text_img p {
  margin: 49px 0
}

.header-top {
  display: block;
  width: 100%;
  background: transparent none repeat scroll 0 0
}

.r_1 {
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(73, 155, 234, 1);
  background: rgba(222, 69, 92, 1);
  background: -moz-linear-gradient(-45deg, rgba(222, 69, 92, 1) 0, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(222, 69, 92, 1)), color-stop(13%, rgba(222, 69, 92, 1)), color-stop(76%, rgba(192, 31, 55, 1)), color-stop(100%, rgba(192, 31, 55, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(222, 69, 92, 1) 0, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(222, 69, 92, 1) 0, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(222, 69, 92, 1) 0, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
  background: linear-gradient(135deg, rgba(222, 69, 92, 1) 0, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
  color: #fff;
  padding: 0 10px;
  text-transform: uppercase;
  line-height: 60px;
  display: block;
  text-indent: 0;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  width: 360px;
  height: 64px;
  opacity: 1;
  bottom: 29px;
  margin: 15px auto;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  border-radius: 10px
}

.r_1:hover {
  color: #fff;
  background: #db6e7e
}

.r_2 {
  display: inline
}

.r_3 {
  margin-bottom: 12px;
  display: block
}

.r_4 {
  margin: 0 auto;
  text-align: center
}

.r_5 {
  border-bottom: 4px solid #ff9d07;
  background: #dbdbdb
}

.r_6 {
  text-align: center;
  display: block;
  font-size: 18px
}

.r_9 {
  margin-top: -11px;
  margin-bottom: 22px
}

.oui {
  height: 100%;
  background: rgba(60, 114, 181, 1);
  background: -moz-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0, rgba(123, 159, 204, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(60, 114, 181, 1)), color-stop(100%, rgba(123, 159, 204, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0, rgba(123, 159, 204, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0, rgba(123, 159, 204, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0, rgba(123, 159, 204, 1) 100%);
  background: linear-gradient(135deg, rgba(60, 114, 181, 1) 0, rgba(123, 159, 204, 1) 100%);
  font-family: Roboto !important;
  position: relative;
  border: 5px solid #ddd
}

.eeee {
  background-color: rgba(0, 0, 0, .7);
  display: none;
  width: 100%;
  height: 100%;
  z-index: 333;
  position: fixed;
  cursor: pointer;
  top: 0
}

.fadepopup {
  left: 50%;
  margin-left: -396px;
  position: fixed;
  top: 6%;
  z-index: 8105;
  width: 792px;
  border-radius: 5px;
  border: 0;
  box-shadow: none;
  font-family: Arial, sans-serif;
  overflow: hidden;
  color: #222
}

.img_prod {
  display: inline-block;
  width: 35%;
  vertical-align: top
}

.img_prod img {
  width: 100%
}

.header__air-title:hover {
  color: #85cced
}

.r_9 a {
  text-decoration: none;
  color: #000
}

.ouimain-text-img {
  display: block;
  width: 90%;
  padding: 0 5% 15px;
  margin-top: 27px
}

.mofr {
  margin-top: 65px;
  display: block
}

.ouimain-text {
  display: inline-block;
  text-align: center;
  width: 64%;
  vertical-align: top;
  padding-top: 30px
}

.ouimain-text p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #fff;
  font-size: 26px;
  padding-bottom: 5px
}

.ouimain-text-img:after {
  content: '';
  display: block;
  clear: both
}

.content-right-recommend-top {
  height: 49px;
  background: #4aa224 none repeat scroll 0 0;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 48px;
  position: relative;
  text-align: center
}

.content-right-recommend-top::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 13px 0;
  border-color: transparent #4aa224 transparent transparent;
  left: 0;
  bottom: -13px
}

.content-right-recommend-top::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 17px 0 0;
  border-color: #4aa224 transparent transparent;
  right: 0;
  bottom: -13px
}

a:active,
a:focus {
  outline: 0
}

.center {
  text-align: center !important
}

.click_ssty {
  background-color: #eef2f4;
  padding: 5px 0 5px 30px;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px auto;
  text-align: left
}

.ctr_ima_s {
  display: none
}

.click_ssty:before {
  content: '+';
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  left: 5px;
  top: -5px
}

.click_ssty2:before {
  content: '-' !important;
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  left: 5px;
  top: -8px !important
}

@media all and (max-width:1024px) {
  .text_img p {
    margin: 54px 0
  }

  body {
    margin: 8px
  }

  .bone .header__air {
    right: 232px !important
  }

  .eeee,
  .fadepopup {
    display: none !important
  }
}

@media all and (max-width:768px) {
  .bone .header__air {
    right: 124px !important
  }

  .text_img p {
    margin: 47px 0
  }
}

@media all and (max-width:768px) {
  .text_img {
    left: 25px
  }

  .text_img p {
    margin: 41px 0
  }
}

@media all and (max-width:680px) {
  .text_img {
    position: absolute;
    text-align: left;
    font-size: 17px;
    max-width: 244px;
    width: 100%;
    left: 15px;
    top: -13px
  }

  .text_img p {
    margin: 40px 0
  }
}

@media all and (max-width:650px) {
  .text_img {
    font-size: 15px
  }
}

@media all and (max-width:590px) {
  .text_img p {
    max-width: 200px;
    margin: 30px 0
  }
}

@media all and (max-width:560px) {
  .text_img p {
    margin: 25px 0
  }
}

@media all and (max-width:530px) {
  .bone .header__air {
    display: block;
    right: 0 !important
  }

  .bone_text {
    top: 34px !important
  }

  .bone_text p {
    max-width: 65px !important;
    font-size: 10px !important
  }
}

@media all and (max-width:520px) {
  .text_img p {
    max-width: 180px;
    margin: 19px 0
  }

  .text_img {
    font-size: 14px
  }
}

@media all and (max-width:480px) {
  .text_img p {
    max-width: 180px
  }

  .text_img {
    font-size: 13px
  }
}

@media all and (max-width:420px) {
  .text_img p {
    max-width: 165px;
    margin: 11px 0
  }

  .text_img {
    font-size: 13px
  }
}

@media all and (max-width:375px) {
  .text_img p {
    margin: 10px 0
  }

  .bone_text {
    top: 29px !important
  }
}

@media (max-width:340px) {
  .text_img {
    font-size: 12px;
    top: 0
  }

  .text_img p {
    max-width: 115px;
    line-height: 1.2
  }
}

@media all and (max-width:320px) {
  .bone_text p {
    max-width: 59px !important;
    font-size: 8px !important
  }

  .bone .header__air {
    padding: 10px 5px 10px !important;
    height: inherit !important
  }

  .bone_text {
    top: 25px !important
  }
}

.content-right-statistic-info-right {
  display: block;
  float: left;
  width: 37%;
  font-size: 14px;
  margin-left: 3%;
  font-weight: 700;
  text-align: left
}

.content-right-statistic-info {
  display: block;
  width: 100%;
  margin-bottom: 1%
}

.content-right-statistic-info-left {
  display: block;
  float: left;
  width: 60%;
  text-align: right;
  font-size: 14px
}

.content-right-statistic {
  display: block;
  width: 96%;
  padding: 0 2% 2%;
  background: #f3f3f3 none repeat scroll 0 0;
  color: #515151;
  margin-top: 5%
}

.content-right-statistic-head {
  display: block;
  width: auto;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 1%
}

.content-right {
  text-align: center
}

.content {
  display: block;
  width: 97%;
  max-width: 1000px;
  margin: 0 auto;
  background: #fff none repeat scroll 0 0;
  padding: 25px 1.5%;
  position: relative
}

.content-left {
  display: block;
  float: left;
  width: 71%;
  padding-right: 2%
}

.content-left-doctor {
  display: block;
  width: 96%;
  background-color: #e2e2e2;
  padding: 2%;
  margin-top: 25px
}

.content-left-doctor-foto {
  display: block;
  width: 48%;
  float: left;
  margin-right: 2%
}

.content-left-doctor-foto img {
  width: 100%;
  display: block
}

@media (max-width:768px) {
  .content-left-doctor-foto {
    width: 100%
  }

  .content-left-doctor-foto img {
    max-width: 320px;
    margin: 0 auto
  }
}

.content-left-doctor-text {
  display: block;
  width: 50%;
  float: right
}

@media (max-width:768px) {
  .content-left-doctor-text {
    width: 100%
  }
}

.content-left-doctor::after {
  content: "";
  display: block;
  clear: both
}

.opros-product-block {
  display: block;
  width: auto;
  margin-top: 2%
}

.like-block {
  display: block;
  width: 95.7%;
  border: 2px solid #e6e6e6;
  padding: 0 2% 2%;
  margin: 3% 0;
  border-radius: 3px
}

.like-block img {
  display: block;
  width: auto
}

.vk-container {
  font-family: tahoma, arial, verdana, sans-serif;
  font-size: 15px;
  color: #000;
  text-decoration: none
}

.vk-header {
  background: #dae2e8 none repeat scroll 0 0;
  padding: 4px 4px 4px 6px;
  margin-bottom: 10px
}

.vk-logo {
  background: transparent none no-repeat scroll 0 0;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: -1px
}

.vk-header-text {
  padding: 2px 3px 1px;
  line-height: 100%;
  color: #45688e;
  font-weight: 700
}

.vk-comment,
.vk-comment-load {
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid #dae1e8;
  padding-bottom: 15px
}

.vk-avatar img {
  float: left;
  margin-right: 10px
}

.vk-comment-name {
  color: #2b587a;
  font-weight: 700;
  font-size: 12px
}

.vk-comment-text {
  margin-left: 60px
}

.vk-comment-date {
  margin-left: 60px;
  color: #999
}

.content-right {
  display: block;
  width: 27%;
  float: right;
  position: relative
}

.content-right-recommend-container {
  display: block;
  max-width: 270px;
  width: 100%
}

.content-right-recommend {
  display: block;
  width: auto
}

.content-right-recommend-top {
  height: 48px;
  background: #4aa224 none repeat scroll 0 0;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 48px;
  position: relative;
  text-align: center
}

.content-right-recommend-top::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 13px 0;
  border-color: transparent #4aa224 transparent transparent;
  left: 0;
  bottom: -12px
}

.content-right-recommend-top::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 17px 0 0;
  border-color: #4aa224 transparent transparent;
  right: 0;
  bottom: -12px
}

.content-right-statistic {
  display: block;
  width: 96%;
  padding: 0 2% 2%;
  background: #f3f3f3 none repeat scroll 0 0;
  color: #515151;
  margin-top: 5%
}

.content-right-statistic-head {
  display: block;
  width: auto;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 1%
}

.content-right-statistic-info {
  display: block;
  width: 100%;
  margin-bottom: 1%
}

.content-right-statistic-info-left {
  display: block;
  float: left;
  width: 60%;
  text-align: right;
  font-size: 14px
}

.content-right-statistic-info-right {
  display: block;
  float: left;
  width: 37%;
  font-size: 14px;
  margin-left: 3%;
  font-weight: 700;
  text-align: left
}

.content-right-statistic-info::after {
  content: "";
  display: block;
  clear: both
}

.content-product-img {
  max-width: 100%;
  display: block;
  margin-bottom: 25px;
  margin-top: 25px;
  margin: 0 auto
}

.header {
  width: 100%;
  z-index: 12;
  position: relative
}

.header__inner {
  height: 64px;
  background: #0095da none repeat scroll 0 0;
  position: relative;
  z-index: 7;
  display: flex
}

.header__logo {
  width: 300px;
  height: 64px;
  position: relative;
  float: left;
  margin: 0
}

.header__logo a {
  background: red;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 64px;
  padding: 23px 9px;
  font-size: 16px;
  height: 64px
}

@media all and (max-width:1024px) {
  .header__logo a {
    font-size: 14px
  }
}

@media all and (max-width:650px) {
  .nav {
    display: none
  }

  .header-right-news {
    position: absolute;
    z-index: 2;
    right: 0
  }
}

.header__air {
  float: right;
  border-left: 1px solid #2483c5;
  padding: 15px 16px 0;
  height: 49px;
  order: 3
}

.header__air-logo {
  display: block;
  width: 70px;
  height: 18px;
  background: transparent url(../images/logo_r24_s.png) repeat scroll 0 0
}

.header__air-title {
  display: block;
  font: 11px/11px Tahoma, sans-serif;
  color: #85cced;
  padding-top: 5px;
  text-decoration: none
}

.search {
  padding: 18px 24px 0;
  float: right;
  background: transparent url(../images/icons.png) no-repeat scroll 24px -193px;
  width: 20px;
  height: 30px;
  cursor: pointer;
  order: 2
}

.nav {
  height: 64px;
  max-width: 920px;
  overflow: hidden;
  position: relative;
  order: 0
}

.nav li {
  perspective: 1000px
}

.nav__inner {
  margin: 0
}

.nav li:first-child::after {
  display: block;
  content: " ";
  position: absolute;
  z-index: 200;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 26px
}

.nav li {
  display: block;
  float: left;
  height: 64px;
  margin-right: 1px;
  position: relative
}

.nav li a {
  display: block;
  height: 100%;
  font: 16px/64px OpenSansLight, sans-serif;
  color: #fff;
  padding: 0 24px;
  text-decoration: none;
  position: relative;
  background: #0095da none repeat scroll 0 0;
  transition: transform .3s ease 0s;
  transform-origin: 50% 0 0;
  transform-style: preserve-3d
}

.nav li:first-child::after {
  display: block;
  content: " ";
  position: absolute;
  z-index: 200;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 26px
}

.nav li a::before {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #0965a0 none repeat scroll 0 0;
  content: attr(data-hover);
  transition: background .3s ease 0s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0 0
}

.nav li a:hover {
  background: #00a5f2 none repeat scroll 0 0
}

.nav li a::before {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #0965a0 none repeat scroll 0 0;
  content: attr(data-hover);
  transition: background .3s ease 0s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0 0
}

.nav li:focus a,
.nav li:hover a {
  transform: rotateX(90deg) translateY(-22px)
}

.nav li:focus a::before,
.nav li:hover a::before {
  background: #2483c5 none repeat scroll 0 0
}

.nav li:first-child::after {
  display: block;
  content: " ";
  position: absolute;
  z-index: 200;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 26px
}

.bone {
  text-align: center;
  position: relative;
  font-size: 0
}

.bone .header__air-title {
  user-select: none
}

.bone .header__air-title:hover {
  color: #85cced
}

.bone img {
  max-width: 499px;
  width: 100%
}

.bone .header__air {
  border: none;
  background: #fff;
  position: absolute;
  top: 0;
  right: 95px
}

.bone_text {
  position: absolute;
  font-size: 0;
  max-width: 499px;
  width: 100%;
  top: 42px;
  right: 50%;
  transform: translateX(50%)
}

.bone_text p {
  display: inline-block;
  max-width: 100px;
  width: 100%;
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  position: absolute
}

.left_text {
  left: 0
}

.right_text {
  left: 52%
}

@media (max-width:530px) {
  .nav {
    display: none
  }

  .search {
    display: none
  }

  .header__air {
    display: none
  }

  .header__inner {
    height: 49px
  }

  .header__logo a {
    background: red;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 52px;
    padding: 17px 9px 14px 9px;
    font-size: 16px
  }
}

@media (max-width:530px) {
  .header__menu-link {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent url(../images/icons.png) no-repeat scroll 13px -394px;
    width: 48px;
    height: 48px;
    border-left: 1px solid #167baf;
    z-index: 9
  }
}

.content::after {
  content: "";
  display: block;
  clear: both
}

.ouimain-text-img::after {
  content: "";
  display: block;
  clear: both
}

@media screen and (max-width:1199px) {
  .content-right {
    display: none
  }

  .content-left {
    width: 100%;
    padding-right: 0
  }
}

@media screen and (max-width:989px) {
  .content {
    max-width: 750px;
    width: 95%
  }

  .like-block {
    margin: 5% 0
  }
}

@media screen and (max-width:599px) {
  .content-left-doctor-foto {
    float: none;
    width: 100%
  }

  .content-left-doctor-text {
    float: none;
    width: 100%;
    margin-top: 3%
  }
}

@media screen and (max-width:429px) {
  .like-block img {
    width: 100%
  }
}

.close {
  position: absolute;
  top: 1px;
  right: 13px;
  font-size: 40px;
  cursor: pointer
}

td,
th {
  padding: 10px;
  border: 1px solid #333
}

td br,
th br {
  display: none
}

@media all and (max-width:475px) {
  table {
    font-size: 12px;
    table-layout: fixed
  }

  td,
  th {
    padding: 0 3px
  }
}

@media (max-width:350px) {
  table {
    font-size: 11px
  }
}

@media (max-width:320px) {
  table {
    font-size: 10px
  }
}

.content-right-recommend p img {
  width: 261px;
  height: 261px
}

.nowrap {
  white-space: nowrap
}

.sale-title {
  font-size: 17px
}

img[height="1"],
img[width="1"] {
  display: none !important
}

.submit-form {
  max-width: 370px;
  border: none;
  outline: 0;
  padding: 25px;
  color: #fff;
  font-size: 20px;
  background-color: #de0606;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  animation: myanimation 1s infinite alternate;
  margin-top: 20px;
  display: inline-block
}

.submit-form:hover {
  color: #fff;
  background-color: #e03023;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14), 0 1px 7px 0 rgba(0, 0, 0, .12), 0 3px 1px -1px rgba(0, 0, 0, .2)
}

.pulse {
  position: relative;
  z-index: 1
}

.pulse:hover:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f44336;
  border-radius: inherit;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-animation: pulse-animation 5s cubic-bezier(.24, 0, .38, 1) infinite;
  animation: pulse-animation 5s cubic-bezier(.24, 0, .38, 1) infinite;
  z-index: -1
}

@keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  15% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
}

@keyframes myanimation {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(1.1)
  }
}

table {
  width: 100%;
  border: 1px solid #333
}

.center {
  text-align: center !important
}

.red {
  color: red
}

.inL_980808 {
  display: none !important
}

.inL_837239 {
  text-align: center
}

.inL_768805 {
  text-align: center
}

.inL_977862 {
  text-align: center
}

.inL_851904 {
  max-width: 35%
}

.inL_616916 {
  margin-top: 0;
  left: 0;
  position: relative;
  top: 0;
  bottom: 0
}

.inL_252797 {
  display: block;
  margin: 10px auto
}