h4,
sub,
sup {
   position: relative
}

#overlay,
h4.line a.icon,
h4.line p.line {
   position: absolute;
   left: 0
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
   vertical-align: baseline;
   background: 0;
   text-indent: 0;
   font-size: 100%;
   text-decoration: none;
   list-style: none;
   outline: 0;
   border: 0;
   margin: 0;
   padding: 0
}

button,
img,
input,
select {
   vertical-align: middle
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
ul li {
   display: block
}

blockquote::after,
blockquote::before,
q::after,
q::before {
   content: none
}

q::after {
   content: "»"
}

q::before {
   content: "«"
}

q q::after {
   content: "“"
}

q q::before {
   content: "„"
}

button,
input,
nav li,
nav ul,
select,
textarea {
   margin: 0
}

h3 {
   font-size: 108%
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
   font-weight: 700
}

em {
   font-style: italic
}

sub,
sup {
   font-size: 75%;
   line-height: 0
}

body,
input,
select,
textarea {
   font: 13px/15px Arial, Tahoma, sans-serif
}

sup {
   top: -.5em
}

button,
input,
select {
   overflow: visible
}

:focus,
input[type=button]:focus,
input[type=submit]:focus {
   outline: 0
}

button::-moz-focus-inner {
   border: 0
}

input::-moz-focus-inner {
   border: 0
}

button,
input[type=button],
input[type=image],
input[type=submit],
label {
   cursor: pointer
}

body {
   color: #555;
   background: url(../img/main_bg-russia1-new.jpg) 50% -90px no-repeat
}

body a {
   color: #00f;
   text-decoration: none
}

#promo div.title h1 a:hover,
footer div.copy a,
footer div.items_menu ul li a:hover {
   text-decoration: underline
}

h1,
h2,
h3,
h4,
h5,
h6,
header a.init_auth,
header ul.vgtrk_bar li.root a.root {
   font-family: RussiaRegular
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 400;
   margin: 0;
   padding: 0;
   color: #555;
   text-transform: uppercase
}

h1,
h1 a {
   width: auto;
   float: left;
   font-size: 38px;
   line-height: 38px
}

h2 {
   font-size: 22px;
   line-height: 24px
}

h4 {
   min-height: 22px;
   margin-bottom: 15px;
   font-size: 20px;
   line-height: 25px
}

h4 span {
   margin-bottom: -5px
}

h4 a.icon {
   display: inline-block;
   width: auto;
   cursor: default
}

h4.line a.icon {
   padding-right: 15px;
   top: 0;
   z-index: 3
}

h4.line p.line {
   display: block;
   height: 1px !important;
   border-bottom-width: 0;
   border-bottom-style: none;
   top: 50%;
   margin: 0;
   padding: 0;
   font-size: 1px;
   line-height: 1px
}

#container,
header {
   position: relative
}

h4.line p.line_wide {
   width: 666px
}

h4.left_right span.subtitle::before {
   display: inline-block;
   content: "/";
   margin: 0 5px
}

#overlay,
#triggers {
   display: none
}

#overlay {
   width: 100%;
   height: 100%;
   top: 0;
   z-index: 7000;
   background: 0
}

#container {
   width: 1020px;
   margin: 0 auto 10px
}

#container div.wrapper {
   overflow: hidden
}

header {
   height: 40px;
   margin-top: 17px
}

header ul.vgtrk_soc_links {
   display: block;
   position: absolute;
   top: 0;
   right: 277px;
   width: 140px;
   height: 24px;
   background: linear-gradient(#3e3e3e, #1b1c1d) padding-box;
   border-top: 1px solid #636363;
   border-bottom: 1px solid #1b1d26;
   border-radius: 4px
}

header ul.vgtrk_soc_links li {
   float: left;
   display: inline-block;
   position: relative;
   width: 28px;
   height: 24px
}

header ul.vgtrk_soc_links li div {
   position: relative;
   width: 1px;
   height: 24px
}

header ul.vgtrk_soc_links li div.border-left {
   float: left;
   background: linear-gradient(#515151, #202021)
}

header ul.vgtrk_soc_links li div.border-right {
   float: right;
   background: linear-gradient(#3c3c3c, #151516)
}

header ul.vgtrk_soc_links li .a {
   display: block;
   float: left;
   width: 26px;
   height: 24px;
   background-image: url(../img/vgtrk-soc-links-sprite.png);
   background-repeat: no-repeat
}

header ul.vgtrk_soc_links li:first-child div.border-left,
header ul.vgtrk_soc_links li:last-child div.border-right {
   display: none
}

header ul.vgtrk_soc_links li .a.fb {
   background-position: 10px center
}

header ul.vgtrk_soc_links li .a.vk {
   background-position: -18px center
}

header ul.vgtrk_soc_links li .a.cm {
   background-position: -46px center
}

header ul.vgtrk_soc_links li .a.gp {
   background-position: -74px center
}

header ul.vgtrk_soc_links li .a.insta {
   background-position: -133px center
}

header ul.vgtrk_soc_links li:first-child {
   border-radius: 4px 0 0 4px;
   background-clip: padding-box
}

header ul.vgtrk_soc_links li:last-child {
   border-radius: 0 4px 4px 0;
   background-clip: padding-box
}

header ul.vgtrk_soc_links li:hover {
   background: linear-gradient(#f01e28, #c40000)
}

header ul.vgtrk_bar {
   display: block;
   border-radius: 4px;
   background-clip: padding-box;
   top: 0;
   left: 0;
   position: absolute
}

header ul.vgtrk_bar li.root {
   float: left;
   display: inline-block;
   position: relative
}

header ul.vgtrk_bar li.root:hover ul {
   display: block
}

header ul.vgtrk_bar li.root a.root {
   width: 104px;
   height: 26px;
   display: block;
   background: linear-gradient(#424242, #252627);
   color: #fff;
   text-shadow: 1px 1px 0 #222;
   font-size: 13px;
   line-height: 25px;
   border-right: 1px solid #000;
   border-left: 1px solid #494949;
   text-align: center
}

header ul.vgtrk_bar li.root a.root:hover {
   background: linear-gradient(#f01e28, #c40000);
   border-top-color: #a61b19;
   border-left-color: #92201e
}

header ul.vgtrk_bar li.first a.root {
   border-radius: 4px 0 0 4px;
   background-clip: padding-box;
   border-left: 0 none
}

header ul.vgtrk_bar li.last a.root {
   border-radius: 0 4px 4px 0;
   background-clip: padding-box;
   border-right: 0 none
}

header ul.vgtrk_bar li.dropdown a span.drop {
   float: right;
   display: inline-block;
   width: 31px;
   height: 26px;
   background: 100% 0 no-repeat none
}

header ul.vgtrk_bar li.dropdown a:hover span {
   background-position: 0 -26px
}

header ul.vgtrk_bar ul {
   display: none;
   position: absolute;
   left: 0;
   top: 26px;
   z-index: 100;
   min-width: 106px;
   background: linear-gradient(#47484d, #1d1e20) padding-box;
   border-radius: 0 0 4px 4px
}

header ul.vgtrk_bar ul li {
   height: 26px;
   border-top: 1px solid #1d1e20
}

header ul.vgtrk_bar ul li a {
   display: block;
   padding: 0 15px;
   color: #fff;
   font-size: 13px;
   line-height: 26px;
   text-shadow: 1px 1px 0 #000;
   position: relative
}

header a.init_auth,
header div.auth_block a.btn,
header div.auth_block a.close {
   font-size: 13px;
   line-height: 25px;
   text-align: center
}

header ul.vgtrk_bar ul li a:hover {
   background: repeat-x none
}

header ul.vgtrk_bar ul li a:last-child {
   border-radius: 0 0 4px 4px;
   background-clip: padding-box
}

header div.header-current-date {
   position: relative;
   left: 422px;
   margin-right: 14px;
   margin-top: 7px;
   width: 216px;
   float: left;
   text-align: center;
   text-shadow: 0 1px 0 #fff
}

header a.init_auth,
header div.auth_block {
   position: absolute;
   top: 0;
   border-radius: 4px;
   right: 0
}

header a.init_auth {
   width: 100px;
   height: 26px;
   display: block;
   background: linear-gradient(#424242, #252627) padding-box;
   color: #fff;
   text-shadow: 1px 1px 0 #222;
   border-right: 1px solid #000;
   border-left: 1px solid #494949
}

header a.init_auth:hover {
   background: linear-gradient(#f01e28, #c40000);
   border-top-color: #a61b19;
   border-left-color: #92201e
}

header a.init_auth span.drop {
   float: right;
   display: inline-block;
   width: 31px;
   height: 26px;
   background: 100% 0 no-repeat none
}

header a.init_auth:hover span {
   background-position: 0 -26px
}

header div.auth_block {
   display: none;
   width: 310px;
   z-index: 200;
   background-color: #3f4044;
   background-clip: padding-box;
   color: #c5c6ca
}

header div.auth_block input {
   width: 85px;
   height: 25px;
   padding: 0 5px;
   border-radius: 3px;
   background-clip: padding-box;
   border: 1px solid #d4d4d6
}

header div.auth_block a.btn {
   background: linear-gradient(#ebebeb, #c4c4c4) padding-box;
   border-top: 1px solid #fff;
   border-bottom: 1px solid #7c868e;
   color: #333;
   text-shadow: 0 1px 0 #eee;
   font-family: RussiaBold;
   font-weight: 400;
   border-radius: 3px;
   display: inline-block
}

header div.auth_block a.btn:hover {
   color: #a81c1a
}

header div.auth_block a.close {
   display: block;
   background: linear-gradient(#424242, #252627) padding-box;
   color: #fff;
   text-shadow: 1px 1px 0 #222;
   font-family: RussiaRegular;
   border-right: 1px solid #000;
   border-left: 1px solid #494949;
   border-radius: 4px 4px 0 0;
   height: 26px
}

header div.auth_block a.close:hover {
   background: linear-gradient(#f01e28, #c40000);
   border-top-color: #a61b19;
   border-left-color: #92201e
}

header div.auth_block a.close span.drop {
   float: right;
   display: inline-block;
   width: 31px;
   height: 26px;
   background: 100% 0 no-repeat none
}

header div.auth_block a.close:hover span {
   background-position: 0 -26px
}

header div.auth_block div.base_auth {
   padding: 16px;
   background: linear-gradient(#3f4044, #3d3e42)
}

header div.auth_block div.auth_fail div.block,
header div.auth_block div.providers,
header div.auth_block div.recover_success {
   padding: 16px;
   background-repeat: repeat;
   background-position: 0 0
}

header div.auth_block div.base_auth form {
   display: block;
   margin-top: 15px;
   overflow: hidden
}

header div.auth_block div.base_auth form div.col {
   float: left;
   vertical-align: top
}

header div.auth_block div.base_auth form div.col label {
   display: inline-block;
   margin-bottom: 8px
}

header div.auth_block div.auth_fail,
header div.auth_block div.recover_success {
   display: none;
   border-top: 1px solid #000;
   border-bottom: 1px solid #000
}

header div.auth_block div.base_auth form div.login,
header div.auth_block div.base_auth form div.pass {
   width: 100px;
   margin-right: 8px
}

header div.auth_block div.base_auth form div.submit {
   width: 60px
}

header div.auth_block div.base_auth form div.submit a.btn {
   width: 100%;
   margin-top: 23px
}

header div.auth_block div.recover_success {
   background-image: none;
   background-color: #35a818;
   color: #fff
}

header div.auth_block div.auth_fail div.block {
   background-image: none;
   background-color: #aa1c18;
   color: #fff
}

header div.auth_block div.auth_fail div.recover {
   border-top: 1px solid #871514
}

header div.auth_block div.auth_fail div.recover form {
   display: block;
   margin-top: 16px;
   overflow: hidden
}

header div.auth_block div.auth_fail div.recover form input {
   width: 150px;
   margin-right: 16px
}

header div.auth_block div.auth_fail div.recover form a.btn {
   width: 100px;
   float: right
}

header div.auth_block div.auth_fail div.recover div.msg_fail {
   display: none;
   padding-top: 16px
}

header div.auth_block div.providers {
   background-image: none;
   border-top: medium none #000
}

header div.auth_block div.providers ul.list {
   margin-top: 15px;
   overflow: hidden
}

header div.auth_block div.providers ul.list li {
   float: left
}

header div.auth_block div.providers ul.list li a {
   display: block;
   width: 34px;
   height: 34px;
   background-image: none;
   background-repeat: no-repeat
}

header div.auth_block div.providers ul.list li a.active,
header div.auth_block div.providers ul.list li a:hover {
   background-color: #494a4e;
   border-radius: 3px 3px 0 0;
   background-clip: padding-box
}

header div.auth_block div.providers ul.list li a.fb {
   background-position: 11px 0
}

header div.auth_block div.providers ul.list li a.vk {
   background-position: -59px 3px
}

header div.auth_block div.providers ul.list li a.ya {
   background-position: -131px 2px
}

header div.auth_block div.providers ul.list li a.gp {
   background-position: -172px 2px
}

header div.auth_block div.providers ul.list li a.mm {
   background-position: -207px 4px
}

header div.auth_block div.providers ul.list li a.oi {
   background-position: -246px 4px
}

header div.auth_block div.providers ul.list li a.ok {
   background-position: -92px 0
}

header div.auth_block div.providers div.more div.provider {
   display: none;
   height: 30px;
   padding: 10px;
   border-radius: 3px;
   background-clip: padding-box;
   background-color: #494a4e
}

header div.auth_block div.providers div.more div.active {
   display: block
}

header div.auth_block div.providers div.more a.connect {
   display: inline-block;
   width: 89px;
   height: 21px;
   float: left;
   vertical-align: top;
   background-image: none;
   background-repeat: no-repeat
}

header div.auth_block div.providers div.more a.connect_fb {
   background-position: 0 -21px
}

header div.auth_block div.providers div.more a.connect_vk {
   background-position: 0 -63px
}

header div.auth_block div.providers div.more a.connect_gp {
   background-position: 0 0
}

header div.auth_block div.providers div.more a.connect_ok {
   background-position: 0 -105px
}

header div.auth_block div.providers div.more p.info {
   width: 150px;
   margin-left: 100px;
   vertical-align: top;
   font-size: 11px;
   line-height: 13px;
   overflow: hidden
}

header div.auth_block div.providers div.more input {
   margin-right: 10px
}

header div.auth_block div.providers div.more a.btn {
   width: 60px;
   margin-left: 10px;
   float: right
}

header div.auth_block div.providers div.more div.oi input {
   width: 175px;
   margin-right: 0
}

header div.auth_block div.no_login {
   padding: 6px 16px;
   overflow: hidden
}

header div.auth_block div.no_login span {
   line-height: 26px
}

header div.auth_block div.no_login a.btn {
   float: right;
   width: auto;
   padding: 0 10px
}

#promo {
   position: relative;
   border-radius: 4px;
   background-clip: padding-box
}

#promo.thin,
#promo.thin div.wrap {
   height: 100px;
   border-radius: 4px 4px 0 0
}

#promo.thin {
   position: relative;
   background: rgba(255, 255, 255, .3)
}

#promo a.logo,
#promo nav {
   position: absolute;
   top: 31px;
   z-index: 10
}

#promo.thin div.wrap {
   background: url(../img/lined_bg.png) padding-box
}

#promo a.logo {
   width: 184px;
   height: 42px;
   display: block;
   left: 0;
   background: url(../img/standart-russia1.png) no-repeat
}

#promo nav {
   height: 40px;
   right: 0;
   padding: 0 26px 0 13px;
   background: linear-gradient(#ebebeb, #c4c4c4);
   border-top: 1px solid #fff;
   border-bottom: 1px solid #7c868e
}

#promo nav ul.menu,
#promo nav ul.menu li {
   float: left
}

#promo nav ul.menu li .a {
   display: block;
   width: auto;
   padding: 0 8px;
   color: #333;
   text-shadow: 0 1px 0 #eee;
   font-size: 14px;
   line-height: 44px;
   font-family: RussiaBold;
   text-transform: uppercase;
   text-align: center;
   font-weight: 700
}

#promo nav ul.menu li .a sup,
#promo nav ul.menu li .a:hover {
   color: #a81c1a
}

#promo div.search {
   width: 165px;
   height: 22px;
   border-radius: 5px;
   background-clip: padding-box;
   padding: 5px 0;
   margin-left: 13px;
   border-bottom: 1px solid #fff;
   position: relative;
   float: right
}

#promo div.search input {
   width: 115px;
   height: 21px;
   padding: 3px 33px 3px 15px;
   border: 1px solid #cfd0d2;
   background: linear-gradient(#fefefe, #dedede) padding-box;
   border-radius: 5px;
   font-size: 10px;
   line-height: 20px;
   font-family: Tahoma;
   text-transform: uppercase
}

#promo div.search input:focus {
   background-color: #fefefe
}

#promo div.search a.go {
   width: 16px;
   height: 16px;
   display: block;
   position: absolute;
   top: 12px;
   right: 9px;
   background: url(../img/search.png) no-repeat
}

footer div.bottom_menu,
footer div.bottom_menu ul.about {
   height: 40px;
   border-top: 1px solid #fff;
   border-bottom: 1px solid #7c868e
}

#promo div.title {
   position: absolute;
   z-index: 12;
   overflow: hidden;
   top: 113px;
   left: 23px
}

#promo div.title h1 a {
   font-family: RussiaRegular
}

#main {
   overflow: hidden;
   padding: 23px
}

#main div.content {
   vertical-align: top;
   float: left;
   width: 666px
}

#main aside {
   vertical-align: top;
   float: right;
   width: 240px;
   margin-left: 20px
}

#main div.p-asd {
   margin-top: 17px
}

p.alt {
   position: absolute;
   transform: rotate(-90deg);
   text-transform: lowercase;
   font-size: 11px
}

footer {
   background-color: #ededed;
   overflow: hidden
}

footer div.wrap {
   padding: 0 23px
}

footer div.wrapper {
   padding-bottom: 20px
}

footer div.bottom_menu {
   background: linear-gradient(#ebebeb, #c4c4c4);
   width: 100%;
   position: relative;
   margin-bottom: 40px
}

footer div.bottom_menu ul {
   margin-left: 0
}

footer div.bottom_menu ul li {
   display: inline-block;
   vertical-align: top;
   margin-left: -.36em
}

footer div.bottom_menu ul li:first-child {
   margin-left: 0
}

footer div.bottom_menu ul li a {
   display: block;
   width: auto;
   padding: 0 26px;
   text-align: center;
   color: #333;
   text-shadow: 0 1px 0 #eee;
   font-size: 14px;
   line-height: 44px;
   font-family: RussiaBold
}

footer div.bottom_menu ul li a sup,
footer div.bottom_menu ul li a:hover,
footer div.bottom_menu ul.about a:hover,
footer div.bottom_menu ul.content a:hover {
   color: #a81c1a
}

footer div.bottom_menu ul li.border a {
   background: url(../img/footer_menu.png) 100% 50% no-repeat;
   padding-right: 28px;
   font-weight: 700
}

footer div.bottom_menu ul.about {
   width: auto;
   background: linear-gradient(#dcdcdc, #b2b2b2);
   position: absolute;
   top: -1px;
   right: 0
}

footer div.bottom_menu ul.about a {
   text-transform: uppercase
}

footer div.copy,
footer div.items_menu ul li a {
   color: #87898b;
   font-size: 11px;
   line-height: 13px
}

footer div.items_menu {
   margin: 45px 0;
   overflow: hidden
}

footer div.items_menu div {
   float: left
}

footer div.items_menu ul {
   width: 165px;
   margin-right: 20px;
   float: left
}

footer div.items_menu ul li {
   padding: 8px 0;
   border-top: 1px solid #e1e1e1
}

footer div.items_menu ul li:first-child {
   border-top: 0 none
}

footer div.copy {
   margin-top: 30px;
   margin-right: 100px
}

footer div.copy a {
   color: #0055d0;
   font-size: 11px;
   line-height: 13px
}

footer div.counters {
   float: right;
   width: 100px
}

ul.b-pvideo-external_btns {
   margin-left: 0;
   float: right
}

ul.b-pvideo-external_btns li {
   display: inline-block;
   vertical-align: top;
   margin-left: -.36em;
   width: 100px;
   height: 48px;
   background-image: url(../img/external_btns.png);
   background-repeat: no-repeat;
   margin-right: 20px
}

ul.b-pvideo-external_btns li:first-child {
   margin-left: 0
}

ul.b-pvideo-external_btns li.archive {
   background-position: 0 0
}

ul.b-pvideo-external_btns li.stars {
   background-position: 0 -50px
}

ul.b-pvideo-external_btns li a {
   display: block;
   height: 38px;
   padding: 10px 0 0 55px;
   font-family: RussiaMedium;
   text-transform: uppercase;
   font-size: 13px;
   line-height: 15px
}

.b-share-wrap {
   position: absolute;
   top: 150px;
   right: -72px;
   background: rgba(255, 255, 255, .6);
   width: 44px;
   padding: 19px 9px;
   z-index: 666
}

.b-share-wrap .b-share {
   margin-left: 6px
}

.b-share-wrap .b-share-btn__wrap {
   margin-left: 0 !important
}

.b-share-wrap .b-share__link {
   display: block !important;
   margin-top: 20px
}

.b-share-wrap .b-share_theme_counter .b-share-btn__wrap:first-child .b-share__link {
   margin-top: 0
}

.b-share-wrap .b-share-counter {
   position: absolute;
   top: 11px;
   left: -10px;
   background: #fff;
   border-radius: 5px;
   color: #828282;
   font-family: Tahoma;
   font-size: 14px;
   padding-top: 0;
   height: 23px;
   width: 44px;
   text-align: center;
   margin: 0;
   line-height: 22px
}

.b-share-wrap .b-share-counter::after {
   display: block;
   content: "";
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 5px solid #fff;
   height: 0;
   position: absolute;
   right: 17px;
   width: 0;
   top: 23px
}

div.search {
   position: relative
}

.au-list {
   display: none;
   position: absolute;
   top: 50px;
   left: -83px;
   background: #fff;
   width: 150%;
   z-index: 1000;
   box-shadow: 0 0 1px rgba(0, 0, 0, .2);
   min-height: 50px;
   padding: 0;
   border-radius: 4px
}

.au-list::before {
   content: "";
   height: 5px;
   width: 7px;
   position: absolute;
   top: -5px;
   right: 15px;
   background: no-repeat none
}

#adv_right,
#adv_top,
aside div.b-mini_video,
div.b-paginator_dotted {
   position: relative
}

body.theme_light,
body.theme_light .bg-main {
   background-color: #eeeff1
}

body.theme_light .icon-brand-about {
   display: inline-block;
   width: 25px;
   height: 24px;
   background-image: url(../img/icons_sprite-3.png);
   background-repeat: no-repeat;
   background-position: -26px -576px
}

body.theme_light h1,
body.theme_light h1 a {
   color: #566a8b
}

h4.theme a.icon {
   background-color: #fff !important
}

body.theme_light h4.theme span.title {
   color: #555;
   position: relative;
   display: inline-block;
   max-width: 420px !important;
   text-shadow: 1px 1px 0 rgba(255, 255, 255, .4)
}

body.theme_light h4.theme p.line {
   background-color: #999;
   border-bottom-color: #fff
}

body.theme_light #main {
   background-color: #fff
}

div.b-paginator_dotted ul.h {
   height: 10px;
   text-align: center;
   margin-left: 0
}

div.b-paginator_dotted ul.h li:first-child {
   margin-left: 0
}

div.b-paginator_dotted ul.h li {
   display: inline-block;
   vertical-align: top;
   margin-left: 5px
}

div.b-paginator_dotted a {
   display: block;
   width: 10px;
   height: 10px;
   border-radius: 10px;
   background-clip: padding-box;
   box-shadow: 0 1px 1px #616161 inset
}

body.theme_light div.b-paginator_dotted a {
   background-color: #d1d2d4
}

body.theme_light div.b-paginator_dotted a.active {
   background: linear-gradient(#ff4341, #a81c1a)
}

#adv_right {
   margin: 20px 0;
   min-height: 200px
}

#adv_right p.alt {
   top: 14px;
   left: -45px
}

#adv_top {
   margin: 0 auto
}

aside div.b-mini_video {
   width: 240px;
   height: 210px;
   margin: 20px 0 28px
}

aside div.b-mini_video p.alt {
   top: 18px;
   left: -50px
}

aside div.b-mini_video iframe {
   width: 100%;
   height: 100%;
   border: 0
}

div.b-news-slider h2::after {
   display: none;
   background: #ccc;
   content: ".";
   height: 1px;
   overflow: hidden;
   text-indent: -2em;
   width: 830px;
   vertical-align: middle;
   margin-left: 10px
}

div.b-menu-top-slider ul.stack li a.active::after,
div.b-menu-top-slider ul.stack li a:hover::after {
   display: none;
   width: 9px;
   height: 6px;
   background: no-repeat none;
   top: 21px;
   left: 50%;
   position: absolute;
   margin-left: -4px;
   content: ""
}

body.theme a.right-side::before {
   display: none !important
}

body.theme a.right-side::after,
body.theme_dark a.btn-more::before,
body.theme_light a.btn-more::before,
body.theme_light a.right-side::after {
   width: 17px;
   height: 17px;
   display: block;
   content: "";
   background-image: none;
   background-repeat: no-repeat
}

body.theme a.right-side::after {
   margin-top: 0;
   float: right;
   margin-left: 5px
}

body.theme_light a.btn-more::before {
   margin-top: -2px;
   background-position: 0 -40px;
   float: left;
   margin-right: 5px
}

body.theme_light a.btn-more:hover::before {
   background-position: 0 -320px
}

body.theme_light a.right-side::after {
   background-position: 0 -40px;
   float: right;
   margin-left: 5px
}

body.theme_light a.right-side:hover::after {
   background-position: 0 -320px
}

body.theme_dark a.btn-more::before {
   margin-top: -2px;
   background-position: 0 -180px;
   float: left;
   margin-right: 5px
}

body.theme_dark a.right-side::after,
body.theme_light span.btn-views::after {
   float: right;
   width: 17px;
   height: 17px;
   display: block;
   content: "";
   background-image: none;
   background-repeat: no-repeat;
   margin-left: 5px
}

body.theme_dark a.btn-more:hover::before {
   background-position: 0 -460px
}

body.theme_dark a.right-side::after {
   background-position: 0 -180px
}

body.theme_dark a.right-side:hover::after {
   background-position: 0 -460px
}

body.theme_light span.btn-views::after,
body.theme_light span.btn-views:hover::after,
body.theme_light span.btn-views_left:hover::before {
   background-position: 0 -100px
}

body.theme_light span.btn-views_left::before {
   width: 17px;
   height: 17px;
   display: block;
   content: "";
   margin-top: -2px;
   background-image: none;
   background-repeat: no-repeat;
   background-position: 0 -100px;
   float: left;
   margin-right: 5px
}

body.theme_dark span.btn-views:hover::after,
body.theme_dark span.btn-views_left::before,
body.theme_dark span.btn-views_left:hover::before {
   background-position: 0 -240px
}

body.theme_dark span.btn-views::after {
   width: 17px;
   height: 17px;
   display: block;
   content: "";
   background-image: none;
   background-repeat: no-repeat;
   background-position: 0 -240px;
   float: right;
   margin-left: 5px
}

body.theme_dark a.btn-photo::before,
body.theme_dark a.btn-plus::before,
body.theme_dark span.btn-views_left::before,
body.theme_light a.btn-minus::before,
body.theme_light a.btn-photo::before,
body.theme_light a.btn-plus::before {
   width: 17px;
   height: 17px;
   margin-top: -2px;
   background-repeat: no-repeat;
   float: left;
   margin-right: 5px;
   background-image: none;
   display: block;
   content: ""
}

body.theme_light a.btn-photo::before {
   background-position: 0 -80px
}

body.theme_light a.btn-photo:hover::before {
   background-position: 0 -360px
}

body.theme_dark a.btn-photo::before {
   background-position: 0 -220px
}

body.theme_dark a.btn-photo:hover::before {
   background-position: 0 -500px
}

body.theme_light a.btn-plus::before {
   background-position: 0 0
}

body.theme_light a.btn-plus:hover::before {
   background-position: 0 -280px
}

body.theme_dark a.btn-plus::before {
   background-position: 0 -140px
}

body.theme_dark a.btn-plus:hover::before {
   background-position: 0 -420px
}

body.theme_light a.btn-minus::before {
   background-position: 0 -18px
}

#channel_hover,
#panel {
   display: none;
   position: absolute
}

body.theme_light a.btn-minus:hover::before {
   background-position: 0 -298px
}

#video-adv,
#video-adv iframe {
   width: 240px;
   height: 180px;
   background: #000
}

#panel {
   width: 978px;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #b4b4b4;
   background-image: none;
   background-repeat: repeat;
   background-position: 0 0;
   border: 1px solid #cdcdcd;
   top: 90px;
   left: 50%;
   z-index: 7001;
   margin-left: -510px;
   padding: 20px;
   color: #333;
   text-shadow: 0 1px 0 #dedede
}

div.page-brand-article-item {
   background-color: #fff
}

div.page-brand-article-item div.inner_content {
   font-size: 14px;
   line-height: 19px;
   padding: 0 40px 10px
}

div.page-brand-article-item div.inner_content div,
div.page-brand-article-item div.inner_content p {
   margin-bottom: 20px
}

div.page-brand-article-item div.inner_content a {
   text-decoration: underline;
   font-weight: 400
}

div.page-brand-article-item div.inner_content h2.theme {
   margin-bottom: 20px;
   color: #555 !important
}

div.clear {
   clear: both;
   height: 1px
}

#life_air_btn_new {
   position: relative;
   display: block;
   width: 110px;
   height: 40px;
   float: right;
   margin-right: 0;
   background: url(../img/onair-ico.png) left top no-repeat;
   font-family: Arial !important;
   font-size: 11px !important;
   font-weight: 400 !important;
   color: #bdbdbd;
   text-shadow: 0 1px 0 #000;
   padding-top: 11px;
   padding-left: 47px;
   margin-top: -6px
}

#channel_hover {
   text-shadow: none !important;
   width: 190px;
   padding: 20px;
   top: 43px;
   left: 2px;
   background: 0;
   z-index: 200;
   box-shadow: 1px 1px 20px #ccc
}

#channel_hover::after {
   width: 8px;
   height: 8px;
   content: "";
   display: block;
   position: absolute;
   background: 0 -68px no-repeat none;
   top: -8px;
   left: 10px
}

#channel_hover h3 {
   font: 14px Arial, sans-serif !important;
   padding-top: 10px
}

#channel_hover h4 {
   font: 11px Arial, sans-serif;
   color: #666
}

#channel_hover .anons {
   font: 12px Arial, sans-serif;
   color: #000;
   padding: 0 0 10px
}

#channel_hover .time {
   font-size: 12px;
   padding-left: 30px;
   background: 0 -35px no-repeat none;
   padding-bottom: 2px;
   display: block
}

.tvp-main .b-news-slider h2::after {
   content: "";
   background: #ccc;
   display: block;
   float: right;
   margin-top: 12px;
   max-width: 1000px
}

div.page-brand-article-item div.inner_content {
   padding-top: 30px
}

.b-share-popup,
x:nth-child(1) {
   border: 0;
   padding: 1px !important
}

.b-share-popup_down .b-share-popup__tail,
x:nth-child(1) {
   top: -9px;
   background-image: none
}

.b-share-popup_up .b-share-popup__tail,
x:nth-child(1) {
   bottom: -9px;
   background-image: none
}

.b-share-form-button::-moz-focus-inner {
   border: 0
}

.b-share {
   font: 86%/1.4545em Arial, sans-serif;
   display: inline-block;
   padding: 1px 3px 1px 4px !important;
   vertical-align: middle
}

.b-share__handle {
   float: left;
   height: 16px;
   padding: 5px 3px 5px 2px !important;
   cursor: pointer;
   text-align: left;
   text-decoration: none !important
}

.b-share-icon {
   float: left;
   display: inline;
   overflow: hidden;
   width: 16px;
   height: 16px;
   padding: 0 !important;
   vertical-align: top;
   border: 0;
   background: 0 99px no-repeat none
}

.b-share-icon_custom,
.b-share-icon_vkontakte {
   background-position: 0 0
}

.b-share-icon_twitter {
   background-position: 0 -51px
}

.b-share-icon_facebook {
   background-position: 0 -68px
}

.b-share-icon_odnoklassniki {
   background-position: 0 -170px
}

.b-share-icon_gplus {
   background-position: 0 -426px
}

.b-share_theme_counter .b-share {
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap
}

.b-share-counter {
   font: 14px/18px Arial, sans-serif;
   display: none;
   float: left;
   margin: 3px 6px 3px 3px;
   color: #fff
}

.b-share_theme_counter .b-share-btn__wrap {
   position: relative;
   float: left;
   margin-left: 5px
}

.b-share_theme_counter .b-share-btn__wrap:first-child {
   margin-left: 0
}

.b-share_theme_counter .b-share__link {
   display: inline-block;
   cursor: pointer;
   border-radius: 3px
}

.b-share_theme_counter .b-share-icon {
   display: block;
   float: left;
   width: 24px;
   height: 24px;
   background-image: none;
   background-position: -20px 0
}

.b-share_theme_counter .b-share-icon_facebook {
   background-position: 0 0
}

.b-share_theme_counter .b-share-btn__facebook {
   background-color: #3c5a98
}

.b-share_theme_counter .b-share-btn__facebook:hover {
   background-color: #30487a
}

.b-share_theme_counter .b-share-btn__facebook:active {
   border-top: 2px solid #24365a;
   background-color: #334d81
}

.b-share_theme_counter .b-share-icon_vkontakte {
   background-position: 0 -58px
}

.b-share_theme_counter .b-share-btn__vkontakte {
   background-color: #48729e
}

.b-share_theme_counter .b-share-btn__vkontakte:hover {
   background-color: #3a5b7e
}

.b-share_theme_counter .b-share-btn__vkontakte:active {
   border-top: 2px solid #2b445e;
   background-color: #3d6186
}

.b-share_theme_counter .b-share-icon_twitter {
   background-position: 0 -87px
}

.b-share_theme_counter .b-share-btn__twitter {
   background-color: #00aced
}

.b-share_theme_counter .b-share-btn__twitter:hover {
   background-color: #008abe
}

.b-share_theme_counter .b-share-btn__twitter:active {
   border-top: 2px solid #00668d;
   background-color: #0092ca
}

.b-share_theme_counter .b-share-icon_odnoklassniki {
   background-position: 0 -116px
}

.b-share_theme_counter .b-share-btn__odnoklassniki {
   background-color: #ff9f4d
}

.b-share_theme_counter .b-share-btn__odnoklassniki:hover {
   background-color: #cc7f3e
}

.b-share_theme_counter .b-share-btn__odnoklassniki:active {
   border-top: 2px solid #975e2e;
   background-color: #d98742
}

.b-share_theme_counter .b-share-icon_gplus {
   background-position: 0 -145px
}

.b-share_theme_counter .b-share-btn__gplus {
   background-color: #c25234
}

.b-share_theme_counter .b-share-btn__gplus:hover {
   background-color: #9b422a
}

.b-share_theme_counter .b-share-btn__gplus:active {
   border-top: 2px solid #73311f;
   background-color: #a5462c
}

.b-share_theme_counter .b-share__link:active {
   height: 22px
}

.b-share_theme_counter .b-share__link:active .b-share-counter,
.b-share_theme_counter .b-share__link:active .b-share-icon {
   position: relative;
   top: -1px
}

.b-share_theme_counter .b-share__link::after {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   content: ""
}

.b-share_theme_counter .b-share__handle {
   height: auto;
   padding: 0 !important
}

#localConnectionDispather {
   visibility: hidden
}

body {
   background-position: 50% 0
}

#adv_top {
   margin-top: 15px
}

.item {
   height: 1%;
   margin-bottom: 15px;
   overflow: hidden
}

.photo {
   float: left
}

#container .photo img {
   border-radius: 15px;
   display: block;
   width: 50px
}

#container .comment img {
   max-width: 97%
}

.area {
   margin-left: 55px
}

.name {
   background: #fafafa;
   border: 1px solid #b4b4b4;
   padding: 0 11px
}
.name a {
   color: inherit;
   text-decoration: none!important;
}
.name span {
   color: #b90000;
   display: block;
   line-height: 20px
}

.item .time {
   background: 0 50% no-repeat none;
   color: #aaa;
   float: right;
   font-size: 12px;
   font-weight: 400;
   line-height: 20px;
   padding: 0 0 0 20px
}

.bio-txt h2,
.bio-txt h3 {
   font-weight: 700;
   text-transform: uppercase
}

.name span em {
   color: #9e9494;
   font-size: 12px
}

.page_navigation .next_link,
.page_navigation .page_link,
.page_navigation .previous_link {
   color: #088626;
   text-decoration: none
}

.comment {
   background: 0;
   border-color: #b4b4b4;
   border-style: solid;
   border-width: 0 1px 1px;
   padding: 5px 0 6px 11px
}

.comment p {
   font-size: 12px;
   margin: 0;
   padding: 5px
}

.comment img {
   display: block;
   margin-top: 15px
}

input.comment-name-email {
   border: 1px solid #f1f1f1;
   border-radius: 5px;
   font-family: Helvetica;
   font-size: 13px;
   height: 23px;
   padding: 7px 10px;
   width: 55%
}

.comment-form {
   background: #e5e5e5;
   border-radius: 8px;
   padding: 15px
}

textarea#comment {
   width: 95%
}

textarea.comment-textarea {
   border: 1px solid #f1f1f1;
   border-radius: 5px;
   font-family: Helvetica;
   font-size: 13px;
   height: 110px;
   padding: 7px 10px;
   width: 95%
}

textarea.comment-textarea:focus {
   outline: 0 !important
}

.page_navigation {
   margin: 10px 0 15px;
   text-align: center
}

.page_navigation .page_link {
   border-radius: 3px;
   margin: 3px 5px;
   padding: 2px 5px
}

.page_navigation .page_link.active_page {
   background-color: #999;
   color: #0a78c2
}

.page_navigation .page_link:hover {
   background-color: #efefef
}

.bio-txt {
   margin-top: 20px;
   text-align: justify
}

.bio-txt h2 {
   color: #454343;
   font-size: 17px;
   margin-bottom: 10px;
   margin-top: 10px
}

.bio-txt h3 {
   color: #454343;
   font-size: 100%
}

.comment-container h1,
.comment-container h2,
.comment-container h3,
.comment-container h4,
.comment-container h5,
.comment-container h6,
.theme,
h3 {
   text-transform: none
}

.bio-txt a {
   text-decoration: underline
}

#paging_container .item,
#paging_container .name {
   margin-bottom: 0
}

div.hr {
   background-color: #ccc;
   height: 2px
}

.comment-container h4 {
   color: #454343;
   font-weight: 400;
   margin: 5px 0 2px;
   padding: 0;
   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
   font-size: 16px
}

.prod {
   display: block;
   margin: 10px auto;
   width: 200px
}

.mod-1 {
   color: #000
}

.mod-2 {
   padding-left: 10px
}

.mod-3 {
   display: block
}

.mod-4 {
   width: 240px;
   text-align: left !important;
   margin: auto
}

.mod-5 {
   display: block;
   width: 100%;
   height: 50px
}

.mod-6 {
   padding: 0;
   margin: 0;
   display: table
}

.mod-7 {
   list-style: outside none none;
   margin: 8px 5px 8px 11px;
   float: left;
   display: table-row;
   width: 225px
}

.mod-8 {
   color: #2e2e2e;
   clear: both;
   text-decoration: none
}

.mod-9 {
   width: 92px;
   height: 69px;
   float: left;
   margin: 0 8px 0 0;
   border: 2px solid #c7c7c7
}

.mod-10 {
   float: left;
   margin: 0;
   font: 11px Tahoma, Arial, sans-serif;
   display: table-cell;
   vertical-align: middle;
   text-transform: none;
   color: #2e2e2e
}

.mod-11 {
   list-style: outside none none;
   margin: 8px 5px 8px 11px;
   float: left;
   display: table-row;
   width: 225px
}

.mod-12 {
   color: #2e2e2e;
   clear: both;
   text-decoration: none
}

.mod-13 {
   width: 92px;
   height: 69px;
   float: left;
   margin: 0 8px 0 0;
   border: 2px solid #c7c7c7
}

.mod-14 {
   float: left;
   margin: 0;
   font: 11px Tahoma, Arial, sans-serif;
   display: table-cell;
   vertical-align: middle;
   text-transform: none;
   color: #2e2e2e
}

.mod-15 {
   list-style: outside none none;
   margin: 8px 5px 8px 11px;
   float: left;
   display: table-row;
   width: 225px
}

.mod-16 {
   color: #2e2e2e;
   clear: both;
   text-decoration: none
}

.mod-17 {
   width: 92px;
   height: 69px;
   float: left;
   margin: 0 8px 0 0;
   border: 2px solid #c7c7c7
}

.mod-18 {
   float: left;
   margin: 0;
   font: 11px Tahoma, Arial, sans-serif;
   display: table-cell;
   vertical-align: middle;
   text-transform: none;
   color: #2e2e2e
}

.mod-19 {
   list-style: outside none none;
   margin: 8px 5px 8px 11px;
   float: left;
   display: table-row;
   width: 225px
}

.mod-20 {
   color: #2e2e2e;
   clear: both;
   text-decoration: none
}

.mod-21 {
   width: 92px;
   height: 69px;
   float: left;
   margin: 0 8px 0 0;
   border: 2px solid #c7c7c7
}

.mod-22 {
   float: left;
   margin: 0;
   font: 11px Tahoma, Arial, sans-serif;
   display: table-cell;
   vertical-align: middle;
   text-transform: none;
   color: #2e2e2e
}

.mod-23 {
   clear: both;
   width: 95%
}

.mod-24 {
   clear: both
}

.mod-25 {
   display: none
}

.mod-26 {
   color: #c90
}

.mod-27 {
   display: block;
   width: 100px;
   z-index: 999 !important
}

#container img {
   width: auto;
   height: auto;
   max-width: 100%
}

@media screen and (max-width:1019px) {
   #container {
      width: 712px;
      max-width: 712px
   }

   #main div.content {
      float: none
   }

   #main aside,
   header ul.vgtrk_bar {
      display: none
   }

   header ul.vgtrk_soc_links {
      left: 0
   }

   footer div.items_menu ul {
      width: 110px
   }
}

@media screen and (max-width:711px) {

   #li-16,
   #main aside,
   #ul-5,
   header ul.vgtrk_bar {
      display: none
   }

   #container {
      width: 640px;
      max-width: 640px
   }

   #main div.content,
   h4.line p.line_wide {
      width: 620px;
      max-width: 620px
   }

   #main div.content {
      float: none
   }

   header ul.vgtrk_soc_links {
      left: 0
   }

   footer div.items_menu ul {
      width: 125px
   }

   #main {
      padding: 10px
   }

   div.page-brand-article-item div.inner_content {
      padding: 0 5px
   }
}

@media screen and (max-width:639px) {

   #li-15,
   #li-16,
   #main aside,
   #ul-4,
   #ul-5,
   header ul.vgtrk_bar {
      display: none
   }

   #container {
      width: 480px;
      max-width: 480px
   }

   #main div.content,
   h4.line p.line_wide {
      width: 460px;
      max-width: 460px
   }

   #main div.content {
      float: none
   }

   header ul.vgtrk_soc_links {
      left: 0
   }

   footer div.items_menu ul {
      width: 115px
   }

   #main {
      padding: 10px
   }

   div.page-brand-article-item div.inner_content {
      padding: 0 5px
   }

   #container p {
      text-align: justify
   }
}

@media screen and (max-width:479px) {

   #li-1,
   #li-11,
   #li-15,
   #li-16,
   #li-2,
   #li-3,
   #li-4,
   #li-5,
   #li-6,
   #main aside,
   #ul-3,
   #ul-4,
   #ul-5,
   header ul.vgtrk_bar {
      display: none
   }

   #container .photo img {
      width: 50px
   }

   .area {
      margin-left: 55px
   }

   #container {
      width: 320px;
      max-width: 320px
   }

   #main div.content,
   h4.line p.line_wide {
      width: 300px;
      max-width: 300px
   }

   #main div.content {
      float: none
   }

   header ul.vgtrk_soc_links {
      left: 0
   }

   footer div.items_menu ul {
      width: 115px
   }

   #main {
      padding: 10px
   }

   div.page-brand-article-item div.inner_content {
      padding: 0 5px
   }

   #container p {
      text-align: justify
   }

   footer div.bottom_menu ul li.border a {
      padding-right: 20px
   }

   #promo div.search {
      width: 110px;
      margin-left: 0
   }

   #promo div.search input {
      width: 55px
   }

   #promo nav {
      padding: 0 3px
   }

   h4 {
      font-size: 16px
   }

   h4 span {
      margin-bottom: -10px
   }

   h2 {
      font-size: 19px
   }

   #paging_container .name {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse
   }

   #paging_container .item .time {
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end
   }
}

p {
   text-align: justify !important
}

#fancy_purpul .fancy_purpul-top,
.imgtext {
   text-align: center
}

.imgcenter {
   display: block;
   margin: 0 auto;
   padding: 3px;
   background-color: #fff;
   border: 1px solid #ccc
}

.imgtext {
   display: block;
   width: 85%;
   border-left: 2px solid #999;
   border-right: 2px solid #999;
   padding: 2px 10px;
   margin: 5px auto;
   background-color: #f6f6f6
}

#fancy_purpul .fancy_purpul-top h3 {
   text-transform: none;
   text-align: center;
   color: #333
}

@media screen and (max-width:480px) {

   #adv_top,
   #comments,
   .bottom_menu,
   .page_navigation,
   footer,
   header,
   nav {
      display: none
   }

   #promo a.logo {
      position: initial;
      margin: 0 auto
   }

   #promo.thin div.wrap {
      padding-top: 30px
   }
}

@media screen and (max-width:319px) {

   #main div.content,
   .comment-container,
   .item {
      width: 230px
   }

   #container .inner_content {
      padding: 0
   }

   #container {
      width: 240px
   }

   #main {
      padding: 0 5px
   }
}

@media screen and (max-width:1019px) {

   #promo a.logo,
   #promo nav {
      position: static
   }
}

@media screen and (max-width:767px) {
   #promo nav .search {
      display: none
   }

   #container p {
      text-align: left !important
   }
}

@media screen and (max-width:640px) {
   #promo nav ul.menu li a {
      font-size: 11px
   }
}

.imglink {
   display: inline-block;
   max-width: inherit;
   min-width: inherit;
   width: auto;
   vertical-align: middle;
   margin-top: -2px
}

#container .comment .imglink {
   display: inline-block;
   max-width: inherit;
   min-width: inherit;
   width: auto;
   vertical-align: middle;
   margin-top: -2px
}

.imglink2 {
   display: inline-block;
   max-width: inherit;
   min-width: inherit;
   width: auto;
   vertical-align: middle;
   margin-top: 0
}