@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
    .check-list li
        font-size: 24px
    .logo.small
        font-size: 54px
    .benefits-title
        font-size: 28px
    .component-item
        width: 250px
        text-align: center
        position: absolute
        & p
            line-height: 1.1
            font-size: 16px
    .component-item-title
        color: #628446
        font-size: 21px
        font-weight: 700
        text-transform: uppercase
        padding-bottom: 15px
        line-height: 1.1
    .item-1
        left: 9px
        top: 95px
    .item-2
        left: 345px
        top: 75px
    .item-3
        right: 8px
        top: 75px
    .component-image
        position: absolute
        display: block
        left: 230px
        width: 100%
        max-width: 455px
        top: 340px
    .item-4
        left: 14px
        top: 555px
    .item-5
        left: 348px
        top: 532px
    .item-6
        top: 532px
        right: 8px
    .right-arrow-shevron

        right: -40px


// ≥992px
+media-breakpoint-down(md)
    .logo
        font-weight: 700
        color: #fff
        font-size: 76px
    .logo-subtitle
        margin-top: 45px
        font-size: 32px
    .margin-top-80
        margin-top: 50px
    .contact-form
        margin: 0 auto
    .banner-image
        margin: 15px auto
    .confirm-image
        margin: 30px auto 0
    .benefits-title
        font-size: 26px
        position: static
        margin-top: 15px
    .benefits-row
        background: rgba(255,255,255,.6)
    .first-column
        margin-left: 10px
        margin-right: 10px
    .second-column
        margin-right: 10px
        margin-left: 10px
    .benefits-column-title
        padding: 10px 0 40px 0
    .component-item
        position: static
        padding: 15px
        background: #ffffff
        margin: 15px auto
        border-radius: 15px

    .components-area
        background: transparent
        height: 100%
        display: flex
        flex-wrap: wrap

    .component-image
        position: static
        margin: 15px auto
    .doctor-area
        background: #fff
        width: 100%
        max-width: 1000px
        margin: 0 auto
        height: 100%
        padding: 25px
    .doctor-image
        position: static
        margin: 5px auto 15px
        display: block
        width: 100%
        max-width: 210px
    .right-arrow-shevron
        position: static
        margin: 0 auto
        transform: rotate(90deg)

// ≥768px
+media-breakpoint-down(sm)
    .logo
        font-weight: 700
        color: #fff
        display: block
        max-width: 480px
        text-align: center
        padding: 15px
        margin: 0 auto
        font-size: 70px
    .logo-subtitle
        margin-top: 45px
        font-size: 30px
        text-align: center
    .margin-top-80
        margin-top: 40px
    .banner-image
        display: block
        width: 30%
    .banner-list li
        font-size: 23px
    .invasion-title
        font-size: 21px
    .invasion-content-area
        margin-top: 40px
    .invasion-content-title
        font-size: 26px
    .invasion-content-list li
        font-size: 20px
        line-height: 1.2
        margin-bottom: 20px
    .invasion-content-p
        font-size: 20px
    .invasion-section
        background: url(../img/2.jpg) no-repeat right top / cover
    .warning-area
        padding: 20px 50px 20px 20px

        align-items: center
        min-width: 23px
        font-size: 20px
    .danger-icon
        display: block
        right: 15px
    .check-title span
        font-size: 32px
    .check-title
        font-size: 24px
    .check-image
        margin: 10px auto
    .check-list li
        font-size: 21px
    .grass-title
        font-weight: 700
        font-size: 26px
    .grass-p
        font-size: 19px
        color: #fff
        padding-top: 15px
    .grass-section
        background: url(../img/3.jpg) no-repeat left top / cover

    .contact-form.horizontal-form
        width: 304px
        height: 523px
    .contact-form.horizontal-form .contact-form-title
        font-size: 16px
    .benfits-list li
        font-size: 18px
    .benefits-row
        display: flex
        flex-direction: column

    .benefits-column
        max-width: 415px
    .benefits-column-title
        padding: 25px 0 20px 0
        font-size: 26px
    .benefits-column-description
        padding: 10px
        border: 3px solid #000
        border-radius: 25px
    .benfits-icon-description p
        font-size: 21px
    .components-title
        font-size: 32px
    .proof-title
        font-size: 32px
    .doctor-title
        font-size: 34px
    .feedback-title
        font-size: 34px
    .mobile-hide
        display: none
    .desktop-hide
        display: flex
// ≥576px
+media-breakpoint-down(xs)
    .logo
        font-weight: 700
        color: #fff
        font-size: 50px
        display: block
        text-align: center
        padding: 8px 30px
    .logo-subtitle
        margin-top: 45px
        font-size: 24px
        text-align: center
    .check-title span
        font-size: 26px
    .check-title
        font-size: 19px
    .check-section
        padding: 40px 0
    .benfits-icon-description p
        font-size: 18px
    .component-item
        width: 100%
        max-width: 380px
    .proof-section
        padding: 60px 0
        background: url("../img/9.jpg")no-repeat left top / cover
    .proof-subtitle
        text-align: center
        font-size: 21px
    .feedback-card
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 15px
    .feedback-description
        padding-top: 20px


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
