@media (max-width: 1024px) {

    #sFreemium-post-page_0_0_1_0_0_2_0,
    .panorama-site-logo {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }    

    #sFreemium-post-page_0_0_1_0_0_2_0 {
        padding: 0 10px;
    }

    #sFreemium-post-page_0_0_1_0_0_2_0_0_1_0_0 {
        display: none;
    }

    .article__splash-custom {
        margin-top: 30px;
    }

    .panorama-site-logo img {
        display: block;
        margin: 10px auto;
    }

    #sFreemium-post-page_0_0_1_0_0_2_0_0_1_0_1 .body {
        padding: 0;
    }

}

@media (max-width: 540px) {

    #sFreemium-post-page_0_0_1_0_0_2_0_0_1_0_1 .headline {
        font-size: 27px;
    }

}