html {
  line-height: 1.15;

  -webkit-text-size-adjust: 100%;

}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  color: #fff;
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

code {
  font-family: monospace, monospace;

  font-size: 1em;

}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;

  font-size: 100%;

  line-height: 1.15;

  margin: 0;

}

button,
input {

  overflow: visible;
}

button,
select {

  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;

  color: inherit;

  display: table;

  max-width: 100%;

  padding: 0;

  white-space: normal;

}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;

  padding: 0;

}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;

  font: inherit;

}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.w-clearfix:before,
.w-clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-clearfix:after {
  clear: both;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

input.w-button {
  -webkit-appearance: button;
  appearance: button;
}

h1,
h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

button,
html input[type='button'],
input[type='reset'] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: button;
  appearance: button;
}

.w-form {
  margin: 0 0 15px;
}

.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}

.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.w-input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.w-input:-moz-placeholder {
  color: #999;
}

.w-input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.w-input:-ms-input-placeholder {
  color: #999;
}

.w-input::-webkit-input-placeholder {
  color: #999;
}

.w-input:focus {
  border-color: #3898EC;
  outline: 0;
}

.w-input[disabled],
.w-input[readonly],
fieldset[disabled] .w-input {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.w-input {
  height: auto;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.w-container:before,
.w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-container:after {
  clear: both;
}

.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}

.w-row:before,
.w-row:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-row:after {
  clear: both;
}

.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}

.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.w-col .w-col {
  padding-left: 0;
  padding-right: 0;
}

.w-col-2 {
  width: 16.66666667%;
}

.w-col-5 {
  width: 41.66666667%;
}

@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {

  .w-row,
  .w-container .w-row {
    margin-left: 0;
    margin-right: 0;
  }

  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}

@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }

  .w-col {
    width: 100%;
  }
}

@media (min-width: 768px) {}

.image {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.form {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #698ec5;
  text-align: center;
}

.columns {
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 5px;
}

.columns._1234 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px none #000;
}

.text-block-5 {
  margin-left: 15px;
  font-size: 20px;
  text-align: left;
}

.text-block-5._1234 {
  margin-top: 15px;
  margin-left: 0px;
  border-top: 1px none #000;
  text-align: center;
}

.text-block-6 {
  margin-right: 15px;
  font-size: 20px;
  text-align: right;
  text-decoration: line-through;
}

.text-block-6._1 {
  margin-top: 15px;
  margin-right: 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #333;
  text-align: center;
  text-decoration: none;
}

.text-block-6._1 {
  margin-top: 15px;
  margin-right: 0px;
  color: #333;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}

.text-block-7 {
  margin-bottom: 10px;
  font-size: 19px;
  text-transform: capitalize;
}

._1 {
  color: #91f76c;
  font-size: 35px;
  text-decoration: none;
  text-shadow: 3px 3px 4px #000;
}

.bold-text-3 {
  color: red;
  font-size: 35px;
  text-decoration: line-through;
  text-shadow: 3px 3px 4px #000;
}

.text-span-6 {
  text-decoration: none;
}

.heading-3 {
  margin-bottom: 0px;
  margin-top: 0;
  /* padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px; */
  float: none;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #fff;
  font-family: Varela, sans-serif;
  color: #fff;
  text-align: center;
  padding-bottom: 15px;
}

.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.body {
  display: block;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

._1-2 {
  color: #3bdf00;
  font-size: 35px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
}

.div-block-19 {
  margin-top: 24px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: transparent;
}

.image-21 {
  width: 75px;
  max-width: 75px;
  min-width: 75px;
  margin-right: 10px;
  float: left;
  border-radius: 20px;
}

.date {
  color: #0080a7;
  text-align: center;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #003780;
}

.heading-23 {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 15px 15px;
  background-color: #002f6f;
  color: #fff;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

.container-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 10px;
  background-color: transparent;
}

.paragraph-10 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.container-18 {
  margin-top: 0px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 10px;
}

.container-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding: 0px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.15);
}

.container-20 {
  text-align: center;
}

.section-5 {
  background-color: #2a85c2;
  color: #333;
}

.link-2 {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.section-6 {
  padding: 15px 15px;
  background-color: #319be2;
}

.heading-26 {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 34px;
  margin-top: 0;
}

.heading-27 {
  margin-bottom: 20px;
  color: #fff;
  margin-top: 0;
}

.heading-27.headinglist1 {
  text-align: center;
}

.section-7 {
  padding: 15px 15px;
  background-color: #004094;
}

.section-10 {
  padding: 15px 15px;
  background-color: #1a5eb8;
}

.section-10.sectionbelow {
  background-color: #266cc9;
}

.section-10.sectionbelow.sectionbelow2 {
  background-color: #2e8cdd;
}

.div-block-38 {
  height: 64px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  border-style: none none solid;
  border-width: 1px;
  border-color: #fff;
  background-color: #002352;
}

.link-3 {
  padding: 20px 0;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.link-3:hover {
  opacity: 0.7;
}

.link-3+.link-3 {
  margin-left: 75px;
}

.heading-28 {
  text-align: center;
  margin-top: 0;
}

.image-34 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.paragraph-11 {
  color: #000;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.section-9 {
  background-color: #319be2;
}

.italic-text-9 {
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  font-style: normal;
  text-shadow: 1px 1px 1px #000;
}

.bold-text-79 {
  font-family: 'Varela Round', sans-serif;
  text-transform: capitalize;
}

.form-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px none #000;
  border-radius: 6px;
  background-color: transparent;
  color: #fff;
  line-height: 21px;
  text-align: center;
}

.submit-button-5 {
  display: block;
  width: 300px;
  height: 50px;
  margin: 20px 0px;
  padding: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 12px;
  background-color: hsla(0, 0%, 100%, 0.18);
  font-family: 'Varela Round', sans-serif;
  font-size: 22px;
  line-height: 22px;
  transition: all 0.3s;
}

.submit-button-5:hover {
  background-color: #144883;

}

.text-field-10 {
  width: 100%;
  height: 50px;
  margin-right: 0px;
  margin-left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 14px;
  background-color: hsla(0, 0%, 100%, 0.18);
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.text-block-179 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
}

.image-35 {
  width: auto;
  margin-top: 0px;
}

.form-block-5 {
  margin-top: 24px;
  border: 1px none #000;
  border-radius: 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.field-label-8 {
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.field-label-9 {
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.div-block-39 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 45px;
  margin-top: 20px;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 10px;
}

.paragraph-12 {
  margin-bottom: 0px;
  color: #fff;
}

.bold-text-80 {
  color: #fff;
}

.container-21 {
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 10px;
}

.italic-text-11 {
  color: #fff;
  font-weight: 400;
}

.paragraph-13 {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.05);
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.div-block-40 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none;
  border-width: 1px 1px 1.5px;
  border-color: #000;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.36);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.div-block-40 a {
  color: #000;
  font-weight: 700;
}

.paragraph-14 {
  margin-bottom: 5px;
  margin-left: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-size: 16px;
  text-align: left;
}

.bold-text-77 {
  padding-left: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
}

.section-11 {
  padding: 15px 15px;
  background-color: #58aee7;
}

.bold-text-81 {
  color: #fff;
  font-weight: 400;
}

.italic-text-12 {
  color: #fff;
  font-weight: 400;
}

.container-22 {
  margin-top: 20px;
}

.paragraph-15 {
  margin-bottom: 30px;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .columns._1234 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .link-3 {
    margin-right: 35px;
  }

  .form-4 {
    width: 100%;
  }

  .image-35 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 479px) {
  .form {
    width: 95%;
    padding-top: 10px;
  }

  .columns._1234 {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading-3 {
    padding-left: 0px;
  }

  .image-21 {
    width: 50px;
    max-width: 50px;
    min-width: 50px;
  }

  .container-17 {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .section-6 {
    padding-right: 10px;
    padding-left: 10px;
  }

  /* .div-block-38 {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  } */

  .link-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
    margin-left: 10px !important;
    font-size: 14px;
  }

  .heading-28 {
    font-size: 28px;
    line-height: 40px;
  }

  .image-34 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .form-4 {
    width: 95%;
    padding-top: 10px;
  }

  .submit-button-5 {
    width: 90%;
  }

  .text-field-10 {
    width: 90%;
  }

  .image-35 {
    width: 30%;
    margin-top: 25px;
  }

  .bold-text-78 {
    font-size: 28px;
  }
}

.submit-button-5 {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.text-block-7 {
  display: flex; flex-wrap: wrap;
}
.text-block-7 span {
  display: inline-block;
  margin-left: 5px;
}
.live {
  display: block;
  max-width: 300px;
  width: 100%;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .text-block-179 {
    padding: 0;
  }
  .text-block-5._1234 {
    margin-top: 0;
  }
  .image-3 {
    max-width: 300px !important;
  }
}
@media screen and (max-width: 479px) {
  .text-block-7 {
    flex-direction: column;
  }
  .text-block-7 span {
    margin-top: 10px;
    margin-left: 0;
  }
  .heading-23 {
    font-size: 27px;
  }
}
h1, h2, h3, h4, h5, h6, .form-block-5 {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}