html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

* {
    box-sizing: border-box;
}

body {
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #222;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

/* ol,
ul {
    list-style: none
} */

blockquote,
q {
    quotes: none
}

p {
    margin: 15px 0;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

h1 {

    font-size: 40px;

    color: #fff
}

h2 {

    font-size: 38px;


}

h3 {

    font-size: 28px;


}



h1,
h2,
h3,
h4 {
    margin: 15px 0;
    font-weight: 700;
}

a:link,
a:visited {
    text-decoration: none
}

.red-txt {
    color: #e03e45 !important
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    position: relative;
    padding: 0 15px;
}

.center-text {
    text-align: center
}

.margin-auto {
    margin: 0 auto
}

.gray {
    color: #929394
}

.blackedbold {
    font-weight: 600;
    color: #000
}

.article-txt {
    margin: 15px auto
}

.middle-topic {
    margin: 20px auto
}

.link-1 {
    color: #fe434a;
    text-decoration: underline !important;
    font-weight: 600
}

.link-1:hover {
    text-decoration: none !important
}

.clear {
    clear: both
}

header {
    position: relative;
    display: block
}

.header-top-1 {
    height: auto;
    padding: 15px 0;
    background: #fc434b;
    display: table;
    width: 100%
}

.header-top-1 .container {
    background: #fc434b
}


.left-col-header-top-1 span {
    font-size: 24px
}

.right-col-header-top-1 {
    display: flex;
    align-items: center;
}

.right-col-header-top-1 input {
    margin-top: 10px;
    border-radius: 15px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #e03e45;
    box-shadow: none;
    float: left;
    position: relative;
    outline-style: none
}

.input-wrapper {
    position: relative;
    margin-right: 25px;
    flex-shrink: 0;
}

.header-top-1 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-1 h1 {
    margin: 0 25px 0 0;
}


.header-top-1 span {
    color: #d0d0d0;
    font-weight: 500
}

.left-col-header-top-1 {
    display: flex;
    align-items: center;
}

.more {
    position: relative;
    float: right;
    border: 1px solid #fff;
    /* margin-top: 11px; */
    cursor: pointer
}

.more span {
    font-size: 15px;
    color: #fff;
    margin-top: 0;
    padding: 5px 10px;
}



.more:hover:after {
    color: #e03e45
}

.header-top-2 {
    height: auto;
    padding: 0;
    background: #e03e45;
    display: inline-block;
    width: 100%
}

.header-top-2 .container {
    background: #e03e45;
    margin-top: 0
}

.header-top-2 .menu {
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    background: #e03e45
}

.header-top-2 .menu ul li {
    float: left;
    list-style-type: none;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    letter-spacing: .8px
}

.header-top-2 .menu ul li:hover {
    text-decoration: underline;
    background: #fc434b
}

.left-col {
    float: left;
    width: 75%;
    margin: 0;
    padding: 20px 10px
}

.sec-1 .gray {
    cursor: pointer
}

.sec-1 h2 {
    margin: 20px auto
}

.top-image {
    max-width: 650px;
    width: 100%;
    display: block;
    margin: auto
}


.border-big {
    border-bottom: 15px solid #f3f1f3;
    margin-bottom: 15px
}

.sec-2 .gray {
    cursor: pointer;
    border-bottom: 2px solid #f3f1f3
}

.list-style-1 {
    padding-left: 30px
}

.list-style-1 li {
    color: #000;
    list-style-image: url("../img/check-img.png");
    margin-bottom: 15px
}

.opinion-frame {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #000;
    height: auto;
    position: relative;
    background: #ff353b08
}

@media screen and (min-width: 1024px) {
    .opinion-frame {
        align-items: center;
    }
}

.left-col-opinion {
    width: 50%;
    padding: 10px
}

.frame-img {
    display: table;
    position: relative;
    height: auto;
    width: 100%;
    background: #eceef0;
    margin-top: -5px
}

.left-col-opinion p {
    font-family: 'Verdana', sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 5px
}

.left-col-opinion img {
    width: 100%
}

.right-col-opinion {
    width: 45%
}

.right-col-opinion p {
    font-family: 'Verdana', sans-serif;
    font-size: 15px
}

.end-off-offers {
    padding-top: 15px;
    text-align: center
}

.link-2 {
    margin: 10px auto 30px auto
}

.link-2 a {
    font-size: 34px
}

.link-2 a:hover {
    text-decoration: underline
}

.bluehiglighted {
    color: #0006ff;
    text-decoration: underline;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.3em
}

.left-col-sec-3 {
    float: left;
    width: 46%;
    text-align: center;
    display: grid
}

.left-col-sec-3 p {
    padding-top: 5px
}

.right-col-sec-3 {
    float: right;
    width: 46%;
    text-align: center;
    display: grid
}

.img-txt img,
.img-txt p {
    float: left
}

.img-txt p {
    padding-top: 5px
}

.img-txt img {
    max-width: 40px;
    width: 100%;
    padding-right: 10px
}

.img-txt img:hover {
    transform: scale(1.05);
    cursor: pointer
}

.frame-green {
    background: #1b8833;
    border-radius: 5px;
    padding: 5px;
    float: left;
    margin: 5px;
    height: 40px;
    cursor: pointer
}

.frame-green img,
.frame-green p {
    float: left
}

.frame-green img,
.frame-red img,
.frame-arrow img {
    max-width: 30px;
    width: 100%;
    padding: 5px 10px
}

.frame-green p,
.frame-red p {
    color: #fff
}

.frame-red {
    background: #e02020;
    border-radius: 5px;
    padding: 5px;
    float: left;
    margin: 5px;
    height: 40px;
    cursor: pointer
}

.frame-red img,
.frame-red p {
    float: left
}

.frame-arrow {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    float: left;
    margin: 5px;
    border: 1px solid #b2cce0;
    height: 40px;
    cursor: pointer
}

.frame-arrow:hover,
.frame-red:hover,
.frame-green:hover {
    transform: scale(1.05)
}

.right-col-sec-3 .frame-arrow {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 5px
}

.right-col-sec-3 .frame-arrow:hover {
    transform: scale(1.0)
}

.frame-arrow p {
    float: left;
    width: 45%;
    font-size: 16px;
    text-align: left;
    padding: 8px 0;
    padding-left: 15px;
    font-weight: 600;
    color: #004db1
}

.frame-arrow .like-frame {
    float: left;
    width: 40%;
    font-size: 13px !important;
    margin-left: 15px
}

.frame-arrow .like-frame:hover {
    transform: scale(1.03)
}

.like-frame {
    height: 30px;
    background: #1877f2;
    border-radius: 5px;
    margin: 5px auto;
    display: inline-block
}

.like-frame img,
.like-frame p {
    float: left;
    color: #fff
}

.like-frame img {
    max-width: 20px;
    width: 50%;
    padding: 5px;
    padding-left: 15px
}

.like-frame p {
    width: 50%;
    padding: 5px 0;
    font-size: 13px !important;
    font-weight: 400
}

.add-comment-container {
    width: 100%
}

.add-comment-img {
    width: 8%;
    height: 50px;
    float: left
}

.add-comment-img img {
    height: 50px;
    border-radius: 30px;
    width: auto
}

#add-button {
    clear: both;
    float: right;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background: #9bd4f5;
    border: 1px solid #9bd4f5
}

#add-comment,
/* #name, */
#surname {
    height: 25px;
    width: 100%;
    border-radius: 25px;
    padding-left: 5px;
    float: left
}

#add-comment {
    height: 100px
}

#add-comment::placeholder {
    font-size: 14px
}

/* #name {
    width: 35%;
    margin-right: 15px;
    margin-bottom: 5px
} */

#surname {
    width: 35%
}

.inpunts-container {
    width: 90%;
    float: right
}

#add-warn {
    background: crimson;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 25px
}

#add-success {
    background: #50c878;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 25px
}

.comments {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif
}

.profileimage {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 7%
}

.profileimage img {
    width: 50px;
    height: 50px
}

.commentsinfo {
    font-size: 20px !important;
    width: 25%;
    text-align: center !important;
    margin: 7px 0
}

.commentname,
.commentsinfo {
    text-decoration: none;
    color: #3b5998 !important;
    font-weight: 700
}

.commenttext {
    font-weight: 400;
    margin: 10px 0;
    line-height: 20px
}

.commentactions {
    color: #3b5998 !important;
    font-weight: 700
}

.commentunderline {
    width: 100%;
    display: inline-block;
    color: #ccc;
    background: #ccc
}

.commentstextcontainer {
    float: left;
    width: 92%
}

.dotpos {
    color: gray;
    font-weight: 400;
    font-size: 11px
}

.commenttime {
    color: grey
}

.read-more {
    margin-bottom: 35px;
    margin-top: 35px;
    font-weight: 100
}

.commentsinfo {
    font-size: 18px !important;
    width: 25%;
    text-align: center !important;
    margin: 7px 0
}

.add-comment-img {
    width: 8%;
    height: 50px;
    float: left
}

.profile {
    display: flex
}

.right-col {
    float: right;
    width: 20%;
    margin: 0;
    padding: 20px 10px 20px 0
}

.right-picture {
    max-width: 290px;
    width: 100%;
    padding: 15px 0
}

.frame-1 {
    display: inline-block;
    max-width: 290px;
    width: 100%;
    margin-top: 15px
}

.left-col-f {
    float: left;
    width: 45%
}

.right-col-f {
    float: right;
    width: 50%
}

.right-txt {
    text-align: left
}

.right-txt p {
    font-size: 12px;
    cursor: pointer
}

.right-txt p:hover {
    text-decoration: underline
}

.left-img img {
    max-width: 150px;
    width: 100%;
    /* cursor: pointer */
}

.btn-more {
    margin: 7px auto;
    border: 1px solid #fe434a;
    padding: 3px;
    cursor: pointer
}

.btn-more span {
    color: #e03e45;
    font-weight: 600
}

.border-bot {
    border-bottom: 2px solid #e6e6e6;
    max-width: 275px;
    width: 100%;
    margin: 0 auto
}

.product {
    position: relative;
}

.product h3 {
    color: #fff;
    position: absolute;
    text-align: center;
    top: 10px;
    line-height: 25px;
    font-size: 25px;
    left: 0;
    right: 0;
}

.product p {
    font-size: 12px;
    font-weight: 700;
    display: block;
    position: absolute;
    top: 85px;
    width: 160px;
    text-align: center;
    right: 0;
    left: 0;
    margin: auto;
}

.product span {
    bottom: 25px;
    position: absolute;
    left: 0;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: underline;
    right: 0;
    text-align: center;
}

.product img {
    max-width: 240px;
    width: 100%;
    margin-top: 15px
}

#fixed-menu {
    display: inline-block;
    background-color: #e03e45;
    width: 100%;
    height: 50px;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden
}

#fixed-menu h3 {
    float: right;
    padding-top: 0;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 50px;
    color: #fff;
    margin-bottom: 0;
    font-size: 22px
}

#fixed-menu::before {
    content: "\f03a";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 52px;
    color: #fff;
    float: right;
    padding-left: 5px;
    padding-right: 5px
}

#fixed-menu:hover {
    content: "\f03a";
    font-family: FontAwesome;
    cursor: pointer;
    background-color: #e03e45
}

#fixed-menu:active {
    background-color: #e03e45
}

#fixed-menu.show-2 {
    opacity: 1;
    visibility: visible
}

#fixed-menu .show-menu a:hover {
    cursor: pointer;
    background-color: #e03e45;
    font-weight: 600
}

#fixed-menu .show-menu a {
    display: none;
    position: relative;
    width: 100%;
    height: 25px;
    background-color: #e03e45;
    padding: 10px;
    top: 0;
    margin-top: 5px;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    font-weight: 600
}

.widget {
    margin: 0 auto;
    font-family: Arial;
    background-color: #fbfbfb;
    border: 1px solid #fc434b;
    max-width: 290px;
    width: 100%;
    height: 215px;
    -moz-box-shadow: 0 0 2px 1px #e7e7e7;
    -webkit-box-shadow: 0 0 2px 1px #e7e7e7;
    box-shadow: 0 0 2px 1px #e7e7e7;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.widget-1 {
    max-width: 290px;
    width: 100%;
    height: 260px
}

.widget-2 {
    margin: 7px 10px
}

footer {
    background: #db4247;
    padding: 25px 0
}

footer .container {
    background: #db4247
}

footer span {
    color: #fff;
    background: #db4247
}

.inL_905488 {
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
}

.inL_893553 {
    color: rgb(255, 255, 255);
}

.inL_414167 {
    margin-left: 2em
}

.inL_389951 {
    list-style: none;
    display: inline
}

.inL_143556 {
    list-style: none;
    display: inline
}

.inL_517635 {
    list-style: none;
    display: inline
}

.inL_618984 {
    list-style: none;
    display: inline
}

.inL_29910 {
    list-style: none;
    display: inline
}

.inL_786740 {
    list-style: none;
    display: inline
}

.inL_628827 {
    list-style: none;
    display: inline
}

.inL_826231 {
    list-style: none;
    display: inline
}

.inL_680188 {
    list-style: none;
    display: inline
}

.inL_954792 {
    max-width: 100%
}

.inL_341689 {
    max-width: 100%
}

.inL_328116 {
    font-weight: bolder;
}

.inL_940611 {
    float: left;
}

.inL_942878 {
    font-size: 18px;
    color: #3B599E;
}

.inL_910325 {
    float: right;
    cursor: pointer;
}

.inL_773343 {
    display: none;
}

.inL_949097 {
    display: none;
}

.inL_53879 {
    display: none;
}

.inL_566728 {
    width: 90%;
}

.inL_913514 {
    transform: scale(1);
}

.inL_78819 {
    transform: scale(1);
}

@media only screen and (max-width:440px) and (min-width:251px) {
    h1 {
        font-size: 30px
    }

    h2 {
        font-size: 26px
    }

    h3 {
        font-size: 22px
    }

    p {
        font-size: 16px
    }

    .link-2 a {
        font-size: 24px
    }


    .article-txt,
    .middle-topic {
        padding: 0 5px
    }

    .header-top-1 span {
        padding-top: 0;
        padding-right: 15px;
        float: none
    }

    .header-top-1 h1 {
        padding-left: 5px;
        float: none
    }

    .sec-1 .gray,
    .sec-2 .gray {
        padding-left: 5px
    }

    .more {
        float: none
    }

    .more span {
        float: none;
        padding-top: 0;
        padding-right: 35px;
        line-height: 30px
    }

    .container {
        max-width: 440px;
        margin: 0 auto
    }


    .header-top-2 {
        display: none
    }

    .left-col,
    .right-col {
        float: none;
        width: 100%;
        padding: 0
    }

    .right-col {
        margin-top: 50px;
        border-top: 3px solid #999;
        padding-top: 10px
    }


    .product {
        text-align: center
    }

    .product img {
        padding-left: 0
    }

    .commentsinfo {
        width: 45%;
        font-size: 13px !important
    }

    .commentunderline,
    .border-big {
        width: 99%
    }

    .widget {
        max-width: 251px;
        width: 100%
    }

    .widget-1 {
        max-width: 251px;
        width: 100%
    }

    .widget-2 {
        margin: 7px auto
    }

    .left-col-sec-3,
    .right-col-sec-3 {
        float: none;
        width: 100%
    }

    .frame-green,
    .frame-red,
    .frame-arrow {
        height: 30px
    }

    .frame-arrow {
        height: 28px
    }

    .like-frame img {
        padding: 7px;
        padding-left: 10px;
        max-width: 15px !important;
        width: 40%
    }

    .like-frame p {
        font-size: 10px !important;
        width: 55%;
        padding: 8px 0 !important
    }

    .frame-arrow p {
        font-size: 13px;
        padding: 5px 0;
        padding-left: 8px;
        float: right
    }

    .frame-arrow .like-frame {
        margin: auto;
        margin-left: 5px
    }

    .right-col-sec-3 .frame-arrow {
        width: 83%;
        margin-left: 6%;
        margin-top: 12px
    }

    .frame-green img,
    .frame-red img,
    .frame-arrow img {
        max-width: 20px
    }

    .frame-green p,
    .frame-red p {
        font-size: 14px
    }

    .img-txt {
        margin: 5px auto
    }

    .img-txt p {
        padding-top: 8px
    }

    .profileimage {
        width: 20%
    }

    .commentstextcontainer {
        float: right;
        width: 75%
    }



    .opinion-frame {
        width: 90%;
        margin-left: 5%
    }
}

@media only screen and (max-width:550px) and (min-width:441px) {
    h1 {
        font-size: 32px
    }

    h2 {
        font-size: 28px
    }


    .article-txt,
    .middle-topic {
        padding-left: 5px
    }

    .border-big,
    .commentunderline {
        width: 99%
    }

    .container {
        max-width: 550px;
        margin: 0 auto
    }


    .header-top-2 {
        display: none
    }

    .left-col,
    .right-col {
        float: none;
        width: 100%;
        padding: 0
    }

    .right-col {
        border-top: 3px solid #999;
        margin-top: 20px;
        padding-top: 10px
    }


    .header-top-1 h1 {
        padding-left: 5px
    }


    .header-top-1 span {
        padding-top: 0
    }

    .more span {
        padding-top: 5px !important
    }

    .sec-1 .gray,
    .sec-2 .gray {
        padding-left: 5px;
        padding-top: 5px
    }

    .link-2 a {
        font-size: 28px
    }

    .left-col-sec-3,
    .right-col-sec-3 {
        float: none;
        width: 100%
    }

    .profileimage {
        width: 12%
    }

    .commentstextcontainer {
        width: 86%;
        float: right
    }

    .product {
        text-align: center
    }


    .opinion-frame {
        width: 90%;
        margin-left: 5%
    }
}

@media only screen and (max-width:767px) and (min-width:551px) {
    .header-top-1 h1 {
        padding-left: 5px
    }

    .header-top-1 span {
        padding-top: 0
    }

    .more span {
        margin-top: 5px
    }

    .left-col,
    .right-col {
        float: none;
        width: 100%
    }

    .left-col {
        padding-left: 0;
        padding-right: 0
    }

    .article-txt,
    .middle-topic {
        padding-left: 5px
    }

    .border-big,
    .commentunderline {
        width: 99%
    }

    .profileimage {
        width: 10%
    }

    .commentstextcontainer {
        width: 90%
    }

    .product {
        text-align: center
    }

    .left-col-sec-3,
    .right-col-sec-3 {
        float: none;
        width: 100%
    }

    .frame-arrow .like-frame {
        width: 30%
    }

    .sec-1 .gray,
    .sec-2 .gray {
        padding-left: 5px
    }


    .opinion-frame {
        width: 90%;
        margin-left: 5%
    }
}

@media only screen and (max-width:960px) and (min-width:768px) {
    h2 {
        font-size: 34px
    }

    .product img {
        padding-left: 0
    }

    .right-txt p {
        font-size: 13px
    }

    .widget {
        width: 95%
    }



    .frame-green img,
    .frame-red img,
    .frame-arrow img {
        max-width: 20px
    }

    .frame-green,
    .frame-red,
    .frame-arrow {
        height: 30px
    }

    .frame-green p,
    .frame-red p {
        font-size: 15px
    }

    .right-col-sec-3 p,
    .left-col-sec-3 p {
        font-size: 17px
    }

    .img-txt img {
        max-width: 35px
    }

    .right-col-sec-3 .frame-arrow {
        width: 100%;
        margin-left: 0
    }

    .like-frame p {
        padding: 8px 0 !important;
        font-size: 10px !important
    }

    .frame-arrow .like-frame {
        font-size: 10px !important;
        margin-left: 10px
    }

    .frame-arrow .like-frame p {
        font-size: 10px !important
    }

    .like-frame {
        height: 30px;
        margin: 0 auto
    }

    .frame-arrow p {
        font-size: 15px !important;
        padding: 4px 0;
        padding-left: 5px
    }

    .profileimage {
        width: 10%
    }

}

@media only screen and (max-width:1199px) and (min-width:961px) {
    h2 {
        font-size: 36px
    }

    .product img {
        padding-left: 0
    }

    .widget {
        max-width: 240px
    }

    .frame-green img,
    .frame-red img,
    .frame-arrow img {
        max-width: 20px
    }

    .frame-green,
    .frame-red,
    .frame-arrow {
        height: 30px
    }

    .frame-green p,
    .frame-red p {
        font-size: 15px
    }

    .right-col-sec-3 p,
    .left-col-sec-3 p {
        font-size: 17px
    }

    .img-txt img {
        max-width: 35px
    }

    .right-col-sec-3 .frame-arrow {
        width: 100%;
        margin-left: 0
    }

    .like-frame p {
        padding: 8px 0 !important;
        font-size: 10px !important
    }

    .frame-arrow .like-frame {
        font-size: 10px !important;
        margin-left: 10px
    }

    .frame-arrow .like-frame p {
        font-size: 10px !important
    }

    .like-frame {
        height: 30px;
        margin: 0 auto
    }

    .frame-arrow p {
        font-size: 15px !important;
        padding: 4px 0;
        padding-left: 5px
    }
}

.tcenter {
    text-align: center;
}

.row {
    display: flex;
}



.menu a {
    color: #fff;
    text-decoration: none;
}

.order {
    text-align: center;
    padding: 40px 25px;
    background-image: url(../img/formbg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 0.9em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.order__title {
    margin-top: 0;
}

.order__subtitle {
    color: blue;
    margin-bottom: 5px;
}


.order__border {
    border: 2px solid #0299ff;
    padding: 10px;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.order__form-btn {
    width: 100%;
}

.order__price {
    margin-bottom: 15px;
}

.order__product {
    max-width: 270px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.order__form {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.order__form-input {
    margin-bottom: 12px;
}

.order__label {
    margin-bottom: 5px;
    display: inline-block;
}

.btn {
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 12px;
    background: #2d1b61;
    background: linear-gradient(180deg, #1b1e61 0%, #3c4193 100%);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: inherit;
    border-radius: 5px;
}

.btn:hover {
    color: #fff;
    background: linear-gradient(180deg, #0299ff 0%, #2d1b61 100%);
}

.input {
    background: #fff;
    font-family: inherit;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    resize: none;
}

.price {
    display: flex;
    justify-content: center;
}

.price__item {
    padding: 0 10px;
}

.price__item-title {
    font-weight: 700
}

.price__item-value--old {
    text-decoration: line-through;
    font-size: 22px;
    color: gray;
}

.price__item-value--new {
    color: red;
    font-weight: 700;
    font-size: 26px;
    text-shadow: 0 0 1px darkred;
}

.product-img {
    max-width: 300px;
    width: 100%;
}

.fake-input {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 12px;
    font-size: 16px;
    color: gray;
    text-decoration: none !important;
    max-width: 200px;
    width: 100%;
    display: inline-block;
}

.btn-more {
    font-size: 16px;
}

.product a {
    color: #fff;
}

.right-txt a {
    color: #222;
}

@media screen and (max-width: 1219px) {
    .menu li:nth-child(4) {
        display: none;
    }

    .left-col-header-top-1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-col {
        display: none;
    }

    .left-col {
        float: none;
        width: 100%;
        padding: 15px 0;
    }
}

/* @media screen and (max-width: 1023px) {

} */

@media screen and (max-width: 991px) {
    .menu li:nth-child(5) {
        display: none;
    }

    .menu li:nth-child(6) {
        display: none;
    }

    .header-top-1 .container {
        flex-direction: column;
    }

    .left-col-header-top-1 {
        align-items: center;
    }

    .header-top-1 h1 {
        margin: 0 0 5px 0;
    }

    .left-col-header-top-1 {
        /* margin-bottom: 15px; */
        text-align: center;
    }

    .right-col-header-top-1 {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .menu li:nth-child(3) {
        display: none;
    }

    .menu li:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 639px) {}

.product p {
    color: #000;
}

.right-txt p {
    margin-top: 0;
}

.red-txt p {
    color: #222;
    margin-top: 5px;
}

.list-style-1 {
    list-style: none;
}

.footnote {
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
}

.btn--bottom {
    margin-top: 25px;
}

.live {
    display: block;
    max-width: 300px;
    width: 100%;
    margin-top: 10px;
}

.ava {
    margin-right: 10px;
}

b {
    font-weight: 700;
}

.commentactions a {
    margin-right: 10px;
}

.commentactions img {
    vertical-align: middle;
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 30px;
    }

    .left-col-opinion,
    .right-col-opinion {
        width: 100%;
    }

    .opinion-frame {
        max-width: 600px;
    }

    h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 479px) {
    .live {
        max-width: 250px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    body {
        font-size: 16px;
    }

    .sec-1 h2:nth-of-type(1) {
        margin-top: 0;
    }
}