.certificate-block {
    font-family: Arial, Helvetica, sans-serif; /* убрать если, нужен шришт из крео*/
}

.order-info {
    text-align: center;
}

.order-info__title {
    font-size: 24px;
    color: red;
}

.order-info__date {
    text-decoration: underline;
}

.order-info__count {
    display: block;
    background: red;
    padding: 10px;
    margin: 12px auto;
    width: 178px;
    color: #fff;
    text-shadow: 0 -1px 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-size: 32px;
    border-radius: 5px;
}

.order-info__count-val {
    font-size: 52px;
    line-height: 1;
}

.order-info__subtitle {
    font-size: 24px;
    margin: 22px auto;
}

.order-info__subtitle-price {
    font-weight: 700;
    color: red;
}

#order-form {
    padding: 20px 20px 40px;
    max-width: 600px;
    margin: 20px auto;
    background-image: url('../img/formbg.jpg');
    background-repeat: no-repeat;
    line-height: 16px;
    text-align: center;
    background-size: 100% 100%;
}

.article__text .order-form__header-pic,
.order-form__header-pic {
    max-width: 100px;
}

.order-form__header-title {
    margin: 0;
    padding: 0;
    line-height: 32px;
    font-size: 32px;
}

@media all and (max-width: 767px) {
    .order-form__header-title {
        font-size: 27px;
    }
}

.order-form__header-number {
    color: blue;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

.order-form__header-subtitle {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.order-form__header-subtitle--price {
    font-weight: 700;
    color: red;
}

.order-form__header-annotation {
    display: block;
    margin: 5px 10px;
    border: 2px solid #0299ff;
    padding: 10px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 700;
}

.order-form__pole {
    display: inline-block;
    margin: 10px auto 0;
    padding: 0 10px;
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;
}

.order-form__pole label {
    display: block;
    width: 100%;
    max-width: 230px;
    margin: 0 auto 8px;
    padding: 5px 0;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
}

.order-form__pole input {
    box-sizing: border-box;
    font-size: 21px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e9d7dc;
    width: 100%;
}

.order-form__btn-wrap {
    padding: 25px 5px;
}

.order-form__btn {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
    border-radius: 5px;
    background-color: #0299ff;
    background-position: 1.35em .94em;
    background-size: 1em;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}

.order-form__btn:hover {
    background-color: #017ACC;
}

.order-form__additional {
    font-size: 12px;
}