.elementor-kit-15706 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-766cd9f4: #4054B2;
    --e-global-color-14d05000: #23A455;
    --e-global-color-128f2495: #000;
    --e-global-color-7924a7ee: #FFF;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 890px
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px
}

    {}

h1.entry-title {
    display: var(--page-title-display)
}

.elementor-kit-15706 e-page-transition {
    background-color: #ffbc7d
}

@media(max-width:1024px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px
    }
}

@media(max-width:767px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px
    }
}