body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #2f2e2e;
    background: url("../img/bg.jpg") repeat center center fixed;
    background-size: cover;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1,
.container a {
    color: #A41600;
}

#content a:hover {
    color: #0004a4;
}

h1 {
    margin: 0 0 10px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.2;
}

h2 {
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
}

p {
    margin: 10px 0;
    line-height: 20px;
	font-size: 17px;
}

.container {
    max-width: 680px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#header {
    padding-top: 10px;
    margin-bottom: 15px;
    background-color: #000;
}

.header__logobar {
    width: 160px;
    float: left;
    top: 0;
    left: 0;
}

.header__logobar img {
    width: 100%;
}

.upper-header .header__logobar {
    width: 161px;
}

.upper-header__menubar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 170px;
}

.upper-header__menubar ul {
    line-height: 85px;
    text-align: right;
}

.upper-header__menubar ul li {
    display: none;
    margin-right: 10px;
    vertical-align: baseline;
    text-transform: uppercase;
}

.upper-header__menubar ul li:last-child {
    margin-right: 0;
}

.upper-header__menubar ul li a {
    color: #fff;
}

.upper-header__menubar ul li a:hover {
    color: #f00;
}

.upper-header__menubar .upper-header__burgerbar {
    display: inline-block;
    vertical-align: middle;
}

.burger {
    width: 35px;
    margin: 25px 10px 30px;
}

.burger span {
    display: block;
    margin: 5px 0;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #fff;
}

#content {
    background-color: #f0f0f0;
    margin: 0 -10px;
}

#mainbar {
    position: relative;
    border: 5px #e1e1e1 solid;
    padding: 10px;
    background-color: #fff;
}

#sidebar {
    display: none;
}

.post-info {
    display: none;
    font-size: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px dotted #666;
    color: #717070;
}

#content .post-info a {
    color: #717070;
}

.post-info .author {
    color: #acacac;
}

.post-info ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.post-info ul li:after {
    content: '';
    height: 11px;
    right: -13px;
    top: 2px;
    position: absolute;
    border-right: 1px dotted #666;
}

.post-info ul li:last-child {
    margin-right: 0;
}

.post-info ul li:last-child:after {
    height: 0;
}

.post-info__comments {
    padding-left: 20px;
}

.post-info__comments:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 17px;
    width: 17px;
    background: url("../img/icons.png");
    background-position: 0 -165px;
}

p a {
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

#sidebar h1 {
    margin: 20px 0;
    font-weight: normal;
    font-size: 24px;
    color: #000;
    font-style: italic;
}

#sidebar .teaser {
    margin-bottom: 10px;
    text-align: left;
}

#sidebar .teaser img {
    display: block;
    margin: 0 auto 5px;
}

#sidebar .teaser a {
    color: #333;
}

footer {
    margin-top: 25px;
    padding: 20px;
    border-top: 5px solid #c5c5c5;
    background: #000;
    text-align: center;
    color: #fff;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 28px;
}

footer h2 a {
    color: #fff;
}

footer .copyright {
    padding: 10px;
    color: #676767;
}



/*************RESPONSIVE*****************/




/**HEADING**/

@media (min-width: 992px) {

    .container {
        max-width: 1000px;
    }

    .upper-header__menubar .upper-header__burgerbar {
        display: none;
    }
    .upper-header__menubar ul {
        text-align: center;
    }
    .upper-header__menubar ul li {
        display: inline-block;
    }

     .post-info {
        font-size: 14px;
    }
    #mainbar {
        width: 70%;
        float: left;
    }

    #sidebar {
        display: block;
        float: left;
        width: 30%;
        padding: 0 20px 20px;
        text-align: center;
    }
    .sidebar_content {
        border: 1px solid transparent;
    }
}



/**GRID**/

@media (min-width: 760px) {

    #content {
        margin: 0;
    }
}




/**POST-INFO**/

@media (min-width: 479px) {
    .post-info {
        display: block;
    }
}

@media (min-width: 510px) {
    .post-info {
        font-size: 12px;
    }
}

@media (min-width: 631px) {
    .post-info {
        font-size: 14px;
    }
}


@media (max-width: 760px) {
    .mobile1 {
        display:none;
    }
}

@media (min-width: 760px) {
    .post-info {
        font-size: 12px;
    }
}
.vk-container {
	font-family: tahoma, arial, verdana, sans-serif;
	font-size: 16px;
	color: #000;
	text-decoration: none
}
.vk-header {
	background: #dae2e8 none repeat scroll 0% 0%;
	padding: 4px 4px 4px 6px;
	margin-bottom: 10px
}
.vk-logo {
	background: transparent none no-repeat scroll 0% 0%;
	width: 16px;
	height: 16px;
	float: right;
	margin-top: -1px
}
.vk-header-text {
	padding: 2px 3px 1px;
	line-height: 100%;
	color: #45688e;
	font-weight: 700
}
.vk-comment {
	margin-bottom: 15px;
	position: relative;
	border-bottom: 1px solid #dae1e8;
	padding-bottom: 15px
}
.vk-avatar img {
	float: left;
	margin-right: 10px
}
.vk-comment-name {
	color: #2b587a;
	font-weight: 700;
	font-size: 13px
}
.vk-comment-text {
	margin-left: 60px
}
.vk-comment-date {
	margin-left: 60px;
	color: #999
}

.oui {
    width: 781px;
    height: 460px;
    background: rgba(60, 114, 181, 1);
    background: -moz-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(60, 114, 181, 1)), color-stop(100%, rgba(123, 159, 204, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
    background: linear-gradient(135deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c72b5', endColorstr='#7b9fcc', GradientType=1);
    font-family: Roboto !important;
    position: relative;
    border: 5px solid #ddd
  }
  
  .eeee {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: fixed;
    cursor: pointer
  }
  
  .kmacb-form2 .modal-block {
    left: 50%;
    margin-left: -396px;
    position: fixed;
    top: 6%;
    z-index: 11000;
    width: 792px;
    height: 470px;
    border-radius: 5px;
    border: 0;
    box-shadow: none;
    font-family: Arial, sans-serif;
    overflow: hidden;
    color: #222
  }
  
  .ouimain-text-img {
    display: block;
    width: 90%;
    padding: 0 5%;
    margin-top: 27px
  }
  
  .ouimain-img {
    float: left;
    display: block;
    width: 30%;
    margin: 0 auto
  }
  
  .ouimain-img img {
    display: block;
    width: 100%;
    margin: 0 auto
  }
  
  .ouimain-text {
    display: block;
    width: 65%;
    float: right;
    margin-left: 5%;
    margin-top: 15px
  }
  
  .ouimain-text p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-align: left;
    color: #fff;
    font-size: 22px;
    padding-bottom: 5px
  }
  
  .ouimain-text-img:after {
    content: '';
    display: block;
    clear: both
  }
  
  .kmacb-form input[type=button] {
    position: absolute;
    cursor: pointer;
    border: 1px solid rgba(73, 155, 234, 1);
    background: rgba(222, 69, 92, 1);
    background: -moz-linear-gradient(-45deg, rgba(222, 69, 92, 1) 0%, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(222, 69, 92, 1)), color-stop(13%, rgba(222, 69, 92, 1)), color-stop(76%, rgba(192, 31, 55, 1)), color-stop(100%, rgba(192, 31, 55, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(222, 69, 92, 1) 0%, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(222, 69, 92, 1) 0%, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(222, 69, 92, 1) 0%, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
    background: linear-gradient(135deg, rgba(222, 69, 92, 1) 0%, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de455c', endColorstr='#c01f37', GradientType=1);
    color: #fff;
    padding: 0 10px;
    text-transform: uppercase;
    line-height: 60px;
    vertical-align: top;
    display: block;
    text-indent: 0;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    width: 402px;
    height: 64px;
    opacity: 1;
    bottom: 29px;
    margin-left: 195px;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    border-radius: 10px;
    transition: .6s ease
}

.pic img {
    width: 100%;
    max-width: 350px;
}