
html,
body,
div,
span,
h1,
h3,
p,
a,
img,
ul,
li,
form,
header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
}

header {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

.content {
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;*/
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 570px) {
  body {
    position: relative;
  }
}

.content:after {
  content: " ";
  visibility: hidden;
  display: block;
  display: none;
  height: 0;
  clear: both;
}

.page-wrap {
  padding: 0 64px;
  max-width: 1280px;
  min-width: 272px;
  padding: 0;
  margin: 0 auto;
  position: relative;
  cursor: auto;
  max-width: 1280px;
}

@media screen and (max-width: 1680px) {
  .page-wrap {
    margin: 0 auto;
    min-width: 860px;
  }
}

@media screen and (max-width: 1024px) {
  .page-wrap {
    width: 100%;
    min-width: 280px;
  }
}

@media screen and (max-width: 570px) {
  .page-wrap {
    padding: 0;
    overflow: hidden;
  }
}

.main-content {
  background: #fff;
  z-index: 11;
  position: relative;
}

.main-content:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.content {
  /*min-height: 700px;*/
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .content {
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    border: none;
  }
}

.content__inner_wide {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 0px;
}

@media screen and (max-width: 1024px) {
  .content__inner_wide {
    width: 100%;
  }
}

.content__inner_wide > .article {
  /*border-right: 1px solid #ccc;*/
}

.content {
  clear: both;
}

.header {
  width: 100%;
  z-index: 12;
  position: relative;
  z-index: 3;
}

.header__inner {
  height: 54px;
  background: #0095da;
  position: relative;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Georgia, serif;
}

@media screen and (max-width: 1280px) {
  .header__inner {
    height: 42px;
  }
}

.header__logo {
  height: 100%;
  position: relative;
  margin-left: 54px;
  padding: 20px 25px 20px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #2483c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1280px) {
  .header__logo {
    margin-left: 42px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.header__logo .logo {
  display: inline-block;
  height: 15px;
  font: normal 22px/15px "Georgia", sans-serif;
  font-family: PF Regal, PF Regal Text Pro, Georgia, serif;
  text-transform: uppercase;
  color: #fff;
}

.header__logo .spec {
  display: inline-block;
  height: 15px;
  font: normal 22px/15px "Georgia", sans-serif;
  font-family: PF Regal, PF Regal Text Pro, Georgia, serif;
  text-transform: uppercase;
  color: #fff;
  margin-left: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

@media screen and (max-width: 570px) {
  .header__logo .spec {
    font-size: 14px;
    padding-top: 1px;
  }
}

.header__logo .spec:hover {
  text-decoration: none;
}

.nav {
  height: 54px;
  max-width: 920px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .nav {
    height: 42px;
  }
}

@media screen and (max-width: 770px) {
  .nav {
    display: none !important;
  }
  .header__logo {
    margin-left: 37px;
    padding-right: 0;
    border:  none; 
  }
}

.nav .nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav li {
  display: block;
  float: left;
  height: 54px;
  position: relative;
  border-right: 1px solid #2483c5;
}

.nav li:last-child {
  border-right: none;
}

.nav li:not(.mobile-show) {
  display: none;
}

@media screen and (max-width: 1280px) {
  .nav li {
    height: 42px;
  }
}

.nav li:hover {
  background: #2483c5;
}

.nav li span {
  display: block;
  height: 100%;
  position: relative;
  font: normal 18px/54px "Georgia", sans-serif;
  font-family: PF Regal, PF Regal Text Pro, Georgia, serif;
  color: #fff;
  padding: 0 24px;
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .nav li span {
    line-height: 42px;
  }
}

.header__menu-link {
  display: block;
  position: absolute;
  top: 50%;
  left: 17px;
  width: 20px;
  height: 2px;
  z-index: 9;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.header__menu-link::before,
.header__menu-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  right: 0;
}

.header__menu-link::before {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header__menu-link::after {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

@media screen and (max-width: 1280px) {
  .header__menu-link {
    width: 16px;
    left: 13px;
  }
}

.article {
  padding: 24px 70px;
}

@media screen and (max-width: 570px) {
  .article {
    padding: 24px 12px;
  }
}

.article:after {
  /* content: " "; */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.article__date {
  font: normal 14px/18px "ArimoRegular", sans-serif;
  color: #555;
}

.article__title {
  font: normal 32px/36px "RussiaLight", sans-serif;
  padding: 4px 0 4px;
  font-family: PF Regal, PF Regal Text Pro, Georgia, serif;
}

.article__text {
  font: normal 18px/25px "Open Sans", sans-serif;
  color: #333;
  padding-top: 14px;
  font-family: PF Regal, PF Regal Text Pro, Georgia, serif;
}

@media screen and (max-width: 1280px) {
  .article__text {
    padding-left: 0;
  }
}

.article__text p {
  padding: 0 0 30px;
  text-align: left;
}

.article__text a {
  text-decoration: underline;
  color: #0095da;
}

@media (max-width: 900px) {
  .page-wrap {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .page-wrap {
    padding: 0;
  }
}

@media (max-width: 530px) {
  .page-wrap {
    padding: 15px 0 0;
  }
}

@media (max-width: 670px) {
  .page-wrap {
    padding: 0;
  }
}

img {
  max-width: 100%;
}

.ListBlock-root li {
  position: relative;
  margin-bottom: 6px;
}

.ListBlock-ul li {
  padding: 0 0 0 23px;
}

@media only screen and (min-device-width: 48em) {
  .ListBlock-ul li {
    padding: 0 0 0 38px;
  }
}

.ListBlock-ul li:last-child {
  margin-bottom: 0;
}

.ListBlock-ul li:before {
  position: absolute;
  top: 0;
  left: 5px;
  width: 8px;
  content: "\2022";
  text-align: center;
  color: #b88b58;
  font-size: 18px;
  line-height: inherit;
}

@media only screen and (min-device-width: 48em) {
  .ListBlock-ul li:before {
    left: 0;
    width: 36px;
    text-align: center;
    font-size: 20px;
  }
}

.Figure-caption {
  width: 100%;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 22px;
  max-width: 520px;
  padding-top: 4px;
  color: #1a1a1a;
  display: block;
}

.Figure {
  display: block;
  max-width: 650px;
  width: 100%;
  margin: 20px auto;
}
a.button {
    background-color: red;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

a.button:hover {
  background-color: #c11f1f;
}

@media only screen and (max-width: 500px) {
  a.button {
    width: 100%;
    max-width: 263px;
  }
}

.coment_ava img {
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  margin-top: 5px;

  border-radius: 100%;
}
.coment_ava {
  margin-right: 10px;
}
.row-y-item {
  text-align: left;
  padding: 10px;
  margin: 10px 0px;
  min-height: 80px;
  /*border-bottom: 1px solid rgb(218, 225, 232);*/
}

.name {
  font-size: 16px;
  font-weight: bold;
  color: #05519d;
}

.date {
  font-weight: normal;
  background: none;
  display: inline;
}
.date {
  display: inline-block;
  color: #a3b0b9;
  font-size: 13px;
}

.pg {
  margin-left: 60px;
}

.cursPointer {
  cursor: pointer;
}

.ac_footer {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 1em 0 0.5em 0;
  color: #A12000;
}

.order_block {
  display: none;
}

@media (max-width: 300px) {

    a.button {
        background-color: red;
        color: #fff;
        padding: 8px;
        border-radius: 5px;
        text-decoration: none;
    }
    
}

#order_form {
    background: white;
    padding: 20px;
    max-width: 600px;
    font-family: Arial;
  text-align: center;
    margin: 0 auto;
    background-image: url(../images/formbg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 123%;
}

#order_form h2 {
    margin: 25px 0 0 0;
    padding: 0px;
    line-height: 32px;
    border: none;
}

#order_form label {
    /* width: 230px; */
    display: block;
    padding: 5px 0 5px 0;
    font-weight: bold;
    font-size: 16px;
}

#order_form label.vertical {
    border: none!important;
}

.device_info {
    font-size: 14px;
    color: green;
    display: block;
    margin: 10px 20px;
}

#order_form .order_form_pole {
    padding: 10px;
    margin: 10px auto;
    max-width: 300px;
}

#order_form input {
    font-size: 21px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e9d7dc;
    max-width: 300px;
    width: 100%;
}

#order_form span {
    font-size: 12px;
}

#order_form button,
.obutton {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
    border-radius: 5px;
    background-color: #0299ff;
    background-position: 1.35em .94em;
    background-size: 1em;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}

#order_form button:hover,
.obutton:hover {
    background-color: #017ACC;
}

#order_form button:active {
    position: relative;
    top: 1px;
}

.order_info h2 {
    border: none!important;
    color: red!important;
}

.left_count {
    background: red;
    padding: 23px;
    margin: 12px 0px;
    width: 178px;
    color: #fff;
    text-shadow: 0 -1px 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-size: 32px!important;
    border-radius: 5px;
}

.left_count .prod_left_val {
    font-size: 52px!important;
    padding-right: 5px;
}

#order_form_success {
    position: relative;
}

@media (min-width: 481px) and (max-width: 715px) {
    #order_form {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 480px) {
    #order_form input {}
    #order_form label {
        font-size: 14px;
    }
    #order_form button {
        font-size: 16px;
    }
    #order_form {
        padding: 10px;
    }
    #order_form .order_form_pole {
        padding: 0px;
        margin: 2px auto;
    }
}

@media screen and (max-width: 459px) {
    #order_form input {
        width: 80%;
    }
    #order_form {
        margin:0;
            background-size: 100% 123%;
            padding-bottom: 25px;

    }
    #comments {
        margin-top: 0;
    }
}

@media screen and (max-width: 349px) {
    #order_form input {
        font-size: 17px;
    }
    #order_form button {
        margin-left: 0px;
    }
}