html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  vertical-align: baseline;
  background: none repeat scroll 0% 0% transparent;
  text-indent: 0px;
  font-size: 100%;
  text-decoration: none;
  list-style: outside none none;
  outline: 0px none;
  border: 0px none;
  margin: 0px;
  padding: 0px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  text-align: left;
}

body {
  background-color: rgb(255, 255, 255);
  font: 15px/20px "Lucida Grande", "Lucida Sans Unicode", Lucida, arial, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  vertical-align: middle;
}

ul li {
  display: block;
}

nav ul,
nav li {
  margin: 0px;
}

h2 {
  font-size: 123.1%;
}

h1,
h2,
h3 {
  margin: 1em 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

body {
  font: 13px/15px Arial, Tahoma, sans-serif;
  color: rgb(85, 85, 85);
  background: url('../img/main_bg-russia1-new.jpg') no-repeat scroll 50% -90px transparent;
}

body a {
  color: #0000ff;
  text-decoration: none;
  font-weight: 700;
}

body a:hover {
  color: #666666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RussiaRegular";
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  color: rgb(85, 85, 85);
  text-transform: uppercase;
}

h2 {
  font-size: 22px;
  line-height: 24px;
}

h4 {
  min-height: 22px;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 25px;
  position: relative;
}

h4 span {
  margin-bottom: -5px;
}

h4 a.icon {
  display: inline-block;
  width: auto;
  cursor: default;
}

h4.line a.icon {
  padding-right: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}

#container {
  width: 1000px;
  margin: 0px auto 10px;
  position: relative;
}

#container div.wrapper {
  overflow: hidden;
}

header {
  height: 40px;
  margin-top: 17px;
  position: relative;
}

#promo {
  position: relative;
  border-radius: 4px;
  background-clip: padding-box;
}

#promo.thin {
  height: 100px;
  position: relative;
  border-radius: 4px 4px 0px 0px;
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.3);
}

#promo.thin div.wrap {
  height: 100px;
  background: url('../img/lined_bg.png') repeat scroll 0px 0px padding-box transparent;
  border-radius: 4px 4px 0px 0px;
}

#promo .logo {
  width: 184px;
  height: 42px;
  display: block;
  top: 31px;
  left: 0px;
  position: absolute;
  z-index: 10;
  background: url('../img/standart-russia1.png') no-repeat scroll 0px 0px transparent;
}

#promo nav {
  height: 40px;
  position: absolute;
  top: 31px;
  right: 0px;
  z-index: 10;
  padding: 0px 26px 0px 13px;
  background: linear-gradient(rgb(235, 235, 235), rgb(196, 196, 196)) repeat scroll 0% 0% transparent;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(124, 134, 142);
}

#promo nav ul.menu {
  float: left;
}

#promo nav ul.menu li {
  float: left;
}

#promo nav ul.menu li .a {
  display: block;
  width: auto;
  padding: 0px 8px;
  color: rgb(51, 51, 51);
  text-shadow: 0px 1px 0px rgb(238, 238, 238);
  font-size: 14px;
  line-height: 44px;
  font-family: "RussiaBold";
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

#promo nav ul.menu li .a:hover {
  color: rgb(168, 28, 26);
}

#promo nav ul.menu li .a sup {
  color: rgb(168, 28, 26);
}

#main {
  overflow: hidden;
  padding: 23px;
}

#main div.content {
  vertical-align: top;
  float: left;
  width: 666px;
}

#main aside {
  vertical-align: top;
  float: right;
  width: 240px;
  margin-left: 20px;
}

footer {
  background-color: rgb(237, 237, 237);
  overflow: hidden;
}

footer div.wrap {
  padding: 0px 23px;
}

footer div.wrapper {
  padding-bottom: 20px;
}

footer div.copy {
  padding-top: 10px;
  color: rgb(135, 137, 139);
  font-size: 11px;
  line-height: 13px;
  margin-right: 100px;
}

body.theme_light,
body.theme_light .bg-main {
  background-color: rgb(238, 239, 241);
}

body.theme_light .icon-brand-about {
  display: inline-block;
  width: 25px;
  height: 24px;
  background-image: url('../img/icons_sprite-3.png');
  background-repeat: no-repeat;
  background-position: -26px -576px;
}

h4.theme a.icon {
  background-color: rgb(255, 255, 255) ! important;
}

body.theme_light h4.theme span.title {
  color: rgb(85, 85, 85);
  position: relative;
  display: inline-block;
  max-width: 420px ! important;
}

body.theme_light #main {
  background-color: rgb(255, 255, 255);
}

body.theme_light h4.theme span.title {
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4);
}

#right {
  margin: 20px 0px;
  position: relative;
  min-height: 200px;
}

#adv_top {
  margin: 0px auto;
  position: relative;
}

div.page-brand-article-item {
  background-color: rgb(255, 255, 255);
}

div.page-brand-article-item div.inner_content {
  font-size: 14px;
  line-height: 19px;
  padding: 0px 40px 10px;
}

div.page-brand-article-item div.inner_content p,
div.page-brand-article-item div.inner_content div {
  margin-bottom: 20px;
}

div.page-brand-article-item div.inner_content a {
  text-decoration: underline;
  font-weight: 700;
}

div.page-brand-article-item div.inner_content a:hover {
  text-decoration: none;
}

div.page-brand-article-item div.inner_content h2.theme {
  margin-bottom: 20px;
  color: rgb(85, 85, 85) ! important;
}

div.page-brand-article-item div.inner_content {
  padding-top: 30px;
}

.prod-wrap {
  text-align: center;
  padding: 20px 0;
}

.prod {
  width: 160px !important;
}

.prod-fixed {
  position: relative;
  top: 0;
}

body {
  background-position: 50% 0px;
}

#adv_top {
  margin-top: 15px;
}

.item {
  height: 1%;
  margin-bottom: 15px;
  overflow: hidden;
}

.photo {
  float: left;
}

#container .photo img {
  border-radius: 15px;
  display: block;
  width: 50px;
}

#container .comment img {
  max-width: 97%;
}

.area {
  margin-left: 55px;
}

.name {
  background: none repeat scroll 0 0 rgb(250, 250, 250);
  border: 1px solid #b4b4b4;
  padding: 0 11px;
}

.name span {
  color: rgb(185, 0, 0);
  display: block;
  line-height: 20px;
}

.item .time {
  background: none no-repeat scroll 0 50% transparent;
  color: rgb(170, 170, 170);
  float: right;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  padding: 0 0 0 20px;
}

.name span em {
  color: rgb(158, 148, 148);
  font-size: 12px;
}

.comment {
  background: none repeat scroll 0 0 transparent;
  border-color: #b4b4b4;
  border-style: solid;
  border-width: 0 1px 1px;
  padding: 5px 0 6px 11px;
}

.comment p {
  font-size: 14px;
  margin: 0;
  padding: 5px;
}

.comment img {
  display: block;
  margin-top: 15px;
}

#paging_container .name,
#paging_container .item {
  margin-bottom: 0px;
}

div.hr {
  background-color: #cccccc;
  height: 2px;
}

.comment-container h4 {
  color: rgb(69, 67, 67);
  font-weight: normal;
  margin: 5px 0 2px;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

.comment-container h1,
.comment-container h2,
.comment-container h3,
.comment-container h4,
.comment-container h5,
.comment-container h6 {
  text-transform: none;
}

#container img {
  width: auto;
  height: auto;
  max-width: 100%;

}

@media screen and (max-width: 1019px) {
  #container {
    width: 712px;
    max-width: 712px;
  }

  #main div.content {
    float: none;
  }

  #main aside {
    display: none;
  }

  #li-1,
  #li-6,
  #li-4 {
    display: none;
  }

}

@media screen and (max-width: 991px) {
  .item:not(.active) {
    display: none !important;
  }

}

@media screen and (max-width: 711px) {
  #container {
    width: 640px;
    max-width: 640px;
  }

  #main div.content {
    width: 620px;
    max-width: 620px;
  }

  #main div.content {
    float: none;
  }

  #main aside {
    display: none;
  }

  #li-1,
  #li-6,
  #li-4 {
    display: none;
  }

  #main {
    padding: 10px;
  }

  div.page-brand-article-item div.inner_content {
    padding: 0 5px;
  }

}

@media screen and (max-width: 639px) {
  #promo nav {
    display: none;
  }

  #container {
    width: 480px;
    max-width: 480px;
  }

  #main div.content {
    width: 460px;
    max-width: 460px;
  }

  #main div.content {
    float: none;
  }

  #main aside {
    display: none;
  }

  #main {
    padding: 10px;
  }

  div.page-brand-article-item div.inner_content {
    padding: 0 5px;
  }

  #container p {
    text-align: justify;
  }

}

@media screen and (max-width: 479px) {
  #container .photo img {
    width: 50px;
  }

  .area {
    margin-left: 55px;
  }

  #container {
    width: 320px;
    max-width: 320px;
  }

  #main div.content {
    width: 300px;
    max-width: 300px;
  }

  #main div.content {
    float: none;
  }

  #main aside {
    display: none;
  }

  #main {
    padding: 10px;
  }

  div.page-brand-article-item div.inner_content {
    padding: 0 5px;
  }

  #container p {
    text-align: justify;
  }

  #promo nav {
    padding: 0 3px;
  }

  h4 {
    font-size: 16px;
  }

  h4 span {
    margin-bottom: -10px;
  }

  h2 {
    font-size: 19px;
  }

}

p {
  text-align: justify !important;
}

.theme {
  text-transform: none;
}

.imgcenter {
  display: block;
  margin: 0 auto;
  padding: 3px;
  background-color: #ffffff;
  border: #cccccc 1px solid;
}

.imgtext {
  text-align: center;
  display: block;
  width: 85%;
  border-left: 2px solid #999999;
  border-right: 2px solid #999999;
  padding: 2px 10px;
  margin: 5px auto;
  background-color: #f6f6f6;
}

@media screen and (max-width: 480px) {

  #comments,
  nav {
    display: none;
  }

  .page_navigation,
  .bottom_menu,
  footer,
  #adv_top,
  header {
    display: none;
  }

  #promo.thin div.wrap {
    padding-top: 30px;
  }

}

@media screen and (max-width: 319px) {

  .item,
  .comment-container {
    width: 230px;
  }

  #main div.content {
    width: 230px;
  }

  #container .inner_content {
    padding: 0;
  }

  #container {
    width: 240px;
  }

  #main {
    padding: 0 5px;
  }

}

[dir="rtl"] #main aside {
  float: left;
}

[dir="rtl"] #main div.content {
  float: right;
}

[dir="rtl"] h1,
[dir="rtl"] h2,
[dir="rtl"] h3,
[dir="rtl"] h4,
[dir="rtl"] h5,
[dir="rtl"] h6,
[dir="rtl"] li,
[dir="rtl"] em,
[dir="rtl"] span {
  text-align: right;
}

[dir="rtl"] h4.line a.icon {
  left: auto;
  right: 0;
}

[dir="rtl"] ul {
  padding-right: 10px;
}

[dir="rtl"] .photo {
  float: right;
}

[dir="rtl"] .area {
  margin-right: 55px;
  margin-left: 0;
}

[dir="rtl"] .imgtext {
  text-align: center;
}

[dir="rtl"] footer div.copy {
  text-align: center;
}

[dir="rtl"] #promo nav {
  padding: 0px 13px 0px 26px;
}

[dir="rtl"] #promo nav ul.menu {
  padding: 0;
}
