body {
    font-family: Roboto;
    background-color: #111;
}

.search {
    display: block;
    position: absolute;
    right: 11px;
    top: -16px;
    width: 60px;
    height: 60px;
    background: white;
    line-height: 60px;
}

.search .fa-search {
    font-size: 25px!important;
    color: black!important;
}

.content {
    background: white;
}

.text {
    padding: 80px 10px 10px 10px;
    position: relative;
}

.datetime {
    position: absolute;
    top: -12px;
    left: 153px;
    color: white;
    font-weight: bold;
    background: #111;
    padding: 16px;
    text-align: center;
}


.content li {
    display: inline-block;
    padding: 0 5px;
}

.content li a{
    color: grey;
    text-decoration: none;
    font-size: 14px;
    padding-left: 4px;
}

.link .fa {
    color: #ff2626!important
}

.link {
    text-align: center;
    position: relative;
    top: -50px;
}

.bolder {
    font-weight: bold;
}

.color {
    background: #ffddb6;
}

.text p {
    padding: 11px 0;
    text-align: justify;
}

.productblock {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    text-align: center;
}

.border {
    display: inline-block;
    vertical-align: middle;
    width: 36%;
    border: 1px solid black;
    padding: 5px;
}

.prod p, .prod h1 {
    font-style: italic;

}

.sidebar p {
    color: white;
    font-size: 14px;
    padding: 10px 0;
    line-height: 30px;
}

.sidebar li {
    display: inline-block;
}


.sidebar li a{
   padding: 10px 10px;
   display: block;
}

.sidebar .fa {
    color: white;
    font-size: 23px!important;
}

.diag {
    position: relative;
}

.diag img {
    width: 100%;
    padding: 20px 0;
}

.h1 {
    position: absolute;
    top: 27px;
    width: 100%;
    text-align: center;

}

.h1 h1 {
    font-size: 14px;
}

.h1 h2 {
    font-size: 12px;
}

.green {
    width: 7px;
    height: 7px;
    background: green;
    display: inline-block;
    position: absolute;
    bottom: -135px;
    left: 70px;
}

.red {
    width: 7px;
    height: 7px;
    background: red;
    display: inline-block;
    position: absolute;
    bottom: -135px;
    right: 124px;
}

.cs {
    position: absolute;
    bottom: -137px;
    left: 80px;
    font-size: 10px;

}

.sp {
    position: absolute;
    bottom: -137px;
    right: 49px;
    font-size: 10px;
}

.content {
    padding: 12px;
}


.share {
    padding: 10px 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.share li {
    display: inline-block;
}

.share li a {
    color: black;
    font-size: 18px;
}

.share1 {
    background: #FF2626!important;
    color: white!important;
    padding: 0!important;
}

.footer {
    padding-top: 50px;
}

.footer .limit {
    background: #222222;
    padding: 20px 0;
}

.imageblock img {
    display: inline-block;
    width: 100%;
    max-width: 139px;
}

.footer ul {
    padding: 20px 0;
}

.footer {
    text-align: center;
}

.footer li {
    display: inline-block;
}

.footer li a {
    color: white;
    font-size: 23px;
    text-decoration: none;
    padding: 10px;
}

.footer i {
    padding-right: 10px;
}

.copy {
    text-align: center;
    padding: 10px 0;
    color: white;
}

.title {
    text-transform: uppercase;
    color: #444444;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 0;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.ava {
    float: left;
  padding-right:5px;

}

.ava img{
    width: 100%;
    max-width: 49px;
}

.comment {
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

.maincomment {
    padding-left: 60px;
}
p.name{
  padding-bottom: 0px;
}
.textincomment {
    padding-left: 60px;
    max-width: 450px;
    width: 100%;
}
.textincomment p{
  padding-top: 0px;
}
.comments {
    font-family: 'Roboto';
}

.datecomm {
    text-align: center;
    font-style: italic;
}

.name {
    font-size: 18px;
}

.blackbtn {
    margin-left: 10px;
    font-size: 14px;
    line-height: 33px;
    font-weight: bold;
    padding: 0 33px;
    display: inline-block;
    background-color: black;
    color: white!important;
    -webkit-transition: background-color .3s ease-out,color .3s ease-out;
    -moz-transition: background-color .3s ease-out,color .3s ease-out;
    transition: background-color .3s ease-out,color .3s ease-out;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
}

.blackbtn:hover {
    background-color: #ff2626;
}

.textincomment img {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 0;
}
.block_images {
    text-align: center;
}
.block_images img {
    display: inline-block;
    vertical-align: top;
}
.block_images img:first-child {
    display: inline-block;
    vertical-align: top;
}


@media screen and (max-width: 1095px) {
    main .content {
        width: 60%;
    }

    main .sidebar {
        width: 315px;
    }

    .link {
        top: -14px;
    }

    main {
        padding: 0;
    }

    .red {
        bottom: -155px;
    }

    .green {
        bottom: -155px;
    }

    .cs{
        bottom: -157px;
    }

    .sp {
        bottom: -157px;
    }
}

.fa-bars {
    color: white!important;
}

@media screen and (max-width: 1060px) {
    header .menu {
        left: 150px;
    }


}

@media screen and (max-width: 975px) {
    .search {
        top: 18px;
    }

}


@media screen and (max-width: 760px) {
    .textincomment {
        padding-left: 5px;
    }
}


@media screen and (max-width: 570px) {
    .datetime {
        display: none;
    }

    .h11 {

        display: none;
    }
}


@media screen and (max-width: 500px) {
    .prod div {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .search {
        display: none;
    }



    .logo img {
        width: 100%;
        max-width: 250px;
    }



    .text {
        padding: 18px 10px 10px 10px;
    }

    .imageblock {
        display: none;
    }
}


@media screen and (max-width: 400px) {
    .maincomment {
        padding-left: 0;
    }

    .textincomment {
        padding-left: 0;
    }

    .name {
        padding-left: 54px !important;
    }

}

@media screen and (max-width:350px) {
    .logo img {
        width: 100%;
        max-width: 200px;
    }

    header .mobileMenu {
        top:19%
    }


}

.btn {
    font-size: 14px;
    line-height: 33px;
    font-weight: bold;
    padding: 0 33px;
    background-color: red;
    color: white !important;
    -webkit-transition: background-color .3s ease-out,color .3s ease-out;
    -moz-transition: background-color .3s ease-out,color .3s ease-out;
    transition: background-color .3s ease-out,color .3s ease-out;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 100%;
    max-width: 120px;
    margin: 10px auto;
}

.btn:hover {
    box-shadow: 0 0 10px red;
    background: orange;
}
.btn_comm{
    text-align: center;
    font-size: 14px;
    line-height: 33px;
    color: gray !important;
    padding: 0 33px;
    border: 1px solid #cccccc;
    -webkit-transition: background-color .3s ease-out,color .3s ease-out;
    -moz-transition: background-color .3s ease-out,color .3s ease-out;
    transition: background-color .3s ease-out,color .3s ease-out;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    max-width: 350px;
    margin: 10px auto;
}

.kupon {
    border: 2px dashed white;
    border-radius: 10px;
}

.kupon a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px;
}

.text a {
    color: #a50022;
    font-weight: bold;
}

.comment a {
    color: #a50022;
    font-weight: bold;
}

.tiz img {
    width: 100%;
}

.tiz h1 {
    color: white;
    padding: 5px 0;
}

.tiz a {
    color: white;
    text-decoration: none;
}

.tiz {
    padding: 10px 0;
}

.top_bar_n {
  text-align: center;
}
.top_bar_n .l_ima {
  display: inline-block;
  vertical-align: middle;
  max-width: 30%;
}
.top_bar_n .l_ima img {
  max-width: 100%;
}
.top_bar_n .r_text {
  display: inline-block;
  vertical-align: middle;
  max-width: 66%;
  padding-left: 10px;
  text-align: left !important;
}
.top_bar_n .r_text h2 {
    font-size: 20px !important;
    text-align: justify ;
}
.bold_bg {
    font-weight: 600;
    background-color: #F4CCCC;
}
.bg_color {
    background-color: #F4CCCC;
}
.color_tet {
    color: #980000;
    font-weight: 600;
}
.ima_rr {
    float: right;
    margin-left: 10px;
    max-width: 300px;
}
.ima_rr2 {
    float: right;
    margin-left: 10px;
    max-width: 200px;
}
.ctr_ima {
    display: block;
    margin: 10px auto;
    max-width: 500px;
}
.block_frod {
    text-align: center;
}
.dis_in {
    display: inline-block;
    vertical-align: top;
    margin: 10px auto;
    max-width: 300px;
}
.dis_in2 {
    display: inline-block;
    vertical-align: top;
    margin: 10px auto;
    max-width: 258px;
}
.comments a {
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
    .ctr_ima {
        max-width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .ima_rr, .ima_rr2 {
        float: none;
        display: block;
        margin: 10px auto;
        max-width: 90%;
    }
}
@media only screen and (max-width: 400px) {
    .top_bar_n .l_ima, .top_bar_n .r_text, .dis_in, .dis_in2, .block_images img:first-child, .block_images img {
        display: block;
        max-width: 100%;
        margin: 10px auto;
    }
    .top_bar_n .r_text{
        padding-left: 0;
    }
    .top_bar_n .r_text h2{
        text-align: justify;
    }

}