
.header-menu-item-hover {
  background: white;
  color: black;
}
body {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  background: #70CA70;
  
  background: #70ca70; 
  background: -moz-linear-gradient(left, #70ca70 0%, #ffffff 50%, #70ca70 100%); 
  background: -webkit-linear-gradient(left, #70ca70 0%,#ffffff 50%,#70ca70 100%); 
  background: linear-gradient(to right, #70ca70 0%,#ffffff 50%,#70ca70 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70ca70', endColorstr='#70ca70',GradientType=1 ); 
}
.limit {
  max-width: 1145px;
  margin: 0 auto;
  display: block;
}
.logo {
  display: block;
  border: 0;
  text-decoration: none;
}
.logo img {
  border: 0;
}
.comm_ima {
  display: block;
  margin: 10px auto;
  max-width: 400px;
}
main .content {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  background-color: #fff;
}
main .content .imageCont {
  text-align: center;
  margin: 10px auto;
}
main .content .imageCont img {
  vertical-align: middle;
  display: inline-block;
  max-width: 300px;
}
main .content .text h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
main .sidebar {
  display: inline-block;
  width: 23%;
  float: right;
  vertical-align: top;
  text-align: justify;
  background-color: #fff;
  padding: 10px;
}
main .sidebar .imageCont img {
  border: none;
  width: 100%;
}
main {
  background-color: #fff;
  z-index: 100;
}

.dialog-border{
  border: 4px solid #169ed1;
  background: #e5f2ff;
  padding: 10px 15px 15px;
}

.wwrapper_border {
  border: solid 10px  #358F35;
  z-index: 10;
  margin-top: -10px;
}
.top_bg {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  z-index: 1;
}
.text {
  padding: 10px;
  padding-left: 70px;
  padding-right: 70px;
}
.imageInText.top {
  max-width: 100%;
  display: block;
  margin: 0 auto 10px;
}

.sostav {
  background: url(../img/block5.jpg) no-repeat center top;
  margin: 12px 0px;
  text-align: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.sostav .table {
  display: table;
  width: 100%;
  padding: 18px 0px;
}

.sostav .table .table-cell {
  display: table-cell;
  width: 30%;
  padding: 5px 17px;
}

.sostav .table .table-cell .sostav-text {
  background: #5ad7f6;
  padding: 15px 0 15px;
  font-size: 22px;
  font-weight: 700;
  position: relative;
  top: -4px;
  text-align: center;
  text-transform: uppercase;
}

.imageInText.left {
  float: left;
  max-width: 300px;
  margin: 5px 10px 0 0;
}
.imageInText.right {
  float: right;
  max-width: 300px;
  margin: 5px 0 0 10px;
}
.imageInText.center {
  display: block;
  margin: 10px auto;
  max-width: 100%;
}
.commentView {
  display: none;
}
main #facebook {
  padding: 20px;
  box-sizing: border-box;
  background: #f6f7f9;
  margin-top: 20px;
  font-family: Arial;
}
main #facebook .avatar {
  width: 32px;
  height: 32px;
  float: left;
}
main #facebook .writeComment {
  box-sizing: border-box;
}
main #facebook .writeComment:before,
main #facebook .writeComment:after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}
main #facebook .writeComment .form {
  box-sizing: border-box;
  padding-left: 40px;
}
main #facebook .writeComment .form input {
  display: block;
  padding: 7px 5px;
  border: 1px solid #9a9a9a;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}
main #facebook .writeComment .form .inscription {
  font-size: 10px;
  color: #ccc;
}
main #facebook .commentsList:before,
main #facebook .commentsList:after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}
main #facebook .commentsList .commentItem {
  box-sizing: border-box;
  margin: 10px 0;
}
main #facebook .commentsList .commentItem .commentBody {
  padding-left: 40px;
  font-size: 12px;
  line-height: 16px;
}
main #facebook .commentsList .commentItem .commentBody .username {
  color: #3b5998;
  font-weight: 600;
}
main #facebook .commentsList .commentItem .commentBody .commentAction a {
  color: #3b5998;
  text-decoration: none;
}
main #facebook .commentsList .commentItem .commentBody .commentAction .circle {
  font-size: 7px;
  position: relative;
  top: -2px;
  padding: 0 5px;
}
main #facebook .commentsList .commentItem .commentBody .commentAction .likeImage {
  position: relative;
  top: 8px;
  width: 25px;
  height: 25px;
}
main #facebook .commentsList .commentItem .commentBody .commentAction .likeCount {
  color: #ccc;
}
main #facebook .commentsList .commentItem .commentBody .commentAction .time {
  color: #ccc;
}
main #facebook {
  display: block;
}
.text p {
  margin: 10px auto;
}
header {
  background-color: #005A00 ;

}
header .mobileMenu {
  display: none;
}
header#page-title {
  position: relative;
  color: white;
  z-index: 15;
  padding-bottom: 10px;
}
article.themed.theme-red header#page-title .promo, article.themed.theme-red header#page-title .menu, .grid.red header#page-title .promo, .grid.red header#page-title .menu {
  background-color: #260701 !important;
  color: #e4cbcc;
}

header#page-title .promo {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  min-height: 60px;
}
header#page-title .promo>div {
  position: relative;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
header#page-title .promo .title {
  max-width: 920px;
  padding-left: 5px;
}
header#page-title .promo .title a, header#page-title .promo .title span:not(.message), header#page-title .promo .title h1.title {
  display: inline-block;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  float: left;
  color: inherit;
  text-decoration: none;
}
header#page-title .promo .title span:not(.message), header#page-title .promo .title h1.title {
  margin: 10px 5px 10px 0;
}
header#page-title .promo .message {
  display: inline-block;
  float: none;
  margin-top: 15px;
  padding-right: 10px;
  vertical-align: top;
  opacity: 0.5;
  line-height: normal;
  color: inherit;
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
  word-break: break-word;
}
header#page-title .promo .message {
  display: inline-block;
  float: none;
  margin-top: 15px;
  vertical-align: top;
  opacity: 0.5;
  line-height: normal;
  color: inherit;
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
}
header#page-title .promo .age_restriction {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px 0 0 0;
  width: 60px;
  font-weight: bold;
}
header#page-title .promo .age_restriction {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px 0 0 0;
  width: 60px;
  font-weight: bold;
}
.clearfix:after {
  clear: both;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
article.themed.theme-red header#page-title .promo, article.themed.theme-red header#page-title .menu, .grid.red header#page-title .promo, .grid.red header#page-title .menu {
  background-color: #260701 !important;
  color: #e4cbcc;
}
.content-width {
  margin-left: auto;
  margin-right: auto;
}
header#page-title .menu ul {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  list-style: none;
}
header#page-title .menu ul .burg {
  display: none;
}
header#page-title .menu ul .burg img {
  max-width: 30px;
}
header#page-title .menu ul li {
  display: inline-block;
  margin: 0 11px;
}
header#page-title .menu ul li {
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  display: inline-block;
  margin-right: 23px;
}
header#page-title .menu ul li a {
  display: block;
  line-height: 21px;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.99px;
  padding: 3px;
}

header#page-title .menu ul li a:hover {
  text-decoration: underline;
}

article.themed.theme-red header#page-title .promo li.active a, article.themed.theme-red header#page-title .menu li.active a, .grid.red header#page-title .promo li.active a, .grid.red header#page-title .menu li.active a {
  border-color: #e4cbcc;
}
header#page-title .promo .age_restriction .pill {
  display: block;
  margin: 0 auto;
  padding: 1px 5px 1px 5px;
  width: 40px;
  border-radius: 2px;
  color: white;
  background-color: rgba(255,255,255,0.2);
  text-align: center;
}
.comment {
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #0E61A2;
}
.se_a {
  text-decoration: none;
}
.bb_se {
  border-bottom: solid 1px #D9E3EB;
}
.bs_se {
  display: block;
  margin: 20px auto;
  max-width: 255px !important;
  border-radius: 30px;
  background-color: #1974bb;
  color: #fff;
  text-align: center;
  padding: 7px 25px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
 /* -webkit-box-shadow: 0px 10px 5px 0px rgb(21, 80, 133,1);
  -moz-box-shadow: 0px 10px 5px 0px rgba(21, 80, 133,1);
  box-shadow: 0px 10px 5px 0px rgba(21, 80, 133,1);*/
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;

}

.pht_do1 {
  position: relative;
}

.pht_do1 .sinc_do {
  position: absolute;
  left: 120px;
  bottom: 59px;
  font-weight: 600;
  font-size: 29px;
  color: #fff;
}

.pht_do1 .sinc_posle {
  position: absolute;
  right: 130px;
  bottom: 59px;
  font-weight: 600;
  font-size: 29px;
  color: #fff;
}

.pht_do1 img {
  max-width: 100%;
}

.bs_se:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.clrka {
  clear: both;
}
.comm {
  padding: 10px;
  border-top: solid 1px #D9E3EB;
}
.top_com img {
  max-width: 50px;
  display: inline-block;
  vertical-align: middle;
}
.text_va {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
  padding-left: 10px;
}
.top_com h3 {
  color: #798A95;
}
.top_com span {
  color: #798A95;
}
.text h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  color: #1974bb;
}
.ctr_ima {
  display: block;
  margin: 10px auto;
}
.comment_image img{

}
.ctr_blue {
  color: #1974bb;
  text-align: center; 
}
.eco_href {
  text-decoration: none;
  color: #05519D;
  font-weight: 600;
}
.autoriz {
  padding: 5px;
  margin-top: 20px;
}
.autoriz .autori_h1 {
  color: #05519D;
  font-weight: 600;
  font-size: 21px !important;
  margin-bottom: 14px ;
}
.soc {
  color: #707E89;
  font-size: 16px;
}
.od a {
  background-image: url(../img/login_ok.jpg);    
}
.vk a {
  background-image: url(../img/login_vk.jpg);    
}
.fc a {
  background-image: url(../img/login_fb.jpg);    
}
.soc_im {
  margin: 20px 0;
}
.soc_im a {
  width: 40px;
  height: 40px;
  background-size: contain;
  display: inline-block;
  width: 40px;
  margin: 12px;
  border-radius: 3px;
  background-repeat: no-repeat;
}
.soc_im a:first-child {
  margin-left: 0;
}
.inp_se {
}
.inp_txt {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 312px;
  width: 100%;
  height: 40px;
  padding: 5px 15px !important;
  border: 1px solid #aebfcc;
  -webkit-appearance: none;
  border-radius: 2px;
  margin-bottom: 20px;
  margin-right: 0 !important;
}
label {
  margin-top: 20px;
  cursor: pointer;
  display: inline-block;
}
label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 1px solid #707e89;
  float: left;
}
.btn_se {
  width: 70%;
  margin-top: 20px;
  outline: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  padding: 10px 10px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 2px;
  background-color: #034486;
  cursor: pointer;
}
.footer_Se {
  text-align: center;
  background-color: #fff;
  margin-top: 20px;
  padding: 10px 0;
}
.mob_top {
  max-width: 100%;
  display: none;
  margin: 0 auto;
}

.p_italic{
  font-style: italic;
  text-align: right;
}
.image_center{
  margin: 0 auto;
  width: 100%;
}
.comment_image{
  text-align: center;
  color: #1974bb;
  font-style: italic;
}
.content_list {
  list-style-type: disc;
}
.content_list li{
  margin-left: 50px;
}
.imgsoda1{
  display: inline-block;
  width: 49%;
}
.imgsoda2{
  display: inline-block;
  width: 49%;
}
.imgbefore{
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}
.imgbefore1{

  max-width: 100%;
}
.sum{
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  font-size: 200px;
  color: #169ed1;
}
.prod{
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}
.prod1{

  max-width: 100%;
}
.rav{
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  font-size: 200px;
  color: #169ed1;
}
.imgafter{
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}
.imgafter1{

  max-width: 100%;
}
.color{
  color: white;
  text-decoration: none!important;
}
.textalign{
  text-align: center;
}
.textalign5{font-size: 0;}
.textalign5 > i{font-size: 16px;}
@keyframes shake {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); -ms-transform: translate(2px, 1px) rotate(0deg); transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); -ms-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); -ms-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); -ms-transform: translate(0px, 2px) rotate(0deg); transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); -ms-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); -ms-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); -ms-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); -ms-transform: translate(2px, 1px) rotate(-1deg); transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); -ms-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); -ms-transform: translate(2px, 2px) rotate(0deg); transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); -ms-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  display:inline-block;
  animation-name: shake;
  animation-duration: 0.8s;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.webcom {
  display: none;
}

@media screen and (max-width: 1200px) {
 .sostav .table .table-cell img {
    width: 200px;
  }

  .sostav .table .table-cell .sostav-text {
    width: 200px;
    margin: auto;
    top: -5px;
  }

}

@media screen and (max-width: 991px) {
  body {
    background: none;
  }
  .limit {
    margin-top: 0;
  }

  .webcom {
    display: block;
  }

  .mobcom{
    display: none;
  }

  header#page-title .promo .title a {
    float: none;
    text-align: center;
  }

  .menu {
    display: none;
  }

  .mob_top {
    display: block;
  }

  .sostav .table .table-cell {
    display: block;
    width: 100%;
    padding: 5px 0px;
  }

}
@media screen and (max-width: 991px) {
  main .sidebar {
    display: none;
  }
  .logo {
    position: relative;
    transform: none;
  }
  main .content {
    width: 100%;
    box-sizing: border-box;
  }
  header a {
    text-decoration: none;
  }
  header .mobileMenu {
    display: block;
    color: #000000;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    padding-left: 20px;
  }
  .sum {
    font-size: 150px;
  }
  .rav {
    font-size: 150px;
  }
}
@media screen and (max-width: 663px) {
  .ctr_ima {
    max-width: 100%;
  }
}
@media screen and (max-width: 555px) {
  .ctr_ima {
    max-width: 100%;
  }
  header#page-title .promo .age_restriction .pill {
    display: none;
  }

  .sum {
    font-size: 140px;
  }
  .rav {
    font-size: 140px;
  }

  .bs_se{
    font-size: 17px;
  }
}
@media screen and (max-width: 500px) {
  .text {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 480px) {
  header#page-title .menu ul li{
    margin: 0;
  }
  .autoriz {
    display: none;
  }
  header#page-title .promo .message {
    display: none;
  }
  header#page-title .menu ul li:not(.burg) {
    display: none;
  }
  header#page-title .menu ul {
    text-align: center;
    width: 100%;
  }
  header#page-title .menu ul .burg {
    display: block;
    text-align: center;
  }
  .imageInText.left,
  .imageInText.right {
    float: none;
    display: block;
    max-width: 300px;
    margin: 10px auto;
  }
  .comm_ima {
    max-width: 100%;
  }
  .sum {
    font-size: 100px;
  }
  .rav {
    font-size: 100px;
  }
}
@media screen and (max-width: 410px) {
  main .commentsCont .line-2 .sort {
    display: none;
  }
  .commentsCont .login {
    display: none;
  }
  main .commentsCont .line-3 .bodyCont textarea {
    font-size: 15px;
  }
  main .content .imageCont img {
    width: 100%;
  }
  .sum {

    font-size: 78px;

  }
  .rav {

    font-size: 78px;

  }
}

.line:before, .product:before, .product:after, .product div:before, .product div:after, .form:before, .form:after, .form_pr:before, .form_pr:after, .block_1:before, .block_1:after, .block_1 .elements:before, .block_1 .elements:after, .block_1 .bottom .container:before, .block_1 .bottom .container:after, .block_2 .container:before, .block_2 .container:after, .block_2 ul:before, .block_2 ul:after, .block_3 .woman:before, .block_3 .woman:after, .block_3 .container:before, .block_3 .container:after, .block_3 .warning:before, .block_4:before, .block_4 .top:before, .block_4 .top:after, .block_4 .list li:before, .block_4 .list li:after, .block_4 .bottom:before, .block_4 .bottom:after, .block_4 .bottom .container:before, .block_4 .bottom .container:after, .block_4 .eko:before, .block_4 .eko:after, .block_4 .eko2:before, .block_4 .eko2 div:before, .block_4 .eko2 div:after, .block_4 .woman:before, .block_4 .woman:after, .block_4 .letter p:nth-last-of-type(1):before, .block_5 ul:before, .block_5 ul:after, .block_5:before, .block_5:after, .block_5 .top:before, .block_5 .top:after, .block_5 .top .container:before, .block_5 .top .container:after, .block_5 .bottom:after, .block_5 .bottom:before, .block_5 .bottom .container:before, .block_5 .bottom .container:after, .block_5 .bottom .container p:before, .block_5 .bottom .stamp:before, .block_5 .bottom .stamp:after, .block_5 h3:before, .block_6:before, .block_6:after, .block_7:before, .block_7 .left p:before, .block_7 .left ul:before, .block_7 .safely:before, .block_7 .right:before, .block_7 .right:after, .block_7 .right .img:before, .block_7 .right .img:after, .block_8:after, .block_8:before, .block_8 h3:before, .block_8 ul:not([class]):before, .block_8 h4:before, .block_8 .bottom:after, .block_8 .bottom:before, .block_8 .bottom .product3:before, .block_8 .bottom .product3:after, .block_9:before, .block_9 .container:before {
  content: '';
  position: absolute;
}

.block_5 .top {
  padding: 100px 0 0;
}

.block_5 h3 {
  text-align: center;
  font-size: 48px;
  color: #8eb81e;
  border: 1px solid #8eb81e;
  border-width: 1px 0;
  padding: 10px 0;
  margin-bottom: 55px;
  letter-spacing: 2px;
  position: relative;
}

.block_5 h3:before {
  width: 155px;
  height: 115px;
  top: -50px;
  right: -65px;
}

.block_5 h3 font {
  display: block;
  color: #fa4863;
}

.block_5 ul {
  text-align: center;
  position: relative;
}

.block_5 ul:before {
  z-index: 1;
  background: url(../img/block_5_berries3.png) center no-repeat;
  width: 375px;
  height: 174px;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -187.5px;
}

.block_5 ul:after {
  z-index: 2;
  background: url(../img/ecoslim2.png) center no-repeat;
  width: 240px;
  height: 341px;
  top: 50%;
  left: 50%;
  margin: -170.5px 0 0 -120px;
}

.block_5 ul li {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  z-index: 10;
}

.block_5 ul li:first-child:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -245px;
  margin-top: -50px;
  width: 490px;
  height: 490px;
  border: 2px solid #8eb81e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: -1;
}

.block_5 ul li:nth-child(2n) {
  text-align: right;
}

.block_5 ul li:nth-child(2), .block_5 ul li:nth-child(3) {
  margin: -10px 0 25px;
}

.block_5 ul li:nth-child(4), .block_5 ul li:nth-child(5) {
  margin: 35px 0;
}

.block_5 ul li:nth-child(6), .block_5 ul li:nth-child(7) {
  margin: 25px 0 -10px;
}

.block_5 ul li:first-child, .block_5 ul li:last-child {
  width: 100%;
  text-align: center;
}

.block_5 ul li:first-child:after {
  display: block;
  width: 101px;
  height: 100px;
  background: url(../img/block_5_li1.png)center no-repeat;
  content: '';
  margin: 0 auto;
}

.block_5 ul li:nth-child(2):after {
  display: inline-block;
  vertical-align: middle;
  width: 96px;
  height: 96px;
  background: url(../img/block_5_li2.png)center no-repeat;
  content: '';
  margin: 0 133px 0 10px;
}

.block_5 ul li:nth-child(3):before {
  display: inline-block;
  vertical-align: middle;
  width: 125px;
  height: 100px;
  background: url(../img/block_5_li3.png)center no-repeat;
  content: '';
  margin: 0 0 0 117px;
}

.block_5 ul li:nth-child(4), .block_5 ul li:nth-child(5) {
  font-size: 20px;
  opacity: 0;
}

.block_5 ul li:nth-child(4):after {
  display: inline-block;
  vertical-align: middle;
  width: 122px;
  height: 96px;
  background: url(../img/block_5_li4.png)center no-repeat;
  content: '';
  margin: 0 188px 0 0;
}

.block_5 ul li:nth-child(5):before {
  display: inline-block;
  vertical-align: middle;
  width: 122px;
  height: 96px;
  background: url(../img/block_5_li5.png)center no-repeat;
  content: '';
  margin: 0 0 0 184px;
}

.block_5 ul li:nth-child(6):after {
  display: inline-block;
  vertical-align: middle;
  width: 96px;
  height: 96px;
  background: url(../img/block_5_li6.png)center no-repeat;
  content: '';
  margin: 0 133px 0 10px;
}

.block_5 ul li:nth-child(7):before {
  display: inline-block;
  vertical-align: middle;
  width: 96px;
  height: 96px;
  background: url(../img/block_5_li7.png)center no-repeat;
  content: '';
  margin: 0 10px 0 133px;
}

.block_5 ul li:last-child:before {
  display: block;
  width: 172px;
  height: 97px;
  background: url(../img/block_5_li8.png) center no-repeat;
  content: '';
  margin: 0 auto;
}

.block_5 ul li span {
  display: inline-block;
  vertical-align: middle;
}



.block_5 .top .container:before {
  width: 155px;
  height: 115px;
  top: 50%;
  right: 100%;
}

.block_5 .bottom {
  margin-top: 35px;
  padding: 20px 0;
  background: #8fb81e;
  background: -moz-linear-gradient(left, #8fb81e 0%, #8fb81e 32%, #f2f839 40%, #8fb81e 48%, #8fb81e 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8fb81e), color-stop(32%, #8fb81e), color-stop(40%, #f2f839), color-stop(48%, #8fb81e), color-stop(100%, #8fb81e));
  background: -webkit-linear-gradient(left, #8fb81e 0%, #8fb81e 32%, #f2f839 40%, #8fb81e 48%, #8fb81e 100%);
  background: -o-linear-gradient(left, #8fb81e 0%, #8fb81e 32%, #f2f839 40%, #8fb81e 48%, #8fb81e 100%);
  background: -ms-linear-gradient(left, #8fb81e 0%, #8fb81e 32%, #f2f839 40%, #8fb81e 48%, #8fb81e 100%);
  background: linear-gradient(to right, #8fb81e 0%, #8fb81e 32%, #f2f839 40%, #8fb81e 48%, #8fb81e 100%);
  position: relative;
  z-index: 15;
}

.block_5 .bottom .container {
  z-index: 5;
}

.block_5 .bottom .container>* {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 10;
}

.block_5 .bottom .container p {
  font-size: 120px;
  font-family: 'Exo 2', sans-serif;
  color: #fa4863;
  text-transform: uppercase;
  letter-spacing: -5px;
}

.block_5 .bottom .container p b {
  color: #fff;
}

.block_5 .bottom .approved {
  width: 219px;
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin-left: 30px;
}

.block_5 .bottom .approved:before {
  display: block;
  content: '';
  background: url(../img/stamp.png)center no-repeat;
  width: 73px;
  height: 73px;
}

.block_5 .bottom .stamp {
  display: inline-table;
  text-align: center;
  white-space: nowrap;
  font-weight: 700;
  color: #00498b;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -2px;
  box-shadow: 0 0 0 4px #00498b, 0 0 0 8px #467a9d, 0 0 0 12px #8fb81e, 0 0 0 13px #00498b;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 5px;
  margin-left: 25px;
  -webkit-transform: rotateZ(-16deg);
  -moz-transform: rotateZ(-16deg);
  -o-transform: rotateZ(-16deg);
  transform: rotateZ(-16deg);
}

.block_5 .bottom .stamp:before {
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  background: url(../img/print.png) center no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.block_5 .bottom .stamp:after {
  background: url(../img/block_1_leaves2.png) center no-repeat;
  width: 42px;
  height: 24px;
  top: 0;
  right: 50%;
  margin-top: -78px;
  z-index: 0;
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  -o-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.block_5 .bottom .stamp small {
  display: table;
  font-size: 20px;
  text-transform: lowercase;
  letter-spacing: 0;
  margin: -5px auto -17px;
  background: #8fb81e;
  padding: 3px 2px 1px;
  
}

.block_5 .bottom:before {
  background: url(../img/block_5_berries2.png) center no-repeat;
  width: 506px;
  height: 386px;
  top: 50%;
  left: 0;
  margin-top: -193px;
  z-index: 0;
}

.block_5 .bottom:after {
  background: url(../img/block_1_leaves2.png) center no-repeat;
  width: 262px;
  height: 156px;
  top: 50%;
  right: 0;
  margin-top: -78px;
  z-index: 0;
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.block_5 .bottom .container:before {
  background: url(../img/block_5_water1.png) center no-repeat;
  width: 66px;
  height: 66px;
  top: 50%;
  right: -66px;
  margin-top: -66px;
  z-index: 0;
}

.block_5 .bottom .container:after {
  height: 26px;
  top: 50%;
  right: 30px;
  margin-top: 26px;
  z-index: 0;
  -webkit-background-size: contain;
  background: url(../img/block_5_water1.png) center no-repeat;
  width: 26px;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.block_5 .bottom .container p:before {
  background: url(../img/insect.png) center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 65px;
  height: 83px;
  top: -45px;
  left: 55%;
}
@media only screen and (max-width: 1150px) {
  .block_5 ul li {
    font-size: 17px;
  }
}
.block_5 {
  margin-bottom: 20px;
}
@media only screen and (max-width: 1050px) {
  .block_5 ul li {
    font-size: 16px;
  }
}
.mob_version {
  text-align: center;
  display: none;
  font-weight: 600;
  margin-bottom: 20px;
}
.mob_version li {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
.mob_version li img {
  display: block;
  margin: 10px auto;
  text-align: center;
}
@media only screen and (max-width: 990px) {
  .block_5 .container ul {
    display: none;
  }
  .mob_version {
    display: block;
  }
  .block_5 .top {
    padding: 0;
  }
}
.pht_do {
  position: relative;
}
.pht_do img {
  max-width: 100%;
}
.pht_do .sinc_do {
  position: absolute;
  left: 159px;
  bottom: 66px;
  font-weight: 600;
  font-size: 29px;
  color: #fff;
}
.pht_do .sinc_posle {
  position: absolute;
  right: 177px;
  bottom: 66px;
  font-weight: 600;
  font-size: 29px;
  color: #fff;
}

.wd{

}
@media only screen and (max-width: 1148px) {
  .pht_do {
    display: block;
    margin: 0 auto;
    max-width: 600px;
  }

  .pht_do1 {
    display: block;
    margin: 0 auto;
    max-width: 600px;
  }
  .pht_do .sinc_do {
    position: absolute;
    left: 59px;
    bottom: 37px;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }
  .pht_do .sinc_posle {
    position: absolute;
    right: 39px;
    bottom: 37px;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }

  .pht_do1 .sinc_do {
    position: absolute;
    left: 59px;
    bottom: 37px;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }
  .pht_do1 .sinc_posle {
    position: absolute;
    right: 39px;
    bottom: 37px;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }

}
@media only screen and (max-width: 800px) {
  .text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .pht_do {
    max-width: 400px;
  }
  .pht_do .sinc_do {
    position: absolute;
    left: 39px;
    bottom: 24px;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
  }
  .pht_do .sinc_posle {
    position: absolute;
    right: 27px;
    bottom: 24px;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
  }

  .pht_do1 {
    max-width: 400px;
  }
  .pht_do1 .sinc_do {
    position: absolute;
    left: 39px;
    bottom: 24px;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
  }
  .pht_do1 .sinc_posle {
    position: absolute;
    right: 27px;
    bottom: 24px;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
  }

}
@media only screen and (max-width: 463px) {

  .wd{

    width: 100%;
  }
  .pht_do {
       max-width: 250px;
     }
  .pht_do .sinc_do {
    position: absolute;
    left: 25px;
    bottom: 13px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
  }
  .pht_do .sinc_posle {
    position: absolute;
    right: 17px;
    bottom: 13px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
  }


  .pht_do1 {
    max-width: 250px;
  }
  .pht_do1 .sinc_do {
    position: absolute;
    left: 25px;
    bottom: 13px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
  }
  .pht_do1 .sinc_posle {
    position: absolute;
    right: 17px;
    bottom: 13px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
  }

}


.rounded-compound-wrapper {
  padding: 15px 0;
  position: relative;
  max-width: 50%;
  min-width: 500px;
  margin: 0 auto;
}

.rounded-compound {
  margin:                50px auto 100px;
  width:                 400px;
  height:                400px;
  -webkit-border-radius: 50%;
  -moz-border-radius:    50%;
  border-radius:         50%;
  border:                3px solid #8eb81e;
}

.rounded-compound-product {
  margin:                  25% auto 0;
  width:                   80%;
  max-width:               375px;
  height:                  50%;

  -webkit-background-size: contain;
  background-size:         contain;
}

.product-image {
  display:    block;
  margin:     0 auto;
  max-height: 220px;
  max-width:  80%;
  height:     auto;
}

.rounded-compound-item {
  font-size:               16px;
  line-height:             1;
  width:                   100px;
  height:                  100px;
  position:                absolute;
  margin-left:             -50px;
  margin-top:              -50px;
  text-align:              center;
  -webkit-background-size: contain;
  background-size:         contain;
  background-repeat:       no-repeat;
  background-position:     center;
}

.rounded-compound-item-text {
  position:              absolute;
  width:                 140%;
  margin-left:           -20%;
  margin-right:          -20%;
  padding:               5px 15px;
  top:                   90%;
  background-color:      rgb(229, 239, 203);
  -webkit-border-radius: 25px;
  -moz-border-radius:    25px;
  border-radius:         25px;

  -webkit-box-shadow:    0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:       0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow:            0 2px 5px rgba(0, 0, 0, 0.3);
}


@media screen and (max-width: 767px) {
  .rounded-compound-wrapper  {
    min-width: 100%;
  }
  .rounded-compound {
    margin:                10px auto;
    width:                 auto;
    height:                auto;
    -webkit-border-radius: 0;
    -moz-border-radius:    0;
    border-radius:         0;
    border:                none;
  }

  .rounded-compound-product {
    margin: 0 auto;
  }

  .rounded-compound-item {
    line-height:   1.4;
    width:         auto;
    height:        100px;
    position:      relative;
    margin-left:   0;
    margin-top:    0;
    left:          inherit;
    top:           inherit;
    margin-bottom: 30px;
  }

  .rounded-compound-item-text {
    position:     relative;
    width:        auto;
    max-width:    350px;
    margin-left:  auto;
    margin-right: auto;
    top:          90%;
  }
}