html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
:focus { outline: 0; }
body { font-family: 'Open Sans', sans-serif; font-size: 12px; background-color: #ff0013;color: #fff;}
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: ""; }
.clearfix:after { clear: both; }
.clear {
clear: both;
}
.alignleft { float: left; }
.alignright { float: right; }
strong { font-weight: bold; }
em { font-style: italic; }
img {max-width: 100%;}
.dbody {
width: 100%;min-width: 300px;
height: 100%;
position: relative;
overflow-x: hidden;
}
.d_wrapper {
max-width: 800px;
width: 100%;
margin: 0 auto;
}
.wrapper {
max-width: 450px;
width: 100%;
min-width: 240px;
height: 100%;
margin: 0 auto;
-moz-box-sizing: border-box; 
box-sizing: border-box;
position: relative;
z-index: 5;
padding: 0 10px;
}
.first_top {
background-color: #ff0013;
padding: 10px 0;
}
.first_top > .wrapper > p > span{
color: #fff;
font-size: 18px;
font-family: 'Open Sans';
font-weight: 400;
}
.first_top > .wrapper > p{
text-align: center;
color: #000;
font-size: 23px;
text-transform: uppercase;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 700;
}
header {
  background-color: #000;
  padding-bottom: 20px;
}
header img{ 
display: block;
margin: 0 auto;
max-width: 360px;
width: 100%;
}
header ul { 
max-width: 400px;
margin: 0 auto;
}
header ul > li {
color: #f5aa00;
text-transform: uppercase;
font-weight: 600;
font-size: 16px;
margin-bottom: 15px;
padding-left: 40px;
position: relative;
}
header ul > li:before, .third_scr ul > li:before {
content: "";
display: block;
position: absolute;
width: 23px;
height: 23px;
background-image: url(../img/yes.png);
background-size: 100% 100%;
left: 0;
top: 0px;
}
.sec_screen {
background-image: url(../img/bg_secc.png);
background-size: cover;
padding: 20px 0 10px;
}
.sec_screen > div > div > p{
text-align: center;
color: #ff0013;
font-size: 22px;
font-weight: 600;
text-transform: uppercase;
}
.sec_screen > div > div > p > span {
position: relative;
}
.sec_screen > div > div > p > span:before {
content: "";
width: 40%;
height: 2px;
border-bottom: 2px solid #ff0013;
position: absolute;
display: block;
top: 45%;
left: 30%;
}
.sec_screen > div > div > p.new_price{
color: #fff;
font-weight: 700;
font-size: 43px;
}
.sec_screen .btn {
max-width: 360px;
margin: 0 auto;
}
.btn {
background: rgb(253,208,1); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZDAwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iI2ZjY2UwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2Y3YzUwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkYjMxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iI2U5YWMyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmE3MmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(253,208,1,1) 0%, rgba(252,206,2,1) 15%, rgba(247,197,12,1) 37%, rgba(237,179,31,1) 51%, rgba(233,172,38,1) 78%, rgba(230,167,44,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,208,1,1)), color-stop(15%,rgba(252,206,2,1)), color-stop(37%,rgba(247,197,12,1)), color-stop(51%,rgba(237,179,31,1)), color-stop(78%,rgba(233,172,38,1)), color-stop(100%,rgba(230,167,44,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(253,208,1,1) 0%,rgba(252,206,2,1) 15%,rgba(247,197,12,1) 37%,rgba(237,179,31,1) 51%,rgba(233,172,38,1) 78%,rgba(230,167,44,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(253,208,1,1) 0%,rgba(252,206,2,1) 15%,rgba(247,197,12,1) 37%,rgba(237,179,31,1) 51%,rgba(233,172,38,1) 78%,rgba(230,167,44,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(253,208,1,1) 0%,rgba(252,206,2,1) 15%,rgba(247,197,12,1) 37%,rgba(237,179,31,1) 51%,rgba(233,172,38,1) 78%,rgba(230,167,44,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(253,208,1,1) 0%,rgba(252,206,2,1) 15%,rgba(247,197,12,1) 37%,rgba(237,179,31,1) 51%,rgba(233,172,38,1) 78%,rgba(230,167,44,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd001', endColorstr='#e6a72c',GradientType=0 ); /* IE6-8 */
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
padding: 10px 0;
text-align: center;
text-transform: uppercase;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 700;
}
.btn a {
font-size: 24px;
text-decoration: none;
color: #000;
}
.sec_screen > div > img {
display: block;
margin: 30px auto 0;
  width: 280px;
}
.third_scr {
background-color: #000;
padding: 10px 0;
margin-bottom: -5px;
}
.third_scr > div > p {
text-align: center;
color: #edb31f;
text-transform: uppercase;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 700;
font-size: 22px;
margin-bottom: 20px;
}
.third_scr ul > li > p{
font-weight: normal;
color: #919191;
font-size: 14px;
text-transform: none;
}
.third_scr ul > li{
margin-bottom: 15px;
color: #fff;
font-size: 17px;
text-transform: uppercase;
position: relative;
padding-left: 40px;
}


.forth_scr {
padding: 15px 0 85px;
background-image: url(../img/bg_sec.png);
background-size: 100% 100%;
}
.forth_scr > .wrapper > p {
color: #ff0013;
text-transform: uppercase;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 700;
text-align: center;
font-size: 40px;
line-height: 80%;
}
.forth_scr > .wrapper > p > span{
font-size: 22px;
}
.forth_scr > .wrapper > div > img{
float: left;
margin-right: 20px;
}
.forth_scr > .wrapper > div {
margin: 20px 0 30px;
}
.forth_scr > .wrapper > ul {
margin-top: 20px;
}
.forth_scr > .wrapper > ul > li {
padding-left: 63px;
position: relative;
margin-bottom: 15px;
font-size: 13px;
margin-bottom: 21px;
}
.forth_scr > .wrapper > ul > li:before {
display: block;
position: absolute;
text-transform: uppercase;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 700;
color: #f5aa00;
font-size: 90px;
left: -5px;
top: -25px;
}
.forth_scr > .wrapper > ul > li:nth-child(1):before {
content:"1.";
}
.forth_scr > .wrapper > ul > li:nth-child(2):before {
content:"2.";
}
.forth_scr > .wrapper > ul > li:nth-child(3):before {
content:"3.";
}
.forth_scr > .wrapper > ul > li > p {
color: #f5aa00;
text-transform: uppercase;
font-size: 18px;
padding-bottom: 2px;
}
footer {
background-color: #ff0013;
padding: 20px 0;
}
footer > .wrapper > p {
text-transform: uppercase;
text-align: center;
margin-bottom: 15px;
font-size: 17px;
color: #fff;
line-height: 130%;
font-weight: 600;
}
footer > .wrapper > p > span{
color: #f5aa00;
font-weight: bold;
font-size: 21px;
padding-top: 10px;
display: inline-block;
}
footer > .wrapper > .prices > div {
color: #000;
font-weight: bold;
font-size: 38px;
  text-align: center;
}
footer > .wrapper > .prices > p{
text-align: center;
}
footer .prices .new_price {
color: #fff;
font-size: 36px;
font-weight: bold;
}
footer .prices {
margin-bottom: 30px;
}
footer .prices .old_price{
color: #fff;
font-size: 22px;
}
footer .prices .old_price > span{
position: relative;
}
footer .prices .old_price > span:before{
content:"";
display: block;
position: absolute;
width: 40%;
height: 2px;
border-bottom: 2px solid #fff;
left: 30%;
top: 46%;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/customselect.png) #ffffff no-repeat 95% 50%;
background-size:20px!important;
}
.btn_sub {
background-color: #c54a00;
border: 0;
text-align: center;
width: 100%;
color: #fff;
padding: 20px 0;
cursor: pointer;
font-weight: bold;
font-size: 16px;
margin-top: 20px;
}
#last_abs {
display: block;
margin: 0 auto;
}
.pop_up {
  display: none;
  position: absolute;
  z-index: 999;
  right: -20px;
  bottom: 0;
  width: 100%;
  background-color: rgba(10, 0, 0, 0.72);
  text-align: center;
  height: 100%;
  padding: 20px;
}
.pop_up > div > p {
  font-size: 23px;
  color: #B22331;
  text-transform: uppercase;
  background-color: #F7F7F7;
  border: 2px dashed #B22331;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  bottom: 200px;
  padding: 39px 25px 60px;
}
.pop_up > div > p > span{ 
position: absolute;
right: 30px;
bottom: 10px;
  font-size: 20px;
  cursor: pointer;
    color: #1D055E;
}
footer .btn {
width: 100%;
border: 0;
font-size: 24px;
cursor: pointer;
}
/* -------------------------- for fake select ------------------- */

.inp {
background-size: 100% 100%;
background-repeat: no-repeat;
background-color: #fff;
border: 2px solid #fff;
text-indent: 10px;
color: #000;
height: 48px;
padding: 5px 15px 0;
font-size: 15px;
margin-bottom: 15px;
width: 100%;
display: block;
position: relative;
font-family: Tahoma, sans-serif, Arial;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
.select-value {
cursor: pointer;
text-align: left;
line-height: 38px;
position: relative;
}
.select-value:after {
content: "";
width: 27px;
height: 17px;
display: block;
position: absolute;
background-image: url(../img/triangle.png);
background-repeat: no-repeat;
right: 10px;
top: 14px;
}
.select.open .drop_down {
display: block;
}
.drop_down {
z-index: 888;
left: 0px;
top: 35px;
display: none;
position: absolute;
background: #fff;
text-align: left;
width: 100%;
border: 1px solid #dbdbdb;
-webkit-transtion: all 0.2s;
-moz-transtion: all 0.2s;
-o-transtion: all 0.2s;
-ms-transtion: all 0.2s;
transtion: all 0.2s;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
.drop_down div:hover {
color: #fff;
padding-left: 30px;
  background-color: rgb(217, 76, 76);
}
.drop_down div:first-child {
border-top: none;
}
.drop_down div {
z-index: 888;
color: #000;
text-align: left;
cursor: pointer;
padding-left: 15px;
height: 38px;
line-height: 38px;
border-top: 1px solid #fff;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
-ms-transition: all 0.3s;
transition: all 0.3s;
}
/* -------------------------- end of fake select ------------------- */


::-webkit-input-placeholder {color:#000;text-indent: 10px;}
::-moz-placeholder          {color:#000;text-indent: 10px;}/* Firefox 19+ */
:-moz-placeholder           {color:#000;text-indent: 10px;}/* Firefox 18- */
:-ms-input-placeholder      {color:#000;text-indent: 10px;}

/* -------------------------- end of placeholder ------------------- */
.prices{
  margin: 15px 0 0 ;
}
.prices span{
  display: block;
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
}