  .myList {
          padding-left: 50px;
          /* margin-bottom: 30px; */
          list-style-type: decimal;
        }
        .myText {
          padding-bottom: 0px !important;
        }
        .myText1 {
          font-style: italic;
          font-size: 14px;
          line-height: 1.3;
          text-align: center;
          display: block;
        }
        .myText2 {
          font-size: 24px;
          background-color: #FF0;
          padding: 5px 10px;
          display: block;
          margin-bottom: 20px;
          color: #F00;
        }
        .rub-ramka {
          text-indent: 0 !important;
          background: rgba(200, 0, 224, 0.04);
          padding: 6px 13px 18px 13px !important;
          border-radius: 2px;
          border: 4px double rgba(160, 21, 21, 0.32);
          font-family: open sans, arial;
          line-height: 28px;
          font-size: 16px;
          max-width: 80%;
          margin: 0 auto;
          font-weight: 400;
          color: #4a4a4a;
          margin-bottom: 10px;
        }
        .myh4 {
          padding: 6px 4px 4px 5px;
          width: 100%;
          display: table;
          text-indent: 0;
          padding: 9px 0px 6px 12px;
          width: 100%;
          display: table;
          border: 1px dotted #e2e2e2;
          border-right: none;
          color: #313131;
          margin-top: 10px;
          text-transform: uppercase;
          font-size: 12px;
          line-height: 23px;
          margin-bottom: 15px;
          border-radius: 2px;
          border-left: none;
          margin-left: 0;
          font-weight: 600;
          background-color: rgb(245, 254, 245);
          background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgb(234, 180, 180)), color-stop(1, rgb(245, 254, 245)));
          background-image: -webkit-repeating-linear-gradient(0deg, rgb(234, 180, 180) 0%, rgb(245, 254, 245) 100%);
          background-image: repeating-linear-gradient(90deg, rgb(234, 180, 180) 0%, rgb(245, 254, 245) 100%);
          background-image: -ms-repeating-linear-gradient(0deg, rgb(234, 180, 180) 0%, rgba(3, 224, 0, 0.04) 100%);
        }
        a {
          color: inherit;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
        .article__title {
          font: 32px/35px "RussiaLight", sans-serif;
          padding: 4px 0px 0px;
          margin: 10px;
        }
        .article__text {
          font: 16px/24px "OpenSansRegular", sans-serif;
          color: rgb(51, 51, 51);
          padding-left: 0px;
          padding-top: 10px;
        }
        @media (max-width: 1280px) {
          .article__text {
            padding-left: 0px;
          }
        }
        .article__text img {
          max-width: 100%;
        }
        .article__text p {
          /* padding: 0px 0px 30px; */
          text-align: left ! important;
        }
        .article__text a {
          text-decoration: underline;
          color: rgb(0, 149, 218);
        }
        .article__text b,
        .article__text strong {
          font-weight: bold;
        }
        .broadÃƒÆ’Ã¢â‚¬ËœÃƒâ€šÃ‚Âast-item.broadcast-item_current::before {
          content: "";
          display: block;
          position: absolute;
          top: 0px;
          left: 3px;
          background: transparent url("") repeat scroll 0px -1779px;
          width: 24px;
          height: 25px;
        }
        @media (max-width: 530px) {
          .article__title {
            font: 26px/30px "RussiaLight", sans-serif;
            padding: 4px 0px 0px;
          }
        }
        img {
          max-width: 100%;
        }
        a:hover {
          text-decoration: none;
        }html{line-height:1.15;-webkit-text-size-adjust:100%;overflow-x: hidden;}body{margin:0}hr{box-sizing:content-box;height:0;overflow:visible}a{background-color:transparent}b,strong{font-weight:bolder}img{border-style:none}button,input{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button{text-transform:none}button,[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}*{box-sizing:border-box}body{background:#dadde1;margin:0;padding:0;font-family:Helvetica,Arial,sans-serif;font-size:16px;color:#050505}.d-flex{display:flex}.pt{padding-top:13px}.pb{padding-bottom:13px}.main{max-width:700px;background:#fff;margin:0 auto;padding:0 15px}.global_bg img{width:100%}.global_bg{width:100%;max-width:700px;margin:0 auto;line-height:0}#header{display:flex;justify-content:center;align-items:center;position:relative;background:#3b5998;color:#fff;text-align:center;padding:10px 0;text-overflow:ellipsis;white-space:nowrap;width:100%;margin-bottom:-7px}.header-nav{justify-content:stretch;align-items:center}.btn-nav{background:#ebedf0;padding:10px;margin:0 4px;align-items:center;justify-content:center;border-radius:6px}.btn-nav:nth-child(1){flex-basis:100%;align-items:center;justify-content:center;background:#3578e5;margin-left:0}.btn-nav:nth-child(3){margin-right:0}.btn-nav:nth-child(1) img{max-width:18px;margin-right:5px}.btn-nav:nth-child(2) img{max-width:18px}.btn-nav:nth-child(3) img{max-width:18px}.btn-nav:nth-child(2),.btn-nav:nth-child(3){flex-basis:16.67%}.contact{color:white;font-size:14px}.header-status{color:#90949c}#back-icon img{width:100%}#back-icon{position:absolute;left:10px;top:12px;width:17px}#title{box-sizing:border-box;display:inline-block;overflow:hidden;padding-left:50px;padding-right:50px;text-align:center;text-overflow:ellipsis;white-space:nowrap;width:100%}.person{display:flex;align-items:center;justify-content:space-between}.person-inner-left{display:flex;align-items:center;justify-content:space-between}.ava{border-radius:100%;overflow:hidden;background:url("../images/ava.jpg");background-repeat:no-repeat;background-position:center;background-size:cover;margin-right:10px}.ava.big{width:64px;height:64px;min-width:64px;max-width:64px;min-height:64px;max-height:64px}.ava.small{width:40px;height:40px;min-width:40px;max-width:40px;min-height:40px;max-height:40px;margin-right:7px}.info{position:relative;width:max-content}.info-small{position:relative;width:max-content}.info:before{content:"";background:url("../images/33ba6f73a4ea448ee53f5d6d5bb70533fbe695af.png");background-repeat:no-repeat;background-position:center;background-size:cover;width:10px;height:10px;position:absolute;top:4px;right:-13px}.page_type,.like{color:#90949c;font-size:12px;margin-top:4px}.person-inner-right{margin:0 16px}.person-inner-right img{max-width:23px;margin:0 auto;display:block}hr{border:0;color:#dadde1;background-color:#dadde1;height:2px;margin:0}.globe:after{content:"";background:url("../images/3877907a56d8f268e2af73fe1de943263784e768.png");background-repeat:no-repeat;background-position:center;background-size:cover;width:10px;height:10px;position:absolute;top:5px;right:-13px}#state_close{background:white;display:flex;align-items:center;justify-content:space-around;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;padding:10px;color:gray;margin:23px -15px}#state_close_prev{background:white;display:flex;align-items:center;justify-content:end;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;padding:10px;color:gray;margin:-24px -15px 18px -15px}#state_close_prev img{width:21px}#state_close_prev img:nth-child(2){position:relative;left:-9px}@media screen and (max-width:320px){.info:before{display:none}}@media screen and (max-width:340px){.like-hidden{display:none}}#comments_component{margin:0 0 0 -7px;font-family:sans-serif;padding-bottom:15px;display:none}#comments_component .item{width:100%;display:flex;flex-direction:row;margin:0 0 20px 0}#comments_component .component_ava{background-size:100% 100%;-webkit-background-size:100% 100%;width:36px;height:36px;min-width:36px;min-height:36px;overflow:hidden;border-radius:100%;margin:0 10px 0 0}#comments_component .component_info{width:100%;display:flex;flex-direction:row;align-items:flex-end;margin:0 0 5px 0}#comments_component .component_info_inner{background-color:#ebedf0;border-radius:18px;display:inline-block;line-height:16px;margin-top:0;min-width:0;overflow:hidden;padding:6px 12px 7px 12px}#comments_component .component_name{color:#000;font-weight:600;font-size:12px;margin:0 0 3px 3px;text-decoration:none}#comments_component .component_licked{position:relative;bottom:3px;left:0;display:flex}.component_body{width:100%}.component_reposy{color:#929292;font-weight:600;font-size:12px;margin:6px 0 0 12px;display:flex;flex-wrap:wrap}.component_reposy b{font-weight:100;word-spacing:0 !important;color:#757575}.component_img{width: 62%;border-radius:18px;overflow:hidden;margin:7px 0 6px 0;height:auto}.component_img img{width:100%;display:flex;height:auto;transition:all 3s ease-in}.component_licked{background:#fff;border-radius:10px;box-shadow:1px 1px 3px 0 #dadde1;color:#909192;font-size:11px;font-weight:normal;height:20px;line-height:20px;margin-left:-10px;padding-right:4px;transform:translateY(-6px);z-index:5}#comments_component a{font-weight:600;text-decoration:none;color:#232323}.icons{white-space:nowrap;display:flex;margin:0}.icons .fb_licked{background-image:url("../images/d5452d4fb9e10cbc78fcadf492504a3085fffc89.png");background-size:103px 328px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px;border-radius:100%;border:2px solid #fff}.l{background-position:-51px -266px;z-index:4}.u{background-position:0 -283px;margin-left:-6px;z-index:3}.s{background-position:-68px -266px;margin-left:-6px}.component_reposy{cursor:pointer}.component_text a:hover,.component_reposy nav:hover{text-decoration:underline !important}.component_reposy nav{display:inline;margin:0 0 0 16px;font-weight:600}#comments_component p{margin:0}#comments_component .component_name,#comments_component .component_text,#comments_component .component_reposy,.component_licked span{font-style:normal}.icons .fb_licked{height:21px;width:20px}#form-wrap{max-width:400px;margin:0 auto}#product-bg-wrap{margin:-10px 0 -130px 0;width:100%}#product-bg{position:relative;width:80%;margin:0 auto}#product-bg img{width:100%}#form{max-width:100%;box-shadow: 0 4px 10px 10px #00000026;border-radius:5px;margin-bottom: 39px !important;}#form{max-width:400px;margin:0 auto}#form input,#form button,#form label,#form form{width:100%}#form form{padding:130px 15px 25px 15px;display:flex;flex-direction:column}#form label{text-align:center}#form .example{text-align:left;font-size:13px;color:#969696}#form .example em{color:#000}#form button{text-transform:uppercase}#form form input{height:50px;font-size: 20px;margin:0 0 0px 0;padding-left:10px;color:gray}#form form input:focus{color:black}#form form button{height:80px;font-size:30px;background:#3578e5;background:linear-gradient(90deg,#041e37 0,rgba(9,70,121,1) 35%,#5181b0 100%);color:white;border:0}#form form input,#form form button{border-radius:5px}
#product-bg {
    width: 50%;
}

#product-bg-wrap {
    /* margin: 1px 0 -130px 8px; */
}
#order_form {
  padding: 55px 20px;
  max-width: 662px;
  font-family: Arial;
  margin: 0px auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 4% 23px, center;
  text-align: center;
}

#order_form h2 {
  margin: 0px 0px 25px;
  padding: 0px;
  line-height: 32px;
}

#order_form label {
  width: 493px;
  display: inline-block;
  padding: 5px 0px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  line-height: 14px;
}

#order_form .order_form_pole {
  /* padding: 10px; */
}

#order_form input {
  font-size: 21px;
  padding: 15px;
  border-radius: 3px;
  border: 2px solid #e9d7dc;
  max-width: 353px;
  width: 100%;
}

#order_form button {
  box-shadow: 0px 1px 0px 0px rgb(245, 151, 142) inset;
  background: rgb(242, 69, 55);
  border-radius: 3px;
  border: 1px solid rgb(208, 39, 24);
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 24px;
  font-weight: 500;
  padding: 16px 21px 16px 21px;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgb(129, 14, 5);
  margin-top: 25px;
  transition: 0.2s;
  line-height: 30px;
  font-family: roboto condensed;
  font-size: 26px;
  font-weight: 600;
}

#order_form button:hover {
  background: rgb(198, 45, 31);
}

#order_form button:active {
  position: relative;
  top: 1px;
}

/* @media (min-width: 600px) and (max-width: 739px) {
  #order_form {
    padding: 20px !important;
    margin: 0px -12px !important;
    padding-bottom: 116px !important;
    margin-bottom: 0px !important;
  }
  
} */

/* @media (min-width: 460px) and (max-width: 599px) {
  #order_form {
    padding: 20px !important;
    margin: 0px -26px !important;
    padding-bottom: 160px !important;
    margin-bottom: -190px !important;
  }
} */

/* #order_form div {
  background: transparent !important;
} */

#order_form h2 {
  font-weight: 700;
  margin: 15px 0 0 0;
  padding: 0px;
  line-height: 32px;
  border: none;
  font-size: 26px;
}

#order_form label {
  width: 230px;
  margin: 0 auto;
  display: block;
  padding: 5px 0 5px 0;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
}

#order_form .order_form_pole {
  /* padding: 10px; */
  display: block;
}

#order_form button {
  display: inline-block;

  padding: 20px;

  color: #fff;

  font-weight: 700;

  text-decoration: none;

  box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);

  border-radius: 5px;

  background-color: #0299ff;

  background-position: 1.35em 0.94em;

  background-size: 1em;

  background-repeat: no-repeat;

  transition: all 0.15s ease-in-out;

  border: none;

  cursor: pointer;

  font-size: 20px;

  margin-top: 20px;
  font-family: sans-serif;
}

#order_form button:hover {
  background-color: #017acc;
}

#order_form button:active {
  position: relative;

  top: 1px;
}

@media screen and (max-width: 480px) {
  .component_img{
    width: 100%;
  }
  #order_form input {
  }

  #order_form label {
    font-size: 14px;
  }

  #order_form button {
    font-size: 16px;
  }

  #order_form {
    padding: 50px 10px;
    padding-bottom: 30px;
    margin-bottom: 0px;
  }

  #order_form .order_form_pole {
    padding: 0px;

    margin: 2px;
  }
}

@media screen and (max-width: 459px) {
  #order_form input {
    width: 100%;
  }

  
}

@media screen and (max-width: 349px) {
  #order_form input {
    font-size: 21px;
  }

  #order_form button {
    margin-left: 0px;
  }
}

.additional {
  font-size: 12px;
}

.blue-border {
  margin: 15px 10px 10px;
  border: 2px solid #0299ff;
  padding: 10px;
  font-size: 12px;
}
.prod {
display: block;
margin-left: auto;
margin-right: auto;
padding: 0 0px;
}

