html {
    font-family: 'Raleway', sans-serif;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    margin: 0
}

aside,
footer,
main,
nav {
    display: block
}

a {
    background-color: transparent
}


.logo {
    display: block;
    background: url("logo_head.png") no-repeat 0 0
}

@media (max-width: 900px) {
    .top-menu__ads,
    top-menu {
        text-align: center;
    }
}

.logo_full-menu {
    height: 55px;
    width: 120px;
    margin: 40px auto auto 50px;
    background-size: 120px 55px
}

.logo_footer {
    display: inline-block;
    height: 60px;
    width: 130px;
    background-size: 130px 60px
}

.logo_top-menu {
    display: inline-block;
    height: 83px;
    width: 180px;
    background-size: 180px 82px;
    margin: 23px 0 20px 20px
}


a:active,
a:hover {
    outline: 0;
    text-decoration: none;
    color: #222222;
}

b {
    font-weight: 700
}

h1 {
    font-size: 30px;
    margin: 0.67em 0
}

img {
    border: 0;
  max-width: 100%;
}

input {
    color: inherit;
    font: inherit;
    margin: 0
}

input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td {
    padding: 0
}

*:focus {
    outline: 0 none
}

*:invalid {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

a {
    color: #d31900;
    font-weight: 700;
}

a:hover {
    color: #000;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.menu__link {
    padding: 0 10px;
    font-size: 11px;
    letter-spacing: 0.28px;
    text-decoration: none;
    line-height: 40px;
    text-transform: uppercase;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s
}

.menu__link-item {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    line-height: 18px;
    padding: 0 9px;
    white-space: nowrap
}

.menu__link-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    left: auto;
    width: 1px;
    border-right: 1px dotted #ea8884
}

.menu__link_active {
    background: #aa1300
}

.menu__link_menu-footer {
    line-height: 43px
}

.menu__link_top-menu {
    position: relative;
    display: table-cell;
    list-style-type: none;
    padding: 0
}

.menu__link_top-menu:not(:first-of-type) {
    margin-left: 1px
}

.menu__link_top-menu:last-of-type .menu__link-item::after {
    border-right: none
}

.menu__hot {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden
}

.menu__hot-wrapper {
    height: 45px;
    white-space: nowrap;
    padding: 0 10px 0 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #000000
}

.menu__hot-link {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    text-decoration: none;
    margin-left: 20px;
    line-height: 43px
}

.menu__hot-link_grey {
    margin-left: 0;
    color: #999999;
    font-style: italic
}

.menu__hot-link_grey:hover {
    text-decoration: none
}

.menu_menu-footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 40px;
    color: #666666;
    text-align: center;
    background: #efefef
}

.menu_top-menu {
    display: table;
    width: 100%;
    background: #d31900;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #aa1300
}

.menu_top-menu span {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding-top: 3px
}

.page__header-mini {
    display: block;
    margin-bottom: 13px;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 1.1px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none
}

.intresting-event {
  width: 200px;
  margin: 0 auto;
}

.page__header-mini span {
    color: red
}

.subscribe .page__header-mini {
    font-size: 18px
}

.page__header-mini_aside {
    font-size: 18px;
    text-align: center
}

.page__header_center {
    text-align: center
}

.page__arrow-mini {
    position: absolute;
    top: 10px;
    right: 11px !important;
    font-size: 9px;
    font-weight: 700;
    height: 9px;
    width: 6px
}

.page__aside-top5 {
    margin: 20px 0;
    text-align: center
}

.page__table {
    width: 100%;
}

.page__table-td:first-of-type {
    padding-left: 20px;
    width: 52px;
    line-height: 35px;
    font-weight: 600
}

.page__table-td_top {
    vertical-align: top
}

.page__table_grey {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 40px;
    border: 10px solid transparent;
    border-left-width: 0;
    border-spacing: 0 10px;
    border-collapse: separate;
    background: #f6f6f6
}

.page_margin-b_30 {
    margin-bottom: 30px
}

.column {
    float: left
}

.column__container {
    width: 1000px;
    margin: 0 auto
}

.column__wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex
}

.column__wrapper::after {
    clear: both;
    content: "";
    display: table
}

.column__wrapper_pad-t_20 {
    padding-top: 20px;
    background: #ffffff;
}

.column_300 {
    width: 300px
}

.column_300.column_border_left {
    width: 301px
}

.column_680 {
    width: 75%;
    margin-right: 20px
}

.column_border_left {
    border-left: 1px solid #ededed
}

.column_pad-r_20 {
    padding-right: 20px;
    padding-left: 40px;
}

.footer {
    padding-bottom: 15px;
    background: #e4e4e4
}

.footer__inner {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center
}

.footer__gotop {
    position: fixed;
    bottom: 0;
    right: 60px;
    height: 47px;
    width: 50px;
    background: #f4f4f4;
    border-top: 2px solid #dfdfdf;
    cursor: pointer;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s
}

.footer__gotop:hover {
    background: #e7e7e7
}

.footer__gotop::after {
    content: '';
    height: 11px;
    width: 11px;
    color: #e05e4c;
    border-top: 1px solid #e05e4c;
    border-left: 1px solid #e05e4c;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: auto;
    left: 0;
    -webkit-transform: translateY(-34%) rotate(45deg);
    -ms-transform: translateY(-34%) rotate(45deg);
    -moz-transform: translateY(-34%) rotate(45deg);
    -o-transform: translateY(-34%) rotate(45deg);
    transform: translateY(-34%) rotate(45deg);
    margin: auto
}

.input {
    padding: 0 10px;
    border: none;
    background: transparent
}

.input:invalid {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.input::-webkit-input-placeholder {
    font-size: 13px
}

.input::-moz-placeholder {
    font-size: 13px
}

.input:-ms-input-placeholder {
    font-size: 13px
}

.input:-moz-placeholder {
    font-size: 13px
}

.input::placeholder {
    font-size: 13px
}

.input:focus::-webkit-input-placeholder {
    color: transparent
}

.input:focus::-moz-placeholder {
    color: transparent
}

.input:focus:-ms-input-placeholder {
    color: transparent
}

.input:focus:-moz-placeholder {
    color: transparent
}

.input:focus::placeholder {
    color: transparent
}

.input_subscribe-submit {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px
}

.input_subscribe {
    width: 230px;
    padding: 0 8px;
    line-height: 30px;
    height: 30px;
    font-size: 14px
}

.input_subscribe::-webkit-input-placeholder {
    color: #aaaaaa;
    font-style: italic
}

.input_subscribe::-moz-placeholder {
    color: #aaaaaa;
    font-style: italic
}

.input_subscribe:-ms-input-placeholder {
    color: #aaaaaa;
    font-style: italic
}

.input_subscribe:-moz-placeholder {
    color: #aaaaaa;
    font-style: italic
}

.input_subscribe::placeholder {
    color: #aaaaaa;
    font-style: italic
}

.top5 {
    padding: 0 20px;
    margin: 0;
    counter-reset: li
}

.top5__item {
    position: relative;
    list-style-type: none;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 30px;
    padding-left: 40px;
    text-align: left;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s
}

.top5__item::after {
    position: absolute;
    top: 12px;
    right: auto;
    bottom: auto;
    left: 0;
    content: counter(li);
    counter-increment: li;
    font-size: 48px;
    font-weight: 700;
    color: #e2e2e2
}

.social__item_arrow-1-right {
    right: 0
}

.subscribe {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 0 20px
}

.subscribe .page__header-mini:last-of-type {
    display: none
}

.search__item {
    display: inline-block;
    height: 35px;
    margin: 0 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    padding: 0 9px;
    border: 1px solid #d8d8d8;
    background: #ffffff;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    text-decoration: none
}

.search__item:hover {
    color: red
}

aside.column_300 {
    position: relative
}

body {
    background: url('background.jpg') no-repeat fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.next-button {
    text-decoration: none;
    color: red;
    border: 2px solid #000000;
    background: none;
    padding: 10px;
}

.most-intresting {
    text-align: center;
    padding: 0 15px;
}

.image-wrapper {
    text-align: center;
}

.image-wrapper img {
    max-width: 100%;
}

.order-box {
    text-align: center;
    margin: 40px;
}

.order-now {
    display: inline-block;
    color: #ffffff !important;
    background: #d31900;
    text-transform: uppercase;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 700;
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    -o-transition: all .9s;
    transition: all .9s;
}

.big-butt-on {
    font-size: 35px;
}

.order-now:hover {
    background: #aa1300;
}

.comment {
    border-bottom: 1px solid gray;
    margin: 25px 0;
    padding-bottom: 15px;
}

.comment:last-child {
    border-bottom: none;
}

.comm-avatar {
    float: left;
}

.comm-area {
    margin-left: 60px;
}

.comm-header {
    position: relative;
    font-weight: 700;
}

.comm-body {
    margin-top: 7px;
}

.comm-area p {
    margin: 0;
}

.comm-area .data {
    font-size: 12px;
    color: #888888;
    font-weight: 400;
}

.comm-body img {
    display: block;
    max-width: 100%;
    margin: 10px auto 0;
}

.content {
    margin-top: -20px;
}


@media all and (max-width: 480px) {
    .footer__gotop {
        right: 25px;
    }
    h1 {
        text-align: center;
    }
    .column_pad-r_20 {
        padding-left: 20px;
        margin-right: 0;
    }
}

.intresting-event a {
    text-decoration: none;
}

.copyright {
    padding: 10px 15px 0;
    font-size: 14px;
    text-align: center;
    color: #222222;
}

.column_680 .link {
    color: #0a78c2;
}

@media only screen and (max-width: 1100px) {
    body {
        background-image: none;
    }
    .menu_top-menu {
        display: block;
    }
    .menu__link_top-menu {
        display: inline-block;
    }
    .menu__hot-wrapper,
    .menu_menu-footer {
        display: none;
    }
    .footer {
        min-height: 0;
    }
    .menu__link-item::after {
        right: -3px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .column__container {
        width: 976px;
    }
}

@media only screen and (max-width: 991px) {
    .comm-area {
      margin-left: 0;
    }
    .comm-body {
      margin-top: 20px;
    }
    .comm-header {
      margin-left: 60px;
      padding-top: 5px;
    }
    .column__container {
        width: 675px;
    }
    .column_300.column_border_left {
        display: none;
    }
    .column_680 {
        margin-right: 0;
        width: auto;
    }
    .column_pad-r_20 {
        padding-right: 15px;
        padding-left: 15px;
    }
    .menu_top-menu {
        text-align: center;
    }
    .menu__link_top-menu:nth-child(n+7) {
        display: none;
    }
    .comment:nth-last-child(n+5) {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .column_300.column_border_left,
    .menu_top-menu {
        display: none;
    }
    .column__wrapper_pad-t_20 {
        padding-top: 0;
    }
    h1 {
        text-align: center;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 699px) {
    .column__container {
        width: 100%;
    }
    .order-box {
        margin: 20px;
    }
    h1 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 21px;
    }
}