/*! CSS Used from: http://optiheart/css/p-styles.css */
.comments {
  margin-bottom: 40px;
}

.comments__title {
  margin-bottom: 20px;
  font-size: 2rem;
}

.comment:not(:last-child) {
  margin-bottom: 30px;
}

.comment__top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment__avatar {
  margin-right: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.comment__info {
  margin-right: auto;
}

.comment__author {
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
}

.comment__time {
  margin-top: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  white-space: nowrap;
}

.comment__text {
  margin: 0;
}

.comment__stars {
  display: flex;
}

.comment__stars>.star {
  flex-shrink: 0;
  margin-right: 7px;
  width: 20px;
  height: 20px;
  fill: rgb(245, 195, 16);
}

.comment__rating {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
}

.comment__content {
  font-size: 17px;
}

.comment__text~.comment__img {
  margin-top: 10px;
}

.comment__img {
  max-height: 200px;
}

.comment__link {
  position: relative;
  font-weight: 700;
  text-decoration: none;
  color: rgb(224, 62, 82);
}