*, :before, :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  -webkit-text-size-adjust: 100%; }

a {
  font-weight: bold;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

.js_errorMessage{
    z-index: 11
}
img {
  display: block;
  max-width: 100%; }

ul, ol {
  list-style: none; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: #000;
  color: #8C8C8C; }

.wrapper {
  overflow: hidden; }

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  background: #1B1B1B;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid rgba(140, 140, 140, 0.5); }

.header__wrap {
  display: table;
  width: 100%;
  border-bottom: 1px solid #242424;
  padding: 15px 0; }

.header__cell {
  display: table-cell;
  vertical-align: middle; }

.logo {
  display: block;
  font-size: 24px;
  color: #fff;
  padding-left: 35px;
  position: relative;
  text-decoration: none; }

.logo:before {
  content: '';
  background: url("../img/logo.png") center no-repeat;
  width: 31px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -12px 0 0; }

nav {
  display: none; }

.search {
  display: none; }

.mobile-menu {
  display: block;
  margin-left: auto;
  width: 16px;
  height: 14px;
  border: solid #8C8C8C;
  border-width: 2px 0;
  position: relative; }

.mobile-menu:before {
  content: '';
  width: 100%;
  height: 2px;
  background: #8C8C8C;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px; }

.mobile-menu:hover {
  border-color: #F59926; }

.mobile-menu:hover:before {
  background: #F59926; }

.main h1 {
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  padding: 30px 0 0; }

.main__text {
  line-height: 1.5;
  padding: 5px 0; }

.main__text a {
  color: #F59926; }

.order {
  padding-bottom: 30px; }

.order__photo {
  margin: 15px auto; }

form {
  margin: 0 auto; }

.price {
  padding: 10px;
}

.price__item {
  text-align: center;
}

.price__item_old {
  font-size: 18px;
  text-decoration: line-through;
}

.price__item_new {
  font-size: 24px;
  font-weight: bold;
  color: #F59926;
}

.form__field {
  border-radius: 8px;
  position: relative;
  margin-bottom: 15px; }

.form__field_select:before {
  content: '';
  border: 5px solid transparent;
  border-top-color: #8C8C8C;
  position: absolute;
  top: 50%;
  right: 0;
  margin: -2px 15px 0 0; }

select, option, input {
  display: block;
  width: 100%;
  padding: 15px;
  color: #8C8C8C;
  font-size: 16px;
  position: relative;
  background: none;
  z-index: 5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #8C8C8C;
  border-radius: 8px; }

select::-ms-expand {
  display: none;
}

input {
  color: #fff; }

select:focus, input:focus {
  border-color: #F59926; }

.button__wrap {
  text-align: center;
  padding: 30px 0; }

form .button__wrap {
  padding: 0; }

.button {
  font-family: 'Montserrat', sans-serif;
  background: #F59926;
  -webkit-box-shadow: 0 2px 8px rgba(245, 153, 38, 0.3);
          box-shadow: 0 2px 8px rgba(245, 153, 38, 0.3);
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  min-width: 160px;
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.button:hover {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: 0 4px 8px 3px rgba(245, 153, 38, 0.5);
          box-shadow: 0 4px 8px 3px rgba(245, 153, 38, 0.5); }

.main__set {
  padding: 15px 0;
  font-size: 0;
  text-align: center; }

.main__set img {
  display: block;
  margin: 0 auto 15px; }

.comments {
  padding: 25px 0 0; }

.comments__item {
  padding: 10px 0 15px; }

.comments__avatar {
  padding-right: 15px;
  display: inline-block;
  vertical-align: top; }

.comments__avatar img {
  width: 40px;
  border-radius: 50%; }

.comments__content {
  width: 75%;
  display: inline-block;
  vertical-align: top; }

.comments__name {
  font-weight: bold;
  color: #fff; }

.comments__date {
  font-size: 14px;
  padding: 5px 0; }

.comments__text {
  line-height: 1.5;
  padding: 10px 0; }

.comments__text a {
  color: #F59926; }

.comments__photo {
  margin-bottom: 10px; }

.comments__answer {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  font-weight: normal; }

.comments__answer span {
  display: inline-block;
  vertical-align: middle; }

.comments__answer svg {
  display: block;
  width: 6px;
  height: 6px; }

aside {
  display: none; }

footer p {
  padding: 20px;
  text-align: center; }

footer .container {
  border: none; }
.img-box {
    max-width: 258px;
    margin: 0 auto;
    display: block;
    position: relative;
}
.img-box img{
  display: block;
}
.rhino {
    position: absolute;
    left: 6%;
    top: 28%;
}.aside__item a {
  text-decoration: none;
}