
<section class="section section_care">
    <div class="container">
        <div class="care">
            <div class="section__title care__title" data-aos="fade-up">intenskin</div>
            <div class="section__subtitle care__subtitle" data-aos="fade-up">профессиональный уход в три этапа</div>
            <div class="care__body">
                <div class="care__item">
                    <div class="care__item-title">
                        <span>Подтяжка</span>
                        <div class="care__count">1</div>
                    </div>
                    <div class="care__item-description">Проникая в глубокие слои кожи, активные компоненты крема активизируют естественную выработку коллагена и эластина. За счет этого подтягивается овал лица и улучшается структура кожи. </div>
                </div>
                <div class="care__item">
                    <div class="care__item-title">
                        <span>Разглаживание морщин</span>
                        <div class="care__count">2</div>
                    </div>
                    <div class="care__item-description">Растительные компоненты наполняют кожу необходимыми витаминами и микроэлементами, восполняют естественный водный баланс, ускоряют приток крови, способствуя улучшению цвета лица и разглаживанию морщин.</div>
                </div>
                <div class="care__item">
                    <div class="care__item-title">
                        <span>Отбеливание</span>
                        <div class="care__count">3</div>
                    </div>
                    <div class="care__item-description">Ингредиенты крема подавляют выработку меланина, благодаря чему пигментные пятна становятся светлее и тон кожи выравнивается.</div>
                </div>
            </div>
        </div>
    </div>
</section>
