html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

* {
    margin: 0;
    padding: 0
}

html,
body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth
}

body {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
    background: #f7f7f7 none repeat scroll 0 0
}

a {
    color: #1697ce
}

a:hover {
    color: #b0493b
}

a img {
    border: medium none
}

a:focus {
    outline: medium none
}

h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 14px
}

.alex_zevsa_wcih4ECQW {
    position: relative;
    margin: 0 auto;
    width: 960px;
    padding: 0 20px
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table
}

.clearfix::after {
    clear: both
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
    font-family: PFDinTextCondProMedium, Helvetica, Arial !important
}

.renul_seDwyoGn57 .dvksub_rYPIQ4ET,
.zhanna_86_o5IKudBv h2 {
    font-family: PFDinTextCondProRegular, Helvetica, Arial !important
}

.katyakoncakova_FtFDdVex {
    position: relative;
    z-index: 15
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
    float: left;
    width: 360px;
    text-decoration: none;
    color: #000;
    display: block;
    position: relative
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC img {
    width: 250px;
    margin: 10px
}

.katyakoncakova_FtFDdVex .vasilusya_rfYcdWbD {
    float: right;
    font-size: 12px;
    margin-top: 5px
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
    width: 330px;
    float: right;
    margin-top: 60px
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .mansurovan_vUZn4RQN {
    text-align: right;
    font-size: 12px;
    text-transform: uppercase;
    float: right
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .Dulov_V_V_du3BxPsUO {
    font-weight: 700;
    color: #353746
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN a {
    color: #353744
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN a:hover {
    color: #b0493d
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .udav_t_slEtc0GR {
    margin: 0 5px
}

.alstep54_sglCGFT6q {
    font-size: 12px;
    text-align: center
}

.renul_seDwyoGn57 h2 {
    font-weight: 700;
    font-size: 36px;
    margin-top: 15px;
    color: red
}

.renul_seDwyoGn57 .dvksub_rYPIQ4ET {
    color: #6c6e7e;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 {
    margin-top: 25px;
    color: #6c6e7a;
    line-height: 1.5;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #b9b9b9;
    font-size: 18px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p {
    color: #000;
    font-size: 18px;
    margin: 20px 10px;
    line-height: 26px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .swetlana40_GWDvkz8Tqs {
    text-indent: 0;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 22px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .maki555_e4AaJE9jYG {
    margin-top: 5px;
    font-size: 15px;
    line-height: 20px;
    padding: 10px;
    background: #d7d7d7 none repeat scroll 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75)
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .udalykhnn_av3FDRJhB {
    text-align: center
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .AGB_yQobO46Dw {
    margin-top: 10px;
    font-size: 13px;
    color: #a1a1a2
}

.renul_seDwyoGn57 .gelat_Bb6MhOHv {
    text-align: center;
    float: left;
    padding: 0 30px 10px 0;
    font-size: 12px;
    font-style: italic;
    color: #a1a1a8
}

.renul_seDwyoGn57 .gelat_Bb6MhOHv .ewa-b_p5sjGkxr1 {
    margin-top: 5px
}

.zhanna_86_o5IKudBv {
    background: #fff none repeat scroll 0 0;
    padding: 5px;
    margin: 0 0 50px
}

.zhanna_86_o5IKudBv h2 {
    font-size: 27px;
    line-height: 27px;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px
}

.altakansk_YrlOq5h6N {
    font-family: Arial;
    color: #6c6e83;
    margin: 0 5px
}

.dmavrodi_yjLIBb2Q {
    position: relative;
    z-index: 10
}

.sazonov66_g9ysODlqt {
    margin-bottom: -340px;
    min-height: 100%;
    position: relative;
    background: #104c04
}

.vk-container {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 15px;
    color: #000;
    text-decoration: none
}

.vk-header {
    background: #dae2e8 none repeat scroll 0 0;
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px
}

.vk-logo {
    background: transparent none no-repeat scroll 0 0;
    width: 16px;
    height: 16px;
    float: right;
    margin-top: -1px
}

.vk-header-text {
    padding: 2px 3px 1px;
    line-height: 100%;
    color: #45688e;
    font-weight: 700
}

.vk-avatar img {
    float: left;
    margin-right: 10px;
    width: 50px
}

.vk-comment,
.vk-comment-load {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid #dae1e8;
    padding-bottom: 15px
}

.vk-comment-name {
    color: #2b587a;
    font-weight: 700;
    font-size: 12px
}

.vk-comment-text {
    margin-left: 60px
}

.vk-comment-date {
    margin-left: 60px;
    color: #999
}

@media screen and (max-width: 1020px) {
    .alex_zevsa_wcih4ECQW {
        width: auto
    }

    .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
        width: 180px
    }

    body img {
        max-width: 100%
    }
}

@media screen and (max-width: 720px) {
    .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
        display: none
    }

    .renul_seDwyoGn57 .gelat_Bb6MhOHv {
        margin: 0 auto;
        padding-right: 0;
        float: none
    }

    .renul_seDwyoGn57 .gelat_Bb6MhOHv>img {
        display: block;
        margin: 0 auto
    }
}

@media screen and (max-width: 420px) {
    .zhanna_86_o5IKudBv {
        padding-left: 10px;
        padding-right: 10px
    }

    .udalykhnn_av3FDRJhB img,
    body img {
        max-width: 100%
    }

    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
        width: 320px;
        text-align: center
    }

    .alex_zevsa_wcih4ECQW {
        padding: 0
    }
}

.best-form {
    font: 16px/1.2 Arial;
    padding: 1rem;
    padding-bottom: 40px;
    color: #fff;
    background-color: #b7e2ff;
    border: 10px solid #daf0ff;
    background-size: cover
}

.best-form>.wrap {
    max-width: 300px;
    margin: 0 auto
}

.product {
    display: flex
}

.product .left {
    width: 100%
}

img {
    transition: filter 1s
}

.countdown-block {
    text-align: center;
    background: #fff500;
    color: #fff;
    padding: 10px 0
}

.countdown-container {
    max-width: 320px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px
}

.countdown-container .redd {
    color: red;
    font-weight: 800;
    font-size: 30px;
    margin: 0 auto 20px
}

.countdown-container h3 {
    color: #000;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    font-family: Roboto
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 39px;
    line-height: 1
}

.countdown-item {
    color: red;
    width: 5rem;
    font-weight: 800
}

.countdown-divider {
    color: #000;
    width: 1rem
}

.countdown-text {
    margin: 0 auto;
    margin-bottom: -8px;
    width: 90%;
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: Roboto
}

.countdown-text span {
    width: 4rem;
    margin-right: 2rem
}

.countdown-text span:last-child {
    margin-right: 0
}

.product-img {
    max-width: 280px
}

.doctor-img {
    max-width: 420px
}

.footer {
    color: #fff;
    padding: 20px;
    font-size: 12px;
    text-align: center
}

@media screen and (max-width: 767px) {
    .doctor-img {
        max-width: 100%
    }
}

.red {
    color: red
}

.dark {
    color: #000
}

.cntr {
    text-align: center;
    position: relative;
}

.imgg {
    max-width: 100%;
    width: 350px;
    margin-top: 10px
}

.list {
    padding-left: 30px
}

.inL_512814 {
    background-color: #e2e2e2;
    padding: 10px
}

.inL_129732 {
    max-width: 350px;
    width: 100%
}

.inL_278440 {
    clear: both
}

.inL_957431 {
    max-width: 600px;
    width: 100%
}

.inL_802548 {
    max-width: 600px;
    width: 100%
}

.inL_459508 {
    clear: both
}

.inL_208221 {
    text-indent: 0;
    text-align: left
}

.inL_297232 {
    background-color: #e2e2e2;
    padding: 10px
}

.inL_763776 {
    clear: both
}

.inL_930862 {
    text-align: left
}

@media (max-width: 480px) {
    .zhanna_86_o5IKudBv {
        margin: 0
    }
}

.forma {
    display: block;
    max-width: 600px;
    margin: 10px auto
}

.plus18 {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 600px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    transform: translateX(-50%);
    left: 50%;
    cursor: pointer;
}

.dn {
    opacity: 0
}