@import url("css-2.css");

.img-wrapper {
    width: 100%;
    height: auto;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portal-article h2+span i {
    font-size: 18px;
}

.portal-article ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0px;
}

.portal-article ul li {
    width: calc((100% / 5) - 10px);
    min-width: 160px;
    margin: 10px 5px;
    box-shadow: 0 0 2px 1px rgba(153,153,153,.3);
    border-radius: 10px; 
}

.portal-article ul .img-wrapper {
    height: 100px;
}

.portal-article ul .block_text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(100% - 120px);  
}

.portal-article ul .percent {
    display: inline-block;
    margin-top: 10px;
    padding-left: 15px;
    color: #4f618c;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    position: relative;
}

.portal-article ul .percent:before {
    content: url("../img/arrow_min.png");
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-25%);
}

.portal-article ul .percent sup {
    font-size: 16px;
}

.product {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

.product .img-wrapper {
    width: 100%;
    min-width: 320px;
    max-width: 500px;
    flex-shrink: 4;
    box-sizing: border-box;
    margin: 0 auto;
}

.product_text {
    width: 100%;
    padding: 20px;
    max-width: 320px;
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.product_text .percent{
    color: #4f618c;
    font-size: 90px;
    line-height: 1;
    position: relative;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    display: inline-block;
    margin: 15px 0;
}

.product_text .percent:before {
    content: url("../img/arrow_max.png");
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-20%,-70%);  
}

.product_text .percent sup {
    font-size: 60px;
}

.product_head {
    font-size: 18px;
}

.accent-text {
    display: inline-block;
    position: relative;
    padding: 20px 0;
    margin-bottom: 20px;
}

.accent-text p {
    color: #fff;
    margin: 0;
    position: relative;
    z-index: 2;
    padding-right: 20px;
    padding-left: 10px;
}

.accent-text p span {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
}

.accent-text:before{
    content: '';
    position: absolute;
    height: 100%;
    width: calc(50vw + 50%);
    right: 0px;
    top: 0;
    background-color: #4f618c;
    z-index: 1;
}

.comments ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.comments li + * {
    margin-top: 20px;
}

.com_img {
    width: 135px;
    height: 135px;
    flex-shrink: 0;
}

@media (max-width: 520px) {
    .com_img {
        width: 70px;
        height: 70px;
    }
}

.com_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.com_text {
    margin-left: 20px;
}

.com_head {
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

.com_text .stars-rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wrapper-link {
    text-align: right;
}

@media (max-width: 700px){
    .wrapper-link {
        text-align: center;
    } 
}

.go-to {
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #455377, #6278ac);
    color: white;
    text-decoration: none;
    transition: color .3s;
    display: inline-block;
    margin: 10px 0 20px auto;
}

.go-to:hover {
    color: #f5af10;
}

.go-to:active {
    background: #42a856;
}
.copyright {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.copyright a {
    margin: 0 20px;
}
.page-footer .soc-block .soc-icons {
 
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-end;
    align-self: center;
}
.page-footer .soc-block {

    display: flex;
    flex-flow: row nowrap;
}
.footer_wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
@media (max-width: 450px){
    .page-footer .footer-menu ul li {
        margin: 0px 6px;
    }
}
.menu.wrapper {
    display: flex;
    flex-flow: row nowrap;
}

@media (max-width: 640px){
    .product {
        flex-flow: row wrap;
    }
    .product .img-wrapper {
        display: flex;
        justify-content: center;
    }
}