
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/montserrat-v15-latin-ext_cyrillic-ext-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v15-latin-ext_cyrillic-ext-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.list{
    margin-left: 25px;
}
h1 {
    display: block;
    width: auto;
    line-height: 1.2;
    color: rgb(10, 10, 10);
    font-size: 23px;
}
img {
    max-width: 100%;
}
p{
    padding: 0;
    margin: 0;
}

h2 {
    display: block;
    line-height: 1.2;
    color: rgb(10, 10, 10);
    font-size: 19px;
    margin-top: 25px;
}
.small{
    font-style: italic;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 15px;
    text-align: center;
}
.red{
    color: red
}

.ingr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    border: 3px double #C0C0C0;
    padding: 20px;
    margin: 15px 0;
}
.ingr p{
    width: 65%;
}
.ingr .img{
    width: 30%;
}


.lds-ripple {
    display: none;
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #000;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

#anketa {
    padding: 10px 10px 10px 10px;
    border: 3px double #0a78c2;
    margin: 10px 0;
    border-radius: 10px;

}


#test-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#test-form input {
    border: 1px solid #c0c0c0;
    margin-bottom: 10px;
    padding: 10px;
}

.main-btn {
    padding: 10px 0;
    border: 0;
    background-color: darkred;
    color: #fff !important;
    text-align: center;
    transition: all .3s;
    display: block;
    width: 50%;
    margin: 30px auto 0 auto;
}

.main-btn:hover {
    background-color: red;
}

#test-form button {
    margin-top: 20px;
    padding: 10px 60px;
    border: 0;
    background-color: darkred;
    color: #fff;
    transition: all .3s;
}

#test-form button:hover {
    background-color: red;
}

#test-form h4 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

#test-form label {
    display: block;
}


h2::after {
    content: "";
    margin-top: 12px;
    border-bottom: 4px solid rgb(22, 141, 226);
    display: block;
}

a {
    color: rgb(35, 82, 124);
    text-decoration: underline;
}

a:hover {
    color: rgb(176, 73, 59);
}

body {
    display: block;
    font-family: "Montserrat", sans-serif;
    background: rgb(250, 250, 250) none repeat scroll 0% 0%;
    height: auto;
    line-height: 1.5625;
}

.content {
    display: block;
    /*width: 97%;*/
    max-width: 1000px;
    margin: 0px auto;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding: 25px 19px;
    position: relative;
}

.content-left {
    display: block;
    float: left;
    width: 71%;
    padding-right: 2%;
}

.vk-container {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
}

.vk-header {
    background: rgb(218, 226, 232) none repeat scroll 0% 0%;
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px;
}

.vk-logo {
    background: transparent none no-repeat scroll 0% 0%;
    width: 16px;
    height: 16px;
    float: right;
    margin-top: -1px;
}

.vk-header-text {
    padding: 2px 3px 1px;
    line-height: 100%;
    color: rgb(69, 104, 142);
    font-weight: bold;
}

.vk-comment-load {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid rgb(218, 225, 232);
    padding-bottom: 15px;
}

.vk-avatar img {
    float: left;
    margin-right: 10px;
}

.vk-comment-name {
    color: rgb(43, 88, 122);
    font-weight: bold;
    font-size: 12px;
}

.vk-comment-text {
    margin-left: 60px;
}

.vk-comment-date {
    margin-left: 60px;
    color: rgb(153, 153, 153);
}

.content-right {
    display: block;
    width: 27%;
    float: right;
    position: relative;
}

.content-right-recommend-container {
    display: block;
    max-width: 270px;
    width: 100%;
}

.content-right-recommend {
    display: block;
    width: auto;
}

.content-right-recommend-top {
    height: 48px;
    background: rgb(74, 162, 36) none repeat scroll 0% 0%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 48px;
    position: relative;
    text-align: center;
}

.content-right-recommend-top::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 17px 13px 0px;
    border-color: transparent rgb(74, 162, 36) transparent transparent;
    left: 0px;
    bottom: -13px;
}

.content-right-recommend-top::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 13px 17px 0px 0px;
    border-color: rgb(74, 162, 36) transparent transparent;
    right: 0px;
    bottom: -13px;
}

.content-right-recommend-middle {
    width: 86%;
    display: block;
    margin: auto;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 1% 1% 7%;
    text-align: center;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    text-decoration: none;
}

.content-right-recommend-middle img {
    display: block;
    width: 75%;
    margin: 7% auto;
}

.content-right-statistic {
    display: block;
    width: 96%;
    padding: 0px 2% 2%;
    background: rgb(243, 243, 243) none repeat scroll 0% 0%;
    color: rgb(81, 81, 81);
    margin-top: 5%;
}

.content-right-statistic-head {
    display: block;
    width: auto;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 1%;
}

.content-right-statistic-info {
    display: block;
    width: 100%;
    margin-bottom: 1%;
}

.content-right-statistic-info-left {
    display: block;
    float: left;
    width: 60%;
    text-align: right;
    font-size: 12px;
}

.content-right-statistic-info-right {
    display: block;
    float: left;
    width: 37%;
    font-size: 14px;
    margin-left: 3%;
    font-weight: bold;
    text-align: left;
}

.content-right-statistic-info::after {
    content: "";
    display: block;
    clear: both;
}

.content::after {
    content: "";
    display: block;
    clear: both;
}

.footer {
    display: block;
    /*width: 97%;*/
    max-width: 1000px;
    padding: 20px 20px;
    margin: 0px auto;
    background: rgb(235, 235, 235) none repeat scroll 0% 0%;
}

.footer-text {
    color: rgb(56, 56, 56);
    margin: 0px;
}
.product{
    margin-top: 10px;
}
.product.product-50{
    width: 50%;
}
.product.product-40{
    width: 40%;
}
.product.product-70{
    width: 70%;
}
.content-left p {
    font-size: 17px;
}
@media screen and (max-width: 1199px) {
    .content-right {
        display: none;
    }

    .content-left {
        width: 100%;
        padding-right: 0px;
    }
    .doc{
        width: 300px!important;
    }
    .comm-foto{
        width: 300px!important;
    }
    .product.product-50{
        width: 300px!important;
    }
    .product.product-40{
        width: 300px!important;
    }
    .product.product-70{
        width: 300px!important;
    }
    .footer-text{
        text-align: center;
    }
    .vote-block-content-text{
        font-size: 14px;
        line-height: 1.3;
    }
    .content {
        max-width: 750px;
        padding: 15px;
        width: 88%;
    }
}

@media screen and (max-width: 989px) {


    .footer {
        position: relative;
        z-index: 1;
        max-width: 816px;
        padding: 20px 0;
    }

}

@media screen and (max-width: 720px) {
    .doc{
        width: 215px!important;
    }
    .comm-foto{
        width: 200px!important;
    }
}

@media screen and (max-width: 599px) {
    h1{
        font-size: 21px;
    }

    .ingr{
        flex-direction: column;
    }
    .romashka{
        flex-direction: column-reverse;
    }
    .ingr p{
        width: 100%;
    }
    .ingr .img{
        width: 40%;
    }

}
.product{
    max-width: 100%;
}

#popup-coment {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: auto;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border: 1px solid rgb(218, 226, 232);
    padding: 10px;
    z-index: 100;
    max-width: 375px;
}

#popup-coment .vk-comment-load {
    margin-bottom: 0px;
    border-bottom: 0px none;
    padding-bottom: 0px;
    position: relative;
}

#popup-coment .vk-comment-text {
    margin-bottom: 20px;
    margin-top: 5px;
}

#popup-coment .vk-comment-date {
    padding-bottom: 5px;
}

.vk-comment-read {
    display: block;
    width: auto;
    background: rgb(69, 104, 142) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    text-align: center;
    padding: 5px 15px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.6s ease 0s;
    text-decoration: none;
    font-style: normal;
}

.vk-comment-read:hover {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    background: rgb(69, 104, 142) none repeat scroll 0% 0%;
}

.vk-comment-close {
    display: block;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 7%;
    cursor: pointer;
}

.vk-comment-close img {
    display: block;
    width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    #popup-coment {
        bottom: 10px;
        left: 10px;
        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
        border: 1px solid rgb(218, 226, 232);
        padding: 10px;
        z-index: 100;
        max-width: 315px;
        width: 86%;
    }

    #popup-coment .vk-comment-text {
        position: relative;
        margin-bottom: 5px;
    }

    #popup-coment .vk-comment-date {
        padding-bottom: 40px;
    }

    .vk-comment-read {
        right: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 468px) {
    #popup-coment .vk-comment-text {
        position: relative;
        overflow: hidden;
        height: 95px;
        margin-bottom: 5px;
    }

    #popup-coment .vk-comment-text::after {
        content: "...";
        display: block;
        position: absolute;
        right: 5px;
        bottom: 6px;
        font-size: 15px;
    }

    #popup-coment .vk-comment-date {
        padding-bottom: 40px;
    }

    .vk-comment-read {
        right: 20px;
    }
}

.vote-block {
    width: auto;
    display: block;
    background: rgb(238, 239, 241) none repeat scroll 0% 0%;
    border-radius: 3px;
    margin: 15px 0 ;
}

.vote-block-head {
    display: block;
    text-align: left;
    width: auto;
    padding: 15px 20px;
}

.vote-block-content {
    display: block;
    width: auto;
    border: 1px solid rgb(238, 239, 241);
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding: 0px 20px;
    font-size: 14px !important;
}

.vote-block-content-container:first-child {
    margin-top: 30px;
}

.vote-block-content-container:last-child {
    margin-bottom: 40px;
}

.vote-block-content-container {
    display: block;
    width: auto;
    margin-bottom: 20px;
}

.vote-block-content-container::after {
    content: "";
    display: block;
    clear: both;
}

.vote-block-content-text {
    float: left;
    display: block;
    width: 40%;
    text-align: left;
}

.vote-block-content-stat {
    display: block;
    float: right;
    width: 50%;
    position: relative;
    background: rgb(238, 239, 241) none repeat scroll 0% 0%;
    height: 25px;
}

.vote-block-content-stat-line {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35%;
    height: 100%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
    text-align: right;
}

.vote-block-content-stat-line h6 {
    font-size: 12px;
    color: rgb(238, 239, 241);
    margin-left: 121%;
    margin-top: 4px;
}

.line-1 {
    width: 8%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-2 {
    width: 51%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-3 {
    width: 32%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-4 {
    width: 9%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-5 {
    width: 23%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}
.line-6 {
    width: 62%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}
.line-7 {
    width: 46%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-8 {
    width: 91%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-9 {
    width: 100%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-10 {
    width: 98%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-11 {
    width: 72%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-12 {
    width: 89%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}
.line-13 {
    width: 97%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}
.line-14 {
    width: 98%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-1 h6 {
    color: rgb(102, 160, 29);
}

.line-2 h6 {
    color: rgb(102, 160, 29);
    margin-left: 108%;
}

.line-3 h6 {
    color: rgb(102, 160, 29);
}

.line-4 h6 {
    color:  rgb(102, 160, 29);
}

.line-5 h6 {
    color:  rgb(102, 160, 29);
}
.line-6 h6 {
    color:  rgb(102, 160, 29);
}
.line-7 h6 {
    color:  rgb(102, 160, 29);
}

.line-8 h6 {
    color: rgb(102, 160, 29);
}

.line-9 h6 {
    color: rgb(102, 160, 29);
    margin-left: 108%;
}

.line-10 h6 {
    color: rgb(102, 160, 29);
}

.line-11 h6 {
    color:  rgb(102, 160, 29);
}

.line-12 h6 {
    color:  rgb(102, 160, 29);
}
.line-13 h6 {
    color:  rgb(102, 160, 29);
}
.line-14 h6 {
    color:  rgb(102, 160, 29);
}
.good-vote h6{
    color: #000;
    margin-left: 0;
    padding-right: 4px;
}
.btn{
    color: #fff !important;
    background-color: red;
    border: 0;
    padding: 0 10px;
}


input {
    outline: medium none;
}

a {
    color: rgb(22, 151, 206);
}

a:hover {
    color: rgb(176, 73, 59);
}

a img {
    border: medium none;
}

a:focus {
    outline: medium none;
}

h1 {
    font-size: 24px;
    font-weight: normal;
}



.animated {
    animation-duration: 0.3s;
    animation-fill-mode: both;
}


article, footer, header, main, section {
    display: block;
}

a {
    background: transparent none repeat scroll 0% 0%;
}

a:active, a:hover {
    outline: 0px none;
}

strong {
    font-weight: 700;
}

h1 {
    font-size: 2em;
    margin: 0 0px 0.67em 0;
}

img {
    border: 0px none;
}

svg:not(:root) {
    overflow: hidden;
}

button, input {
    color: inherit;
    font: inherit;
    margin: 0px;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0px none;
    padding: 0px;
}

input {
    line-height: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

td {
    padding: 0px;
}

a:active, a:focus {
    outline: medium none;
}

input {
    outline: medium none;
}

input:active {
    outline: medium none;
}

:focus {
    outline: medium none;
}

button:active, button:focus {
    outline: medium none ! important;
}

button::-moz-focus-inner {
    border: 0px none ! important;
}

.Wheel_input {
    display: block ! important;
    margin: 0px auto ! important;
    padding: 10px ! important;
    width: 70%;
    border: 2px solid grey ! important;
    border-radius: 5px ! important;
}

.order_form {
    display: block ! important;
    margin: 0px auto 15px auto ! important;
    text-align: center ! important;

}
.prices{
    align-items: center;
    justify-content: center;
    display: flex;
    display: -ms-flexbox;
    font-size: 35px;
}
.prices .old-price{
    margin-right: 30px;
    color: #4e4e4e;
}
.price-text{
    font-size: 18px;
    text-align: center;
}
.main-price{
    color: #000;
    font-weight: bold;
    text-align: center;

}
.main-price-popup{
    color: red;
    font-size: 28px !important;
    margin-bottom: 15px;
}
.promo{
    margin-bottom: 10px;
}
.promo p{
    text-align: center;

}
@media screen and (max-width: 540px) {
    .vote-block-content-stat{
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    input {
        width: 90%;
    }
    .prices{
        align-items: center;
        font-size: 25px;
        justify-content: space-evenly;
    }
    .prices .old-price{
        margin-right: 15px;
    }

}

.main-link {
    display: block;
    margin: 10px auto 5px auto;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(222, 6, 6);
    text-align: center;
    color: rgb(255, 255, 255) ! important;
    border-radius: 4px;
    border: medium none;
    cursor: pointer;
}

.main-link:hover {
    opacity: 0.8;
}

.close-popup {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../images/closew.png");
    background-size: 100% auto;
    top: -27px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    right: -22px;
    cursor: pointer;
}

.spin-result-wrapper {
    display: none;
    padding: 0px 10px;
    box-sizing: border-box;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 999;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.pop-up-window {
    position: relative;
    max-width: 400px;
    right: 0px;
    left: 0px;
    top: 20%;
    margin: 0px auto;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    text-align: center;
    padding: 70px 10px 20px;
    border-radius: 10px;
    animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.pop-up-window::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: -55px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    background-color: rgb(113, 195, 65);
    border-radius: 50%;
    animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}

.pop-up-window::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    top: -20px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    border-width: medium medium 4px 4px;
    border-style: none none solid solid;
    border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    transform: rotate(-45deg);
    transition: opacity 1s ease 0s;
    animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}

@keyframes pop-up-appear {
    0% {
        transform: translateY(-2000px);
    }
    30% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes pop-up-appear-before {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pop-up-appear-after {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pop-up-heading {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

.pop-up-text {
    margin-bottom: 10px;
    font-size: 25px !important;
    line-height: 1.3;
    text-align: center ! important;
}

.pop-up-button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(113, 195, 65);
    color: rgb(255, 255, 255);
    border: medium none;
    cursor: pointer;
    outline: medium none;
    display: block;
    width: 50%;
    margin: 0 auto;
}

.pop-up-button:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.order-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.order-wrap .o1{
    width: 50%;
}
.order-wrap .o2{
    width: 50%;
}
@media screen and (max-width: 1191px){
    .order-wrap .o1{
        width: 40%;
    }

}
@media screen and (max-width: 767px) {
    .order-wrap{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .order-wrap .o1{
        width: 100%;
    }
    .order-wrap .o2{
        width: 100%;
    }
}


@media all and (max-width: 1199px) {
    .pop-up-heading {
        font-size: 30px;
    }

}

* {
    margin: 0px;
    padding: 0px;
}

strong {
    font-style: normal;
    font-weight: normal;
}

input {
    outline: medium none;
}

a {
    color: rgb(22, 151, 206);
}

a:hover {
    color: rgb(176, 73, 59);
}

a img {
    border: medium none;
}

a:focus {
    outline: medium none;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}
h2 {
    margin: 20px 0;
}
.red{
    color: red
}



@media screen and (max-width: 1020px) {
    body img {
        max-width: 100%;
    }

    center > img {
        max-width: 100%;
    }
    .pop-up-window{
        top: 13%;
        padding: 50px 10px 20px;
    }
}

@media screen and (max-width: 420px) {
    body img {
        max-width: 100%;
    }
}

.content-right-recommend-container {
    display: block;
    max-width: 270px;
    /*width: 100%;*/
}

.content-right-recommend-top {
    height: 48px;
    background: rgb(74, 162, 36) none repeat scroll 0% 0%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 48px;
    position: relative;
    text-align: center;
}

.content-right-recommend a {
    text-decoration: none;
    color: rgb(68, 68, 68);
}

.content-right-recommend-middle {
    width: 86%;
    display: block;
    margin: auto;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 1% 1% 7%;
    text-align: center;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    text-decoration: none;
}

.content-right-recommend-middle img {
    display: block;
    margin: 7% auto;
}



.sweet-alert, .sweet-overlay {
    position: fixed;
    display: none;
}

.instructions, a {
    text-align: center;
}

.boxes, .boxes img {
    width: 100%;
}

.instructions {
    padding: 10px;
    background-color: rgb(35, 47, 62);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-size: 20px;
}

.boxes {
    margin: 10px 0px;
}

.boxes > div {
    position: relative;
    display: inline-block;
    width: 31%;
    height: 50%;
    transition-duration: 0.2s;
    cursor: pointer;
}

.boxes > div:hover {
    transform: scale(1.1, 1.1);
}

.instructions table {
    width: 100%;
}

.instructions td:first-child {
    padding-right: 10px;
    width: 10px;
}

.instructions td:last-child {
    padding-left: 10px;
    width: 10px;
}

@media (max-width: 479px) {
    .boxes > div {
        width: 31%;
    }
    .main-btn{
        width: 80%;
    }
}

@media (max-width: 319px) {
    .boxes > div {
        width: 48%;
    }
}

.sweet-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 10000;
}

.sweet-alert {
    background-color: rgb(255, 255, 255);
    width: 478px;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -150px;
    overflow: hidden;
    z-index: 99999;
}
.countdown-wrapper{
    margin-top: 20px;
}

@media all and (max-width: 540px) {
    .sweet-alert {
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
        left: 15px;
        right: 15px;
    }
}

.sweet-alert p {
    color: rgb(121, 121, 121);
    font-size: 15px;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0px;
    padding: 0px;
    line-height: normal;
    font-weight: bold;
}

.sweet-alert .la-ball-fall {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: 4px;
    opacity: 0;
    visibility: hidden;
}

.sweet-alert button {
    background-color: rgb(232, 66, 66);
    color: rgb(255, 255, 255);
    border: medium none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0px;
    cursor: pointer;
}

.sweet-alert button:focus {
    outline: 0px none;
    box-shadow: 0px 0px 2px rgba(128, 179, 235, 0.5), 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset;
}

.sweet-alert button:hover {
    background-color: rgb(126, 207, 244);
}

.sweet-alert button:active {
    background-color: rgb(93, 194, 241);
}

.sweet-alert button::-moz-focus-inner {
    border: 0px none;
}

.sweet-alert .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0px;
    position: relative;
    box-sizing: content-box;
}

.sweet-alert .sa-icon.sa-success {
    border-color: rgb(165, 220, 134);
}

.sweet-alert .sa-icon.sa-success::after, .sweet-alert .sa-icon.sa-success::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 120px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

.sweet-alert .sa-icon.sa-success::before {
    border-radius: 120px 0px 0px 120px;
    top: -7px;
    left: -33px;
    transform: rotate(-45deg);
    transform-origin: 60px 60px 0px;
}

.sweet-alert .sa-icon.sa-success::after {
    border-radius: 0px 120px 120px 0px;
    top: -11px;
    left: 30px;
    transform: rotate(-45deg);
    transform-origin: 0px 60px 0px;
}

.sweet-alert .sa-icon.sa-success .sa-placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(165, 220, 134, 0.2);
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.sweet-alert .sa-icon.sa-success .sa-fix {
    width: 5px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    transform: rotate(-45deg);
}

.sweet-alert .sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: rgb(165, 220, 134);
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
    width: 25px;
    left: 14px;
    top: 46px;
    transform: rotate(45deg);
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
    width: 47px;
    right: 8px;
    top: 38px;
    transform: rotate(-45deg);
}


.la-ball-fall {
    font-size: 0px;
    color: rgb(255, 255, 255);
    width: 54px;
    height: 18px;
}

@keyframes bounce {
    0%, 100%, 20%, 53%, 80% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0px, 0px, 0px);
    }
    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0px, -30px, 0px);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0px, -15px, 0px);
    }
    90% {
        transform: translate3d(0px, -4px, 0px);
    }
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom 0px;
}

@keyframes bounceIn {
    0%, 100%, 20%, 40%, 60%, 80% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    0%, 100%, 20%, 40%, 60%, 80% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    animation-name: bounceIn;
}

.la-ball-fall {
    display: block;
}

.opentry {
    display: none;
}

.order_block {
    display: none;
}
.order_block img{
    margin: 20px 0;
}

.boxtext {
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 88px;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

@media screen and (max-width: 800px) {
    .boxtext {
        font-size: 60px;
    }
    .pop-up-window::before{
        width: 70px;
        height: 70px;
        top: -35px;
    }
    .pop-up-window::after{
        width: 28px;
        height: 12px;
        top: -15px;
    }
}

@media screen and (max-width: 600px) {
    .boxtext {
        font-size: 40px;
    }
}

@media screen and (max-width: 360px) {
    .boxtext {
        font-size: 30px;
    }
    .vote-block-content-text{
        font-size: 12px;
    }
}

#countdown {
    text-align: center;
}

/* Code tidied up by ScrapBook */
figure, figcaption { display: block; }
.transition { transition: top 400ms linear 0s; }
.timeTo { font-family: Tahoma,Verdana,Aial,sans-serif; font-size: 28px; line-height: 108%; font-weight: bold; height: 32px; }
.timeTo span { vertical-align: top; }
.timeTo.timeTo-white div { color: black; background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 38%, rgb(204, 204, 204) 100%) repeat scroll 0% 0%; }
.timeTo.timeTo-black div { color: white; background: transparent linear-gradient(to bottom, rgb(69, 72, 77) 0%, rgb(0, 0, 0) 100%) repeat scroll 0% 0%; }
.timeTo.timeTo-black .timeTo-alert { background: transparent linear-gradient(to bottom, rgb(167, 68, 68) 0%, rgb(63, 0, 0) 67%) repeat scroll 0% 0%; }
.timeTo.timeTo-white .timeTo-alert { background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 35%, rgb(225, 115, 115) 100%) repeat scroll 0% 0%; }
.timeTo figure { display: inline-block; margin: 0px; padding: 0px; }
.timeTo figcaption { text-align: center; line-height: 80%; font-weight: normal; color: rgb(136, 136, 136); }
.timeTo div { position: relative; display: inline-block; width: 25px; height: 30px; border-top: 1px solid silver; border-right: 1px solid silver; border-bottom: 1px solid silver; overflow: hidden; }
.timeTo div.first { border-left: 1px solid silver; }
.timeTo ul { list-style-type: none; margin: 0px; padding: 0px; position: absolute; left: 3px; }
.timeTo ul li { margin: 0px; padding: 0px; list-style: outside none none; }


.text-list-2 li {
    padding-left: 10px;
    position: relative;
    margin-bottom: 10px;
}

.text-list-2 li::before {
    content: '•';
    position: absolute;
    left: 0;
    top: 0;
}

.mod-center {
    text-align: center;
}

.text-blue {
    color: #00aeef;
    font-weight: 700;
}

.text-red {
    color: red;
    font-weight: 700;
}

.link-text {
    text-decoration: none;
}

.link-text:hover {
    text-decoration: underline;
}

.interview__block {
    display: flex;
    border: 1px solid #000;
    margin-bottom: 15px;
}

.interview__left {
    flex-shrink: 0;
    width: 225px;
    padding: 10px;
    border-right: 1px solid #000;
}

.interview__right {
    padding: 10px;
}

.interview__right p {
    text-align: left;
}

.interview__right p:last-child {
    margin-bottom: 0;
}

.interview__name {
    text-align: left;
    margin-bottom: 0;
}

.result__block {
    display: flex;
    border: 1px solid #000;
    margin-bottom: 15px;
}

.result__column {
    width: 33.3%;
}

.result__column:not(:last-child) {
    border-right: 1px solid #000;
}

.result__count {
    padding-top: 5px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 40px;
    color: #093;
}

.result__text {
    text-align: center;
    margin-bottom: 0;
    padding: 0 5px 5px;
}

.comment {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #666;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comment__info {
    width: calc(100% - 65px);
}

.comment__ava-wrap {
    flex-shrink: 0;
    margin-right: 15px;
}

.art-article .comment__ava {
    border-radius: 5px;
    border: none;
}

.comment__name {
    font-weight: 700;
    margin-bottom: 5px;
}

.comment__text {
    margin-bottom: 0;
}

.art-article img.comment__image {
    margin: 10px auto 0;
}

.form__wrapper {
    width: 100%;
    max-width: 450px;
    margin: 0 auto 15px;
}

.form__input {
    width: 100%;
    padding: 10px;
    color: #000;
    font-family: "Georgia", Tahoma, Verdana, Geneva, sans-serif;
    border: 1px solid #4e4e4e;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.input__wrap {
    margin-bottom: 10px;
}

.form__btn {
    padding: 10px;
    margin: 0 auto;
    display: block;
    background-color: #fc1d1d;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 380px;
}

.form__btn:hover {
    background-color: #c71818;
    text-decoration: underline;
}

.form__note {
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
}


.test__question {
    display: none;
}
.test__question h3{
    margin-bottom: 10px;
}
.vk-avatar img  {
    width: 48px;
    height: 48px;
}
.pol-ava{
    width: 48px;
    height: initial !important;
}
.test__question.show {
    display: block;
    animation-name: showBlock;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.test__question-title {
    text-align: center;
}

.test__question-answers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test__answer-btn {
    background-color: indianred;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 300px;
}

.test__answer-btn:hover {
    background-color: darkred;
}

input[type='date'] {
    margin-bottom: 20px;
}

.test__answer-btn:not(:last-child) {
    margin-bottom: 10px;
}


.test__result {
    display: none;
}

.test__result.show {
    display: block;
    animation-name: showBlock;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.test__result-title {
    text-align: center;
}

.test__result-text {
    font-style: italic;
    font-weight: 700;
    margin-bottom: 0;
}

.test__answer-choice {
    color: #fff;
    background-color: indianred;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 40px;
    position: relative;
    width: 100%;
    max-width: 270px;
    cursor: pointer;
}


.test__answer-choice::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
}
.test__answer-choice.choiced{
    background-color: red;
}

.next{
    background-color: black;
}
.next:hover{
    background-color: black;
}
.test__answer-choice.choiced::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: red;
}

.mod-2 {
    max-width: 650px;
    margin: 0 auto 15px;
}

.prod__wrapper {
    max-width: 300px;
    margin: 0 auto 15px;
    position: relative;
}

.prod__medal {
    position: absolute;
    left: -10px;
    top: 15px;
}

@media (max-width: 1023px) {
    .art-sidebar2 {
        display: none;
    }

    .art-content-layout {
        max-width: 100%;
    }

    .ya-site-form {
        display: none;
    }

    .content__title {
        text-align: center;
    }

    .quote-text {
        text-align: center;
    }

    .art-post {
        margin: 7px 0 0;
    }

    .art-post-body {
        padding: 0 15px;
    }

    .breadcrumb {
        margin-left: 15px;
    }

    .interview__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #banner6,
    .footer__menu {
        display: none;
    }

    .content__subtitle {
        font-size: 20px;
    }

    .comment:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
}

@media (max-width: 767px) {
    #banner2 {
        display: none;
    }

    div.art-header {
        display: flex;
        justify-content: center;
    }

    #art-menu-id {
        width: 100%;
    }

    .breadcrumb {
        margin: 10px 0 0 15px;
    }

    .interview__block {
        flex-direction: column;
    }

    .interview__left {
        border-right: 0;
        border-bottom: 1px solid #000;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
    }

    .interview__left img {
        max-width: 204px;
        margin: 0 20px 0 0;
    }

    p {
        font-size: 17px;
        text-align: left;
    }

    .text-list {
        font-size: 17px;
    }

    .text-title {
        font-size: 19px;
    }

    .content__title {
        font-size: 26px;
    }

    div.art-header {
        background-image: none;
        height: 70px;
    }

    div.art-header-jpeg {
        position: static;
        background-position: center;
        height: 70px;
        background-size: 220px;
        background-image: url(../images/logo_med_mob.jpg);
    }

    .art-sheet-body {
        padding: 0;
    }

    .art-menu {
        display: flex;
        justify-content: center;
    }

    .art-menu .leaf:nth-child(7) {
        display: none;
    }

    .content__subtitle {
        font-size: 19px;
    }
}


@media (max-width: 650px) {
    .art-menu .leaf:nth-child(6) {
        display: none;
    }
    .test__answer-choice{
        max-width: 210px;
    }
    .test__answer-btn{
        width: 230px;
    }


}
@media (max-width: 768px){
    .Wheel_input{
        width: 300px;
    }
}
@media (max-width: 515px) {
    .art-menu .leaf:nth-child(5) {
        display: none;
    }
    .Wheel_input{
        width: 90%
    }

}
.lg-only{
    display: flex;
}
.xs-only{
    display: none;
}
@media (max-width: 1200px) {
    .lg-only{
        display: none;
    }
    .xs-only{
        display: flex;
    }
}

@media (max-width: 479px) {
    .text-title {
        font-size: 18px;
    }

    .content__title {
        font-size: 21px;
    }

    .quote-expert {
        flex-direction: column;
    }

    .quote-left {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #000;
    }

    .quote-left img {
        max-width: 204px;
    }

    .quote-name {
        text-align: center;
    }

    .interview__left {
        display: block;
    }

    .interview__left img {
        margin: 0 auto;
    }

    .interview__name {
        text-align: center;
    }

    .result__block {
        flex-direction: column;
    }

    .result__column {
        width: 100%;
    }

    .result__column:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid #000;
    }

    .comment__ava-wrap {
        margin-right: 10px;
    }

    .quote-text {
        text-align: left;
    }

    .form__btn {
        font-size: 16px;
        max-width: 300px;
    }
    .pop-up-window{
        max-width: 300px;
    }
}

@media (max-width: 380px) {
    .art-menu .leaf:nth-child(4) {
        display: none;
    }
    .pop-up-window{
        max-width: 240px;
    }
    .vote-block-content-stat{
        width: 45%;
    }
}

::-ms-clear {
    display: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}
.last{
    margin-bottom: 0;
    padding-bottom: 0;
}
#comebacker_main_div {
    display: none !important;
    height: 0px !important;
}

html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

select:-moz-focusring,
a:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

*:focus,
*:visited,
*:active,
*:hover {
    outline: 0 !important;
}

a,
a:focus,
a:visited,
a:active,
a:hover {
    outline: 0 !important;
}

*::-moz-focus-inner {
    border: 0;
    outline: none;
}

select {
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../fonts/select-triangle.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
}

select:hover {
    background-size: 10px 10px;
    background-position: right 10px center;
}

select:focus {
    outline: none !important;
    outline-color: transparent;
    outline-width: 0;
}

select::-ms-expand {
    display: none !important;
    background: none !important;
    position: fixed;
    border: none !important;
    outline: none !important;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
select::-moz-focus-inner,
option::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

*:not(#fake) {
    outline: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

@keyframes showBlock {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.center {
    text-align: center;
}
.white {
    color: white;
}