.align-center {
    display: block;
    margin-right: auto;
    margin-left: auto
}

.clearfix:after {
    display: table;
    clear: both;
    content: ""
}

.hidden {
    display: none
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
header,
main,
nav,
section {
    display: block
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

img {
    border: 0
}

@media print {

    *,
    :after,
    :before {
        color: #000 !important;
        text-shadow: none !important;
        background: 0 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    a,
    a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " ("attr(href) ")"
    }

    a[href^="#"]:after {
        content: ""
    }

    img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    h2,
    p {
        orphans: 3;
        widows: 3
    }

    h2 {
        page-break-after: avoid
    }
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(/themes/custom/hhs_gov_theme/assets/fonts/glyphicons-halflings-regular.eot);
    src: url(/themes/custom/hhs_gov_theme/assets/fonts/glyphicons-halflings-regular.eot#iefix) format('embedded-opentype'), url(/themes/custom/hhs_gov_theme/assets/fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(/themes/custom/hhs_gov_theme/assets/fonts/glyphicons-halflings-regular.woff) format('woff'), url(/themes/custom/hhs_gov_theme/assets/fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(/themes/custom/hhs_gov_theme/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #fff
}

a {
    color: #337ab7;
    text-decoration: none
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

h1,
h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1,
h2 {
    margin-top: 20px;
    margin-bottom: 10px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

p {
    margin: 0 0 10px
}

ul {
    margin-top: 0;
    margin-bottom: 10px
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-md-3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:992px) {

    .col-md-3 {
        float: left
    }

    .col-md-3 {
        width: 25%
    }
}

.form-group {
    margin-bottom: 15px
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px
}

.clearfix:after,
.clearfix:before,
.row:after,
.row:before {
    display: table;
    content: " "
}

.clearfix:after,
.row:after {
    clear: both
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.hidden {
    display: none !important
}

@-ms-viewport {
    width: device-width
}

@font-face {
    font-family: slick;
    font-weight: 400;
    font-style: normal;
    src: url(/themes/custom/hhs_gov_theme/assets/css/./fonts/slick.eot);
    src: url(/themes/custom/hhs_gov_theme/assets/css/./fonts/slick.eot#iefix) format('embedded-opentype'), url(/themes/custom/hhs_gov_theme/assets/css/./fonts/slick.woff) format('woff'), url(/themes/custom/hhs_gov_theme/assets/css/./fonts/slick.ttf) format('truetype'), url(/themes/custom/hhs_gov_theme/assets/css/./fonts/slick.svg#slick) format('svg')
}

body {
    background-color: #323232
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 32px
}

h2 {
    font-size: 24px
}

p,
p:last-child {
    margin: 0 0 20px
}

a,
a:link {
    color: #185394
}

#site-content a,
.breadcrumb a {
    color: #0053cc;
    text-decoration: underline
}

#site-content a:visited,
.breadcrumb a:visited {
    color: #6f57b5
}

#site-wrapper {
    background-color: #fff;
    min-width: 940px
}

.inner {
    width: 940px;
    margin: 0 auto
}

.clear-both {
    clear: both
}

.hhs-blue-header {
    background: #185394;
    height: 50px;
    padding: 0
}

.hhs-blue-header :focus {
    outline-color: #ebf7ff !important
}

.hhs-blue-header .logo a:link,
.hhs-blue-header .logo a:visited {
    color: #fcaf10;
    display: block;
    width: 204px;
    height: 50px;
    text-indent: -1000em;
    z-index: 2000;
    background: url(/themes/custom/hhs_gov_theme/assets/images/hhs_logo.png) no-repeat
}

.hhs-blue-header .logo .gov {
    color: #ccc
}

.site-name {
    color: #abc8e0
}

.hhs-blue-header .site-name {
    color: #d4eefc;
    margin: 15px 0 0;
    position: relative;
    right: 0
}

.clear-both {
    clear: both
}

.hhs-global-nav {
    margin: 25px auto 15px auto
}

.region-left-nav h2 {
    font-size: 17px;
    padding: 0 0 0 20px;
    font-weight: 700;
    color: #185394;
    margin-top: 10px
}

#main-menu {
    margin-left: 0
}

#main-menu li {
    float: left;
    margin-right: 20px;
    padding: 0
}

#main-menu li:nth-child(4) {
    margin-right: 0
}

#main-menu li a {
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    color: #fff;
    float: left;
    width: 220px;
    height: 60px
}

.nav-about-hhs {
    padding: 20px 15px 20px 61px;
    background: url(/themes/custom/hhs_gov_theme/assets/images/about-hhs-nav-icon.png) 49px #185493 no-repeat
}

.nav-programs-services {
    background: url(/themes/custom/hhs_gov_theme/assets/images/programs-services-nav-icon.png) #c94747 44px no-repeat;
    padding: 10px 15px 10px 68px
}

.nav-grants-contracts {
    background: url(/themes/custom/hhs_gov_theme/assets/images/contracts-grants-nav-icon.png) #77508e 38px no-repeat;
    padding: 10px 15px 10px 89px
}

.nav-laws-regulations {
    background: url(/themes/custom/hhs_gov_theme/assets/images/laws-regulations-nav-icon.png) #19826e 42px no-repeat;
    padding: 10px 15px 10px 73px
}

.mobilesearch {
    display: none
}

.hhs-global-breadcrumbs {
    margin: 15px 0 15px 0
}

.hhs-global-breadcrumbs .breadcrumb {
    margin: 0
}

.breadcrumb {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
    border-radius: 0
}

.left-nav-region {
    float: left;
    width: 270px;
    margin: 0 30px 20px 0;
    display: table-cell;
    box-sizing: border-box
}

.not-front .main-section {
    display: table
}

.site-content-with-left-nav {
    width: 640px;
    float: right;
    margin: 0 auto 25px;
    display: table-cell;
    box-sizing: border-box
}

.site-content-with-left-nav {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word
}

.hhs-global-footer {
    background-color: #323232;
    font-size: 13px;
    color: #adadad;
    padding: 25px 0
}

.hhs-global-footer :focus {
    outline-color: #ebf7ff !important
}

.hhs-global-footer a:link,
.hhs-global-footer a:visited {
    color: #adadad;
    text-decoration: none
}

.hhs-global-footer a:focus,
.hhs-global-footer a:hover {
    color: #adadad;
    text-decoration: underline
}

.footer-bottom .row {
    display: table-row
}

.hhs-global-footer .footer-bottom .row .col-md-3 {
    padding: 0;
    display: table-cell
}

.footer-bottom .row {
    border-bottom: #474747 solid thin;
    width: 100%;
    display: table;
    margin-left: 0
}

.footer-bottom .row {
    padding: 20px 0 20px 0
}

.footer-bottom .row:last-child {
    padding-bottom: 0;
    border-bottom: none
}

.footer-bottom ul {
    margin: 0;
    padding: 0
}

.footer-bottom ul li {
    list-style: none;
    line-height: 1.85em
}

.left-nav-icon:focus {
    border: 1px dotted #999;
    padding-right: 0;
    padding-left: 0;
    margin-right: 13px
}

.primary-button-1:inactive,
.primary-button-2:inactive {
    background-color: #e9eaeb;
    color: #333
}

.secondary-button-1:inactive {
    color: #666;
    border: solid thin #666
}

.secondary-button-2:inactive {
    color: #666;
    border: solid thin #666
}

.secondary-button-3:inactive {
    color: #999;
    border: solid thin #999
}

.page-blog .view-content {
    margin-bottom: 10px
}

@media (min-width:768px) {

    .col-md-3 {
        width: 25%
    }
}

.search-button:inactive {
    background-color: #e9eaeb;
    color: #333
}

div.summary-wrapper {
    margin: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    font-size: 16px;
    color: #333
}

div.summary-label {
    float: left;
    font-weight: 700
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px)
}

:focus {
    outline: .25rem solid #00458a !important;
    outline-offset: .25rem !important
}

#logo a:focus {
    outline-color: #ebf7ff !important;
    outline-offset: 1px !important
}

.page-blog h1 {
    font-size: 28px
}

.page-blog .region-left-nav a {
    color: #185394
}

.page-blog .region-left-nav {
    border: 1px solid #d2d2d2;
    background-color: #f7f7f7
}

.page-blog .views-field-name {
    display: inline-block;
    padding: 0;
    width: 100%
}

.page-blog .signup-blog {
    display: inline-block;
    font-size: 14px;
    padding-right: 20px;
    border-right: 1px solid #d2d2d2;
    width: 50%
}

.page-blog .signup-blog h2 {
    font-size: 20px;
    color: #333
}

.page-blog .rss-blog p:last-child {
    margin: 0
}

.page-blog .rss-blog {
    float: right;
    display: inline-block;
    margin-left: 20px;
    margin-top: -20px;
    font-size: 14px
}

.page-blog .rss-blog h2 {
    font-size: 20px;
    width: 300px;
    color: #333
}

.page-blog .rss-updates {
    margin-top: 5px
}

.signUp-rss-container {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px
}

.blog-post--content {
    margin-bottom: 20px
}

.blog-post--authoring .field--name-field-date-created {
    display: inline;
    font-weight: 700
}

.blog-post--authoring .blog-post--byline {
    display: inline;
    font-style: italic
}

.blog-post--topics .topic-label {
    display: inline;
    font-weight: 700
}

@media only screen and (max-width:767px) {

    .page-blog .main-section {
        padding-top: 0
    }

    .page-blog .site-content-with-left-nav {
        float: left
    }

    .page-blog .hhs-global-nav {
        display: none
    }

    .page-blog .region-left-nav {
        margin-top: 0
    }

    .page-blog .signup-blog {
        padding-right: 0;
        border-right: none
    }

    .page-blog .rss-blog {
        margin-left: 0;
        float: left;
        margin-top: 0;
        padding-top: 20px
    }
}

@media (min-width:768px) {
    #hhs-global-nav.hhs-main-nav {
        display: block
    }

    #hhs-global-nav.hhs-main-nav {
        margin: 0;
        width: 100%;
        background-color: #185394;
        height: auto
    }

    #hhs-global-nav.hhs-main-nav #main-menu {
        padding: 0;
        width: 100%;
        max-width: 940px;
        margin: auto
    }

    #hhs-global-nav.hhs-main-nav #main-menu li,
    #hhs-global-nav.hhs-main-nav #main-menu li:nth-child(n) {
        height: 42px;
        margin-right: 32px;
        margin-top: 0
    }

    #hhs-global-nav.hhs-main-nav #main-menu li a {
        padding: 10px 0 0 0;
        text-align: center;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        float: left;
        width: auto;
        height: 42px;
        text-decoration: none;
        background: 0 0
    }

    #hhs-global-nav.hhs-main-nav #main-menu li a:focus,
    #hhs-global-nav.hhs-main-nav #main-menu li a:hover {
        color: #fff;
        border-bottom: solid #fbae17 5px;
        cursor: pointer;
        text-decoration: none;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease
    }

    #hhs-global-nav.hhs-main-nav #main-menu li a:focus {
        outline-color: #ebf7ff !important
    }

    #hhs-global-nav.hhs-main-nav .nav-about-hhs,
    #hhs-global-nav.hhs-main-nav .nav-grants-contracts,
    #hhs-global-nav.hhs-main-nav .nav-laws-regulations,
    #hhs-global-nav.hhs-main-nav .nav-programs-services {
        background: 0 0;
        padding: 0
    }
}

* {
    box-sizing: border-box
}

body {
    position: relative
}

.blog-post--authoring .blog-post--byline {
    margin-left: 10px;
    padding-left: 10px;
    font-style: italic;
    border-left: 1px solid #000
}

.page-blog .signup-blog h2 {
    margin-top: 0
}

.page-blog .rss-blog p {
    margin-bottom: 0
}

.page-blog .region-left-nav {
    background: #f6f7f7;
    border: solid 1px #ccc;
    font-weight: 700;
    margin: 0 0 10px;
    list-style: none;
    position: relative
}

.left-nav--collapse a.left-nav-icon {
    background-image: url(/themes/custom/hhs_gov_theme/assets/images/collapse.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    text-indent: -9999px;
    display: inline-block;
    width: 29px;
    height: 29px;
    position: absolute;
    top: 5px;
    right: 5px
}

.left-nav--collapse a.left-nav-icon:focus {
    margin-right: 0
}

.left-nav--collapse h2 {
    margin: 10px 0
}

.view-categories-rightrail .views-row {
    border-top: 1px solid #d2d2d2
}

.view-categories-rightrail .views-row:first-child {
    border-top: none
}

.view-categories-rightrail .views-row a {
    font-weight: 400;
    padding: 5px 11px 5px 20px;
    display: block;
    width: 100%
}

.left-nav--collapse .form-group {
    margin-bottom: 10px
}

.usa-button {
    width: auto;
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #005ea2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: .25rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: .5rem;
    padding: .75rem 1.25rem;
    text-align: center;
    text-decoration: none
}

.usa-button:hover {
    background-color: #1a4480;
    border-bottom: 0;
    color: #fff;
    text-decoration: none
}

.usa-button:active {
    color: #fff;
    background-color: #162e51
}

.usa-button:visited {
    color: #fff
}

@media screen and (max-width:767px) {

    a:active,
    a:visited {
        color: #fff !important;
        font-weight: 700;
        font-size: 1.25em
    }
}

#site-content a.usa-button {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding: .75rem 2.5rem
}

.align-center img {
    display: block;
    margin: 0 auto 20px
}

@media only screen and (max-width:767px) {
    #site-wrapper {
        min-width: inherit
    }

    .main-section,
    .not-front .main-section {
        display: block
    }

    .row {
        margin-right: 0;
        margin-left: 0
    }

    .hhs-blue-header {
        background: #185394;
        height: 60px
    }

    .hhs-blue-header .logo.pull-left {
        float: none !important
    }

    .hhs-blue-header .logo a:link,
    .hhs-blue-header .logo a:visited {
        height: 60px;
        width: 155px;
        background: url(/themes/custom/hhs_gov_theme/assets/images/hhs_logo.png) 0 1px no-repeat;
        background-size: 150px 37px
    }

    .inner {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px
    }

    .hhs-blue-header .site-name {
        display: none
    }

    .hhs-global-nav {
        display: none
    }

    .site-content-with-left-nav {
        width: 100%;
        margin: 0 auto
    }

    .region-content img {
        max-width: 100%;
        height: auto
    }

    .left-nav-region {
        width: 100%;
        margin: 0
    }

    .site-content-with-left-nav {
        width: 100%;
        display: block
    }

    .hhs-global-footer {
        background-color: #323232;
        color: #adadad;
        margin: 40px 0 0;
        padding: 25px 0
    }

    .footer-bottom .row .col-md-3 {
        float: left;
        padding: 0 15px 0 0;
        width: 150px
    }

    .footer-bottom .row div {
        margin-bottom: 30px
    }

    .footer-bottom .row {
        padding: 20px 0 0 0
    }

    .mobilesearch {
        display: inline-block;
        position: relative;
        bottom: 50px;
        right: -5px;
        margin-right: 46px;
        padding: 20px 10px 0 0;
        background: url(/themes/custom/hhs_gov_theme/assets/images/persistent-header-search-icon-mobile.png) 10px 0 no-repeat;
        opacity: 1;
        float: right
    }

    .mobilesearch a {
        display: block;
        color: #fff;
        text-transform: lowercase;
        text-decoration: none;
        cursor: pointer
    }

    @-moz-document url-prefix() {}

    .left-nav-region {
        width: 100%;
        margin-bottom: 10px
    }
}

@media only screen and (max-width:285px) and (min-width:0px) {

    .hhs-blue-header .logo a:link,
    .hhs-blue-header .logo a:visited {
        width: 88px
    }
}

@media print {
    a[href]:after {
        content: none
    }

    .region-content a[href]:after {
        content: " ("attr(href) ") ";
        font-size: 12px
    }

    a {
        color: #000 !important
    }

    .footer-bottom,
    .hhs-global-nav,
    .left-nav-region,
    .rss-block {
        display: none !important
    }

    .hhs-global-breadcrumbs {
        margin-bottom: 30px
    }

    .hhs-blue-header {
        display: block;
        border-bottom: #000 5px solid;
        margin: 0 0 30px;
        padding: 0 0 30px !important;
        height: 60px
    }

    .hhs-blue-header .logo a:link {
        font-size: 36px;
        color: #000;
        text-indent: 0;
        background: 0 0
    }

    .hhs-blue-header .site-name {
        right: 0
    }

    .site-name {
        color: #000 !important
    }

    .page-blog h1,
    h1,
    h1.page-title {
        font-size: 36px;
        line-height: 52px
    }

    .site-content-with-left-nav {
        width: 100%;
        color: #000;
        font-size: 20px;
        line-height: 32px
    }

    .hhs-global-footer {
        background-color: transparent;
        break-inside: avoid
    }
}

.hhs-blue-header .logo a:link,
.hhs-blue-header .logo a:visited {
    color: #fcaf10;
    display: block;
    width: 204px;
    height: 50px;
    text-indent: -1000em;
    z-index: 2000;
    background: url(img/hhs_logo.png) no-repeat;
}

.blog-post--authoring {
    margin-bottom: 15px;
}

.author {
    padding: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.author__body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
}

.author__face {
    margin-right: 15px;
}

.author__content p {
    font-size: 16px;
    color: #747474;
    margin-bottom: 0;
}

.author__face img {
    max-width: 260px;
}

img {
    display: block;
    max-width: 100%;
}

@media (max-width: 576px) {
    .author__body {
        flex-direction: column;
        padding-bottom: 25px;
    }

    .author__face img {
        max-width: 100%;
    }

    .author__face {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .author__content p {
        margin-bottom: 0;
    }
}


.wrap-btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

a.button7 {
    font-weight: 700;
    color: white !important;
    text-decoration: none !important;
    padding: .8em 3em calc(.8em + 3px);
    border-radius: 3px;
    background: #d2232e;
    box-shadow: 0 -3px #84020a inset;
    transition: 0.2s;
    font-size: 24px;
    display: inline-block;
}

a.button7:hover {
    background: #84020a;
    box-shadow: 0 -3px #d2232e inset;
}

a.button7:active {
    background: #d2232e;
    box-shadow: 0 3px #d2232e inset;
}


.commits {
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px
}

.send-message {
    margin-top: 30px;
}

.commits__title {
    margin-bottom: 15px;
    font-size: 24px
}

.commits__item+.commits__item {
    padding-top: 25px
}

.commits__item.hide .commits__add {
    display: none
}

.commits__item+.commits__item {
    margin-top: 20px;
    border-top: 1px solid #eaeaea
}

.commits__item:first-child {
    padding-top: 0
}

.commits__head {
    display: flex;
    align-items: center;
    margin-bottom: 5px
}

.commits__face {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: gray;
    overflow: hidden;
}

.commits__face img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.commits__name {
    font-size: 14px;
}

.commits__date {
    font-size: 12px
}

.commits__description {
    color: #000;
    line-height: 24px
}

.commits__media {
    margin-top: 10px
}

.commits__success {
    display: inline-block;
    padding: 5px 15px;
    margin-top: 20px;
    font-style: italic;
    font-size: 12px;
    background-color: #e2e2e2
}

.commits__media img {
    display: block;
    max-width: 100%
}

.commits__add-title {
    margin-bottom: 10px
}

.commits__field-name {
    display: block;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #b9b7b7
}

.commits__field-message {
    display: block;
    width: 100%;
    height: 100px;
    max-width: 500px;
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
    box-sizing: border-box;
    border: 1px solid #b9b7b7
}

.commits__item_hide {
    display: none
}

.commits_error {
    border-color: red
}

.commits__sucses {
    background-color: #a1caa6;
    color: #fff;
    display: inline-block;
    padding: 7px 20px;
    margin-top: 15px;
    font-style: italic
}

.commits__add-btn {
    display: inline-block;
    padding: 10px 25px;
    font-size: 12px;
    color: #ffffff;
    background-color: #b10000;
    text-decoration: none;
    opacity: .9;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    cursor: pointer
}

.commits__add-btn:hover {
    transform: scale(.98);
    opacity: 1
}