*, .main-sect .sidebar {
  -webkit-box-sizing: border-box
}
.cont, img {
  margin: 0 auto
}
.btn, nav {
  text-align: center
}
.cont::after, .main-sect .content .c::after {
  clear: both;
  content: ""
}
body {
  font-family: "Times New Roman", serif;
  font-size: 14px;
  background-color: #f2f2f2
}
.btn, nav ul li a {
  font-family: sans-serif;
  color: #ffffff;
  text-decoration: none
}
* {
  box-sizing: border-box
}
.cont {
  position: relative;
  max-width: 1100px;
  width: 100%;
  padding: 0 15px
}
.cont::after {
  display: table
}
img, nav {
  display: block
}
img {
  max-width: 100%
}
.main-head {
  background-color: #ffffff
}
nav {
  background-color: #ff3000;
  height: 56px;
  line-height: 56px
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}
nav ul li {
  display: inline-block;
  margin: 0 10px
}
nav ul li a {
  font-size: 18px;
  font-weight: 400;
  padding: 10px 5px;
  -webkit-transition: .25s;
  transition: .25s
}
nav ul li a:hover {
  background-color: #e64946
}
.btn {
  display: block;
  max-width: 500px;
  background-color: #ff3000;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  margin: 20px auto;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 10px 15px;
  -webkit-transition: .25s;
  transition: .25s
}
.btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05)
}
.main-sect .cont {
  padding: 0
}
.main-sect .sidebar {
  width: 250px;
  float: right;
  box-sizing: border-box;
  padding: 20px 10px
}
.main-sect .sidebar a {
  text-decoration: none
}
.main-sect .sidebar .item {
  margin-bottom: 20px
}
.main-sect .sidebar .item .sideProd {
  display: inline-block;
  width: 63%;
  vertical-align: middle;
}
.main-sect .sidebar .item .sideMark {
  display: inline-block;
  width: 34%;
  vertical-align: middle;
}
.main-sect .sidebar .item a {
  color: #ff3000;
  font-weight: 700;
  display: block;
  margin-top: 6px;
  text-decoration: underline;
}
.main-sect .sidebar .item a:hover {
  text-decoration: none;
}
.main-sect .sidebar h2 {
  margin-top: 0;
  font-family: sans-serif;
  padding-bottom: 10px;
  border-bottom: 3px solid #ff3000
}
.main-sect .content {
  margin-right: 270px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 15px;
  -webkit-box-shadow: 0 1px 10px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, .2)
}
.main-sect .content .post {
  display: block;
  margin: 20px 0
}
.main-sect .content .post-autor a {
  font-family: BebasNeueBold, sans-serif;
  font-size: 14px;
  color: grey;
  font-weight: 400;
  text-decoration: none
}
.main-sect .content h1, .main-sect .content h3 {
  font-family: sans-serif
}
.main-sect .content .post-data {
  padding-top: 5px;
  display: block;
  font-size: 14px;
  font-style: italic;
  opacity: .6
}
.main-sect .content h1 {
  margin-top: 0
}
.main-sect .content p {
  font-size: 20px;
  line-height: 22px;
  text-align: justify
}
.main-sect .content p a {
  color: #ff3000;
  font-weight: 700;
}
.main-sect .content p a:hover {
  text-decoration: none;
}
.main-sect .content h3 {
  font-size: 24px
}
.main-sect .content .c {
  margin-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
  padding-top: 10px
}
.main-sect .content .c::after {
  display: table
}
.main-sect .content .c-i {
  width: 50px;
  height: 50px;
  float: left
}
.main-sect .content .c-i img {
  margin: 0;
  width: 100%;
  height: 100%
}
.main-sect .content .c-c {
  margin-left: 60px
}
.main-sect .content .c-c-n a {
  color: #3b5998;
  font-size: 16px;
  font-family: Tahoma;
  font-weight: 700;
  text-decoration: none
}
.main-sect .content .c-c-t {
  font-family: Tahoma;
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px
}
.main-sect .content .c-c-t a {
  color: #ff3000;
  font-weight: 700;
}
.main-sect .content .c-c-t a:hover {
  text-decoration: none;
}
.main-sect .content .c-c-t img {
  margin: 10px auto
}
.main-sect .content .c-c-f {
  margin-top: 5px
}
.main-sect .content .c-c-f a {
  font-family: Tahoma;
  font-weight: 400;
  font-size: 12px;
  color: #3b5998;
  text-decoration: none
}
.main-sect .content .c-c-f a span {
  border-bottom: 1px dotted;
  color: gray;
  margin-left: 5px
}
.main-sect .content .c-c-f a span.count {
  border-bottom: 0;
  color: #3b5998;
  font-weight: 800;
  margin-right: 5px;
  margin-left: 0
}
.left {
  float: left;
  margin-right: 20px
}
footer {
  padding: 15px 0;
}
footer .cont {
  text-align: center
}
footer .cont a, footer .cont span {
  display: inline-block;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase
}
footer .cont a {
  margin-left: 10px
}
footer .cont p {
  margin-top: 10px;
  font-size: 16px
}
.mob-menu {
  display: none;
}
.prod-center {
  display: none;
}
@media screen and (max-width: 991px) {
  .left {
    float: none !important;
    display: block !important;
    margin: 20px auto !important;
  }
  .main-sect .content .c:nth-last-child(n+7) {
    display: none;
  }
  .main-head {
    margin-top: 40px;
  }
  .main-sect .content {
    margin-right: 0
  }
  .main-sect .sidebar {
    display: none
  }
  .c:not(.active) {
    display: none;
  }
  .prod-center {
    display: block;
  }
  .mob-menu {
    display: block;
  }
  nav ul {
    display: none;
  }
  nav {
    background-color: #ff3000;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 56px;
    line-height: 56px;
    width: 100%;
    z-index: 99;
    
  }
  .mob-menu-icon span {
    height: 3px;
    background-color: #ffffff !important;
    display: block;
    margin-top: 5px;
  }
  nav a {
    width: 30px;
    height: 30px;
    display: block;
    margin-top: 15px;
    float: right
  }
  nav .menu {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 34px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 800px) {
  .main-sect .content .post {
    display: none
  }
  .left {
    float: none !important;
    display: block !important;
    margin: 20px auto !important
  }
}
@media screen and (max-width: 425px) {

  .main-sect .content .c-c {
    margin-left: 0;
  }
  .c-c-n {
    padding: 15px 0;
  }
  .main-sect .content .c-i {
    margin-right: 10px;
  }
  .main-sect .content p {
    font-size: 16px;
  }
  .main-sect .content h1 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .btn {
    margin-top: 40px;
  }
}
