html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;

  font-size: 100%;
  vertical-align: baseline;

  background: transparent;
  border: 0;
  outline: 0;
}

a {
  margin: 0;
  padding: 0;

  font-size: 100%;
  vertical-align: baseline;

  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
td img {
  vertical-align: top;
}

input,
select,
button,
textarea {
  margin: 0;

  font-size: 100%;

  border: 0;
  outline: none;
}

input[type="text"],
input[type="password"],
textarea {
  padding: 0;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

sub {
  font-size: smaller;
  vertical-align: sub;
}

sup {
  font-size: smaller;
  vertical-align: super;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

ul {
  list-style: none;
}

html {
  font-size: 10px;
}

.upheader {
  width: 100%;

  background: #1e73be;
}

.upheader li {
  display: inline-block;
  padding: 5px;

  font-weight: bold;
  font-family: Arial, sans-serif;
  color: white;
}

.upheader li a {
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.headerlist {
  display: inline-block;
}

.upheader span {
  font-weight: bold;
  font-size: 12px;
  color: white;
}

.logo {
  display: block;

  text-align: center;
}

header {
  border-top: 3px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;;
}

.content,
.sidebar {
  padding-top: 20px;
}

.menu li a {
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}

.content {
  background: white;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}



.link {
  padding-bottom: 20px;

  font-family: Arial, sans-serif;
}

.link a {
  color: lightgrey !important;
  text-decoration: none;
}

.content {
  background: #f2f2f2;
}



.text {
  font-family: Arial, sans-serif;

}

h2 {
  font-family: Arial, sans-serif;

}

.social {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;;;
}

.social img {
  width: 100%;
  max-width: 260px;
}

.upmain {
  padding: 10px;
}

.upmain a {
  text-decoration: none;
}

.social img,
.share {
  display: inline-block;

  vertical-align: middle;
}

.social {
  padding: 10px;
}

.share {
  margin-bottom: 0 !important;

  font-weight: bold;
}

.maintext {
  padding: 10px;
}

.blackbtn {
  display: block;
  width: 100%;
  max-width: 70px;
  padding: 5px;

  font-size: 11px;
  text-align: center;
  color: white;
  text-decoration: none;

  background: black;
  border: 1px solid white;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 10px 0;

  border: 1px solid gray;
}

.sidebarlinks a {
  display: block;
  padding: 5px 0;

  font-size: 18px;
  color: #0a78c2;
  text-decoration: none;
}

.sidebarimg img {
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 5px 0;
}

.sidebarimg a {
  display: block;
  padding: 5px 0;

  font-weight: bold;
  text-align: center;
  color: black;
  text-decoration: none;
}

.buynowbtn {
  position: absolute;
  top: 21px;
  right: 32px;

  font-size: 24px;
  font-family: Arial, serif;
  color: #0070c0;
  text-decoration: none;
}

.logo img {
  width: 100%;
  max-width: 450px;
}

h1 {
  padding-bottom: 10px;

  font-size: 24px;
  font-family: Arial, sans-serif;

}

.title {
  font-size: 18px;
  text-align: center;
}

.username {
  display: inline-block;
}

.username a {
  color: #00b38f;
  text-decoration: none;
}

.datePublish {
  display: inline-block;
  float: right;
}



.second img {
  padding: 5px;
}

.all {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;

  text-align: center;
}

.all div {
  display: inline-block;
  width: 30%;

  vertical-align: top;
}

.all div img {
  width: 100%;
  max-width: 200px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
}

.qwer {
  background: white;
}
.btn_top {
  position: absolute;
  top: 16px;
  right: 14px;

  font-size: 22px;
  font-family: Arial, serif;
  color: #0070c0;
  text-decoration: none;
}
.btn_bottom {
  position: absolute;
  top: 22px;
  right: 32px;

  font-size: 24px;
  font-family: Arial, serif;
  color: #0070c0;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .fixed {
    display: none;
  }
}

.footer {
  width: 100%;
  max-width: 961px;
  margin: 0 auto;

  background: black;
}

.footercontent {
  text-align: center;
}

.footercontent li {
  padding: 10px 0;
}

.footercontent a {
  color: white;
  text-decoration: none;
}

.footercontent div {
  display: inline-block;
  width: 30%;

  vertical-align: top;
  text-transform: uppercase;
}

.fa-search {
  position: absolute;
  top: 0;
  right: 0;

  padding: 5px;

  color: black;
}

@media screen and (max-width: 800px) {
  .fa-search {
    display: none !important;
  }

  .mobileMenu {
    display: none !important;
  }
}

.text a {
  color: #0070c0;
  text-decoration: none;
}

.comment a,
.title a {
  color: #0070c0 !important;
  text-decoration: none !important;
}

h1 a,
h2 a {
  color: #0070c0;
}

h3 {
  font-weight: normal;
  font-style: italic;
}

@media screen and (max-width: 500px) {
  .upheader {
    display: none;
  }

  .footer {
    display: none;
  }

  .comment:nth-child(2n) {
    display: none;
  }
}

.username a {
  color: darkgreen !important;
}

.bgbutton {
  position: relative;

  display: block;
  width: 100%;
  max-width: 242px;
  height: 68px;
  margin: 10px auto;

  font-size: 12px;

  background: url("../images/image23.jpg") no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  cursor: pointer;

  -webkit-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}
.bgbutton:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
