
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic&subset=latin,latin-ext);

.content-title-center h1{
	color: #000000;
}

h2{
	color:#000000;
}



.features-item h4{
	color:#34495E;
	text-transform: uppercase;
}

a{
	/*color:#34495E;*/
	color: #1ABC9C;
}

a:hover{
	color: #1ABC9C;
	text-decoration: underline;
}


code{
color: #1ABC9C;
}

.lead{
	font-size: 16px;
	font-weight: 300;
}

.main-color{
	background-color: #1ABC9C !important;
	fill:#1ABC9C !important;;
}

.main-font-color
{
 	color: #1ABC9C !important;
}

.secondary-color{
	background-color: #34495E;
}
.secondary-font-color{
	color: #34495E;
}

.secondary-font-color h1,.secondary-font-color h2,.secondary-font-color h3{
	color: #34495E;
}

.white-font-color{
	color:#FFF !important;
}

.white-font-color h1,.white-font-color h2,.white-font-color h3{
	color:#FFF;
}

#header-image h1,#header-image h2,#header-image h3,#header-image p{
	text-shadow: 1px 1px 1px #000; 
}


/* BOOTSTRAP OVERRIDES */

.btn-primary.black{
	border:2px solid #444;
	color:#444;
	}


.btn-primary.nogoli{
	color:#FFF;
}

/* NAVIGATION */


.navbar-default .navbar-nav>.active> a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
background-color: #1ABC9C;
border-bottom:2px #2ECC71 solid;

}
.navbar-default .navbar-nav > li > a:hover{

	background-color: #1ABC9C;
	border-bottom: 2px #2ECC71 solid;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #FFF;
	border-radius: 3px;
}

.navbar-default .navbar-nav > li > a{
	color: #33485E;
}

.navbar .dropdown-menu li a {
	color: #34495E;
 }



#home-slider h1{
	color:#FFF;
}


#home-slider p{
	color:#FFF;
}



.main-slider{
	background-color: #1ABC9C;
}

/*end slider*/


/* home */

.main-items i{
	color: #1ABC9C;
}

.work-item .project-link {
	background: #1ABC9C;
	background: rgba(26, 188, 156, 0.7);
}

.work-item .project-link h3{
	color:#fff;
}

.work-item .project-link span {
	color: #ffffff;
}

/**/



/*Blog item*/




.tooltip-inner {
  color: #FFF;
  background: #1ABC9C;


}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #1ABC9C; 
  }

.blog-item .blog-link {
	
	background: #1ABC9C;
	background: rgba(26, 188, 156, 0.7);
	}

.big-blog-entry{
	/*margin-bottom: 100px;*/
}

/**/

/* Blog detail*/


.blog-item .blog-link span {
	color: #ffffff;
}
#reply-form{
	color:#33485E;
}

/**/

.full-featured{
	background-color:#34495E;
	min-height:280px;
	color: #FFF;
	}


.full-featured h2, .full-featured h3, .full-featured h3, .full-featured h2{
	color: #FFF;
}

.recent-post-half .title-post{
	color:#34495E;
}


.progress-bar-middle-nogoli{
	background-color: #1ABC9C;
}
.progress-bar-low-nogoli{
	background-color: #E55E64;
}
.progress-bar-height-nogoli{
	background-color: #34495E;
}


.title-big-post{
	color:#000000;
}

.p-big-post{
	color:#000000;
}

.pricing-item.active .pricing-item-table .header-table{
	background-color: #1ABC9C !important;
}

.pricing-item-table .header-table{
	background-color: #34495E;
}

/* contact*/

#contact{
	color:#000000;
}


#social-links-contact{
	padding-left: 0px !important;
}

#social-links-contact a{
color:#34495E;	
border: 1px #34495E solid;
}

#social-links-contact a:hover{
	color:#1ABC9C;
	border-color: #1ABC9C;
}




/* Footer */
#footer{
	background:#555;
	color:#fff;
	}


.title-section h3{
	color:#FFF;
}

.title-section h4{
	color:#FFF;
}



/*pagination*/
.pagination li a {
	color: #FFF;
	border-bottom:2px #2ECC71 solid;
}

.pagination li a:hover{
	color: #FFF;
	border-bottom:2px #2ECC71 solid;
}


/*tabs*/

.nav-tabs li.active{
	border-bottom:5px #1ABC9C solid;
}

@media (max-width: 959px) and (min-width: 700px) {
	aside#auhor-widget
	{
		display: none;
	}
}

.logo-link {
	vertical-align: bottom;
	line-height: 1;
	position: relative;
}

.logo-text {
	font-family: "Bitter", serif;
	font-size: 25px;
	text-transform:  uppercase;
	color: #131731;
	font-weight: normal;
	display: inline-block;
	margin-right: 10px;
}

.logo-img {
	position: absolute;
	top: -15px;
	left: -40px;
	width: 37px;
	height: 34px;
}

.navbar-header {
	padding-top: 10px;
	padding-left: 30px;
}

@media (max-width: 992px) {
	aside {
		display: none;
	}
}

@media (max-width: 400px) {
	.comment-block {
		padding-left: 0;
	}
}

.comments-header {
	margin-top: 20px;
}

.burger {
	display: none;
}

@media screen and (max-width: 500px) {
	.burger {
		display: block;
		float: right;
	}

	.fa-bars {
		font-size: 25px!important;
		color: black!important;
		padding-top: 5px;
	}
}