* {
  box-sizing: border-box;
}
::before {
  box-sizing: border-box;
}
::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
figure {
  display: block;
  margin: 0 0 1rem;
}
footer {
  display: block;
}
.sb a {
  color: #333;
}
body {
  margin: 0;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
[tabindex="-1"]:focus {
  outline: 0 !important;
}
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul ul {
  margin-bottom: 0;
}
b {
  font-weight: bolder;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
}
img {
  vertical-align: middle;
  border-style: none;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button {
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  appearance: button;
  margin: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  margin: 0;
}
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: auto;
  resize: vertical;
  margin: 0;
}
[type="button"] {
  -webkit-appearance: button;
  appearance: button;
}
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}
button:not(:disabled) {
  cursor: pointer;
}
[type="button"]:not(:disabled) {
  cursor: pointer;
}
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
* {
  box-sizing: border-box;
}
::before {
  box-sizing: border-box;
}
::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
figure {
  display: block;
  margin: 0;
}
footer {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
[tabindex="-1"]:focus {
  outline: 0 !important;
}
body,
html {
  overflow-x: hidden;
}
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.5rem;
}
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.5rem;
}
h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
}
p {
  margin-top: 0;
  margin-bottom: 30px;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul ul {
  margin-bottom: 0;
}
b {
  font-weight: bolder;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
}
img {
  vertical-align: middle;
  border-style: none;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button {
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  appearance: button;
  margin: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  margin: 0;
}
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: auto;
  resize: vertical;
  margin: 0;
}
[type="button"] {
  -webkit-appearance: button;
  appearance: button;
}
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}
button:not(:disabled) {
  cursor: pointer;
}
[type="button"]:not(:disabled) {
  cursor: pointer;
}
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 1rem;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn:disabled {
  opacity: 0.65;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}
.btn-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-primary:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.btn-light:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
.btn-light:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}
.btn-light:not(:disabled):not(.disabled).active {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}
.btn-light:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
.btn-light:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
.btn-link {
  font-weight: 400;
  color: #007bff !important;
  text-decoration: none;
}
.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}
.btn-link:focus {
  text-decoration: underline;
  box-shadow: none;
}
.btn-link:disabled {
  color: #6c757d;
  pointer-events: none;
}
.btn-lg {
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
}
.btn-sm {
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  padding: 0.25rem 0.5rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}
.dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}
.dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}
.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-group > .form-control {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.input-group > .form-control:focus {
  z-index: 3;
}
.input-group > .form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-append {
  display: -ms-flexbox;
  display: flex;
  margin-left: -1px;
}
.input-group-append .btn {
  position: relative;
  z-index: 2;
}
.input-group-append .btn:focus {
  z-index: 3;
}
.input-group > .input-group-append > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-justified .nav-item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.close:hover {
  color: #000;
  text-decoration: none;
}
.close:not(:disabled):not(.disabled):hover {
  opacity: 0.75;
}
.close:not(:disabled):not(.disabled):focus {
  opacity: 0.75;
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.modal-footer > :not(:first-child) {
  margin-left: 0.25rem;
}
.modal-footer > :not(:last-child) {
  margin-right: 0.25rem;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}

.bg-light {
  background-color: #f8f9fa !important;
}
.bg-white {
  background-color: #fff !important;
}
.border {
  border: 1px solid #dee2e6 !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.d-none {
  display: none !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.terms {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
}

.terms p {
  text-align: center;
  margin-bottom: 10px;
}

.terms p:last-child {
  margin-bottom: 0;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}
.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.position-relative {
  position: relative !important;
}
.position-fixed {
  position: fixed !important;
}
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.ml-3 {
  margin-left: 1rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.ml-4 {
  margin-left: 1.5rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.mr-auto {
  margin-right: auto !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-secondary {
  color: #6c757d !important;
}
.text-dark {
  color: #343a40 !important;
}
a.text-dark:hover {
  color: #121416 !important;
}
a.text-dark:focus {
  color: #121416 !important;
}
.text-muted {
  color: #6c757d !important;
}
@media print {
  * {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  ::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
  }
}
.ng-layout {
  margin: 0 auto;
  padding: 0;
}
.ng-layout .d-flex-centered {
  justify-content: center;
}
.ng-content {
  width: 100%;
  background: #fff;
  justify-content: center;
  align-items: center;
}
.ng-right-sidebar {
  -ms-flex: 0 0 336px;
  flex: 0 0 336px;
  width: 336px;
}
.pl-global {
  padding-left: 15px;
}
.pr-global {
  padding-right: 15px;
}
@media (min-width: 1052px) {
  .ng-content {
    -ms-flex: 0 0 680px;
    flex: 0 0 680px;
    max-width: 680px;
  }
  .ng-right-sidebar.d-none {
    display: block !important;
    margin-left: 25px;
  }
  .pr-global {
    padding-right: 0;
  }
  .pl-global {
    padding-left: 10px;
  }
  .feed-menu a,
  .s__link,
  .link__header a {
    font-size: 16px;
  }
}
@media (min-width: 1100px) {
  .ng-content {
    -ms-flex: 0 0 728px;
    flex: 0 0 728px;
    max-width: 728px;
  }
  .ng-right-sidebar.d-none {
    margin-left: 1.5rem;
  }
  .pl-global {
    padding-left: 0;
  }
}
@media (min-width: 1337px) {
  .ng-content {
    max-width: 900px;
  }
  .ng-right-sidebar.d-none {
    display: block !important;
    margin-left: 3rem;
  }
}
@media (min-width: 1680px) {
  .ng-layout {
    -ms-flex: 0 0 1594px;
    flex: 0 0 1594px;
  }
  .ng-content {
    margin: 0 30px;
  }
}
.scrollbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding-left: 15px;
  margin-left: -15px;
  margin-right: -15px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
.scrollbox::-webkit-scrollbar {
  width: 0;
  display: none;
}
.scrollbox .item {
  flex: 0 0 auto;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  color: #000;
  vertical-align: top;
  white-space: normal;
}
/* .scrollbox a {
    color: #fff;
} */
.scrollbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding-left: 15px;
  margin-left: -15px;
  margin-right: -15px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
.scrollbox::-webkit-scrollbar {
  width: 0;
  display: none;
}
.scrollbox .item {
  flex: 0 0 auto;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  color: #000;
  vertical-align: top;
  white-space: normal;
}
.topic .post-author-details {
  font-size: 1rem;
  margin: 0 0 1.5rem;
}
.topic .post-author-details .post-author-name {
  font-size: 0.9rem;
}
.topic .btn-sub {
  margin-left: auto;
}
.topic .post-details {
  font-size: 0.9rem;
}
.topic h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 32px;
}
.topic .kf-post-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 30px;
}
.article-text-container p {
  /* margin:0; */
  color: #4c4c4c;
}
.topic figure {
  text-align: center;
}
.marker-test {
  background: #424af7;
  color: #fff;
}
.markers-topic {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.marker-topic {
  width: 40px;
  height: 38px;
  border-radius: 0;
  margin: 0 8px 5px 0;
  color: #fff;
}
.marker-topic:hover {
  color: #fff;
}
.text-test {
  color: #424af7;
}
.topic .post-author-avatar i {
  height: 39px;
  width: 39px;
  background-size: cover;
  background-position: center center;
  display: block;
}
.topic .kf-friend-a {
  padding-top: 8px;
  padding-bottom: 8px;
  background: #ffc886;
  border-color: #ffc886;
}
.topic .zoom {
  margin-left: -15px;
  margin-right: -15px;
}
.topic img {
  margin: 8px auto;
  max-width: 550px;
  margin-bottom: 30px;
}
.post-community-mobile {
  display: block;
}
.post-community-desktop {
  display: none;
}
@media (min-width: 576px) {
  .article-text-container {
    font-size: 1.1rem;
  }
  .topic img {
    display: block;
  }
}
@media (min-width: 768px) {
  .post-community-desktop {
    display: inline-block;
  }
  .post-community-mobile {
    display: none;
  }
  .topic .btn-sub {
    margin: 0;
  }
  .topic .zoom {
    margin-left: 0;
    margin-right: 0;
  }
  .topic .kf-post-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3em;
    word-wrap: break-word;
  }
}
.smiles a {
  padding: 5px;
  display: inline-block;
}
.navbars {
  margin-bottom: 1rem;
  top: 0;
  z-index: 100;
  background: #fff;
}
.navbar-lvl-1 {
  margin: 0;
  padding: 0;
}
.navbar-lvl-1 .btn {
  font-size: 0.6rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  background: #ed3a4a;
  margin: 0;
  padding: 9px 6px;
}
.navbar-lvl-1-container {
  background: #ed3a4a;
}
.navbar-lvl-1 .btn:hover {
  background: #d73240;
  text-decoration: none;
  border-radius: 0;
}
.navbar-lvl-1 .arrow {
  position: absolute;
  background: #fff;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 0.8rem;
  padding: 2px 0 0;
  top: 7px;
  z-index: 100;
  display: none;
}
.navbar-lvl-1 .arrow.arrow-left {
  left: 7px;
}
.navbar-lvl-1 .arrow.arrow-right {
  right: 7px;
}
.navbar-lvl-1 .item.item-first {
  margin-left: 10px;
}
.navbar-lvl-2 {
  justify-content: flex-start;
  width: 100%;
}
.navbar-lvl-2 .logo a {
  display: block;
  padding: 9px 15px 8px;
}
.navbar-lvl-2 .logo img {
  height: 30px;
  width: 30px;
}
.navbar-lvl-2 .btn {
  color: #555;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-lvl-2 .btn:hover {
  text-decoration: none;
}
.navbar-lvl-2 .btn.btn-link {
  color: #555;
}
.navbar-lvl-2 .p-fal {
  font-size: 1.1rem;
  background: #fff;
  padding: 11px 15px;
}
.navbar-lvl-2 .bars {
  text-align: left;
}
.feed-menu {
  display: none;
  padding-left: 7px;
}
.feed-menu .btn {
  font-size: 0.8rem;
  padding: 15px 4px;
}
.feed-menu .item.menu-btn-create {
  display: none;
}
@media (min-width: 576px) {
  .navbar-lvl-1-container {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .feed-menu {
    display: -ms-flexbox !important;
    display: flex !important;
    margin-right: auto;
  }
  .feed-menu .item.menu-btn-create {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .navbar-lvl-1 .arrow {
    display: none;
  }
  .navbar-lvl-1 .btn {
    font-size: 0.7rem;
  }
  .navbar-lvl-2 {
    margin-left: auto;
    margin-right: auto;
  }
  .feed-menu .btn {
    font-size: 0.8rem;
    padding: 15px 0.5rem;
  }
  .navbar-lvl-2 .p-fal {
    font-size: 1.3rem;
    padding: 11px 17px;
  }
  .navbars {
    margin-bottom: 2rem;
  }
  .navbar-lvl-1 .item.item-first {
    margin-left: 0;
  }
}
@media (min-width: 1337px) {
  .navbar-lvl-1 {
    margin: 0 auto;
  }
}
.ng-menu-adaptive {
  display: none;
  height: 100%;
  position: fixed;
  background: #fff;
  z-index: 1000;
  top: 0;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 64px;
  min-height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 90%;
}
.ng-menu-adaptive .nav-pills {
  margin: 0 20px;
}
.ng-menu-adaptive::-webkit-scrollbar {
  width: 0;
}
.ng-menu-adaptive .menu-close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #555;
  font-size: 18px;
  padding: 0 13px;
}
.ng-menu-adaptive .logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  background-color: #f5f5f6;
  color: #333;
  padding-right: 24px;
  padding-left: 20px;
}
.ng-menu-adaptive .logo img {
  width: 130px;
  height: 30px;
  padding: 0;
}
.ng-menu-adaptive .menu-chapter-header {
  padding: 10px 22px 10px 24px;
  text-transform: uppercase;
  word-wrap: break-word;
  letter-spacing: 0.4px;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 44px;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  font-weight: 700;
}
.ng-menu-adaptive .menu-chapter-header .fal {
  margin: 0 5px 0 0;
}
.ng-menu-adaptive .menu-chapter-header .menu-chapter-arrow {
  margin-left: auto;
  font-size: 14px;
}
.ng-menu-adaptive .menu-chapter-container {
  display: none;
  cursor: pointer;
  padding: 0 0 16px;
  border-bottom: 1px solid #eaeaea;
}
.ng-menu-adaptive .menu-chapter-container a {
  display: block;
}
.ng-menu-adaptive .menu-chapter-item {
  display: block;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 12px 16px 10px 33px;
  height: 36px;
  text-decoration: none;
  word-wrap: break-word;
  letter-spacing: inherit;
  font-size: 13px;
  line-height: 20px;
  color: #555;
}
.ng-menu-adaptive .menu-footer {
  text-align: center;
  margin: 20px 0 0;
}
.ng-menu-adaptive .menu-footer a {
  align-items: center;
  padding: 10px;
  height: 36px;
  text-decoration: none;
  word-wrap: break-word;
  letter-spacing: inherit;
  font-size: 13px;
  line-height: 20px;
  color: #555;
}
.ng-menu-adaptive .menu-btn-feed {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
}
.ng-menu-adaptive .menu-btn-create {
  margin: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  width: 90%;
  font-size: 11px;
}
.ng-menu-adaptive .menu-search {
  margin: 0 -1px;
  border-bottom: 1px solid #eaeaea;
}
.ng-menu-adaptive .menu-search .form-control {
  border: none;
  padding-left: 21px;
  font-size: 1rem;
}
.ng-menu-adaptive .menu-search .btn {
  border: none;
  padding-right: 23px;
}
.ng-menu-adaptive .menu-search input::-webkit-input-placeholder {
  color: #999;
  font-size: 13px;
}
.ng-menu-adaptive .menu-search input::-moz-placeholder {
  color: #999;
  font-size: 13px;
}
.ng-menu-adaptive .menu-search input:-ms-input-placeholder {
  color: #999;
  font-size: 13px;
}
.nav-pills {
  margin-bottom: 1.5rem;
}
.nav-pills a {
  font-size: 0.8rem;
}
.ng-menu-right {
  right: 0;
}
@media (min-width: 768px) {
  .nav-pills {
    margin-bottom: 2rem;
  }
  .nav-pills a {
    font-size: 0.9rem;
  }
  .ng-menu-adaptive {
    width: 400px;
  }
}
.ng-search-overlay {
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 110;
  background-color: #fff;
  display: none;
  justify-content: center;
  top: 84px;
}
.ng-search-input {
  border-radius: 0;
  width: 100%;
  margin: 0 auto;
  border: none;
  border-radius: 0;
  border-top: 1px solid #eaeaea;
  border-bottom: 2px solid #eaeaea;
  font-size: 1rem;
}
.ng-search-input:focus {
  border-left: none !important;
  border-right: none !important;
}
.ng-search-container {
  top: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 10;
  height: 100%;
  position: absolute;
  display: flex;
}
.ng-search-result-container {
  top: 43px;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  overflow: hidden;
  padding: 20px 15px;
  display: none;
  position: relative;
}
.btn-search-close {
  position: absolute;
  background: none;
  border: none;
  z-index: 30;
  right: 5px;
  top: 0;
  z-index: 20000;
  font-size: 1.1rem;
  color: #555;
}
.btn-search-close i {
  color: #555;
}
.ng-search-result-scroller {
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
.ng-search-result-scroller::-webkit-scrollbar {
  width: 0;
  display: none;
}
@media (min-width: 576px) {
  .ng-search-overlay {
    top: 75px;
    background: #fff;
  }
  .ng-search-input {
    font-size: 1.1rem;
  }
  .ng-search-result-container {
    top: 65px;
  }
  .btn-search-close {
    font-size: 1.4rem;
  }
  .btn-search-close i {
    color: #999;
  }
}
@media (min-width: 768px) {
  .ng-search-overlay {
    top: 77px;
  }
  .ng-search-input {
    font-size: 1.2rem;
    width: 600px;
    margin: 14px auto 0;
    border: 1px solid #eaeaea;
    font-size: 1.2rem;
    border-radius: 4px;
  }
  .ng-search-result-container {
    width: 600px;
    padding: 20px 20px 50px;
  }
  .btn-search-close {
    right: 5px;
    top: 4px;
    font-size: 2rem;
    color: #fff;
  }
}
.sm {
  background-image: url(https://kosmetista.ru/templates/skin/phoenix/i/sprites-14.png);
  background-size: 390px 195px;
  display: inline-block;
}
.sm-smile {
  width: 25px;
  height: 21px;
  background-position: -3px -59px;
}
.sm-wink {
  width: 25px;
  height: 21px;
  background-position: -32px -59px;
  width: 24px;
}
.sm-sad {
  width: 25px;
  height: 21px;
  background-position: -60px -59px;
}
.sm-rofl {
  width: 25px;
  height: 21px;
  background-position: -88px -59px;
}
.sm-tongue {
  width: 25px;
  height: 21px;
  background-position: -116px -59px;
}
.sm-grin {
  width: 25px;
  height: 21px;
  background-position: -144px -59px;
}
.sm-crying {
  width: 25px;
  height: 21px;
  background-position: -172px -59px;
}
.sm-blush {
  width: 25px;
  height: 21px;
  background-position: -201px -59px;
}
.sm-sarcastic {
  width: 25px;
  height: 21px;
  background-position: -229px -59px;
}
.sm-scream {
  width: 25px;
  height: 21px;
  background-position: -258px -59px;
  width: 24px;
}
.sm-ambivalent {
  width: 25px;
  height: 21px;
  background-position: -286px -59px;
}
.sm-kiss {
  width: 25px;
  height: 21px;
  background-position: -314px -59px;
}
.sm-yum {
  width: 25px;
  height: 21px;
  background-position: -32px -89px;
}
.sm-shocked {
  width: 25px;
  height: 21px;
  background-position: -4px -89px;
}
.sm-crazy {
  width: 25px;
  height: 21px;
  background-position: -60px -89px;
  height: 23px;
}
.sm-spy {
  width: 25px;
  height: 21px;
  background-position: -89px -89px;
}
.sm-clever {
  width: 25px;
  height: 21px;
  background-position: -118px -89px;
}
.sm-inhypnose {
  width: 25px;
  height: 21px;
  background-position: -146px -89px;
  width: 26px;
}
.sm-inlove {
  width: 25px;
  height: 21px;
  background-position: -175px -89px;
  width: 26px;
}
.sm-frown {
  width: 25px;
  height: 21px;
  background-position: -342px -59px;
}
.sm-devil {
  background-position: -3px -119px;
  width: 26px;
  height: 24px;
}
.sm-sick {
  background-position: -32px -119px;
  width: 26px;
  height: 24px;
}
.sm-veryangry {
  background-position: -60px -119px;
  width: 26px;
  height: 24px;
}
.sm-angry {
  background-position: -89px -119px;
  width: 26px;
  height: 24px;
}
.sm-pirate {
  background-position: -117px -119px;
  width: 27px;
  height: 24px;
}
.sm-attention {
  background-position: -146px -119px;
  width: 27px;
  height: 24px;
}
.sm-angel {
  background-position: -176px -119px;
  width: 39px;
  height: 23px;
}
.sm-money {
  background-position: -220px -119px;
  width: 24px;
  height: 23px;
}
.sm-silent {
  background-position: -248px -119px;
  width: 24px;
  height: 23px;
}
.sm-thumb-up {
  background-position: -298px -119px;
  width: 18px;
  height: 23px;
}
.sm-thumb-down {
  background-position: -276px -119px;
  width: 18px;
  height: 23px;
}
.sm-regret {
  background-position: -320px -119px;
  width: 24px;
  height: 23px;
}
body {
  background: #eee;
}
body {
  background: #fff;
}
body.fouc {
  display: block !important;
}
h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 32px;
}
h4 {
  font-size: 1.3rem;
}
.d-block {
  display: block;
}
.no-hover:hover {
  text-decoration: none;
}
.btn-light:not(:disabled):not(.disabled):active {
  background: #ffc886;
  border: 1px solid #ffc886;
}
.btn-light:not(:disabled):not(.disabled).active {
  background: #ffc886;
  border: 1px solid #ffc886;
}
a {
  color: #4287b7;
}
.cursor-pointer {
  cursor: pointer;
}
textarea:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  border: 1px solid #ced4da;
}
textarea.form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  border: 1px solid #ced4da;
}
input.form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  border: 1px solid #ced4da;
}
input[type="text"]:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  border: 1px solid #ced4da;
}
input[type="password"]:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  border: 1px solid #ced4da;
}
[type="text"].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  border: 1px solid #ced4da;
}
[type="password"].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  border: 1px solid #ced4da;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.text-sm {
  font-size: 0.9rem;
}
.text-lgray {
  color: #999;
}
.btn-light {
  background: #f7f7f7;
  border-color: #f7f7f7;
}
.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}
.btn-circle i {
  position: relative;
  top: -1px;
}
.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}
.btn-link {
  color: #4287b7;
}
.btn-light i {
  color: #555;
}
.btn-red {
  background: #ed3a4a;
  color: #fff;
  border: 1px solid #ed3a4a;
}
.btn-red:hover {
  background: #ed3a4a;
  color: #fff;
  border: 1px solid #ed3a4a;
}
.btn-light-yellow {
  background: #fbf0db;
  border: 1px solid #fbf0db;
}
.help-buttons {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 100;
  width: 48px;
  visibility: hidden;
}
.bg-ya {
  color: #fff;
  background: red;
}
.bg-ya:hover {
  color: #fff;
  background: red;
}
.bg-vk {
  color: #fff;
  background: #5181b7;
}
.bg-vk:hover {
  color: #fff;
  background: #5181b7;
}
.bg-fb {
  color: #fff;
  background: #456db0;
}
.bg-fb:hover {
  color: #fff;
  background: #456db0;
}
.bg-ok {
  color: #fff;
  background: #f7931f;
}
.bg-ok:hover {
  color: #fff;
  background: #f7931f;
}
.panel .btn {
  min-width: 30px;
}
.block {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
}
.block .block-title {
  color: #555;
  font-size: 22px;
  line-height: 25px;
  margin: 0 0 15px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3em;
    padding-left: 0;
    padding-right: 0;
  }
  .help-buttons {
    visibility: visible;
  }
}

.fileinput-button {
  position: relative;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
  width: 100%;
}
.autocomplete-suggestions {
  position: absolute;
  z-index: 50;
  padding: 8px 0;
  list-style: none;
  border: 1px solid #f2e3c6;
  text-align: left;
  background-color: #fbfaf2;
  color: #714a39;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.topic.ql-postview .content ul {
  list-style: disc;
  margin: 10px 0 0;
}
.topic.ql-postview .content ul > li {
  color: #4c4c4c;
  margin: 0 0 10px;
}

.text-center {
  text-align: center;
}
@media (min-width: 992px) {
  .modal.modal-login-nextgen .modal-dialog {
    width: 400px;
  }
}
.col-md-12 {
  padding-right: 15px;
  padding-left: 15px;
}
.panel-body {
  padding: 15px;
}
.login-invite {
  margin-bottom: 15px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  border-radius: 4px;
  padding: 6px;
}
/* favicons */
/*! * Font Awesome Pro 5.12.0 by @fontawesome - https://fontawesome.com * License - https://fontawesome.com/license (Commercial License) */
.fab,
.fal,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}
.fa-bold:before {
  content: "\f032";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-facebook-f:before {
  content: "\f39e";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-film:before {
  content: "\f008";
}
.rating {
  display: flex;
  justify-content: space-between;
}
.main__count {
  display: flex;
  align-items: center;
}
.b-user,
.burger {
  width: 25px;
  height: 23.7px;
}
.che img {
  width: 18px;
  height: 20px;
  margin: 0;
}
.footer-content {
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  margin-top: 30px;
}
.fa-gem:before {
  content: "";
  width: 16.2px !important;
  height: 16px;
  background: url(../images/dia.PNG) no-repeat;
  background-size: cover;
}
.eyes,
.message {
  display: flex;
  align-items: center;
}
.eyes img {
  width: 18.2px !important;
  height: 16px;
  margin: 0 !important;
}
.message img {
  width: 18.2px !important;
  height: 16px;
  margin: 0 !important;
}
.main__count img {
  width: 16.2px;
  height: 16px;
  margin: 0 !important;
}
.fa-image:before {
  content: "\f03e";
}
.fa-italic:before {
  content: "\f033";
}
.fa-odnoklassniki:before {
  content: "\f263";
}
.fa-search:before {
  content: "\f002";
}
.fa-smile:before {
  content: "\f118";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-times:before {
  content: "\f00d";
}
.fa-user:before {
  content: "\f007";
}
.fa-vk:before {
  content: "\f189";
}
.fa-yandex:before {
  content: "\f413";
}
.fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}
.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flexBox .zoom:first-child {
  margin-right: 5px;
}
.block-list_mt {
  margin-top: 110px;
}

.block-list_mt a {
  text-transform: none;
}

.block-list_mt a:hover {
  text-decoration: underline;
}

.topic img.img-avatar {
  width: 37px;
  border-radius: 50%;
  margin: 4px 0 0;
}

.prod {
  max-width: 300px;
}

.block2__list__li,
.cell {
  position: relative;
}

.block2 {
  padding-bottom: 0;
}
.block2__rightcell {
  border: 26px solid #ff5d55;
  border-right: 0;
  width: 100%;
  vertical-align: top;
}
.cell--50,
.cell--middle {
  vertical-align: middle;
}
.block2__info {
  border: 1px solid #dddada;
  margin: 40px 0 24px 40px;
  width: 62%;
  padding: 15px 21px 16px 20px;
  color: #333;
}
.block2__list {
  max-width: 62%;
  float: left;
  margin-left: 40px;
}
.block2__list__li {
  float: left;
  padding: 8px 0 11px 195px;
  min-height: 91px;
  margin-bottom: 26px;
}
.block2__img {
  position: absolute;
  width: 177px;
  left: 0;
  top: 0;
  height: 91px;
}
.no-webp .block2__img {
  background: url(../images/block2__img.jpg) left top no-repeat;
}
.webp .block2__img {
  background: url(../images/m-block2__img.webp) left top no-repeat;
}
.block2__img--2 {
  background-position: left center;
}
.block2__img--3 {
  background-position: left bottom;
}

@media only screen and (max-width: 1000px) {
  .block10__cap,
  .block11__cap,
  .block5__cap,
  .block6__cap {
    font-size: 38px;
    line-height: 43px;
    padding: 35px 0 20px;
  }
  .block10,
  .block11,
  .block2,
  .block5,
  .block6 {
    padding-top: 0;
    min-height: 50px;
  }
}
.block2 .centering {
  max-width: 480px;
}
.block2 .redText {
  color: #ff5d55;
}
.block2__info {
  margin: 0 auto 30px;
  max-width: 90%;
}
.block2__rightcell {
  border: none;
  color: #fff;
  padding: 0;
  border: 26px solid #ff5d55;
}
.block2__list {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  float: none;
}
.block2__list__li {
  padding: 0 0 11px 102px;
}
.block2__img {
  width: 85px;
  height: 74px;
  border: 2px solid #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.main-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.no-webp .block2__img {
  background: url(../images/block2__img.jpg) left top no-repeat;
}
.webp .block2__img {
  background: url(../images/m-block2__img.webp) left top no-repeat;
}

.no-webp .block2__img--2,
.webp .block2__img--2 {
  background-position: center center;
}
.no-webp .block2__img--3,
.webp .block2__img--3 {
  background-position: left bottom;
}
.block2__info {
  border: none;
}
.block10__smallcap,
.ttu {
  text-transform: uppercase;
}
.block10,
.block11,
.block14,
.block2,
.block5,
.block6 {
  clear: both;
  position: relative;
  width: 100%;
  background-color: #fff;
  padding-bottom: 30px;
}

.block2 {
  display: flex;
}
.block2__info {
  border: 1px solid #dddada;
  margin: 20px auto 20px auto;
  width: 100%;
  padding: 15px 21px 16px 20px;
}
.block2__list__li {
  list-style: none;
  color: #333 !important;
}

.centering {
  width: 100%;
  max-width: 100%;
}

.table {
  display: table;
  width: 100%;
  max-width: 100%;
}

.block14__prod::after,
.block5__prod::before {
  content: "";
}
.block11,
.block5 {
  padding-top: 20px;
}
.no-webp .block11,
.no-webp .block5 {
  background: url(../images/block5.jpg) center 0 no-repeat;
  background-size: cover;
}
.webp .block11,
.webp .block5 {
  background: url(../images/block5.webp) center 0 no-repeat;
  background-size: cover;
}
.block5__prod {
  position: static;
  width: 100%;
  margin-left: auto;
  margin-top: 0;
  margin-right: auto;
  z-index: 0;
}
.block5__cap {
  font: 700 44px/53px "PT Sans Narrow", arial;
  padding: 0 0 18px;
  margin-bottom: 10px;
}
.block5__set {
  position: relative;
  float: left;
  padding-left: 45px;
  margin-top: -14px;
  width: 50%;
}
/* .block5__prod::before {
	display: block;
	position: absolute;
	width: 224px;
	height: 275px;
	left: -46px;
	background: url(../images/leave---right.png) left top no-repeat;
	bottom: 65px;
	z-index: -1
} */
.block5__set {
  width: 100%;
  padding-bottom: 20px;
}
h1 {
  max-width: 100%;
  font-size: 43px !important;
  padding-top: 0;
  line-height: 43px !important;
}
.block5 {
  background: #f8f6f7;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  padding-bottom: 0;
}
.block5__cap {
  font: 700 44px/53px "PT Sans Narrow", arial;
  padding: 0 0 18px;
}
.block2__list__li,
.cell {
  position: relative;
}
.greenText {
  color: #4daa07;
  font-weight: 700;
}

.block5__set {
  position: relative;
  float: left;
  padding-left: 45px;
  margin-top: -14px;
  width: 50%;
  max-width: 50%;
}
.m-centText {
  margin-bottom: 40px;
}
.numb {
  position: absolute;
  left: 0;
  top: 15px;
  color: #b70000;
  font-size: 46px;
}

.numb5 {
  top: -10px;
}

.main__img {
  max-width: 728px;
}
.block6__cap {
  font: 700 45px/47px "PT Sans Narrow", arial;
  padding: 10px 0 0px;
}
.block6__content {
  width: 100%;
  min-height: 462px;
  position: relative;
}
.block6__list {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
}
.block6__list__li {
  position: relative;
  padding: 0 0 0 46px;
  margin-top: 19px;
  font-size: 21px;
  margin-bottom: 35px;
  line-height: 26px;
}
.block6__list__li img {
  margin-bottom: 0;
}
.block6__doc {
  position: absolute;
  right: 0;
  top: 50%;
  /* margin-top: -223px; */
  background: url(../images/block6__doc--s.jpg) right top no-repeat;
  height: 445px;
  width: 500px;
  border: 13px solid #fff;
  -webkit-box-shadow: 0 0 20px #b9b6b1;
  box-shadow: 0 0 20px #b9b6b1;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.block2__info,
.block6__cap {
  text-align: center;
}
.block6 {
  background: 0 0;
  height: auto;
}
.block6 .cell--50 {
  width: 100%;
}

.block6__list__li {
  font-size: 20px;
  line-height: 24px;
  list-style: none;
}

.block6__list__li.expert {
  position: relative;
}

.before {
  position: absolute;
  left: 93px;
  background: #b60000;
}
.expert__desc {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 402px;
  width: 100%;
}
.after {
  position: absolute;
  left: 222px;
  background: #4daa07;
}
.after,
.before {
  bottom: 69px;
  font-size: 25px;
  padding: 5px 10px 11px 14px;
  width: 130px;
  color: #fff;
  position: absolute;
  text-align: center;
}

.block10__cap {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  padding-top: 0;
  margin-bottom: 44px;
  line-height: 49px;
}

.block10-list {
  padding-left: 0;
  margin-bottom: 40px;
}

.block10-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: 40px !important;
}

.block10-item:nth-child(2) {
  flex-direction: row-reverse;
}
.block10-item:last-child {
  margin-bottom: 0 !important;
}

.block10-text.middle {
  margin-left: 20px;
  margin-right: 0;
}

.block10__smallcap {
  position: relative;
  font-size: 18px;
  padding-left: 28px;
  font-weight: 700;
  line-height: 1.1;
  padding-bottom: 17px;
}

.block10__numb {
  position: absolute;
  left: 0;
  top: 0;
}

.block10__img {
  width: 50%;
  max-width: 100%;
  border: 8px solid #fff;
  box-shadow: 0 0 10px #555;
  border-radius: 5px;
}
.block10__img img {
  max-width: 100% !important;
  margin: 0 !important;
}

.block10-text {
  width: 50%;
  margin-right: 20px;
}

.redText {
  color: #b70000;
}

.greenText,
.block10__numb {
  color: #4daa07;
  font-weight: 700;
}

.block10-item__note {
  font-size: 16px;
}

.block11__cap {
  font-size: 71px;
  line-height: 71px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.block11__smallcap {
  font-size: 26px;
  padding-top: 0 !important;
}
.block11__button {
  position: static;
  margin-top: 38px !important;
  float: left;
  text-decoration: none;
}

.block11__smallcap {
  display: block;
  padding: 20px 0 0;
  font-size: 19px;
}

.block11 .prod {
  max-width: 200px;
}
.block11 .button {
  clear: both;
  margin: 0 auto;
  float: none;
}
.block11__cap {
  font-size: 25px;
  line-height: 38px;
  padding-bottom: 20px;
}
.block11__cap,
.block11__smallcap {
  width: 50%;
}

.block11__cap {
  width: 100%;
  font-size: 42px;
  line-height: 1.1;
  padding-top: 50px;
  padding-bottom: 20px;
}
.block11-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
}
.block11__desc {
  width: 50%;
}
.block11-img {
  width: 50%;
  max-width: 200px;
}
.button__text {
  font: 700 27px/30px "PT Sans Narrow", sans-serif;
  padding: 15px 5px;
  font-style: italic;
  width: 100%;
  height: 100%;
  color: #fff;
  border: 1px solid #ee5f62;
  border-radius: 5px;
  min-height: 68px;
  text-align: center;
  display: block;
  max-height: 100%;
  font-size: 22px;
}

.block11 .button:hover a {
  color: #fff;
  text-decoration: none;
}

.button {
  word-break: break-all;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 300px;
  max-width: 100%;
  border: none;
  min-height: 41px;
  border-radius: 5px;
  clear: both;
  background: #e90007;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(233, 0, 7, 1)),
    to(rgba(218, 0, 2, 1))
  );
  background: linear-gradient(
    to bottom,
    rgba(233, 0, 7, 1) 0,
    rgba(218, 0, 2, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e90007', endColorstr='#da0002', GradientType=0);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  padding: 5px;
  text-decoration: none;
}

.block14 {
  /* padding-bottom: 0; */
  margin-top: 30px;
}
.no-webp .block14 {
  background: url(../images/block14.jpg) center top no-repeat;
  background-size: cover;
}
.webp .block14 {
  background: url(../images/block14.webp) center top no-repeat;
  background-size: cover;
}
.block14 .centering {
  color: #000;
}
.block14__cap {
  width: 100%;
  font: 700 58px/69px "PT Sans Narrow", arial;
  padding: 37px 0 36px;
}
.block14 .oldPricesText {
  font-size: 19px;
  padding-top: 0;
  text-align: center;
}
.block14 .js_new_price_curs {
  text-align: center;
  font-size: 33px;
}
.block14 .js_new_price_curs {
  font-size: 25px;
}
.block14__cap {
  width: 100%;
  padding-bottom: 20px;
  font-size: 25px !important;
  line-height: 1.2 !important;
  text-align: center;
}
.block14 .centering {
  color: #000;
  padding-right: 15px;
  padding-left: 15px;
}

.block14-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block14__prod {
  max-width: 200px;
  margin-right: 90px;
  position: relative;
}

.block14__prod img {
  max-width: 275px;
}

.sale__numb {
  font-size: 20px;
  margin: 41px 0 7px;
}

.prod-sale {
  width: 90px;
  color: #fff;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  font: 700 14px/24px "PT Sans Narrow", sans-serif;
  background: url(../images/sale.png) left top no-repeat;
  background-size: contain;
  position: absolute;
  left: 0px;
  top: -3px;
  height: 100px;
  text-align: center;
}
.prod-sale .text {
  position: absolute;
    top: 20px;
    left: 23px; 
}

.oldform {
  padding: 0 23px 20px;
  width: 100%;
  max-width: 330px;
  z-index: 800;
  border: 8px solid #4daa07;
  border-radius: 7px;
  background-color: #fff;
  bottom: 10px;
}
.form__cap {
  text-align: center;
  color: #fff;
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: -23px;
  margin-right: -23px;
  height: 50px;
  line-height: 50px;
  background-color: #4daa07;
}

.inpu {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 2px solid #dbdbdb !important;
  padding: 10px !important;
  color: #000 !important;
  font-size: 18px !important;
  border-radius: 0;
  width: 100% !important;
  height: 40px !important;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 18px !important;
  line-height: normal !important;
}

.oldPricesText {
  text-decoration: line-through;
  color: #353535;
}
.block14 .oldPricesText {
  padding-top: 0;
  text-align: center;
}
.block14 .js_new_price_curs {
  text-align: center;
  font-size: 24px;
}
.js_new_price_curs {
  color: #d51015;
  font: 700 33px/69px "PT Sans Narrow", arial;
  margin: -15px 0 0;
  display: block;
}
.lt120 {
  margin-top: 30px;
}
.comment-wrap {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dee2e6;
  padding: 15px 0;
}

.comment__text,
.comment__rev {
  padding-left: 60px;
}

.comment__rev img {
  display: block;
  width: 100%;
  max-width: 220px;
  margin-top: 15px;
}

.bio {
  display: flex;
}
.comment__avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.comment__name {
  font-weight: 700;
  margin-right: 10px;
}
.block14__prod img {
  max-width: 270px !important;
}
@media (max-width: 1051px) {
  .zoom img {
    margin-left: 0;
  }
  .zoom img,
  .flexBox {
    max-width: 735px;
    margin-left: auto;
    margin-right: auto;
  }
  .block10__img img {
    margin: 0 !important;
  }
  .block10__img {
    width: 40%;
  }
  .prod {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .pic {
    width: 100%;
    max-width: 600px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    height: auto;
  }
  .block11 .prod {
    max-width: 200px !important;
    position: static;
  }
  .block14__prod img {
    max-width: 200px !important;
  }
  .ml-4 {
    margin-left: 0 !important;
  }
  .block5__set {
    width: 100%;
    max-width: 100%;
  }
  .numb5 {
    font-size: 25px;
    top: -9px;
  }
  .block5__set {
    padding-left: 30px;
    margin-top: -5px;
  }
}
.bold {
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .prod {
    max-width: 220px !important;
  }
  .block10-item,
  .block10-item:nth-child(2) {
    flex-direction: column;
  }
  .block10-text {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .dn767 {
    display: none;
  }
  .block11__cap,
  .block11__smallcap {
    width: 100%;
  }
}
.desk-dn {
  display: none;
}
@media screen and (max-width: 767px) {
  .block11__cap {
    font-size: 36px;
  }
  .dn600 {
    display: none;
  }
  .block14-content {
    flex-direction: column;
  }
  .block10__img {
    max-width: 300px;
  }
  .block14__prod {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
  }
  .block14__cap {
    padding-bottom: 40px;
  }
  .block11 .prod {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .block11-img {
    width: 100%;
  }
  .block11__cap {
    padding-top: 10px;
  }
  .block10__img {
    width: 100%;
  }
  .block10__cap {
    margin-bottom: 12px;
  }
  .lt61 {
    font-size: 33px !important;
  }
}
@media screen and (max-width: 479px) {
  .webp .block11,
  .webp .block5 {
    background: url(../images/block5__mob.webp) center 0 no-repeat;
    background-size: cover;
  }
  .prod-sale {
    left: -4px;
  }
  .block11-content {
    flex-direction: column;
  }
  .block11__cap,
  .block11__smallcap,
  .block11__desc {
    width: 100%;
  }
  .block11__smallcap {
    display: block;
    text-align: center;
  }
  .desk-dn {
    display: block;
  }
  .mob-dn {
    display: none;
  }
  .block11 .prod {
    margin-bottom: 0;
  }
  .block11__button {
    margin-top: 20px !important;
  }
  .block11__cap,
  .block11__smallcap,
  .block11__desc {
    text-align: center;
  }
  .oldform {
    padding: 0 10px 10px;
  }
  .form__cap {
    margin-left: -10px;
    margin-right: -10px;
  }
  .block14 .js_new_price_curs {
    font-size: 20px;
  }
  .block2__info {
    max-width: 100%;
    margin: 20px 0 !important;
  }
  .block2__rightcell {
    padding-right: 10px;
    padding-left: 10px;
  }
  .block2__list {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
  .prod {
    max-width: 200px !important;
  }
  .block2__rightcell {
    border: 4px solid #ff5d55;
  }
  .block6__cap,
  .block11__cap {
    font-size: 33px !important;
    line-height: 1.2 !important;
  }
  .block10-text.middle {
    margin-left: auto;
    margin-right: auto;
  }
  .block10__img {
    width: 90%;
  }
}
@media screen and (max-width: 430px) {
  .dn430 {
    display: none;
  }
  .scrollbox {
    justify-content: center;
  }
  .s__link {
    font-size: 10px;
  }
  .navbar-lvl-2 .p-fal {
    padding: 11px 10px;
  }
  .block5__cap {
    font-size: 30px;
    line-height: 1.2;
  }
}

.link__prod {
  font-weight: 700;
}

.link__header a {
  color: #fff !important;
}
.feed-menu a,
.s__link {
  color: #000 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.nowrap {
  white-space: nowrap;
}

.block6__list__li.expert {
  padding-left: 0 !important;
}
