.myLink small{
  color: #ffffff !important;
}

.myLink{
  text-decoration: none !important;
}

#popular p{
  padding-right: 5px;
}

/*

  COLOR MAPPING

*/
/* VARIABLES */
html {
  font-size: 16px;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 13px;
  }
}

body {
  padding: 0;
  margin: 0;
}

body .row {
  margin-left: 0;
  margin-right: 0;
}

body .bg-blue {
  background-color: #356ddc;
}

body .lead strong {
  font-weight: bold;
}

body header {
  margin: 0;
  padding: 0;
}

body header .page-banner {
  background-image: url('./banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  min-height: 250px;
}

body header .header-text {
  font-weight: bold;
  font-size: 3.6rem;
  text-align: center;
  color: #356ddc;
  font-style: oblique;
  font-family: 'Roboto Slab', serif;
  text-shadow: #ffffff 4px 0px 0px, #ffffff 3.87565px 0.989616px 0px, #ffffff 3.51033px 1.9177px 0px, #ffffff 2.92676px 2.72656px 0px, #ffffff 2.16121px 3.36588px 0px, #ffffff 1.26129px 3.79594px 0px, #ffffff 0.282949px 3.98998px 0px, #ffffff -0.712984px 3.93594px 0px, #ffffff -1.66459px 3.63719px 0px, #ffffff -2.51269px 3.11229px 0px, #ffffff -3.20457px 2.39389px 0px, #ffffff -3.69721px 1.52664px 0px, #ffffff -3.95997px 0.56448px 0px, #ffffff -3.97652px -0.432781px 0px, #ffffff -3.74583px -1.40313px 0px, #ffffff -3.28224px -2.28625px 0px, #ffffff -2.61457px -3.02721px 0px, #ffffff -1.78435px -3.57996px 0px, #ffffff -0.843183px -3.91012px 0px, #ffffff 0.150409px -3.99717px 0px, #ffffff 1.13465px -3.8357px 0px, #ffffff 2.04834px -3.43574px 0px, #ffffff 2.83468px -2.82216px 0px, #ffffff 3.44477px -2.03312px 0px, #ffffff 3.84068px -1.11766px 0px, #ffffff 3.9978px -0.132717px 0px;
}

body header .header-text-smaller {
  display: none;
}

@media only screen and (max-width: 500px) {
  body header .header-text-smaller {
    display: flex;
  }

  body header .page-banner {
    min-height: 150px;
  }

  body header .page-banner .header-text {
    display: none;
  }
}

body header .header-text-smaller h1 {
  font-size: 2rem;
  text-shadow: #ffffff 2px 0px 0px, #ffffff 1.75517px 0.958851px 0px, #ffffff 1.0806px 1.68294px 0px, #ffffff 0.141474px 1.99499px 0px, #ffffff -0.832294px 1.81859px 0px, #ffffff -1.60229px 1.19694px 0px, #ffffff -1.97998px 0.28224px 0px, #ffffff -1.87291px -0.701566px 0px, #ffffff -1.30729px -1.5136px 0px, #ffffff -0.421592px -1.95506px 0px, #ffffff 0.567324px -1.91785px 0px, #ffffff 1.41734px -1.41108px 0px, #ffffff 1.92034px -0.558831px 0px;
}

body main {
  margin: 0;
  padding: 0;
}

body main nav {
  border-top: 1px solid #f5a704;
  border-bottom: 1px solid #f5a704;
  padding: 3px 0 !important;
}

body main nav .nav-link {
  padding: 0;
  margin-left: 0;
}

body main article {
  margin: 0;
  padding: 0;
}

body main article h1 {
  font-style: oblique;
  font-weight: lighter;
  margin: 1rem 0;
  font-size: 3.5rem;
  word-spacing: 1rem;
  font-weight: 700;
}

body main article h1 span {
  color: #356ddc;
  border-bottom: 3px solid #356ddc;
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  body main article h1 {
    font-size: 2.4rem;
  }
}

body main article h2 {
  font-weight: bold;
}

body main article h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

body main article .publication-date {
  color: #b6b6b6;
}

body main article .mobile-social-media {
  display: none;
}

body main article .mobile-social-media ul li {
  border-radius: 0 !important;
  color: #ffffff;
}

body main article .mobile-social-media ul li:hover {
  filter: brightness(90%);
  cursor: pointer;
}

body main article .mobile-social-media ul li:nth-child(1) {
  background-color: #3b5997;
}

body main article .mobile-social-media ul li:nth-child(2) {
  background-color: #1da1f3;
}

body main article .mobile-social-media ul li:nth-child(3) {
  background-color: #db4537;
}

body main article .mobile-social-media ul li:nth-child(4) {
  background-color: #0076b6;
}

@media only screen and (max-width: 500px) {
  body main article .mobile-social-media {
    display: block;
  }

  body main article .social-media {
    display: none;
  }
}

body main article .social-media ul li {
  border-radius: 0 !important;
  color: #ffffff;
}

body main article .social-media ul li:hover {
  filter: brightness(90%);
  cursor: pointer;
}

body main article .social-media ul li:nth-child(1) {
  background-color: #3b5997;
}

body main article .social-media ul li:nth-child(2) {
  background-color: #1da1f3;
}

body main article .social-media ul li:nth-child(3) {
  background-color: #db4537;
}

body main article .social-media ul li:nth-child(4) {
  background-color: #0076b6;
}

@media only screen and (max-width: 500px) {
  body main article .print-button {
    display: none;
  }
}

body main article .magazine-bubble-container-desktop {
  display: flex;
}

body main article .magazine-bubble-container-desktop .magazine-bubble .span-container {
  position: absolute;
  width: 62%;
  height: 38%;
  top: 45%;
  right: 11%;
  font-size: 0.9rem;
}

body main article .magazine-bubble-container-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
}

body main article .magazine-bubble-container-mobile img.magazine {
  width: 100%;
  max-width: 200px;
}

body main article .magazine-bubble-container-mobile .span-container {
  position: absolute;
  width: 62%;
  height: 38%;
  top: 20%;
  font-size: 0.9rem;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  body main article .magazine-bubble-container-desktop {
    display: none;
  }

  body main article .magazine-bubble-container-mobile {
    display: flex;
  }
}

body main article .slider-container {
  width: 100%;
}

body main article .slider-container .slider-container2 {
  overflow-x: auto;
}

body main article .slider-container .slider-border {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.44);
  min-width: 500px;
  transform-origin: 50% 0;
}

body main article .slider-container .slider-arrow-left,
body main article .slider-container .slider-arrow-right {
  top: 40%;
  z-index: 99999;
  width: 10px;

  cursor: pointer;
}

body main article .slider-container .slider-arrow-left {
  right: 101%;
}

body main article .slider-container .slider-arrow-right {
  left: 101%;
}

body main article .slider-container .slider-wrapper {
  max-width: 100%;
  overflow-x: auto;
  object-fit: contain;
}

@media only screen and (max-width: 500px) {
  body main article .slider-container {
    font-size: 0.8rem;
  }
}

body main sidebar {
  display: flex;
}

body main sidebar .card {
  border: none;
}

body main sidebar .card .card-header {
  background-color: #ffeabd;
  border: none;
}

body main sidebar .card .card-body {
  background-color: #fff7ea;
}

body main sidebar .card .card-body .card-link {
  border-bottom: 1px solid #356ddc;
  color: #356ddc;
  font-weight: bold;
}

body main sidebar .card .card-body .more-text {
  display: none;
}

body main sidebar .card .card-body #sidebar-toggle,
body main sidebar .card .card-body #sidebar-toggle-off{
  cursor: pointer;
}

body main sidebar .articles .nav {
  font-size: 0.88rem;
}

body main sidebar .articles .nav li {
  text-align: center;
  flex-grow: 1;
  border-bottom: 2px solid #b6b6b6;
}

body main sidebar .articles .nav li:hover {
  border-bottom: 2px solid #f5a704;
}

body main sidebar .articles .nav a {
  color: #b6b6b6;
}

body main sidebar .articles .nav a:hover {
  text-decoration: none;
}

body main sidebar .articles .nav .active {
  color: #f5a704 !important;
  font-weight: bold;
}

body main sidebar .articles .articles-tab-element p:before {
  content: '\2022';
  color: #f5a704;
  margin-right: 0.5rem;
}

body main sidebar .search-form input {
  border: 1px solid #f5a704;
  border-right: none;
  border-radius: 0;
}

body main sidebar .search-form button {
  border: 1px solid #f5a704;
  border-radius: 0;
  background-color: #f5a704;
  color: #ffffff;
}

body main sidebar .most-popular ul li {
  border-bottom: 1px solid #f5a704;
}

body main sidebar .most-popular ul li:last-child {
  border-bottom: none;
}

body main sidebar .most-popular ul li:before {
  content: '>';
  color: #f5a704;
  margin-right: 0.5rem;
}

body main sidebar .tags {
  border: 1px solid #f5a704;
}

body main sidebar .tags a {
  color: #f5a704;
}

body main sidebar .tags a span:after {
  content: ',';
}

body main sidebar .tags a span:last-child:after {
  content: none;
}

body main sidebar .categories {
  border: 1px solid #f5a704;
  font-size: 0.76rem;
}

body main sidebar .img-container img {
  max-width: 90%;
}

body main sidebar .sidebar-cta {
  color: #356ddc;
  border-bottom: 1px solid #356ddc;
  font-size: 1.04rem;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  body main #sidebar {
    display: none;
  }
}

body footer {
  margin: 0;
  padding: 0;
}

body footer .social-header div:nth-child(1) {
  border-bottom: 2px solid black;
}

body footer .social-header div:nth-child(2) {
  border-bottom: 1px solid black;
}

body footer .social-comments {
  max-width: 100%;
}

body footer .social-comments .social-avatar {
  width: 50px;
  height: 50px;
  background-color: #ebebeb;
  border-radius: 2px;
  border: 1px solid #b6b6b6;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 500px) {
  body footer .social-comments .social-avatar {
    width: 25px;
    height: 25px;
  }
}

body footer #comments_form textarea {
  border-radius: 2px;
}

body footer #comments_form input[type=text] {
  border-radius: 2px;
  border-width: 1px;
  border: 1px solid #a9a9a9;
}

body footer .social-thread .comment-reply {
  cursor: pointer;
}

body footer .social-thread .social-comment .social-avatar-column {
  background-image: url('./pixel.png');
  background-position-x: 99%;
  background-repeat: repeat-y;
}

body footer .social-thread .social-comment .social-avatar-column .social-avatar-container {
  background-color: white;
}

body .floating-cta-mobile {
  display: none;
  background-color: white;
  width: 100%;
  position: sticky;
  bottom: 0;
  padding: 0.5rem;
  border-top: 2px solid #356ddc;
}

body .floating-cta-mobile a {
  color: #356ddc;
  border-bottom: 1px solid #356ddc;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

body .instagram {
  max-width: 600px;
}

body .instagram a {
  color: #003569 !important;
  text-decoration: none;
}

body .instagram .instagram-blue {
  color: #3897f0 !important;
}

body .instagram .instagram-logo {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

body .instagram .instagram-text-gray {
  color: #999;
}

body .instagram .instagram-input {
  background-color: white;
  padding: 10px;
}

body .instagram .instagram-icon {
  display: inline-block;
  height: inherit;
  width: auto;
}

body .slider-blog1 {
  border: 1px solid black;
  max-width: 550px;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

body .slider-blog1 .slider-blog1-username {
  font-size: 1.2rem;
}

@media only screen and (max-width: 500px) {
  body .slider-blog1 .slider-blog1-username {
    font-size: 0.7rem;
  }
}

body .slider-blog1 .date {
  font-size: 0.64rem;
  color: gray;
}

body .slider-blog1 hr {
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 500px) {
  body .slider-blog1 {
    font-size: 0.7rem;
  }
}

body .slider-blog2 {
  max-width: 550px;
  padding: 1rem;
  border: 1px solid #b7b7b7;
  margin-bottom: 1rem;
}

body .slider-blog2 .slider-blog2-username {
  font-size: 0.96rem;
  color: #c13b74;
  font-weight: bold;
}

body .slider-blog2 .slider-blog2-text-gray {
  color: #b7b7b7;
  border-color: #b7b7b7;
}

body .slider-blog2 .date {
  font-size: 0.64rem;
  color: gray;
}

body .slider-blog2 hr {
  border-bottom: 1px solid black;
}

body .slider-blog2 cite {
  padding: 1rem;
  border: 2px dotted #b7b7b7;
  color: #b7b7b7;
  font-size: 0.72rem;
  display: block;
}

body .forum-post {
  max-width: 550px;
}

body .slick-slide {
  outline: none;
}

body .mobile-spacer {
  display: none;
}

body .mobile-spacer hr {
  outline: none;
  border: none;
  background-color: #DDDEE3;
  height: 5px;
}

@media only screen and (max-width: 500px) {
  body .mobile-spacer {
    display: block;
  }
}

.title-bar {
  background-color: #f5a704;
  text-transform: uppercase;
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-wrapper .sub-wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 10px;
}

.main-wrapper .sub-wrapper .main-row {
  width: 100%;
}

.main-wrapper .sub-wrapper .main-row .text-lighter {
  color: #b6b6b6;
}

.main-wrapper .sub-wrapper .main-row .text-larger {
  font-size: 130%;
}

.main-wrapper .sub-wrapper .main-row .flex-grow-3 {
  flex-grow: 3;
}

.main-wrapper .sub-wrapper .main-row .cta {
  font-size: 2.3rem;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 2px solid #1b478a;
  color: #1b478a;
}

@media only screen and (min-width: 501px) and (max-width: 959px) {
  .main-wrapper .sub-wrapper .main-row .cta {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .main-wrapper .sub-wrapper .main-row .cta {
    font-size: 1.5rem;
  }
}

.main-wrapper .sub-wrapper .main-row .jumbotron {
  background-color: #ffeabd;
}

.main-wrapper .sub-wrapper .main-row .jumbotron p {
  font-weight: bold;
}

.main-wrapper .sub-wrapper .main-row .jumbotron p span {
  font-weight: bold;
  color: #009b34;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .text-xs-left {
    text-align: left !important;
  }

  .w-xs-100 {
    width: 100% !important;
  }

  .flex-xs-wrap,
  .d-xs-flex {
    flex-wrap: wrap !important;
  }

  .flex-xs-column-reverse {
    flex-direction: column-reverse !important;
  }

  .d-xs-none {
    display: none !important;
  }
}

/* to be deleted after development process */
#core-deb-panel {
  opacity: 0.5;
}

/*# sourceMappingURL=styles.css.map */