@media only screen and (max-width: 680px) {

  #hdr,
  .lurebtn {
    font-size: 14px;
  }
}



header {
  position: relative;
  width: 100%;
  display: flex;
  background-color: #f1f1f1;
  background-position: center center;
  background-size: 100% 100%
}

div.conContent {
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 18px;
  padding: 15px
}

.images-logo {
  display: block
}

.images-logo {
  max-width: 100%;
  float: left;
  padding: 0 10px;
  height: auto
}

.images-logo img {
  margin: 0;
  margin-right: 15px
}

.images-logo {
  width: 335px;
  padding: 0;
  margin: 0;
  flex-shrink: 0
}

div.text-header {
  display: block;
  text-align: center;
  padding: 0 !important
}

header {
  margin-bottom: 20px
}

div.text-header h1 {
  font-size: 36px
}

@media screen and (max-width:900px) {
  .images-logo {
    width: 330px
  }
}

@media screen and (max-width:800px) {
  .images-logo {
    width: 300px
  }

  div.text-header h1 {
    font-size: 28px
  }
}

@media screen and (max-width:768px) {
  .images-logo {
    width: 320px
  }

  div.text-header h1 {
    text-align: center
  }
}

@media (max-width:991px) {
  div.conContent {
    flex-direction: column
  }

  .images-logo img {
    margin: 0;
    margin-right: 0
  }
}

@media screen and (max-width:479px) {

  div.text-header h1 {
    font-size: 24px
  }

  div.conContent {
    padding: 8px
  }

  .images-logo {
    display: none
  }
}


.breadcrumbs {
  height: 22px;
  padding-top: 16px;
  margin-bottom: 16px;
  font-size: 12px;
}

.breadcrumbs h2 a {
  text-decoration: none;
  color: rgb(37, 93, 137);
  display: block;
  float: left;
  padding-right: 6px;
  border-left: 1px solid rgb(204, 204, 204);
  padding-left: 6px;
  font-size: 14px;
}

.breadcrumbs h2 a:first-child {
  border-left: medium none;
  padding-left: 0px;
}

html {
  min-width: 320px;
}

@media only screen and (max-width: 800px) {
  .order182614-form {
    padding: 20px 10px !important;
  }

  .secSendBtn {
    height: 60px !important;
    width: 100% !important;
    font-size: 30px !important;
    line-height: 60px !important;
  }

  .order182614-form .secInp {
    height: 32px !important;
    width: 90% !important;
    line-height: normal !important;
    font-size: 18px !important;
    padding: 0 10px !important;
  }

  .corb-pl :-moz-placeholder {
    color: #888 !important;
    font-size: 18px !important;
  }

  .corb-pl .placeholder {
    color: #888 !important;
    font-size: 18px !important;
  }

  .corb-top__header {
    font-size: 24px !important;
    font-weight: 500 !important;
    line-height: 26px !important;
  }
}

a {
  text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  background: none repeat scroll 0% 0% transparent;
}

body {
  line-height: 1;
}

img,
table {
  max-width: 100%;
}

a {
  color: #466cc7;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}




.container {
  width: 990px;
  position: relative;
  margin: 0 auto;
}

.content {
  background: none repeat scroll 0% 0% #fff;
  border-radius: 10px;
  margin: 5px 0 35px;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0 0 10px #e6e6e6;
}

.text {
  width: 100%;
  font-size: 17px;
  line-height: 1.2;
  text-align: justify;
  padding: 0 15px 0 0;
}

div.center {
  margin: 15px 0;
  text-align: center;
}

div.center img {
  margin: 0 auto;
}

.content h1 {
  font-size: 28px;
  margin: 0 0 25px;
  text-align: left;
}

.content h1 span {
  color: red;
}

.content h2 {
  font-size: 1.7em;
  margin: 15px 0;
}

.content h3 {
  font-size: 17px;
  margin: 15px 0;
}

.content p {
  margin: 0 0 15px;
  font-weight: 400;
}

.content p.desc {
  margin: 0 0 15px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.content ol {
  margin-left: 30px;
}

.content ol li {
  margin: 0 0 15px;
  font-weight: 400;
}

.content p.bg {
  background: none repeat scroll 0% 0% #da4444;
  padding: 10px;
  color: #fff;
}

.content .red {
  color: #f40b0b;
}

.text3 img {
  width: 65px;
  margin: 5px 0 0;
}

.kov {
  position: relative;
  background: none repeat scroll 0% 0% #edfaff;
  padding: 35px 105px;
  margin-bottom: 15px;
}

/* .kov::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 75px;
  background: url(../images/kov2.png) repeat scroll 0% 0% transparent;
}
.kov::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 75px;
  background: url(../images/kov1.png) repeat scroll 0% 0% transparent;
} */
.kov p {
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0 !important;
  text-align: center;
}

.kov p.avtor {
  margin: 0;
  text-align: right;
  font-size: 15px;
  font-weight: 400;
}

.content ul {
  margin-left: 30px;
  list-style: inside none circle;
}

.content ul li {
  margin: 0 0 15px;
}

#comments h1 {
  color: #c00;
  margin: 0 0 5px;
}

.comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}

.comment .text1 {
  font-size: 14px;
  font-weight: 700;
}

.comment .text2 {
  font-size: 12px;
  float: right;
  color: #888;
  font-weight: 400;
}

.comment .text3 {
  font-size: 15px;
  padding: 10px 0 0;
  font-weight: 400;
}

.comment .text3::after {
  content: '';
  display: block;
  clear: both;
}

.red {
  color: #f40b0b;
}

.content h2.red {
  padding: 10px 0 0;
}

.button_page,
.btn {
  position: relative;
  width: 320px;
  margin: 20px auto;
  padding: 10px;
  cursor: pointer;
  background: none repeat scroll 0% 0% #00aff2;
  border: 1px solid #007eaf;
  border-radius: 5px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.button_page:hover {
  background: none repeat scroll 0% 0% #0a4c8f;
  color: #fff;
}

.insite {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 999px) {
  .content h1 {
    width: auto;
  }

  .container {
    width: 97%;
  }

  .block2 {
    width: auto;
  }

  .conteinerCenter {
    width: 550px;
    margin: 0 auto;
  }

  .itemfirst {
    width: 200px;
  }

  .itemsecond {
    width: 200px;
  }
}

@media screen and (max-width: 900px) {
  .text {
    width: auto;
    float: none;
    text-align: justify;
    padding: 0;
  }

  .sidebar {
    float: none;
    top: 20px;
  }

  .itemfirst {
    width: auto;
  }

  .itemsecond {
    display: block;
    width: auto;
  }

  .sidebar .author {
    padding: 0 0 20px;
  }

  .sidebar .author img {
    float: left;
    margin: 10px 35px 0 5px;
  }
}

@media screen and (max-width: 767px) {
  img.imgFl {
    float: none !important;
    margin: 0 auto 10px;
    display: block;
  }

  .conteinerCenter {
    width: 100%;
  }

  .button_page {
    width: 100% !important;
    font-size: 14px;
    box-sizing: border-box;
  }

  .button_page {
    margin: 0;
  }

  .iframe {
    width: 480px;
    height: 270px;
  }

  .ftrsale .rght {
    width: 100%;
    float: none;
    text-align: center;
    margin: 10px 0;
  }

  .ftrsale .lft {
    width: 100%;
    float: none;
  }

  .ftrsale p {
    line-height: 22px;
    font-size: 18px;
  }

  .content h2 {
    font-size: 1.2em;
    text-align: left;
  }

  .text p,
  li {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .content h1 {
    width: auto;
    font-size: 22px;
  }

  .block2 {
    text-align: left;
  }

  .text3 {
    text-align: left;
  }

  .comment {
    text-align: left;
  }

  .iframe {
    width: 342px;
    height: 192px;
  }

  .text p.blur-p {
    text-align: center;
    font-size: 20px;
  }

  .kov {
    padding: 15px;
  }

  .kov::before {
    display: none;
  }

  .kov::after {
    display: none;
  }

  .content ul {
    margin-left: 10px;
  }

  .ftrsale .cls {
    z-index: 3;
  }
}

@media screen and (max-width: 320px) {
  .button_page {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .images-logo img {
    float: none;
  }
}

@media screen and (max-width: 720px) {}

@media screen and (max-width: 468px) {
  .images-logo img {
    float: none;
  }
}

@media screen and (max-width: 468px) {}

* {
  margin: 0;
  padding: 0;
}

.ouimain-text-img::after {
  content: '';
  display: block;
  clear: both;
}

.ymaps-b-form-button__input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@media not all,
not all {}

@media not all {}

.sendpulse-fab .sendpulse-prompt-message::after,
.sendpulse-fab .sendpulse-prompt-message::before {
  content: '';
  position: absolute;
  bottom: -21px;
  right: 23px;
  border-style: solid;
  height: 0;
  width: 0;
  border-width: 10px;
  border-color: #ccc transparent transparent;
}

.sendpulse-fab .sendpulse-prompt-message::after {
  border-top-color: #fff;
  bottom: -20px;
}

.ymaps-b-form-button__input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@media not all,
not all {}

@media not all {}

@media screen and (min-width: 35.5em) {

  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-1-2,
  .pure-u-sm-1-3,
  .pure-u-sm-2-3,
  .pure-u-sm-1-4,
  .pure-u-sm-3-4,
  .pure-u-sm-1-5,
  .pure-u-sm-2-5,
  .pure-u-sm-3-5,
  .pure-u-sm-4-5,
  .pure-u-sm-5-5,
  .pure-u-sm-1-6,
  .pure-u-sm-5-6,
  .pure-u-sm-1-8,
  .pure-u-sm-3-8,
  .pure-u-sm-5-8,
  .pure-u-sm-7-8,
  .pure-u-sm-1-12,
  .pure-u-sm-5-12,
  .pure-u-sm-7-12,
  .pure-u-sm-11-12,
  .pure-u-sm-1-24,
  .pure-u-sm-2-24,
  .pure-u-sm-3-24,
  .pure-u-sm-4-24,
  .pure-u-sm-5-24,
  .pure-u-sm-6-24,
  .pure-u-sm-7-24,
  .pure-u-sm-8-24,
  .pure-u-sm-9-24,
  .pure-u-sm-10-24,
  .pure-u-sm-11-24,
  .pure-u-sm-12-24,
  .pure-u-sm-13-24,
  .pure-u-sm-14-24,
  .pure-u-sm-15-24,
  .pure-u-sm-16-24,
  .pure-u-sm-17-24,
  .pure-u-sm-18-24,
  .pure-u-sm-19-24,
  .pure-u-sm-20-24,
  .pure-u-sm-21-24,
  .pure-u-sm-22-24,
  .pure-u-sm-23-24,
  .pure-u-sm-24-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-sm-1-2,
  .pure-u-sm-12-24 {
    width: 50%;
  }
}

@media screen and (min-width: 48em) {

  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-1-2,
  .pure-u-md-1-3,
  .pure-u-md-2-3,
  .pure-u-md-1-4,
  .pure-u-md-3-4,
  .pure-u-md-1-5,
  .pure-u-md-2-5,
  .pure-u-md-3-5,
  .pure-u-md-4-5,
  .pure-u-md-5-5,
  .pure-u-md-1-6,
  .pure-u-md-5-6,
  .pure-u-md-1-8,
  .pure-u-md-3-8,
  .pure-u-md-5-8,
  .pure-u-md-7-8,
  .pure-u-md-1-12,
  .pure-u-md-5-12,
  .pure-u-md-7-12,
  .pure-u-md-11-12,
  .pure-u-md-1-24,
  .pure-u-md-2-24,
  .pure-u-md-3-24,
  .pure-u-md-4-24,
  .pure-u-md-5-24,
  .pure-u-md-6-24,
  .pure-u-md-7-24,
  .pure-u-md-8-24,
  .pure-u-md-9-24,
  .pure-u-md-10-24,
  .pure-u-md-11-24,
  .pure-u-md-12-24,
  .pure-u-md-13-24,
  .pure-u-md-14-24,
  .pure-u-md-15-24,
  .pure-u-md-16-24,
  .pure-u-md-17-24,
  .pure-u-md-18-24,
  .pure-u-md-19-24,
  .pure-u-md-20-24,
  .pure-u-md-21-24,
  .pure-u-md-22-24,
  .pure-u-md-23-24,
  .pure-u-md-24-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-md-1-3,
  .pure-u-md-8-24 {
    width: 33.3333%;
  }
}

@media screen and (min-width: 64em) {}

@media screen and (min-width: 80em) {}

@media screen and (max-width: 767px) {
  .iframe {
    width: 470px;
    height: 268px;
  }
}

@media (max-width: 480px) {
  .a {
    padding-top: 58px;
  }

  .button_page {
    font-size: 14px;
  }

  .b {
    width: auto;
  }

  .iframe {
    width: 100%;
  }
}

#lurebottom {
  position: fixed;
  font-style: normal;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  bottom: -1px;
  left: 0;
  right: 0;
  text-align: center;
  background: none repeat scroll 0% 0% #d41212;
  display: none;
  z-index: 99999999;
  box-shadow: 0 0 10px #666;
  font-family: open sans, sans-serif;
}

#lurebottom div {
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 30px;
  height: 30px;
  right: 5px;
  font-size: 20px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  padding: 5px;
}

@media (max-width: 1100px) {
  div#lurebottom {
    display: none !important;
  }

  .content {
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.lurebtn {
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  color: #fff !important;
  background-color: #00008b;
  display: inline-block;
  padding: 10px 50px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 30px;
  text-transform: uppercase;
}

.lurebtn:hover {
  background-color: #000064;
}

@media only screen and (max-width: 680px) {

  #hdr,
  .lurebtn {
    font-size: 14px;
  }
}

.ac_footer {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 50px 0;
  color: #a12000;
}

.ac_footer a {
  color: #a12000;
}

.ac_footer p {
  text-align: center;
}

html {
  font-family: roboto, sans-serif;
}

* {
  box-sizing: border-box;
  outline: medium;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.clearfix::before,
.clearfix::after,
.container::before,
.container::after,
.container-fluid::before,
.container-fluid::after {
  display: table;
  content: '';
  line-height: 0;
}

.clearfix::after,
.container::after,
.container-fluid::after {
  clear: both;
}

[class*='span'] {
  min-height: 1px;
}

.js-timer li {
  display: inline;
}

.row-fluid [class*='span'] {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
  float: left;
  margin-left: 2.07447%;
}

.row-fluid [class*='span']:first-child {
  margin-left: 0;
}

.row-fluid .span12 {
  width: 99.9468%;
}

.row::before,
.row::after,
.row-fluid::before,
.row-fluid::after {
  display: table;
  content: '';
  line-height: 0;
}

.row::after,
.row-fluid::after {
  clear: both;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: '';
  line-height: 0;
}

.clearfix::after {
  clear: both;
}

.nav-tabs::before,
.nav-pills::before,
.nav-tabs::after,
.nav-pills::after {
  display: table;
  content: '';
  line-height: 0;
}

.nav-tabs::after,
.nav-pills::after {
  clear: both;
}

.tabbable::before,
.tabbable::after {
  display: table;
  content: '';
  line-height: 0;
}

.tabbable::after {
  clear: both;
}

.navbar-inner::before,
.navbar-inner::after {
  display: table;
  content: '';
  line-height: 0;
}

.navbar-inner::after {
  clear: both;
}

.navbar-form::before,
.navbar-form::after {
  display: table;
  content: '';
  line-height: 0;
}

.navbar-form::after {
  clear: both;
}

.navbar .nav>li>.dropdown-menu::before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}

.navbar .nav>li>.dropdown-menu::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: -6px;
  left: 10px;
}

.navbar-fixed-bottom .nav>li>.dropdown-menu::before {
  border-top: 7px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0;
  bottom: -7px;
  top: auto;
}

.navbar-fixed-bottom .nav>li>.dropdown-menu::after {
  border-top: 6px solid #fff;
  border-bottom: 0;
  bottom: -6px;
  top: auto;
}

.navbar .pull-right>li>.dropdown-menu::before,
.navbar .nav>li>.dropdown-menu.pull-right::before {
  left: auto;
  right: 12px;
}

.navbar .pull-right>li>.dropdown-menu::after,
.navbar .nav>li>.dropdown-menu.pull-right::after {
  left: auto;
  right: 13px;
}

.popover .arrow,
.popover .arrow::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow::after {
  border-width: 10px;
  content: '';
}

.popover.top .arrow::after {
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #fff;
}

.popover.right .arrow::after {
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff;
}

.popover.bottom .arrow::after {
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #fff;
}

.popover.left .arrow::after {
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -10px;
}

.modal-footer::before,
.modal-footer::after {
  display: table;
  content: '';
  line-height: 0;
}

.modal-footer::after {
  clear: both;
}

.dropdown-submenu>a::after {
  display: block;
  content: ' ';
  float: right;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #ccc;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a::after {
  border-left-color: #fff;
}

body {
  background: #fff none repeat scroll 0% 0%;
  color: #000;
  font: 12px Roboto, sans-serif;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #f5b11a;
  text-decoration: underline;
  font-weight: 700 !important;
}

ins,
a:hover {
  text-decoration: none;
}

#all {
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  height: auto !important;
  position: relative;
}

.header {
  padding-bottom: 10px;
  /* background: transparent url(../images/bg_w.jpg) repeat scroll center top; */
}

.logo {
  display: block;
  float: left;
  font: 69.29px Arial;
  color: #f5b11a;
  text-decoration: none;
  letter-spacing: 1px;
}

.header .row {
  position: relative;
}

.header #logo {
  margin-top: 10px;
}

.header #logo span {
  color: #141212;
}

.our-authors-block {
  background: transparent url(../images/bg_d.jpg) repeat scroll center top;
}

.our-authors-block.our-authors-page {
  padding-top: 22px;
}

.our-authors-block.our-authors-page .container {
  background: #fff none repeat scroll 0% 0%;
}

.main-content .container {
  background-color: transparent !important;
}

.main-content .top {
  background: #fff none repeat scroll 0% 0%;
  padding-bottom: 1px;
}

.main-content h1 {
  font: 700 42px/1.1 'Roboto Slab', serif;
  color: #424141;
  text-transform: uppercase;
  margin-top: 15px;
  margin-left: 6px;
  margin-right: 10px;
}

.main-content .rate {
  float: right;
  margin-top: 11px;
  position: relative;
  right: 10px;
}

.main-content .text {
  margin-top: 10px;
  font: 400 18px/1.4 'Roboto', sans-serif;
  color: #626768;
}

.main-content .row-content {
  background: #fff none repeat scroll 0% 0%;
}

.top-info-line {
  width: 100%;
  height: 30px;
  margin-right: 10px;
  background: transparent url(../images/10.png) repeat-x scroll 0 17px;
}

.top-info-line .rate {
  background: #fff none repeat scroll 0% 0%;
  padding-right: 10px;
  right: 0;
  padding-left: 15px;
  position: relative;
}

.top-info-line .rate .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.comments-ul {
  background: transparent url(../images/bg_w.jpg) repeat scroll center top;
  padding-top: 20px;
  overflow: hidden;
}

.comments-ul .comment-list li {
  display: block;
}

.comments-ul .comment-list li .inside {
  padding-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
  margin-bottom: 20px;
}

.comments-ul .left-comment {
  width: 60px;
  left: 0;
  top: 0;
  float: left;
  text-align: center;
}

.comments-ul .right-comment {
  padding-left: 55px;
}

.comments-ul .right-comment .name-time {
  height: 20px;
}

.comments-ul .right-comment .name {
  float: left;
  color: #282828;
  font: 20px/20px 'Roboto', sans-serif;
}

.comments-ul .right-comment .time {
  float: left;
  color: #ec9123;
  font: 13px/20px Calibri, Arial;
  text-transform: lowercase;
  position: relative;
  left: 10px;
  top: 3px;
}

.comments-ul .right-comment .text {
  margin-top: 14px;
  color: #555;
  font: 14px roboto, sans-serif;
  display: table;
}

.comment-buttons {
  padding-top: 28px;
  padding-bottom: 26px;
  width: 200px;
  margin: 0 auto;
}

.green_button {
  display: inline-block;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 14px 28px;
  border: 1px solid #187500;
  border-radius: 10px;
  background: transparent linear-gradient(to bottom, rgb(45, 221, 0), rgb(24, 117, 0)) repeat scroll 0% 0%;
  text-shadow: 1px 1px 1px #0e4500;
  color: #fff !important;
  text-decoration: none !important;
  font-size: 30px;
  line-height: initial !important;
}

.green_button:hover,
.green_button:focus {
  border: 1px solid #1c8a00;
  background: transparent linear-gradient(to bottom, rgb(54, 255, 0), rgb(29, 140, 0)) repeat scroll 0% 0%;
  color: #fff !important;
  text-decoration: none !important;
}

.green_button:active {
  background: transparent linear-gradient(to bottom, rgb(24, 117, 0), rgb(24, 117, 0)) repeat scroll 0% 0%;
}

.super-content h1 {
  text-align: left !important;
  color: #000;
  margin-top: 0;
}

.super-content table tr:nth-child(2n + 1) td {
  background: #f5f3f3 none repeat scroll 0% 0%;
}

.super-content a {
  text-decoration: underline;
}

.super-content a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 550px;
}

.super-content p {
  margin-bottom: 10px;
  color: #3d3d3d;
}

.super-content .super-content-in {
  padding: 20px 10px 0;
}

.super-content .cont-content {
  padding-left: 10px;
  padding-right: 10px;
}

.super-content .cont-content .inset {
  padding: 7px;
  margin: 10px 0;
  border-radius: 13px;
  background: #d6d6d6 none repeat scroll 0% 0%;
  overflow: hidden;
}

.super-content .cont-content .inset .inner {
  padding: 10px 17px;
  border-radius: 8px;
  background: #fff none repeat scroll 0% 0%;
}

.super-content .cont-content .inset .inner p {
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  text-indent: 0;
  display: inline;
}

.super-content .cont-content .text {
  margin: 15px 0 0;
}

.main-super-content {
  padding-bottom: 37px;
}

.minute::after {
  position: absolute;
  content: 'Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð â€¹Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð Ð†Ð â€šÐ¡ÑšÐ Â Ð’Â Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚â„–Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð ÐŽÐ¡Ñ™Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â¦Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð â€¹Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð Ð†Ð â€šÐ¡ÑšÐ Â Ð’Â Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚â„–Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð ÐŽÐ¡Ñ™Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â¦Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð â€¹Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð Ð†Ð â€šÐ¡ÑšÐ Â Ð’Â Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚â„–Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð ÐŽÐ¡Ñ™Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â¦Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð â€¹Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð Ð†Ð â€šÐ¡ÑšÐ Â Ð’Â Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚â„–Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð ÐŽÐ¡Ñ™Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â¦Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð â€¹Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð Ð†Ð â€šÐ¡ÑšÐ Â Ð’Â Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚â„–Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð ÐŽÐ¡Ñ™Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â¦';
  bottom: -10px;
  font-size: 12px;
  display: block;
  width: 100%;
  color: #fff;
}

.second::after {
  position: absolute;
  content: 'Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð â€¹Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð Ð†Ð â€šÐ¡ÑšÐ Â Ð’Â Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚â„–Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð ÐŽÐ¡Ñ™Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â¦Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð â€¹Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð Ð†Ð â€šÐ¡ÑšÐ Â Ð’Â Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚â„–Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð ÐŽÐ¡Ñ™Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â¦Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð â€¹Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð Ð†Ð â€šÐ¡ÑšÐ Â Ð’Â Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚â„–Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð ÐŽÐ¡Ñ™Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â¦Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð â€¹Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð Ð†Ð â€šÐ¡ÑšÐ Â Ð’Â Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚â„–Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð ÐŽÐ¡Ñ™Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â¦Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð â€¹Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð Ð†Ð â€šÐ¡ÑšÐ Â Ð’Â Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚â„–Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð ÐŽÐ¡Ñ™Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â¦Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð â€¹Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð Ð†Ð â€šÐ¡ÑšÐ Â Ð’Â Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚â„–Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð â€ Ð Â Ð²Ð‚Ñ™Ð ÐŽÐ¡Ñ™Ð Â Ð’Â Ð â€™Ð’Â Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â Ð Â Ð’Â Ð Â Ð²Ð‚Â Ð Â Ð’Â Ð Ð†Ð â€šÐ¡â„¢Ð Â Ð²Ð‚â„¢Ð â€™Ð’Â¦';
  bottom: -10px;
  font-size: 12px;
  display: block;
  width: 100%;
  color: #fff;
}

.ymaps-b-form-button__input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.popup_button::before {
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 0 4px -6px -4px;
  position: relative;
  top: 0;
  left: 0;
}

p {
  font-size: 17px;
}

.super-content img.first_img {
  float: left;
  margin-right: 15px;
  max-width: 40%;
}

.comments-ul .right-comment .text img {
  margin-top: 10px;
}

.buy-block {
  display: table;
  width: 100%;
  padding: 30px 0;
}

.buy-block__left {
  display: table-cell;
  vertical-align: top;
  width: 55%;
}

.buy-block__right {
  display: table-cell;
  vertical-align: top;
  padding-left: 30px;
  width: 45%;
  position: relative;
  z-index: 2;
}

.form-element {
  padding: 16px;
  width: 100%;
  margin-bottom: 16px;
  border: 2px solid #ccc;
  font-size: 20px;
  color: #757575;
}

.form-wrap {
  padding: 26px;
  background-color: #fff;
}

.form-item {
  position: relative;
}

select {
  -moz-appearance: none;
  appearance: none;
  background: #fff url(../images/select.png) no-repeat scroll 96% center;
}

.buy-block button {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.price {
  text-align: center;
}

.price-new {
  font-size: 30px;
  font-weight: 700;
  color: #dea314;
}

.price-old {
  font-size: 20px;
  color: #d6d6d6;
  text-decoration: line-through;
}

@media (max-width: 991px) {

  .buy-block__left,
  .buy-block__right {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .form-wrap {
    padding: 0;
  }

  .buy-block__right {
    padding: 0;
    margin: 0 auto;
  }

  .buy-block__right img {
    display: inline-block;
    padding: 30px 0 0;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media (max-width: 991px) {
  .top-info-line #crumbs {
    display: none;
  }

  .best-authors {
    display: none;
  }

  .green_button {
    font-size: 22px !important;
  }

  .main-super-content .container {
    padding: 0;
    overflow: hidden;
  }

  .main-content h1 {
    font: 700 25px/1.1 'Roboto Slab', serif;
  }

  .logo {
    font: 50px beast_vs_spreadtall, Arial;
  }

  .logo-text {
    font: 13.5px Arial;
  }

  .super-content .cont-content {
    padding: 0;
  }

  .super-content .cont-content blockquote {
    margin-left: 0;
    padding-left: 10px;
  }
}

@media (max-width: 425px) {
  .comments-ul .right-comment .text {
    clear: both;
  }

  .comments-ul .right-comment {
    padding-left: 0;
  }
}

.cc_widget {
  position: fixed;
  top: 0;
  right: -500px;
  display: none;
  width: 0;
  z-index: 10000;
  transition: all 0.5s ease-out 0s;
  font-family: roboto, sans-serif;
}

.cc_widget .clearfix::after,
.cc_widget .clearfix::before {
  display: table;
  content: '';
}

.cc_widget .clearfix::after {
  clear: both;
}

@media screen and (max-width: 991px) {

  .cc_widget__shipment,
  .cc_widget__customer.another,
  .cc_widget__pl,
  .cc_dtc,
  .cc_widget__customer.make_offer,
  .cc_widget__call.c-alarm__button,
  .cc_widget.cc_wrapper {
    display: none !important;
  }
}

.ac_gdpr_fix {
  position: fixed;
  font-family: Arial, nimbus sans l, Helvetica, sans-serif !important;
  font-size: 18px;
  bottom: 0;
  left: 10px;
  right: 10px;
  background-color: #fff;
  z-index: 10000;
  text-align: center;
  padding: 7px 25px;
  border-radius: 15px 15px 0 0;
  color: #000;
  border-width: 1px 1px medium;
  border-style: solid solid none;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  line-height: 1 !important;
}

.ac_gdpr_fix a {
  font-size: 18px;
  color: red !important;
  font-weight: 700 !important;
  text-decoration: none !important;
}

.ac_gdpr_fix a:hover {
  text-decoration: underline !important;
}

.close_gdpr_warn {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  color: red;
}

@media only screen and (max-width: 1230px) {

  .ac_gdpr_fix,
  .ac_gdpr_fix a,
  .close_gdpr_warn {
    font-size: 15px;
  }

  .ac_footer {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .ac_gdpr_fix {
    padding: 5px;
    left: 0;
    right: 0;
  }

  .ac_gdpr_fix,
  .ac_gdpr_fix a,
  .close_gdpr_warn {
    font-size: 13px;
  }

  .ac_footer {
    padding-bottom: 70px;
  }
}

form,
button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  font-size: 18px;
  line-height: 1.3em;
}

@font-face {
  font-family: 'OpinionPro';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/357462_1_0lmcyrsn.eot) format('embedded-opentype'),
    url(../fonts/357462_1_0lmcyrsn.woff2) format('woff2');
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(66, 148, 218);
}

a:hover,
a:focus {
  color: rgb(35, 82, 124);
  text-decoration: underline;
}

@supports (-webkit-appearance: none) and (not (overflow: -webkit-marquee)) and (not (-ms-ime-align: auto)) and (not (-moz-appearance: none)) {}

:before,
:after {
  box-sizing: border-box;
}

.submit-roulette:hover {
  background: #bb0000;
  transition: background 0.3s;
}

.submit-roulette:active {
  transform: translateY(2px);
  box-shadow: none;
}

.submit-roulette {
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 15px 0;
  outline: none;
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0px 4px 3px #242120;
  background: red;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
  max-width: 280px;
}

.input-roulette {
  display: block;
  padding-left: 5px;
  max-width: 280px;
  width: 100%;
  height: 42px;
  margin-bottom: 10px;
}

.ruletka-p {
  text-indent: 0px;
  color: black;
  text-align: center !important;
  margin: 15px;
  line-height: 25px;
  font-weight: bold;
}

.spin-wrapper {
  -webkit-box-shadow: 0 0 10px;
  box-shadow: 0 0 10px;
  border: 3px solid red;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

.spin-wrapper .ruletka-p {
  margin-bottom: 15px;
}

.danger-text {
  color: red;
  font-weight: bold;
}

.wheel {
  width: 380px !important;
  margin: 0 auto;
  position: relative;
}

.wheel img {
  max-width: 100%;
}

.wheel-img {
  -webkit-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
}

.wheel-cursor {
  position: absolute;
  width: 35% !important;
  height: 35%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cursor-text {
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 45% !important;
  height: 45%;
  font: 12px Arial !important;
  line-height: 61px !important;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  top: 49%;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset,
    rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
  box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset,
    rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
  background: rgb(255, 255, 255);
}

.order_block {
  display: none;
  text-align: center !important;
}

.order_block img {
  width: 100%;
}

.order_block h3 {
  font: bold 18px Arial !important;
  background: transparent;
}

#profit_form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Proxima Nova', 'Arial', 'Helvetica Neue', sans-serif;
}

.time_remains {
  font-size: 1.1em;
  color: red;
  font-weight: bold;
}

.spin-result-wrapper {
  display: none;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0px;
  left: 0px;
  top: 40%;
  margin: 0px auto;
  background: #ffffff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.close-popup {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../fonts/cross.svg);
  background-size: 100%;
  top: -40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  right: -40px;
  cursor: pointer;
}

.pop-up-heading {
  font-size: 40px;
  margin-bottom: 20px;
}

.pop-up-text {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  text-align: center !important;
}

.pop-up-button {
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 10px 20%;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(113, 195, 65);
  color: rgb(255, 255, 255) !important;
  border: medium none;
  cursor: pointer;
  outline: medium none;
}

.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0px;
  left: 0px;
  top: 40%;
  margin: 0px auto;
  background: #fff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.pop-up-window::before {
  content: '';
  position: absolute;
  width: 110px;
  height: 110px;
  top: -55px;
  left: 0;
  right: 0px;
  margin: 0 auto;
  background-color: rgb(113, 195, 65);
  border-radius: 50%;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}

.pop-up-window::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 20px;
  top: -20px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  border-width: medium medium 4px 4px;
  border-style: none none solid solid;
  border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  transform: rotate(-45deg);
  transition: opacity 1s ease 0s;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}

@keyframes pop-up-appear {
  0% {
    transform: translateY(-2000px);
  }

  30% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes pop-up-appear-before {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pop-up-appear-after {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pop-up-button:hover {
  color: rgb(255, 255, 255) !important;
  text-decoration: none !important;
}

@media all and (max-width: 520px) {
  .wheel {
    width: 280px !important;
  }

  .cursor-text {
    line-height: 45px !important;
    font-size: 12px !important;
  }
}

@media screen and (max-width: 345px) {
  .wheel {
    width: 250px !important;
  }

  .cursor-text {
    line-height: 40px !important;
    font-size: 8px !important;
  }
}

.super-rotation {
  -webkit-animation-name: super-rotation;
  animation-name: super-rotation;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

@-webkit-keyframes super-rotation {
  70% {
    -webkit-transform: rotate(1585deg);
    transform: rotate(1585deg);
  }

  100% {
    -webkit-transform: rotate(1574deg);
    transform: rotate(1574deg);
  }
}

@keyframes super-rotation {
  70% {
    -webkit-transform: rotate(1585deg);
    transform: rotate(1585deg);
  }

  100% {
    -webkit-transform: rotate(1574deg);
    transform: rotate(1574deg);
  }
}

#lurebottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lurebottom a {
  margin-left: 20px;
}

@media (max-width: 1036px) {
  #lurebottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.image-wrap {
  text-align: center;
}

.green_button {
  display: inline-block;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 14px 28px;
  border: 1px solid #187500;
  border-radius: 10px;
  background: transparent linear-gradient(to bottom, rgb(45, 221, 0), rgb(24, 117, 0)) repeat scroll 0% 0%;
  text-shadow: 1px 1px 1px #0e4500;
  color: #fff !important;
  text-decoration: none !important;
  font-size: 30px;
  line-height: initial !important;
}

.green_button:hover,
.green_button:focus {
  border: 1px solid #1c8a00;
  background: transparent linear-gradient(to bottom, rgb(54, 255, 0), rgb(29, 140, 0)) repeat scroll 0% 0%;
  color: #fff !important;
  text-decoration: none !important;
}

.btn-wrap {
  margin: auto;
  text-align: center;
}



.order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto !important
}

.prod-wrapper {
  width: 100%;
  position: relative;
  max-width: 220px;
  left: -5px
}

.prod {
  max-width: 200px;
}

.red-border {
  color: #fff;
  width: 84px;
  height: 84px;
  font-size: 24px;
  position: absolute;
  top: -5px;
  right: -25px
}

.red-border,
.red-border__text {
  display: flex;
  align-items: center;
  justify-content: center
}

.red-border__text {
  position: relative;
  width: 72px;
  height: 72px;
  background-color: red;
  border-radius: 50%
}

.red-border::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-bottom: 2px solid red;
  top: -7px;
  right: -7px;
  -webkit-animation: load 2s linear infinite;
  animation: load 2s linear infinite
}

.prod-wrapper img {
  width: 100%
}

@keyframes load {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

.order__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 5px #ccc
}

.order__title {
  font-size: 21px;
  font-weight: 700;
  text-align: center !important;
  margin: 0 !important;
  line-height: 1.3em;
  display: block;
  margin-bottom: 8px !important;
}

.price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 16px
}

.price__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}



.price__title {
  font-size: 13px;
  color: #666;
  margin-bottom: 5px !important;
  margin-top: 0 !important
}

.price__old {
  font-size: 21px;
  color: #666;
  position: relative;
  margin-bottom: 0 !important;
  margin-top: 0 !important
}

.price__old::before {
  content: "";
  display: block;
  border-top: 1px solid red;
  height: 1px;
  width: 100%;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  transform: rotate(-15deg)
}

.price__old::after {
  content: "";
  display: block;
  border-top: 1px solid red;
  height: 1px;
  width: 100%;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  transform: rotate(15deg)
}

.price__new {
  font-size: 22px;
  font-weight: 700;
  color: red;
  margin-bottom: 0 !important;
  margin-top: 0 !important
}



.order__input {
  font-size: 16px !important;
  max-width: 250px !important;
  width: 100% !important;
  background-color: #fff !important;
  border: 1px solid #c5c5c5 !important;
  padding: 10px 10px 10px 20px !important;
  height: 40px !important;
}

.order__button {
  font-size: 22px;
  color: #fff;
  background: #be0000;
  border: 2px solid #ce4d4d;
  outline: 0;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 10px;
  text-align: center;
  max-width: 250px;
  line-height: 1;
  width: 100%;
  transition: all .3s ease-in-out
}

.order__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
  background: #f7f7f7;
  box-shadow: 0 0 5px #c5c5c5;
  width: 100%;
  padding: 15px;
  max-width: 450px
}

@media (min-width:480px) {
  .prod-wrapper {
    padding-top: 0px
  }
}

@media (min-width:640px) {
  div.order__wrapper {
    flex-direction: row;
    justify-content: space-between;
    max-width: 610px;
    margin: 0 auto 30px
  }

  .prod-wrapper {
    width: 100%;
    max-width: 304px !important;
    right: 30px;
    padding-top: 0px;
    margin-top: 0;
  }

  .order__form {
    margin-top: 0;
  }
}

@media (min-width:768px) {
  div.order__wrapper {
    flex-direction: row;
    justify-content: space-around;
    max-width: 690px;
    margin: 0 auto 30px;
    padding: 30px;

  }
}

.form__note {
  margin-bottom: 0 !important;
  margin-top: 10px !important;
}

@media (min-width:1200px) {
  .red-border {
    right: -17px
  }
}

label {
  display: inline-block;
  margin-bottom: 1rem
}


body input:focus:required:invalid {
  color: #666
}

body input:required:valid {
  color: #666
}



.order__button:hover {
  background-color: #972a2a
}

.product {
  max-width: 350px
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  100% {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }
}

@media (max-width:479px) {
  .product {
    max-width: 220px
  }
}

.order__button {
  -webkit-animation: 1s pulse infinite alternate ease-in-out;
  animation: 1s pulse infinite alternate ease-in-out;
  background: red
}

input::-ms-clear {
  display: none
}


.cookie-popup {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(30, 30, 30, 0.7);
  color: #ffffff;
  padding: 4px 10px;
  z-index: 1000;
  width: 100%;
  font-family: Arial;
  text-align: center;
  box-sizing: border-box !important;
  padding-right: 30px !important;
}

.cookie-popup * {
  box-sizing: inherit !important;
}

.cookie-popup-inner {
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
}

.cookie-popup-inner a {
  color: #fff;
  text-decoration: underline;
  padding-left: 5px;
  text-align: center;
  cursor: pointer;
}

.dismiss-popup {
  display: inline-block;
  vertical-align: middle;
  width: 72px;
  border: 1px solid #ffffff;
  padding: 0;
  border-radius: 3px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  transition: 0.3s all
}

.dismiss-popup:hover {
  background: rgba(30, 30, 30, 0.5);
}

.close-cookie-popup {
  position: absolute;
  right: 2px;
  top: 0;
  font-size: 22px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  width: 30px;
}

@media screen and (max-width: 660px) {
  .cookie-popup {
    text-align: left;
    padding-left: 15px;
  }

  .cookie-popup-inner {
    text-align: left;
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 540px) {
  .cookie-popup-inner {
    font-size: 12px;
  }
}

.timer-form {
  display: flex;
  color: red;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 18px !important;
  font-weight: 700;
  gap: 5px;
  margin-bottom: 13px;

}

.timer-form span {
  font-size: 18px !important;
}

@media (max-width: 345px) {
  .last-list {
    display: none !important;
  }

}