@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=latin-ext");

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  color: #000000;

  -webkit-background-size: 100% 100%;
          background-size: 100%;
}

ul,
ol {
  padding: 0;

  list-style: none;
}

ul {
  padding: 0;
}

b,
strong {
  font-weight: bold;
}

p {
  margin: 0;
}

.clearfix:after {
  content: "";

  display: table;
  clear: both;
}

.content_link {
  font-weight: 600;
  color: #e5973f;
  text-decoration: underline;
}

.content_link:hover {
  color: #e5973f;
  text-decoration: none;
}

.container {
  position: relative;

  max-width: 1010px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  margin-bottom: 45px;
  padding: 35px 0;

  font-size: 0;
  line-height: 1;
  color: #ffffff;

  background: #db7325 url(../img/header_bg.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
}

header a,
header a:hover,
header a:active,
header a:focus {
  color: inherit;
  text-decoration: none;
}

.logo {
  display: inline-block;
  width: 125px;
  margin-right: 30px;

  font-weight: 800;
  font-size: 24px;
  vertical-align: middle;
  text-transform: uppercase;
}

.header_list {
  display: inline-block;
  width: calc(100% - 480px);
  margin-right: 55px;

  vertical-align: middle;
  text-align: center;
}

.header_list li {
  display: inline-block;
  margin-right: 20px;

  font-weight: 500;
  font-size: 13px;
  vertical-align: middle;
}

.header_list li:hover {
  text-decoration: underline;
}

.header_list li:last-child {
  margin-right: 0;
}

.search {
  position: relative;

  display: inline-block;
  width: 270px;
  padding: 0 15px;

  font-size: 12px;
  line-height: 30px;
  line-height: 30px;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.71);

  -webkit-background-size: 18px 18px;
          background-size: 18px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.search:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;

  width: 18px;
  height: 18px;

  background: transparent url(../img/search_icon.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .container {
  position: relative;

  padding-left: 80px;

  font-size: 0;
}

.content {
  position: relative;

  display: inline-block;
  width: calc(100% - 325px);
  margin-right: 55px;

  font-size: 14px;
  vertical-align: top;
}

.sidebar {
  display: inline-block;
  width: 270px;

  vertical-align: top;
}

.content_img {
  display: block;
  width: 100%;
  margin-bottom: 20px;

  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.content_mark {
  position: absolute;
  top: 0;
  top: -12px;
  left: 0;

  display: inline-block;
  padding: 6px 7px;

  font-size: 11px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background: -webkit-linear-gradient(341.98deg, #da7124 24.65%, #eaa139 107.33%);
  background:      -o-linear-gradient(341.98deg, #da7124 24.65%, #eaa139 107.33%);
  background:         linear-gradient(108.02deg, #da7124 24.65%, #eaa139 107.33%);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.main_title {
  margin: 0 0 25px;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.3;
  color: #3e3e3e;
}

.status_bar {
  margin-bottom: 20px;
  padding: 12px 10px;

  font-size: 0;
  text-align: center;

  background: #f9f9f9;
}

.status_item {
  position: relative;

  display: inline-block;
  margin-right: 45px;
  padding-left: 20px;

  font-weight: 300;
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
}

.status_item:last-child {
  margin-right: 0;
}

.status_item:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 15px;
  height: 14px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.status_date:before {
  background: url(../img/status_date.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}

.status_name:before {
  background: url(../img/status_name.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}

.status_views:before {
  background: url(../img/status_views.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}

.status_comments:before {
  background: url(../img/status_comm.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}

.content p {
  margin-bottom: 20px;
}

.result_wrap {
  margin-bottom: 20px;

  font-size: 0;
}

.result_img {
  display: inline-block;
  width: calc(50% - 20px);

  vertical-align: top;
}

.result_img:first-child {
  margin-right: 40px;
}

.content_note {
  position: relative;

  margin-bottom: 30px;
  padding-left: 22px;

  font-weight: 600;
  font-size: 16px;
}

.content_note:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 9px;
  height: calc(100% - 5px);

  background: -webkit-gradient(linear, left top, left bottom, from(#da7124), to(#eaa039));
  background: -webkit-linear-gradient(top, #da7124 0%, #eaa039 100%);
  background:      -o-linear-gradient(top, #da7124 0%, #eaa039 100%);
  background:         linear-gradient(180deg, #da7124 0%, #eaa039 100%);
}

.messenger_wrap {
  width: 230px;
  margin: 30px auto;

  font-family: "Roboto", sans-serif;

  background: #dfe4e8 url(../img/messenger_bg.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
}

.messenger_header {
  position: relative;

  height: 35px;
  margin-bottom: 5px;

  background: #4489b3 url(../img/messenger_header.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}

.messenger_bottom {
  height: 54px;

  background: #4489b3 url(../img/messenger_bottom.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}

.message_item {
  margin-bottom: 5px;
}

.message_item:last-child {
  margin-bottom: 0;
}

.message_right {
  float: right;
  max-width: 80%;
  margin-right: 5px;
  padding: 8px;

  font-size: 10px;
  line-height: 1.3;

  background: #e8eff5;
  -webkit-border-radius: 15px 5px 15px 15px;
          border-radius: 15px 5px 15px 15px;
}

.message_text {
  margin-bottom: 5px;
}

.message_time {
  padding-right: 16px;

  font-size: 8px;
  text-align: right;

  background: transparent url(../img/messenger_arrows.png) no-repeat 98% center;
}

.emoji {
  width: 18px;
}

.message_left {
  float: left;
  max-width: 80%;
  margin-left: 5px;
  padding: 8px;

  font-size: 10px;
  line-height: 1.3;

  background: #ffffff;
  -webkit-border-radius: 5px 15px 15px 15px;
          border-radius: 5px 15px 15px 15px;
}

.messenger_content {
  position: relative;

  padding-bottom: 40px;
}

.sticker {
  position: absolute;
  right: 15px;
  bottom: 0;
}

.message_ava {
  position: absolute;
  top: 3px;
  left: 35px;

  display: block;
  width: 28px;

  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.message_header-text {
  position: absolute;
  top: 9px;
  left: 70px;

  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}

.content_text-img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
}

.inst_wrap {
  width: 227px;
  margin: 30px auto;

  font-family: "Roboto", sans-serif;
}

.inst_header {
  position: relative;

  height: 83px;

  background: transparent url(../img/inst_header.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}

.inst_buttons {
  height: 33px;

  background: transparent url(../img/inst_buttons.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}

.inst_bottom {
  height: 32px;

  background: transparent url(../img/inst_bottom.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}

.inst_text {
  padding-left: 15px;

  color: #434343;
}

.inst_text p {
  width: 90%;
  margin-bottom: 12px;

  font-size: 10px;
}

.inst_date {
  color: #8b8b8b;
  text-transform: uppercase;
}

.inst_tag {
  color: #265fa1;
}

.inst_ava {
  position: absolute;
  bottom: 6px;
  left: 10px;

  display: block;
  width: 24px;

  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.inst_name {
  position: absolute;
  bottom: 10px;
  left: 40px;

  font-weight: 700;
  font-size: 10px;
  color: #434343;
}


.btn {
  display: block;
  width: 170px;
  margin: 30px auto;
  padding: 15px 10px 14px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background: -webkit-gradient(linear, left top, left bottom, from(#4ca35b), to(#2a993e));
  background: -webkit-linear-gradient(top, #4ca35b 0%, #2a993e 100%);
  background:      -o-linear-gradient(top, #4ca35b 0%, #2a993e 100%);
  background:         linear-gradient(180deg, #4ca35b 0%, #2a993e 100%);
  -webkit-border-radius: 4px;
          border-radius: 4px;

  -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}

.btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #ffffff;
  text-decoration: none;
}

.comments {
  margin: 90px 0 0;
}

.comments_title {
  position: relative;

  display: inline-block;
  margin-top: 0;
  margin-bottom: 40px;

  font-weight: bold;
  font-size: 16px;
}

.comments_title:before {
  content: "24";
  position: absolute;
  top: -2px;
  right: -40px;

  width: 28px;
  height: 28px;

  font-weight: 700;
  font-size: 11px;
  line-height: 28px;
  text-align: center;
  color: #e49032;

  background: #f0f0f0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.comment_wrap {
  position: relative;

  margin-bottom: 30px;
  padding-left: 65px;
}

.comment_ava {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 47px;

  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.comment_name-wrap {
  margin-bottom: 5px;
}

.comment_name {
  margin-right: 10px;

  font-weight: 600;
  font-size: 14px;
  color: #434343;
}

.comment_date {
  font-size: 12px;
  color: #909090;
}

.comment_text {
  margin-bottom: 12px !important;

  font-size: 14px;
}

.comment_response {
  color: #e49032;
}

.comment_response:hover,
.comment_response:active,
.comment_response:focus {
  color: #e49032;
  text-decoration: none;
}

.subcomment {
  margin-left: 25px;
}

.comments .btn {
  margin: 70px auto;
}

.footer {
  padding: 40px 10px;

  font-size: 14px;
  text-align: center;
  color: #ffffff;

  background: #db7325 url(../img/footer_bg.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
}

.news_title {
  position: relative;

  margin: 0 0 30px;
  padding-left: 25px;

  font-weight: bold;
  font-size: 16px;
}

.news_title:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  background: transparent url(../img/news_title-img.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}

.news_item {
  position: relative;

  min-height: 75px;
  margin-bottom: 20px;
  padding: 0 0 15px 95px;
}

.news_item:last-child {
  margin-bottom: 0;
}

.news_img {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 75px;
}

.news_text {
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
}

.news_text:hover {
  color: #e5973f;
  text-decoration: none;
}

.news_date {
  position: absolute;
  bottom: 0;
  left: 95px;

  font-size: 11px;
  line-height: 1;
  color: #868686;
}

.sb_prod {
  position: relative;

  margin: 40px 0;
  padding: 35px 10px 22px;

  background: -webkit-linear-gradient(356.23deg, #da7124 24.65%, #eba23a 65.55%, #d97024 107.33%);
  background:      -o-linear-gradient(356.23deg, #da7124 24.65%, #eba23a 65.55%, #d97024 107.33%);
  background:         linear-gradient(93.77deg, #da7124 24.65%, #eba23a 65.55%, #d97024 107.33%);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.sb_fruits {
  display: block;
  width: 100%;
}

.sb_prod .btn {
  margin: 0 auto;

  font-size: 14px;
}

.sb_prod-img {
  position: absolute;
  bottom: 65px;
  left: 50%;

  display: block;
  max-width: 200px;
  max-height: 291px;

  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.sb_inst {
  overflow: hidden;

  font-size: 12px;

  background: #f9f9f9;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.sb_inst-header {
  position: relative;

  padding: 18px 40px 18px 60px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  color: #ffffff;

  background: -webkit-linear-gradient(333.31deg, #da7124 24.65%, #e79635 68.57%, #dd7d29 107.33%);
  background:      -o-linear-gradient(333.31deg, #da7124 24.65%, #e79635 68.57%, #dd7d29 107.33%);
  background:         linear-gradient(116.69deg, #da7124 24.65%, #e79635 68.57%, #dd7d29 107.33%);
}

.sb_inst-header:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;

  display: block;
  width: 32px;
  height: 32px;

  background: transparent url(../img/sb_inst-ava.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sb_inst-header:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;

  display: block;
  width: 24px;
  height: 24px;

  background: transparent url(../img/sb_inst-tag.png) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sb_inst-main {
  padding: 12px 15px;
}

.sb_inst-stat {
  position: relative;

  margin-bottom: 10px;

  font-size: 0;
}

.sb_inst-stat-item {
  display: inline-block;

  font-size: 10px;
  vertical-align: top;
  text-align: center;
}

.sb_inst-stat-item:first-child {
  margin-right: 15px;
}

.sb_inst-stat-item b {
  display: block;

  font-weight: 500;
  font-size: 13px;
}

.sb_inst-stat .btn {
  position: absolute;
  top: 0;
  right: 0;

  display: inline-block;
  width: auto;
  margin: 0;
  padding: 10px 15px 8px;

  font-weight: 500;
  font-size: 10px;
  text-transform: none;
}

.sb_inst-posts-wrap {
  font-size: 0;
}

.sb_inst-post {
  display: inline-block;
  width: calc(33.3% - 10px);
  margin-right: 15px;
  margin-bottom: 15px;

  vertical-align: top;
}

.sb_inst-post:nth-child(3),
.sb_inst-post:nth-child(6),
.sb_inst-post:nth-child(9) {
  margin-right: 0;
}

.sb_inst-post:nth-child(7),
.sb_inst-post:nth-child(8),
.sb_inst-post:nth-child(9) {
  margin-bottom: 0;
}

.social {
  position: absolute;
  top: 0;
  left: 0;

  width: 55px;

  border: 1px solid #bababa;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.soc_item {
  position: relative;

  display: block;
  height: 45px;

  border-bottom: 1px solid #bababa;

  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}

.soc_item:hover {
  background: #ececec;
}

.soc_item:last-child {
  border-bottom: none;
}

.soc_item:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 16px;
  height: 16px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.soc_item:nth-child(1):before {
  background: transparent url(../img/soc_1.png) no-repeat center;
  -webkit-background-size: inherit inherit;
          background-size: inherit;
}

.soc_item:nth-child(2):before {
  background: transparent url(../img/soc_2.png) no-repeat center;
  -webkit-background-size: inherit inherit;
          background-size: inherit;
}

.soc_item:nth-child(3):before {
  background: transparent url(../img/soc_3.png) no-repeat center;
  -webkit-background-size: inherit inherit;
          background-size: inherit;
}

.soc_item:nth-child(4):before {
  background: transparent url(../img/soc_4.png) no-repeat center;
  -webkit-background-size: inherit inherit;
          background-size: inherit;
}

.soc_item:nth-child(5):before {
  background: transparent url(../img/soc_5.png) no-repeat center;
  -webkit-background-size: inherit inherit;
          background-size: inherit;
}

@media screen and (max-width: 1009px) {
  .logo {
    position: relative;

    width: 160px;
    margin-right: 0;
    padding-left: 35px;
  }

  .logo:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 24px;
    height: 17px;

    background: transparent url(../img/menu.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .header_list {
    display: none;
  }

  .search {
    position: absolute;
    top: 50%;
    right: 22px;

    display: block;
    width: 18px;
    height: 18px;
    padding: 0;

    font-size: 0;

    background: transparent url(../img/search_icon.png) no-repeat center;
    -webkit-background-size: 18px 18px;
            background-size: 18px;
    border: none;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .search:before {
    display: none;
  }
}

@media screen and (max-width: 849px) {
  .sidebar {
    display: none;
  }

  .content {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 499px) {
  .social {
    display: none;
  }

  main .container {
    padding: 0 15px;
  }

  .status_bar {
    text-align: left;
  }

  .status_item {
    margin-right: 20px;
  }

  .status_item:last-child {
    margin-top: 10px;
  }
}

@media screen and (max-width: 399px) {
  header {
    margin-bottom: 0;
    padding: 8px 0;
  }

  .status_views,
  .status_comments {
    display: none;
  }

  .content_mark {
    display: none;
  }

  .content_img {
    width: calc(100% + 30px);
    margin-left: -15px;
  }

  .main_title {
    margin-bottom: 20px;

    font-size: 18px;
  }

  .content_note {
    font-size: 14px;
  }

  .result_img {
    display: block;
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
  }

  .result_img:first-child {
    margin: 0 auto 20px;
  }

  .comment_ava {
    width: 40px;
  }

  .comment_wrap {
    padding-left: 52px;
  }

  .comments .btn {
    margin: 45px auto;
  }

  .footer {
    padding: 20px 10px;
  }
}
