@media(min-width:1200px) {
    .desktop-nav {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transition: all .3s ease;
        z-index: 1;
        background: transparent;
        padding: 18px 0
    }

    .desktop-nav.out {
        transform: translateY(-100%)
    }

    .mobile-nav {
        display: none
    }

    .block-1 {
        background-image: url("../img/3.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover
    }

    .block-1 .nav>a {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000;
        margin-left: 53px
    }

    .block-2 {
        padding: 100px 0 0
    }

    .block-2 .r-side {
        position: sticky;
        top: 100px;
        padding: 0 10px
    }

    .r-img2 {
        animation: pulse 3s infinite;
        margin-top: -50px
    }

    .link-img {
        position: fixed;
        right: 0;
        bottom: 0
    }

    .block-2 .title {
        font-size: 28px;
        line-height: 31px;
        margin-bottom: 30px
    }

    .block-2 .text {
        margin-bottom: 30px
    }

    .block-2 .sub-title {
        font-size: 30px;
        line-height: 26px;
        margin-bottom: 30px
    }

    .block-2 .list-item {
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 32px
    }

    .block-2 .text-bold {
        margin-bottom: 30px
    }

    .block-3 {
        padding-bottom: 60px
    }

    .block-3 .title-review {
        margin-top: 70px
    }

    .block-3 .item {
        margin-bottom: 35px;
        padding: 0 0 30px;
        border-bottom: 1px solid #959595
    }

    .block-3 .name {
        text-align: left;
        margin-top: 0
    }

    .block-3 .description {
        text-align: left
    }

    #form {
        padding-top: 65px
    }

    #form .title-form {
        font-size: 100px;
        line-height: 117px
    }

    #form .sub-title-form {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 65px
    }

    #form .r-img2 {
        animation: pulse 3s infinite;
        margin-top: -50px
    }

    .price {
        font-size: 43px;
        line-height: 50px
    }

    .price-old {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 80px
    }

    #form .img-pill1 {
        top: 385px !important;
        left: 550px !important
    }

    #form .img-pill2 {
        top: 140px !important;
        left: 570px !important
    }

    #form .img-pill3 {
        top: 310px !important;
        left: 600px !important
    }

    .form {
        margin: 0 auto;
        width: 400px
    }

    .form .input-field {
        font-size: 25px;
        line-height: 29px
    }

    .form .input-field::placeholder {
        font-size: 25px;
        line-height: 29px
    }

    .form .input-img {
        top: 12px
    }

    .padding-right30 {
        padding-right: 30px
    }

    .padding-right40 {
        padding-right: 40px
    }

    .padding-right50 {
        padding-right: 50px
    }

    .padding-right60 {
        padding-right: 60px
    }

    .padding-right70 {
        padding-right: 70px
    }

    .padding-right80 {
        padding-right: 80px
    }

    .padding-right90 {
        padding-right: 90px
    }

    .padding-right100 {
        padding-right: 100px
    }

    .padding-right110 {
        padding-right: 110px
    }

    .padding-right120 {
        padding-right: 120px
    }

    .padding-right260 {
        padding-right: 260px
    }
}

@media(min-width:1320px) {
    .container {
        max-width: 1320px
    }

    .prev-arr {
        position: absolute;
        top: 125px;
        left: 15px;
        background-color: transparent;
        outline: 0;
        border: 0;
        background-image: url("../img/21.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 2
    }

    .next-arr {
        position: absolute;
        top: 125px;
        right: 15px;
        background-color: transparent;
        outline: 0;
        border: 0;
        background-image: url("../img/22.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 2
    }
}