html {
  font-family: sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857;
  color: #444;
  background-color: #c5c5c5;
}

article,
header {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: 700;
}

img {
  border: 0;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

h2,
h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h2 {
  margin-top: 17px;
  font-size: 25px;
}

h2,
h3,
ol,
ul {
  margin-bottom: 8px;
}

h3 {
  font-size: 21px;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  margin-top: 4px;
}

p {
  margin: 0 0 8px;
}

.breadcrumb>.active,
.text-muted {
  color: #777;
}

ol,
ul {
  margin-top: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

.container::after,
.container::before {
  content: " ";
  display: table;
}

.container::after {
  clear: both;
}

.container__tittle-atention {
  color: #d23434;
}

@media (min-width:768px) {
  .container {
    width: 90%
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1000px) {
  .container {
    width: 950px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid::after,
.container-fluid::before {
  content: " ";
  display: table;
}

.container-fluid::after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row::after,
.row::before {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

.col-md-3 {
  min-height: 1px;
}

.col-md-3,
.col-md-9,
.col-sm-5,
.col-sm-7 {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-9,
.col-sm-7 {
  min-height: 1px;
}

.col-md-9,
article {
  font-size: 16px;
}

.col-sm-5 {
  min-height: 160px;
}

@media (min-width:768px) {

  .col-sm-5,
  .col-sm-7 {
    float: left;
  }

  .col-sm-5 {
    width: 41.6667%
  }

  .col-sm-7 {
    width: 58.3333%
  }
}

@media (min-width:992px) {

  .col-md-3,
  .col-md-9 {
    float: left;
  }

  .col-md-3 {
    width: 25%
  }

  .col-md-9 {
    width: 75%
  }
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 17px;
  list-style: outside none none;
  background-color: #c5c5c5;
  border-radius: 4px;
}

.breadcrumb>li {
  display: inline-block;
}

.breadcrumb>li+li::before {
  content: "/ ";
  padding: 0 5px;
  color: #949494;
}

.clearfix::after,
.clearfix::before {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.pull-right {
  float: right !important;
}

.list-disease {
  margin-bottom: 8px;
}

@media (max-width:767px) {
  .hidden-xs {
    display: none !important;
  }
}

article {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

article p {
  text-align: justify;
}

p.timestamps {
  font-size: 12px;
  margin-bottom: 18px;
}

@media (min-width:1000px) {
  .container {
    max-width: 950px;
  }
}

@media (min-width:768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-search {
    float: right !important;
    width: 254px;
    padding: 0;
  }
}

@media (min-width:768px) and (max-width:992px) {
  .form-search {
    margin-right: 32px;
  }
}

@media (max-width:768px) {
  .form-search {
    padding-bottom: 0;
    margin-bottom: 3px;
  }
}

@media (max-width:480px) {
  #main-container {
    padding-left: 0;
    padding-right: 0;
  }

  #main-container>.row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width:992px) {
  .login {
    float: none !important;
    margin-left: -50px;
  }
}

.form-search {
  margin-top: 7px;
}

.box {
  margin: 5px 0;
  color: #fff;
  padding: 10px 20px;
}

.box-blue-light {
  background-color: #dfebec;
  color: #444;
}

.login {
  padding-right: 4px;
}

#main-container {
  z-index: 500;
}

.login,
.logo img {
  padding-top: 10px;
}

header {
  margin-bottom: 10px;
}

.header__logo {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

.header__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}

.header__item {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 0 5px;
  color: #4c545f;
}

.header__hide-block {
  display: none;
}

#main-container img {
  display: table;
  width: auto;
  margin: 15px auto;
  max-width: 100%
}

.header__link {
  text-decoration: none;
  color: #4c545f;
  -webkit-transition: ease .5s;
  -o-transition: ease .5s;
  transition: ease .5s;
}

.header__link:hover {
  color: #f9b03d;
}

.col-sm-5 img {
  max-width: 100%
}

.composition {
  position: relative;
  margin-top: 15px;
}

.composition__product {
  position: static;
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.composition__list,
.coposition__conteiner-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.coposition__conteiner-ul {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.composition__list {
  list-style: none;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 100%
}

.composition__list.composition__list-first {
  width: 50%;
  text-align: left;
}

.composition__list.composition__list-second {
  width: 50%;
  text-align: left;
}

.composition__list-first {
  margin-right: 20px;
}

.composition__list-first .item:not(:last-child),
.composition__list-second .item:not(:last-child) {
  margin-bottom: 15px;
}

.composition__list-first .item,
.composition__list-second .item {
  padding-left: 70px;
}

.composition__list .item {
  min-height: 60px;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.composition__list .item::after {
  position: absolute;
  content: "";
  width: 60px;
  min-height: 60px;
  border: 2px solid #144ca0;
  border-radius: 50%;
  background-color: #fff;
  background-position-x: 3px !important;
}

.composition__list-first .item::after,
.composition__list-second .item::after {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.composition__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.composition__item-text {
  line-height: 1.2;
}

.composition__item-text .item__header {
  color: #144ca0;
  margin: 0 0 5px;
  font-size: 14px;
  text-transform: uppercase;
}

.composition__item-text .item__content {
  font-size: 14px;
}

.composition__list .item-first::after {
  background: url(../images/1.png) no-repeat center center;
  background-size: 90%
}

.composition__list .item-second::after {
  background: url(../images/2.png) no-repeat center center;
  background-size: 90%
}

.composition__list .item-third::after {
  background: url(../images/3.png) no-repeat center center;
  background-size: 90%
}

.composition__list .item-4::after {
  background: url(../images/4.png) no-repeat center center;
  background-size: 90%
}

.composition__list .item-5::after {
  background: url(../images/5.png) no-repeat center center;
  background-size: 90%
}

.composition__list .item-6::after {
  background: url(../images/6.png) no-repeat center center;
  background-size: 90%
}

@media screen and (max-width:767px) {
  ul {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .composition__product {
    margin-bottom: 20px;
  }

  .coposition__conteiner-ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .composition__list .item {
    min-height: auto;
  }

  .composition__list-first {
    margin-bottom: -7px;
    margin-right: 0;
  }

  .composition__list-first .item,
  .composition__list-second .item {
    margin-bottom: 25px;
  }

  .composition__item-text .item__content {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }

  .comp-title {
    margin-top: 0;
  }
}

.product-title2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

@media (max-width:991px) {
  .form-search {
    margin-right: 0;
  }

  .col-sm-5 {
    min-height: 110px;
  }

  .col-sm-5 img {
    display: block;
    max-width: 660px;
    margin: 0 auto;
  }

  .header__list {
    max-width: 100%;
    margin: 0 auto 10px;
  }
}

@media (max-width:767px) {
  .form-search {
    float: none !important;
  }

  .header__preview {
    display: none;
  }

  .header__hide-block {
    display: block;
  }

  .header__item:nth-child(8) {
    display: none;
  }
}

@media (max-width:669px) {
  .header__item:nth-child(7) {
    display: none;
  }
}

@media (max-width:563px) {
  .header__item:nth-child(6) {
    display: none;
  }
}

@media (max-width:504px) {
  .header__item:nth-child(5) {
    display: none;
  }
}

@media (max-width:359px) {
  .header__item:nth-child(4) {
    display: none;
  }
}

.names-list {
  line-height: 20px;
  margin-bottom: 18px;
}

.steps {
  font-size: 19px;
}

.poroduct-promo {
  max-width: 350px !important;
}

@media (max-width:479px) {
  article p {
    text-align: left !important;
  }

  .btn__cont1 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .btn__cont {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .product-title2 {
    font-size: 28px;
    line-height: 28px;
  }

  .steps {
    font-size: 18px !important;
  }

  .poroduct-promo {
    max-width: 290px !important;
  }
}

.product-places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.product-places img {
  display: inline-block !important;
  max-width: 260px;
  text-align: center;
  margin: 0 !important;
}

.mycity {
  color: #fff;
  font-size: 11px;
  background: #70b3d2 0 0;
  padding: 2px 4px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 2px;
  margin-left: 4px;
}

.btn__cont,
.btn__cont1 {
  margin-top: 25px;
  margin-bottom: 15px;
}

a.rollover,
a.rollover:hover {
  background-size: contain;
  display: block;
  width: 392px;
  height: 85px;
  margin: auto;
}

a.rollover {
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  background: url(../images/777.png) no-repeat;
  position: relative;
}

.rollover__text-block {
  position: absolute;
  left: 85px;
  top: 13px;
  font-size: 15px;
  font-weight: 700;
  color: #000;
}

.rollover__product-text-red {
  color: #d23434;
  letter-spacing: 1px;
}

a.rollover:hover {
  background: url(../images/888.png) no-repeat;
}

a:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

:active,
:focus,
:hover,
:visited,
a,
a:active,
a:focus,
a:hover,
a:visited {
  outline: 0 !important;
}

::-moz-focus-inner {
  border: 0;
  outline: 0;
}

@media (max-width:991px) {
  .col-md-3 {
    display: none;
  }

  #main-container .product-places img {
    width: 200px;
    height: 143px;
  }
}

@media (max-width:767px) {
  article p {
    text-align: left;
  }
}

@media (max-width:480px) {
  .timestamps {
    padding: 0 15px;
  }

  .breadcrumb {
    margin: 0 15px 12px;
    padding: 8px;
  }

  h2.container__tittle {
    padding: 0 15px;
    font-size: 24px;
  }
}

@media (max-width:479px) {
  .timestamps {
    padding: 0 15px;
  }

  a.rollover,
  a.rollover:hover {
    max-width: 280px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: relative;
    left: 1px;
  }

  .rollover__text-block {
    font-size: 12.3px;
    left: 80px;
    top: 22px;
  }

  .breadcrumb {
    margin: 0 15px 12px;
    padding: 8px;
  }

  li.active {
    display: none;
  }
}

.extra-hidden {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

.dis-ib {
  display: inline-block;
}

.dis-ib--color-green {
  font-weight: 700;
  color: #9ebe03;
}

.super,
.super:hover {
  color: #000;
}

.doctors_img {
  margin-top: -10px;
  margin-bottom: -10px;
}

.social-img {
  margin: 0;
}

.comments {
  line-height: 1.2;
}

.comments div {
  margin: 15px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

.effect-title {
  text-indent: 25px;
  margin-bottom: 15px;
}

.effect-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.effect-item {
  position: relative;
  padding: 0 0 0 40px;
  margin: 0 0 10px;
}

.effect-item::before {
  position: absolute;
  left: 10px;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../fonts/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.col-sm-5 {
  width: 100%
}

.modal,
.modal-flex {
  width: 100%;
  height: 100%
}

.modal {
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 390;
  cursor: pointer;
}

.modal-flex {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: auto;
}

.modal-block,
.modal-content,
.modal-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-block {
  z-index: 5;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Open sans', sans-serif;
  overflow: hidden;
  color: #222;
  cursor: default;
  width: 750px;
  border: 0;
}

.modal-content {
  width: 100%;
  background: #3c72b5;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #3c72b5), color-stop(100%, #7b9fcc));
  background: -o-linear-gradient(-45deg, #3c72b5 0%, #7b9fcc 100%);
  background: -o-linear-gradient(315deg, #3c72b5 0%, #7b9fcc 100%);
  background: linear-gradient(135deg, #3c72b5 0%, #7b9fcc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c72b5', endColorstr='#7b9fcc', GradientType=1);
  position: relative;
  border: 5px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 40px;
  cursor: pointer;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
}

.modal-content-text {
  font-size: 30px;
  font-weight: 700;
  display: block;
  color: #fff;
  text-align: center;
  margin: 0 0 20px;
}

.modal-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.modal-main-text_p:last-child {
  padding-bottom: 0;
}

.modal-main-img {
  max-width: 230px;
  padding-right: 30px;
}

.modal-main-text_p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  margin: 0;
  text-align: left;
  color: #fff;
  font-size: 22px;
}

.modal-btn,
.small_p {
  text-align: center;
  color: #fff;
}

.modal-btn {
  display: block;
  max-width: 400px;
  margin-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 700;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 15px 20px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  font-size: 18px;
}

.modal-btn:hover {
  background: #fff;
  color: #b0493b;
}

.small_p {
  line-height: 1;
  margin: 0;
  font-size: 18px;
}

.highlight-text {
  display: inline-block;
  background: #fdfdfd;
  color: #5b5f65;
  text-shadow: 0 0 0 #000;
  font-weight: 600;
  line-height: 34px;
  border-radius: 3px;
  padding: 3px;
}

#main-container img.comment__photo {
  margin: 10px auto 5px;
  display: none;
}

@media (max-width:767px) {
  .modal-main-block {
    display: none;
  }

  .modal-content {
    width: 85%
  }

  .modal-main-text_p {
    text-align: center;
  }

  .modal-content-text {
    padding: 0 30px;
  }

  .composition__list.composition__list-first,
  .composition__list.composition__list-second {
    width: 100%
  }
}

@media (max-width:479px) {
  .modal-main {
    padding: 10px 0;
  }

  .modal-content {
    padding: 10px;
  }

  .modal-content-text {
    font-size: 24px;
  }

  .modal-btn {
    font-size: 14px;
    padding: 15px;
    width: 80%;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
  }

  body {
    line-height: 1.2;
  }
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
  .modal-main {
    max-width: 100%
  }
}

.image__wrapper {
  position: relative;
  max-width: 683px;
  margin: 0 auto;
}

.image__text {
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 5px;
  bottom: 0;
  font-size: 16px;
}

.content-center,
.content-center img {
  text-align: center;
  margin: 0 auto
}

.content-center .inL_41416 {
  height: auto;
  width: 100%;
  max-width: 250px;
  margin: 0;
  margin-top: 10px;
  margin-right: 40px
}

.form-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-top: 30px
}


.price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 15px
}

.price p {
  width: 47%;
  text-align: center !important;
  margin-bottom: 0
}

.new-price,
.old-price {
  font-weight: 700;
  display: block
}

.price .x_price_current,
.price .x_price_previous {
  font-size: 28px
}

.price .x_price_previous {
  display: inline-block;
  position: relative
}

.old-price .x_price_previous {
  text-decoration: line-through
}


@media (max-width:640px) {

  .form-wrapper {
    flex-direction: column
  }

  .content-center .inL_41416 {
    margin-bottom: 30px;
    margin-right: 0;
    margin-top: 0
  }
}

@media (max-width:479px) {
  .image__text {
    padding: 5px 5px;
    bottom: 10px;
    font-size: 14px;
  }
}

@media (min-width:992px) {

  .col-md-9 p,
  .col-md-9 ul {
    text-align: justify;
  }
}

@media (max-width:360px) {
  body {
    background-color: #fff;
  }
}

.center {
  text-align: center !important;
}