body {
  font-family: Roboto, sans-serif;
  line-height: 1.5
}

img {
  max-width: 100%
}

a {
  color: blue;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.template_index {
  width: 100%;
  min-height: 100vh;
  background-color: #b8b8b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.template_index .container {
  max-width: 958px;
  width: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0
}

.template_index .container .container__header {
  width: 100%
}

.template_index .container .container__header img {
  margin: 0
}

.template_index .container .container__wrapper {
  width: 100%;
  padding: 0
}

.template_index .container .container__wrapper.full .container__wrapper--left {
  max-width: 1000px;
  width: 80%;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: auto
}

.template_index .container .container__wrapper .container__wrapper--left {
  width: 70%
}

.template_index .container .container__wrapper .container__offer {
  padding: 20px 0
}

.template_index .container .container__wrapper .container__wrapper--left .container__offer {
  max-width: 100%;
  width: 100%;
  padding: 20px 0 0
}

.template_index .container .container__wrapper .container__form {
  max-width: 550px;
  margin: 0 auto;
  padding: 0 0 20px
}

.template_index .container .container__wrapper .container__wrapper--sidebar {
  width: 240px
}

.template_index .container .container__wrapper .container__wrapper--sidebar.desktop {
  display: block
}

.template_index .container .container__footer {
  width: 100%;
  padding: 20px 0
}

@media only screen and (max-width:768px) {
  .template_index .container .container__wrapper {
    margin: 50px 0 0;
    padding: 0
  }

  .template_index .container .container__wrapper.full .container__wrapper--left {
    width: 100%
  }

  .template_index .container .container__wrapper .container__wrapper--left {
    width: 100%
  }

  .template_index .container .container__wrapper .container__wrapper--left .container__wrapper--main {
    width: 100%
  }

  .template_index .container .container__wrapper .container__wrapper--left .container__offer {
    max-width: 100%;
    width: 100%;
    padding: 0
  }

  .template_index .container .container__wrapper .container__wrapper--left .container__offer {
    max-width: 100%;
    width: 100%;
    padding: 0
  }

  .template_index .container .container__wrapper .container__wrapper--left .container__form {
    width: 100%;
    padding: 0
  }

  .template_index .container .container__wrapper .container__wrapper--sidebar {
    width: 100%
  }

  .template_index .container .container__wrapper .container__wrapper--sidebar.desktop {
    display: none
  }
}

.product_visualization {
  max-height: 300px !important;
  height: auto !important;
  width: auto !important;
  margin: 10px 0 5px !important
}

.product_visualization.x1 {
  max-width: 100% !important
}

@media only screen and (max-width:768px) {
  .product_visualization {
    max-height: 350px !important
  }
}

.x-beautiful1-beautiful {
  max-width: 100%;
  width: 100%;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  color: #282828;
  padding: 20px 0
}

.x-beautiful1-beautiful .box_header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px 20px
}

.x-beautiful1-beautiful .box_header .box {
  max-width: 1000px;
  width: 100%;
  padding: 0
}

.x-beautiful1-beautiful .box_header .box .title {
  width: 100%;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  margin: 20px 0 0
}

.x-beautiful1-beautiful .box_header .box .subtitle {
  width: 100%;
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  margin: 20px 0 0
}

.x-beautiful1-beautiful .box_header .box .text {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin: 20px 0 0
}

@media only screen and (max-width:1000px) {
  .x-beautiful1-beautiful {
    padding: 0
  }

  .x-beautiful1-beautiful .box_header {
    width: auto;
    margin: 0 20px 20px
  }
}

@media only screen and (max-width:768px) {
  .x-beautiful1-beautiful .box_header .box .title {
    font-size: 32px
  }

  .x-beautiful1-beautiful .box_header .box .subtitle {
    font-size: 22px
  }

  .x-beautiful1-beautiful.img-text {
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
}

.x-p-medical-sp {
  width: auto;
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin: 20px
}

.x-p-medical-sp.left {
  text-align: left
}

.x-p-medical-sp.right {
  text-align: right
}

.x-p-medical-sp.center {
  text-align: center
}

@media only screen and (max-width:768px) {
  .x-p-medical-sp {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin: 20px 0;
    padding: 0 15px
  }
}

.x-image-medical-sp {
  margin: 10px 20px;
  direction: ltr !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.x-image-medical-sp.position-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.x-image-medical-sp .image-img {
  max-width: 100%;
  width: auto;
  margin: 0
}

.x-image-medical-sp .image-img.max-width {
  width: 100%;
  max-width: none
}

.x-image-medical-sp div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ddd;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.x-image-medical-sp div.text-container p {
  width: 100%;
  max-width: 100% !important;
  display: block;
  font-size: 16px;
  padding: 10px
}

.x-image-medical-sp.right div {
  text-align: right
}

.x-image-medical-sp.right div.text-container {
  text-align: right
}

@media only screen and (max-width:768px) {
  .x-image-medical-sp {
    margin: 0 15px
  }

  .x-image-medical-sp div.text-container p {
    background-color: #1e851e;
    padding: 15px;
    color: #fff;
    text-align: inherit;
    font-weight: 700
  }
}

.x-profesor_box-medical-sp {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin: 20px
}

.x-profesor_box-medical-sp.right {
  text-align: right
}

.x-profesor_box-medical-sp .img {
  max-width: 230px;
  width: 100%;
  float: right
}

.x-profesor_box-medical-sp .img.right {
  margin-left: 20px
}

.x-profesor_box-medical-sp .img.left {
  margin-right: 20px
}

.x-profesor_box-medical-sp .text {
  margin: 0
}

@media only screen and (max-width:768px) {
  .x-profesor_box-medical-sp {
    color: #0c0c0c;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 15px
  }

  .x-profesor_box-medical-sp .img {
    width: 100px;
    float: left;
    margin: 0 10px 10px 0
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

* ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

* ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.x-testimonial_slider_new-medical-sp {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  position: relative
}

@media only screen and (min-width:769px) {
  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-card {
    width: 100%
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-card .card {
    background-color: #fff;
    padding: 10px;
    margin: 20px;
    border: 3px solid #5faf5c
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-card .card .card-head .card-img {
    width: 100%
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-card .card .card-body .card-title {
    font-size: 20px;
    font-weight: 700;
    word-break: break-word
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-card .card .card-body .card-title p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-card .card .card-body .card-title>* p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-card .card .card-body .card-text p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-card .card .card-body .card-text>* p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-card .card .card-body .card-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-card .card .card-body .card-stars.stars-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-card .card .card-body .card-stars img {
    max-width: 15px;
    width: 100%;
    margin: 0 1px
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-card .card .card-body .card-author p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-card .card .card-body .card-author>* p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-card .btn {
    display: none
  }
}

@media only screen and (max-width:768px) {
  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-card {
    width: 100%
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-card .card {
    background-color: #fff;
    padding: 10px;
    margin: 20px;
    border: 3px solid #5faf5c
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-card .card .card-head .card-img {
    width: 100%
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-card .card .card-body .card-title {
    font-size: 20px;
    font-weight: 700;
    word-break: break-word
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-card .card .card-body .card-title p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-card .card .card-body .card-title>* p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-card .card .card-body .card-text p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-card .card .card-body .card-text>* p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-card .card .card-body .card-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-card .card .card-body .card-stars.stars-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-card .card .card-body .card-stars img {
    max-width: 15px;
    width: 100%;
    margin: 0 1px
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-card .card .card-body .card-author p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-card .card .card-body .card-author>* p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-card .btn {
    display: none
  }
}

@media only screen and (min-width:769px) {
  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card {
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 9px -2px rgba(0, 0, 0, .75);
    box-shadow: 0 0 9px -2px rgba(0, 0, 0, .75);
    -webkit-animation: fade 1s;
    animation: fade 1s
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card .card-head {
    background-color: #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card .card-head .card-img {
    width: 100%;
    max-width: 250px
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card .card-body .card-title {
    font-size: 20px;
    font-weight: 700;
    word-break: break-word;
    text-align: left
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card .card-body .card-title p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card .card-body .card-title>* p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card .card-body .card-text {
    text-align: left
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card .card-body .card-text p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card .card-body .card-text>* p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card .card-body .card-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 10px
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card .card-body .card-stars.stars-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card .card-body .card-stars img {
    max-width: 15px;
    width: 100%;
    margin: 0 1px
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card .card-body .card-author {
    text-align: left
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card .card-body .card-author p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .card .card-body .card-author>* p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .btn {
    position: absolute;
    bottom: 50%;
    padding: 20px 10px;
    font-size: 20px;
    background: #ffad32;
    cursor: pointer
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .btn.btn-prev {
    left: 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.d-slider .btn.btn-next {
    right: 0
  }
}

@media only screen and (max-width:768px) {
  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card {
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 9px -2px rgba(0, 0, 0, .75);
    box-shadow: 0 0 9px -2px rgba(0, 0, 0, .75);
    -webkit-animation: fade 1s;
    animation: fade 1s
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card .card-head {
    background-color: #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card .card-head .card-img {
    width: 100%;
    max-width: 250px
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card .card-body .card-title {
    font-size: 20px;
    font-weight: 700;
    word-break: break-word;
    text-align: left
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card .card-body .card-title p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card .card-body .card-title>* p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card .card-body .card-text {
    text-align: left
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card .card-body .card-text p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card .card-body .card-text>* p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card .card-body .card-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 10px
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card .card-body .card-stars.stars-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card .card-body .card-stars img {
    max-width: 15px;
    width: 100%;
    margin: 0 1px
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card .card-body .card-author {
    text-align: left
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card .card-body .card-author p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .card .card-body .card-author>* p {
    margin: 10px 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .btn {
    position: absolute;
    bottom: 50%;
    padding: 20px 10px;
    font-size: 20px;
    background: #ffad32;
    cursor: pointer
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .btn.btn-prev {
    left: 0
  }

  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-slider .btn.btn-next {
    right: 0
  }
}

.x-h3-medical-sp {
  color: #000;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  margin: 20px 0;
  padding: 5px 20px
}

.x-h3-medical-sp.left {
  text-align: left
}

.x-h3-medical-sp.right {
  text-align: right
}

.x-h3-medical-sp.center {
  text-align: center
}

@media only screen and (max-width:768px) {
  .x-h3-medical-sp {
    margin: 20px 0;
    padding: 5px 15px
  }
}

.x-list_magneticinsoles_sp-magneticinsoles-sp {
  margin: 0 20px
}

.x-list_magneticinsoles_sp-magneticinsoles-sp .list {
  display: flex
}

.x-list_magneticinsoles_sp-magneticinsoles-sp .list .img {
  color: #ff5400;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: .49px;
  margin-right: 10px
}

.x-list_magneticinsoles_sp-magneticinsoles-sp .list .li_item {
  line-height: 28px
}

.x-list_magneticinsoles_sp-magneticinsoles-sp .list .li_item p {
  font-size: 18px
}

.x-sticky_bar_5-on-medical-sp .b5 {
  background-color: #ad0000;
  z-index: 15;
  display: none
}

.x-sticky_bar_5-on-medical-sp .fly-box {
  width: 100%;
  min-height: 40px
}

.x-sticky_bar_5-on-medical-sp .fly-box .box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px
}

.x-sticky_bar_5-on-medical-sp .fly-box p {
  font-size: 15px;
  font-weight: 700;
  line-height: 13px;
  text-align: left;
  margin: 0;
  color: #fff
}

@media only screen and (min-width:769px) {
  .x-sticky_bar_5-on-medical-sp {
    display: none
  }
}

.x-list_new-RobotoLobster {
  color: #000;
  margin: 20px 0
}

.x-list_new-RobotoLobster .box-list {
  display: flex;
  margin: 0 0 20px;
}

.x-list_new-RobotoLobster .box-list .content  {
  padding-right: 15px;
}

.x-list_new-RobotoLobster .box-list .mark {
  margin: 0 10px 0 0
}

.x-list_new-RobotoLobster .box-list .mark p {
  padding: 5px 10px;
  background-color: #000;
  color: #fff
}

.x-list_new-RobotoLobster .box-list .content .title {
  margin: 0 0 15px;
  font-size: 150%
}

.x-list_new-RobotoLobster .box-list .content .text p {
  margin: 0 0 15px
}

.x-list_new-RobotoLobster .box-list .content .text * p {
  margin: 0 0 15px
}

.x-guarantee_2-medical-sp {
  margin: 0 20px
}

.x-before_after-medical-sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 20px
}

.x-before_after-medical-sp .before_after-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.x-before_after-medical-sp .before_after-row:last-child  {
  justify-content: space-around;
}

.x-before_after-medical-sp .before_after-row .before_after-img {
  width: 50%;
  margin-bottom: 15px;
  height: auto
}

.x-before_after-medical-sp .before_after-row .before_after-img img {
  display: block;
  margin: 0 auto
}

.x-before_after-medical-sp .before_after-row .before_after-title {
  width: 50%;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  text-align: center
}

.x-before_after-medical-sp .before_after-row .before_after-title-before {
  color: #c60000
}

.x-before_after-medical-sp .before_after-row .before_after-title-after {
  color: #5faf5c
}

.x-before_after-medical-sp .before_after-row .before_after-text {
  width: 50%;
  max-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center
}

.x-chart-medical {
  width: 100%;
  margin: 25px auto;
  padding: 0 20px
}

@media only screen and (max-width:600px) {
  .x-chart-medical {
    padding: 0 10px
  }
}

.x-chart-medical .chart_box {
  display: flex;
  align-items: flex-start;
  justify-content: center
}

.x-chart-medical .chart_box .chart_column {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}

.x-chart-medical .chart_box .chart_column:first-child .chart_column-body {
  border-left: 2px solid #000
}

.x-chart-medical .chart_box .chart_column .chart_column-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 10px 0;
  border-bottom: 2px solid #000
}

@media only screen and (max-width:600px) {
  .x-chart-medical .chart_box .chart_column .chart_column-body {
    padding: 10px 5px 0
  }
}

.x-chart-medical .chart_box .chart_column .chart_column-body .chart_column-textIn {
  font-size: 12px
}

@media only screen and (max-width:600px) {
  .x-chart-medical .chart_box .chart_column .chart_column-body .chart_column-textIn {
    font-size: 10px
  }
}

.x-chart-medical .chart_box .chart_column .chart_column-body .chart_column-pillar {
  width: 50%;
  max-width: 90px;
  margin: 20px auto 0
}

.x-chart-medical .chart_box .chart_column .chart_column-textUnder {
  padding: 10px
}

@media only screen and (max-width:600px) {
  .x-chart-medical .chart_box .chart_column .chart_column-textUnder {
    font-size: 12px;
    padding: 5px
  }
}

.x-img_list-medical-sp {
  width: auto;
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin: 20px;
  padding: 10px;
  list-style-type: none
}

.x-img_list-medical-sp img {
  max-width: none
}

.x-img_list-medical-sp .first-line {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px
}

.x-img_list-medical-sp .first-line p {
  margin: 10px 0 0 15px
}

.x-img_list-medical-sp .sec-line {
  padding-left: 20px;
  color: #3d3d3d;
  font-size: 16px
}

.x-img_list-medical-sp .sec-line p {
  border-left: 3px solid #dcdcdc;
  padding-left: 20px;
  margin: 15px 0 15px 20px
}

.x-img_list-medical-sp.right {
  text-align: right
}

.x-img_list-medical-sp.right .first-line p {
  margin: 10px 15px 0 0
}

.x-img_list-medical-sp.right .sec-line p {
  padding-left: unset;
  padding-right: 20px;
  border-left: unset;
  border-right: 3px solid #dcdcdc
}

@media only screen and (max-width:769px) {
  .x-img_list-medical-sp {
    flex-direction: column;
    align-items: center
  }
}

.x-offer-medical-sp {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.x-offer_mobile-medical-sp {
  display: none
}

.x-offer-medical-sp .offer-text1 {
  margin: 0 20px
}

.x-offer-medical-sp .offer-text2 {
  margin: 20px 0 0;
  font-weight: 400
}

.x-offer-medical-sp .offer-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px
}

.x-offer-medical-sp .offer-prices .offer-price1 {
  text-decoration: line-through;
  color: red;
  font-size: 1.1em
}

.x-offer-medical-sp .offer-prices .offer-price2 {
  color: green;
  margin: 0 0 0 10px;
  font-size: 1.5em
}

.x-offer-medical-sp .offer-img_counter {
  margin-bottom: 15px;
  direction: ltr !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center
}

.x-offer-medical-sp .productsCount {
  direction: ltr !important;
  background: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), color-stop(37%, #e5e5e5), color-stop(59%, #e5e5e5), color-stop(98%, #666));
  background: -webkit-linear-gradient(top, #666 0, #e5e5e5 37%, #e5e5e5 59%, #666 98%);
  background: -o-linear-gradient(top, #666 0, #e5e5e5 37%, #e5e5e5 59%, #666 98%);
  background: linear-gradient(to bottom, #666 0, #e5e5e5 37%, #e5e5e5 59%, #666 98%);
  background-size: 100% 115%;
  background-position: 0
}

.x-offer-medical-sp .productsCount {
  font-size: 45px;
  color: #3d3d3d;
  padding: 0 5px;
  border: 1px solid #000;
  border-radius: 5px
}

.x-offer-medical-sp .productCounter {
  text-align: center;
  float: right;
  margin: 20px
}

.x-offer-medical-sp .productCounter .productCounter-text {
  font-size: 14px;
  font-weight: 700;
  word-wrap: break-word;
  max-width: 388px;
  padding-top: 20px
}

.x-offer-medical-sp .imagesSlider {
  float: left;
  text-align: center;
  padding: 10px
}

.x-offer-medical-sp .imagesSlider img {
  max-width: 100px
}

.x-offer-medical-sp .offer-prodbox {
  position: relative;
  margin: 20px 0 0
}

.x-offer-medical-sp .offer-prodbox img {
  max-height: 400px
}

.x-offer-medical-sp .offer-prodbox .offer-g {
  position: absolute
}

@media only screen and (max-width:768px) {
  .x-offer-medical-sp {
    margin: 20px 15px;
  }

  .x-offer-medical-sp .offer-img_counter {
    padding: 15px 0
  }

  .x-offer-medical-sp .offer-prodbox {
    width: 50%
  }

  .x-offer-medical-sp .productsCount {
    font-size: 20px
  }

  .x-offer-medical-sp .productCounter {
    margin-top: 0
  }
}

.x-sticky_bar_6-on-medical-sp .b6 {
  background-color: #ce4f00;
  z-index: 16;
  display: none;
  color: #fff
}

.x-sticky_bar_6-on-medical-sp .b7 {
  min-height: 80px;
  background-color: #07c;
  z-index: 17;
  display: none
}

.x-sticky_bar_6-on-medical-sp .b7 .text {
  color: #fff
}

.x-sticky_bar_6-on-medical-sp .b7 .cta_fly {
  font-size: 15px;
  font-weight: 700;
  line-height: 13px;
  text-align: left;
  margin: 0 0 0 40px;
  color: #fff;
  cursor: pointer
}

.x-sticky_bar_6-on-medical-sp .fly-box {
  width: 100%
}

.x-sticky_bar_6-on-medical-sp .fly-box .box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px
}

@media only screen and (min-width:769px) {
  .x-sticky_bar_6-on-medical-sp {
    display: none
  }
}

.x-offer_mobile-medical-sp .article,
.x-offer_mobile-medical-sp .offer_mobile-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.x-offer_mobile-medical-sp .offer_mobile-counter {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  padding: 20px 15px;
  margin: 15px 15px 30px;
  border: 1px solid #dddee3
}

.x-offer_mobile-medical-sp .offer_mobile-counter .offer_mobile-counterText {
  margin: 0 5px 0 0;
  padding: 0;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px
}

.x-offer_mobile-medical-sp .offer_mobile-counter .offer_mobile-number {
  background-color: #d4d5da;
  display: block;
  width: 35px;
  padding: 0 5px;
  height: 44px;
  margin: 1px;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 44px;
  text-align: center
}

.x-offer_mobile-medical-sp .offer_mobile-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0 15px
}

.x-offer_mobile-medical-sp .text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  padding: 20px 15px
}

.x-offer_mobile-medical-sp .article {
  background-color: #146388;
  margin-top: 60px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.x-offer_mobile-medical-sp .offer_mobile-price {
  width: 125px;
  height: 125px;
  background-color: #f02049;
  border: 5px solid #fff;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: -40px 0 0 20px
}

.x-offer_mobile-medical-sp .offer_mobile-price .offer_mobile-price1 {
  width: 115px;
  height: 57.5px;
  background-color: #000;
  color: #e6e6e6;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: line-through;
  min-height: 30px;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  padding: 10px;
  border-bottom: 20px solid #f02049
}

.x-offer_mobile-medical-sp .offer_mobile-price .offer_mobile-price1 p,
.x-offer_mobile-medical-sp .offer_mobile-price .offer_mobile-price2 p {
  margin-bottom: 0
}

.x-offer_mobile-medical-sp .offer_mobile-price .offer_mobile-price2 {
  color: #e6e6e6;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: -5px;
  line-height: 30px
}

.x-offer_mobile-medical-sp.right .offer_mobile-title {
  text-align: right
}

@media only screen and (max-width:768px) {
  .x-offer_mobile-medical-sp .article {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative
  }

  .x-offer_mobile-medical-sp .article .offer_mobile-price {
    position: absolute;
    left: 55%;
    top: 0;
    margin: -40px 0 0 -5px
  }

  .x-offer_mobile-medical-sp .article .offer_mobile-price1 {
    font-size: 16px
  }

  .x-offer_mobile-medical-sp .article .offer_mobile-price2 {
    font-size: 24px
  }
}

.x-footer_text-medical-sp {
  width: 100%;
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin: 0 auto;
  padding: 20px 20px 0;
  text-align: center
}

.x-footer_text-medical-sp p {
  padding: 0 0 20px
}

.x-footer_text-medical-sp p a {
  color: #aaa;
  text-decoration: none
}

@media only screen and (max-width:768px) {
  .x-footer_text-medical-sp {
    color: #dddee3;
    text-align: left;
    background-color: #051923
  }
}

@keyframes fade {
  0% {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.main-carousel-wrapper {
  position: fixed;
  bottom: 200px;
  right: 10px;
  width: 260px;
  max-width: 300px;
  display: none
}

.main-carousel-wrapper.visible {
  display: block
}

.main-carousel-wrapper .carousel-inner {
  width: 100%;
  position: relative
}

.main-carousel-wrapper .carousel-inner .carousel-items .carousel-item {
  border: 1px solid #44a5ff;
  border-radius: 3px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.main-carousel-wrapper .carousel-inner .carousel-items .carousel-item .carousel-item-top {
  background-color: #e9f0fa;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 138px
}

.main-carousel-wrapper .carousel-inner .carousel-items .carousel-item .carousel-item-top .carousel-item-content {
  color: #4869b1;
  font-size: 14px;
  line-height: 1.4em
}

.main-carousel-wrapper .carousel-inner .carousel-items .carousel-item .carousel-item-bottom {
  background-color: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  font-size: 16px;
  height: 62px
}

.main-carousel-wrapper .carousel-inner .carousel-items .carousel-item .carousel-item-bottom .carousel-item-author {
  color: #4869b1
}

.main-carousel-wrapper .carousel-inner .carousel-items .carousel-item .carousel-item-bottom .carousel-item-city {
  color: #6a6a6a
}

.main-carousel-wrapper .carousel-inner .carousel-items .carousel-item .carousel-item-bottom p {
  line-height: 1.1;
}

.main-carousel-wrapper .carousel-inner .carousel-btns {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1px
}

.main-carousel-wrapper .carousel-inner .carousel-btns img {
  cursor: pointer;
  width: 20px;
  height: 60px
}

.carousel-btns picture {
  position: absolute;
  left: 1px;
  bottom: 0
}

.carousel-btns picture:nth-child(2) {
  left: auto;
  right: 1px
}

@media only screen and (max-width:1600px) {
  .main-carousel-wrapper {
    max-width: 200px;
    width: 200px
  }

  .main-carousel-wrapper .carousel-inner .carousel-items .carousel-item .carousel-item-top {
    padding: 10px 20px
  }

  .main-carousel-wrapper .carousel-inner .carousel-items .carousel-item .carousel-item-top .carousel-item-content {
    font-size: 12px
  }

  .main-carousel-wrapper .carousel-inner .carousel-items .carousel-item .carousel-item-bottom {
    font-size: 12px;
    padding: 10px 20px
  }

  .main-carousel-wrapper .carousel-inner .carousel-btns img {
    cursor: pointer;
    width: 15px;
    height: 40px
  }
}

@media only screen and (max-width:1355px) {
  .main-carousel-wrapper.visible {
    display: none
  }
}

@media only screen and (max-width:1158px) {
  .main-carousel-wrapper.visible {
    display: none
  }
}

.main-carousel-wrapper .carousel-inner .carousel-items .carousel-item .carousel-item-top .carousel-item-content {
  font-size: 12px
}

.main-carousel-wrapper {
  max-width: 300px;
  width: 300px
}

.carousel-item .carousel-item-top .imagesSlider img {
  width: 100%;
  border-radius: 3px
}

.carousel-item .carousel-item-top .imagesSlider {
  float: left;
  text-align: center;
  padding: 10px;
  max-width: 94px
}

.carousel-item .carousel-item-top .carousel-item-content {
  width: 100%
}

.fa-check-circle:before {
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
  background: url(../images/red-checked.png);
  background-size: contain
}

.core_form {
  width: 100%;
}

.core_form .box {
  width: 100%;
  background-color: #dddee3;
  margin: 0;
  padding: 20px
}

.core_form .box .headline {
  position: static;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin: 0 auto !important;
  background: 0 0 !important;
  max-width: 100% !important
}

.core_form .box .headline {
  position: static;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #0083b2;
  margin: 0 auto 15px !important;
  background: 0 0 !important;
  max-width: 100% !important
}

.core_form .box .text {
  display: block;
  margin: 20px;
  text-align: left;
  line-height: 25px;
  color: #3d3d3d
}

.core_form .box form .row {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin: 0 0 15px
}

.core_form .box form .row label {
  width: auto;
  position: absolute;
  top: 0;
  left: 10px;
  color: #656565;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  -webkit-transition: .1s;
  transition: .1s;
  padding: 0
}

.core_form .box form .row input {
  max-width: 100%;
  width: 100%;
  height: 46px;
  background-color: #fff;
  border: 1px solid #afb0b4;
  border-radius: 3px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  padding: 0 0 0 10px
}

.core_form .box form .row .error p {
  color: red;
  font-size: 14px;
  display: none
}

.core_form .box form .row .error p:nth-child(1) {
  display: block
}

.core_form .box form .row.not_focus label {
  font-size: 14px;
  top: 12px;
  /* display: none */
}

.core_form .box form .row.row_save button {
  width: 100%;
  background-color: #07c;
  border-radius: 2px;
  text-decoration: none;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: #fff;
  padding: 12px 10px;
  cursor: pointer
}

.core_form .box form .row.row_save button span {
  display: block;
  font-size: 16px
}

@media only screen and (max-width:768px) {
  .core_form .box .headline {
    color: #000;
    margin: 10px 0 !important
  }

  .core_form .box .text {
    display: none
  }
}

.FooterDisclaimer {
  max-width: 1000px;
  width: 100%;
  padding: 20px 20px 0;
  margin: 0 auto
}

.FooterDisclaimer p {
  color: #aaa;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4em;
  padding: 0 0 20px
}

.FooterDisclaimer p a {
  color: #aaa;
  text-decoration: none
}

.copyright {
  width: 100%;
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  margin: 0 auto;
  padding: 20px
}

:active,
:focus,
:hover,
:visited,
a,
a:active,
a:focus,
a:hover,
a:visited {
  outline: 0 !important
}

::-moz-focus-inner,
::-moz-focus-outer {
  border: 0;
  padding: 0
}

input:invalid,
textarea:invalid {
  outline: 0;
  box-shadow: none
}

input[type=number] {
  -moz-appearance: textfield
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none
}

.prod-link {
  font-weight: 700
}

#target-form {
  display: block
}

input::-ms-clear {
  display: none
}

.inL_806699 {
  visibility: visible;
}

.inL_898574 {
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.inL_910504 {
  display: none;
}

.inL_48249 {
  display: none;
}

.inL_35209 {
  display: none;
}

.inL_248714 {
  background: #054694;
  color: #FFFFFF;
  min-height: 0px;
}

.inL_289777 {
  text-align: center;
}

.inL_288313 {
  text-align: center;
}

.inL_111471 {
  background: 0
}

.inL_423587 {
  display: none;
}

.inL_20934 {
  text-align: left;
}

.inL_602611 {
  clear: both;
}

.inL_80691 {
  text-align: left;
}

.inL_52687 {
  border-color: #054694;
  background-color: #F3FFFD;
}

.inL_388353 {
  text-align: center;
}

.inL_227354 {
  text-align: center;
}

.inL_965979 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_490970 {
  text-align: left;
}

.inL_451950 {
  text-align: left;
}

.inL_607932 {
  text-align: center;
  background-color: #FEECEE
}

.inL_613536 {
  text-align: center;
}

.inL_216153 {
  color: red;
}

.inL_808833 {
  color: red;
}

.inL_518378 {
  text-align: left;
}

.inL_10826 {
  text-align: center;
  background-color: #FEECEE
}

.inL_414395 {
  text-align: center;
}

.inL_977901 {
  color: red;
}

.inL_961080 {
  color: red;
}

.inL_662899 {
  text-align: left;
}

.inL_455146 {
  text-align: center;
  background-color: #FEECEE
}

.inL_334911 {
  text-align: center;
}

.inL_798108 {
  color: red;
}

.inL_205074 {
  color: red;
}

.inL_176554 {
  text-align: left;
}

.inL_777464 {
  text-align: center;
  background-color: #FEECEE
}

.inL_977312 {
  text-align: center;
}

.inL_948526 {
  color: red;
}

.inL_628677 {
  color: red;
}

.inL_125465 {
  text-align: left;
}

.inL_335057 {
  text-align: left;
  background-color: #FEECEE
}

.inL_528924 {
  text-align: center;
}

.inL_681395 {
  color: red;
}

.inL_743824 {
  color: red;
}

.inL_642189 {
  text-align: left;
}

.inL_784546 {
  text-align: center;
  background-color: #FEECEE
}

.inL_223715 {
  text-align: center;
}

.inL_697813 {
  color: red;
}

.inL_445805 {
  color: red;
}

.inL_597217 {
  text-align: left;
}

.inL_589689 {
  text-align: left;
}

.inL_177226 {
  border-color: #054694;
  background-color: #F3FFFD;
}

.inL_17318 {
  text-align: center;
}

.inL_703390 {
  text-align: center;
}

.inL_180993 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_814566 {
  text-align: left;
}

.inL_865583 {
  text-align: left;
}

.inL_551301 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_168267 {
  text-align: left;
}

.inL_648450 {
  text-align: left;
}

.inL_230017 {
  border-color: #054694;
  background-color: #F3FFFD;
}

.inL_776620 {
  text-align: center;
}

.inL_427257 {
  text-align: center;
}

.inL_740334 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_467202 {
  text-align: center;
}

.inL_479933 {
  text-align: left;
}

.inL_987165 {
  text-align: center;
}

.inL_601474 {
  text-align: left;
}

.inL_929817 {
  text-align: center;
}

.inL_262256 {
  text-align: left;
}

.inL_744330 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_317287 {
  text-align: left;
}

.inL_397184 {
  text-align: center;
  background-color: #FEECEE;
  padding: 15px
}

.inL_529701 {
  text-align: center;
}

.inL_859184 {
  text-align: left;
}

.inL_935801 {
  border-color: #054694;
  background-color: #F3FFFD;
}

.inL_29988 {
  text-align: center;
}

.inL_796622 {
  text-align: center;
}

.inL_604156 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_867891 {
  text-align: left;
}

.inL_552346 {
  text-align: left;
}

.inL_624939 {
  text-align: left;
}

.inL_853096 {
  text-align: left;
}

.inL_815432 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_907325 {
  text-align: left;
}

.inL_525264 {
  text-align: left;
}

.inL_410728 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_403833 {
  text-align: left;
}

.inL_747032 {
  max-width: 600px
}

.inL_122217 {
  max-width: 600px;
}

.inL_399612 {
  background-color: #fff6dd
}

.inL_693888 {
  background-color: #D8BE3E !important;

  font-size: 40px;
}

.inL_561470 {
  background-color: #fff6dd
}

.inL_628551 {
  background-color: #ffcf86
}

.inL_229961 {
  background-color: #EE7816 !important;

  font-size: 40px;
}

.inL_867704 {
  background-color: #FDACB2
}

.inL_157166 {
  background-color: #D50414 !important;

  font-size: 40px;
}

.inL_907159 {
  text-align: left;
}

.inL_972948 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_413264 {
  text-align: left;
}

.inL_392315 {
  border-color: #054694;
  background-color: #F3FFFD;
}

.inL_726787 {
  text-align: center;
}

.inL_897748 {
  text-align: center;
}

.inL_730553 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_124937 {
  text-align: left;
}

.inL_532064 {
  background-color: #F3FFFD
}

.inL_1851 {
  background-color: #04E0C3 !important;

  font-size: 40px;
}

.inL_525650 {
  background-color: #F3FFFD
}

.inL_607969 {
  background-color: #04E0C3 !important;

  font-size: 40px;
}

.inL_64213 {
  background-color: #F3FFFD
}

.inL_844759 {
  background-color: #04E0C3 !important;

  font-size: 40px;
}

.inL_181837 {
  text-align: center;
}

.inL_770233 {
  color: red;
}

.inL_864914 {
  text-align: center;
}

.inL_14173 {
  color: green;
}

.inL_964622 {
  text-align: center;
}

.inL_461662 {
  text-align: center;
}

.inL_794300 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_244125 {
  max-width: 600px
}

.inL_992225 {
  max-width: 600px;
}

.inL_743623 {
  text-align: left;
}

.inL_842408 {
  text-align: left;
}

.inL_791726 {
  text-align: center;
  background-color: #D8E8FD;
  padding: 15px
}

.inL_484425 {
  text-align: center;
}

.inL_323120 {
  border-color: #054694;
  background-color: #F3FFFD;
}

.inL_527762 {
  text-align: center;
}

.inL_145652 {
  text-align: center;
}

.inL_147431 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_429011 {
  text-align: left;
}

.inL_384901 {
  text-align: left;
}

.inL_830472 {
  text-align: left;
}

.inL_636348 {
  text-align: center;
  background-color: #D8E8FD;
  padding: 15px
}

.inL_268985 {
  text-align: center;
}

.inL_61539 {
  max-width: 600px
}

.inL_325461 {
  max-width: 600px;
}

.inL_264751 {
  text-align: left;
}

.inL_233559 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_993078 {
  text-align: left;
}

.inL_888975 {
  text-align: left;
}

.inL_628658 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_51240 {
  text-align: left;
}

.inL_247699 {
  text-align: left;
}

.inL_551534 {
  text-align: left;
}

.inL_715522 {
  text-align: left;
}

.inL_875377 {
  text-align: left;
}

.inL_807452 {
  text-align: left;
}

.inL_151353 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_643681 {
  text-align: left;
}

.inL_631965 {
  text-align: left;
  background-color: #FEECEE;
  padding: 10px
}

.inL_979121 {
  text-align: center;
}

.inL_481318 {
  color: #000000;
}

.inL_805882 {
  background: #FFFFFF;
}

.inL_874988 {
  height: 200px;
  background: #D80D0D;
}

.inL_912493 {
  color: #000000;
}

.inL_187836 {
  background: #FFFFFF;
}

.inL_771933 {
  height: 200px;
  background: #D80D0D;
}

.inL_108950 {
  color: #000000;
}

.inL_206880 {
  background: #FFFFFF;
}

.inL_750005 {
  height: 200px;
  background: #D80D0D;
}

.inL_757571 {
  color: #000000;
}

.inL_34069 {
  background: #FFFFFF;
}

.inL_488042 {
  height: 200px;
  background: #D80D0D;
}

.inL_721846 {
  color: #000000;
}

.inL_307738 {
  background: #FFFFFF;
}

.inL_822265 {
  height: 200px;
  background: #D80D0D;
}

.inL_960488 {
  color: #000000;
}

.inL_962093 {
  background: #FFFFFF;
}

.inL_132736 {
  height: 200px;
  background: #D80D0D;
}

.inL_993586 {
  text-align: left;
}

.inL_329856 {
  text-align: left;
  background-color: #F2E8FF;
  padding: 10px
}

.inL_220901 {
  text-align: center;
}

.inL_855714 {
  color: #000000;
}

.inL_784537 {
  background: #FFFFFF;
}

.inL_873249 {
  height: 200px;
  background: #7A0DB8;
}

.inL_593168 {
  text-align: center;
}

.inL_7287 {
  color: #000000;
}

.inL_71221 {
  background: #FFFFFF;
}

.inL_402798 {
  height: 200px;
  background: #7A0DB8;
}

.inL_910397 {
  text-align: center;
}

.inL_344259 {
  color: #000000;
}

.inL_397546 {
  background: #FFFFFF;
}

.inL_984520 {
  height: 200px;
  background: #7A0DB8;
}

.inL_476957 {
  text-align: center;
}

.inL_311117 {
  text-align: left;
}

.inL_216917 {
  text-align: left;
  background-color: #E8ECFF;
  padding: 10px
}

.inL_280080 {
  text-align: center;
}

.inL_29450 {
  color: #000000;
}

.inL_139432 {
  background: #FFFFFF;
}

.inL_163892 {
  text-align: center;
}

.inL_807738 {
  height: 200px;
  background: #E29BE7;
}

.inL_995650 {
  text-align: center;
}

.inL_817941 {
  color: #000000;
}

.inL_266416 {
  background: #FFFFFF;
}

.inL_45300 {
  text-align: center;
}

.inL_981974 {
  height: 200px;
  background: #7CAEF5;
}

.inL_676777 {
  text-align: center;
}

.inL_121816 {
  text-align: left;
}

.inL_751929 {
  border-color: #054694;
  background-color: #F3FFFD;
}

.inL_832550 {
  text-align: center;
}

.inL_85503 {
  text-align: center;
}

.inL_242100 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_251421 {
  text-align: left;
}

.inL_473002 {
  text-align: left;
}

.inL_137770 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_734448 {
  text-align: left;
}

.inL_284088 {
  text-align: left;
}

.inL_528955 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_721121 {
  text-align: left;
}

.inL_257105 {
  text-align: left;
}

.inL_749536 {
  color: red;
}

.inL_916018 {
  text-align: left;
}

.inL_159311 {
  text-align: center
}

.inL_883182 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_51581 {
  text-align: left;
}

.inL_73325 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_109107 {
  text-align: left;
}

.inL_173605 {
  text-align: left;
}

.inL_752679 {
  background-color: #FEECEE
}

.inL_40484 {
  background-color: #D50414 !important;

  font-size: 40px;
}

.inL_977951 {
  background-color: #F3FFFD
}

.inL_903331 {
  background-color: #04E0C3 !important;

  font-size: 40px;
}

.inL_604671 {
  color: #000000;
  background-color: #054694;
  color: #FFFFFF
}

.inL_163586 {
  text-align: left;
}

.inL_373576 {
  text-align: left;
}

.inL_288347 {
  text-align: right;
}

.inL_539675 {
  text-align: left;
}

.inL_679944 {
  text-align: right;
}

.inL_784994 {
  color: red;
}

.inL_36583 {
  display: flex;
  max-width: 300px;
}

.inL_248793 {
  width: 80px;
  height: auto;
  top: -5px;
  right: -5px;
  display: block
}

.inL_322651 {
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin-bottom: 30px;
  width: 130px
}

.inL_87457 {
  display: none;
}

.inL_333591 {
  display: none;
}

.inL_959876 {
  display: none;
}

.inL_970249 {
  display: flex;
}

.inL_500226 {
  display: none;
}

.inL_478225 {
  display: none;
}

.inL_211681 {
  display: none;
}

.inL_877280 {
  display: none;
}

.inL_36784 {
  display: none;
}

.inL_580551 {
  display: none;
}

.inL_406561 {
  display: none;
}

.inL_625172 {
  display: none;
}

.inL_83076 {
  display: none;
}

.inL_785646 {
  display: none;
}

.inL_736091 {
  display: none;
}

.inL_951545 {
  display: none;
}

.inL_300494 {
  display: none;
}

.inL_946882 {
  display: none;
}

.inL_967840 {
  display: none;
}

.inL_732749 {
  display: none;
}

@media only screen and (max-width:768px) {
  .template_index .container .container__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .x-p-medical-sp,
  .x-chart-medical {
    padding-left: 0;
    padding-right: 0;
  }

  .x-image-medical-sp,
  .x-profesor_box-medical-sp,
  .x-testimonial_slider_new-medical-sp .testimonial_slider_box.m-card .card,
  .x-img_list-medical-sp,
  .x-offer-medical-sp {
    margin-left: 0;
    margin-right: 0;
  }

  .x-img_list-medical-sp {
    padding-left: 0;
    padding-right: 0;
  }

  .x-h3-medical-sp {
    line-height: 1.3;
  }
}

@media (max-width:479px) {


  .x-img_list-medical-sp li {
    margin-bottom: 15px;
  }

  .x-img_list-medical-sp li:last-child {
    margin-bottom: 0;
  }


  .x-img_list-medical-sp .first-line {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .x-img_list-medical-sp .first-line p {
    margin: 0;
    text-align: center;
  }
}