#terra-wrapper {
  font-family: "Roboto", Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 15px 5px;
  color: #000;
}

#terra-wrapper .order-wrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#terra-wrapper .prod-wrapper {
  max-width: 300px;
  width: 100%;
  margin: 0 auto 15px;
  position: relative;
  text-align: center;
}

#terra-wrapper .prod-wrapper img {
  display: inline-block;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
}

#terra-wrapper .al-cost-promo {
  text-decoration: line-through;
}

#terra-wrapper .al-cost {
  font-size: 24px;
  color: red;
  border-bottom: 2px solid #d31812;
  margin: 0 auto;
  padding: 0;
}

#terra-wrapper .al-form {
  display: inline-block;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#terra-wrapper .al-form .label {
  background: transparent;
  color: #000;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  width: auto;
  height: auto;
  border-radius: 0;
  cursor: text;
  border: none;
  margin: 0;
  padding: 0;

}

#terra-wrapper .al-form .label:hover {
  color: inherit;
  background: inherit;
}

#terra-wrapper .al-form .input-wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto 20px;
}

#terra-wrapper .al-form input {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 100% !important;
  height: 45px;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 0;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
}

#terra-wrapper .al-form input::-webkit-input-placeholder {
  color: grey;
}

#terra-wrapper .al-form input:-ms-input-placeholder {
  color: grey;
}

#terra-wrapper .al-form input::-ms-input-placeholder {
  color: grey;
}

#terra-wrapper .al-form .input-wrapper label {
  display: none;
  pointer-events: none;
  z-index: 1;
}

#terra-wrapper .order-wrapper .terra-btn,
.terra-btn {
  display: inline-block;
  margin: 10px auto 30px;
  padding: 15px;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none !important;
  color: #fff !important;
  background: #de0606 !important;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

#terra-wrapper .order-wrapper .terra-btn:hover,
.terra-btn:hover {
  opacity: 0.8;
}

#terra-wrapper .med {
  background-image: url(../images/formbg.jpg);
  background-image: url(../images/formbg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 30px 20px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#terra-wrapper .med img {
  max-width: 100px;
  width: 100%;
}

#terra-wrapper .med h2 {
  color: #333;
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  padding: 0;
  margin: 5px 0 0 0;
}

#terra-wrapper .med span {
  display: inline-block;
  color: blue;
  font-size: 14px;
  line-height: 1.2;
  margin: 3px auto;
  background: transparent;
}

#terra-wrapper .med p {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

#terra-wrapper .med p a {
  color: blue;
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#terra-wrapper .med p .al-cost-promo {
  color: inherit;
  text-decoration: none;
  border: none;
  text-decoration: line-through;
}

#terra-wrapper .med p .al-cost {
  color: red;
  text-decoration: none;
  border: none;
}

#terra-wrapper .med .frame {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700;
  margin: 7px 10px 15px;
  padding: 10px;
  border: 2px solid #0299ff;
}

#terra-wrapper .med .al-form {
  max-width: 300px;
}

#terra-wrapper .med .al-form .label {
  font-size: 16px;
  font-weight: 700;
}

#terra-wrapper .med .al-form input {
  border: 2px solid #e9d7dc;
  border-radius: 3px;
}

#terra-wrapper .med .terra-btn {
  background: #0299ff !important;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  margin: 10px 0 20px;
  -webkit-box-shadow: 0 4px 15px 0 rgb(129 150 160 / 45%);
  box-shadow: 0 4px 15px 0 rgb(129 150 160 / 45%);
}

#terra-wrapper .med .additional {
  max-width: 440px;
  font-size: 14px;
  margin: 0 auto;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
a,
img,
ul,
li,
form,
label,
footer,
header {
  margin: 0;
  padding: 0;
  border: 0 none;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size-adjust: inherit;
  font-stretch: inherit;
  font-feature-settings: inherit;
  font-language-override: inherit;
  font-kerning: inherit;
  font-synthesis: inherit;
  font-variant: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

a img {
  border: medium none;
}

footer,
header {
  display: block;
}

.breadcrumbs {
  padding-left: 24px;
  padding-right: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.fix-footer {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

.fix-footer-center {
  position: fixed;
  left: -50%;
  transform: translate(50%, 0%);
  width: 100%;
  bottom: 0;
  padding: 10px 0;
  background: #ffffff99;
}

.fix-footer-center a {
  width: 90%;
  font-size: 22px;
  height: 100%;
  vertical-align: middle;
  line-height: 25px;
  margin: 0 auto;
}

.content::after {
  content: ' ';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.page-wrap {
  padding: 0 64px;
  max-width: 1280px;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
  cursor: auto;
}

.main-content {
  z-index: 11;
  position: relative;
}

.main-content::after {
  content: ' ';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.content {
  min-height: 700px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0 auto;
  background: #fff none repeat scroll 0% 0%;
}

.content__inner {
  float: left;
}

.content__inner_wide {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.footer1,
.content {
  clear: both;
}

.header {
  width: 100%;
  z-index: 12;
  position: relative;
}

.header__inner {
  height: 64px;
  background: #0095da;
  position: relative;
  z-index: 7;
}

.header__logo {
  /* width: 169px; */
  height: 100%;
  position: relative;
  float: left;
}

.header__logo a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0095da  no-repeat scroll center center / 80% auto;
  text-indent: -9000px;
}

.nav {
  height: 64px;
  max-width: 920px;
  overflow: hidden;
  position: relative;
}

.nav__inner {
  width: 9000px;
  display: contents;
}

.nav li {
  display: block;
  float: left;
  height: 64px;
  margin-right: 1px;
  position: relative;
}

.nav li a {
  display: block;
  height: 100%;
  font: 16px/64px 'Open Sans', sans-serif;
  color: #fff;
  padding: 0 24px;
  text-decoration: none;
  transition: background 0.3s ease 0s;
}

.nav li a:hover {
  background: #00a5f2 none repeat scroll 0% 0%;
}

.nav li {
  perspective: 1000px;
}

.nav li a {
  position: relative;
  transition: transform 0.3s ease 0s;
  transform-origin: 50% 0 0;
  transform-style: preserve-3d;
}


.nav_mobile {
  display: none;
}

.header__menu-link {
  display: none;
}

.header__air {
  float: right;
  padding: 10px 15px 0;
  height: 54px;
}

.header__air-logo {
  display: block;
  width: 75px;
  background: transparent;
}

.header__air-title {
  display: block;
  font: 11px/11px Tahoma, sans-serif;
  color: #85cced;
  padding-top: 5px;
  text-decoration: none;
}

.search {
  padding: 18px 24px 0;
  float: right;
  background: transparent  no-repeat scroll 24px -193px;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

.search .search__form {
  display: none;
}

.search__form {
  display: block;
  position: absolute;
  width: 30px;
  top: 18px;
  right: 20px;
  background: #0069a0 none repeat scroll 0% 0%;
  border-radius: 18px;
  overflow: hidden;
  height: 30px;
}

.search__form input {
  float: left;
  height: 30px;
}

.search__form .search__text {
  border: medium none;
  outline: medium none;
  background: transparent none repeat scroll 0% 0%;
  width: 0;
  color: #fff;
  padding: 0 3px;
  font: 12px/17px 'Open Sans', sans-serif;
  display: block;
}

.search__form .search__submit {
  display: block;
  background: transparent url(../img/xicons-4ff.arb.png.pagespeed.ic.E94FSuY1Eb.png) no-repeat scroll 0 -211px;
  width: 24px;
  border: medium none;
  cursor: pointer;
  float: right;
}

.footer1 {
  background: #1a1a1a none repeat scroll 0% 0%;
  overflow: hidden;
  position: relative;
  z-index: 7;
}

.footer1-wrapper_top {
  border-top: 9px solid #2483c5;
}

.footer1__inner {
  padding: 0 64px;
  max-width: 1280px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_footer li {
  float: left;
  height: 64px;
  list-style: none;
}

.nav_footer li a {
  display: block;
  height: 100%;
  font: 16px/64px 'Open Sans', sans-serif;
  color: #fff;
  padding: 0 24px;
  text-decoration: none;
}

.breadcrumbs {
  height: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  font: 14px/22px 'Open Sans';
  border-bottom: 1px dashed #d6c7a0;
}

.breadcrumbs h2 a {
  color: #255d89;
  display: block;
  float: left;
  padding-right: 16px;
  border-left: 1px solid #ccc;
  padding-left: 16px;
}

.breadcrumbs h2 a:first-child {
  border-left: medium none;
  padding-left: 0;
}

.article {
  width: 100%;
  padding: 24px 20px 24px 70px;

  box-sizing: border-box;
}

.article__title {
  font: 22px 'Open Sans', sans-serif;
  line-height: 28px;
  font-weight: 800;
  margin-bottom: 15px;
  text-transform: uppercase;
}

h4 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 30px;
}

.article__text {
  font: 16px 'Open Sans', sans-serif;
  color: #000;
  padding-left: 0;
  line-height: 23px;
}

.article__text img {
  max-width: 100%;
}

.article__text p {
  padding: 10px 0;
  /* text-align: left; */
}

.article__text a {
  text-decoration: underline;
  color: #0075db;
  font-weight: 600;
}

.article__text a:hover {
  text-decoration: none;
  color: red;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

.comment-block {
  background: #fff none repeat scroll 0% 0%;
}

.comment-user {
  border-bottom: 1px solid #f1f2f6;
  margin-bottom: 10px;
}

.comment-user:last-child {
  border-bottom: medium none;
}

@media screen and (max-width: 1259px) {

  .article {
    padding: 10px;
    width: 100%;
  }

  .footer1__inner {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 671px) {
  .page-wrap {
    padding: 0 4px;
    max-width: 1280px;
    min-width: 196px;
  }
}

@media screen and (max-width: 467px) {
  .breadcrumbs h2 a {
    font-size: 12px;
  }

  .nav_footer {
    display: none;
  }

  .footer1 {
    padding: 0 0 20px;
  }

  .footer1-wrapper_top {
    padding-top: 20px;
  }
}

@media screen and (max-width: 427px) {
  .breadcrumbs h2 a {
    font-size: 11px;
  }
}

.mybutton2 {
  font-family: 'Open Sans';
  cursor: pointer;
  display: block;
  background: #01af26 none repeat scroll 0% 0%;
  padding: 6px;
  font-weight: 700;
  color: #fff !important;
  text-decoration: none !important;
  text-transform: none;
  text-align: center;
  border: 1px solid #198811;
}

.mybutton2:hover {
  background: #10b516 none repeat scroll 0% 0%;
  text-decoration: none;
  color: #fff;
}

.mybutton2:focus {
  color: #fff;
  text-decoration: none;
  border: medium none !important;
}

.mycity {
  color: #737373;
  font-size: 90%;
  font-weight: 500;
}

@media screen and (max-width: 678px) {

  .footer1__inner {
    padding: 0 28px;
  }
}

@media (max-width: 600px) {
  .nav_footer li a {
    font-size: 14px;
    padding: 0 13px;
  }
}

.comments {
  font-size: 12px;
  line-height: 150%;
  border-bottom: 1px solid #cecece;
  margin-bottom: 10px;
}

.comments::after {
  clear: both;
  content: ' ';
  display: table;
}

.comments p {
  font-size: 14px;
  color: #5b5b5b;
  padding-bottom: 10px;
}

.comments .comment-user {
  float: left;
  width: 70%;
}

.comments .user-name {
  color: #3b599d;
  font-weight: bold;
  padding: 0;
}

.comments .user-name a {
  color: inherit;
  text-decoration: none;
}

.comments>a {
  width: 50px;
  padding-right: 10px;
  float: left;
  text-decoration: none;
  color: inherit;
}

.comments .txtbottom {
  color: #757575;
}

.comments .txtbottom a {
  color: #5d76ac;
  text-decoration: none;
}

.comments .visiblefor-icon {
  vertical-align: middle;
}

a {
  cursor: pointer;
}

form .input-wrapper label {
  display: none;
}

form .input-wrapper {
  position: relative;
}

.footer {
  background: #000 !important;
  color: #fff !important;
}

.note {
  text-align: center;
  background: #000;
}

.note p {
  color: rgba(255, 255, 255, 0.5);
  padding: 14px 10px 0;
}

/* formmm */
#terra-wrapper {
  font-family: 'Roboto', Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 15px 5px;
  color: #000;
}

#terra-wrapper .order-wrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#terra-wrapper .prod-wrapper {
  max-width: 350px;
  width: 100%;
  margin: 0 auto 15px;
  position: relative;
  text-align: center;
}

#terra-wrapper .prod-wrapper img {
  display: inline-block;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
}

#terra-wrapper .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font: 700 19px/1.3 'Arial', sans-serif;
  text-align: center;
  width: 165px;
  height: 110px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: inherit;
  left: inherit;
  color: #000;
  -webkit-box-shadow: rgba(0, 0, 0, 50%) 0px 3px 16px;
  box-shadow: rgba(0, 0, 0, 50%) 0px 3px 16px;
  -webkit-transform: rotateZ(-7deg);
  transform: rotateZ(-7deg);
  margin: 0 auto;
  padding: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgb(238, 165, 19)), to(rgb(253, 237, 19)));
  background: linear-gradient(to right, rgb(238, 165, 19) 0%, rgb(253, 237, 19) 100%);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  -o-border-image: initial;
  border-image: initial;
  border-radius: 19%;
}

#terra-wrapper .discount {
  display: inline-block;
  width: 100%;
  height: auto;
  border: none;
  border-radius: 0;
  font-size: 18px;
  line-height: 1.3;
  text-transform: none;
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

#terra-wrapper .al-cost-promo {
  text-decoration: line-through;
}

#terra-wrapper .al-cost {
  font-size: 24px;
  color: red;
  border-bottom: 2px solid #d31812;
  margin: 0 auto;
  padding: 0;
}

#terra-wrapper .al-form {
  display: inline-block;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#terra-wrapper .al-form .label {
  background: transparent;
  color: #000;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  width: auto;
  height: auto;
  border-radius: 0;
  cursor: text;
  border: none;
  margin: 0;
  padding: 0;
}

#terra-wrapper .al-form .label:hover {
  color: inherit;
  background: inherit;
}

#terra-wrapper .al-form .input-wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto 20px;
}

#terra-wrapper .al-form input {
  display: block;
  font-size: 18px;
  width: 100%;
  height: 45px;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 0;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#terra-wrapper .al-form input::-webkit-input-placeholder {
  color: grey;
}

#terra-wrapper .al-form input:-ms-input-placeholder {
  color: grey;
}

#terra-wrapper .al-form input::-ms-input-placeholder {
  color: grey;
}

#terra-wrapper .al-form .input-wrapper label {
  display: none;
  pointer-events: none;
}

#terra-wrapper .order-wrapper .terra-btn,
.terra-btn {
  display: inline-block;
  margin: 10px auto 30px;
  padding: 15px;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  color: #fff !important;
  background-color: #de0606;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

#terra-wrapper .order-wrapper .terra-btn:hover,
.terra-btn:hover {
  opacity: 0.8;
}

@media (max-width: 366px) {
  .header__air {
    display: none;
  }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  #terra-wrapper .med {
    background-image: url(../images/formbg.jpg) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px 20px 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}