@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.section {
  padding-bottom: 25px;
}

.gallery {
  margin-top: 15px;
  display: flex;
}

.effects__row {
  display: flex;
}

.effects__row--left {
  width: 100%;
  max-width: 125px;
  margin-right: 25px;
  flex-shrink: 0;

}

picture {
  flex-shrink: 0;
}

.gallery .img-responsive {
  margin-left: 20px;
  margin-top: 0;
}

.img-article {
  margin-top: 10px;
}

.skin-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skin-wrap--left {
  margin-right: 20px;
}

.img-caption {
  margin-top: 10px !important;
  text-align: center !important;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

.side-prod {
  width: 200px;
}

[hidden],
template {
  display: none
}

a {
  background-color: transparent
}

a:active,
a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b {
  font-weight: 700
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

mark {
  background: #ff0;
  color: #000
}

img {
  border: 0
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled],
html input[disabled] {
  cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input {
  line-height: normal
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto
}

optgroup {
  font-weight: 700
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0
}

/*!Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css*/
@media print {

  *,
  *:before,
  *:after {
    background: 0 0 !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important
  }

  a,
  a:visited {
    text-decoration: underline
  }

  a[href]:after {
    content: " ("attr(href) ")"
  }

  abbr[title]:after {
    content: " ("attr(title) ")"
  }

  thead {
    display: table-header-group
  }

  tr,
  img {
    page-break-inside: avoid
  }

  img {
    max-width: 100% !important
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3
  }

  h2,
  h3 {
    page-break-after: avoid
  }

  .table {
    border-collapse: collapse !important
  }

  .table td,
  .table th {
    background-color: #fff !important
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent
}

body {
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  background-color: #fff
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

a {
  color: #337ab7;
  text-decoration: none
}

a:hover,
a:focus {
  color: #fe0026;
  text-decoration: underline
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

figure {
  margin: 0
}

img {
  vertical-align: middle
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee
}

[role=button] {
  cursor: pointer
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px
}

h4,
.h4 {
  margin-top: 10px;
  margin-bottom: 10px
}

h1,
.h1 {
  font-size: 36px
}

h2,
.h2 {
  font-size: 30px
}

h3,
.h3 {
  font-size: 24px
}

h4,
.h4 {
  font-size: 18px
}

p {
  margin: 0 0 10px
}

mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

.text-center {
  text-align: center
}

ul {
  margin-top: 0;
  margin-bottom: 10px
}

ul ul {
  margin-bottom: 0
}

.list-unstyled {
  padding-left: 0;
  list-style: none
}


dd {
  line-height: 1.42857
}

dd {
  margin-left: 0
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px
}

.container:before,
.container:after {
  content: " ";
  display: table
}

.container:after {
  clear: both
}

@media(min-width:768px) {
  .container {
    width: 750px
  }
}

@media(min-width:992px) {
  .container {
    width: 970px
  }
}

@media(min-width:1200px) {
  .container {
    width: 1170px
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px
}

.row:before,
.row:after {
  content: " ";
  display: table
}

.row:after {
  clear: both
}


.col-md-3,
.col-xs-4,
.col-md-4,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-md-8,
.col-md-9,
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}


.col-xs-4,
.col-xs-6 {
  float: left
}

.col-xs-4 {
  width: 33.33333%
}

.col-xs-6 {
  width: 50%
}

@media(min-width:768px) {


  .col-sm-6 {
    float: left
  }

  .col-sm-6 {
    width: 50%
  }
}

@media(min-width:992px) {


  .col-md-3,
  .col-md-4,
  .col-md-6,
  .col-md-8,
  .col-md-9,
  .col-md-12 {
    float: left
  }

  .col-md-3 {
    width: 25%
  }

  .col-md-4 {
    width: 33.33333%
  }

  .col-md-6 {
    width: 50%
  }

  .col-md-8 {
    width: 66.66667%
  }

  .col-md-9 {
    width: 75%
  }

  .col-md-12 {
    width: 100%
  }
}

table {
  background-color: transparent
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left
}

th {
  text-align: left
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px
}

.table>thead>tr>th,
.table>thead>tr>td,
.table>tbody>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>th,
.table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #ddd
}

.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd
}

.table>caption+thead>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>th,
.table>thead:first-child>tr:first-child>td {
  border-top: 0
}

.table>tbody+tbody {
  border-top: 2px solid #ddd
}

.table .table {
  background-color: #fff
}

table col[class*=col-] {
  position: static;
  float: none;
  display: table-column
}

table td[class*=col-],
table th[class*=col-] {
  position: static;
  float: none;
  display: table-cell
}

.table>thead>tr>td.active,
.table>thead>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th {
  background-color: #f5f5f5
}

.table>thead>tr>td.success,
.table>thead>tr>th.success,
.table>thead>tr.success>td,
.table>thead>tr.success>th,
.table>tbody>tr>td.success,
.table>tbody>tr>th.success,
.table>tbody>tr.success>td,
.table>tbody>tr.success>th,
.table>tfoot>tr>td.success,
.table>tfoot>tr>th.success,
.table>tfoot>tr.success>td,
.table>tfoot>tr.success>th {
  background-color: #dff0d8
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5
}

input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

input[type=radio],
input[type=checkbox] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal
}

input[type=file] {
  display: block
}

select[multiple],
select[size] {
  height: auto
}

input[type=file]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555
}

input[type=search] {
  -webkit-appearance: none
}

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px
}

.radio input[type=radio],
.checkbox input[type=checkbox] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9
}

.radio+.radio,
.checkbox+.checkbox {
  margin-top: -5px
}

input[type=radio][disabled],
input[type=radio].disabled,
fieldset[disabled] input[type=radio],
input[type=checkbox][disabled],
input[type=checkbox].disabled,
fieldset[disabled] input[type=checkbox] {
  cursor: not-allowed
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none
}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear
}

.fade.in {
  opacity: 1
}

.collapse {
  display: none
}

.collapse.in {
  display: block
}

tr.collapse.in {
  display: table-row
}

tbody.collapse.in {
  display: table-row-group
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease
}


.dropdown {
  position: relative
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  background-clip: padding-box
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857;
  color: #333;
  white-space: nowrap
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
  color: #777
}

.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: not-allowed
}

.open>.dropdown-menu {
  display: block
}

.open>a {
  outline: 0
}

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990
}

[data-toggle=buttons]>.btn input[type=radio],
[data-toggle=buttons]>.btn input[type=checkbox] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none
}

.nav:before,
.nav:after {
  content: " ";
  display: table
}

.nav:after {
  clear: both
}

.nav>li {
  position: relative;
  display: block
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #eee
}

.nav>li.disabled>a {
  color: #777
}

.nav>li.disabled>a:hover,
.nav>li.disabled>a:focus {
  color: #777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  background-color: #eee;
  border-color: #337ab7
}

.nav>li>a>img {
  max-width: none
}

.navbar-nav {
  margin: 7.5px -15px
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px
}

@media(max-width:767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none
  }

  .navbar-nav .open .dropdown-menu>li>a {
    padding: 5px 15px 5px 25px
  }

  .navbar-nav .open .dropdown-menu>li>a {
    line-height: 20px
  }

  .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-nav .open .dropdown-menu>li>a:focus {
    background-image: none
  }

  .raving {
    min-height: auto !important;
  }

  .raving:nth-child(3) {
    margin-bottom: 15px !important;
  }

  .raving .rave-name {
    margin-top: 10px !important;
  }
  .main-head--res {
    font-size: 23px;
    line-height: 1.2;
  }
}

@media(min-width:768px) {
  .navbar-nav {
    float: left;
    margin: 0
  }

  .navbar-nav>li {
    float: left
  }

  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px
  }
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px
}

.alert h4 {
  margin-top: 0;
  color: inherit
}

.alert>p,
.alert>ul {
  margin-bottom: 0
}

.alert>p+p {
  margin-top: 5px
}

.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.panel>.table {
  margin-bottom: 0
}

.panel>.table caption {
  padding-left: 15px;
  padding-right: 15px
}

.panel>.table:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px
}

.panel>.table:first-child>thead:first-child>tr:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px
}

.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,
.panel>.table:first-child>thead:first-child>tr:first-child th:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child {
  border-top-left-radius: 3px
}

.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,
.panel>.table:first-child>thead:first-child>tr:first-child th:last-child,
.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,
.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child {
  border-top-right-radius: 3px
}

.panel>.table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px
}

.panel>.table:last-child>tbody:last-child>tr:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px
}

.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,
.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child {
  border-bottom-left-radius: 3px
}

.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,
.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child {
  border-bottom-right-radius: 3px
}

.panel>.table>tbody:first-child>tr:first-child th,
.panel>.table>tbody:first-child>tr:first-child td {
  border-top: 0
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20)
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
  filter: alpha(opacity=50)
}

button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none
}

.modal-open {
  overflow: hidden
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform .3s ease-out;
  -moz-transition: -moz-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0)
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  background-clip: padding-box;
  outline: 0
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0)
}

.modal-backdrop.in {
  opacity: .5;
  filter: alpha(opacity=50)
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll
}

@media(min-width:768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
  }
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0)
}

.tooltip.in {
  opacity: .9;
  filter: alpha(opacity=90)
}

.tooltip.top {
  margin-top: -3px;
  padding: 5px 0
}

.tooltip.right {
  margin-left: 3px;
  padding: 0 5px
}

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0
}

.tooltip.left {
  margin-left: -3px;
  padding: 0 5px
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

.popover.top {
  margin-top: -10px
}

.popover.right {
  margin-left: 10px
}

.popover.bottom {
  margin-top: 10px
}

.popover.left {
  margin-left: -10px
}

.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0
}

.popover-content {
  padding: 9px 14px
}

.popover>.arrow,
.popover>.arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid
}

.popover>.arrow {
  border-width: 11px
}

.popover>.arrow:after {
  border-width: 10px;
  content: ""
}

.popover.top>.arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  bottom: -11px
}

.popover.top>.arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #fff
}

.popover.right>.arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25)
}

.popover.right>.arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff
}

.popover.bottom>.arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
  top: -11px
}

.popover.bottom>.arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #fff
}

.popover.left>.arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25)
}

.popover.left>.arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -10px
}

.carousel {
  position: relative
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: transparent
}

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #fff
}

@media screen and (min-width:768px) {

  .carousel-indicators {
    bottom: 20px
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.hide {
  display: none !important
}

.show {
  display: block !important
}

.hidden {
  display: none !important
}

.affix {
  position: fixed
}

@-ms-viewport {
  width: device-width
}

* {
  box-sizing: border-box
}

html,
body {
  min-height: 100%
}

body {
  font-family: "Open Sans", sans-serif, serif;
  background: #f9f9f9
}

.underline {
  text-decoration: underline
}

.text-red {
  color: #fe0026
}

.text-bold {
  font-weight: 700
}

.p-20 {
  margin-top: 20px !important
}

.arrow {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 22px;
  vertical-align: middle;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: .2s ease-in-out
}

.arrow i {
  transition: .1s ease-in-out
}

.arrow:hover {
  background: rgba(255, 255, 255, .2)
}

.arrow:hover i {
  transform: scale(1.2)
}

.arrow:first-child i {
  text-indent: -2px
}

.arrow:nth-child(2) i {
  text-indent: 2px
}

.arrow>i {
  display: block;
  margin-top: 5px;
  position: relative;
  text-align: center
}

.bc {
  position: relative;
  display: block;
  border: 1px solid rgba(45, 45, 45, .3);
  background: #fff;
  height: 30px;
  padding: 0;
  line-height: 30px;
  margin-top: 20px;
  padding-left: 10px
}

.top-heading {
  color: #662316;
  line-height: 1.3;
  font-size: 26px;
}

#right-col {
  padding-top: 20px
}

.good-to-know {
  position: relative;
  max-width: 359.98px;
  width: 100%;
  background: #ececec;
  border: 1px solid rgba(45, 45, 45, .7);
  margin: 0 auto;
}

.good-to-know .inner {
  padding: 0 25px;
  text-align: center;
}

.good-to-know h3 {
  margin: 0;
  padding: 10px 0;
  text-indent: -38px;
  background: #fe0026;
  color: #fff
}

.good-to-know a {
  text-decoration: underline
}

.good-to-know p:first-of-type {
  margin-top: 10px
}

.yellow-par {
  padding: 5px;
  margin: 0 auto 20px;
  background: #fff200
}

.click-here {
  text-align: center;
  display: block;
  background: #572b7f;
  margin: 20px -25px 0;
  color: #fff;
  font-size: 18px;
  text-decoration: none !important;
  text-transform: uppercase;
  padding: 10px 0;
  font-family: verdana, sans-serif, serif
}

.click-here:hover {
  text-decoration: none;
  color: #fff
}

#left-col p {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 16px;
  text-align: justify;
}

#left-col a {
  text-decoration: underline
}

.main-head {
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px
}

.quote {
  position: relative;
  display: block;
  margin-top: 30px;
  background: #fff;
  border-radius: 50px;
  padding: 10px 10px 10px 60px
}

.quote h4 {
  font-size: 19px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center
}

.quote-img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.quote-img:nth-of-type(2) {
  left: auto;
  right: 10px;
  transform: rotate(180deg)
}

.heard-of {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 23px;
  line-height: 1.3
}

.normal-p {
  margin-top: 0 !important
}

.before,
.after {
  margin: 15px 0
}

.ingredient-ul {
  margin: 20px 0 0;
  padding-left: 20px
}

.ingredient-ul li {
  margin-bottom: 10px;
  position: relative;
  font-style: italic;
  font-weight: 700;
  font-size: 18px
}

.ingredient-ul li:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: -15px;
  background: #fe0026;
  top: 8px;
  border-radius: 50%
}

.stat-note {
  text-align: center !important;
}

[src*=matrixyl],
[src*=apple] {
  border: 1px solid rgba(0, 0, 0, .07);
  margin-top: 20px
}

.raving-wrap {
  margin-top: 15px;
}

.raving {
  min-height: 395px;
  margin-bottom: 15px
}

.raving:nth-child(3),
.raving:nth-child(4) {
  min-height: auto;
  margin-bottom: 0;
}

.raving p {
  text-align: left !important;
}

.nowrap {
  white-space: nowrap;
}

.raving:before {
  content: "";
  position: absolute;
  left: -8px;
  height: 100%;
  width: 8px;
  background: url(../images/ravage-bg.png) no-repeat
}

.raving p {
  max-width: 260px;
  margin-top: 15px !important;
  font-weight: 700;
  line-height: 21px;
  font-style: italic
}

.raving a {
  text-decoration: underline
}

.raving .rave-name {
  display: block;
  position: relative;
  margin-top: 25px;
  font-style: italic;
  font-weight: 700
}

.time-effects-container {
  padding: 0 15px;
  display: block;
  position: relative
}

.time-effects {
  padding: 40px 25px 0;
  margin-top: 30px;
  background: #f7f2c6
}

.time-effects img {
  border: 1px solid #8d8b71
}

.time-effects p {
  margin-top: 0 !important
}

.time-effects .effects-day {
  display: inline-block;
  background: #f50c2a;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  padding: 0 15px;
  margin-bottom: 30px;
  border-radius: 17.5px;
  text-transform: uppercase
}

.time-effects .hr {
  display: block;
  position: relative;
  width: calc(100% - 30px);
  height: 1px;
  background: #f50c2a;
  margin: 30px 15px;
}

.time-effects .last-p {
  margin-top: 20px !important
}

.time-effects .m20t {
  margin-top: 20px !important
}

.yellow-bg {
  background: #fff200;
  padding: 10px
}

.scissor {
  overflow: hidden;
  padding: 0px 0 20px;
  margin-bottom: 15px;
}

.scissor:before {
  content: "";
  height: 1px;
  width: 100%;
  border-top: 2px dashed #000;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%)
}


[src*=scissors] {
  position: absolute;
  left: 0
}

.update {
  padding: 15px 20px;
  background: #dff0d8;
  color: #3c7d5e;
  text-align: center !important;
  border-radius: 5px
}

.update .date {
  font-style: italic;
  font-weight: 700
}

.offer {
  padding: 25px 35px 15px 45px;
  border-left: 6px solid #c71a1a;
  border-radius: 5px 0 0 5px;
  margin-top: 25px;
  background: #fff
}

.offer-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, .17);
  padding: 15px;
}

.offer-product {
  width: 180px;
  margin-right: 60px;
  display: inline-block;
  position: relative;
}

.offer-info {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
  font-size: 16px
}

.offer-info div:first-of-type {
  margin-top: 25px
}

.offer-info img {
  padding-right: 10px
}

.offer-info .order-now {
  display: inline-block;
  text-transform: uppercase;
  background: #c71a1a;
  color: #fff;
  padding: 8px 50px;
  text-decoration: none !important;
  width: auto;
  margin-top: 20px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 24px
}

.try-out {
  color: #3f4ae2;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 700
}

.tip {
  font-weight: 700;
  margin-top: 20px
}

.cta {
  position: fixed;
  z-index: 4;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 12px;
  background: #fff200;
  box-sizing: border-box;
}

.cta .cta-btn {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 8px;
  color: #fff;
  background: #fe0026;
  border-radius: 4px
}

footer {
  display: block;
  position: relative;
  padding: 10px;
  width: 100%;
  background: #323232;
  color: #fff;
  z-index: 2
}

.inL_805051 {
  text-align: center;
  color: rgb(144, 164, 174);
  padding-top: 7px;
  padding-bottom: 4px;
  font-size: 16px;
}

.inL_719676 {
  padding: 0 10px;
  font-size: 20px;
  position: relative;
  background-color: #f9f9f9;
}

.inL_39415 {
  display: inline-block;
}

@media(max-width:1199px) {
  .good-to-know {
    width: 290px;
  }

  .offer-product {
    margin-right: 10px;
  }
}

@media(max-width:768px) {
  .cta {
    padding: 5px 10px;
    line-height: 26px;
  }

  .cta .cta-btn {
    padding: 2px 8px
  }
}

@media(max-width:1024px) {
  .mature-images {
    text-align: center
  }
}

@media(max-width:991px) {
  .good-to-know {
    display: none !important;
  }

  .section {
    padding-bottom: 0;
  }

  .offer-product {
    margin-right: 50px;
  }

}

@media(max-width:768px) {

  .time {
    font-size: 11px
  }

  .mature-images {
    text-align: center
  }

  .quote {
    padding: 10px 10px 10px 35px;
    border-radius: 0 15px 0 15px
  }

  .top-heading {
    line-height: 29px;
    font-size: 23px;
    text-align: center;
  }

  .raving {
    text-align: center
  }

  .raving p {
    margin: 0 auto;
    text-align: center !important
  }

  [src*=matrixyl] {
    margin-bottom: 15px
  }

  .offer {
    padding: 10px
  }

  .time-effects .effects-day {
    margin-bottom: 15px
  }

  .offer-info {
    text-align: center;
    width: 100%;
    padding: 5px 10px
  }

  .offer-info .order-now {
    padding: 8px 10px;
    font-size: 21px;
  }

  .offer-inner {
    display: block;
  }

  .offer-product {
    width: 100%;
    display: block;
  }

  .quote-img {
    /* width: 30px; */
    /* height: 30px; */
    top: -10px;
    left: -8px;
    transform: none;
  }

  .quote-img:nth-of-type(2) {
    top: auto;
    bottom: -10px;
    right: -8px
  }

  .heard-of {
    line-height: 28px
  }
}

@media(max-width:768px) {
  .good-to-know {
    margin-bottom: 22px
  }

  .main-prod {
    width: 200px;
    padding-top: 20px;
  }

  .offer-info div:first-of-type {
    margin-top: 0;
  }

  .main-head {
    text-align: center;
  }
}

@media(max-width:700px) {
  .scissor:before {
    max-width: 10%
  }

  .scissor:after {
    max-width: 10%
  }

  [src*=scissors] {
    left: 7%
  }

  #left-col p {
    text-align: left;
  }
}

@media(max-width:600px) {
  .scissor:before {
    display: none
  }

  .scissor:after {
    display: none
  }

  [src*=scissors] {
    display: none
  }

  .gallery {
    display: block;
  }

  .gallery .img-responsive {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .gallery p {
    text-align: center !important;
  }
}

@media(max-width:479px) {
  .effects__row {
    flex-direction: column;
    align-items: center;
  }

  .effects__row .text-right {
    text-align: center;
  }

  .effects__row--left {
    margin: 0 0 15px;
  }

  .time-effects {
    padding: 25px 25px 0;
  }
}

#comebacker_main_div {
  display: none !important;
}

:active,
:focus,
:hover,
:visited,
a,
a:active,
a:focus,
a:hover,
a:visited {
  outline: 0 !important;
}