@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap')
*
  font-family: 'Mukta', sans-serif
body
  background: #2A2A2A
//Шапка
header
  position: fixed
  width: 100vw
  height: 63px
  background: #2B2B2B
  z-index: 100
.burger
  display: none
.mobile-menu
  display: none
.mobile
  display: none
.header
  max-width: 1320px
  width: 100%
  margin: auto
  display: flex
  justify-content: space-between
  align-items: center
.mobile-image
  display: none
.logo
  margin-top: 7px

.nav
  display: flex
  align-items: center

.nav-link
  display: flex
  align-items: center
  font-size: 22px
  font-weight: 400
  line-height: 26.63px
  text-decoration: none
  color: #fff

  &:after
    display: block
    content: ''
    width: 2px
    height: 24px
    background: #ACACAC
    margin: 0 75px

  &:last-child:after
    display: none
//main
main
  padding-top: 63px
.container
  max-width: 1320px
  margin: auto
.flex-container
  max-width: 1320px
  margin: auto
  display: flex
  justify-content: space-between
//Блок 1
h1
  font-weight: 800
  line-height: 41.66px
  margin: 0 0 30px 0
.block1
  position: relative
  padding: 73px 0 132px 0
  background: url("../img/bg1.png") no-repeat center/cover
  .desk
    color: #fff
    text-align: right
  .image
    position: absolute
  .desk
    width: 60%
    margin-left: auto
  li
    display: flex
    justify-content: flex-end
    font-size: 27px
    line-height: 44.87px
    font-weight: 300
    list-style-type: none
    margin: 15px 0
    &:nth-child(1):after
      content: ''
      background: url("../img/li1.png") no-repeat center/contain
      width: 58px
      height: 58px
      margin-left: 13px
    &:nth-child(2):after
      content: ''
      background: url("../img/li2.png") no-repeat center/contain
      width: 58px
      height: 58px
      margin-left: 13px
    &:nth-child(3):after
      content: ''
      background: url("../img/li3.png") no-repeat center/contain
      width: 58px
      height: 58px
      margin-left: 13px
    &:nth-child(4):after
      content: ''
      background: url("../img/li4.png") no-repeat center/contain
      width: 58px
      height: 58px
      margin-left: 13px
    &:nth-child(5):after
      content: ''
      background: url("../img/li5.png") no-repeat center/contain
      width: 58px
      height: 58px
      margin-left: 13px
  .order_form
    max-width: 470px
    margin: 39px auto auto auto
    button
      display: block
      background-image: url("../img/btn.png")
      height: 80px
      width: 290px
      border-radius: 50px
      margin: 28px auto auto auto
      color: #fff
      font-size: 30px
      font-weight: 400
      border: none
      cursor: pointer
      transition: background .5s ease
      span
        border: 2px solid #fff
        border-radius: 50px
        padding: 5px 40px
      &:hover
        transition: background .5s ease
        background-image: url("../img/activebtn.png")
  .form-title
    font-size: 30px
    font-weight: 700
    margin-bottom: 19px
    text-align: center
  .input-group
    max-width: 470px
    margin-bottom: 16px
  input
    box-sizing: border-box
    width: 100%
    height: 43px
    padding: 5px 25px
    border: 1px solid #D6D6D6
    border-radius: 16px
//
.title
  font-size: 50px
  font-weight: 500
  color: #fff
  text-align: center
  padding: 65px 0
  background: #2B2B2B
//блок 2
.block2
  padding: 46px 0 97px 0
  background: #fff url("../img/bg2.png") no-repeat center/cover
  h2
    max-width: 320px
    margin: auto auto 128px auto
    font-weight: 800
    font-size: 50px
    text-align: center
    border-bottom: 4px solid #2B2B2B
  .step
    text-align: center
    font-size: 23px
    font-weight: 300
    line-height: 38.23px
    &:nth-child(1) p
      max-width: 252px
      margin: 40px auto auto auto
    &:nth-child(2) p
      max-width: 269px
      margin: 40px auto auto auto
    &:nth-child(3) p
      max-width: 376px
      margin: 40px auto auto auto
  .flex-container
    display: grid
    justify-content: center
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 80px
//блок 3
.block3
  background: #2A2A2A
  padding: 60px 0 228px 0
  h2
    max-width: 577px
    margin: auto auto 100px auto
    font-size: 50px
    font-weight: 700
    line-height: 72.85px
    color: #fff
    text-align: center
    border-bottom: 4px solid #fff
  .flex-container
    display: grid
    justify-content: center
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 80px
    .step
      text-align: center
    p
      font-weight: 300
      font-size: 30px
      line-height: 43.71px
      text-align: center
      color: #fff
//блок 4
.block4
  position: relative
  text-align: right
  margin: 0 50px 50px 50px
  background: #fff
  padding: 50px 0
  &:before
    position: absolute
    left: 0
    bottom: 0
    content: ''
    background: url("../img/doc.png") no-repeat
    width: 766px
    height: 960px
  h2
    font-size: 50px
    font-weight: 800
    margin-bottom: 60px
  h3
    font-size: 34px
    font-weight: 700
  p
    max-width: 820px
    margin-left: auto
    font-size: 26px
    font-weight: 400
    line-height: 53.5px
    margin-top: 20px
  .sign
    display: flex
    justify-content: flex-end
    align-items: center
    margin-top: 50px
    .sign-text
      margin-left: 20px
      font-size: 26px
      font-weight: 300
//блок 5
.block5
  background: url("../img/bg3.png") no-repeat center/cover
  color: #fff
  padding: 60px 0 83px 0
  .container
    position: relative
    &:after
      position: absolute
      top: 115px
      right: 0
      content: ''
      background: url("../img/prod2.png") no-repeat
      width: 809px
      height: 797px
  h2
    font-size: 50px
    font-weight: 800
    text-align: center
    margin-bottom: 62px
  li
    font-size: 50px
    font-weight: 400
    list-style-type: none
    display: flex
    align-items: center
    margin: 49px 0
    &:before
      content: ''
      background: url("../img/li.png") no-repeat center/contain
      width: 65px
      height: 79px
      margin-right: 44px
  .info
    position: relative
    z-index: 2
    max-width: 988px
    margin: 140px auto auto auto
    color: #FBD842
    font-size: 26px
    font-weight: 400
    text-align: center
    background: rgba(0, 0, 0, 0.5)
    padding: 32px
    border-radius: 26px
    backdrop-filter: blur(5px)
//блок 6
.block6
  background: url("../img/bg5.png") no-repeat center/cover
  color: #fff
  padding: 60px 0
  h2
    font-size: 50px
    margin: 0
    font-weight: 800
    text-align: center
  .slider-title
    font-size: 40px
    font-weight: 400
    margin-top: 33px
    text-align: center
  .slider-img
    width: 531px
    height: 355px
    img
      width: 100%
      height: 100%
      border-radius: 25px
      box-shadow: 0 4px 4px 0 #00000040
  .slider-desk
    font-weight: 275
    font-size: 40px
    text-align: center
    margin-top: 23px
.btn
  width: 170px
  height: 55px
  margin: -38px auto auto auto
  padding-top: 10px
  display: block
  background: linear-gradient(#3C3C3C 52.6%, #1A1A1A 52.59%)
  color: #fff
  font-size: 50px
  font-weight: 400
  text-align: center
  border-radius: 5px
  text-decoration: none
//Блок7
.block7
  background: #E9E9E9
  padding: 60px 0 98px 0
  h2
    margin: 0
    font-weight: 700
    font-size: 50px
    text-align: center
    margin-bottom: 165px
  .review-text
    font-size: 17px
    font-weight: 275
    line-height: 24.77px
    text-align: right
  .review-title
    text-align: center
    font-weight: 275
    margin-bottom: 16px
    margin-top: 26px
    font-size: 30px
  .review-image
    position: absolute
    top: -80px
    left: -75px
    img
      border-radius: 50%
      border: 3px solid #fff
  .review
    box-sizing: border-box
    position: relative
    background: #FFFFFF
    width: 330px
    height: 420px
    padding: 20px
    border-radius: 5px
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
//блок8
.block8
  background: url("../img/bg5.png") no-repeat center/cover
  padding: 60px 0 242px 0
  h2
    color: #fff
    font-size: 60px
    font-weight: 700
    text-align: center
    margin: 0 0 282px 0
  .flex-container
    display: grid
    justify-content: center
    grid-template-columns: 1fr 1fr 1fr
    grid-column-gap: 120px
    .step
      text-align: center
      &:nth-child(1)
        position: relative
        max-width: 220px
        margin: auto
        &:after
          position: absolute
          top: -135px
          left: 140px
          content: ''
          background: url("../img/promo_dots1.png") no-repeat
          width: 420px
          height: 102px
      &:nth-child(2)
        max-width: 327px
        margin: auto
      &:nth-child(3)
        position: relative
        max-width: 228px
        margin: auto
        &:before
          position: absolute
          bottom: -110px
          left: -315px
          content: ''
          background: url("../img/promo_dots2.png") no-repeat
          width: 420px
          height: 102px
    p
      color: #fff
      font-weight: 275
      font-size: 25px
      line-height: 31.25px
      margin-top: 50px
//Блок9
.block9
  position: relative
  background: #fff url("../img/bg6.png") no-repeat center/cover
  padding-top: 105px
  padding-bottom: 70px
  .container
    max-width: 1200px
  .footer-image
    position: absolute
    bottom: -5px
    left: 0
  .order_form
    background: #F9F9F9
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5)
    max-width: 609px
    width: 100%
    height: 280px
    margin-left: auto
    padding: 13px 0 45px 0
    border-radius: 10px
    .form-title
      text-align: center
      font-size: 30px
      margin-bottom: 28px
    .input-group
      max-width: 470px
      width: 100%
      margin: auto
      input
        box-sizing: border-box
        width: 100%
        height: 32px
        font-size: 20px
        padding: 5px 24px
        border: 1px solid #D6D6D6
        border-radius: 16px
        margin-bottom: 30px
    button
      display: block
      background-image: url("../img/btn.png")
      height: 80px
      width: 290px
      border-radius: 50px
      margin: 6px auto 39px auto
      color: #fff
      font-size: 30px
      font-weight: 400
      border: none
      transition: background .5s ease
      cursor: pointer
      span
        border: 2px solid #fff
        border-radius: 50px
        padding: 5px 72px
      &:hover
        transition: background .5s ease
        background-image: url("../img/activebtn.png")
.price
  max-width: 609px
  width: 100%
  margin-left: auto
  margin-top: 80px
.old-price
  position: relative
  text-align: center
  max-width: 195px
  width: 100%
  font-size: 59px
  color: #fff
  background: #420000
  border-radius: 15px
  &:before
    position: absolute
    top: 32px
    left: -20px
    content: ''
    background: #FF0000
    width: 230px
    height: 8px
    transform: rotate(20deg)
.new-price
  max-width: 398px
  width: 100%
  background: #FF0000
  border-radius: 15px
  font-size: 122px
  font-weight: 700
  text-align: center
  color: #fff
  margin-top: 21px
footer
  text-align: center
  padding: 10px 0
  color: #ffffff
  a
    color: #fff
    text-decoration: none
//media
@media screen and (max-width: 1024px)
  .nav
    padding-right: 20px
  .logo
    padding-left: 20px
  .flex-container, .container
    padding: 0 20px
  .block1
    .image img
      max-width: 450px
      margin-top: 100px
    .desk
      width: 69%
  .block3
    .step img
      max-width: 300px
    .flex-container
      grid-gap: 30px
  .block4
    margin: 0
    &:before
      left: -286px
    p
      font-size: 20px
      max-width: 606px
  .block5 .container:after
    background: url(../img/prod2.png) no-repeat center/contain
    width: 506px
    height: 1040px
  .block7
    .review
      margin-right: 30px
      height: 460px
      &:last-child
        margin-right: 0
    .review-image
      top: -123px
      left: 69px
  .block8 .flex-container .step:nth-child(1):after
    background: url(../img/promo_dots1.png) no-repeat center/contain
    width: 305px
    height: 102px
  .block8 .flex-container .step:nth-child(3):before
    background: url(../img/promo_dots2.png) no-repeat center/contain
    width: 305px
    height: 102px
    left: -207px
  .block9 .footer-image
    left: -285px
@media screen and (max-width: 768px)
  .nav
    display: none
  .burger
    display: block
    width: 40px
    height: 40px
    padding-right: 20px
    cursor: pointer
    background: url("../img/burger.png") no-repeat center/contain
    transition: background .5s ease
    img
      width: 100%
  .open
    transition: background .5s ease
    background: url("../img/cross.png") no-repeat center/contain
  .mobile-menu
    display: none
    position: fixed
    top: 60px
    background: rgba(43, 43, 43, 0.67)
    width: 100vw
    height: 100vh
    z-index: 9999
    padding-top: 30px
    backdrop-filter: blur(10px)
    .nav-link
      text-align: center
      justify-content: center
      margin-bottom: 30px
      &:after
        display: none
  .show
    display: block!important
  .block1 .image img
    max-width: 374px
    margin-top: 169px
  .block3
    padding: 60px 0 39px 0
    .step img
      max-width: 200px
  .block4 p
    max-width: 450px
  .block4:before
    left: -399px
  .block5 li
    font-size: 40px
  .block5 .container:after
    width: 363px
    height: 367px
    top: 576px
    right: 0
  .block7
    padding: 60px 0 0 0
    .flex-container
      flex-direction: column
    .review
      max-width: 100%
      width: 100%
      margin: auto auto 100px auto
      height: 260px
    .review-image
      top: -85px
  .block8
    padding: 60px 0 128px 0
    h2
      font-size: 40px
      margin: 0 0 168px 0
  .block8 .flex-container .step:nth-child(1):after
    width: 240px
    height: 102px
    top: -125px
    left: 92px
  .block8 .flex-container .step:nth-child(3):before
    width: 240px
    height: 102px
    left: -161px
  .block9 .order_form
    max-width: 500px
  .block9 .footer-image
    left: -420px
@media screen and (max-width: 425px)
  .mobile
    display: block
  //Блок 1
  .block1
    padding: 45px 0 55px 0
    h1
      font-size: 20px
      text-align: center
    .flex-container
      flex-direction: column
    .desk
      width: 100%
    .image
      position: static
      text-align: center
      img
        max-width: 90%
        margin: auto
    .mobile-image
      display: block
    .desktop
      display: none
    ul
      margin: 0
      padding: 0
    li
      font-size: 18px
      &:after
        flex: none
    .title
      font-size: 40px
  //Блок 2
  .block2
    .flex-container
      grid-template-columns: 1fr
  //Блок 3
  .block3
    h2
      max-width: 370px
      font-size: 30px
    .flex-container
      grid-template-columns: 1fr
  //Блок 4
  .block4
    &:before
      display: none
  //Блок 5
  .block5
    li
      font-size: 30px
    .container:after
      width: 423px
      right: 0
      left: 0
      margin: auto
      top: 672px
      background: url(../img/prod_mobile2.png) no-repeat center/contain
  .block6 .slider-desk
    font-size: 30px
  //Блок7
  .block7
    .review
      margin: auto auto 155px auto
      height: 380px
      &:nth-child(2)
        height: 335px
      &:nth-child(3)
        height: 260px
        margin-bottom: 60px
    .review-image
      width: 160px
      right: 0
      left: 0
      margin: auto
      top: -130px
  //Блок8
  .block8
    padding: 60px 0 45px 0
    h2
      margin: 0 0 60px 0
      font-size: 30px
    .flex-container
      grid-template-columns: 1fr
      .step:after, .step:before
        display: none
      .step
        margin-bottom: 40px!important
        &:last-child
          margin-bottom: 0!important
  //Блок9
  .block9
    padding-top: 28px
    .order_form .input-group
      max-width: 330px
    .footer-image
      display: none
    .old-price
      margin: auto
    .img
      max-width: 90%
      margin: auto auto 30px auto
      img
        width: 100%

@media screen and (max-width: 375px)
  .block1
    h1
      font-size: 18px
  .title
    font-size: 30px
  .block3
    h2
      max-width: 288px
      line-height: 50px
      font-size: 25px
  .block5 .container:after
    width: 100%
    top: unset
    bottom: -40px
  .block7 .review
    &:nth-child(1)
      height: 440px
    &:nth-child(2)
      height: 390px
    &:nth-child(3)
      height: 290px
  .new-price
    font-size: 90px
  .block9 .order_form .input-group
    max-width: 90%
@media screen and (max-width: 320px)
  .block9 .order_form button
    width: 245px
  .block9 .order_form button span
    padding: 5px 50px
  .block7 .review
    &:nth-child(1)
      height: 470px
    &:nth-child(2)
      height: 425px
    &:nth-child(3)
      height: 320px
