article, aside, footer, header, nav, section, main, figure {display: block}

* {
	box-sizing: border-box;	
	padding: 0;
	margin: 0;
}
body {	
	background: #efefef;
	color: #565d66;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
  	font-size: 16px;
  	line-height: 1.5;
}
header {
	width: 100%;
	border-bottom: 1px solid black;
	background: #fff;
}
header div {
    background: #fff;
    max-width:1140px;
    min-width:300px;
    height: auto;
	padding: 0 40px;
	margin:auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 50px;
}
header div a:first-child {
	margin-right: 14%;
}
.colomn {
    background: #fff;
    padding-bottom: 20px;
}
h1, h2 {
	font-size: 31px;
	line-height: 35px;
}
h2 {
	margin-top: 15px;
}
h1 {
	margin-bottom: 15px;
}
h3 {	
	font-size: 24px;
	line-height: 30px;
	margin-top: 23px;
	margin-bottom: 13px;
}
h4 {
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}
h6 {
	font-size: 19px;
	line-height: 24px;
	margin: 26px 0 18px 0;
}
nav {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #d7d7d7;
	background: #fff;
	text-align: center;
	padding: 0 20px;
}
nav div {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: auto;
}
nav a {
	font-size:14px;
	text-transform: uppercase;
	padding: 20px 15px 20px 0;
	text-align: center;
	text-decoration: none;
	color: #000;
}
nav a:hover {
    text-decoration: underline;
    color:#949494;
}
nav a:first-child {
	width: 60px;
	background: #0082cc url(../img/a.jpg) no-repeat center;
}
aside {
	width: 280px;
	
}
aside ul {
	padding: 0 20px;
	overflow: hidden;
}
aside ul li {
	list-style: none;
	padding-bottom: 8px;
	font-size: 14px;
}
aside ul li span {
	color: #0083cd;
	font-weight: 700;
	font-size: 14px;
}
aside ul li a {
	text-decoration: none;
	color:#565d66;
}
aside ul li .first,
aside ul li .last {
	position: relative;
}
aside ul li span.first:after{
	content: url(../img/line.jpg);
	position: absolute;
	top: -7px;
	left: 161px;
}
aside ul li span.last:after{
	content: url(../img/line2.jpg);
	position: absolute;
	top: -7px;
	left: 56px;
}
aside .banner {
	text-align: center;
}
.all_wrap {
	display: flex;
	justify-content: center;
}
.news24 {
	display: block;
	height: 66px;
	background: url(../img/news24.jpg) no-repeat center;
	border-bottom: 1px solid #d7d7d7;
}
.inner {
	max-width: 720px;
	min-width: 300px;
	margin: auto;
	background: #fff;
}
.top {
	border-bottom: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	display: flex;
	justify-content: space-between;
}
.top .combo {
	display: flex;
	justify-content: flex-start;
}
.top a {
	text-decoration: none;
}
.today, .news, .comms {
	/* width: 69px; */
	height: auto;
	display: block;
}
.today {
	background: #0082cc;
	padding: 11px 11px 12px;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	text-align: center;	
}
.today span {
	font-size: 20px;
	font-weight: 700;
}
.news {
	font-size: 14px;
	color: #565d66;
	font-weight: 300;
	line-height: 62px;
	text-decoration: none;
	text-align: center;
	padding-left: 25px;
}
.comms {
	background: url(../img/comms.jpg) no-repeat center center;
	padding: 33px;
	margin-right: 20px;
}
.content {
	border-right:1px solid #d7d7d7;
	border-left:1px solid #d7d7d7;
}
.wrapper {
	width: 92%;
	margin: auto;
}
.top_olga {
	font-size: 18px;
	color: #0082cc;
	font-weight: bold;
	padding-top: 20px;
    -webkit-margin-after: 0;
    margin-top: 0;
}
.wrapper img, header img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}
.wrapper .comment_body img {
    margin: 0;
}
.imgDesc {
    border-bottom: 1px solid #9b9b9b;
    padding: 0 20px;
    min-height: 34px;
    font-size: 12px;
    line-height: 34px;
}
.wrapper p {
	margin-bottom: 20px;
}
.olga_text, .kp_text {
	color:#565d66;
	font-size: 15px;
}
.kp_text {
	font-weight: 700;
}
.abbrev {
	font-size: 24px;
	font-weight: 700;
	color: #0082cc;
}
.super_wrap {
	padding: 0 25px;
}
.pad_top {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pad_bot {
	padding-bottom: 30px;
}
.beseda {
	padding: 10px 0;
	border:1px solid #d7d7d7;
	border-right: none;
	border-left: none;
	font-size: 15px;
	color: #565d66;
}
.back {
	background: #efefef;
}

.comment_body {
	display: flex;
	justify-content: space-between;
}
.foto {
	width: 9%;
}
.foto img {
	width: 100%;
    border-radius: 50%;
}
.comment_body {
	margin-bottom: 20px;
}
.comm_content {
	width: 90%;
}
.comm_content p {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.comm_text {
	position: relative;
	background: #fff;
	border-radius: 5px;
	font-size: 15px;
	padding: 20px;
	margin-left: 10px;
}
.comm_content .arr {
	position: absolute;
	top: 0;
	left: -8px;
}
.comm_name {
	font-weight: 700;
	font-size: 18px;
	color: #0082cc;
	text-transform: uppercase;
	padding-bottom: 15px;
	margin-left: 10px;
}
.right {
	margin-left: 50px;
}
.slim {
	padding-top: 20px;
	width: 55%;
}
.quote {
	font-size: 18px;
	line-height: 24px;
	padding-left: 33px;
	background: url(../img/icon_quote.png) no-repeat left top;
}
footer {
	width: 100%;
	height: auto;
	background: #0083cd;
}
footer .go_to {
	height: auto;
	padding: 20px;
	background: #fff;
	color: #0083cd;
	font-weight: 700;
	font-size: 18px;
	display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 28%;
    box-shadow:0px 9px 20px 0px #6b6b6b;
}
footer .go_to:hover {
    box-shadow:0px 5px 10px 0px #6b6b6b;
}
.footer_flex {
	display: flex;
	justify-content: space-between;
	max-width: 1026px;
	margin: auto;
}
.footer_flex .social {
	height: auto;
}
.footer_flex .social p {
	padding: 11px 0 0 18px;
}
.footer_flex .a_soc{
	width: 26%;
    height: auto;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background: url(../img/social.jpg) no-repeat left 90%;
    background-size: contain;
}
.footer_flex .subscribe {
	width: 24%;
	text-decoration: none;
}
.footer_flex .subscribe p {
	padding: 40px 0 0 0;
    text-align: left;
    font-size: 13px;
    color: #fff;
}
.bottom, .bottom2 {
	width: 100%;
	background: #efefef;
}
.bottom .apps {
	max-width: 1026px;
	border-bottom: 1px solid #d2d2d2;
	margin: auto;
    display: flex;
    justify-content: center;
}
.bottom .apps a {
	padding: 20px 15px;
	display: inline-block;
	color: #40454c;
    text-decoration: none;
    font-size: 14px;
}
.bottom2, .appss {
	display: flex;
	justify-content: flex-start;
	font-size: 15px;
}
.bottom2 {
	padding-bottom: 30px;
}
.bot_wrap {
	display: flex;
	justify-content: flex-start;
}
.bottom2 p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.bot_wrap {
	max-width: 1026px;
	margin: auto;
}
.appss {
	background: url(../img/mob_icon.jpg) no-repeat left center;
}
.appss p{
	padding: 15px;
	padding-left: 30px;
}
.appss a {
	padding: 15px;
	color: #40454c;
	font-weight: bold;
	text-decoration: none;
}
.appss a:last-child {
	padding-right: 30px;
}
.books {
	padding: 15px;
	padding-left: 30px;
	padding-right: 207px;
	background: url(../img/list_icon.jpg) no-repeat left center;
	color: #40454c;
	font-weight: bold;
	text-decoration: none;
}
.text1 {
    font-size: 35px;
    line-height: 35px; 
}
.text2 {
    font-size: 18px; 
    line-height: 28px; 
    background-color: #0082cc; 
    color: #fff;
    display: inline-block; 
    padding: 0 15px;
    margin: 22px 0 8px;
}
.text3 {
    font-size: 19px;
    line-height: 24px;
}
.text4 {
    font-size: 29px; 
    line-height: 28px;
    margin-top: -30px;
    position: relative;
}
.text_blue {
  color: #0082cc;
}
.text_red {
  color: #ca4401;
}
.text_black {
  color: #000;
}
.text_bold {
  font-weight: 700;
}
.text_semibold {
  font-weight: 600;
}
.text_extrabold {
  font-weight: 800;
}
.text_upper {
  text-transform: uppercase;
}
.text_bgYellow {
  background-color: #ebe737;  
}
.textPostImg {
  font-style: italic;
  font-size: 14px; 
  margin: 12px 0; 
}
.wrapper.adv {
    text-align: center;
    padding-bottom: 20px;
}
.wrapper.adv img {
    margin: 20px auto 0;
}
.img_product {
    position: relative;
    display: inline-block;
}
.img_product .new_price {
    position: absolute;
    top: 55px;
    left: 6px;
    background-color: #4caf50;
    color: #fff;
    font-size: 45px;
    line-height: 45px;
    padding: 5px 20px 8px 21px;
}
.img_product .old_price {
    position: absolute;
    top: 20px;
    left: 21px;
    line-height: 35px;
    font-size: 26px;
}
.img_product .old_price:after, .img_product .old_price:before {
    content: "";
    background: #ca4401;
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    top: 17px;
    left: 0;
}
.img_product .old_price:after {
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
}
.img_product .old_price:before {
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
}
.logo2 {
    max-width: 100%;
}
@media all and (max-width: 1017px) {
	aside {
		display: none;
	}
}
@media all and (max-width: 1006px) {
    nav a:last-child {
        display:none;    
    }
}
@media all and (max-width: 998px) {
    .books {
    	padding-right: 0;
    }
}
@media all and (max-width: 853px) {
    nav a:nth-child(9) {
        display:none;    
    }
    .footer_flex .subscribe {
    	width: 29%;
    }
    footer .go_to {
    	font-size: 15px;
    }
    .footer_flex .subscribe p {
    	padding: 30px 0 0 0;
    }
}
@media all and (max-width: 784px) {
    nav a:nth-child(8) {
        display:none;    
    }
}
@media all and (max-width: 750px) {
    .bot_wrap {
    	flex-direction: column;
    }
  
    .footer_flex .subscribe p {
    	padding: 10px 0 0 43px;
    }
    .footer_flex .social p {
    	padding: 11px 0 0 0;
    	text-align: center;
    }
}
@media all and (max-width: 695px) {
    nav {
        display:none;
    }
}
@media all and (max-width: 680px) {
	.bottom .apps a:last-child {
		display: none;
	}
	footer .go_to {
		font-size: 12px;
	}
	.bottom2, .apps {
		font-size: 13px;
	}
	.img_product .new_price {
        font-size: 30px;
        line-height: 30px;
        padding: 5px 10px 8px 11px;
    }
    .logo2 {
        max-width: 152%;
    }
    .content {
        overflow: hidden;
    }
}
@media all and (max-width: 580px) {
	.footer_flex .subscribe {
		background-size: contain;
	}
	h1 {
		font-size: 22px;
	}
}
@media all and (max-width: 540px) {
	.bottom .apps a:nth-child(5) {
		display: none;
	}
} 
@media all and (max-width: 492px) {
	.appss a:last-child {
		display: none;
	}
	.footer_flex .subscribe {
		display: none;
	}
	footer .go_to {
		width: 50%;
	}
	.footer_flex .a_soc {
		margin: auto;
    	padding-bottom: 30px;
	}
} 
@media all and (max-width: 380px) {
	footer {
		height: 160px;
	}
	.footer_flex .a_soc {
		display: none;
	}
	footer .go_to {
		margin: auto;
	}
	.bottom .apps a, .bottom2, .appss {
		font-size: 11px;
	}
}
@media all and (max-width: 320px) {
	.bottom .apps a, .bottom2, .appss {
		font-size: 9px;
	}
}

.mybtn {
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	display: block;
	margin: 0 auto 20px;
	text-align: center;
	max-width: 450px;
	width: 100%;
	padding: 20px 10px;
	background-color: red;
	color: #fff;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.mybtn:hover {
	background-color: #a80b1f;
}

.com-link {
	font-weight: bold;
	color: #0d87cd;
	text-decoration: none;
}