/* =========================================================================
   Base styles
========================================================================= */
body {
  font-family: "PT Sans", sans-serif;
  color: #212121;
}

a {
  color: #e53935;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a:hover {
  color: #bc2d2b;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.75rem;
}

h4 {
  color: #e53935;
}

h5 {
  margin-bottom: 0.5rem;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
}

/* =========================================================================
   Header
========================================================================= */
.site-header {
  padding: 1.5rem 0 0;
}

.site-logo {
  margin-bottom: 1.5rem;
}

.site-claim {
  display: none;
}

.navbar-wrapper {
  border-top: 2px solid #cfd8dc;
  border-bottom: 2px solid #cfd8dc;
}

.navbar {
  justify-content: center;
}

.navbar-light {
  padding-left: 0;
  padding-right: 0;
}

.navbar-light .navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: 700;
  color: #212121;
}

.navbar-light .navbar-nav .nav-item:first-child .nav-link {
  padding-left: 0;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #e53935;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #e53935;
}

.btn-outline-success {
  color: #e53935;
  border-color: #e53935;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #e53935;
  border-color: #e53935;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .site-header {
    padding: 2rem 0 0;
  }

  .site-logo {
    margin-bottom: 0;
  }

  .site-title {
    margin-bottom: 2rem;
  }

  .navbar {
    align-content: flex-start;
  }
}

@media (min-width: 992px) {
}

/* =========================================================================
   Main content
========================================================================= */
.site-inner {
  padding: 1.5rem 0;
}

.post {
  margin-bottom: 1.5rem;
}

.post p {
  margin-bottom: 1.5rem;
}

.post img {
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.post-meta {
  margin-bottom: 1.5rem;
  color: #757575;
}

.post-meta p {
  display: inline-block;
  margin-bottom: 0;
}

.post-meta p:last-child {
  margin-left: 1rem;
}

.post-meta p:first-child {
  margin: 0;
}

.post-meta img {
  margin: 0 !important;
  display: inline;
  margin-right: 0.5rem !important;
}

.post .lead {
  font-weight: 700;
  font-size: 1.25rem;
  color: #757575;
}

.post .lead strong {
  color: #212121;
}

.post .figure {
  margin-bottom: 1.5rem;
}

.post .blockquote {
  font-weight: 700;
  font-style: italic;
  padding: 1rem 0 1rem 1rem;
  border-left: 2px solid #e53935;
}

.post .conclusion {
  font-weight: 700;
  font-size: 1.25rem;
}

.big-link {
  display: block;
  font-size: 2rem;
  text-decoration: underline;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #007bff;
}

.big-link:hover {
  color: #0056b3;
}

@media (min-width: 576px) {
  .post img {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 768px) {
  .site-inner {
    padding: 2rem 0;
  }
}

/* =========================================================================
   Sidebar
========================================================================= */
.widget {
  margin-bottom: 1.5rem;
}

.widget.about p {
  margin: 1rem 0 0;
}

.widgets a {
  color: #212121 !important;
}

.widget a:hover {
  color: #bc2d2b !important;
}

.widget.recent-posts .list-group-flush .list-group-item:first-child {
  border-top: 0;
}

/* =========================================================================
   Comments
========================================================================= */
.comments {
  margin-bottom: 1rem;
}

.comments-start {
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 0.5rem;
}

.comments-start p {
  margin-left: 1rem;
  font-weight: 700;
  color: #757575;
  margin-bottom: 0.5rem;
}

.comments-start p:first-child {
  margin-left: 0;
}

.comments-start a {
  font-weight: 700;
  color: #e53935 !important;
}

.comments-share {
  display: none;
}

.comments-share p {
  font-size: 0.875rem;
  font-weight: 700;
  color: #757575;
  margin-bottom: 0;
}

.comments-share a {
  margin-left: 1rem;
  color: #ffffff !important;
  text-decoration: none !important;
}

.comment {
  margin-top: 1.5rem;
}

.comment-avatar {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.comment-author {
  color: #e53935;
  font-size: 1rem;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  display: inline-block;
  margin: 0;
  text-decoration:none!important;
}

.comment-date {
  color: #757575;
}

.comment-content {
  margin-bottom: 0.25rem;

}

.comment-meta {
  font-size: 0.875rem;
  font-weight: 700;
  color: #757575;
  margin-bottom: 0;
}

.comment-meta a {
  color: #757575;
}

.comment-meta a:hover {
  color: #bc2d2b;
}

.comment-mention {
  color: #e53935;
  font-style: italic;
}

@media (min-width: 576px) {
  .comments-share {
    display: flex;
  }
}

/* =========================================================================
   Footer
========================================================================= */
.site-footer {
  padding: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
  border-top: 2px solid #212121;
}

.site-footer p {
  margin: 0;
}

.copyright {
  margin-bottom: 0.5rem !important;
}

@media (min-width: 576px) {
}

/* Modal
--------------------------------------------- */
.site-modal__content {
  border: 1px solid #897b7b;
}
.site-modal__header {
  border-bottom: 1px solid #f0f0f0;
}
.site-modal__title {
  font-size: 1.25rem;
  font-weight: 700;
}
.site-modal__close {
  color: #897b7b;
}
.site-modal__close:hover {
  color: #7c7c7c;
}
.site-modal__footer {
  border-top: 1px solid #f0f0f0;
}
.site-modal__footer .btn {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

/* Legal
--------------------------------------------- */
.legal {
  padding: 1rem 0;
}
.legal__title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #1c1c1c;
}
.legal__content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #1c1c1c;
}
.legal__content h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #1c1c1c;
}
.legal__content h4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #1c1c1c;
}
.legal__content h5 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #1c1c1c;
}
.legal__content p {
  margin-bottom: 1rem;
}
.legal__content p,
.legal__content li {
  font-size: 0.875rem;
}
.legal__content ol,
.legal__content ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2rem;
}
.legal__content ol ol,
.legal__content ol ul,
.legal__content ul ol,
.legal__content ul ul {
  margin-bottom: 0;
}
.legal__content a {
  color: #1976d2;
  transition: all 0.15s ease-in-out;
}
.legal__content a:hover {
  color: #0d47a1;
}

.legal.contact .form-control {
  border-color: #9d9d9d;
  border-width: 2px;
  color: #1c1c1c;
  font-weight: 500;
}
.legal.contact .form-control:focus {
  border-color: #383838;
  box-shadow: none;
  color: #1c1c1c;
}
.legal.contact .form-control::placeholder {
  color: #9d9d9d;
}
.legal.contact .form-check:not(:last-child) {
  margin-bottom: 0.5rem;
}
.legal.contact .col-form-label {
  color: #1c1c1c;
}
.legal.contact .form-check-label {
  font-size: 0.875rem;
  color: #1c1c1c;
  font-weight: 400;
  padding: 0.25rem 0rem;
  cursor: pointer;
}
.legal.contact .form-check-label a {
  color: #1c1c1c;
  text-decoration: underline;
}
.legal.contact input[type="checkbox"].form-check-input {
  margin-top: 8px;
}
.legal.contact .contact__legal {
  font-size: 0.75rem;
  color: #897b7b;
  margin-bottom: 0.5rem;
}
.legal.contact .contact__legal a {
  font-size: 0.75rem;
  color: #897b7b;
  text-decoration: underline;
}
.legal.contact .btn {
  font-size: 1.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  font-weight: 700;
  border-radius: 50em;
  background-color: #59c114;
  border-color: #59c114;
  color: #ffffff;
}
