@media screen and (max-width:991px) {
  .special__reviews:before,
  .special__reviews:after {
    display: none;
  }

  .sidebar {
    width: 100%;
    margin-top: 20px;
    padding: 15px;

    -webkit-border-radius: 15px;
            border-radius: 15px;
  }

  .sidebar__grid {
    display: inline-block;
    width: 20%;
    margin: 0 2%;

    vertical-align: top;
  }

  .sidebar__picture img {
    max-width: 165px;
  }

  .preland {
    width: 100%;
  }

  .choice__block_wrong:after {
    left: 74%;
  }

  .choice__block_correct:after {
    left: 24%;
  }

  .special__reviews {
    -webkit-border-radius: 15px;
            border-radius: 15px;
  }

  .special__picture {
    width: 25%;
  }

  .special__description {
    width: 75%;
  }

  .remember {
    width: 90%;
  }
}


@media screen and (max-width:767px) {
  .preland__text {
    text-align: center;
  }

  .sidebar__grid {
    width: 45%;
  }

  .special__picture,
  .special__description {
    display: block;
    width: 100%;

    text-align: center;
  }

  .choice__block_wrong:before,
  .choice__block_correct:before,
  .choice__block_wrong:after,
  .choice__block_correct:after {
    display: none;
  }

  .recommend__text,
  .recommend__product {
    width: 100%;

    text-align: center;
  }

  .remember:before,
  .remember:after {
    display: none;
  }
}

@media screen and (max-width:580px) {
  .header__title {
    font-size: 26px;
  }

  .choice__block {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width:450px) {
  .header__title {
    font-size: 20px;
  }

  .sidebar {
    margin-top: 0;
  }
  .sidebar__grid {
    width: 100%;
    margin: 10px 0;
  }

  .preland__text {
    padding: 5px 0;
  }

  .special__reviews,
  .recommend__text {
    padding: 20px 0;
  }

  .choice__inner {
    padding-top: 20px;
  }

  .choice__title {
    font-size: 30px;
  }

  .recommend {
    margin-top: 0;
  }

  .remember {
    width: 100%;
    margin-top: 0;
  }

  .remember__text {
    font-size: 20px;
  }

  .order-button__link {
    font-size: 26px;
  }
}













@media screen and (min-width: 768px) {
  .container {
    width: 747px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 980px;
    margin: 0 auto;
  }
}
