/* inter-regular - latin-ext_cyrillic-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
    url('../fonts/inter-v3-latin-ext_cyrillic-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v3-latin-ext_cyrillic-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin-ext_cyrillic-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local(''),
    url('../fonts/inter-v3-latin-ext_cyrillic-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v3-latin-ext_cyrillic-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.wp-block-image {
    margin-bottom: 1em
}

.wp-block-image img {
    max-width: 100%
}
.has-drop-cap:not(:focus):first-letter {
    float: left;
    font-size: 8.4em;
    line-height: .68;
    font-weight: 100;
    margin: .05em .1em 0 0;
    text-transform: uppercase;
    font-style: normal
}


#comments {
    max-width: 1100px;
    margin: 0px auto;
    color: #333333;
    font-style: normal;
}
.comment-reply{
    margin-left: 50px;
}

#comments p {
    float: none !important;
}

#wpdcom {
    max-width: 750px;
    padding: 0;
    margin: 7px auto 0px auto;
}

#wpdcom * {
    box-sizing: border-box;
    line-height: initial;
}

#wpdcom i {
    margin: 0;
}

#comments #wpdcom span, #wpdcom span {
    display: inline;
    letter-spacing: inherit;
    text-transform: none;
    font-size: 1em;
}

#wpdcom svg {
    display: inline;
}

.wpdiscuz_top_clearing {
    clear: both
}

#wpdcom .wpd-space {
    flex-grow: 1;
}

#wpdcom .wpd-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

/* Tooltip */
.wpd-tooltip {
    position: relative;
    overflow: hidden;
}

.wpd-tooltip:hover {
    overflow: visible;
}

.wpd-tooltip:hover .wpd-tooltip-content {
    opacity: 1;
}

.wpd-tooltip .wpd-tooltip-content {
    background: #555555;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 14px;
    max-width: 200px;
    min-width: 145px;
    padding: 10px;
    position: absolute;
    opacity: 0;
}

.wpd-tooltip .wpd-tooltip-content::after {
    background: #555555;
    content: "";
    height: 10px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
}

.wpd-tooltip.wpd-top .wpd-tooltip-content {
    bottom: calc(100% + 0.3em);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.wpd-tooltip.wpd-top .wpd-tooltip-content::after {
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
}

#wpdcom div:hover.wpd-tooltip {
    position: relative;
}

/* Rating Section */
@font-face {
    font-family: 'square721_cn_btroman';
    src: url('../fonts/sqr721c-webfont.eot');
    src: url('../fonts/sqr721c-webfont.eot#iefix') format('embedded-opentype'), url('../fonts/sqr721c-webfont.woff2') format('woff2'), url('../fonts/sqr721c-webfont.woff') format('woff'), url('../fonts/sqr721c-webfont.ttf') format('truetype'), url('../fonts/sqr721c-webfont.svg#svgFontName') format('svg');
}

/* Form Head */

/* Subscription Bar */

/* Comment Form */

/* COMMENT FORM | BUTTONS */

/* Comment Form | ROWS and COLS */

/* Comment Fields | FIELDS */

/* Comment Fields | CAPTCHA */

/* Comment Fields | CHECKBOX / RADIO */

/* Comment Fields | SELECT */

/* Comment Fields | RATING */

/* Comment Fields | DATE */

/* Comment Fields | COLOR */

/* Comment Fields | SPOILER */

/* reCAPTCHA V2 */

/* Comment Threads */
.warn{
    padding: 10px;
    border: 3px double crimson;
}
.warn p {
    text-align: left !important;
    margin: 0 !important;
}

#wpdcom .wpd-thread-head {
    width: 100%;
    border-bottom: 2px solid #cccccc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

#wpdcom .wpd-thread-head .wpd-thread-info {
    color: #555555;
    padding: 5px 15px 3px 5px;
    font-weight: 600;
    margin-bottom: -2px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    line-height: 24px;
}

/* Comment - Default Layout (#1) */
#wpdcom .wpd-thread-list {
    padding: 10px 0 0 0;
}

#wpdcom .wpd-comment .wpd-comment-wrap {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.wpd-comment-left img{
    border-radius: 50%;
    border: 2px solid #ccc;
    width: 48px;
    height: 48px;
}

#wpdcom .wpd-comment .wpd-comment-left {
    width: 60px;
    text-align: center;
    margin-right: 10px;
}



#wpdcom .wpd-comment .wpd-comment-right {
    padding-bottom: 15px;
    flex-grow: 1;
    width: calc(100% - 80px);
}

#wpdcom .wpd-comment-header {
    font-size: 13px;
    color: #999999;
}

#wpdcom .wpd-comment .wpd-comment-header {
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#wpdcom .wpd-comment-header .wpd-comment-author {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.7px;
    margin-right: 5px;
}

#wpdcom .wpd-comment .wpd-comment-header i {
    line-height: 1.75;
}

#wpdcom .wpd-comment-date {
    font-size: 11px;
}

#wpdcom .wpd-comment-date i {
    font-size: 11px;
    margin-right: 4px;
}

#wpdcom .wpd-comment-header .wpd-comment-share {
    padding: 0 6px;
    color: #aaaaaa;
    cursor: default;
}

#wpdcom .wpd-comment-header .wpd-comment-share .wpd-tooltip-content {
    text-align: center;
}

.text-center{
    text-align: center;
    margin-bottom: 15px;
}
#wpdcom .wpd-comment-header .wpd-comment-share .wpd-tooltip-content i {
    font-size: 12px;
    padding: 0 6px;
    cursor: pointer;
}

#wpdcom .wpd-comment-header .wpd-comment-share .wpd-tooltip-content i:hover {
    color: #ffee46;
}

#wpdcom .wpd-comment-header .wpd-comment-link {
    padding: 0;
    cursor: pointer;
    font-size: 12px;
    color: #aaaaaa;
    align-self: flex-start;
    padding-top: 9px;
}

#wpdcom .wpd-comment-header .wpd-comment-link span {
    margin-left: 12px
}

#wpdcom .wpd-comment-text {
    font-size: 16px;
    padding: 0 0 8px 0;
    word-break: break-word;
}

#wpdcom .wpd-comment-text * {
    line-height: 1.3;
}

#wpdcom .wpd-comment-text p {
    margin-bottom: 10px;
}

#wpdcom .wpd-comment-text p:last-child {
    margin-bottom: 0px;
}

#wpdcom .wpd-comment-text img {
    max-width: 100% !important;
    width: 400px;
    border-radius: 10px;
    margin-top: 10px;
}
.wpd-comment-text a{
    color: deepskyblue;
}
#wpdcom .wpd-comment-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    text-decoration: none;
}

#wpdcom .wpd-comment-footer .wpd-vote {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-right: 20px;
    font-size: 0;
}

#wpdcom .wpd-comment-footer .wpd-vote-up,
#wpdcom .wpd-comment-footer .wpd-vote-down {
    width: 16px;
    height: 16px;
    opacity: 0.7;
    cursor: pointer;
}

#wpdcom .wpd-comment-footer .wpd-vote-up svg,
#wpdcom .wpd-comment-footer .wpd-vote-down svg {
    fill: #888888;
    cursor: pointer;
}

#wpdcom .wpd-comment-footer .wpd-vote-result {
    padding: 0 8px;
    font-size: 14px;
    text-align: center;
    color: #999999;
}

#wpdcom .wpd-comment-footer .wpd-reply-button {
    cursor: pointer;
    font-size: 14px;
    color: #999999;
    white-space: nowrap;
}

#wpdcom .wpd-comment-footer .wpd-reply-button svg {
    vertical-align: middle;
    transform: rotate(180deg);
    width: 22px;
    height: 22px;
    opacity: 0.7;
    fill: #999999;
    margin-right: 2px;
}

@-moz-document url-prefix() {
    #wpdcom .wpd-comment-footer .wpd-reply-button svg {
        vertical-align: bottom;
    }
}

#wpdcom .wpd-comment-footer .wpd-reply-button span {
    line-height: 21px;
    font-size: 1em;
}

#wpdcom .wpd-comment-footer .wpd-vote-up:hover,
#wpdcom .wpd-comment-footer .wpd-vote-down:hover {
    opacity: 1;
}

#wpdcom .wpd-comment-footer .wpd-reply-button:hover {
    color: #777777;
}

#wpdcom .wpd-comment-footer .wpd-reply-button:hover svg {
    opacity: 1;
}

#wpdcom .wpd-comment-right:hover .wpd-comment-header .wpd-comment-share,
#wpdcom .wpd-comment-right:hover .wpd-comment-header .wpd-comment-link {
    visibility: visible;
    opacity: 1;
}

/* Comment - Layout #2 */

/* Comment - Layout #3 */

/* Bubble */

/* Feedback Shortcode */

/* Tools Actions */

/* No Avatar */

/* errors */
/* bdi darcvin 1 keyov*/

/* new error class for all errors */


/* Labels & Avatar Colors */

#wpdcom .wpd-comment-author {
    color: #666666;
    text-decoration: none;
}

/* Blog User (All other user roles / logged-in users) */

/* Blog User Google */

/* Blog Facebook */

/* Blog User Twitter */

/* Blog User VK */

/* Blog User OK */

/* Blog User Disqus */

/* Blog User WordPress */

/* Blog User Instagram */

/* Blog User Linkedin */

/* Blog User Yandex */

/* Blog User Mail.ru */

/* Blog User Weibo */

/* Blog User WeChat */

/* Blog User QQ */

/* Blog User Baidu */

/* DARK STYLE */

/* Blog User WordPress */


/* Tablets */

/* Smart Phones */
@media screen and (max-width: 600px) {
    #comments, #respond {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #wpdcom {
        padding: 5px 3%;
        overflow: hidden;
    }

    /* Inline Commenting */

    /* Comment Bubble */

    /* Comment Form */

    /* Comment Threads */

    #wpdcom .wpd-hidden {
        visibility: visible;
        opacity: 1;
    }

    #wpdcom .wpd-thread-head .wpd-thread-info {
        flex-basis: 100%;
        border-bottom: 2px solid #ccc;
    }


    #wpdcom .wpd-comment-footer {
        flex-wrap: wrap;
    }



    #wpdcom .wpd-comment .wpd-comment-right {
        width: 100%;
    }

    /* Comment Layout #1 */
    #wpdcom.wpd-layout-1 .wpd-comment .wpd-comment-left {
        text-align: left;
    }

    #wpdcom.wpd-layout-1 .wpd-comment-header .wpd-comment-link {
        padding-top: 0;
    }

    /* Comment Layout #2 */

    /* Comment Layout #3 */
}

#wpdcom .wpd-blog-guest .wpd-comment-author {
    color: #E82F7B
}

#comments,
#respond,
.comments-area,
#wpdcom {
}



#wpdcom .wpd-thread-head .wpd-thread-info {
    border-bottom: 2px solid #E82F7B
}

#wpdcom .wpdiscuz-item .wpdiscuz-rating:not(:checked) > label:hover,
.wpdiscuz-rating:not(:checked) > label:hover ~ label {
}

#wpdcom .wpdiscuz-item .wpdiscuz-rating > input:not(:checked) ~ label:hover ~ label,
#wpdcom .wpdiscuz-item .wpdiscuz-rating > input:not(:checked) ~ label:hover ~ label {
    color: #FFED85
}

.comments-area {
    width: auto
}

/* Quill */

/* Media Uploader */

#wpdcom {
    height: auto;
    padding: 5px 1px
}

/* My Content and Settings */

/* Colorbox */

/*!
Theme Name: Love Sweat Fitness
Theme URI: http://underscores.me/
Author: Marco Polo Creative Agency
Author URI: http://marcopolo.agency
Description: Fitness, fun. Lifestyle
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: love-sweat-fitness
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

love-sweat-fitness is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */

/* Do not show the outline on the skip link target. */


.main-cta{
    background-color: crimson;
    color: #fff;
    text-decoration: none;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

/*! TACHYONS v4.11.1 | http://tachyons.io */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background-color: transparent
}

b {
    font-weight: bolder
}

img {
    border-style: none
}

button, input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button {
    text-transform: none
}

button {
    -webkit-appearance: button
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring {
    outline: 1px dotted ButtonText
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

a, body, div, figure, footer, form, h2, header, html, input[type=tel], input[type=text], li, main, ol, p, ul {
    box-sizing: border-box
}

img {
    max-width: 100%
}

.top-0 {
    top: 0
}

.left-0 {
    left: 0
}

.flex {
    display: flex
}

.flex-column {
    flex-direction: column
}

.items-center {
    align-items: center
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.list {
    list-style-type: none
}

.w-20 {
    width: 20%
}

.w-100 {
    width: 100%
}

.mb2 {
    margin-bottom: .5rem
}

.mv5 {
    margin-bottom: 1rem
}

.tc {
    text-align: center
}

.ttu {
    text-transform: uppercase
}

.f6 {
    font-size: .875rem
}

.center {
    margin-left: auto
}

.center {
    margin-right: auto
}

.z-5 {
    z-index: 5
}




*,
h2,
p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body {
    margin: auto;
    font-family: Inter, 'sans-serif';
}

p {
    line-height: 1.5;
}

/* Generals */

.container-xl {
    padding-left: 200px;
    padding-right: 200px;
}

.container-xl {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1540px) {
    .container-xl {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Colors */

.lsf-dark-pink {
    color: #e06d92;
}

.lsf-grey {
    color: #9b9b9b;
}

/* CTA's */

button {
    border-radius: 0px;
    border: 0px;
}

/* Header */

header {
    background-color: #fff;
    transition: all 0.4s ease;
}

.header-top {
    border-bottom: 1px solid #f595a7;
    padding: 25px 0;
    max-width: 1000px;
    margin: 0 auto;
}

.header-logo a {
    font-size: 30px;
    text-transform: uppercase;
    color: #e06d92;
    text-decoration: none;
    letter-spacing: 10px;
    font-weight: 800;
}
.wp-image-14510{
    max-width: 100%;
    width: 500px !important;
}
.chart{
    width: 700px !important;
}

.header-logo svg {
    height: 25px;
}

.header-social li:not(:last-child) {
    margin-right: 20px;
}
.header-social a, .footer-link a{
    color: #e06d92 !important;
    white-space: nowrap;
}

.header-social svg {
    height: 20px;
    width: 20px;
}

.header-social svg path {
    transition: all 0.3s ease;
}

.header-social svg:hover path {
    fill: var(--darkpink);
}

/* Footer Styles */

footer {
    background-color: #f9e7eb;
}

footer > div {
    padding: 10px 0px;
}

footer > div:first-child {
    padding-top: 10px;
}

footer > div:last-child {
    padding-bottom: 10px;
}

/* Home Styles */

/* Home Slider Styles */

/* .home-slide:first-child .home-slide-text {
  opacity: 1;
} */

/* In View Animations */

button {
    border-radius: 4px;
}

/* Get Started Styles */

/* Community Styles */

/* Contact Styles */

/* Template 1  & 8*/

/* .sub-item-image img {
  height: 20px;
} */

/* Template 2 */

/* Template 3 */

/* Template 4 */

/* Template 5 */

/* Template 6 */
/*
.categorie-container:hover {
  transform: scale(0.9);
} */

/* Post Template - template 7 */

.post-content * {
    margin-left: auto;
    margin-right: auto;
}

.post-content p {
    margin: 20px auto;
    line-height: 1.68;
    font-size: 18px;
    text-align: justify;
}

/* Hide post copy duplicate -- for SEO PURPOSES*/

#comments p {
    display: block !important;
    max-width: initial !important;
    padding: 0 !important;
    margin: 0 !important;

    text-align: justify;
}

.post-content h1 {
    text-transform: uppercase;
}

.post-content h1 {
    color: #e06d92;
    font-size: 28px;
    font-weight: 800;
    margin-top: 15px;
}



.post-content li {
    margin: 15px;
    width: 100%;
    /* padding-left: 30px; */
}

.post-content ul li:first-child {
    margin-left: 15px;
}



.post-content .wp-block-image {
    margin: 10px auto;
    text-align: center;
}

.post-content figure img {
    margin-left: auto;
    margin-right: auto;
}

.post-content a {
    color: deepskyblue !important;
}

/* Videos Emmbed */

/* SOCIAL SHARER */

/* About LSF Page Video Emmbed */

/* Workouts Template */

/* LSF APP */

/* Checkout Details */

/* User Account */
/* Search module */

/* Pagination */

/* A links simple colors */

/* This ones are the main div containers for the inputs */

/* Phone Fix Klaviyo */

input[type='tel'] {
    /* height:  */
}

/* Fix images on safari */

.post-content > figure {
    max-width: 60%;
    margin: 10px auto;
}

/* Start Thank you page */

/* IG Landing */

/* New Thank You Template */

/*  */

/* Start Responsiveness */

.product{
    width: 300px !important;
}

@media (max-width: 1080px) {
    .header-top{
        padding: 15px;
    }
    .site-content{
        padding: 0 15px;
    }
    /* Hide Last blog on mobile */
}

@media (max-width: 768px) {

    .footer-link {
        text-align: center;
    }
    .footer-link a {
        display: block;
        margin-bottom: 10px;
    }
    #wpdcom .wpd-comment .wpd-comment-wrap{
        align-items: flex-start;
    }
    #wpdcom .wpd-comment .wpd-comment-left{
        padding-top: 10px;
    }
    .wp-image-14510{
        width: 100% !important;
    }
    .header-logo{
        margin-bottom: 10px;
    }
    .header-top{
        justify-content: center !important;
        text-align: center;
        flex-direction: column;
    }
    .post-content h1{
        text-align: center;
        font-size: 22px;
        line-height: 1.2;
    }
    .container-xl {
        padding-left: 40px;
        padding-right: 40px;
    }
    .post-content p{
        text-align: left;
        font-size: 17px;
        line-height: 1.2;
    }
    .post-content h2{
        font-size: 22px;
        margin-bottom: -10px !important;
        margin-top: 5px !important;
    }
    .doc{
        width: 400px !important;
    }
    .header-logo a{
        font-size: 18PX;
    }


    /* Start Get Started */

    /* Template content */

    /* Template 3 */

    /* About LSF Mobile*/

    /* Template Content */

    /* Template 4-8 content */

    /* Template 6 */

    /* Template-posts */

    .post-content h1,
    .post-content p,
    .post-content ul,
    .post-content ol,
    .post-content > figure {
        max-width: unset;
        padding: 0;
    }
}

@media (max-width: 560px) {
    .container-xl {
        padding-left: 20px;
        padding-right: 20px;
    }
    #comments p{
        text-align: left;
    }



    /* Fonts on mobile */

    /* Padding on mobile */



    .header-logo svg {
        height: 10px;
    }



    /* Footer Mobile */

    footer > div {
        padding: 10px 0px;
    }

    footer > div:first-child {
        width: 100%;
    }

    /* Home Mobile */

    /* Forms */

    /* Get Started Mobile */

    /* Community mobile */

    /* FAQ Mobile */

    /* Template content */

    /* LSF APP MOBILE */

    /* Start Checkout */

    /* INSTA MOBILE */

    /* Community Mobile */

    .main-cta {
        margin-top: 20px !important;
    }

    /* About Us Mobile */

    /* Template Content */

    /* Template 2 Mobile */

    /* Template 3 Mobile */

    /* Template 4-8 */

    /* Template 5 */

    /* Template 6 */

    /* Template 8 Mobile */
    /* Post Mobile */



    .post-content figure img {
        width: 100%;
        margin: auto;
    }

    /* Workout Template Post */

    /* Menu Is Open */

    /* Start Search Mobile */

    .post-content img {
        height: auto !important;
    }

    /* Thank you Mobile */
}
.site-content{
    max-width: 1000px;
    margin: 0 auto;
}

.qoute{
    padding: 10px;
    margin: 0 auto;
    border: 3px double blue;
}
.qoute p {
    margin: 0 auto;
    text-align: center;
}
.blank{
    width: 500px;
    margin: 20px auto -10px auto;
    border: 3px solid #cccccc;
    border-radius: 20px;
    padding: 10px 10px;
    text-align: center;
}
@media screen and (max-width: 768px){
    .blank{
        width: 300px;
    }
}

.blank .price{
    display: flex;
    /*justify-content: center;*/
    margin-bottom: 15px;
}
.blank .price div{
    display: flex;
    flex-direction: column;
}
.blank .price .currency-price{
    margin-left: 20px;
}
.blank .price span, .blank .price strike{
    font-size: 30px;
    text-align: center;
}
.blank form input{
    width: 100%;
    max-width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding-left: 15px;
}
.blank form button{
    background-color: crimson;
    color: #fff;
    border: 0;
    max-width: 300px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    font-size: 17px;
    cursor: pointer;
}
div.podl{
    padding: 10px 10px 0 10px !important;
    margin-bottom: 15px;
}
div.podl p{
    margin: 0;
    padding-bottom: 10px;
}
.red-podl{
    padding: 10px !important;;
    background-color: rgba(220, 20, 60, 0.1);
}
.podl{
    padding: 10px !important;;
    background-color: #ccc;
}
.ramka{
    border: 3px solid crimson;
    padding: 15px !important;;
}



.comments__leave {
    padding: 20px 0 0;
    text-align: right;
}
@media (max-width: 767px) {
    .comments__leave .button {
        width: 100%;
    }
}
.button {

    display: none;
    background: #16a883;
    border: none;
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    padding: 0 80px;
    text-decoration: none;
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 0 auto 10px auto;
    transition: .3s;
}
.button:hover {
    background: #18896d;
}
.button.show {
    display: block;
}

.form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
}

.visually-hidden {
    position: absolute!important;
    clip: rect(1px,1px,1px,1px);
    padding: 0!important;
    height: 1px!important;
    width: 1px!important;
    overflow: hidden;
}

.comment-create__wrapper {
    display: none;
}
.comment-create__wrapper.show{
    display: block !important;
}

.comment-create__form {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 10px auto;
}

.comment-create__form.show {
    display: flex;
}

.create-comment__image-wrapper {
    display: flex;
    align-items: center;

}

.create-comment__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    background-image: url('../images/com-ava.png');
    background-position: center;
    background-repeat: no-repeat
}

.create-comment__image-text {
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.comment-create__text {
    resize: none;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #838383;
    resize: none;
    overflow: auto;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto';
    margin-bottom: 10px;
}

.comment-create__name,
.comment-create__city,
.comment-create__age{
    border-radius: 5px;
    border: 1px solid #838383;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto';
    margin-bottom: 10px;
    width: 48%;
}

.comment__info-image-wrapper {
    margin-bottom: 10px;
    width: 48%;
}

.comment-create__btn {
    height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: rgb(2, 82, 187);
    border-radius: 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    display: block;
    max-width: 300px;
    width: 100%;
}

.comment_moderate {
    font-size: 18px;
    text-align: center;
    display: none;
}
.comment_moderate.show{
    display: block;
}
.create-comment__image.added {
    background-image: url(../images/check.png);
}
.comment__notice {
    font-size: 18px;
    text-align: center;
    display: none;
    padding-bottom: 10px;
    width: 100%;
}
.comment__notice.show{
    display: block;
}
.ro-attr p, .small-text{
    margin: 5px 0 !important;
    text-align: center !important;
}
.small-text{
    max-width: 300px;
    margin: 0 auto !important;
    line-height: 1.1 !important;
}
.red{
    color: red;
    font-weight: bold;
}
@media (max-width: 767px) {
    .form {
        margin-bottom: 15px;
    }
    .qoute{
        flex-direction: column;
        align-items: center;
    }
    .qoute img{
        margin-top: 0;
        margin-bottom: 10px;
    }
}
.under-form{
    text-align: center !important;
}
.comment__city{
    font-weight: 100 !important;
}
@media (max-width: 479px) {
    .comment-create__name,
    .comment-create__city,
    .comment-create__age{
        width: 100%;
    }
    .comment__info-image-wrapper{
        width: 100%;
    }
    .post-content h1{
        font-size: 20px;
    }
    .post-content h2{
        font-size: 20px;
    }
    .ostatok{
        font-size: 13px !important;
    }
    h3{
        font-size: 16px !important;
    }
    .blank{
        width: 100%;
    }
}

::-ms-clear {
    display: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

*:focus,
*:visited,
*:active,
*:hover {
    outline: 0 !important;
}

a,
a:focus,
a:visited,
a:active,
a:hover {
    outline: 0 !important;
}

*::-moz-focus-inner {
    border: 0;
    outline: none;
}

button::-moz-focus-inner {
    border: none;
}

.nodecor{
    text-decoration: none;
}
*:not(#fake) {
    outline: none;
}

.footer-text{
    max-width: 600px;
    font-size: 12px;
    color: #838383;
}
.ro-attr p, .small-text{ margin: 5px 0 !important; text-align: center !important; } .small-text{ max-width: 300px; margin: 0 auto !important; line-height: 1.1 !important; }
.wrapper{
    width: 100%;
    max-width: 980px;
    margin: 0px auto;
    padding: 10px 15px;
    background-color: #e9e9e9;
}
.wrapper ul{
    list-style-position: inside;
}
.wrapper li{
    margin-bottom: 10px;
}
.wrapper h1{
    text-align: center;
    margin-bottom: 10px;
}
.wrapper h2{
    margin-bottom: 10px;
    font-size: 22px;
}
.wrapper p{
    margin-bottom: 10px;
}
