<section class="section section_job" id="elem5">
    <div class="container">
        <div class="job">
            <div class="job__wrap-title">
                <div class="section__title job__title" data-aos="fade-up">Как мы работаем:</div>
            </div>
            <div class="job__body">
                <div class="job__item">
                    <span>1</span>
                    <div class="job__media">
                        <img src="../media/job/img-1.png" alt="">
                    </div>
                    <p>Заполните форму заказа</p>
                </div>
                <div class="job__item">
                    <span>2</span>
                    <div class="job__media">
                        <img src="../media/job/img-2.png" alt="">
                    </div>
                    <p>Дождитесь звонка оператора</p>
                </div>
                <div class="job__item">
                    <span>3</span>
                    <div class="job__media">
                        <img src="../media/job/img-3.png" alt="">
                    </div>
                    <p>Внесите предоплату или оплатите товар при получении</p>
                </div>
            </div>
        </div>
    </div>
</section>