/* ::::: http://livebloger.org/prostt/css/main.css ::::: */

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.2em;
}

html {
    width: 100%;
}

a:active {
    outline: medium none;
}

:focus {
    outline: medium none;
}


a img {
    border: 0px none;
}

body {
    overflow-x: hidden;
    width: 100%;
    font-family: "PT Sans", sans-serif;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

#wraper {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

#logoAndNav {
    margin-top: 30px;
    text-align: center;
    white-space: nowrap;
    float: left;
    width: 100%;
}

#logo {
    float: left;
    margin-top: -10px;
    text-align: left;
    vertical-align: middle;
}

#logo img {
    width: 280px;
}

header nav,
header nav ul,
header nav ul li {
    display: inline-block;
}

header nav ul {
    margin-top: 10px;
    vertical-align: bottom;
}

header nav {
    margin-left: 0px;
}

header nav ul li {
    font-size: 14pt;
    font-weight: normal;
    margin-left: 12px;
}

header nav ul li::before {
    content: "";
    font-size: 14pt;
    font-weight: bold;
    margin-right: 12px;
    vertical-align: middle;
}

header nav ul li:nth-child(1)::before {
    display: none;
    color: white;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    padding-bottom: 5px;
}

#login {
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
    vertical-align: baseline;
    text-decoration: none;
    color: rgb(102, 102, 102);
    font-size: 14pt;
    border-bottom: 1px dashed rgb(102, 102, 102);
}

#login:active {
    border: medium none;
}

#promoline {
    float: left;
    width: 100%;
    margin-top: 30px;
    height: 59px;
    min-width: 1220px;
    text-align: center;
    overflow: hidden;
}

#promoline a {
    display: inline-block;
    height: 59px;
    overflow: hidden;
    width: 240px;
    color: black;
    text-decoration: none;
    text-align: left;
    vertical-align: top;
}

#promoline a strong {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}

#promoline a strong span {
    font-size: 18px;
    line-height: 18px;
}

#promoline a img {
    height: 59px;
    vertical-align: top;
}

#contentWraper {
    display: inline-block;
    width: 100%;
    min-height: 1800px;
}

#newsColumn {
    margin-top: 40px;
    display: inline-block;
    width: 300px;
}

#newsColumn h2 {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1pt;
    color: rgb(77, 77, 77);
}

#newsColumn h2::before,
#newsColumn h2::after {
    display: inline-block;
    content: " ";
    width: 55px;
    border-bottom: 1px solid rgb(77, 77, 77);
    margin-bottom: 3px;
}

#newsColumn h2::before {
    margin-right: 18px;
}

#newsColumn h2::after {
    margin-left: 18px;
}

#newsColumn p {
    margin-top: 13px;
    height: 68px;
    overflow: hidden;
    font-size: 14px;
}

#newsColumn p strong {
    display: inline-block;
    float: left;
    overflow: hidden;
    height: 65px;
    width: 65px;
    margin-right: 15px;
}

#newsColumn p img {
    margin-left: -6px;
    height: 53px;
    width: 65px;
    margin-top: 3px;
    float: left;
}

#newsColumn p span {
    color: rgb(153, 153, 153);
    font-size: 14px;
}

#newsColumn p a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.content {
    margin-top: 40px;
    vertical-align: top;
    display: inline-block;
    width: 68%;
    margin-right: 0px;
    text-align: left;
}

.content p {
    margin-top: 10px;
    margin-bottom: 15px;
    display: inline-block;
    width: 300px;
    height: 322px;
    overflow: hidden;
    margin-left: 20px;
    font-size: 16px;
    text-align: left;
    line-height: 19px;
}

.content p a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.content p strong {
    display: inline-block;
    clear: both;
    font-size: 18px;
}

.content p span {
    width: 100%;
    display: inline-block;
    clear: both;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: 1px;
}

.content p img {
    margin-right: 7px;
    margin-bottom: 5px;
    height: 160px;
    width: 238px;
    float: left;
}

footer {
    height: 414px;
    background: rgb(100, 156, 191) none repeat scroll 0% 0%;
    text-align: center;
    min-width: 1208px;
    margin: 0px -18px;
}

footer nav {
    width: 100%;
    height: 320px;
    background: rgb(213, 226, 233) none repeat scroll 0% 0%;
    text-align: center;
}

footer nav ul {
    text-align: left;
    display: inline-block;
    width: 180px;
    vertical-align: top;
    margin-top: 20px;
}

footer nav ul li {
    font-size: 11pt;
    display: block;
    padding: 2px 0px;
}

footer nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

footer nav ul li a img {
    vertical-align: top;
}

footer nav ul li a strong {
    font-weight: normal;
    font-size: 13pt;
}

footer div {
    display: inline-block;
    text-align: left;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

footer #disclamer {
    font-size: 10pt;
    width: 590px;
}

footer #disclamer img {
    float: left;
    margin: 3px 15px;
    vertical-align: middle;
}

footer #ageRestriction {
    font-size: 25pt;
    padding: 10px 5px;
    vertical-align: top;
    margin-left: 60px;
    font-family: "PT Sans Narrow", Impact, sans-serif;
}

a.active {
    border-bottom: 4px solid rgb(167, 190, 57);
}

li.active a {
    color: rgb(167, 190, 57) ! important;
}


#newsColumn {
    width: 250px;
}

#newsColumn a.filterSw {
    display: inline-block;
    margin: 10px 10px 30px;
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed black;
}

.content p {
    width: 200px;
}

#newsColumn nav {
    width: 220px;
    border-top: 1px solid rgb(191, 191, 191);
    margin-bottom: 40px;
}

#newsColumn nav ul li {
    display: block;
    font-size: 13pt;
    border-bottom: 1px solid rgb(191, 191, 191);
}

#newsColumn nav ul li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#newsColumn nav ul li a::first-letter {
    text-transform: uppercase;
}

#newsColumn h2 {
    text-transform: uppercase;
    font-size: 11pt;
    font-weight: normal;
    letter-spacing: normal;
    color: rgb(77, 77, 77);
}

#newsColumn h2::before,
#newsColumn h2::after {
    display: none;
}

#popular {
    margin: 0px 0px 40px;
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
    text-align: center;
}

#popular p {
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    line-height: 0px ! important;
}

#popular p a {
    line-height: 10px;
}

#popular p strong {
    height: auto;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
}

#popular p img {
    width: 200px;
    height: auto;
    vertical-align: top;
    margin-left: 0px ! important;
}

#popular p span.category {
    font-size: 10pt;
}

#popular h2 {
    text-transform: uppercase;
    font-size: 11pt;
    margin: 20px 0px;
    text-align: center;
}

#popular h2::before,
#popular h2::after {
    display: none;
}

#text {
    margin-top: 40px;
    vertical-align: top;
    display: inline-block;
    width: 977px;
    margin-right: 0px;
    text-align: center;
}

#align {
    width: 800px;
    text-align: left;
    display: inline-block;
}

#news div > span {
    color: rgb(102, 102, 102);
}

#news span.date {
    display: block;
    font-size: 11pt;
    color: rgb(128, 128, 128);
    text-align: left;
}
#news.article #image img {
    margin: 20px 0px;
    width: 600px;
    height: auto;
}
.clinic__title {
    width: 800px;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    /* content: ':'; */
}
#news h1 {
    font-weight: normal;
    font-size: 26pt;
    width: 100%;
    margin: 20px 0px;
}

#news h1.ArticleHeader {
    font-weight: normal;
    font-size: 26px;
    font-family: "PT Serif", serif;
    text-align: center;
    line-height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin: 0 auto;
}
div#cnt img {
    margin: 0 auto;
    display: block;
}
#news.article #image {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#sectionArticle, #theme {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
}

#sectionArticle {
    margin-bottom: 0px;
    color: rgb(109, 148, 86);
}

#theme {
    margin-top: 0px;
    color: rgb(102, 102, 102);
}

#news span::first-letter {
    text-transform: uppercase;
}

#news #autor {
    display: inline-block;
    text-transform: none;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    margin-top: 0px;
}

#news p {
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0px;
}

#news p img {
    height: auto;
    max-width: 600px;
}

#cnt p:nth-child(1) {
    color: rgb(102, 102, 102);
    font-size: 20px;
    line-height: 20px ! important;
}

#cnt em {
    line-height: 20px ! important;
}

#cnt strong {
    line-height: 20px ! important;
}

#news p a {
    color: rgb(102, 153, 204);
    line-height: 20px ! important;
}

#news p a:visited {
    color: rgb(128, 128, 128);
}

#news p a:active {
    color: rgb(102, 204, 255);
}

blockquote.CitationItalic {
    margin: 40px;
    font-family: "PT Serif";
    font-style: italic;
    text-align: center;
    font-size: 25px ! important;
    line-height: 30px ! important;
}

.c2-2 {
    color: rgb(93, 181, 133);
}


/* ::::: http://livebloger.org/prostt/css/rub.css ::::: */

a.active {
    border-bottom-color: rgb(109, 148, 86);
}

li.active a {
    color: rgb(109, 148, 86) ! important;
}

.content h2 {
    color: rgb(109, 148, 86);
}

#newsColumn a.active {
    color: rgb(109, 148, 86);
    border-bottom-color: rgb(109, 148, 86);
}


/* ::::: http://livebloger.org/prostt/css/social-likes.css ::::: */

* {
    margin: 0px;
    padding: 0px;
}

div#cnt p {
    text-align: justify;
}


/* my styles */
.censored{
    margin: 0 0 10px;
}
.censored span{
    text-transform: uppercase;
    color: red !important;
    font-weight: bold;
    cursor: pointer;
}
div#cnt img.censor-img{
    display: none;
}
/* content */
#wraper{
    width: 95%;
}
#popular{
    width: auto;
}
#popular p{
    margin: 0 5px;
}
#popular p img {
    width: 198px;
}
#news span.date{
    margin: 10px 0;
    font-size: 12px;
}
#news{
    margin: 0 10px;
    padding: 15px 0 0;
}
#contentWraper{
    min-height: inherit;
    display: block;
}
#newsColumn nav,
#align{
    width: auto;
}
#newsColumn{
    width: 20%;
    margin-right: 4%;
}
#text{
    width: 75%;
}
#news h1.ArticleHeader{
    font-family: inherit;
}
#cnt p,
.comments p{
    text-align: justify;
}
#newsColumn p{
    height: auto;
}
#newsColumn p strong{
    margin-right: 0;
}
/* end content */

/* comments */
.clinic__title{
    width: auto;
}
.comments{
    padding: 5px;
}
.comments div{
    border: 1px solid rgb(96, 165, 212);
    margin: 10px 0 ! important;
    padding: 10px;
    border-radius: 5px;
}
.comments div p:last-child{margin-top: 10px;margin-left: 59px;}
/* end comments */
footer{
    margin: 0;
    min-width: inherit;
}

body{
    zoom: 1;
    background: rgb(51, 125, 176);
}
#topBaner{
    background: #337db0;
    overflow: hidden;
}
#topBaner .bannerPlace{
    text-align: center;
}
#news p{
    text-align: justify;
}
img{
    max-width: 100%;
}

#news span.date{
    display: block;
    text-align: right!important;
    margin-top: -13px;
}

.top-block{
    display: none;
    padding: 15px 0;
    max-width: 100%;
}
.textImg{
    display: inline;
    vertical-align: text-bottom;
}
#news p img.textImg{
    display: inline;

}

#news p{
    text-align: justify;
}
.top-block .list a{
    display: inline-block!important;
    width: 125px!important;
    color: #ffffff;
    background: #60a5d4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 15px;
    padding: 5px 0;
}
.list{
    background: #ffffff;
    padding-bottom: 25px;
    max-width: 815px;
    margin: 0 auto;
}
.list__item{
    border: 1px solid #60a5d4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 120px;
    display: inline-block;
    margin: 0 1.9%;
    width: 150px;
    padding: 0 5px;
    vertical-align: top;
}
.list__item img{
    max-width: 100px;
}
.list__item p{

}
.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}
#news h1.ArticleHeader{
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 14px;
    margin-top: 10px;
    font-weight: bold;
}
/* header */
.logo-wrap,
.login-wrap{
    display: inline-block;
    vertical-align: middle;
}
.logo-wrap{
    width: 20%;
}
.login-wrap{
    width: 10%;
}
nav{
    width: 70%;
}
#logo{
    float: none;
}
#logo img{
    width: 100%;
}
#login{
    margin: 0;
}
header nav ul {
    margin: 0;
    vertical-align: inherit;
}
#promoline{
    min-width: inherit;
    font-size: 0;
}
#promoline a{
    width: 18%;
    text-align: center;
}
#promoline a:nth-child(2),#promoline a:nth-child(3){
    width: 23%;
}
#promoline a strong{
    text-align: left;
}
/* end header */


/*  */
@media (max-width: 1190px){
    #promoline a strong span,
    #promoline a strong{
        font-size: 14px;
    }
    #promoline a img{
        width: 25%;
        height: auto;
        vertical-align: bottom;
    }
}

@media (max-width: 1120px){
    header nav ul li{
        font-size: 13pt;
        margin-left: 5px;
    }

    /* footer */
    footer{
        min-width: inherit;
    }
    footer nav ul{
        width: auto;
        margin: 20px 10px 0;
    }
}

@media screen and (max-width: 1000px){
    header{
        display: none;
    }
    #news span.date{
        margin-top: 25px;
    }
    #news p{
        line-height: 17px;
        margin: 10px 0;
    }
    #text{
        padding-bottom: 20px;
    }
    body{
        background: #60a5d4!important;
        padding: 0 0 15px;
    }
    .bannerPlace{
        display: block;
    }
    .top-block .list #top-list{
        width: 100% !important;
        margin: 0;
        background: #ffffff;
        color: #000000;
    }
    .top-block a{
        display: block !important;
        text-decoration: none;
    }
    #topBaner{
        height: auto !important;
        background: #60a5d4!important;
    }
    .top-block{
        display: block;
    }
    #topBaner a{
        display: none;
    }
    #newsColumn{
        display: none;
    }
    footer{
        display: none;
    }
    #text, #contentWraper{
        width: 100%;
    }
    #align{
        width: 90%;
        padding: 0 5%;
    }
    #news span, #news div, #news p{
        width: 100%;
    }
    #news.article #image{
        width: 100%;
    }
    #news h1{
        width: 100%;
    }
    div{
        padding: 0;
    }
    #wraper{
        overflow: hidden;
        padding: 0 5px;
        width: 95%;
        margin: 0 auto;
    }
    #news.article #image img{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #text{
        margin: 0;
    }
    #align{
        width: 100%;
        padding: 0;
    }
    #news span.date{
        text-align: center!important;
    }

    /* content */
    #newsColumn{
        display: none;
    }
    #text{
        width: 100%;
    }

    /* footer */
    footer nav ul:last-child{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .list__item{
        width: 120px;
        height: 150px;
    }
    .list{
        max-width: 625px;
    }
}
@media screen and (max-width: 640px){

    .list__item {
        width: 97px;
        height: 145px;
        margin: 0 1%;
    }
    .list{
        max-width: 475px;
    }

    #news.article #image img{
        width: 100%;
    }
    #news h1.ArticleHeader{
        font-size: 30px;
    }
    .inner img{
        width: 74% !important;
    }
}
@media screen and (max-width: 479px){
    #news h1.ArticleHeader{
        font-size: 25px;
    }
    .top-block{
        max-width: 100%;
        margin: 0 auto;
    }
    #top-list{
        display: none !important;
    }
    div#cnt p,
    .comments p{
        text-align: left;
        font-size: 13px;
    }
}
@media screen and (max-width: 320px){
    #news h1.ArticleHeader {
        font-size: 24px;
        line-height: 28px;
        font-weight: bold;
    }
    body {
        background: #fff!important;
    }
    #wraper
    {
        padding: 0;
    }
    #align{
        width: 98%;
        padding: 0 1%;
    }
}

.censor-active {
    display: block !important;
}
.btn {
    padding: 15px 20px;
    background: #188be2;
    background: -moz-linear-gradient(top, #188be2 0%, #0c4d99 100%);
    background: -webkit-linear-gradient(top, #188be2 0%,#0c4d99 100%);
    background: linear-gradient(to bottom, #188be2 0%,#0c4d99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#188be2', endColorstr='#0c4d99',GradientType=0 );
    color: white !important;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    max-width: 323px;
    text-decoration: none;
    text-align: center;
}