*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer, article, aside, nav, section {
    display: block;
}

html {
    width: 100%;
}

body {
    font-size: 18px;
    line-height: 1.33;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    color: #000;
    background:  #fff;
    font-weight: 400;
    width: 100%;
}
.d-mobile
{
    display: none !important;
}

.clearfix {
    clear: both;
}

.container {

    margin: 0 auto;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1190px;
}

a {
    color: #1659dc;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0 0 25px;
}

.img-responsive {
    max-width: 100%;
}

.d-center {
    display: block;
    margin: 0 auto 10px;
}

.wrapper {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}
.b-header
{
    background: #000;
    text-align: center;
    padding: 34px 0 14px;
}
.b-toggle
{
    float: left;
    margin-top: 5px;
}
.b-toggle span
{
    display: block;
    width: 32px;
    height: 3px;
    background: #5a5a5a;
    margin: 4px 0;
}
.b-search
{
    float: right;
}
.b-search svg
{
    width: 21px;
    height: 22px;
}
.b-nav
{
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}
.b-menu
{
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}
.b-menu a
{
    text-decoration: none;
    color: #000;
    display: inline-block;
    margin-right: 31px;
    position: relative;
    padding: 9px 0;
}
.b-menu a:last-child
{
    margin-right: 0;
}
.b-menu a:not(:last-child):after
{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    right: -20px;
    top: 50%;
    background: #000;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.b-menu a.current:before
{
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -3px;
    background: #2090f5;
}
.b-menu a:hover
{
    color: #2090f5;
}
.b-sidebar
{
    width: 305px;
    float: right;
}
.side-title
{
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 7px;
}

.b-post
{
    font-size: 16px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}
.b-post img
{
    float: left;
    margin-right: 13px;
}
.b-post:hover
{
    color: #2090f5;
}
.b-tag
{
    display: inline-block;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    padding: 2px 12px;
    background: #2090f5;
    text-decoration: none;
}
.b-tag.m-orange
{
    background: #e88f48;
}
.b-tag.m-pink
{
    background: #e673c4;
}
.b-post .b-tag
{
    position: absolute;
    left: 124px;
    bottom: 0;
}
.post-link
{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top:0
}
.b-bnr
{
    background: url("../img/bnr_bg.jpg") no-repeat;
    position: relative;
    margin-top: 25px;
}
.fixed
{
    position: fixed;
    top: 0;
    width: 305px;
    z-index: 10;
    margin-top: 0;
}
.bnr-text
{
    color: #fff;
    font-weight: 900;
    font-size: 24px;
    background: rgba(17,34,99,.52);
    display: inline-block;
    padding: 9px 15px 9px 20px;
    margin: 20px 0 10px;
    max-width: 70%;
    line-height: 1.1;
}
.b-bnr img
{
    margin: 0 0 5px 35px;
}
.b-content
{
    margin-right: 345px;
}
h1
{
    font-weight: 800;
    font-size: 48px;
    line-height: 1;
    margin: 10px 0 25px;
}
.b-content p a
{
    font-weight: 700;
}
.text-center img
{
    margin: 0 0.3% 5px;
}
.btn
{
    font-weight: 700;
    color: #fff;
    background: #2090f5;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.5);
    box-shadow: 0 5px 5px rgba(0,0,0,.5);
    margin: 30px 0;
    font-size: 24px;
}
.btn:hover
{
    -webkit-box-shadow: none;
    box-shadow: none;
}
hr
{
    border: none;
    height: 1px;
    background: #000;
}
.comments-title
{
    font-weight: 700;
    margin: 25px 0 15px;
}
.comment-item
{
    margin-bottom: 20px;
}
.comment-item p
{
    font-size: 16px;
    margin-bottom: 10px;
}
.comment-img
{
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
}
.comment-other
{
    display: table-cell;
    font-size: 14px;
    vertical-align: middle;
}
.comment-other span
{
    display: inline-block;
    position: relative;
    margin-right: 20px;
}
.comment-other span:after
{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    right: -15px;
    top: 50%;
    background: #000;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.comment-other a
{
    color: #000;
    font-weight: 700;
}
.b-footer
{
    margin-top: 30px;
    background: #000;
    padding: 20px 0;
    font-size: 14px;
    color: #5a5a5a;
}
@media (max-width: 990px) {
    .d-large
    {
        display: none;
    }
    .b-header
    {
        padding: 15px 0 1px;
        margin-bottom: 10px;
    }
    .b-toggle
    {
        margin-top: -5px;
    }
    .b-toggle span
    {
        width: 24px;
    }
    .b-logo img
    {
        max-width: 140px;
    }
    .b-search
    {
        margin-top: -3px;
    }
    .b-search svg
    {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    .b-content
    {
        margin-right: 0;
    }
    .b-tag
    {
        font-size: 13px;
        padding: 1px 4px;
    }
    h1
    {
        font-size: 30px;
        margin: 10px 0 20px;
    }
    .comments-title
    {
        margin: 15px 0;
    }
}