html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  color: #333;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Rubik", sans-serif;
  background-color: #f0f0f0
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent
}

a:active,
a:hover {
  outline: 0
}

b,
strong {
  font-weight: bolder
}

img {
  border: 0;
  vertical-align: middle;
  border-style: none;
  max-width: 100%
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit
}

button {
  cursor: pointer
}

html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0
}

*,
.tns-slider>.tns-item,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.row {
  margin-right: -15px;
  margin-left: -15px
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left
}

.col-xs-12 {
  width: 100%
}

.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
  display: table;
  content: " "
}

.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
  clear: both
}

.tns-outer {
  padding: 0 !important
}

.tns-slider {
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s
}

.tns-horizontal.tns-subpixel {
  white-space: nowrap
}

.tns-horizontal.tns-subpixel>.tns-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal
}

.tns-ovh {
  overflow: hidden
}

.tns-visually-hidden {
  position: absolute;
  left: -10000em
}

.tns-transparent {
  opacity: 0;
  visibility: hidden
}

.tns-vpfix {
  white-space: nowrap
}

.tns-vpfix>div,
.tns-vpfix>li {
  display: inline-block
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}

.wrapper {
  overflow: hidden
}

.hide-on-web {
  display: none
}

.button,
.hide-on-wap,
.sec10 .title span,
.sec11 .title span,
.sec12 .title span,
.sec14 .title span,
.sec4 .title span {
  display: block
}

.button {
  z-index: 10;
  width: 100%;
  max-width: 280px;
  margin: 15px auto;
  padding: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background: #378dde;
  border: 0;
  border-radius: 35px;
  outline: 0;
  -webkit-box-shadow: 0 3px 0 #245d91, inset 0 0 3px 2px #47ade7, 1px 8px 11px 4px #a8bcce;
  box-shadow: 0 3px 0 #245d91, inset 0 0 3px 2px #47ade7, 1px 8px 11px 4px #a8bcce;
  cursor: pointer;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s
}

.button:active,
.button:hover {
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(15, 4, 2, .5);
  box-shadow: inset 0 1px 3px 0 rgba(15, 4, 2, .5)
}

.button,
.container {
  position: relative
}

.title {
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 44px;
  line-height: 48px;
  text-align: center;
  color: #fff
}

.title--red {
  color: #f23800
}

.title--yellow span {
  color: #fb0
}

.title--blue span {
  color: #378dde
}

.header {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 0;
  background-color: #000
}

.header__logo,
.header__title {
  display: inline-block;
  font-weight: 700;
  vertical-align: middle;
  padding-top: 10px
}

.header__logo {
  max-width: 160px;
  margin-right: 55px;
  color: #d7d8db;
  font-size: 35px;
  text-transform: uppercase
}

.header__title {
  position: relative;
  font-size: 20px;
  color: #fff
}

.header__title::before {
  content: "";
  position: absolute;
  bottom: -35px;
  left: -30px;
  width: 17px;
  height: 60px;
  background: url(../img/sec1__line-l.png) no-repeat center
}

.header__title::after {
  content: "";
  position: absolute;
  top: -20px;
  right: -30px;
  width: 20px;
  height: 56px;
  background: url(../img/sec1__line-r.png) no-repeat center
}

.sec1 {
  padding-top: 25px;
  background-color: #070707;
  background-image: url(../img/sec1__bg.jpg);
  background-repeat: no-repeat;
  background-position: top center
}

.sec1__seeds-1,
.sec1__seeds-2,
.sec1__seeds-3,
.sec1__seeds-4,
.sec1__seeds-5 {
  position: absolute
}

.sec1__seeds-1 {
  right: 230px;
  bottom: 200px
}

.sec1__seeds-2 {
  top: 90px;
  right: 305px
}

.sec1__seeds-3 {
  top: -40px;
  right: 100px
}

.sec1__seeds-4 {
  top: 130px;
  right: 60px
}

.sec1__seeds-5 {
  right: 305px;
  bottom: 310px
}

.navigation {
  position: relative;
  z-index: 99 !important;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 20px;
  color: #888a8c
}

.navigation__item,
.navigation__item::before {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s
}

.navigation__item {
  position: relative;
  display: inline-block;
  margin-right: 25px;
  vertical-align: bottom;
  color: #888a8c;
  text-decoration: none
}

.navigation__item::before {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #141414
}

.navigation__item--active::before,
.navigation__item:hover::before,
.sec4__note::before {
  background-color: #378dde
}

.navigation__item:hover {
  color: #378dde;
  text-decoration: none
}

.navigation__item--active {
  color: #378dde
}

.title--sec1 {
  position: relative;
  z-index: 2;
  margin-top: 120px;
  margin-bottom: 0;
  font-size: 60px;
  line-height: 60px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, .8)
}

.sec1__cup {
  position: absolute;
  bottom: -60px;
  left: -105px
}

.sec1__prod {
  position: relative;
  bottom: -60px;
  display: block;
  max-width: 490px;
  margin: 0 auto
}

.sec1__component {
  position: absolute;
  right: 0;
  bottom: -60px
}

.sec1__component,
.sec1__cup,
.sec1__prod {
  z-index: 2
}

.sec1__man {
  position: absolute;
  right: 50px;
  bottom: 0;
  width: 286px;
  height: 663px;
  overflow-y: hidden
}

.sec2 {
  padding-top: 80px;
  padding-bottom: 40px
}

.sec3 {
  padding-top: 35px;
  padding-bottom: 25px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#000), to(#1c1c1c));
  background-image: -o-linear-gradient(left, #000 0, #1c1c1c 100%);
  background-image: linear-gradient(90deg, #000 0, #1c1c1c 100%)
}

.sec3 .row,
.sec3__item {
  font-size: 0;
  text-align: center
}

.sec3__item {
  display: inline-block;
  float: none;
  font-size: 16px;
  vertical-align: top;
  color: #fff
}

.sec3__item img {
  max-height: 51px;
  margin-bottom: 20px
}

.sec3__text {
  font-weight: 500
}

.sec4 {
  padding-top: 55px;
  padding-bottom: 45px;
  background: url(../img/sec4__bg.jpg) no-repeat center;
  background-size: cover
}

.sec4 .title {
  margin-bottom: 20px;
  text-align: left;
  color: #1c1c1c
}

.sec4__note {
  position: relative;
  padding-left: 100px
}

.sec4__note::before {
  content: "";
  position: absolute;
  left: 70px;
  width: 8px;
  height: 100%
}

.sec4__man {
  position: absolute;
  bottom: -45px;
  left: 130px;
  display: block
}

.sec11__text b,
.sec4__note b {
  font-style: italic
}

.sec5 {
  padding-top: 55px;
  padding-bottom: 70px
}

.sec5 .row {
  font-size: 0;
  text-align: center
}

.sec5__item {
  position: relative;
  display: inline-block;
  float: none;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 16px;
  vertical-align: bottom;
  font-style: italic
}

.sec5__item::before {
  content: "";
  position: absolute;
  top: 69px;
  left: 50%;
  width: 44px;
  height: 45px;
  background: url(../img/sec5__cross.png) no-repeat center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

.sec5__item img {
  max-height: 182px
}

.sec5__text {
  margin-top: 20px
}

.sec6 {
  padding-top: 55px;
  padding-bottom: 220px;
  background-color: #0f0e14;
  background-repeat: no-repeat;
  background-position: 130% bottom
}

.sec6 .title {
  position: relative;
  z-index: 4;
  margin-bottom: 60px
}

.bordered,
.sec6__list li {
  position: relative;
  color: #fff;
  font-style: italic
}

.bordered,
.bordered__title {
  width: 100%;
  text-align: center
}

.bordered {
  z-index: 4;
  max-width: 545px;
  margin: 0 auto 35px;
  padding-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  border-right: 1px solid #378dde;
  border-bottom: 1px solid #378dde;
  border-left: 1px solid #378dde
}

.bordered p {
  margin: -25px 0 0
}

.bordered__title {
  position: relative;
  top: -35px;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px 10px 15px;
  color: #378dde;
  background-image: -o-repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(32, 31, 32, .8) 5px, rgba(32, 31, 32, .8) 10px);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(32, 31, 32, .8) 5px, rgba(32, 31, 32, .8) 10px)
}

.bordered__title::after,
.bordered__title::before {
  content: "";
  position: absolute;
  top: 34px;
  height: 1px;
  background-color: #378dde
}

.bordered__title::before {
  left: -122px;
  width: 150px
}

.bordered__title::after {
  right: -123px;
  width: 151px
}

.sec6__list {
  position: relative;
  z-index: 4;
  margin: 0;
  padding-left: 0;
  list-style: none
}

.sec6__list li {
  margin-bottom: 15px;
  padding-left: 33px;
  font-weight: 700
}

.sec6__list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 27px;
  background: url(../img/sec6__checkmark.png) no-repeat center
}

.sec6__overweight {
  position: absolute;
  bottom: -220px;
  left: -100px
}

.sec6__muscular {
  position: absolute;
  right: -200px;
  bottom: -220px;
  z-index: 3
}

.sec7 {
  position: relative;
  z-index: 4;
  padding-bottom: 8px
}

.sec7__image {
  width: 100%;
  max-width: 680px;
  margin: 0 auto
}

.sec7__image,
.sec8 {
  position: relative
}

.sec8 .title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  width: 100%;
  max-width: 900px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.sec9 {
  padding-top: 75px;
  padding-bottom: 45px;
  overflow-y: hidden;
  background: url(../img/sec9__bg.png) no-repeat center;
  background-size: contain
}

.sec9__item {
  text-align: center;
  margin-bottom: 90px
}

.sec9__item p {
  margin: 5px auto
}

.sec9__item img {
  margin-bottom: 20px;
  height: 120px
}

.sec9__item-title {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  vertical-align: top;
  color: #1c1c1c;
  font-style: italic
}

.sec9__txt-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: #fb0
}

.sec9__item-title span {
  position: relative;
  z-index: 2
}

.sec9__cup {
  position: absolute;
  bottom: 300px;
  left: 25%
}

.sec9__prod,
.sec9__prod-box {
  position: absolute;
  bottom: -10px;
  left: 300px;
  max-width: 420px
}

.sec9__prod-box {
  bottom: -30px;
  left: 320px;
  max-width: 260px
}

.sec10 {
  padding-bottom: 80px;
  background: url(../img/sec10__bg.png) no-repeat center, #0f0e14
}

.sec10 .title {
  margin-top: 45px;
  margin-bottom: 30px
}

.sec10__item {
  position: relative;
  font-weight: 700;
  text-align: center;
  color: #fff;
  font-style: italic
}

.sec10__item:not(:last-child)::before,
.sec13__item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 90px;
  right: -50px;
  width: 101px;
  height: 26px;
  background: url(../img/sec13__pulse.png) no-repeat center
}

.sec10__item img {
  display: block;
  margin: 0 auto -120px
}

.sec11 {
  padding-top: 50px;
  padding-bottom: 75px
}

.sec11 .title {
  color: #1c1c1c
}

.sec11__doc-wrap {
  position: relative
}

.sec11__signature {
  position: absolute;
  right: 20px;
  bottom: 0
}

.sec11__text {
  position: relative;
  padding-left: 60px
}

.sec11__text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8px;
  height: 85%;
  background-color: #fb0
}

.sec11__text::after {
  content: "";
  position: absolute;
  top: 0;
  left: -19px;
  width: 43px;
  height: 34px;
  background: url(../img/quote.png) no-repeat center
}

.sec12,
.sec12__item {
  background-size: cover
}

.sec12 {
  padding-top: 20px;
  padding-bottom: 50px;
  background: url(../img/sec12__bg.jpg) no-repeat center
}

.sec12 .title {
  width: 100%;
  max-width: 970px;
  margin-right: auto;
  margin-bottom: -5px;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 35px;
  color: #1c1c1c;
  background: url(../img/sec12__lines.png) repeat-y, center
}

.sec12__item {
  position: relative;
  height: 344px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  border: 6px solid #fff;
  -webkit-box-shadow: inset 0 -95px 60px -50px rgba(0, 0, 0, .75), 0 18px 50px -22px rgba(0, 0, 0, .75);
  box-shadow: inset 0 -95px 60px -50px rgba(0, 0, 0, .75), 0 18px 50px -22px rgba(0, 0, 0, .75)
}

.sec12__item--1 {
  background-image: url(../img/sec12__i1.jpg)
}

.sec12__item--2 {
  background-image: url(../img/sec12__i2.jpg)
}

.sec12__item--3 {
  margin-bottom: 0;
  background-image: url(../img/sec12__i3.jpg)
}

.sec12__item--center::after,
.sec12__item--center::before {
  content: "";
  position: absolute;
  bottom: -55px;
  left: -50%;
  width: 245px;
  height: 51px;
  background: url(../img/sec12__arrow.png) no-repeat center
}

.sec12__item--center::after {
  left: 70%;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1)
}

.sec12__text,
.sec13__text h4 {
  font-weight: 700;
  font-style: italic
}

.sec12__text {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  font-size: 18px;
  text-align: center;
  color: #fb0;
  text-shadow: 0 3px 7px rgba(24, 23, 21, .8)
}

.sec12__text--white {
  color: #fff
}

.sec13 {
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #0f0e14
}

.sec13__item {
  position: relative;
  text-align: center;
  color: #fff
}

.sec13__item img {
  height: 194px
}

.sec13__text h4 {
  margin-bottom: 0;
  font-size: 16px
}

.sec13__text {
  font-size: 14px
}

.sec14 {
  padding-top: 50px;
  padding-bottom: 60px
}

.sec14 .title {
  color: #1c1c1c
}

.reviews__name {
  padding: 10px 10px 10px 13px;
  font-weight: 700;
  color: #fb0;
  font-style: italic;
  background: #1c1c1c
}

.reviews__photo {
  width: 100%
}

.reviews__text {
  padding: 13px;
  background: #fff
}

.reviews__text img {
  vertical-align: baseline
}

.reviews__social {
  width: 100%;
  margin-top: 15px;
  padding-right: 13px;
  padding-left: 13px;
  font-size: 0
}

.reviews__char {
  display: inline
}

.reviews__char span,
.text-circle {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fb0
}

.reviews__char span {
  margin-right: 2px;
  padding: 2px 6px;
  border-radius: 3px
}

.text-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%
}

.reviews__date,
.reviews__like {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  vertical-align: top;
  color: #9b9b9c
}

.reviews__like {
  position: relative;
  width: 35%;
  padding-left: 25px
}

.reviews__like::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  background: url(../img/icon_heart.png) no-repeat center
}

.reviews__date {
  width: 65%;
  text-align: right
}

.sec15,
select.form__inp {
  background-repeat: no-repeat
}

.sec15 {
  position: relative;
  padding-bottom: 280px;
  background-color: #070707;
  background-image: url(../img/sec1__bg.jpg);
  background-position-x: center
}

.sec15 .title {
  margin-top: 50px;
  font-size: 50px
}

.sec15 .title div {
  padding-left: 65px
}

.sec15__man {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 65%;
  height: 100%
}

.sec15__component,
.sec15__prod {
  position: absolute;
  right: 0;
  bottom: -360px
}

.sec15__prod {
  right: 270px;
  bottom: -370px;
  height: 300px
}

.price,
.sec15__promo-txt {
  display: inline-block;
  font-weight: 700;
  vertical-align: top
}

.sec15__promo-txt {
  width: 300px;
  margin-left: 85px;
  font-size: 24px;
  color: #fb0;
  font-style: italic;
  text-shadow: 0 4px 8px rgba(0, 0, 0, .8)
}

.price {
  position: relative;
  z-index: 3;
  width: 280px;
  font-size: 0;
  text-align: center;
  color: #0f0e14;
  background: url(../img/price_tag.png) no-repeat center
}

.pirce__discount,
.price__new,
.price__old {
  display: inline-block;
  padding: 10px;
  font-size: 21px;
  vertical-align: middle
}

.pirce__discount {
  width: 24%;
  line-height: 21px;
  color: #fb0
}

.pirce__discount span {
  font-size: 12px;
  line-height: 1
}

.price__new,
.price__old {
  width: 38%
}

.price__old {
  text-decoration: line-through
}

.sec16 {
  padding-bottom: 40px
}

.form {
  margin-top: -260px;
  padding: 0 15px 20px;
  background: #fff
}

.form__title {
  width: calc(100% + 30px);
  margin-bottom: 20px;
  margin-left: -15px;
  padding: 15px 10px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #1c1c1c;
  background-color: #e6e6e6
}

.form__inp {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 15px;
  color: #1c1c1c;
  border: 1px solid #e0e0e0;
  outline: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s
}

select.form__inp {
  background-color: #fff;
  background-image: url(../img/arrow_dropdown.png);
  background-position: 95% 50%;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.form__inp:focus,
.form__inp:hover {
  border-color: #1c1c1c
}

::-webkit-input-placeholder {
  color: #ccc
}

.sec1__seeds-1,
.sec1__seeds-2,
.sec1__seeds-3,
.sec1__seeds-4,
.sec1__seeds-5 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: seeds-1 linear 3s;
  animation: seeds-1 linear 3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1
}

.sec1__seeds-2,
.sec1__seeds-3,
.sec1__seeds-4,
.sec1__seeds-5 {
  animation: seeds-2 linear 3s;
  -webkit-animation: seeds-2 linear 3s;
  -moz-animation: seeds-2 linear 3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: seeds-2 linear 3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: seeds-2 linear 3s;
  -ms-animation-iteration-count: 1
}

.sec1__seeds-3,
.sec1__seeds-4,
.sec1__seeds-5 {
  animation: seeds-3 linear 3s;
  -webkit-animation: seeds-3 linear 3s;
  -moz-animation: seeds-3 linear 3s;
  -o-animation: seeds-3 linear 3s;
  -ms-animation: seeds-3 linear 3s
}

.sec1__seeds-4,
.sec1__seeds-5 {
  animation: seeds-4 linear 3s;
  -webkit-animation: seeds-4 linear 3s;
  -moz-animation: seeds-4 linear 3s;
  -o-animation: seeds-4 linear 3s;
  -ms-animation: seeds-4 linear 3s
}

.sec1__seeds-5 {
  animation: seeds-5 linear 3s;
  -webkit-animation: seeds-5 linear 3s;
  -moz-animation: seeds-5 linear 3s;
  -o-animation: seeds-5 linear 3s;
  -ms-animation: seeds-5 linear 3s
}

@media (min-width:768px) {
  .container {
    width: 320px
  }

  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left
  }

  .col-sm-10 {
    width: 83.33333333%
  }

  .col-sm-9 {
    width: 75%
  }

  .col-sm-8 {
    width: 66.66666667%
  }

  .col-sm-7 {
    width: 58.33333333%
  }

  .col-sm-5 {
    width: 41.66666667%
  }

  .col-sm-4 {
    width: 33.33333333%
  }

  .col-sm-3 {
    width: 25%
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%
  }
}

@media (min-width:992px) {
  .container {
    width: 1000px
  }
}

@media (min-width:1200px) {
  .container {
    width: 1000px
  }
}

@media (max-width:992px) {
  body {
    font-size: 14px;
    line-height: 18px
  }

  .header__title span,
  .hide-on-web {
    display: block
  }

  .hide-on-wap {
    display: none
  }

  .container {
    width: 320px
  }

  .navigation,
  .sticky-wrapper {
    display: none
  }

  .title {
    z-index: 10;
    margin-bottom: 25px;
    font-size: 26px;
    line-height: 30px
  }

  .sec1 {
    background-image: url(../img/sec1__bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover
  }

  .header__logo {
    width: 130px;
    margin-right: 30px;
    font-size: 25px
  }

  .header__title {
    width: 130px;
    font-size: 14px;
    line-height: 18px
  }

  .header__title::before {
    bottom: -15px;
    left: -25px
  }

  .header__title::after {
    right: 0
  }

  .title--sec1 {
    margin-top: 20px;
    text-align: left
  }

  .sec1__man {
    top: -15px;
    right: -170px;
    bottom: 0;
    height: auto
  }

  .sec1__man img {
    position: absolute;
    top: -150px;
    bottom: 0;
    height: 505px
  }

  .sec1__prod {
    width: 232px;
    margin-left: -20px
  }

  .sec1__cup {
    right: -20px;
    left: auto;
    width: 237px
  }

  .sec1__component {
    right: auto;
    bottom: -110px;
    left: -30px;
    width: 189px
  }

  .sec3__item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 100%
  }

  .col-sm-4,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .sec11__text,
  .sec9__item {
    margin-left: 0;
    width: 100%
  }

  .sec11__doc-wrap {
    width: 60%
  }

  .sec3__item:last-child {
    margin-bottom: 0
  }

  .sec4 {
    padding-top: 30px;
    padding-bottom: 30px
  }

  .sec4 .title {
    text-align: center
  }

  .sec10 .title span,
  .sec14 .title span,
  .sec4 .title span {
    display: inline
  }

  .sec4__man {
    bottom: -30px;
    left: -50px;
    z-index: 2;
    width: 132px
  }

  .sec4__note {
    z-index: 3;
    padding-left: 70px
  }

  .sec4__note::before {
    left: 45px;
    z-index: 1
  }

  .sec5 {
    padding-top: 30px;
    padding-bottom: 30px
  }

  .sec5__item {
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 18px
  }

  .sec5__item::before {
    top: 55px
  }

  .sec5__text {
    position: absolute;
    right: 0;
    bottom: 25px;
    left: 0;
    width: 135px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #fff;
    text-shadow: 0 3px 6px rgba(0, 0, 0, .8)
  }

  .sec6 {
    padding-top: 30px;
    padding-bottom: 445px
  }

  .sec6__muscular {
    right: -80px;
    bottom: -445px;
    width: 276px
  }

  .sec6__overweight {
    bottom: -445px;
    left: -23px;
    width: 252px
  }

  .bordered {
    font-size: 18px;
    line-height: 26px
  }

  .bordered__title::before {
    left: -1px;
    width: 60px
  }

  .bordered__title::after {
    right: -1px;
    width: 60px
  }

  .sec6__list {
    font-size: 15px;
    line-height: 22px
  }

  .sec9 {
    overflow: hidden;
    padding-top: 20px;
    background-position: top center
  }

  .sec9__item {
    margin-bottom: 20px
  }

  .sec9__item-title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 26px
  }

  .sec9__text {
    font-size: 15px;
    line-height: 22px
  }

  .sec9__txt-line {
    bottom: 3px
  }

  .sec9__cup,
  .sec9__prod {
    display: none
  }

  .sec10 {
    background-image: none
  }

  .sec10__item {
    margin-bottom: 90px
  }

  .sec10__item img {
    margin-bottom: -110px
  }

  .sec10__item:last-child {
    margin-bottom: -70px
  }

  .sec10__item:not(:last-child)::before {
    top: auto;
    right: auto;
    bottom: -70px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  .sec11 {
    padding-top: 90px;
    padding-bottom: 30px
  }

  .sec11__text,
  .sec15 .title div {
    padding-left: 15px
  }

  .sec11__text p {
    z-index: 4;
    width: 100%;
    max-width: 170px;
    margin-top: 100px
  }

  .sec11__text p b {
    z-index: 4
  }

  .sec11__main-txt,
  .sec11__text p,
  .sec11__text p b {
    position: relative
  }

  .sec11__main-txt::before {
    content: "";
    position: absolute;
    bottom: -55px;
    left: 50px;
    width: 225px;
    height: 6px;
    background: #fb0
  }

  .sec11__main-txt::after {
    content: "";
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 43px;
    height: 34px;
    background: url(../img/quote.png) no-repeat center
  }

  .sec11__doc-wrap {
    position: absolute;
    right: -20px;
    bottom: 0;
    z-index: 3;
    float: none;
    margin: 0;
    padding: 0
  }

  .sec11__doc {
    width: 150px
  }

  .sec11__text::after,
  .sec11__text::before,
  .sec12__item--center::after {
    content: none
  }

  .sec12 {
    background: url(../img/sec12__bg-mobile.jpg) no-repeat center;
    background-size: cover
  }

  .sec12 .title {
    max-width: 595px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px
  }

  .sec12__item {
    position: relative;
    margin-bottom: -15px
  }

  .sec12__item--1 {
    z-index: 3;
    background-image: url(../img/sec12__i2.jpg)
  }

  .sec12__item--2 {
    z-index: 2;
    background-image: url(../img/sec12__i1.jpg)
  }

  .sec12__item--3 {
    z-index: 1;
    background-image: url(../img/sec12__i3.jpg)
  }

  .sec12__item--3::before,
  .sec12__item--center::before {
    content: "";
    width: 72px;
    height: 255px;
    background: url(../img/sec12__arrow-down.png) no-repeat center
  }

  .sec12__item--center::before {
    top: -90px;
    left: -23px
  }

  .sec12__item--3::before {
    position: absolute;
    top: -60px;
    right: -23px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1)
  }

  .sec13__item {
    margin-bottom: 90px
  }

  .sec13__text h4 {
    margin-top: 10px
  }

  .sec13__item:last-child {
    margin-bottom: 0
  }

  .sec13__item:not(:last-child)::before {
    top: auto;
    right: auto;
    bottom: -60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  .reviews__text {
    font-size: 15px
  }

  #customize-controls {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none
  }

  .newxButton,
  .prevButton {
    position: absolute;
    top: 10px;
    z-index: 10;
    outline: 0
  }

  .newxButton {
    right: 15px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1)
  }

  .prevButton {
    right: 60px
  }

  .sec15 {
    padding-bottom: 180px
  }

  .sec15__man {
    top: auto;
    bottom: 0;
    left: 72%;
    height: 505px
  }

  .sec15 .title {
    max-width: 240px;
    margin-bottom: 30px;
    padding: 0;
    font-size: 25px;
    line-height: 30px;
    text-align: left
  }

  .sec15__promo-txt {
    margin-bottom: 15px;
    margin-left: 0;
    font-size: 18px;
    line-height: 24px
  }

  .sec15__component {
    right: auto;
    bottom: -260px;
    left: -35px;
    width: 189px
  }

  .sec15__prod {
    right: auto;
    bottom: -225px;
    left: -10px;
    height: 200px
  }

  .sec16 {
    padding-top: 100px
  }

  .form {
    margin-top: 0
  }

  .form__title {
    background-color: #fb0
  }
}