.new_price {
  color: #b00;
}
.new_price span {
  font-weight: 700;
}
.spin-wrapper {
  -webkit-box-shadow: 0 0 10px;
  box-shadow: 0 0 10px;
  border: 3px solid red;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}
.wheel {
  width: 380px !important;
  margin: 0 auto;
  position: relative;
}
.wheel img {
  max-width: 100%;
}
.wheel-img {
  -webkit-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
}
.wheel-cursor {
  position: absolute;
  width: 35% !important;
  height: 35%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cursor-text {
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 45% !important;
  height: 45%;
  font: 10px Arial !important;
  line-height: 61px !important;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  top: 49%;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: #fff 0 -2px 0 inset, #fff 0 2px 0 inset,
    rgba(0, 0, 0, 0.4) 0 0 5px;
  box-shadow: #fff 0 -2px 0 inset, #fff 0 2px 0 inset,
    rgba(0, 0, 0, 0.4) 0 0 5px;
  background: #fff;
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(234, 234, 234, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eaeaea',GradientType=1);
}
.order_block {
  display: none;
  text-align: center !important;
}
.order_block img {
  width: 100%;
  max-width: 220px;
}
.order_block h3 {
  font: 700 18px Arial !important;
  background: 0 0;
}

.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px inset;
}

@media all and (max-width: 768px) {
  .cursor-text {
    width: 55% !important;
    height: 55%;
    line-height: 70px !important;
  }
}
@media all and (max-width: 520px) {
  .wheel {
    width: 280px !important;
  }
  .cursor-text {
    line-height: 52px !important;
    font-size: 8px !important;
  }
}
@media screen and (max-width: 345px) {
  .wheel {
    width: 250px !important;
  }
}

#timer {
  list-style: none;
}

#timer {
  display: block;
  text-align: center;
}

#timer ul {
  display: inline-block;
  list-style: none;
  color: #ff0000;
}

#timer li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  height: 28px;
}

#timer li.blank {
  line-height: 27px;
  width: 15px;
  color: #000;
  font-size: 20px;
}

#timer li.item {
  width: 25px;
}

#timer i {
  font-style: normal;
  display: block;
  line-height: 30px;
  font-size: 19px;
  font-weight: bold;
  margin: auto;
  color: #f00;
}
#timer li.item span {
  display: none;
}

.super-rotation {
  -webkit-animation-name: super-rotation;
  animation-name: super-rotation;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
@-webkit-keyframes super-rotation {
  70% {
    -webkit-transform: rotate(1600deg);
    transform: rotate(1600deg);
  }
  100% {
    -webkit-transform: rotate(1580deg);
    transform: rotate(1580deg);
  }
}
@keyframes super-rotation {
  70% {
    -webkit-transform: rotate(1600deg);
    transform: rotate(1600deg);
  }
  100% {
    -webkit-transform: rotate(1580deg);
    transform: rotate(1580deg);
  }
}
