@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.c-main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

html {
    font-family: 'Roboto', Arial
}

article,
header,
main,
section {
    display: block
}

a:active,
a:hover {
    outline: 0 none
}

b {
    font-weight: 700
}

h1 {
    margin: .67em 0
}

img {
    border: 0 none;
    vertical-align: middle
}

@media print {

    *,
    *::after,
    *::before {
        background: transparent none repeat scroll 0 0 ! important;
        color: rgb(0, 0, 0) ! important;
        box-shadow: none ! important;
        text-shadow: none ! important
    }

    a,
    a:visited {
        text-decoration: underline
    }

    a[href]::after {
        content: " (" attr(href) ")"
    }

    img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% ! important
    }
}

*,
*::after,
*::before {
    box-sizing: border-box
}

html {
    font-size: 10px
}

body {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    background-color: rgb(150, 0, 0)
}

a {
    background-color: transparent;
    color: rgb(0, 153, 255);
    text-decoration: none
}

a:focus,
a:hover {
    color: rgb(0, 153, 255);
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline-offset: -2px
}

h1 {
    font-family: 'Roboto', Arial;
    font-weight: 900;
    line-height: 1.25;
    color: inherit
}

h1 {
    margin-top: 22px;
    margin-bottom: 11px
}

h1 {
    font-size: 23.4px
}

p {
    margin: 0 0 11px
}

ul {
    margin-top: 0;
    margin-bottom: 11px
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.container::after,
.container::before {
    content: "";
    display: table
}

.container::after {
    clear: both
}

.pull-left {
    float: left ! important
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0 none
}

.c-bar::after,
.c-bar::before,
.c-post-info::after,
.c-post-info::before,
.c-switcher-box::after,
.c-switcher-box::before,
.o-cmr::after,
.o-cmr::before,
.o-jumbotron::after,
.o-jumbotron::before,
.o-row-sm::after,
.o-row-sm::before {
    content: "";
    display: table
}

.c-bar::after,
.c-post-info::after,
.c-switcher-box::after,
.o-cmr::after,
.o-jumbotron::after,
.o-row-sm::after {
    clear: both
}

.c-social-list {
    padding-left: 0;
    list-style: outside none none
}

@media (max-width:1023px) {
    h1 {
        font-size: 27px
    }
}

.text-hide {
    position: absolute;
    margin: 0
}

body {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto
}

a {
    transition: all 0.3s ease 0s;
    outline: 0 none ! important
}

*::-moz-selection {
    background-color: rgb(198, 243, 254)
}

h1 {
    margin-top: 33px;
    margin-bottom: 22px
}

@media (min-width:1280px) {
    h1 {
        margin-top: 44px;
        margin-bottom: 33px
    }
}

p {
    margin-bottom: 22px
}

.o-row-sm {
    position: relative;
}

.o-row-flex {
    display: flex;
    margin-left: -15px;
    margin-right: -15px
}

.o-col-flex {
    padding-left: 15px;
    padding-right: 15px
}

.o-row-sm-flex {
    margin-left: -7px;
    margin-right: -7px
}

.o-row-sm-flex .o-col-flex {
    padding-left: 7px;
    padding-right: 7px
}

.c-main {
    padding: 10px 15px 20px;
}

@media (min-width:1024px) and (max-width:1279px) {
    .o-row-sm {
        position: relative;
    }
}

.o-cmr {
    font-weight: 300;
    font-family: 'Roboto', Arial;
    font-size: 14px;
    line-height: 1.6
}

.o-cmr a {
    font-weight: 700
}

@media (min-width:1024px) {

    .o-cmr {
        font-size: 18px
    }
}

@media (min-width:1280px) {

    .o-cmr {
        font-size: 18px;
        line-height: 1.4
    }
}

@media (min-width:1600px) {

    .o-cmr {
        font-size: 22px;
        line-height: 35px
    }
}

.c-entry-inverse .c-social-list .i-svg {
    fill: rgb(255, 255, 255)
}

.c-social-list {
    text-align: center
}

.c-social-list>li {
    display: inline-block
}

.c-social-list>li>a {
    display: block;
    text-decoration: none
}

.c-social-list>li>a .i-svg {
    transition: fill 0.3s ease 0s
}

.c-social-list>li>a:active .i-fb,
.c-social-list>li>a:focus .i-fb,
.c-social-list>li>a:hover .i-fb {
    fill: rgb(73, 98, 154) ! important
}

.c-social-list>li>a:active .i-tw,
.c-social-list>li>a:focus .i-tw,
.c-social-list>li>a:hover .i-tw {
    fill: rgb(3, 169, 244) ! important
}

.c-social-list>li>a:active .i-vb,
.c-social-list>li>a:focus .i-vb,
.c-social-list>li>a:hover .i-vb {
    fill: rgb(102, 92, 172) ! important
}

.c-social-list>li>a:active .i-tlg,
.c-social-list>li>a:focus .i-tlg,
.c-social-list>li>a:hover .i-tlg {
    fill: rgb(74, 144, 226) ! important
}

.c-social-list>li>a:active .i-msgr,
.c-social-list>li>a:focus .i-msgr,
.c-social-list>li>a:hover .i-msgr {
    fill: rgb(0, 132, 255) ! important
}

.i-svg {
    vertical-align: middle
}

.i-tlg {
    fill-rule: evenodd
}

.o-jumbotron {
    padding: 10px 40px;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    font-size: 14px
}

.o-jumbotron .o-jumbotron {
    margin-bottom: 0;
}

@media (max-width:1279px) {
    .o-jumbotron {
        padding-top: 7px
    }
}

@media (min-width:1366px) {
    .o-jumbotron {
        margin-left: 0;
        margin-right: -54px;
        padding-left: 54px;
        padding-right: 54px
    }
}

.p-name.c-post-title.u-uppercase.js-si-title {
    padding-left: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    text-align: left
}

.c-entry {
    display: block;
    position: relative;
    margin-bottom: 20px
}

.c-entry-inverse {
    color: rgb(255, 255, 255)
}

.c-post {
    margin-bottom: 16px
}

.c-post .c-main>:last-child {
    margin-bottom: 0
}

.c-post-img-wrap {
    position: relative;
    display: block;
    background: rgb(245, 245, 245) none repeat scroll 0% 0%;
    height: auto !important;
}

.o-jumbotron .c-post-img-wrap {
    background: rgb(0, 0, 0) none repeat scroll 0% 0%
}

.c-post-img-wrap img {
    width: 100%;
    height: auto;
    color: rgb(245, 245, 245)
}

.has-pseudo-bg {
    display: block;
    position: relative
}

.has-pseudo-bg::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    right: 0
}

.c-post-img.u-blur {
    min-height: 310px
}

@media (min-width:1280px) {
    .c-post-img.u-blur {
        min-height: 375px
    }
}

.c-post-meta {
    background-color: rgb(255, 255, 255)
}

.c-entry-lg .c-post-meta {
    position: absolute;
    padding: 10px 0 26px;
    bottom: -10px;
    left: 0;
    right: 0
}

@media (max-width:1023px) {
    .c-entry-lg .c-post-meta {
        padding: 8px 0 20px
    }
}

.o-jumbotron.c-entry-lg .c-post-meta {
    left: 0;
    right: 0;
    pointer-events: none;
    padding-left: 54px;
    padding-right: 54px
}

.o-jumbotron.c-entry-lg .c-post-meta .c-post-title {
    pointer-events: all
}

.c-entry-inverse .c-post-meta {
    background-color: transparent
}

.c-entry-lg .c-post-meta {
    padding-bottom: 20px ! important
}

@media (max-width:1365px) {
    .o-jumbotron.c-entry-lg .c-post-meta {
        padding-left: 40px;
        padding-right: 7rem
    }
}

@media (max-width:1023px) {
    .c-entry-lg .c-post-meta {
        padding-bottom: 15px ! important
    }
}

.c-post-img-sleaze {
    display: block;
    width: auto;
    height: auto;
    max-width: 400px;
    width: 100%;
    margin-bottom: 1rem;
    padding: 3px;
    border: 2px solid #bf2316
}

@media (min-width:1280px) {
    .c-post-img-sleaze {
        max-width: 400px;
        width: 100%;
        margin-bottom: 0
    }
}

@media (min-width:1600px) {
    .c-post-img-sleaze {
        max-width: 300px;
        width: 100%;
    }
}

.c-post-title {
    font-size: 16px;
    font-weight: 700
}

.c-post-title.u-uppercase {
    letter-spacing: 1px
}

.c-post-meta .c-post-title,
.o-jumbotron .c-post-title {
    margin: 0
}

.c-post-title {
    color: inherit
}

.c-entry-inverse .c-post-title {
    font-weight: 300
}

.c-entry-lg .c-post-title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 900
}

@media (max-width:1023px) {
    .c-post-img-sleaze {
        max-width: 300px;
        width: 100%;
        padding: 2px
    }

    .c-post-title {
        font-size: 12px
    }

    .c-entry-lg .c-post-title {
        font-size: 21px;
        line-height: 24px
    }
}

@media (min-width:1366px) {
    .c-post-title {
        font-size: 20px
    }
}

@media (min-width:1600px) {
    .c-post-title {
        font-size: 22px
    }
}

.c-post-tag {
    display: inline-block;
    font-size: 12px
}

.c-bar .c-post-tag {
    padding-top: 1px
}

.c-entry-lg .c-bar .c-post-tag {
    padding-top: 0
}

@media (min-width:1280px) {
    .c-bar .c-post-tag {
        font-size: 15px;
        line-height: 22px
    }
}

@media (max-width:1023px) {
    .c-post-tag {
        font-size: 10px
    }

    .c-entry-lg .c-post-tag {
        font-size: 12px
    }
}

.c-post-tag {
    color: rgb(102, 102, 102);
    font-weight: 700
}

.c-entry-inverse .c-post-tag {
    color: rgb(170, 170, 170);
    font-weight: 300
}

.c-port {
    overflow: hidden;
    position: relative
}

.c-bar {
    padding-top: 5px ! important;
    padding-bottom: 5px ! important;
    line-height: 1.6;
    fill: rgb(102, 102, 102)
}

.c-bar a {
    color: inherit;
    text-decoration: none
}

.c-bar a:active,
.c-bar a:hover {
    color: rgb(51, 51, 51);
    fill: rgb(51, 51, 51)
}

.c-entry .c-bar {
    background-color: #3b5998;
    font-size: 14px;
    line-height: 1.6
}

.c-bar-left {
    float: left;
    margin-top: 5px;
}

.c-bar-right {
    float: right;
    margin-right: 10px
}

.c-bar-unit {
    position: relative;
    float: left;
    padding: 5px 10px
}

.c-bar-unit ul {
    margin-bottom: 0
}

@media (max-width:1023px) {
    .c-entry .c-bar {
        font-size: 12px
    }
}

.c-bar-unit .c-social-list {
    font-size: 12px
}

.c-bar-unit .c-social-list a {
    color: rgb(102, 102, 102);
}

.c-entry-inverse .c-bar-unit .c-social-list a {
    color: rgb(170, 170, 170);
    transition: opacity .3s;
}

.c-entry-inverse .c-bar-unit .c-social-list a:hover {
    opacity: .7;
}

.c-social-list li {
    margin-right: -3px
}

.c-social-list li:nth-child(1) a {
    margin-right: 8px
}

.c-social-list li:nth-child(2) a {
    margin-right: 6px
}

.c-social-list li:nth-child(3) a,
.c-social-list li:nth-child(4) a {
    margin-right: 4px
}

.c-bar-unit .c-social-list li:last-child {
    margin-right: -10px
}

.c-bar-unit .c-social-list li:last-child a {
    margin-right: 0
}

@media (max-width:1023px) {
    .c-bar-unit .c-social-list {
        font-size: 10px
    }

    .c-bar-unit .c-social-list a {
        padding: 5px 0 1px
    }

    .c-entry-lg .c-bar-unit .c-social-list {
        font-size: 12px
    }

    .c-entry-lg .c-bar-unit .c-social-list a {
        padding: 0
    }

    .c-entry-lg .c-bar-unit .c-social-list.c-switcher-box {
        margin-top: 3px
    }
}

.c-social-list a {
    padding-left: 10px;
    padding-right: 10px
}

.c-social-list .i-svg {
    width: 25px;
    height: 25px;
}

.c-social-list .i-tw {
    width: 25px;
    height: 25px
}

.c-social-list .i-vb {
    width: 25px;
    height: 25px;
}

.c-social-list .i-tlg {
    width: 25px;
    height: 25px;
}

.c-comments-head {
    padding-bottom: 1px
}

.c-comments-login {
    width: 100%
}

.c-comments-login a {
    display: inline-block;
    margin: -8px 0;
    padding: 8px 0
}

.u-uppercase {
    text-transform: uppercase
}

.u-content-read {
    max-width: 940px
}

.u-mr-0 {
    margin-right: 0 ! important
}

.u-pa-0 {
    padding: 0 ! important
}

.u-pr-0 {
    background-color: #3b5998;
    padding-right: 0 ! important
}

.u-pos-r {
    position: relative
}

.c-entry-inverse .u-text-lady,
.u-text-lady {
    color: #fff
}

.c-si-main {
    position: relative;
    z-index: 9;
    transition: opacity 1.2s ease 0s
}

.c-si-main .c-post>.o-row-sm {
    position: static
}

.c-si-pages {
    position: relative;
    padding: 0;
    max-width: 820px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.c-si-pages .c-si-page {
    position: relative;
    z-index: 8;
}

.c-si-pages .c-si-active {
    z-index: 7
}

.c-si-pages .c-si-main {
    z-index: 1
}

@media print {
    .c-bar-right {
        display: none ! important
    }

    .c-entry-lg .has-pseudo-bg::before {
        background-color: transparent;
        background-image: none
    }

    .c-bar * {
        color: rgb(102, 102, 102) ! important
    }

    .c-bar-left {
        width: 50%
    }

    .c-bar-unit {
        border-right: 0 none ! important
    }

    .c-entry-lg .c-post-meta,
    .c-post-meta {
        position: relative ! important;
        padding-bottom: 0 ! important
    }

    .c-post-title {
        color: rgb(0, 0, 0) ! important;
        margin: 22px 0 0 ! important
    }

    .o-jumbotron {
        margin-bottom: 0 ! important;
        background-color: transparent ! important;
        overflow: visible
    }

    .c-main {
        float: none ! important;
        width: 100% ! important;
        margin-right: 0 ! important
    }
}

.comTitle {
    padding: 5px 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #960000;
    border-bottom: 2px #333 solid;
    font-size: 27px;
    text-align: left
}

body {
    font-family: 'Roboto', Arial;
    color: #333;
    line-height: 1.5625
}

@media (min-width:759px) and (max-width:1024px) {
    .c-main .u-content-read {
        font-size: 20px
    }

    .c-entry-lg .c-post-title {
        font-size: 21px
    }

    .o-jumbotron {
        font-size: 11px;
        padding: 0
    }
}

@media (min-width:1024px) and (max-width:1279px) {
    .c-entry-lg .c-post-title {
        font-size: 19px;
        line-height: 24px
    }
}

@media (max-width:759px) {

    html,
    body {
        width: 100%
    }

    #main-content.container.o-wrap.c-si-main.t-lady.js-si-main {
        width: 100%
    }

    .c-post-img-sleaze {
        width: 100%
    }

    .container {
        margin: 0;
        padding: 0
    }

    .c-post-img-sleaze {
        width: 100%
    }

    .c-main .u-content-read {
        margin-left: 0;
        font-size: 18px;
        line-height: 1.4
    }

    .o-jumbotron {
        font-size: 11px;
        padding: 0
    }

    h1 {
        font-size: 23.4px
    }

    .c-post-title {
        font-size: 17px
    }

    .c-post-img-wrap {
        width: 800px;
        height: 310px
    }

    .o-jumbotron.c-entry-lg .c-post-meta {
        padding: 10px 0
    }

    .p-name.c-post-title.u-uppercase.js-si-title {
        max-width: 100%;
        margin-bottom: -7px;
        font-size: 16px;
        line-height: 2.7rem
    }

    .c-entry-lg .c-post-title {
        font-size: 21px
    }
}

.btn3 {
    height: auto;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    padding: 4px 7px;
    color: #fff;
    background: #c73030;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    max-width: 250px;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s
}

.btn3:hover {
    transform: scale(1.1);
    background: red;
    color: #fff;
    text-decoration: none
}

.head {
    height: 6rem;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(150, 0, 0)
}

@media (max-width:759px) {

    .head {
        height: 6rem;
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
        background-color: #bf2316
    }
}

#newhead {
    float: left;
    margin-bottom: 0
}

.lipoint {
    float: left;
    margin-right: 5px;
    margin-top: 8px;
    list-style: none
}

@media all and (max-width:600px) {
    .c-post-img-wrap {
        width: 800px;
        height: 330px
    }
}

@media all and (max-width:400px) {
    .c-post-img-wrap {
        width: 800px;
        height: 360px
    }
}

@media all and (max-width:350px) {
    .c-post-img-wrap {
        width: 800px;
        height: 360px
    }
}

@media all and (max-width:700px) {
    .c-post-img-wrap {
        width: 100%;
    }
}

h2 {
    font-size: 22px;
}


.c-main h1 {

    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: bold;

    line-height: 1;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(255, 1, 1);
}


.form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0
}

.form .img {
    width: 270px
}

.form .img img {
    width: 230px;
    margin: 0 auto;
    display: block
}

.btn3 {
    height: auto;
    display: block;
    margin: 10px auto 30px auto;
    cursor: pointer;
    padding: 4px 7px;
    color: #fff;
    background: #c73030;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    max-width: 250px;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s;
    font-family: 'Roboto', Arial;
    overflow: hidden;
}

.btn3:hover {
    transform: scale(1.1);
    background: red;
    color: #fff;
    text-decoration: none
}

@media all and (max-width:600px) {
    .form {
        width: 100%;
        flex-direction: column;
        padding: 0
    }

    .form .img {
        padding: 0
    }
}

@media all and (max-width:400px) {
    .form .img {
        width: 100%
    }
}

.head {
    height: 6rem;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(150, 0, 0)
}

@media (max-width:759px) {

    .head {
        height: 6rem;
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
        background-color: #bf2316;
        overflow: hidden;
    }
}

#newhead {
    float: left;
    margin-bottom: 0
}

.lipoint {
    float: left;
    margin-right: 15px;
    margin-top: 8px;
    font-size: 16px;
    list-style: none
}

#comment-component-text .comment__image {
    width: 70px !important;
    height: auto !important;
}

#comment-component-text .comment__content .comment__name {
    color: #333 !important;
    font-size: 19px !important;
    font-family: 'Roboto', Arial;
    line-height: 1.6 !important;
}

#comment-component-text .comment .comment__text {
    font-size: 17px !important;
    font-family: 'Roboto', Arial;
    line-height: 1.6 !important;
}

.footer {
    margin-top: 10px;
}

@-webkit-keyframes dotty {
    0% {
        content: '';
    }

    25% {
        content: '>';
    }

    50% {
        content: '>>';
    }

    75% {
        content: '>>>';
    }

    100% {
        content: '';
    }
}

@keyframes dotty {
    0% {
        content: '';
    }

    25% {
        content: '>';
    }

    50% {
        content: '>>';
    }

    75% {
        content: '>>>';
    }

    100% {
        content: '';
    }
}

h2.new {
    background: #ea84a1;
    display: inline-block;
    padding: 0px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    margin-top: 0;
    font-family: 'Roboto', Arial;
}

.prod_wrapper {
    text-align: center;
    margin: 20px auto;
    max-width: 220px;
    width: 100%;
}

.prod_wrapper img {
    width: 100%;
}

.question {
    background-color: #f5f7fa;
    border-radius: 10px;
    padding: 7px;
    overflow: hidden
}

.question:before {
    content: "";
    background: rgba(0, 0, 0, 0) no-repeat scroll 0% 0% / 100% auto;
    border-radius: 50%;
    float: left;
    padding: 47px;
    margin-right: 10px
}

.no-webp .question:before {
    background-image: url("../images/rep.jpg");
}

.webp .question:before {
    background-image: url("../images/rep.webp");
}

.question .name::before {
    content: "Reportero: ";
    color: rgb(243, 32, 11);
    font-weight: 700
}

.answer {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 7px;
    overflow: hidden
}

.answer:before {
    content: "";
    background: rgba(0, 0, 0, 0) no-repeat scroll 0% 0% / 100% auto;
    border-radius: 50%;
    float: left;
    padding: 47px;
    margin-right: 10px
}

.no-webp .answer:before {
    background-image: url("../images/100.png");
}

.webp .answer:before {
    background-image: url("../images/100.webp");
}

.answer .name::before {
    content: "Spc. Rodrigo: ";
    color: rgb(243, 32, 11);
    font-weight: 700
}

.order-form .top {
    background-size: 100px auto;
}

#newhead a {
    color: #fff;
    text-decoration: none;
}

#newhead a:hover {
    text-decoration: underline;
}

@media (max-width:759px) {
    .lipoint:not(:first-of-type) {
        display: none;
    }
}

@media (max-width:550px) {
    .prod_wrapper {
        max-width: 180px;
    }

    .order-form .top h2 {
        font-size: 28px !important;
    }

    .order-form .frame p {
        line-height: 20px !important;
    }

    #scroll-2 {
        position: relative;
        top: -20px;
    }
}

.order {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', Arial;
}

.order * {
    box-sizing: border-box;
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}

.order-form {
    max-width: 600px;
    padding: 20px;
    margin: 20px auto;
    background: #fff url("../images/formbg.jpg") no-repeat;
    background-size: 100% 100%;
}

.order-form .top h2 {
    margin: 25px 0 0;
    padding: 0;
    line-height: 32px;
    font-size: 30px;
    font-weight: 700
}

.order-form .top p {
    font-size: 14px;
    color: #00f;
    font-style: italic;
}

.order-form .price p span {

    font-weight: 700;

}

.old {
    color: rgb(178, 178, 178);
    text-decoration: line-through;
    font-size: 18px;
}

.new {
    color: red;
    font-size: 30px;
}

.order-form .frame {
    margin: 10px 10px 0;
    border: 2px solid #0299ff;
    padding: 10px;
}

.order-form .frame p {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
}

.order-form input {
    margin: 10px auto 0;
}

.order-form label {

    display: block;
    margin: 10px auto 0;
    padding: 5px 0;
    text-align: center;
    font-weight: 700;
    font-size: 16px
}

.order-form input {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e9d7dc;
    font-size: 16px;
}

.order-form p {
    font-size: 12px;
    margin: 0;
    line-height: 30px;
}

.order-form button {
    max-width: 300px;
    width: 100%;
    display: block;
    margin: 20px auto;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, .45);
    border-radius: 5px;
    background: #0299ff;
    transition: all .15s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 16px;
    animation: 1s pulse infinite alternate ease-in-out;
}


.order-form button {
    background: red;
    transition: background .3s;
}

.order-form button:hover {
    background: rgb(139, 15, 15);
}

#comment-component-text .comment .comment__text img {
    width: 300px;
}

img {
    max-width: 100%;
}

.btn3 {
    animation: 1s pulse infinite alternate ease-in-out;
}

.submit-form:after {
    display: inline-block;
    -webkit-animation: dotty steps(1, end) 1.5s infinite;
    animation: dotty steps(1, end) 1.5s infinite;
    content: '';
    position: absolute;
    margin-left: 10px;
    margin-top: 0px;
}

@-webkit-keyframes dotty {
    0% {
        content: '';
    }

    25% {
        content: '>';
    }

    50% {
        content: '>>';
    }

    75% {
        content: '>>>';
    }

    100% {
        content: '';
    }
}

@keyframes dotty {
    0% {
        content: '';
    }

    25% {
        content: '>';
    }

    50% {
        content: '>>';
    }

    75% {
        content: '>>>';
    }

    100% {
        content: '';
    }
}

.order-form button:hover {

    text-decoration: none;
    color: #fff
}

.order-form button:disabled {
    opacity: .5
}

.order-form button:active {
    position: relative;
    top: 1px
}

.order-form .timelimit {
    font-size: 14px;
    margin: 0 0 10px;
}

.timer {
    display: inline-block;
    background: url("../images/timerIcon2.png") no-repeat;
    padding-left: 14px;
    color: red;
    font-weight: 700;
    line-height: 15px;
}

.order__block {
    border: 1px solid #0299ff;
    padding: 25px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.order__block h2, .order__block h3 {
    font-size: 24px;
    margin: 0;
}

.inL_984182 {
    color: red;
}

@media screen and (max-width: 480px) {
    .order-form label {
        font-size: 14px
    }

    .order-form button {
        font-size: 16px
    }

    .order-form {
        padding: 10px
    }

    .p-name.c-post-title.u-uppercase.js-si-title {
        font-size: 15px;
    }
}

@media screen and (max-width: 459px) {
    .order-form input {
        font-size: 13px;
    }

    .btn3 {
        padding: 15px;
        max-width: 100%;
    }
}


@media screen and (max-width: 349px) {
    .order-form .top h2 {
        margin: 0;
    }

    .order-form input {
        font-size: 13px
    }

    .order-form .frame {
        margin: 10px;
    }

    .new {
        font-size: 26px;
    }
}

@media (max-width: 500px) {
    .img-spec {
        max-width: 100%;
    }
}

#standardfooter {
    box-sizing: border-box;
    padding: 20px 15px;
    text-align: center;
}

#standardfooter a {
    color: inherit;
}

footer p {
    margin-bottom: 0;
}

.ev-footer, .create_rom_footer {
    padding-bottom: 0;
}

#comment-component-text {
    color: #333;
    line-height: 1.3;
    font-size: 14px;
    font-family: 'Roboto', Arial;
}

#comment-component-text * {
    margin: 0;
    padding: 0;
}

#comment-component-text img {
    max-width: 100%;
    line-height: 1;
    display: inline-block;
    border-radius: 50%;
}

#comment-component-text .comment {
    border-bottom: 1px dashed #ccc;
    display: flex;
    align-items: flex-start;
    padding: 0 0 15px;
    margin: 0;
    margin-bottom: 15px;
}

#comment-component-text .comment:last-of-type {
    border: none;
    padding-bottom: 0;
    margin-bottom: 20px;
}

#comment-component-text .comment__content {
    padding: 0 10px;
    width: 100%;
}

#comment-component-text .comment__content .comment__name {
    margin-top: 0;
    color: #365398;
    font-size: 14px;
    text-align: left;
    text-align-last: left;
    font-weight: 700;
}

#comment-component-text .comment__image {
    flex-grow: 0;
    padding: 0 10px;
    width: 70px;
    height: 50px;
    border-radius: 50%;
}

#comment-component-text .comment .comment__text {
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 1.4;
}

#comment-component-text .comment .comment__text img {
    display: block;
    margin: 8px 0 0;
    border-radius: 0 !important;
}

#comment-component-text .comment__time {
    color: rgb(158, 158, 158);
    font-size: 11px;
    line-height: 1.4;
}

.inL_556696 {
    max-width: 800px
}

.inL_838391 {
    position: relative;
    top: 0;
    left: -26px;
    border: 1px solid white;
    padding: 0 5px 0 5px;
}

.inL_783254 {
    cursor: pointer;
    color: white
}

.inL_911000 {
    margin-top: 20px;
}

.inL_464776 {
    cursor: pointer;
    color: white
}

.inL_5415 {
    margin-top: 20px;
}

.inL_922053 {
    cursor: pointer;
    color: white
}

.inL_208915 {
    margin-top: 20px;
}

.inL_340075 {
    cursor: pointer;
    color: white
}

.inL_970295 {
    margin-top: 20px;
}

.inL_113786 {
    cursor: pointer;
    color: white
}

.inL_166454 {
    margin-top: 20px;
}

.inL_141969 {
    cursor: pointer;
    color: white
}

.inL_199247 {
    margin-top: 20px;
    margin-right: 0;
}

.inL_447332 {
    cursor: pointer;
    color: white
}

.inL_360663 {
    max-width: 800px;
    width: 100%;
    margin: 0 auto
}

.inL_108274 {
    width: 24px;
    height: auto
}

.inL_881769 {
    width: 24px;
    height: auto
}

.inL_273258 {
    width: 24px;
    height: auto
}

.inL_308404 {
    width: 24px;
    height: auto
}

.inL_550152 {
    width: 24px;
    height: auto
}

.inL_116487 {
    color: #960000;
    font-size: 23.4px;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 0;
    padding-bottom: 0;
}

.inL_531448 {
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.inL_171703 {
    display: block;
    margin-top: 0;
    background: rgb(238, 238, 238);
    color: #666;
    font-size: 14px;
}

.inL_636656 {
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.inL_58617 {
    display: block;
    margin-top: 0;
    background: rgb(238, 238, 238);
    color: #666;
    font-size: 14px;
}

.inL_754643 {
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.inL_790544 {
    display: block;
    margin-top: 0;
    background: rgb(238, 238, 238);
    color: #666;
    font-size: 14px;
}

.inL_875567 {
    color: #960000;
    font-weight: bold
}

.inL_546296 {
    color: rgb(208, 1, 1)
}

.inL_15261 {
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.inL_217120 {
    display: block;
    margin-top: 0;
    background: rgb(238, 238, 238);
    color: #666;
    font-size: 14px;
}

.inL_105132 {
    text-decoration: underline
}

.inL_535512 {
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.inL_688379 {
    display: block;
    margin-top: 0;
    background: rgb(238, 238, 238);
    color: #666;
    font-size: 14px;
}

.inL_184858 {
    color: red
}

.inL_601082 {
    height: 10px
}

.inL_271082 {
    line-height: 18px
}

.inL_541581 {
    width: 100%
}

.inL_814736 {
    text-align: center
}

.inL_205944 {
    background: rgb(0, 153, 255);
    max-width: 300px;
    padding: 10px;
    margin-bottom: 0;
}

.inL_657121 {
    background-color: #bf2316;
    padding: 0px 0 2px;
    color: #fff;
    font-family: 'Roboto', Arial;
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    .inL_116487 {
        font-size: 20px;
    }
}

@media (max-width:550px) {
    .webp .order-form,
    .no-webp .order-form {
        background-image: none;
    }
    
    .order-form {
        background: #f1eceb;
        border: 2px solid #bebab6;
        border-radius: 3px;
    }
}