html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1f1d1d
}

body {
    margin: 0
}

header,
nav,
section {
    display: block
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 900
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

img {
    border: 0
}

@media print {

    *,
    ::after,
    ::before {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent none repeat scroll 0 0 !important;
        box-shadow: none !important
    }

    a,
    a:visited {
        text-decoration: underline
    }

    a[href]::after {
        content: " (" attr(href) ")"
    }

    img {
        page-break-inside: avoid;
        max-width: 100% !important
    }

    h3 {
        page-break-after: avoid
    }
}

* {
    box-sizing: border-box
}

::after,
::before {
    box-sizing: border-box
}

li {
    margin-bottom: 20px
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.42857;
    color: #333;
    background-color: #fff
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

h1,
h3 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 10px
}

h1 {
    font-size: 36px
}

h3 {
    font-size: 24px
}

p {
    margin: 0 0 10px
}

.text-center {
    text-align: center
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.quiz {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0 !important
}

.quiz__item {
    border: 1px solid;
    padding: 10px;
    line-height: 1.3 !important;
    margin-bottom: 0;
    width: 32%;
    font-size: 18px
}

.quiz__item-percent {
    font-weight: 700;
    display: block;
    font-size: 20px
}

.quiz__note {
    text-align: left;
    font-size: 14px !important;
    font-style: italic;
    margin-bottom: 0 !important
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
        padding-left: 25px;
        padding-right: 25px
    }
}

.col-md-8,
.col-xs-12 {
    position: relative;
    min-height: 1px
}

.col-xs-12 {
    float: left;
    width: 100%
}

@media (min-width:992px) {
    .col-md-8 {
        float: left
    }
}

.container::after,
.container::before,
.row::after,
.row::before {
    display: table;
    content: " "
}

.container::after,
.row::after {
    clear: both
}

body {
    overflow-x: hidden;
    margin-top: 0
}

a {
    cursor: pointer
}

a:focus,
a:hover {
    outline: medium;
    text-decoration: none
}

.m-t-25 {
    margin-top: 15px !important
}

.blockquote {
    border: 1px solid #fe6a6a;
    padding: 20px 40px;
    font-weight: 700;
    position: relative
}

.blockquote::before {
    content: '“';
    font-size: 50px;
    color: #fe6a6a;
    position: absolute;
    top: 20px;
    left: 10px
}

.blockquote::after {
    content: '”';
    font-size: 50px;
    color: #fe6a6a;
    position: absolute;
    bottom: -10px;
    right: 10px
}

.nobold {
    font-weight: 400
}

.content-box {
    margin-bottom: 15px;
    margin-top: 15px
}

.content h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin: 30px 0 6px;
    color: #222;
    font-size: 46px;
    line-height: 46px
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10px;
    line-height: 1.4;
    font-size: 18px;
    color: #222
}

.content p a {
    color: #0198bd
}

.content p a:focus,
.content p a:hover {
    color: #0198bd
}

.content h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #222;
    margin: 26px 0;
    font-size: 26px;
    line-height: 1.3;
    text-align: left
}

@media only screen and (max-width:767px) {
    .content h1 {
        font-size: 30px
    }

    .content p {
        text-align: left
    }
}

.comments {
    background: #fff none repeat scroll 0 0
}

.doc-info {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 30px
}

.doc-avatar {
    flex-shrink: 0;
    margin-right: 15px;
    align-items: flex-start
}

.doc-text p:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important
}

.doc-text p:first-child {
    margin-top: 0 !important;
    padding-bottom: 0 !important
}

i {
    display: block;
    text-align: center;
    margin-top: 5px
}

.doc-avatar {
    border: 1px solid #ccc;
    padding-bottom: 3px
}

@media (max-width:640px) {
    .doc-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px
    }

    .doc-avatar {
        margin-right: 0;
        margin-bottom: 15px
    }
}

.clearfix {
    clear: both
}

.recent {
    margin-left: 0;
    margin-right: 0;
    padding: 0
}

.recent h3 {
    padding-bottom: 0;
    margin-bottom: 0 !important
}

body {
    margin: 0;
    padding: 0
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

header,
nav,
section {
    display: block
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

img {
    border: 0
}

@media print {
    * {
        color: #000 !important;
        text-shadow: none !important;
        background: 0 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    a,
    a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    img {
        page-break-inside: avoid;
        max-width: 100% !important
    }

    h3,
    p {
        orphans: 3;
        widows: 3
    }

    h3 {
        page-break-after: avoid
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    -webkit-tap-highlight-color: transparent
}

body {
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

a {
    font-weight: 700;
    text-decoration: none
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

h1,
h3 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 10px
}

h1 {
    font-size: 36px
}

h3 {
    font-size: 24px
}

p {
    margin: 0 0 10px
}

.text-center {
    text-align: center
}

.container {
    margin-right: auto;
    margin-left: auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px
}

.col-xs-12 {
    float: left;
    width: 100%
}

header,
nav,
section {
    display: block
}

img {
    border: 0
}

body,
br,
div,
h1,
h3,
header,
nav,
p,
section {
    margin: 0;
    padding: 0;
    background: 0 0
}

header,
nav,
section {
    display: block
}

.red {
    font-weight: 700;
    color: red
}

.copyright {
    background: #1f1d1d;
    font-size: 14px;
    padding: 25px;
    text-align: center;
    color: #fff;
    box-shadow: 0 5px 0 0 #1f1d1d
}

.red {
    color: red
}

.lift1 {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block
}

.full__img {
    width: 500px
}

.pack {
    width: 100%;
    margin: 20px auto;
    max-width: 300px
}

.composition {
    display: flex;
    flex-wrap: wrap
}

.composition__item {
    width: 50%;
    padding: 15px;
    text-align: center !important
}

.composition__item p b {
    font-size: 22px
}

@media only screen and (max-width:479px) {
    .comments {
        padding-bottom: 0
    }

    .recent {
        padding-bottom: 0
    }
}

@media (max-width:767px) {
    .composition__item p b {
        font-size: 20px
    }

    .composition__item p {
        text-align: center
    }

    .content p {
        font-size: 16px
    }

    li {
        margin-bottom: 10px
    }

    .composition__item {
        width: 100%;
        padding-bottom: 0
    }

    .composition__item:not(:last-child) {
        margin-bottom: 0
    }

    .composition {
        border: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
}

.red {
    color: red
}

h1.article-header {
    font-size: 32px;
    line-height: 44px;
    padding: 0;
    max-width: 992px;
    margin-top: 25px;
    text-align: center;
    color: red
}

.h2 {
    font-size: 25px;
    text-align: center
}

@media screen and (min-width:1200px) {

    .content p,
    .m-t-25 {
        line-height: 28px !important
    }

    .m-t-25 {
        margin-bottom: 25px !important
    }

    h3 {
        margin-top: 30px !important;
        margin-bottom: 10px !important;
        text-align: center
    }

    .quiz__item {
        text-align: center;
        font-size: 20px
    }

    .quiz__item-percent {
        font-size: 22px
    }
}

a.button {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #d44b38;
    padding: .7em 1.5em;
    outline: 0;
    display: inline-block;
    margin-bottom: 15px
}

a.button:hover {
    background: #e85f4c
}

a.button:active {
    background: #980f00
}

@media screen and (max-width:600px) {
    h1.article-header {
        font-weight: 900;
        letter-spacing: -1.2px;
        padding: 0 16px;
        margin-bottom: 10px;
        margin-top: 20px
    }
}

@media screen and (max-width:435px) {
    h1.article-header {
        font-size: 24px;
        line-height: 30px;
        font-weight: 900;
        letter-spacing: -1.2px;
        padding: 0;
        margin-bottom: 10px;
        margin-top: 20px
    }
}

.photo__desc {
    text-align: center !important;
    font-size: 15px !important;
    margin-top: 5px !important
}

a:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    outline: 0 !important
}

@media only screen and (max-width:860px) {
    h1.article-header {
        font-size: 28px;
        line-height: 42px
    }
}

@media (max-width:600px) {
    h1.article-header {
        font-size: 24px;
        line-height: 1.1
    }

    .h2 {
        font-size: 19px;
        padding-bottom: 0;
        margin: 0
    }

    .content h3 {
        margin: 15px 0
    }
}

a {
    font-weight: 700;
    color: #00f !important
}

a.button {
    color: #fff !important
}

a {
    color: #6f9edb
}

body,
p {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

img {
    border: 0
}

body {
    visibility: visible !important
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

img {
    max-width: 100%;
    height: auto
}

strong {
    font-weight: 700
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px
}

p {
    margin-top: 0;
    margin-bottom: 21px
}

a:active,
a:focus {
    outline: 0
}

a {
    color: #4db2ec;
    text-decoration: none
}

@media print {

    body,
    html {
        background-color: #fff;
        color: #000;
        margin: 0;
        padding: 0
    }

    body {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        zoom: 80%
    }

    img {
        max-width: 100%;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body,
html {
    font-size: 100%
}

body {
    background: #fff;
    color: #222;
    cursor: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle
}

body,
div,
html,
img,
p,
span {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 16px
}

body {
    background: #e4e4e4;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3
}

@media screen and (max-width:599px) {
    body {
        line-height: 1.2 !important
    }
}

body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body:focus,
html:focus {
    outline: 0
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #08f;
    color: #fff;
    text-shadow: none
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

ol li {
    line-height: 1.5
}

::selection {
    color: #fff;
    text-shadow: none
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

.date {
    margin-top: 10px
}

.comment-text p {
    padding-left: 20px;
    margin: 0;
    font-size: 18px
}

.ava {
    display: inline-block;
    margin-right: 6px
}

.ava img {
    width: 50px;
    height: 50px
}

.comment-content {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .425)
}

.comment-content .ava img {
    margin-bottom: 0;
    margin-top: 10px
}

.name-date {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px
}

.comment-text p {
    padding-left: 60px;
    margin: 0
}

.comment-content .city {
    font-size: 16px !important
}

.comment-contianer {
    padding: 0 15px
}

.comment-content p {
    margin-bottom: 5px !important
}

a {
    text-decoration: none !important
}

.comment-answer {
    padding-left: 60px
}

@media (max-width:900px) {
    .comment-text p {
        font-size: 17px !important
    }
}

@media screen and (max-width:479px) {
    .ava {
        margin-bottom: 5px
    }

    .comment-contianer {
        padding: 0
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

img {
    height: auto;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: auto
}

body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body:focus,
html:focus {
    outline: 0
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #08f;
    color: #fff;
    text-shadow: none
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

::selection {
    background: #08f;
    color: #fff;
    text-shadow: none
}

::selection {
    background-color: #221c42;
    color: #fff
}

::selection {
    background-color: #221c42;
    color: #fff
}

body,
html {
    overflow-x: hidden
}

img {
    max-width: 100%;
    height: auto
}

::selection {
    color: #fff;
    text-shadow: none
}

::selection {
    background: #08f;
    color: #fff;
    text-shadow: none
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

@media screen and (max-width:479px) {
    .comment-answer {
        padding-left: 0
    }
}

.hide-wrap {
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 970px !important
    }

    .row {
        width: 948px !important
    }

    .col-md-8 {
        width: 948px !important
    }

    .advantage__item {
        width: 100%
    }

    .quiz__item {
        font-size: 18px !important
    }
}

.comment__img {
    margin: 5px 0 5px auto;
    padding-left: 60px
}

.text-bold {
    font-weight: 700
}

.black-text {
    color: #222
}

.advantage__item {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto 20px;
    width: 288px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.advantage__item-image {
    width: 110px;
    background-color: #6e93a8
}

.advantage__item-text-1 {
    width: calc(100% - 110px);
    padding: 0 5px;
    text-align: center;
    position: relative
}

.advantage__item-text-1::after {
    content: '';
    width: 95%;
    height: 2px;
    background-color: #f73636;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-10deg);
    transform: translate(-50%, -50%) rotate(-10deg)
}

.advantage__item-text-2 {
    width: 100%;
    background-color: #6e93a8;
    padding: 10px;
    color: #fff !important;
    text-align: center;
    margin-bottom: 0 !important
}

@media screen and (max-width:767px) {

    .advantage__item-text-1,
    .advantage__item-text-2 {
        text-align: center !important
    }
}

@media screen and (min-width:640px) {
    .advantage__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .advantage__item {
        margin: 0 0 20px;
        width: 300px
    }

    .advantage__item-text-2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 58px;
        font-size: 16px !important
    }
}

.advantage__item-text-1 {
    font-size: 16px !important
}

@media screen and (min-width:1024px) {

    .advantage__content,
    .advantage__item {
        position: relative
    }

    .advantage__item {
        width: 430px;
        z-index: 5
    }

    .advantage__item:nth-child(5),
    .advantage__item:nth-child(6) {
        margin-bottom: 0
    }

    .advantage__item-text-1 {
        font-size: 18px
    }

    .advantage__item-text-2 {
        font-size: 17px;
        height: 60px
    }
}

@media screen and (min-width:1220px) {
    .advantage__item {
        width: 435px;
        margin-bottom: 25px
    }

    .advantage__item-image {
        width: 170px
    }

    .advantage__item-text-1 {
        width: calc(100% - 170px);
        padding: 0 15px
    }

    .advantage__item-text-1::after {
        left: 50%;
        width: 90%;
        -webkit-transform: translate(-50%, -50%) rotate(-10deg);
        transform: translate(-50%, -50%) rotate(-10deg)
    }

    .advantage__item-text-2 {
        padding: 15px;
        height: 70px
    }

    .advantage__item-text-1,
    .advantage__item-text-2 {
        font-size: 18px !important
    }

    .content h3 {
        margin: 40px 0 25px !important
    }
}

@media screen and (max-width:1219px) {
    .content h3 {
        margin: 35px 0 20px !important
    }

    .m-t-25 {
        margin-bottom: 20px !important
    }
}

@media screen and (max-width:767px) {
    .quiz {
        flex-wrap: wrap;
        justify-content: center
    }

    .quiz__item {
        width: 47%;
        margin-right: 10px;
        margin-bottom: 20px
    }

    .quiz__item:nth-child(2) {
        margin-right: 0
    }

    .quiz__item:last-child {
        margin-right: 0
    }

    .composition {
        justify-content: space-between
    }

    .composition__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .content h3 {
        font-size: 22px
    }

    .content h3.comment__title {
        margin-top: 25px !important
    }
}

@media screen and (max-width:600px) {
    .full__img {
        width: 450px
    }
}

@media screen and (max-width:479px) {
    .full__img {
        width: 288px
    }

    .quiz {
        flex-direction: column;
        align-items: center
    }

    .quiz__item {
        width: 100%;
        margin-right: 0
    }

    .blockquote::before {
        top: 0
    }

    .blockquote::after {
        bottom: -30px
    }

    .pack {
        max-width: 250px
    }
}

.copyright {
    outline: 2px solid #1f1d1d
}

.title__center {
    text-align: center !important
}

.img-content {
    margin-bottom: 20px;
    display: block
}

h3.title-anno {
    margin-bottom: 10px !important
}

.text-center {
    text-align: center !important
}

::-ms-clear {
    display: none
}

* {
    -webkit-tap-highlight-color: transparent
}

html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

a:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000
}

:focus,
:visited,
:active,
:hover {
    outline: 0 !important
}

a,
a:focus,
a:visited,
a:active,
a:hover {
    outline: 0 !important
}

::-moz-focus-inner {
    border: 0;
    outline: none
}

:not(#fake) {
    outline: none
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px
}

.flex {
    display: flex
}

.flex_space-between {
    justify-content: space-between;
    align-items: center
}

.header {
    background: #161515;
    padding: 15px 0
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;
    width: 100%
}

.header__right-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header__nav {
    width: 100%
}

.header__nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0
}

.header__nav-list-link {
    color: #fff !important;
    font-size: 18px
}

.header__nav-list-link:hover {
    color: #c2bab1 !important
}

.burger {
    display: none;
    position: relative;
    width: 20px;
    height: 16px;
    margin-left: 20px
}

.burger__line-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 0
}

.burger__line-2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 0
}

.burger__line-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 0
}

.header__right-buttons-search a {
    text-decoration: none;
    color: #fff
}

.icon-search {
    font-size: 26px;
    margin-left: 30px
}

.icon-search:hover::before {
    color: #c2bab1
}

@media screen and (max-width: 1300px) {
    .header__nav-list {
        display: none
    }

    .burger {
        display: block
    }
}

.footer {
    position: relative
}

.footer__logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%
}

@media screen and (max-width: 1023px) {
    .copyright {
        padding: 100px 0 25px
    }

    .footer__logo {
        top: 35%;
        transform: translate(-50%, -50%);
        left: 50%
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

    body,
    html {
        overflow: visible;
    }
}

.toggle-image {
    cursor: pointer;
}

.box__images.show .first {
    display: none;
}

.box__item .second {
    margin: 0 auto;
    display: none;
}

.box__item .first {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.box__item .second {
    margin: 0 auto;
    display: none;
}

.box__images.show .first {
    display: none;
}

.box__images.show .second {
    display: block;
}