*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

figure,
footer,
header,
main,
nav {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    background-color: #fff
}

h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ul {
    margin-bottom: 1rem
}

ul {
    margin-top: 0
}

blockquote {
    margin: 0 0 1rem
}

b,
strong {
    font-weight: bolder
}

a {
    color: #525ddc;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #2632bc;
    text-decoration: underline
}

figure {
    margin: 0 0 1rem
}

img {
    border-style: none
}

img,
svg {
    vertical-align: middle
}

svg {
    overflow: hidden
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

input,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

input {
    overflow: visible
}

input[type=checkbox] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

textarea {
    overflow: auto;
    resize: vertical
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

h1,
h2,
h3 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit
}

h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 1.75rem
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

main {
    background: linear-gradient(90deg, rgba(26,26,25,.2) 0%, rgba(30,30,28,.2) 100%), url("../images/background_02.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}
.hero {
    background: url("../images/background_03.jpg") no-repeat center/cover;
}
@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12,
.col-lg-3,
.col-lg-6,
.col-lg-8,
.col-lg-9,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-sm-4,
.col-sm-8 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width:576px) {
    .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .col-sm-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
}

@media (min-width:768px) {
    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }
    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
}

@media (min-width:992px) {
    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
    .col-lg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

@media screen and (prefers-reduced-motion:reduce) {
    .form-control {
        -webkit-transition: none;
        -o-transition: none;
        transition: none
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #bcc0f1;
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(82, 93, 220, .25);
    box-shadow: 0 0 0 .2rem rgba(82, 93, 220, .25)
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1
}

textarea.form-control {
    height: auto
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px
}

.form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem
}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem
}

.form-check-input:disabled~.form-check-label {
    color: #6c757d
}

.form-check-label {
    margin-bottom: 0
}

.custom-control-input.is-valid:focus:not(:checked)~.custom-control-label:before,
.was-validated .custom-control-input:valid:focus:not(:checked)~.custom-control-label:before {
    border-color: #28a745
}

.custom-control-input.is-invalid:focus:not(:checked)~.custom-control-label:before,
.was-validated .custom-control-input:invalid:focus:not(:checked)~.custom-control-label:before {
    border-color: #dc3545
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #2a38d1;
    border-color: #2835c6
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(108, 117, 225, .5);
    box-shadow: 0 0 0 .2rem rgba(108, 117, 225, .5)
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem hsla(208, 6%, 54%, .5);
    box-shadow: 0 0 0 .2rem hsla(208, 6%, 54%, .5)
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5);
    box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(58, 176, 195, .5);
    box-shadow: 0 0 0 .2rem rgba(58, 176, 195, .5)
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500
}

.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(222, 170, 12, .5);
    box-shadow: 0 0 0 .2rem rgba(222, 170, 12, .5)
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5);
    box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem hsla(220, 4%, 85%, .5);
    box-shadow: 0 0 0 .2rem hsla(220, 4%, 85%, .5)
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d
}

.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5);
    box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #525ddc;
    border-color: #525ddc
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(82, 93, 220, .5);
    box-shadow: 0 0 0 .2rem rgba(82, 93, 220, .5)
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem hsla(208, 7%, 46%, .5);
    box-shadow: 0 0 0 .2rem hsla(208, 7%, 46%, .5)
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5);
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}

.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5);
    box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
}

.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5);
    box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5);
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5);
    box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
    box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer
}

.navbar-expand {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.navbar-expand .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

body {
    padding-top: 85px
}

body h1,
body h2,
body h3 {
    font-family: Open Sans, sans-serif
}

p a {
    color: #71327e;
    text-decoration: none
}

p a:hover {
    color: #ba7cb5
}

.single-content *,
p * {
    max-width: 100%
}

.submit {
width: 100%;
    border: none;
    padding: 15px;
    color: #fff!important;
    background: #ba7cb5;
    font-weight: 700;
    font-size: 14px;
    -webkit-transition: all .35s ease;
    -o-transition: .35s all ease;
    transition: all .35s ease;
    cursor: pointer;
    display: block;
    text-align: center;
    opacity: .7;
}

.submit:hover {
  background: #71327e;
}

.submit:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.mx-auto {
    margin-right: auto;
    margin-left: auto
}

.img-fluid,
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle
}

@media screen and (max-width:991px) {
    body.single {
        padding-top: 109px
    }
    body {
        padding-top: 132px
    }
}

.single .content textarea {
    max-width: 100%;
    width: 100%;
    color: #ccc
}

.single .content #reply-title {
    text-align: right
}

.single .content #reply-title #cancel-comment-reply-link {
    color: #71327e;
    font-size: 14px;
    line-height: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    text-decoration: none
}

.single .content #reply-title #cancel-comment-reply-link svg {
    margin: 2px 5px 5px;
    width: 14px
}

.single .content #reply-title #cancel-comment-reply-link:hover {
    color: #ba7cb5
}

.single .content .comment-form-container {
    padding-top: 20px
}

.single .content .comment-form input,
.single .content .comment-form textarea {
    font-family: Open Sans, sans-serif;
    border: 1px solid #ba7cb5;
    border-radius: 0;
    padding: 15px 20px;
    height: auto;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none
}

.single .content .comment-form input::-webkit-input-placeholder,
.single .content .comment-form textarea::-webkit-input-placeholder {
    color: #ccc
}

.single .content .comment-form input::-ms-input-placeholder,
.single .content .comment-form textarea::-ms-input-placeholder {
    color: #ccc
}

.single .content .comment-form .comment-form-author,
.single .content .comment-form .comment-form-email {
    margin-bottom: 30px
}

@media screen and (max-width:575px) {
    .single .content .comment-form input {
        position: static;
        display: block;
        margin: 0
    }
}

.alignnone {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    height: auto
}

header#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: Open Sans, sans-serif;
    padding: 10px 0;
    background: #fff;
    z-index: 1000
}

header#header nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

header#header nav .logo .navbar-brand {
    margin: 0
}

header#header nav .logo .navbar-brand img {
    width: 150px
}

header#header nav .navbar-nav {
    margin: 0;
    width: 100%
}

header#header nav .navbar-nav li.menu-item:nth-last-of-type(2) {
    margin-left: auto
}

header#header nav .navbar-nav li.menu-item a {
    display: inline-block;
    padding: 15px;
    color: #666;
    font-weight: 300;
    text-decoration: none;
    font-size: 16px
}

header#header nav #arrow-scroll {
    display: none;
    position: fixed;
    top: 70px;
    right: 5px;
    color: #fff
}

header#header nav #arrow-scroll img {
    width: 17px
}

@media screen and (max-width:991px) {
    header#header {
        padding-bottom: 0
    }
    header#header nav .logo {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    header#header nav .logo .navbar-brand {
        margin: 0 0 10px
    }
    header#header nav .logo .navbar-brand img {
        width: 140px
    }
    header#header nav #navbarNav {
        background: #ba7cb5
    }
    header#header nav #navbarNav .navbar-nav {
        overflow: auto;
        white-space: nowrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative
    }
    header#header nav #navbarNav .navbar-nav li.menu-item {
        text-align: center
    }
    header#header nav #navbarNav .navbar-nav li.menu-item:first-of-type a {
        padding-left: 0
    }
    header#header nav #navbarNav .navbar-nav li.menu-item:nth-last-of-type(2) {
        margin-left: 0
    }
    header#header nav #navbarNav .navbar-nav li.menu-item a {
        padding: 8px 25px;
        font-size: 14px;
        color: #fff
    }
    header#header nav #navbarNav .navbar-nav li.menu-item:not(:last-of-type) a {
        border-right: 1px solid #fff
    }
}

@media screen and (max-width:767px) {
    header#header nav #navbarNav .navbar-nav {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    header#header nav #navbarNav .navbar-nav li.menu-item a {
       width: 123px;
    }

    .row {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:700px) {
    header#header nav #arrow-scroll {
        display: block
    }
}

@supports (-ms-ime-align:auto) {
}

@media screen and (min-width:992px) {
    @supports (-ms-ime-align:auto) {
    }
}

footer {
    background: #f2f2f2;
    color: #666;
    padding-top: 60px
}

footer .logo {
    text-align: center
}

footer .logo img {
    width: 255px;
    margin-bottom: 30px
}

footer .about p {
    font-weight: 300;
    margin-bottom: 20px
}

footer .about p,
footer p.heading-4 {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    line-height: 20px
}

footer p.heading-4 {
    font-weight: 900;
    margin-bottom: 30px
}

footer .social {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

footer .social svg {
    width: 40px;
    fill: #b3b3b3
}

footer .social a {
    text-decoration: none;
    margin: 0 10px
}

footer .social a:hover:first-of-type svg {
    fill: #365899
}

footer .social a:hover:last-of-type svg {
    fill: red
}

footer .copy {
    background: #666
}

footer .copy p {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #ccc;
    margin: 0;
    line-height: 28px
}

@media screen and (max-width:991px) {
    .main {
        padding-top: 40px;
    }

    footer .about p {
        text-align: center
    }
}

@media screen and (max-width:575px) {
    .main {
        padding-top: 70px;
    }

    header#header nav #navbarNav .navbar-nav {
        justify-content: center;
    }

    footer .about p,
    footer .copy p {
        text-align: center
    }
}

@media screen and (max-width:400px) {
    .main {
        padding-top: 235px;
    }

    header#header nav #navbarNav .navbar-nav {
      display: block;
    }

    header#header nav #navbarNav .navbar-nav li.menu-item:first-of-type a {
        padding-left: 25px;
    }

    header#header nav #navbarNav .navbar-nav li.menu-item:not(:last-of-type) a {
        border: none;
    }
}

@media screen and (max-width:330px) {
    footer .copy p {
        font-size: 9px
    }
}

.single .content .hero {
    position: relative
}

.single .content .hero .hero-image img {
    margin: 0 auto;
    display: block
}

.single .content .hero .overlay {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(56%, hsla(0, 0%, 100%, 0)));
    background-image: -webkit-linear-gradient(bottom, #fff, hsla(0, 0%, 100%, 0) 56%);
    background-image: -o-linear-gradient(bottom, #fff 0, hsla(0, 0%, 100%, 0) 56%);
    background-image: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0) 56%);
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    right: 0
}

.single .content h1,
.single .content h2,
.single .content h3 {
    font-family: Open Sans, sans-serif
}

.single .content h1 {
    font-weight: 700;
    font-size: 46px
}

.single .content h2,
.single .content h3 {
    color: #71327e
}

.single .content h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px
}

.single .content h3 {
    font-size: 21px;
    font-weight: 400
}

.single .content p {
    margin-bottom: 30px;
    word-break: break-word
}

.single .content p,
.single .content span,
.single .content ul {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px
}

.single .content ul li {
    color: #d9d9d9;
    text-shadow: 1px 1px 2px black;
}

.single .content p b,
.single .content p strong,
.single .content span strong,
.single .content ul strong {
    font-weight: 600
}

.single .content p img,
.single .content span img {
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    max-width: 100%;
    height: auto;
    background: url('../images/drops.png') no-repeat center/cover;
}

.single .content a {
    text-decoration: none;
    color: #ba7cb5
}

.single .content a:hover {
    color: #71327e;
    opacity: .8
}

.single .content .post-head .meta p {
    display: inline-block;
    margin: 0 30px 0 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    color: #fff;
    text-shadow: 0 0 3px #000;
}

.single .content .post-head .meta .author {
    display: inline-block
}

.single .content .post-head .meta .author img {
    width: 30px;
    margin-right: 10px;
    max-width: 100%;
    height: auto
}

.single .content .content {
    padding-top: 30px;
}

.single .content .tags a {
    display: block;
    float: left;
    color: #fff;
    background: #71327e;
    font-family: Source Sans Pro, sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
    border-radius: 3px;
    padding: 5px 6px;
    margin: 10px 10px 0 0;
    text-decoration: none;
    -webkit-transition: all .35s ease;
    -o-transition: .35s all ease;
    transition: all .35s ease
}

.single .content .tags a:hover {
    background: #ba7cb5
}

.single .content .related {
    background: -webkit-gradient(linear, left top, right top, color-stop(33%, #ba7cb5), color-stop(0, hsla(0, 0%, 100%, 0))) top/15px 1px repeat-x;
    background: -webkit-linear-gradient(left, #ba7cb5 33%, hsla(0, 0%, 100%, 0) 0) top/15px 1px repeat-x;
    background: -o-linear-gradient(left, #ba7cb5 33%, hsla(0, 0%, 100%, 0) 0) top/15px 1px repeat-x;
    background: linear-gradient(90deg, #ba7cb5 33%, hsla(0, 0%, 100%, 0) 0) top/15px 1px repeat-x;
    padding: 30px 0;
    margin-top: 30px
}

.single .content .related p.custom-h4 {
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
    color: #71327e
}

.single .content .related .sing-post {
    margin-bottom: 30px
}

.single .content .related .sing-post .post-link {
    text-decoration: none;
    display: block;
    min-height: 82%;
    -webkit-transition: all .35s ease;
    -o-transition: .35s all ease;
    transition: all .35s ease;
    padding: 15px 0
}

.single .content .related .sing-post .post-link h3 {
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    margin-top: 20px;
}

.single .content .related .sing-post .post-link:hover {
    opacity: .7
}

.single .content .related .sing-post:last-of-type .post-link {
    border-bottom: none
}

.single .content .related .sing-post .category {
    margin: 0
}

.single .content .related .sing-post .category a {
    font-family: Source Sans Pro, sans-serif;
    color: #71327e;
    font-size: 12px;
    font-weight: 700;
    text-shadow: 1px 1px 1px #fff;
}

.single .content .related .sing-post .author img {
    width: 30px;
    height: auto;
    margin-right: 10px;
    vertical-align: baseline
}

.single .content .related .sing-post .author span {
    font-family: Source Sans Pro, sans-serif;
    font-size: 12px;
    color: #fff;
}

.single .content .related .sing-post .author a {
    color: #71327e;
    text-decoration: none
}

.single .content .related .sing-post .author a:hover {
    color: #ba7cb5
}

.single .content .related .sing-post.no-image {
    display: none
}

.single .content .related .sing-post.no-image .post-link {
    display: block;
    position: relative
}

.single .content .related .sing-post.no-image .post-link h3 {
    color: #71327e;
    text-transform: uppercase;
    max-width: 90%
}

.single .content .related .sing-post.no-image .post-link .arrow {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.single .content .related .sing-post.no-image .post-link .arrow img {
    width: 20px
}

.single .content .related .sing-post.no-image:last-of-type {
    margin: 0
}

@media screen and (max-width:991px) {
    .single .content h1 {
        font-size: 28px;
        margin: 0 0 10px
    }
    .single .content .post-head .meta p {
        display: block;
        margin-bottom: 10px
    }
    .single .content .post-head .meta .author p {
        display: inline-block
    }
    .single .content .related .sing-post .post-link {
        border-bottom: 1px solid #ba7cb5
    }
    .single .content .related .sing-post .post-link h3 {
        font-weight: 700
    }
    .single .content .related .sing-post:nth-of-type(7) {
        margin: 0
    }
    .single .content .related .sing-post:nth-of-type(7) .post-link {
        border-bottom: none
    }
    .single .content .related .sing-post:last-of-type .post-link,
    .single .content .related .sing-post:nth-of-type(7) .post-link {
        background: -webkit-gradient(linear, left top, right top, color-stop(33%, #ba7cb5), color-stop(0, hsla(0, 0%, 100%, 0))) bottom/15px 1px repeat-x;
        background: -webkit-linear-gradient(left, #ba7cb5 33%, hsla(0, 0%, 100%, 0) 0) bottom/15px 1px repeat-x;
        background: -o-linear-gradient(left, #ba7cb5 33%, hsla(0, 0%, 100%, 0) 0) bottom/15px 1px repeat-x;
        background: linear-gradient(90deg, #ba7cb5 33%, hsla(0, 0%, 100%, 0) 0) bottom/15px 1px repeat-x
    }
    .single .content .related .sing-post.no-image {
        display: block;
        margin: 0
    }
}

@media screen and (max-width:767px) {
    .single .content h1 {
        font-size: 24px
    }
    .single .content p {
        font-size: 16px
    }
    .single .content .related .sing-post .post-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .single .content .related .sing-post .post-link .flex-mobile {
        max-width: 110px
    }
    .single .content .related .sing-post .post-link h3 {
        font-size: 14px;
        max-width: 380px;
        margin: 0
    }
    .single .content .related .sing-post .author,
    .single .content .related .sing-post .category {
        display: none
    }
}

@media screen and (max-width:575px) {
    .single .content .related .sing-post .post-link h3 {
        max-width: 65%
    }
}

.footer-copy {
    justify-content: center;
}

@media screen and (max-width: 767px) {
    header#header nav #navbarNav {
        display: none;
    }
    header#header {
        position: relative;
    }
    body.single {
        padding-top: 20px;
    }
    .single .content h1 {
        margin-top: 20px;
    }
    .main {
    padding-top: 0;
    }
}
