
						.kalkulator {
							text-align: center
						}

						.kalkulator input[type="number"] {
							height: 1.8rem;
							font-size: 1.5rem;
							border-radius: 10px;
							text-align: center;
							border: 2px solid rgb(172, 172, 172);
						}

						.kalkulator button {
							height: 2.5rem;
							width: 10rem;
							font-size: 1.5rem;
							border-radius: 20px;
							text-align: center;
							border: none;
							color: white;
							background-color: rgb(211, 73, 49);
						}

						.kalkulator label {
							margin-left: 4px;
							font-family: 'Open Sans', sans-serif;

						}

						.kalkulator {
							overflow: hidden;
						}

						.kalkulator.hide {
							animation: btnCalc 12s ease-out forwards;
						}

						.info_kalk.show {
							animation: CalcShow 2s ease-out forwards;
						}

						@keyframes btnCalc {
							0% {
								transform: translateY(0px);
							}

							100% {
								transform: translateY(-9999px);
							}
						}

						@keyframes CalcShow {
							0% {
								opacity: 0;
								margin-top: 0;
							}

							100% {
								opacity: 1;
								margin-top: -420px;
							}
						}
					