.fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0px;
}

.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

img.wp-smiley, img.emoji {
    display: inline ! important;
    border: medium none ! important;
    box-shadow: none ! important;
    height: 1em ! important;
    width: 1em ! important;
    margin: 0px 0.07em ! important;
    vertical-align: -0.1em ! important;
    background: transparent none repeat scroll 0% 0% ! important;
    padding: 0px ! important;
}

.snp-showme .snp-container::after {
    content: " ";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

.snp-showme .snp-clearfix::before, .snp-showme .snp-clearfix::after, .snp-showme .snp-row::before, .snp-showme .snp-row::after {
    content: " ";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.snp-showme .snp-row::after, .snp-showme .snp-clearfix::after {
    clear: both;
}

.snp-root {
    display: none;
}

.snp-fb abbr, .snp-fb address, .snp-fb article, .snp-fb aside, .snp-fb audio, .snp-fb b, .snp-fb blockquote, .snp-fb body, .snp-fb canvas, .snp-fb caption, .snp-fb cite, .snp-fb code, .snp-fb dd, .snp-fb del, .snp-fb details, .snp-fb dfn, .snp-fb div, .snp-fb dl, .snp-fb dt, .snp-fb em, .snp-fb fieldset, .snp-fb figcaption, .snp-fb figure, .snp-fb footer, .snp-fb form, .snp-fb h1, .snp-fb h2, .snp-fb h3, .snp-fb h4, .snp-fb h5, .snp-fb h6, .snp-fb header, .snp-fb hgroup, .snp-fb html, .snp-fb i, .snp-fb iframe, .snp-fb img, .snp-fb ins, .snp-fb kbd, .snp-fb label, .snp-fb legend, .snp-fb li, .snp-fb mark, .snp-fb menu, .snp-fb nav, .snp-fb object, .snp-fb ol, .snp-fb p, .snp-fb pre, .snp-fb q, .snp-fb samp, .snp-fb section, .snp-fb small, .snp-fb span, .snp-fb strong, .snp-fb summary, .snp-fb table, .snp-fb tbody, .snp-fb td, .snp-fb tfoot, .snp-fb th, .snp-fb thead, .snp-fb time, .snp-fb tr, .snp-fb ul, .snp-fb var, .snp-fb video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    line-height: normal;
    border-radius: 0px;
}

.snp-fb, .snp-fb * {
    box-sizing: border-box;
    background: transparent none repeat scroll 0px center;
    box-shadow: none;
    text-transform: none;
}

.snp-fb q::before, .snp-fb q::after, .snp-fb blockquote::before, .snp-fb blockquote::after {
    content: none;
}

.snp-fb a, .snp-fb :focus, .snp-fb input, .snp-fb textarea, .snp-fb select {
    outline: 0px none;
    width: auto;
    margin: 0px;
    border-radius: 0px;
}

.snp-fb .clearfix::after, .snp-fb .snp-clearfix::after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0px;
    font-size: 0px;
    line-height: 0;
}

.snp-fb :invalid {
}

.snp-theme-iframe iframe {
    width: 100%;
    height: 100%;
}

#wpfront-notification-bar {
    visibility: hidden;
    position: fixed;
    overflow: hidden;
    left: 0px;
    right: 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.wpfront-bottom-shadow {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#wpfront-notification-bar.wpfront-fixed {
    position: fixed;
    z-index: 9999;
    width: 100%;
}

#wpfront-notification-bar div.wpfront-close {
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 0px;
    font-size: 10px;
    padding: 5px 2px;
    border-radius: 2px;
}

#wpfront-notification-bar table, #wpfront-notification-bar tbody, #wpfront-notification-bar tr {
    margin: auto;
    border: 0px none;
    padding: 0px;
    background: inherit;
}

#wpfront-notification-bar td {
    background: inherit;
    vertical-align: middle;
    text-align: center;
    border: 0px none;
    margin: 0px;
    padding: 5px 0px;
    line-height: 1em;
}

#wpfront-notification-bar div {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

#wpfront-notification-bar div.wpfront-message {
}

#wpfront-notification-bar a.wpfront-button {
    display: inline-block;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 2px;
}

#wpfront-notification-bar-open-button {
    display: none;
    position: absolute;
    right: 10px;
    z-index: 9999;
    border: 3px solid white;
    width: 23px;
    height: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    border-radius: 2px;
    box-sizing: content-box;
}

#wpfront-notification-bar-open-button.top {
    top: 0px;
    background-image: url('../images/arrow_down.png');
    background-position: center top;
    border-top: 0px none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#wpfront-notification-bar-spacer {
    display: none;
    position: relative;
}

h1, h2, h3, h4, h5, p {
    margin: 0px;
    padding: 0px;
    border: 0px none;
}

h2 {
    line-height: 40px;
}

body {
    font-family: georgia, serif, Times, "Times New Roman", arial, helvetica, sans-serif;
    height: 100%;
    background-color: rgb(255, 255, 255);
    background-position: center top;
    text-align: center;
    padding: 0px;
    margin: 0px auto;
    line-height: 23px;
    color: rgb(10, 10, 10);
}

a {
    text-decoration: none;
    border-bottom: 0px dotted rgb(255, 255, 255);
    color: rgb(166, 0, 0);
}

a:hover, span a:hover {
    text-decoration: underline;
    border-bottom: 0px dotted rgb(166, 0, 0);
}

h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(58, 7, 7);
}

h1, #index h2, #sidebar h2, #sidebar ul, #footer, .wp-pagenavi, #navibar, .yarpp-related {
    font-family: arial, helvetica, serif ! important;
}

div {
    font-size: 100%;
}

p {
    padding: 10px 0px;
}

small {
    line-height: 23px;
}

.post {
    margin: 12px 0px 0px 12px;
}

.post h1, .post h2 {
    text-decoration: none;
    padding: 5px 0px;
    letter-spacing: -1px;
    font-size: 35px ! important;
    line-height: 39px;
    border-bottom: 1px solid rgb(203, 203, 203);
    margin-bottom: 25px;
    color: rgb(0, 0, 0);
}

.entry {
    margin: 0px;
    padding: 0px;
}

.entry p, .entry ul, .entry ol {
    font-size: 19px;
    line-height: 27px;
}

.entry h1, .entry h2 {
    font-weight: bold;
    font-size: 27px;
    text-decoration: none;
    line-height: 42px;
    padding: 30px 0px 10px;
    letter-spacing: -0.5px;
    border-bottom: 0px solid transparent;
}

.entry h3 {
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    line-height: 30px;
    padding: 30px 0px 25px;
    letter-spacing: -0.5px;
    border-bottom: 0px solid rgb(81, 73, 90);
    color: rgb(0, 0, 0);
}

a img {
    border: 0px none;
}

img.aligncenter, a img.aligncenter, img.size-thumbnail, a img.size-thumbnail, img.size-full, a img.size-full, img.size-medium, a img.size-medium {
    border: 1px solid rgb(225, 225, 225);
    max-width: 100%;
    height: auto;
    margin-left: auto ! important;
    margin-right: auto ! important;
    display: block;
}

.postinfotop, a.grey, a.grey:hover {
    font-size: 15px;
    line-height: 20px ! important;
    color: rgb(109, 109, 109);
    font-weight: normal;
    padding-bottom: 10px;
    margin: 15px 0px;
}

ul li {
    margin: 0px;
    padding: 0px;
}

ol li {
    margin: 0px;
    padding: 0px;
}

ul ul {
    margin: 3px 0px 0px;
}

#header {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 3px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: rgb(115, 5, 0) ! important;
}

#header2 {
    font-size: 12px;
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 0px 0px 0px 5px;
    margin: 0px auto;
}

#container {
    margin-left: auto;
    margin-right: auto;
    border: 0px solid rgb(209, 209, 209);
    padding-top: 25px;
}

.maincolumn {
    float: left;
    padding-right: 6px;
    padding-bottom: 15px;
    background-color: rgb(255, 255, 255);
}

#sidebar {
    float: right;
    color: rgb(46, 46, 46);
    font-size: 12px;
    line-height: 18px;
    margin: 0px;
    width: 278px;
    background-color: rgb(255, 255, 255);
}

#sidebar a {
    color: rgb(87, 1, 1);
    text-decoration: none;
    font-weight: normal;
    border: 0px none;
}

#sidebar a:hover {
    text-decoration: underline;
    font-weight: normal;
    border: 0px none;
}

#sidebar ul {
    margin: 0px;
    padding: 0px;
}

#sidebar ul li {
    list-style: outside none none;
    text-transform: none;
    padding: 13px 0px 25px;
}

#sidebar ul li h2 {
    padding: 4px 0px 10px;
    color: rgb(49, 49, 49);
    text-transform: uppercase;
    font-size: 15px;
    line-height: 21px;
}

#sidebar ul ul {
    padding: 0px;
}

#sidebar ul ul li {
    color: rgb(99, 99, 99);
    text-transform: none;
    padding: 0px 0px 4px;
}

#footer {
    padding: 15px 0px;
    text-align: center;
    border-top: 2px solid rgb(227, 212, 193);
    font-size: 14px;
    line-height: 23px;
    margin: auto;
    clear: both;
}

#footer b {
    font-weight: bold;
    color: rgb(166, 0, 0);
}

input, textarea, select {
    border: 1px solid rgb(229, 216, 198);
    margin: 3px;
    padding: 2px;
    font-family: arial, helvetica, serif ! important;
}

input, textarea, .submit, label, form {
    font-size: 17px;
    padding: 5px;
}

.submit {
    color: rgb(33, 33, 33);
    background-color: rgb(227, 227, 227);
    padding-top: 4px;
    cursor: pointer;
}

.submit:hover {
    background: rgb(140, 0, 4) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255) ! important;
}

@media handheld, screen and (min-width: 1400px) {

    #header2, #navibar2, #container, #footer {
        width: 1250px ! important;
    }

    .maincolumn {
        width: 927px ! important;
    }
}

@media handheld, screen and (min-width: 1200px) and (max-width: 1399px) {

    #header2, #navibar2, #container, #footer {
        width: 1150px ! important;
    }

    .maincolumn {
        width: 827px ! important;
    }

    .aboutme {
        line-height: 20px ! important;
        font-size: 13px ! important;
    }

    .post h1, .post h2, #comments-template h2 {
        font-size: 31px ! important;
        line-height: 36px ! important;
    }

    .entry p, .entry ul, .entry ol {
        font-size: 18px;
        line-height: 27px;
    }

    .bullet a {
        font-size: 14px ! important;
    }

    .yarpp-related {
        margin-bottom: 30px ! important;
    }

    .yarpp-thumbnail, .yarpp-thumbnail-default, .yarpp-thumbnail-title, .yarpp-thumbnail > img, .yarpp-thumbnail-default > img {
        width: 185px ! important;
        height: 185px ! important;
    }

    .yarpp-thumbnail-title {
        font-size: 15px ! important;
        max-height: 78px ! important;
        width: 185px ! important;
    }
}

@media handheld, screen and (min-width: 1024px) and (max-width: 1199px) {

    #header2, #navibar2, #container, #footer {
        width: 97%;
    }

    .maincolumn {
        width: 68%;
    }

    .aboutme {
        line-height: 20px ! important;
        font-size: 13px ! important;
    }

    .post h1, .post h2, #comments-template h2 {
        font-size: 30px ! important;
        line-height: 32px ! important;
    }

    .entry p, .entry ul, .entry ol, ol.commentlist li.comment {
        font-size: 17px;
        line-height: 32px;
    }

    .postinfotop, a.grey, a.grey:hover {
        font-size: 14px ! important;
        margin: 15px 0px ! important;
    }

    .yarpp-related {
        margin-bottom: 30px ! important;
    }

    .yarpp-thumbnail, .yarpp-thumbnail-default, .yarpp-thumbnail-title, .yarpp-thumbnail > img, .yarpp-thumbnail-default > img {
        width: 148px ! important;
        height: 148px ! important;
    }

    .yarpp-thumbnail-title {
        font-size: 15px ! important;
        max-height: 78px ! important;
        width: 150px ! important;
    }
}

@media only handheld, screen and (max-width: 1024px) {

    html, body {
        overflow-x: hidden;
    }

    #header2, #navibar2, #container, #footer {
        width: 100% ! important;
    }

    .maincolumn {
        width: 70%;
        padding-left: 10px ! important;
    }

    .aboutme {
        line-height: 20px ! important;
        font-size: 13px ! important;
    }

    .post h1, .post h2, #comments-template h2 {
        font-size: 28px ! important;
        line-height: 28px ! important;
    }

    .entry p, .entry ul, .entry ol, ol.commentlist li.comment {
        font-size: 16px;
        line-height: 29px;
    }

    .postinfotop, a.grey, a.grey:hover {
        font-size: 14px ! important;
        margin: 15px 0px ! important;
    }

    .bullet a {
        font-size: 12px ! important;
    }

    #sidebar {
        width: 23%;
        float: right;
        padding-left: 25px;
        padding-right: 10px;
    }

    .sidebar-img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    input, .submit {
        font-size: 14px ! important;
    }

    .yarpp-related {
        margin-bottom: -20px ! important;
    }

    .yarpp-thumbnail, .yarpp-thumbnail-default, .yarpp-thumbnail-title, .yarpp-thumbnail > img, .yarpp-thumbnail-default > img {
        width: 120px ! important;
        height: 120px ! important;
    }

    .yarpp-thumbnail-title {
        font-size: 13px ! important;
        max-height: 66px ! important;
        width: 120px ! important;
    }
}

@media only handheld, screen and (max-width: 800px) {

    #container {
        margin-top: -10px ! important;
    }

    .maincolumn {
        width: 95% ! important;
    }

    .post h1 {
        font-size: 25px ! important;
        line-height: 25px ! important;
    }

    .entry p, .entry ul, .entry ol, ol.commentlist li.comment {
        font-size: 16px;
        line-height: 28px;
    }

    .entry h1, .entry h2, #comments-template h2 {
        font-size: 23px ! important;
        padding: 10px 0px 0px;
    }

    .entry h3 {
        font-size: 19px ! important;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #sidebar, #nav2, #nav ul li, .postinfoextra, .newsletter {
        display: none;
    }
}

@media only handheld, screen and (max-width: 600px) {

    #header2, #navibar2, #container, .featured, .post, #maincolumn-wide {
        width: 98% ! important;
        float: none ! important;
        margin: auto ! important;
    }

    #nav {
        margin-left: -40px ! important;
    }

    #nav a {
        padding: 7px 8px ! important;
        font-size: 11px ! important;
    }

    .maincolumn {
        width: 90% ! important;
        margin: 0px auto ! important;
        float: none ! important;
        padding: 0px ! important;
    }

    #footer {
        width: 90% ! important;
    }

    .post h1 {
        font-size: 22px ! important;
        line-height: 22px ! important;
    }

    .entry p, .entry ul, .entry ol, ol.commentlist li.comment {
        font-size: 14px;
        line-height: 24px;
    }

    .entry h1, .entry h2, #comments-template h2 {
        font-size: 21px ! important;
    }

    .entry h3 {
        font-size: 17px ! important;
    }

    #footer {
        font-size: 13px ! important;
        line-height: 1.5em ! important;
    }

    .header-image {
        padding-left: 0px ! important;
        max-width: 100%;
        height: auto;
    }

    .articleSocialButtons {
        font-size: 12px ! important;
        font-weight: bold;
    }

    .post-thumbnail, .yarpp-related, .entry div.quotes-postinfotop, .h1-underline {
        display: none ! important;
    }

    #wpfront-notification-bar-spacer {
        display: none !important;
    }
}

@media only handheld, screen and (max-width: 450px) {

}

#container, #header, #menu, #pagewrapper, #page, #banner, .maincol, .post, .entry, .browse, #sidebar {
    text-align: left;
    vertical-align: top;
}

.red {
    color: rgb(255, 255, 255) ! important;
    background-color: rgb(135, 0, 0) ! important;
    border-color: rgb(152, 12, 16) ! important;
    font-weight: bold ! important;
    padding: 7px ! important;
}

.red:hover {
    background-color: rgb(91, 0, 0) ! important;
}

.newsletter {
    font-family: arial ! important;
    background: rgb(255, 254, 227) none repeat scroll 0% 0%;
    padding: 0px 50px 20px ! important;
    text-align: center;
}

.yarpp-thumbnail, .yarpp-thumbnail-default, .yarpp-thumbnail-title {
    display: inline-block ! important;
    margin-top: 10px ! important;
}

.yarpp-thumbnails-horizontal {
    margin-bottom: 30px ! important;
}

.yarpp-thumbnail, .yarpp-thumbnail-default {
    border: 0px solid rgba(127, 127, 127, 0.1) ! important;
    width: 210px;
    margin: 5px 10px 110px 0px ! important;
    vertical-align: top ! important;
    height: 210px;
}

.yarpp-thumbnail > img, .yarpp-thumbnail-default > img {
    width: 205px;
    height: 205px;
    margin: 2px 0px 8px ! important;
    padding: 0px ! important;
}

.yarpp-thumbnail > img, .yarpp-thumbnail-default > img {
    display: block ! important;
}

.yarpp-thumbnail-title {
    font-size: 18px;
    text-align: center;
    line-height: 1.3em;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-top: 0px ! important;
    width: 205px;
    text-decoration: inherit;
    overflow: hidden;
    font-weight: bold;
    max-height: 92px;
}

.bullet a {
    background: rgb(247, 246, 244) none repeat scroll 0% 0%;
    display: block;
    padding: 12px 17px;
    color: rgb(0, 0, 0) ! important;
    font-size: 15px;
}

.bullet a:hover {
    background: rgb(140, 0, 4) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255) ! important;
    text-decoration: none ! important;
}

.bullet li {
    margin-bottom: -4px;
}

.aboutme {
    padding-left: 5px;
    line-height: 25px;
    font-size: 14px;
    padding-bottom: 0px;
}

#nav ul, #nav li, #nav p {
    margin: 0px ! important;
    padding: 0px ! important;
}

#navibar {
    height: 30px;
    background: rgb(99, 0, 0) none repeat scroll 0% 0%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 0px ! important;
    margin: 0px;
}

#navibar2 {
    padding: 0px;
    margin: 0px auto;
    list-style: outside none none;
    font-size: 14px;
}

#nav {
    margin: 0px auto 0px -40px;
    list-style: outside none none;
    border: 0px none;
    float: left;
    text-decoration: none ! important;
    font-weight: normal ! important;
    font-size: 14px;
    position: relative;
    line-height: 16px;
}

#nav li {
    float: left;
    margin-right: 10px;
    position: relative;
    padding-left: 2px ! important;
}

#nav b {
    display: block;
    padding: 7px 13px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#nav ul {
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%;
    list-style: outside none none;
    position: absolute;
    left: -9999px;
    border-top: 1px solid transparent;
    z-index: 300;
}

#nav ul a {
    white-space: nowrap;
}

#nav ul li {
    float: none;
}

#nav ul li a {
    font-size: 17px ! important;
    padding: 10px 15px;
    text-align: left;
}

#nav ul li:hover a {
}

#nav li:hover ul {
    left: 0px;
}

#nav li:hover a, #current, #products #nav-products, #media #nav-media, #contact #nav-contact, #nav-forums {
    background-color: rgb(150, 0, 0);
    color: rgb(245, 245, 245);
}

#nav li:hover ul a {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-left: 6px solid rgb(102, 0, 0);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 0px solid rgb(102, 0, 0);
    font-size: 16px;
}

#nav li:hover ul li a:hover {
    background-color: rgb(150, 0, 0);
    color: rgb(245, 245, 245);
}

#nav2 {
    margin: 0px auto;
    list-style: outside none none;
    float: right;
    padding: 7px 3px;
    line-height: 16px;
}

#nav2 li {
    float: left;
    margin-right: 10px;
}

#nav2 a {
    font-size: 13px ! important;
    color: rgb(255, 255, 255) ! important;
    text-decoration: none ! important;
}

@media only handheld, screen and (max-width: 900px) {

}

ol {
    font-size: 15px;
}

.course-download::after {
    content: "";
    display: table;
    clear: both;
}

.articleSocialButtons {
    width: 100%;
    clear: both;
    height: auto;
    font-size: 18px;
    margin: 45px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.articleSocialButtons::after {
    content: "";
    display: table;
    clear: both;
}

.articleSocialButtons > .fb_button {
    font-style: normal;
    color: white;
    text-transform: uppercase;
    background: rgb(76, 112, 186) none repeat scroll 0% 0%;
    position: relative;
    float: left;
    text-align: center;
    width: 23%;
    box-sizing: border-box;
    text-decoration: none ! important;
}

.articleSocialButtons > .fb_button:hover {
    background: rgb(59, 89, 152) none repeat scroll 0% 0%;
}

.articleSocialButtons > .fb_button:active {
    background: rgb(59, 89, 152) none repeat scroll 0% 0%;
}

.articleSocialButtons > .fb_button > span {
    position: relative;
    line-height: 2.9em;
}

.articleSocialButtons > .tweet_button {
    background: rgb(27, 178, 233) none repeat scroll 0% 0%;
    font-style: normal;
    color: white;
    position: relative;
    text-transform: uppercase;
    float: left;
    text-align: center;
    width: 23%;
    margin: 0px 2%;
    box-sizing: border-box;
    text-decoration: none ! important;
}

.articleSocialButtons > .tweet_button:hover {
    background: rgb(0, 154, 209) none repeat scroll 0% 0%;
}

.articleSocialButtons > .tweet_button:active {
    background: rgb(0, 154, 209) none repeat scroll 0% 0%;
}

.articleSocialButtons > .tweet_button > span {
    position: relative;
    line-height: 2.9em;
}

.articleSocialButtons > .gplus_button {
    background: rgb(240, 72, 72) none repeat scroll 0% 0%;
    font-style: normal;
    color: white;
    position: relative;
    text-transform: uppercase;
    float: left;
    text-align: center;
    width: 23%;
    box-sizing: border-box;
    text-decoration: none ! important;
}

.articleSocialButtons > .gplus_button:hover {
    background: rgb(196, 0, 0) none repeat scroll 0% 0%;
}

.articleSocialButtons > .gplus_button:active {
    background: rgb(196, 0, 0) none repeat scroll 0% 0%;
}

.articleSocialButtons > .gplus_button > span {
    position: relative;
    line-height: 2.9em;
}

.articleSocialButtons > .email_button {
    background: rgb(48, 191, 0) none repeat scroll 0% 0%;
    font-style: normal;
    color: white;
    position: relative;
    text-transform: uppercase;
    float: left;
    text-align: center;
    width: 22%;
    margin: 0px 2%;
    box-sizing: border-box;
    text-decoration: none ! important;
}

.articleSocialButtons > .email_button:hover {
    background: rgb(44, 173, 0) none repeat scroll 0% 0%;
}

.articleSocialButtons > .email_button:active {
    background: rgb(44, 173, 0) none repeat scroll 0% 0%;
}

.articleSocialButtons > .email_button > span {
    position: relative;
    line-height: 2.9em;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.wpfront-message {
    font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif ! important;
    font-size: 16px ! important;
    font-weight: bold;
    line-height: 28px ! important;
}

.wpfront-button {
    font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif ! important;
    font-size: 18px ! important;
    font-weight: bold;
    line-height: 28px ! important;
}

a.wpfront-button:hover {
    background: rgb(122, 0, 0) none repeat scroll 0% 0% ! important;
}

@font-face {

    font-family: "FontAwesome";

    font-style: normal;

    font-weight: normal;

    src: url('../images/fontawesome-webfont.eot') format("embedded-opentype"), url('../images/fontawesome-webfont.woff') format("woff"), url('../images/fontawesome-webfont.ttf') format("truetype"), url('../images/fontawesome-webfont.svg') format("svg");

}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant: normal;
    font-size: inherit;
    text-rendering: auto;
}

.fa-glass::before {
    content: "";
}

.fa-music::before {
    content: "";
}

.fa-search::before {
    content: "";
}

.fa-envelope-o::before {
    content: "";
}

.fa-heart::before {
    content: "";
}

.fa-star::before {
    content: "";
}

.fa-star-o::before {
    content: "";
}

.fa-user::before {
    content: "";
}

.fa-film::before {
    content: "";
}

.fa-th-large::before {
    content: "";
}

.fa-th::before {
    content: "";
}

.fa-th-list::before {
    content: "";
}

.fa-check::before {
    content: "";
}

.fa-remove::before, .fa-close::before, .fa-times::before {
    content: "";
}

.fa-search-plus::before {
    content: "";
}

.fa-search-minus::before {
    content: "";
}

.fa-power-off::before {
    content: "";
}

.fa-signal::before {
    content: "";
}

.fa-gear::before, .fa-cog::before {
    content: "";
}

.fa-trash-o::before {
    content: "";
}

.fa-home::before {
    content: "";
}

.fa-file-o::before {
    content: "";
}

.fa-clock-o::before {
    content: "";
}

.fa-road::before {
    content: "";
}

.fa-download::before {
    content: "";
}

.fa-arrow-circle-o-down::before {
    content: "";
}

.fa-arrow-circle-o-up::before {
    content: "";
}

.fa-inbox::before {
    content: "";
}

.fa-play-circle-o::before {
    content: "";
}

.fa-rotate-right::before, .fa-repeat::before {
    content: "";
}

.fa-refresh::before {
    content: "";
}

.fa-list-alt::before {
    content: "";
}

.fa-lock::before {
    content: "";
}

.fa-flag::before {
    content: "";
}

.fa-headphones::before {
    content: "";
}

.fa-volume-off::before {
    content: "";
}

.fa-volume-down::before {
    content: "";
}

.fa-volume-up::before {
    content: "";
}

.fa-qrcode::before {
    content: "";
}

.fa-barcode::before {
    content: "";
}

.fa-tag::before {
    content: "";
}

.fa-tags::before {
    content: "";
}

.fa-book::before {
    content: "";
}

.fa-bookmark::before {
    content: "";
}

.fa-print::before {
    content: "";
}

.fa-camera::before {
    content: "";
}

.fa-font::before {
    content: "";
}

.fa-bold::before {
    content: "";
}

.fa-italic::before {
    content: "";
}

.fa-text-height::before {
    content: "";
}

.fa-text-width::before {
    content: "";
}

.fa-align-left::before {
    content: "";
}

.fa-align-center::before {
    content: "";
}

.fa-align-right::before {
    content: "";
}

.fa-align-justify::before {
    content: "";
}

.fa-list::before {
    content: "";
}

.fa-dedent::before, .fa-outdent::before {
    content: "";
}

.fa-indent::before {
    content: "";
}

.fa-video-camera::before {
    content: "";
}

.fa-photo::before, .fa-image::before, .fa-picture-o::before {
    content: "";
}

.fa-pencil::before {
    content: "";
}

.fa-map-marker::before {
    content: "";
}

.fa-adjust::before {
    content: "";
}

.fa-tint::before {
    content: "";
}

.fa-edit::before, .fa-pencil-square-o::before {
    content: "";
}

.fa-share-square-o::before {
    content: "";
}

.fa-check-square-o::before {
    content: "";
}

.fa-arrows::before {
    content: "";
}

.fa-step-backward::before {
    content: "";
}

.fa-fast-backward::before {
    content: "";
}

.fa-backward::before {
    content: "";
}

.fa-play::before {
    content: "";
}

.fa-pause::before {
    content: "";
}

.fa-stop::before {
    content: "";
}

.fa-forward::before {
    content: "";
}

.fa-fast-forward::before {
    content: "";
}

.fa-step-forward::before {
    content: "";
}

.fa-eject::before {
    content: "";
}

.fa-chevron-left::before {
    content: "";
}

.fa-chevron-right::before {
    content: "";
}

.fa-plus-circle::before {
    content: "";
}

.fa-minus-circle::before {
    content: "";
}

.fa-times-circle::before {
    content: "";
}

.fa-check-circle::before {
    content: "";
}

.fa-question-circle::before {
    content: "";
}

.fa-info-circle::before {
    content: "";
}

.fa-crosshairs::before {
    content: "";
}

.fa-times-circle-o::before {
    content: "";
}

.fa-check-circle-o::before {
    content: "";
}

.fa-ban::before {
    content: "";
}

.fa-arrow-left::before {
    content: "";
}

.fa-arrow-right::before {
    content: "";
}

.fa-arrow-up::before {
    content: "";
}

.fa-arrow-down::before {
    content: "";
}

.fa-mail-forward::before, .fa-share::before {
    content: "";
}

.fa-expand::before {
    content: "";
}

.fa-compress::before {
    content: "";
}

.fa-plus::before {
    content: "";
}

.fa-minus::before {
    content: "";
}

.fa-asterisk::before {
    content: "";
}

.fa-exclamation-circle::before {
    content: "";
}

.fa-gift::before {
    content: "";
}

.fa-leaf::before {
    content: "";
}

.fa-fire::before {
    content: "";
}

.fa-eye::before {
    content: "";
}

.fa-eye-slash::before {
    content: "";
}

.fa-warning::before, .fa-exclamation-triangle::before {
    content: "";
}

.fa-plane::before {
    content: "";
}

.fa-calendar::before {
    content: "";
}

.fa-random::before {
    content: "";
}

.fa-comment::before {
    content: "";
}

.fa-magnet::before {
    content: "";
}

.fa-chevron-up::before {
    content: "";
}

.fa-chevron-down::before {
    content: "";
}

.fa-retweet::before {
    content: "";
}

.fa-shopping-cart::before {
    content: "";
}

.fa-folder::before {
    content: "";
}

.fa-folder-open::before {
    content: "";
}

.fa-arrows-v::before {
    content: "";
}

.fa-arrows-h::before {
    content: "";
}

.fa-bar-chart-o::before, .fa-bar-chart::before {
    content: "";
}

.fa-twitter-square::before {
    content: "";
}

.fa-facebook-square::before {
    content: "";
}

.fa-camera-retro::before {
    content: "";
}

.fa-key::before {
    content: "";
}

.fa-gears::before, .fa-cogs::before {
    content: "";
}

.fa-comments::before {
    content: "";
}

.fa-thumbs-o-up::before {
    content: "";
}

.fa-thumbs-o-down::before {
    content: "";
}

.fa-star-half::before {
    content: "";
}

.fa-heart-o::before {
    content: "";
}

.fa-sign-out::before {
    content: "";
}

.fa-linkedin-square::before {
    content: "";
}

.fa-thumb-tack::before {
    content: "";
}

.fa-external-link::before {
    content: "";
}

.fa-sign-in::before {
    content: "";
}

.fa-trophy::before {
    content: "";
}

.fa-github-square::before {
    content: "";
}

.fa-upload::before {
    content: "";
}

.fa-lemon-o::before {
    content: "";
}

.fa-phone::before {
    content: "";
}

.fa-square-o::before {
    content: "";
}

.fa-bookmark-o::before {
    content: "";
}

.fa-phone-square::before {
    content: "";
}

.fa-twitter::before {
    content: "";
}

.fa-facebook::before {
    content: "";
}

.fa-github::before {
    content: "";
}

.fa-unlock::before {
    content: "";
}

.fa-credit-card::before {
    content: "";
}

.fa-rss::before {
    content: "";
}

.fa-hdd-o::before {
    content: "";
}

.fa-bullhorn::before {
    content: "";
}

.fa-bell::before {
    content: "";
}

.fa-certificate::before {
    content: "";
}

.fa-hand-o-right::before {
    content: "";
}

.fa-hand-o-left::before {
    content: "";
}

.fa-hand-o-up::before {
    content: "";
}

.fa-hand-o-down::before {
    content: "";
}

.fa-arrow-circle-left::before {
    content: "";
}

.fa-arrow-circle-right::before {
    content: "";
}

.fa-arrow-circle-up::before {
    content: "";
}

.fa-arrow-circle-down::before {
    content: "";
}

.fa-globe::before {
    content: "";
}

.fa-wrench::before {
    content: "";
}

.fa-tasks::before {
    content: "";
}

.fa-filter::before {
    content: "";
}

.fa-briefcase::before {
    content: "";
}

.fa-arrows-alt::before {
    content: "";
}

.fa-group::before, .fa-users::before {
    content: "";
}

.fa-chain::before, .fa-link::before {
    content: "";
}

.fa-cloud::before {
    content: "";
}

.fa-flask::before {
    content: "";
}

.fa-cut::before, .fa-scissors::before {
    content: "";
}

.fa-copy::before, .fa-files-o::before {
    content: "";
}

.fa-paperclip::before {
    content: "";
}

.fa-save::before, .fa-floppy-o::before {
    content: "";
}

.fa-square::before {
    content: "";
}

.fa-navicon::before, .fa-reorder::before, .fa-bars::before {
    content: "";
}

.fa-list-ul::before {
    content: "";
}

.fa-list-ol::before {
    content: "";
}

.fa-strikethrough::before {
    content: "";
}

.fa-underline::before {
    content: "";
}

.fa-table::before {
    content: "";
}

.fa-magic::before {
    content: "";
}

.fa-truck::before {
    content: "";
}

.fa-pinterest::before {
    content: "";
}

.fa-pinterest-square::before {
    content: "";
}

.fa-google-plus-square::before {
    content: "";
}

.fa-google-plus::before {

}

.fa-money::before {
    content: "";
}

.fa-caret-down::before {
    content: "";
}

.fa-caret-up::before {
    content: "";
}

.fa-caret-left::before {
    content: "";
}

.fa-caret-right::before {
    content: "";
}

.fa-columns::before {
    content: "";
}

.fa-unsorted::before, .fa-sort::before {
    content: "";
}

.fa-sort-down::before, .fa-sort-desc::before {
    content: "";
}

.fa-sort-up::before, .fa-sort-asc::before {
    content: "";
}

.fa-envelope::before {
    content: "";
}

.fa-linkedin::before {
    content: "";
}

.fa-rotate-left::before, .fa-undo::before {
    content: "";
}

.fa-legal::before, .fa-gavel::before {
    content: "";
}

.fa-dashboard::before, .fa-tachometer::before {
    content: "";
}

.fa-comment-o::before {
    content: "";
}

.fa-comments-o::before {
    content: "";
}

.fa-flash::before, .fa-bolt::before {
    content: "";
}

.fa-sitemap::before {
    content: "";
}

.fa-umbrella::before {
    content: "";
}

.fa-paste::before, .fa-clipboard::before {
    content: "";
}

.fa-lightbulb-o::before {
    content: "";
}

.fa-exchange::before {
    content: "";
}

.fa-cloud-download::before {
    content: "";
}

.fa-cloud-upload::before {
    content: "";
}

.fa-user-md::before {
    content: "";
}

.fa-stethoscope::before {
    content: "";
}

.fa-suitcase::before {
    content: "";
}

.fa-bell-o::before {
    content: "";
}

.fa-coffee::before {
    content: "";
}

.fa-cutlery::before {
    content: "";
}

.fa-file-text-o::before {
    content: "";
}

.fa-building-o::before {
    content: "";
}

.fa-hospital-o::before {
    content: "";
}

.fa-ambulance::before {
    content: "";
}

.fa-medkit::before {
    content: "";
}

.fa-fighter-jet::before {
    content: "";
}

.fa-beer::before {
    content: "";
}

.fa-h-square::before {
    content: "";
}

.fa-plus-square::before {
    content: "";
}

.fa-angle-double-left::before {
    content: "";
}

.fa-angle-double-right::before {
    content: "";
}

.fa-angle-double-up::before {
    content: "";
}

.fa-angle-double-down::before {
    content: "";
}

.fa-angle-left::before {
    content: "";
}

.fa-angle-right::before {
    content: "";
}

.fa-angle-up::before {
    content: "";
}

.fa-angle-down::before {
    content: "";
}

.fa-desktop::before {
    content: "";
}

.fa-laptop::before {
    content: "";
}

.fa-tablet::before {
    content: "";
}

.fa-mobile-phone::before, .fa-mobile::before {
    content: "";
}

.fa-circle-o::before {
    content: "";
}

.fa-quote-left::before {
    content: "";
}

.fa-quote-right::before {
    content: "";
}

.fa-spinner::before {
    content: "";
}

.fa-circle::before {
    content: "";
}

.fa-mail-reply::before, .fa-reply::before {
    content: "";
}

.fa-github-alt::before {
    content: "";
}

.fa-folder-o::before {
    content: "";
}

.fa-folder-open-o::before {
    content: "";
}

.fa-smile-o::before {
    content: "";
}

.fa-frown-o::before {
    content: "";
}

.fa-meh-o::before {
    content: "";
}

.fa-gamepad::before {
    content: "";
}

.fa-keyboard-o::before {
    content: "";
}

.fa-flag-o::before {
    content: "";
}

.fa-flag-checkered::before {
    content: "";
}

.fa-terminal::before {
    content: "";
}

.fa-code::before {
    content: "";
}

.fa-mail-reply-all::before, .fa-reply-all::before {
    content: "";
}

.fa-star-half-empty::before, .fa-star-half-full::before, .fa-star-half-o::before {
    content: "";
}

.fa-location-arrow::before {
    content: "";
}

.fa-crop::before {
    content: "";
}

.fa-code-fork::before {
    content: "";
}

.fa-unlink::before, .fa-chain-broken::before {
    content: "";
}

.fa-question::before {
    content: "";
}

.fa-info::before {
    content: "";
}

.fa-exclamation::before {
    content: "";
}

.fa-superscript::before {
    content: "";
}

.fa-subscript::before {
    content: "";
}

.fa-eraser::before {
    content: "";
}

.fa-puzzle-piece::before {
    content: "";
}

.fa-microphone::before {
    content: "";
}

.fa-microphone-slash::before {
    content: "";
}

.fa-shield::before {
    content: "";
}

.fa-calendar-o::before {
    content: "";
}

.fa-fire-extinguisher::before {
    content: "";
}

.fa-rocket::before {
    content: "";
}

.fa-maxcdn::before {
    content: "";
}

.fa-chevron-circle-left::before {
    content: "";
}

.fa-chevron-circle-right::before {
    content: "";
}

.fa-chevron-circle-up::before {
    content: "";
}

.fa-chevron-circle-down::before {
    content: "";
}

.fa-html5::before {
    content: "";
}

.fa-css3::before {
    content: "";
}

.fa-anchor::before {
    content: "";
}

.fa-unlock-alt::before {
    content: "";
}

.fa-bullseye::before {
    content: "";
}

.fa-ellipsis-h::before {
    content: "";
}

.fa-ellipsis-v::before {
    content: "";
}

.fa-rss-square::before {
    content: "";
}

.fa-play-circle::before {
    content: "";
}

.fa-ticket::before {
    content: "";
}

.fa-minus-square::before {
    content: "";
}

.fa-minus-square-o::before {
    content: "";
}

.fa-level-up::before {
    content: "";
}

.fa-level-down::before {
    content: "";
}

.fa-check-square::before {
    content: "";
}

.fa-pencil-square::before {
    content: "";
}

.fa-external-link-square::before {
    content: "";
}

.fa-share-square::before {
    content: "";
}

.fa-compass::before {
    content: "";
}

.fa-toggle-down::before, .fa-caret-square-o-down::before {
    content: "";
}

.fa-toggle-up::before, .fa-caret-square-o-up::before {
    content: "";
}

.fa-toggle-right::before, .fa-caret-square-o-right::before {
    content: "";
}

.fa-euro::before, .fa-eur::before {
    content: "";
}

.fa-gbp::before {
    content: "";
}

.fa-dollar::before, .fa-usd::before {
    content: "";
}

.fa-rupee::before, .fa-inr::before {
    content: "";
}

.fa-cny::before, .fa-rmb::before, .fa-yen::before, .fa-jpy::before {
    content: "";
}

.fa-ruble::before, .fa-rouble::before, .fa-rub::before {
    content: "";
}

.fa-won::before, .fa-krw::before {
    content: "";
}

.fa-bitcoin::before, .fa-btc::before {
    content: "";
}

.fa-file::before {
    content: "";
}

.fa-file-text::before {
    content: "";
}

.fa-sort-alpha-asc::before {
    content: "";
}

.fa-sort-alpha-desc::before {
    content: "";
}

.fa-sort-amount-asc::before {
    content: "";
}

.fa-sort-amount-desc::before {
    content: "";
}

.fa-sort-numeric-asc::before {
    content: "";
}

.fa-sort-numeric-desc::before {
    content: "";
}

.fa-thumbs-up::before {
    content: "";
}

.fa-thumbs-down::before {
    content: "";
}

.fa-youtube-square::before {
    content: "";
}

.fa-youtube::before {
    content: "";
}

.fa-xing::before {
    content: "";
}

.fa-xing-square::before {
    content: "";
}

.fa-youtube-play::before {
    content: "";
}

.fa-dropbox::before {
    content: "";
}

.fa-stack-overflow::before {
    content: "";
}

.fa-instagram::before {
    content: "";
}

.fa-flickr::before {
    content: "";
}

.fa-adn::before {
    content: "";
}

.fa-bitbucket::before {
    content: "";
}

.fa-bitbucket-square::before {
    content: "";
}

.fa-tumblr::before {
    content: "";
}

.fa-tumblr-square::before {
    content: "";
}

.fa-long-arrow-down::before {
    content: "";
}

.fa-long-arrow-up::before {
    content: "";
}

.fa-long-arrow-left::before {
    content: "";
}

.fa-long-arrow-right::before {
    content: "";
}

.fa-apple::before {
    content: "";
}

.fa-windows::before {
    content: "";
}

.fa-android::before {
    content: "";
}

.fa-linux::before {
    content: "";
}

.fa-dribbble::before {
    content: "";
}

.fa-skype::before {
    content: "";
}

.fa-foursquare::before {
    content: "";
}

.fa-trello::before {
    content: "";
}

.fa-female::before {
    content: "";
}

.fa-male::before {
    content: "";
}

.fa-gittip::before {
    content: "";
}

.fa-sun-o::before {
    content: "";
}

.fa-moon-o::before {
    content: "";
}

.fa-archive::before {
    content: "";
}

.fa-bug::before {
    content: "";
}

.fa-vk::before {
    content: "";
}

.fa-weibo::before {
    content: "";
}

.fa-renren::before {
    content: "";
}

.fa-pagelines::before {
    content: "";
}

.fa-stack-exchange::before {
    content: "";
}

.fa-arrow-circle-o-right::before {
    content: "";
}

.fa-arrow-circle-o-left::before {
    content: "";
}

.fa-toggle-left::before, .fa-caret-square-o-left::before {
    content: "";
}

.fa-dot-circle-o::before {
    content: "";
}

.fa-wheelchair::before {
    content: "";
}

.fa-vimeo-square::before {
    content: "";
}

.fa-turkish-lira::before, .fa-try::before {
    content: "";
}

.fa-plus-square-o::before {
    content: "";
}

.fa-space-shuttle::before {
    content: "";
}

.fa-slack::before {
    content: "";
}

.fa-envelope-square::before {
    content: "";
}

.fa-wordpress::before {
    content: "";
}

.fa-openid::before {
    content: "";
}

.fa-institution::before, .fa-bank::before, .fa-university::before {
    content: "";
}

.fa-mortar-board::before, .fa-graduation-cap::before {
    content: "";
}

.fa-yahoo::before {
    content: "";
}

.fa-google::before {
    content: "";
}

.fa-reddit::before {
    content: "";
}

.fa-reddit-square::before {
    content: "";
}

.fa-stumbleupon-circle::before {
    content: "";
}

.fa-stumbleupon::before {
    content: "";
}

.fa-delicious::before {
    content: "";
}

.fa-digg::before {
    content: "";
}

.fa-pied-piper::before {
    content: "";
}

.fa-pied-piper-alt::before {
    content: "";
}

.fa-drupal::before {
    content: "";
}

.fa-joomla::before {
    content: "";
}

.fa-language::before {
    content: "";
}

.fa-fax::before {
    content: "";
}

.fa-building::before {
    content: "";
}

.fa-child::before {
    content: "";
}

.fa-paw::before {
    content: "";
}

.fa-spoon::before {
    content: "";
}

.fa-cube::before {
    content: "";
}

.fa-cubes::before {
    content: "";
}

.fa-behance::before {
    content: "";
}

.fa-behance-square::before {
    content: "";
}

.fa-steam::before {
    content: "";
}

.fa-steam-square::before {
    content: "";
}

.fa-recycle::before {
    content: "";
}

.fa-automobile::before, .fa-car::before {
    content: "";
}

.fa-cab::before, .fa-taxi::before {
    content: "";
}

.fa-tree::before {
    content: "";
}

.fa-spotify::before {
    content: "";
}

.fa-deviantart::before {
    content: "";
}

.fa-soundcloud::before {
    content: "";
}

.fa-database::before {
    content: "";
}

.fa-file-pdf-o::before {
    content: "";
}

.fa-file-word-o::before {
    content: "";
}

.fa-file-excel-o::before {
    content: "";
}

.fa-file-powerpoint-o::before {
    content: "";
}

.fa-file-photo-o::before, .fa-file-picture-o::before, .fa-file-image-o::before {
    content: "";
}

.fa-file-zip-o::before, .fa-file-archive-o::before {
    content: "";
}

.fa-file-sound-o::before, .fa-file-audio-o::before {
    content: "";
}

.fa-file-movie-o::before, .fa-file-video-o::before {
    content: "";
}

.fa-file-code-o::before {
    content: "";
}

.fa-vine::before {
    content: "";
}

.fa-codepen::before {
    content: "";
}

.fa-jsfiddle::before {
    content: "";
}

.fa-life-bouy::before, .fa-life-buoy::before, .fa-life-saver::before, .fa-support::before, .fa-life-ring::before {
    content: "";
}

.fa-circle-o-notch::before {
    content: "";
}

.fa-ra::before, .fa-rebel::before {
    content: "";
}

.fa-ge::before, .fa-empire::before {
    content: "";
}

.fa-git-square::before {
    content: "";
}

.fa-git::before {
    content: "";
}

.fa-hacker-news::before {
    content: "";
}

.fa-tencent-weibo::before {
    content: "";
}

.fa-qq::before {
    content: "";
}

.fa-wechat::before, .fa-weixin::before {
    content: "";
}

.fa-send::before, .fa-paper-plane::before {
    content: "";
}

.fa-send-o::before, .fa-paper-plane-o::before {
    content: "";
}

.fa-history::before {
    content: "";
}

.fa-circle-thin::before {
    content: "";
}

.fa-header::before {
    content: "";
}

.fa-paragraph::before {
    content: "";
}

.fa-sliders::before {
    content: "";
}

.fa-share-alt::before {
    content: "";
}

.fa-share-alt-square::before {
    content: "";
}

.fa-bomb::before {
    content: "";
}

.fa-soccer-ball-o::before, .fa-futbol-o::before {
    content: "";
}

.fa-tty::before {
    content: "";
}

.fa-binoculars::before {
    content: "";
}

.fa-plug::before {
    content: "";
}

.fa-slideshare::before {
    content: "";
}

.fa-twitch::before {
    content: "";
}

.fa-yelp::before {
    content: "";
}

.fa-newspaper-o::before {
    content: "";
}

.fa-wifi::before {
    content: "";
}

.fa-calculator::before {
    content: "";
}

.fa-paypal::before {
    content: "";
}

.fa-google-wallet::before {
    content: "";
}

.fa-cc-visa::before {
    content: "";
}

.fa-cc-mastercard::before {
    content: "";
}

.fa-cc-discover::before {
    content: "";
}

.fa-cc-amex::before {
    content: "";
}

.fa-cc-paypal::before {
    content: "";
}

.fa-cc-stripe::before {
    content: "";
}

.fa-bell-slash::before {
    content: "";
}

.fa-bell-slash-o::before {
    content: "";
}

.fa-trash::before {
    content: "";
}

.fa-copyright::before {
    content: "";
}

.fa-at::before {
    content: "";
}

.fa-eyedropper::before {
    content: "";
}

.fa-paint-brush::before {
    content: "";
}

.fa-birthday-cake::before {
    content: "";
}

.fa-area-chart::before {
    content: "";
}

.fa-pie-chart::before {
    content: "";
}

.fa-line-chart::before {
    content: "";
}

.fa-lastfm::before {
    content: "";
}

.fa-lastfm-square::before {
    content: "";
}

.fa-toggle-off::before {
    content: "";
}

.fa-toggle-on::before {
    content: "";
}

.fa-bicycle::before {
    content: "";
}

.fa-bus::before {
    content: "";
}

.fa-ioxhost::before {
    content: "";
}

.fa-angellist::before {
    content: "";
}

.fa-cc::before {
    content: "";
}

.fa-shekel::before, .fa-sheqel::before, .fa-ils::before {
    content: "";
}

.fa-meanpath::before {
    content: "";
}

span.PIN_1437026784872_embed_grid span.PIN_1437026784872_embed_grid_bd a.PIN_1437026784872_embed_grid_th::before {
    position: absolute ! important;
    content: "" ! important;
    z-index: 2 ! important;
    top: 0px ! important;
    left: 0px ! important;
    right: 0px ! important;
    bottom: 0px ! important;
    box-shadow: 0px 0px 2px rgb(136, 136, 136) inset ! important;
}

.fb_reset {
    background: transparent none repeat scroll 0% 0%;
    border: 0px none;
    border-spacing: 0px;
    color: rgb(0, 0, 0);
    cursor: auto;
    direction: ltr;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal;
}

.fb_reset > div {
    overflow: hidden;
}

#wpfront-notification-bar {
    background: transparent linear-gradient(to bottom, rgb(157, 158, 175) 0%, rgb(157, 158, 175) 100%) repeat scroll 0% 0%;
}

#wpfront-notification-bar div.wpfront-message {
    color: rgb(255, 255, 255);
}

#wpfront-notification-bar a.wpfront-button {
    background: transparent linear-gradient(to bottom, rgb(128, 0, 0) 0%, rgb(128, 0, 0) 100%) repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
}

#wpfront-notification-bar-open-button {
    background-color: rgb(128, 0, 0);
}

#wpfront-notification-bar div.wpfront-close {
    border: 1px solid rgb(199, 199, 199);
    background-color: rgb(199, 199, 199);
    color: rgb(0, 0, 0);
}

#wpfront-notification-bar div.wpfront-close:hover {
    border: 1px solid rgb(157, 158, 175);
    background-color: rgb(157, 158, 175);
}

#wpfront-notification-bar {
    background: transparent linear-gradient(to bottom, rgb(157, 158, 175) 0%, rgb(157, 158, 175) 100%) repeat scroll 0% 0%;
}

#wpfront-notification-bar div.wpfront-message {
    color: rgb(255, 255, 255);
}

#wpfront-notification-bar a.wpfront-button {
    background: transparent linear-gradient(to bottom, rgb(128, 0, 0) 0%, rgb(128, 0, 0) 100%) repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
}

#wpfront-notification-bar-open-button {
    background-color: rgb(128, 0, 0);
}

#wpfront-notification-bar div.wpfront-close {
    border: 1px solid rgb(199, 199, 199);
    background-color: rgb(199, 199, 199);
    color: rgb(0, 0, 0);
}

#wpfront-notification-bar div.wpfront-close:hover {
    border: 1px solid rgb(157, 158, 175);
    background-color: rgb(157, 158, 175);
}

.snp-pop-43424 .snp-theme-iframe {
    width: 950px;
}

.snp-pop-43424 .snp-theme-iframe {
    height: 600px;
}

.comments {
    margin: 25px 0px 0px 12px;
}

.comments h2 {
    background-color: rgba(204, 59, 102, 0.92);
    color: #ffffff;
    padding: 10px 0px 10px 10px;
    border-radius: 8px;
}

.comment {
    padding: 10px 0px;
    border-bottom: 1px dotted #F89829;
}

.avatar img {
    float: left;
    width: 50px;
}

.comment-entry {
    margin-left: 60px;
}

.comment-entry .name {
    font-size: 1.3em;
    padding-bottom: 5px;
    color: rgb(166, 0, 0);
}

.comment-entry .date {
    font-style: italic;
    color: #999999;
    padding-bottom: 5px;
}

.comment-text p {
    font-size: 1.1em !important;
    line-height: 1.3em;
}

.ord_button {
    background-color: #960000;
    color: #ffffff;
    display: inline-block;
    padding: 10px 30px;
    font-size: 25px;
    box-shadow: 2px 3px 8px #999999;
    text-decoration: none;
    margin: 20px 0px 30px;
    line-height: 27px;
    text-transform: uppercase;

}

.ord_button:hover {
    background-color: #630000;
    box-shadow: 1px 2px 3px #999999;
    text-decoration: none;
}

img {
    max-width: 100%;
}
