
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.terms {
  position: relative;
  padding: 10px 0;
  font-size: 13px;
  font-family: inherit;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 425px) {
  .terms {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .terms {
    font-size: 10px;
    font-weight: 400;
  }
}

.terms span {
  color: #fff;
}

.terms a {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.terms-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  padding: 15px 0;
  color: #000;
  background: #fff;
}

.terms-footer a {
  color: #000;
  font-weight: 400;
  font-family: inherit;
  margin: 0 10px;
  text-decoration: underline;
  cursor: pointer;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 20px;
}

.modal-body p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 15px;
}

.modal-body p:last-of-type {
  margin-bottom: 0;
}

.modal-body h3 {
  font-size: 17px;
  line-height: 1.3;
  font-weight: 700;
  margin: 0 auto 10px;
  text-align: left;
}

.modal-body ul {
  padding: 0;
  list-style: none;
}

.modal-body li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.modal-body li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #252525;

}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.modal-title {
  position: relative;
  margin: 0;
  line-height: 1.5;
  font-weight: 700;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 5px;
  pointer-events: none
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(0, -50px)
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none
  }
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 10px)
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 10px);
  content: ""
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  outline: 0
}

.close {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #000;
  background: transparent;
  text-shadow: 0 1px 0 #fff;
  padding: 0 5px;
  cursor: pointer;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 560px;
    margin: 17px auto
  }

  .modal-dialog-centered {
    min-height: calc(100% - 35px)
  }

  .modal-dialog-centered::before {
    height: calc(100vh - 35px)
  }
}

@media (min-width: 992px) {

  .modal-dialog {
    max-width: 760px;
  }
}

@media (max-width: 767px) {
  .modal-body p {
    font-size: 17px;
  }

  .modal-body h3 {
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  .break {
    word-break: break-all;
  }
}