body {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
body {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  background: #f7f7f7 none repeat scroll 0 0;
}
input,
textarea {
  outline: medium none;
}
a {
  color: #01839c;
}
a:hover {
  color: #b0493b;
}
a img {
  border: medium none;
}
a:focus {
  outline: medium none;
}
h1 {
  font-size: 24px;
  font-weight: 400;
}
.bttn {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  background: red;
  border: 1px solid red;
  padding: 2% 4%;
  transition: 1s;
}
.bttn:hover {
  color: #000;
  background: 0 0;
}
.alex_zevsa_wcih4ECQW {
  position: relative;
  margin: 0 auto;
  width: 960px;
  padding: 0 20px;
}
.clearfix::after,
.clearfix::before {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}
.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC,
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
  font-family: PFDinTextCondProMedium, Helvetica, Arial !important;
}
.RA4CSZ_e3qI7YOg,
.zhanna_86_o5IKudBv h2 {
  font-family: PFDinTextCondProRegular, Helvetica, Arial !important;
}
.katyakoncakova_FtFDdVex {
  position: relative;
  z-index: 15;
}
.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
  margin-left: 10px;
  margin-top: 40px;
  float: left;
  width: 360px;
  text-decoration: none;
  color: #000;
  display: block;
  position: relative;
}
.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC img {
  width: 74px;
  float: left;
}
.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 {
  font-size: 18px;
  margin-top: 17px;
  margin-left: 18px;
  width: 265px;
  float: left;
  text-transform: uppercase;
  line-height: 1;
}
.katyakoncakova_FtFDdVex .vasilusya_rfYcdWbD {
  float: right;
  font-size: 12px;
  margin-top: 5px;
}
.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
  width: 330px;
  float: right;
  margin-top: 60px;
}
.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .mansurovan_vUZn4RQN {
  text-align: right;
  font-size: 12px;
  text-transform: uppercase;
  float: right;
}
.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .Dulov_V_V_du3BxPsUO {
  font-weight: 700;
  color: #353746;
}
.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN span {
  color: #353744;
}
.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .udav_t_slEtc0GR {
  margin: 0 5px;
}
.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .tata_soboleva_XjcqhmYZ7 {
  margin-top: 25px;
  position: relative;
  text-align: right;
}
.katyakoncakova_FtFDdVex .tata_soboleva_XjcqhmYZ7 .tjn-02_ANHUDPcR {
  width: 170px;
  padding: 4px 5px;
}
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
  margin-top: 10px;
  background: #333541 none repeat scroll 0 0;
  height: 55px;
}
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .main-menu-blk {
  list-style: outside none none;
}
.katyakoncakova_FtFDdVex .main-menu-blk > li {
  float: left;
  margin-right: 23px;
  position: relative;
  padding: 17px 10px;
}
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe span {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  text-decoration: none;
}
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .submenu-btn {
  color: #cf4f3a;
  font-style: normal;
  margin-left: 4px;
}
.alstep54_sglCGFT6q {
  margin: 0 0 20px 0;
  font-size: 12px;
  color: #01839c;
  cursor: pointer;
}
.alstep54_sglCGFT6q span {
  text-decoration: underline;
}
.renul_seDwyoGn57 .gelat_Bb6MhOHv {
  font-size: 0;
  float: left;
  padding: 0 30px 0 0;
  font-style: italic;
  color: #a1a1a8;
}
.zhanna_86_o5IKudBv {
  background: #fff none repeat scroll 0 0;
  padding: 30px 40px 40px;
  border-radius: 4px;
}
.altakansk_YrlOq5h6N {
  text-decoration: none !important;
  font-family: Arial;
  color: #6c6e83;
  margin: 0 5px;
}
.dmavrodi_yjLIBb2Q {
  position: relative;
  z-index: 10;
}
.RA4CSZ_e3qI7YOg {
  position: absolute;
  display: none;
  z-index: 150;
  background: #353742 none repeat scroll 0 0;
  border-radius: 4px;
  padding: 4px 10px 2px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.web-s {
  font-family: WebSymbols;
  -moz-user-select: none;
}
.sazonov66_g9ysODlqt {
  min-height: 100%;
  position: relative;
  background: #f7f7f7 none no-repeat scroll center top;
}
.vk-container {
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 15px;
  color: #000;
  text-decoration: none;
}
.vk-header {
  background: #dae2e8 none repeat scroll 0 0;
  padding: 4px 4px 4px 6px;
  margin-bottom: 10px;
}
.vk-logo {
  background: transparent none no-repeat scroll 0 0;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: -1px;
}
.vk-header-text {
  padding: 2px 3px 1px;
  line-height: 100%;
  color: #45688e;
  font-weight: 700;
}
.vk-avatar img {
  float: left;
  margin-right: 10px;
}
.vk-comment,
.vk-comment-load {
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid #dae1e8;
  padding-bottom: 15px;
}
.vk-comment-name {
  color: #2b587a;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1;
}
.vk-comment-text {
  margin-left: 60px;
  font-size: 15px;
}
.vk-comment-text p img {
  margin: 5px 0 0 0;
}
.vk-comment-date {
  font-size: 15px;
  margin-left: 60px;
  color: #999;
  margin-top: 10px;
}
@media screen and (max-width: 1020px) {
  .alex_zevsa_wcih4ECQW {
    width: auto;
  }
  .main-menu-blk {
    width: 100%;
    margin: 0 auto;
  }
  .katyakoncakova_FtFDdVex .main-menu-blk > li {
    width: 16.666%;
    float: left;
    margin: 0;
    display: block;
    padding: 0;
    text-align: center;
    height: 100%;
  }
  .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
    height: auto;
  }
  .katyakoncakova_FtFDdVex .main-menu-blk > li span {
    line-height: 50px;
  }
  .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
    width: 180px;
  }
  .alex_zevsa_wcih4ECQW,
  .main-menu-blk {
    height: 100%;
  }
  .web-s {
    display: none;
  }
  body img {
    max-width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .katyakoncakova_FtFDdVex .main-menu-blk > li {
    width: 33.333%;
  }
  .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
    display: none;
  }
  .renul_seDwyoGn57 .gelat_Bb6MhOHv {
    margin: 0 auto;
    padding-right: 0;
    float: none;
  }
  .renul_seDwyoGn57 .gelat_Bb6MhOHv > img {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 420px) {
  .zhanna_86_o5IKudBv {
    padding-left: 10px;
    padding-right: 10px;
  }
  .alstep54_sglCGFT6q {
    display: none;
  }
  .katyakoncakova_FtFDdVex .main-menu-blk > li {
    width: 50%;
  }
  body img {
    max-width: 100%;
  }
  .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
    width: 320px;
  }
  .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 {
    width: 200px;
    font-size: 16px;
  }
  .alex_zevsa_wcih4ECQW {
    padding: 0;
  }
}
.vk-avatar img {
  width: 48px;
}
.renul_seDwyoGn57 p {
  text-indent: 20px;
  color: #000;
  text-align: justify;
  margin: 20px 15px;
  line-height: 31px;
}
html {
  overflow-y: initial !important;
}
body {
  position: initial !important;
}
.order_info {
  text-align: center;
  padding: 0 0 22px;
}
#counter_product {
  display: inline-block;
  vertical-align: middle;
  border: none;
  color: red;
  font-size: 25px;
  text-shadow: 0 0 1px #67864d;
  line-height: 1.3;
  text-align: center;
  display: inline-block;
  width: 650px;
  max-width: 100%;
  vertical-align: middle;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
}
.left_count {
  display: inline-block;
  background: red;
  padding: 15px;
  margin: 12px 0 0;
  width: 86px;
  color: #fff;
  text-shadow: 0 -1px 0 #000, 0 -1px 0 #000, 0 1px 0 #000, 0 1px 0 #000, -1px 0 0 #000, 1px 0 0 #000, -1px 0 0 #000, 1px 0 0 #000,
    -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 14px !important;
  border-radius: 5px;
}
.left_count .prod_left_val {
  font-size: 26px !important;
}
#order_form {
  background: #fff;
  padding: 20px 0;
  max-width: 500px;
  font-family: Arial;
  margin: 10px auto;
  background-image: url(../images/formbg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 3px;
}
.main-menu-blk li a {
  text-decoration: none;
}
.main-menu-blk li a:hover {
  text-decoration: none;
}
@media (min-width: 600px) and (max-width: 739px) {
  #order_form {
    padding: 20px !important;
  }
}
@media (min-width: 460px) and (max-width: 599px) {
  #order_form {
    padding: 20px !important;
    margin: 0 -26px !important;
    margin-bottom: -190px !important;
  }
}
#order_form div {
  background: 0 0 !important;
  padding: 5px;
}
#order_form h2 {
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 32px;
  border: none;
}
#order_form label {
  width: 100%;
  text-align: center;
  display: block;
  padding: 5px 0 5px 0;
  font-weight: 700;
  font-size: 16px;
}
#order_form .order_form_pole {
  padding: 10px;
  display: inline-block;
  margin: 10px;
}
#order_form input {
  font-size: 21px;
  padding: 15px;
  border-radius: 3px;
  border: 2px solid #e9d7dc;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
}
#order_form span {
  font-size: 12px;
}
#order_form button {
  display: inline-block;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
  border-radius: 5px;
  background-color: #0299ff;
  background-position: 1.35em 0.94em;
  background-size: 1em;
  background-repeat: no-repeat;
  transition: all 0.15s ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
#order_form button:hover {
  background-color: #017acc;
}
#order_form button:active {
  position: relative;
  top: 1px;
}
/* asdasdas */
@media screen and (max-width: 480px) {
  #order_form label {
    font-size: 14px;
  }
  #order_form button {
    font-size: 16px;
  }
  #order_form .order_form_pole {
    padding: 0;
    margin: 2px;
  }
}
@media screen and (max-width: 459px) {
  #order_form input {
    width: 80%;
  }
  #order_form {
    margin-left: -10px;
    margin-right: -10px;
  }
}
@media screen and (max-width: 349px) {
  #order_form input {
    font-size: 17px;
  }
  #order_form button {
    margin-left: 0;
  }
}
#order_form input {
  width: 100%;
}
.spin-wrapper {
  -webkit-box-shadow: 0 0 10px;
  box-shadow: 0 0 10px;
  border: 3px solid red;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}
.left-spin,
.right-form {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 28px;
  padding: 0 5px;
}

/* asdasd */
@media all and (max-width: 768px) {
  .left-spin,
  .right-form {
    display: block;
    width: 100%;
  }
}
.wheel {
  max-width: 380px;
  margin: 0 auto;
  position: relative;
}
.wheel img {
  max-width: 100%;
}
.wheel-img {
  -webkit-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
}
.wheel-cursor {
  position: absolute;
  width: 35% !important;
  height: 35%;
  min-width: 120px;
  min-height: 120px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cursor-text {
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 45% !important;
  height: 45%;
  min-width: 65px;
  min-height: 65px;
  font: 12px Arial !important;
  line-height: 61px !important;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  top: 50%;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: #fff 0 -2px 0 inset, #fff 0 2px 0 inset, rgba(0, 0, 0, 0.4) 0 0 5px;
  box-shadow: #fff 0 -2px 0 inset, #fff 0 2px 0 inset, rgba(0, 0, 0, 0.4) 0 0 5px;
  background: #fff;
  background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0, #fff), color-stop(100%, #eaeaea));
  background: -webkit-radial-gradient(center, ellipse cover, #fff 0, #eaeaea 100%);
  background: -o-radial-gradient(center, ellipse cover, #fff 0, #eaeaea 100%);
  background: -webkit-radial-gradient(center, ellipse, #fff 0, #eaeaea 100%);
  background: -o-radial-gradient(center, ellipse, #fff 0, #eaeaea 100%);
  background: radial-gradient(ellipse at center, #fff 0, #eaeaea 100%);
}
.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px inset;
}
.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px inset;
}
@media all and (max-width: 520px) {
  .wheel {
    width: 280px !important;
  }
  .cursor-text {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 345px) {
  .wheel {
    width: 250px !important;
  }
}
.additional {
  line-height: 1.2;
  display: block;
}
p.sponsor-text {
  margin: 40px 0 20px;
  font-size: 20px;
  line-height: 28px;
  color: #0299ff;
  font-weight: 700;
  text-align: center !important;
  text-indent: 0 !important;
}
.sponsor-name-wrap {
  font-size: 0;
  text-align: center !important;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}
img.sponsor-logo,
span.sponsor-name {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
img.sponsor-logo {
  width: 60px;
  margin-right: 10px;
}
span.sponsor-name {
  width: calc(100% - 70px);
  max-width: 410px;
  color: #000;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 700;
}
@media all and (max-width: 768px) {
  img.sponsor-logo {
    margin-right: 5px;
  }
}
@media all and (max-width: 1024px) {
  .left-spin,
  .right-form {
    display: block;
    width: 100%;
  }
}
.prod_img_wrapper {
  text-align: center;
  max-width: 450px;
  margin: 15px auto;
  margin-bottom: 40px;
  position: relative;
}
.order_block img {
  width: 100%;
  max-width: 350px;
  margin: 20px 0 0 0;
}
.prod_img {
  width: 100%;
  max-width: 170px;
}
.prices {
  position: absolute;
  font-family: Arial, sans-serif;
  left: 120px;
  bottom: 0;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.8) 0 3px 30px;
  width: 165px;
  height: 98px;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.3;
  transform: rotateZ(-7deg);
  text-align: center !important;
  margin: 0 auto;
  background: linear-gradient(to right, #eea513 0, #fded13 100%);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-image: initial;
  border-radius: 19%;
}
.discounts {
  display: block;
  margin-top: 9px;
  font-size: 18px;
}
.price_main {
  border-bottom: 2px solid #d31812;
  font-size: 24px;
  line-height: 0;
  margin: 0 auto;
}
.oui {
  width: 781px;
  height: 460px;
  background: #3c72b5;
  background: -moz-linear-gradient(-45deg, #3c72b5 0, #7b9fcc 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0, #3c72b5), color-stop(100%, #7b9fcc));
  background: -webkit-linear-gradient(-45deg, #3c72b5 0, #7b9fcc 100%);
  background: -o-linear-gradient(-45deg, #3c72b5 0, #7b9fcc 100%);
  background: -ms-linear-gradient(-45deg, #3c72b5 0, #7b9fcc 100%);
  background: linear-gradient(135deg, #3c72b5 0, #7b9fcc 100%);
  font-family: Roboto !important;
  position: relative;
  border: 5px solid #ddd;
}
.eeee {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: fixed;
  cursor: pointer;
}
.kmacb-form2 .modal-block {
  left: 50%;
  margin-left: -396px;
  position: fixed;
  top: 6%;
  z-index: 11000;
  width: 792px;
  height: 470px;
  border-radius: 5px;
  border: 0;
  box-shadow: none;
  font-family: Arial, sans-serif;
  overflow: hidden;
  color: #222;
}
p.ouimainp {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-top: 23px;
  display: block;
  color: #fff;
  text-align: center;
}
.ouimain-text-img {
  display: block;
  width: 90%;
  padding: 0 5%;
  margin-top: 27px;
}
.ouimain-img {
  float: left;
  display: block;
  width: 30%;
  margin: 0 auto;
}
.ouimain-img img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.ouimain-text {
  display: block;
  width: 65%;
  float: right;
  margin-left: 5%;
  margin-top: 15px;
}
.ouimain-text p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  font-size: 22px;
  padding-bottom: 5px;
}
.ouimain-text-img:after {
  content: '';
  display: block;
  clear: both;
}
.kmacb-form form {
  margin: 30px 0;
  text-align: center;
  width: 100%;
  height: auto;
  background: 0;
  position: static;
  padding: 0;
  border: 0;
}
.kmacb-form2 form * {
  box-sizing: border-box;
}
.kmacb-form form input {
  float: none;
}
.kmacb-form form input[type='text'] {
  height: 56px;
  line-height: 56px;
  color: #222;
  border: 2px solid #bdbdbd;
  padding: 0 15px;
  width: 100%;
  display: inline-block;
  text-indent: 0;
  border-radius: 3px;
  background: #fff;
  font-size: 20px;
  font-style: normal;
  box-shadow: none;
  position: static;
  margin: 0 0 10px;
}
.kmacb-form input[type='button'] {
  position: absolute;
  cursor: pointer;
  border: 1px solid #499bea;
  background: #de455c;
  background: -moz-linear-gradient(-45deg, #de455c 0, #de455c 13%, #c01f37 76%, #c01f37 100%);
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0, #de455c),
    color-stop(13%, #de455c),
    color-stop(76%, #c01f37),
    color-stop(100%, #c01f37)
  );
  background: -webkit-linear-gradient(-45deg, #de455c 0, #de455c 13%, #c01f37 76%, #c01f37 100%);
  background: -o-linear-gradient(-45deg, #de455c 0, #de455c 13%, #c01f37 76%, #c01f37 100%);
  background: -ms-linear-gradient(-45deg, #de455c 0, #de455c 13%, #c01f37 76%, #c01f37 100%);
  background: linear-gradient(135deg, #de455c 0, #de455c 13%, #c01f37 76%, #c01f37 100%);
  color: #fff;
  padding: 0 10px;
  text-transform: uppercase;
  line-height: 60px;
  vertical-align: top;
  text-indent: 0;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  width: 402px;
  height: 64px;
  opacity: 1;
  bottom: 29px;
  margin-left: 195px;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  border-radius: 10px;
  transition: 0.6s ease;
}
.kmacb-form form input[type='submit']:hover {
  background: #de455c;
  background: -moz-linear-gradient(top, #de455c 0, #de455c 13%, #c01f37 76%, #c01f37 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0, #de455c),
    color-stop(13%, #de455c),
    color-stop(76%, #c01f37),
    color-stop(100%, #c01f37)
  );
  background: -webkit-linear-gradient(top, #de455c 0, #de455c 13%, #c01f37 76%, #c01f37 100%);
  background: -o-linear-gradient(top, #de455c 0, #de455c 13%, #c01f37 76%, #c01f37 100%);
  background: -ms-linear-gradient(top, #de455c 0, #de455c 13%, #c01f37 76%, #c01f37 100%);
  background: linear-gradient(to bottom, #de455c 0, #de455c 13%, #c01f37 76%, #c01f37 100%);
}
.show {
  display: block !important;
}
span.show-img {
  width: 90%;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #bbb;
  padding: 5px 10px;
  border-radius: 3px;
  background: #bbb;
  color: #000;
  text-decoration: none;
}
input[value='Получить бесплатно']:hover {
  background: #b00 !important;
  transition: background 0.3s;
}
input[value='Получить бесплатно']:active {
  transform: translateY(2px);
  box-shadow: none !important;
}
.ruletka-p {
  text-indent: 0;
  color: #000;
  text-align: center !important;
  margin: 15px;
  line-height: 25px;
  font-weight: 700;
}
.ruletka-p h2 {
  font-size: 25px;
  margin-bottom: 15px;
}
.ruletka-span {
  color: red;
}
.spin-wrapper {
  -webkit-box-shadow: 0 0 10px;
  box-shadow: 0 0 10px;
  border: 3px solid red;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}
.spin-wrapper .ruletka-p {
  margin-bottom: 15px;
}
.danger-text {
  color: red;
  font-weight: 700;
}
.wheel {
  width: 380px !important;
  margin: 0 auto;
  position: relative;
}
.wheel img {
  max-width: 100%;
}
.wheel-img {
  -webkit-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
}
.wheel-cursor {
  position: absolute;
  width: 35% !important;
  height: 35%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cursor-text {
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 45% !important;
  height: 45%;
  font: 11px Arial !important;
  line-height: 63px !important;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  top: 49%;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: #fff 0 -2px 0 inset, #fff 0 2px 0 inset, rgba(0, 0, 0, 0.4) 0 0 5px;
  box-shadow: #fff 0 -2px 0 inset, #fff 0 2px 0 inset, rgba(0, 0, 0, 0.4) 0 0 5px;
  background: #fff;
  background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0, #fff), color-stop(100%, #eaeaea));
  background: -webkit-radial-gradient(center, ellipse cover, #fff 0, #eaeaea 100%);
  background: -o-radial-gradient(center, ellipse cover, #fff 0, #eaeaea 100%);
  background: -webkit-radial-gradient(center, ellipse, #fff 0, #eaeaea 100%);
  background: -o-radial-gradient(center, ellipse, #fff 0, #eaeaea 100%);
  background: radial-gradient(ellipse at center, #fff 0, #eaeaea 100%);
}
.order_block {
  display: none;
  text-align: center !important;
}
.prod_img_wrapper {
  width: 100%;
  max-width: 260px;
  margin: 0 auto 35px;
  position: relative;
}
.order_block img {
  width: 100%;
}
.price_main {
  border-bottom: 2px solid #d31812;
  font-size: 24px;
  line-height: 0;
  margin: 0 auto;
}
.order_block h3 {
  font: bold 18px Arial !important;
  background: 0 0;
}
.spin-result-wrapper {
  display: none;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0;
  left: 0;
  top: 40%;
  margin: 0 auto;
  background: #fff none repeat scroll 0 0;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}
.close-popup {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../fonts/cross.svg);
  background-size: 100%;
  top: -40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  right: -40px;
  cursor: pointer;
}
.pop-up-heading {
  font-size: 40px;
  margin-bottom: 20px;
}
.pop-up-text {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  text-align: center !important;
}
.pop-up-button {
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 10px 20%;
  font-size: 20px;
  border-radius: 5px;
  background-color: #71c341;
  color: #fff !important;
  border: medium none;
  cursor: pointer;
  outline: medium none;
}
.super-rotation {
  -webkit-animation-name: super-rotation;
  animation-name: super-rotation;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
@keyframes super-rotation {
  70% {
    -webkit-transform: rotate(1883deg);
    transform: rotate(1883deg);
  }
  100% {
    -webkit-transform: rotate(1868deg);
    transform: rotate(1868deg);
  }
}
.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px inset;
}
.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0;
  left: 0;
  top: 40%;
  margin: 0 auto;
  background: #fff none repeat scroll 0 0;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}
.pop-up-window::before {
  content: '';
  position: absolute;
  width: 110px;
  height: 110px;
  top: -55px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #71c341;
  border-radius: 50%;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}
.pop-up-window::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 20px;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-width: medium medium 4px 4px;
  border-style: none none solid solid;
  border-color: currentcolor currentcolor #fff #fff;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  transform: rotate(-45deg);
  transition: opacity 1s ease 0s;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}
@keyframes pop-up-appear {
  0% {
    transform: translateY(-2000px);
  }
  30% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pop-up-appear-before {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pop-up-appear-after {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pop-up-button:hover {
  color: #fff !important;
  text-decoration: none !important;
}
@media all and (max-width: 520px) {
  .wheel {
    width: 260px !important;
  }
  .renul_seDwyoGn57 p {
    text-align: left;
  }
  span.sponsor-name {
    width: 209px;
  }
}
@media screen and (max-width: 345px) {
  .wheel {
    width: 250px !important;
  }
}
html {
  min-width: 320px;
}
.dib {
  zoom: 1;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: top;
}
.ac_footer {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 30px 0;
  color: #a12000;
}
.ac_footer a {
  color: #a12000;
}
.ac_footer p {
  text-align: center;
}
img[height='1'],
img[width='1'] {
  display: none !important;
}
.inL_154668 {
  background-color: #e2e2e2;
  padding: 10px;
}
.inL_346841 {
  clear: both;
}
.inL_505286 {
  color: red;
}
.inL_70243 {
  text-align: center !important;
}
.inL_719531 {
  display: none;
}
.inL_852184 {
  text-align: center !important;
}
.inL_373785 {
  display: none;
}
.inL_538665 {
  text-align: center !important;
}
.inL_568101 {
  display: none;
}
.inL_508349 {
  background-color: #e2e2e2;
  padding: 10px;
}
.inL_979577 {
  clear: both;
}
.inL_65845 {
  text-decoration: underline;
}
.inL_181298 {
  color: red;
}
.inL_482098 {
  margin: 0;
}
.inL_488699 {
  display: none;
}
.inL_489037 {
  width: 100%;
  max-width: 450px;
}
.inL_404847 {
  max-width: 100px;
}
.inL_807504 {
  color: #00f;
  font-size: 14px;
}
.inL_249611 {
  font-size: 16px;
  display: none;
}
.inL_660596 {
  color: red;
}
.inL_382179 {
  margin: 15px 10px -5px 10px;
  border: 2px solid #0299ff;
  padding: 10px;
}
.inL_273881 {
  margin-bottom: 20px;
}
.inL_381861 {
  display: none;
}
.inL_715932 {
  display: block;
}
@media only screen and (max-width: 1230px) {
  .ac_footer {
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 991px) {
  .ac_footer {
    padding: 15px;
    font-size: 11px;
    line-height: 1.2;
  }
}
#push-comments #push_pwjqgx9 {
  background-color: #f0f0f0;
  box-sizing: border-box;
  font-family: Arial, serif;
  padding: 3rem 2rem;
  transition: all 0.15s ease-in-out;
  width: 100%;
}
#push-comments #push_pwjqgx9__form {
  box-sizing: border-box;
  margin: auto;
  max-width: 600px;
}
#push-comments #push_pwjqgx9__title {
  color: #2b587a;
  border-bottom: 0 solid;
  box-shadow: 1px 4px 10px -7px #ccc;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 16px;
}
#push-comments #push_pwjqgx9__message,
#push-comments .reviews-form__name {
  border: 1px solid #2b587a;
  box-shadow: 0 2px 4px -3px #237a27;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
}
#push-comments #push_pwjqgx9__message {
  height: 120px;
}
#push-comments #push_pwjqgx9__submit {
  background: #2b587a;
  border: none;
  box-shadow: 0 2px 4px -3px #000;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  display: table;
  margin: 20px 0 0;
  height: 50px;
  transition: all 0.1s ease-in-out;
  text-align: center;
  text-shadow: 0 0 1px #237a27;
  font-size: 18px;
  max-width: 280px;
  width: 100%;
}
#push-comments #push_pwjqgx9__submit:hover {
  background: #237a27;
  text-shadow: none;
  box-shadow: none;
}
.w400 {
  width: 100%;
  max-width: 400px;
}
.text-center {
  text-align: center;
}
.flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-column p {
  width: 100%;
}
.renul_seDwyoGn57 p.inL_538665,
.renul_seDwyoGn57 p.inL_70243,
.renul_seDwyoGn57 p.inL_852184 {
  margin-bottom: 0;
}
.image-main-content {
  margin-top: 25px;
}
.inL_715932 {
  display: inline-block;
  padding: 10px 25px;
  margin: 0 auto 0 5%;
  background-color: red;
  text-decoration: none;
  color: #fff;
}
.inL_715932:hover {
  color: #fff;
}
.ouimain-text {
  margin-bottom: 15px;
}
.ouimain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 390;
  cursor: pointer;
}
.modal-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: auto;
}
.modal-block {
  z-index: 5;
  width: 750px;
  border-radius: 5px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Open sans', sans-serif;
  overflow: hidden;
  color: #222;
  cursor: default;
  display: flex;
  justify-content: center;
}
.modal-content {
  width: 100%;
  background: #3c72b5;
  background: -webkit-gradient(left top, right bottom, color-stop(0, #3c72b5), color-stop(100%, #7b9fcc));
  background: -webkit-linear-gradient(-45deg, #3c72b5 0, #7b9fcc 100%);
  background: -o-linear-gradient(-45deg, #3c72b5 0, #7b9fcc 100%);
  background: -webkit-linear-gradient(315deg, #3c72b5 0, #7b9fcc 100%);
  background: -o-linear-gradient(315deg, #3c72b5 0, #7b9fcc 100%);
  background: linear-gradient(135deg, #3c72b5 0, #7b9fcc 100%);
  position: relative;
  border: 5px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 40px;
  cursor: pointer;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
}
.modal-content-text {
  font-size: 30px;
  font-weight: 700;
  display: block;
  color: #fff;
  text-align: center;
  margin: 0 0 20px 0;
}
.modal-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.modal-main-text_p:last-child {
  padding-bottom: 0;
}
.modal-main-img {
  max-width: 230px;
  padding-right: 30px;
}
.modal-main-text_p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  margin: 0;
  text-align: left;
  color: #fff;
  font-size: 22px;
}
.modal-btn {
  display: block;
  max-width: 341px;
  margin-bottom: 5px;
  font-size: 23px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 700;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 5px;
  padding: 15px 20px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.modal-btn:hover {
  background: #fff;
  color: #b0493b;
}
.small_p {
  line-height: 1;
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.highlight-text {
  display: inline-block;
  background: #fdfdfd;
  color: #5b5f65;
  text-shadow: 0 0 0 #000;
  font-weight: 600;
  line-height: 34px;
  border-radius: 3px;
  padding: 3px;
}
@media (max-width: 767px) {
  .modal-main-block {
    display: none;
  }
  .modal-content {
    width: 85%;
  }
  .modal-main-text_p {
    text-align: center;
  }
  .modal-content-text {
    padding: 0 30px;
  }
}
@media (max-width: 479px) {
  .modal-main {
    padding: 10px 0 10px;
  }
  .modal-content {
    padding: 10px;
  }
  .modal-content-text {
    font-size: 24px;
  }
  .modal-btn {
    font-size: 20px;
    padding: 15px;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .modal-main {
    max-width: 100%;
  }
}
.visibility-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  visibility: hidden;
}
.file-label {
  width: 200px;
  cursor: pointer;
  display: block !important;
}
.pust-comments__file-text {
  display: block !important;
  width: 200px !important;
  padding-left: 55px;
  position: relative;
}
.pust-comments__file-text::before {
  content: '';
  position: absolute;
  left: 15px;
  top: -7px;
  width: 32px;
  height: 32px;
  background: url(../images/clip.png) center center no-repeat;
  background-size: contain;
}
.reviews-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#order_form .order_form_pole {
  width: 100%;
  padding: 0 !important;
  margin: 0 0 15px;
}
.inL_382179 {
  margin-bottom: 20px;
}
#order_form button {
  width: 100%;
  max-width: 299px;
}
.inL_382179 {
  margin: 0 0 25px;
}
#order_form_place {
  padding: 15px !important;
}
#order_form {
  margin: 0 !important;
}
#order_form input::placeholder {
  font-size: 18px;
}
.reviews-form__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
#push-comments .reviews-form__name {
  font-size: 14px;
}
#push-comments #push_pwjqgx9__message::placeholder,
#push-comments input.reviews-form__name::placeholder {
  font-size: 15px;
  font-family: sans-serif;
}
@media (max-width: 1024px) {
  .spin-wrapper .right-form {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
}
@media (max-width: 1000px) {
  .ever-popup.show {
    display: none !important;
  }
}
@media (max-width: 799px) {
  .inL_154668,
  .inL_508349 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .inL_154668 p,
  .inL_508349 p {
    text-indent: 0;
  }
  .gelat_Bb6MhOHv {
    width: 100%;
  }
  .inL_154668 .w400,
  .inL_508349 img {
    width: 100%;
    max-width: 100%;
  }
  .renul_seDwyoGn57 .gelat_Bb6MhOHv {
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .main-menu-blk {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-menu-blk li:last-of-type {
    display: none;
  }
  .renul_seDwyoGn57 p {
    margin: 20px 0;
  }
  .renul_seDwyoGn57 p {
    line-height: 27px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .zhanna_86_o5IKudBv {
    padding: 30px 20px;
  }
}
@media (max-width: 663px) {
  .reviews-form textarea {
    order: 0;
  }
  .reviews-form .file-label {
    order: 1;
  }
  .reviews-form input[type='submit'] {
    order: 2;
  }
}
@media (max-width: 639px) {
  .main-menu-blk li:nth-of-type(5) {
    display: none;
  }
}
@media (max-width: 540px) {
  .main-menu-blk li:first-of-type {
    display: none;
  }
}
@media (max-width: 540px) {
  .main-menu-blk li:nth-of-type(2) {
    display: none;
  }
  .reviews-form__wrapper {
    width: 100%;
    flex-direction: column-reverse;
  }
  .reviews-form__name {
    width: 100%;
  }
  .file-label {
    align-self: flex-start;
  }
  .pust-comments__file-text {
    padding-left: 38px;
    margin-bottom: 20px;
  }
  .pust-comments__file-text::before {
    left: 0;
  }
  .pust-comments__file-text {
    margin-bottom: 22px;
  }
}
@media (max-width: 480px) {
  .zhanna_86_o5IKudBv {
    padding: 30px 10px;
  }
}
@media (max-width: 479px) {
  body,
  html {
    overflow-x: hidden;
  }
  #push-comments #push_pwjqgx9 {
    padding: 30px 15px;
  }
  .alex_zevsa_wcih4ECQW {
    padding: 0;
  }
  .inL_154668 p {
    text-align: center !important;
  }
  .spin-wrapper .right-form {
    padding: 0 !important;
    margin-top: 15px;
  }
  #counter_product {
    font-size: 20px;
  }
  .RA4CSZ_e3qI7YOg,
  .zhanna_86_o5IKudBv h2 {
    font-size: 21px;
  }
}
@media (max-width: 1023px) {
  .renul_seDwyoGn57 p {
    text-align: left;
  }
}
@media (max-width: 720px) {
  .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
    margin: 15px !important;
  }
}
@media (max-width: 420px) {
  .modal-content {
    width: 92%;
  }
  .modal-main-text_p {
    font-size: 19px;
  }
}
@media (min-width: 1024px) {
  .main-title {
    font-size: 25px;
  }
  .prod-prod {
    width: 100%;
    max-width: 350px;
  }
}
.renul_seDwyoGn57 p.inL_538665,
.renul_seDwyoGn57 p.inL_70243,
.renul_seDwyoGn57 p.inL_852184 {
  margin-top: 0;
}
.inL_382179 {
  line-height: 15px;
}
.inL_154668 p,
.inL_508349 p {
  text-align: left !important;
  text-indent: 0 !important;
}
@media (min-width: 721px) {
  .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
    margin-top: 25px;
  }
}
@media (min-width: 1024px) {
  .vk-comment-text p {
    text-align: justify;
  }
  .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .main-menu-blk {
    display: flex;
    justify-content: space-between;
  }
  .katyakoncakova_FtFDdVex .main-menu-blk > li:last-of-type {
    margin-right: 0;
  }
  .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
    margin-top: 42px;
  }
  .alex_zevsa_wcih4ECQW.clearfix {
    margin-bottom: 25px;
  }
}
#push_pwjqgx9 input,
#push_pwjqgx9 textarea {
  font-family: sans-serif !important;
  font-size: 15px !important;
}
.mansurovan_vUZn4RQN a {
  text-decoration: none;
  cursor: pointer;
}
.mansurovan_vUZn4RQN a:hover {
  text-decoration: none;
}
#search a {
  display: inline-block;
  text-decoration: none;
  color: #757575;
  font-size: 13px;
  font-family: sans-serif;
}
#search span {
  box-sizing: border-box;
  display: block;
  width: 170px;
  text-align: left;
  padding: 5px;
  border: 1px solid #222;
  border-radius: 2px;
  background-color: #fff;
}

#push_pwjqgx9__submit {
  margin: 10px auto !important;
}

/* whell */

/* .button__text:after {
  content: '*';
  display: inline-block;
  font-size: 75%;
  vertical-align: top;
} */

/*spin plus form*/

.spin-wrapper {
  -webkit-box-shadow: 0 0 10px;
  box-shadow: 0 0 10px;
  border: 3px solid red;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}
.spin-wrapper p {
  text-align: center;
}

.wheel {
  max-width: 380px;
  margin: 0 auto;
  position: relative;
}

.wheel img {
  max-width: 100%;
}

.wheel-img {
  -webkit-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
}

.wheel-cursor {
  position: absolute;
  width: 35% !important;
  height: 35%;
  min-width: 120px;
  min-height: 120px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cursor-text {
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 45% !important;
  height: 45%;
  min-width: 65px;
  min-height: 65px;
  font: 12px Arial !important;
  line-height: 61px !important;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  top: 50%;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset,
    rgba(0, 0, 0, 0.4) 0px 0px 5px;
  box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
  background: rgb(255, 255, 255);
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(234, 234, 234, 1))
  );
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1);
}

.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

@media all and (max-width: 520px) {
  .wheel {
    width: 280px !important;
  }
  .cursor-text {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 345px) {
  .wheel {
    width: 250px !important;
  }
}

.order_block img {
  width: 100%;
  max-width: 310px;
  margin: 20px 0 0 0;
}
.prod_img {
  width: 100%;
  max-width: 240px;
}

.spin-wrapper {
  -webkit-box-shadow: 0 0 10px;
  box-shadow: 0 0 10px;
  border: 3px solid red;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

.wheel {
  width: 380px !important;
  margin: 0 auto;
  position: relative;
}

.wheel img {
  max-width: 100%;
}

.wheel-img {
  -webkit-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
}

.wheel-cursor {
  position: absolute;
  width: 35% !important;
  height: 35%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cursor-text {
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 45% !important;
  height: 45%;
  font: 12px Arial !important;
  line-height: 63px !important;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  top: 49%;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset,
    rgba(0, 0, 0, 0.4) 0px 0px 5px;
  box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
  background: rgb(255, 255, 255);
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(234, 234, 234, 1))
  );
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1);
}

.order_block {
  display: none;
  text-align: center !important;
}
.order_block img {
  width: 100%;
  margin: auto;
}
.priceс {
  position: absolute;
  font-family: Arial, sans-serif;
  right: 0px;
  bottom: 0px;
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 30px;
  width: 165px;
  height: 98px;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.3;
  transform: rotateZ(-7deg);
  text-align: center !important;
  margin: 0px auto;
  background: linear-gradient(to right, rgb(238, 165, 19) 0%, rgb(253, 237, 19) 100%);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  border-radius: 19%;
}
span.discountс {
  display: block;
  margin-top: 9px;
  font-size: 18px;
}

.spin-result-wrapper {
  display: none;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0px;
  left: 0px;
  top: 40%;
  margin: 0px auto;
  background: #ffffff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.close-popup {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../fonts/cross.svg);
  background-size: 100%;
  top: -40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  right: -40px;
  cursor: pointer;
}

.pop-up-heading {
  font-size: 40px;
  margin-bottom: 20px;
}

.pop-up-text {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  text-align: center !important;
}

.pop-up-button {
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 10px 20%;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(113, 195, 65);
  color: rgb(255, 255, 255) !important;
  border: medium none;
  cursor: pointer;
  outline: medium none;
}

.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0px;
  left: 0px;
  top: 40%;
  margin: 0px auto;
  background: #fff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.pop-up-window::before {
  content: '';
  position: absolute;
  width: 110px;
  height: 110px;
  top: -55px;
  left: 0;
  right: 0px;
  margin: 0 auto;
  background-color: rgb(113, 195, 65);
  border-radius: 50%;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}

.pop-up-window::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 20px;
  top: -20px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  border-width: medium medium 4px 4px;
  border-style: none none solid solid;
  border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  transform: rotate(-45deg);
  transition: opacity 1s ease 0s;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}

@keyframes pop-up-appear {
  0% {
    transform: translateY(-2000px);
  }
  30% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes pop-up-appear-before {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pop-up-appear-after {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pop-up-button:hover {
  color: rgb(255, 255, 255) !important;
  text-decoration: none !important;
}

@media all and (max-width: 520px) {
  .wheel {
    width: 260px !important;
  }
}
@media screen and (max-width: 345px) {
  .wheel {
    width: 250px !important;
  }
}
* {
  outline: none;
}
.widget:brfore {
  content: '';
  position: absolute;
  bottom: -11px;
  left: 27px;
  border-left: 10px solid transparent;
  border-top: 10px solid #dad7b2;
  border-right: 10px solid transparent;
}

.spin-wrapper {
  -webkit-box-shadow: 0 0 10px;
  box-shadow: 0 0 10px;
  border: 3px solid red;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;
}

.wheel {
  width: 380px !important;
  margin: 0 auto;
  position: relative;
}

.wheel-cursor {
  position: absolute;
  width: 35% !important;
  height: 35%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cursor-text {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 45% !important;
  height: 45%;
  line-height: 61px;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  top: 49%;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset,
    rgba(0, 0, 0, 0.4) 0px 0px 5px;
  box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
  background: rgb(255, 255, 255);
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(234, 234, 234, 1))
  );
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1);
  font-size: 11px;
}

.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

.order_block {
  display: none;
}

form {
  display: block;
  margin: 0 auto !important;
  text-align: center !important;
}

p.priceс {
  position: relative;
  right: -50px;
  bottom: -50px;
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 30px;
  width: 180px;
  height: 105px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  transform: rotateZ(-16deg);
  text-align: center !important;
  margin: -160px auto 30px;
  background: linear-gradient(to right, rgb(238, 165, 19) 0%, rgb(253, 237, 19) 100%);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 19%;
  padding: 5px;
}

.priceс span {
  font-size: 20px;
}

.new_price2 {
  color: #f00;
}
.old_price2 {
  position: relative;
}
.old_price2::before {
  content: '';
  height: 2px;
  background: #000;
  width: 100%;
  top: 14px;
  left: 10px;
  display: block;
  position: absolute;
}
.old_price2,
.new_price2 {
  display: inline-block;
}

.timer {
  font-size: 18px;
  font-weight: normal;
  margin: 75px 0 20px;
  text-align: center;
}

#time {
  color: #f00;
  font-weight: bold;
}

label {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}

.form_group {
  padding: 10px;
  display: block;
  margin: 10px auto;
  border: 2px solid grey;
  border-radius: 5px;
  width: 460px;
  max-width: 100%;
}

.form_btn {
  display: block;
  margin: 20px auto;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: #de0606;
  text-align: center;
  color: #fff !important;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form_btn:hover {
  opacity: 0.8;
}

.order_block h2 {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.red {
  color: #f00;
}

.wheel-img {
  -webkit-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
}

.close-popup {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('../images/close-1.png');
  background-size: 100%;
  top: -40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  right: -40px;
  cursor: pointer;
}

.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

.spin-result-wrapper {
  display: none;
  padding: 0 10px;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0px;
  left: 0px;
  top: 40%;
  margin: 0px auto;
  background: #ffffff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.pop-up-window::before {
  content: '';
  position: absolute;
  width: 110px;
  height: 110px;
  top: -55px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  background-color: rgb(113, 195, 65);
  border-radius: 50%;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}

.pop-up-window::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 20px;
  top: -20px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  border-width: medium medium 4px 4px;
  border-style: none none solid solid;
  border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  transform: rotate(-45deg);
  transition: opacity 1s ease 0s;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}

@keyframes pop-up-appear {
  0% {
    transform: translateY(-2000px);
  }

  30% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes pop-up-appear-before {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pop-up-appear-after {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pop-up-heading {
  font-size: 40px;
  margin-bottom: 20px;
}

.pop-up-text {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.pop-up-button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20%;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(113, 195, 65);
  color: rgb(255, 255, 255);
  border: medium none;
  cursor: pointer;
  outline: medium none;
}

.pop-up-button:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.wheel img {
  max-width: 100%;
}

@media all and (max-width: 520px) {
  .wheel {
    width: 225px !important;
  }

  .cursor-text {
    line-height: 36px;
    font-size: 7px;
  }

  .close-popup {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../images/close-1.png');
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    right: -10px;
    cursor: pointer;
  }
}

@media (max-width: 562px) {
  .form_group {
    max-width: 258px;
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 755px) {
  .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe span {
    font-size: 10px !important;
  }
}
